Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

c/snap: correct "snap reboot" help text
  cmd/snap/cmd_reboot.go
  cmd/snap/cmd_reboot_test.go
Labels: none

remove another merge error
  tests/lib/external/snapd-testing-tools/spread.yaml
Labels: none

snap-confine: run make fmt
  cmd/snap-confine/seccomp-support-test.c
  cmd/snap-confine/seccomp-support.c
Labels: none

c/snap-repair: make snap-repair exit 0 when the store is marked as offline
  cmd/snap-repair/cmd_run.go
  cmd/snap-repair/cmd_run_test.go
Labels: none

o/snapstate: record refresh-inhibit notices when auto-refresh is blocked
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

aspects: rename user-defined types to aliases
  aspects/aspects.go
  aspects/aspects_test.go
  aspects/schema.go
  aspects/schema_test.go
Labels: none

Squashed 'tests/lib/external/snapd-testing-tools/' changes from 4cf8e635bf..3a0fc57e1e
  remote/remote.wait-for
Labels: none

Squashed 'tests/lib/external/snapd-testing-tools/' changes from 3a0fc57e1e..2e4a3153a2
  remote/remote.wait-for
Labels: none

snap: return correct security tags from hook if it is a component hook
  snap/info.go
  snap/info_test.go
Labels: none

c/snap: update run to be able to run component hooks
  cmd/snap/cmd_run.go
Labels: none

s/snaptest: add function for mocking an installed component
  snap/snaptest/snaptest.go
Labels: none

o/hookstate: add test for running component hooks on snap with instance key
  overlord/hookstate/hookmgr.go
  overlord/hookstate/hookstate_test.go
Labels: none

o/hookstate, o/snapstate: run install hook for components on initial component install
  overlord/hookstate/hookmgr.go
  overlord/hookstate/hooks.go
  overlord/hookstate/hookstate_test.go
  overlord/snapstate/component.go
  overlord/snapstate/component_install_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: none

o/hookstate: add methods to Context for working with component hooks
  overlord/hookstate/context.go
  overlord/hookstate/context_test.go
Labels: none

o/hookstate: modify HookManager so that it can run component hooks
  overlord/hookstate/hookmgr.go
  overlord/hookstate/hookstate_test.go
Labels: none

daemon, o/snapstate, snap: add hook information to snap.ComponentInfo
  daemon/api_sideload_n_try.go
  overlord/snapstate/backend/backend.go
  overlord/snapstate/backend/backend_test.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/component.go
  overlord/snapstate/component_install_test.go
  overlord/snapstate/component_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers_components.go
  overlord/snapstate/handlers_components_mount_test.go
  overlord/snapstate/snapmgr.go
  snap/component.go
  snap/component_test.go
  snap/pack/pack.go
Labels: Needs Documentation -auto-

snap: add functions for helping with snap component instances
  snap/info.go
  snap/info_test.go
Labels: none

o/snapstate: record change-update notice on forced refresh
  overlord/snapstate/handlers.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

increase limit waiting for log changes because check to ntp server breaks
  tests/lib/nested.sh
Labels: Run nested -auto-

increase time to wait for log changes
  tests/lib/nested.sh
Labels: Run nested -auto-

o/devicestate, daemon: store more information for default-recovery-system in state to match seeded systems
  daemon/api_systems_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/handlers_systems.go
  overlord/devicestate/systems.go
Labels: Needs Documentation -auto-

cmd/snap-confine: make fmt again with indent 2.2.13+
  cmd/snap-confine/seccomp-support-test.c
  cmd/snap-confine/seccomp-support.c
Labels: none

github: mention C source code formatting tools we expect
  .github/workflows/test.yaml
Labels: none

interfaces: make steam-support implicit on core (#13189)
  interfaces/builtin/steam_support.go
  interfaces/builtin/steam_support_test.go
Labels: none

github: mention C source code formatting tools we expect
  .github/workflows/test.yaml
Labels: none

interfaces/builtin/network_setup_observe: allow busctl to bind
  interfaces/builtin/network_setup_observe.go
Labels: none

interfaces/builtin/network_setup_control: allow busctl to bind
  interfaces/builtin/network_setup_control.go
Labels: none

cmd/snap-confine: fix exploding homedirs bug
  cmd/snap-confine/mount-support.c
Labels: none

wait more time waiting for changes in the log
  tests/lib/nested.sh
Labels: Run nested -auto-

cmd/snap: tweak default recovery system notes
  cmd/snap/cmd_recovery.go
  cmd/snap/cmd_recovery_test.go
Labels: none

o/devicestate: make sure that we're storing correct type when setting default-recovery-system, extend tests
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/remodel.go
Labels: none

build-aux: add libzstd to snapd snap for snap pack
  build-aux/snap/snapcraft.yaml
Labels: none

interfaces/builtin/libvirt: add read permissions to /var/lib/snapd/ho… (#13645)
  interfaces/builtin/libvirt.go
Labels: none

interfaces/builtin/network_setup_observe: allow busctl to bind
  interfaces/builtin/network_setup_observe.go
Labels: none

interfaces/builtin/network_setup_control: allow busctl to bind
  interfaces/builtin/network_setup_control.go
Labels: none

tests: add regression test for exploding namespace
  tests/regression/exploding-namespace/task.yaml
Labels: none

tests: allow running edge/beta validation in google instances (#13639)
  spread.yaml
  tests/bin/remote.refresh
  tests/bin/remote.retry
  tests/lib/external/snapd-testing-tools/remote/remote.wait-for
  tests/lib/external/snapd-testing-tools/spread.yaml
  tests/lib/external/snapd-testing-tools/tests/os.query/task.yaml
  tests/lib/external/snapd-testing-tools/utils/check-test-format
  tests/lib/nested.sh
  tests/lib/tools/remote.refresh
  tests/lib/tools/remote.retry
  tests/nested/manual/run-spread/task.yaml
Labels: Run nested -auto-

go.mod: drop unused gopkg.in/mgo.v2
  go.mod
  go.sum
Labels: none

o/snapstate: record change-update notice on forced refresh
  overlord/snapstate/handlers.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

tests/lib/assertions: add missing assertion that was preventing nested/manual/remodel-offline from running
  tests/lib/assertions/test-snapd-core22-required-vset.assert
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
