Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

tests/nested/manual/fde-on-classic: wait for abort
  tests/nested/manual/fde-on-classic/task.yaml
Labels: Run nested -auto-

tests/main/interfaces-network-control: fix tests for ARP manipulation
  tests/main/interfaces-network-control/task.yaml
Labels: none

many: container validation improvements
  snap/container.go
  snap/container_test.go
  snap/export_test.go
  snap/snapdir/snapdir.go
  snap/snapdir/snapdir_test.go
  snap/squashfs/squashfs.go
  snap/squashfs/squashfs_test.go
  tests/main/bad-meta-file-types/task.yaml
  tests/main/bad-meta-file-types/test-bad-file-types/meta/snap.yaml
Labels: none

update the reflash and prepare based on master
  tests/lib/prepare.sh
  tests/lib/reflash.sh
Labels: none

o/devicestate: do not try to unmount early kernel mount if there isn't one
  overlord/devicestate/handlers.go
Labels: none

tests/main/snapd-snap-transition: increase retries for test robustness
  tests/main/snapd-snap-transition/task.yaml
Labels: none

tests/main/preseed-core20: eanble debugs
  tests/main/preseed-core20/task.yaml
Labels: none

fix rebase
  .github/workflows/test.yaml
Labels: none

tests: remove static code analysis tool action
  .github/workflows/static-analysis.yaml
Labels: none

tests/main/preseed-core20: skip core24 specific mounts
  tests/main/preseed-core20/task.yaml
Labels: none

tests/nested/manual/fde-on-classic: wait for abort
  tests/nested/manual/fde-on-classic/task.yaml
Labels: Run nested -auto-

tests/main/preseed-core20: also drop kernel and firmware entries
  tests/main/preseed-core20/task.yaml
Labels: none

many: container validation improvements
  snap/container.go
  snap/container_test.go
  snap/export_test.go
  snap/snapdir/snapdir.go
  snap/snapdir/snapdir_test.go
  snap/squashfs/squashfs.go
  snap/squashfs/squashfs_test.go
  tests/main/bad-meta-file-types/task.yaml
  tests/main/bad-meta-file-types/test-bad-file-types/meta/snap.yaml
Labels: none

tests: remove static code analysis tool action (#13710)
  .github/workflows/static-analysis.yaml
Labels: none

boot: revert bb7d327a36d8fd923126052c32792e1293c1d243
  boot/assets.go
  boot/bootchain.go
  boot/bootchain_test.go
  boot/seal.go
Labels: none

interfaces/serial-port: add serial devices (ttyLPX) to allowed list (#13695)
  interfaces/builtin/serial_port.go
  interfaces/builtin/serial_port_test.go
Labels: none

many: move ServiceScopeOptions into clientutil and use in both client cases instead of having it duplicated
  client/clientutil/service_scope.go
  client/clientutil/service_scope_test.go
  cmd/snap/cmd_services.go
  overlord/hookstate/ctlcmd/restart.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/hookstate/ctlcmd/start.go
  overlord/hookstate/ctlcmd/stop.go
Labels: Needs Documentation -auto-

o/hookstate/ctlcmd: support matching scope options for snapctl
  overlord/hookstate/ctlcmd/restart.go
  overlord/hookstate/ctlcmd/service_scope.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/hookstate/ctlcmd/start.go
  overlord/hookstate/ctlcmd/stop.go
Labels: Needs Documentation -auto-

sandbox/apparmor: add ABI 3.0 feature file
  sandbox/apparmor/abi.go
Labels: none

interfaces/system-packages-doc: Allow access to /usr/share/javascript/{sphinxdoc,jquery} and /usr/share/sphinx_rtd_theme.
  interfaces/builtin/system_packages_doc.go
Labels: none

interfaces/system-packages-doc: Add tests for sphinx and jquery.
  interfaces/builtin/system_packages_doc_test.go
Labels: none

interfaces/builtin: added mount spec tests for system_packages_doc
  interfaces/builtin/system_packages_doc_test.go
Labels: none

i/b/microceph-support: define slot policy
  interfaces/builtin/microceph_support.go
  interfaces/policy/basedeclaration_test.go
Labels: none

i/b/microceph-support: add microceph-support interface
  interfaces/builtin/microceph_support.go
  interfaces/builtin/microceph_support_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: none

Rebase and fixup unit test
  interfaces/builtin/microceph_support_test.go
Labels: none

fix: reinstate broader permissions to prevent regressions
  interfaces/builtin/steam_support.go
Labels: none

o/devicestate: do not try to unmount early kernel mount if there isn't one (#13709)
  overlord/devicestate/handlers.go
  tests/main/preseed-core20/task.yaml
Labels: none

o/hookstate/ctlcmd: support matching scope options for snapctl
  overlord/hookstate/ctlcmd/restart.go
  overlord/hookstate/ctlcmd/service_scope.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/hookstate/ctlcmd/start.go
  overlord/hookstate/ctlcmd/stop.go
Labels: Needs Documentation -auto-

many: move ServiceScopeOptions into clientutil and use in both client cases instead of having it duplicated
  client/clientutil/service_scope.go
  client/clientutil/service_scope_test.go
  cmd/snap/cmd_services.go
  overlord/hookstate/ctlcmd/restart.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/hookstate/ctlcmd/start.go
  overlord/hookstate/ctlcmd/stop.go
Labels: Needs Documentation -auto-

interfaces/builtin: add TrustKey G310H
  interfaces/builtin/u2f_devices.go
  interfaces/builtin/u2f_devices_test.go
Labels: none

i/b/microceph-support: add microceph-support interface (#13352)
  interfaces/builtin/microceph_support.go
  interfaces/builtin/microceph_support_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: none

Squashed 'tests/lib/external/snapd-testing-tools/' changes from 1db5214d5f..dacfd81de9
  tools/os.query
Labels: none

gadget/install: consider real partition size when creating partitions (#13677)
  gadget/install/partition.go
  gadget/install/partition_test.go
  gadget/update_test.go
Labels: none

interfaces/builtin: allow access to /usr/share/javascript/{sphinxdoc,jquery} and /usr/share/sphinx_rtd_theme (#13130)
  interfaces/builtin/system_packages_doc.go
  interfaces/builtin/system_packages_doc_test.go
Labels: none

fix check for uc24
  tests/lib/prepare.sh
Labels: none

coding policy: cover merge types and preference (#13650)
  CODING.md
  CONTRIBUTING.md
Labels: none

sandbox/apparmor: use --compile-features, not --policy-features
  cmd/snapd-apparmor/main_test.go
  sandbox/apparmor/apparmor.go
  sandbox/apparmor/apparmor_test.go
  sandbox/apparmor/profile_test.go
Labels: none

cmd/snapd-apparmor: write ABI file on startup
  cmd/snapd-apparmor/main.go
Labels: none

sandbox/apparmor: add WriteInternalABIFiles
  sandbox/apparmor/apparmor.go
Labels: none

i/apparmor: write ABI file on backend init
  interfaces/apparmor/backend.go
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
