Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

o/s/policy: perform snapd check only when when completely removing core
  overlord/snapstate/policy/canremove_test.go
  overlord/snapstate/policy/os.go
Labels: none

o/snapstate: update test to not mock snapd in the state
  overlord/snapstate/snapstate_test.go
Labels: none

o/snapstate: revert unnecessary test change
  overlord/snapstate/snapstate_test.go
Labels: none

o/s/policy: drop unnecessary revision sequence check
  overlord/snapstate/policy/os.go
Labels: none

o/snapstate: tweak the comment about policy CanRemove
  overlord/snapstate/policy.go
Labels: none

interfaces/builtin/fwupd.go: allow locking for ipmi device nodes
  interfaces/builtin/fwupd.go
Labels: none

interfaces/builtin/fwupd.go: tag missing devices
  interfaces/builtin/fwupd.go
  interfaces/builtin/fwupd_test.go
Labels: none

o/s/policy: tweak core removal policy test
  overlord/snapstate/policy/canremove_test.go
Labels: none

cleanups, globbing expressions and root directory improvements
  dirs/dirs.go
  overlord/configstate/configcore/homedirs.go
  overlord/configstate/configstate_test.go
  overlord/snapstate/backend/copydata_test.go
  overlord/snapstate/backend/snapdata_test.go
  snap/helpers.go
  snap/info.go
Labels: Needs Documentation -auto-

overlord: make sure that snaps for pre-existing model are already installed in tests
  overlord/managers_test.go
Labels: none

o/devicestate: make sure that snaps for pre-existing model are already installed in tests
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/handlers_test.go
Labels: none

overlord, o/devicestate: prevent remodel to model with base that does not match gadget base
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/managers_test.go
  overlord/snapstate/snapstatetest/snapstate.go
Labels: none

tests, tests/core/remodel-base: update remodeling test to also swap gadget when swapping base
  tests/core/remodel-base/task.yaml
  tests/lib/assertions/valid-for-testing-pc-18.json
  tests/lib/assertions/valid-for-testing-pc-18.model
  tests/lib/assertions/valid-for-testing-pc-new-base-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-new-base-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-new-gadget-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-new-gadget-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2.json
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2.model
  tests/lib/assertions/valid-for-testing-pc-new-model-20.json
  tests/lib/assertions/valid-for-testing-pc-new-model-20.model
  tests/lib/assertions/valid-for-testing-pc-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-revno-2.json
  tests/lib/assertions/valid-for-testing-pc-revno-2.model
  tests/lib/assertions/valid-for-testing-pc-revno-3-18.json
  tests/lib/assertions/valid-for-testing-pc-revno-3-18.model
  tests/lib/assertions/valid-for-testing-pc-revno-3.json
  tests/lib/assertions/valid-for-testing-pc-revno-3.model
  tests/lib/assertions/valid-for-testing-pc.json
  tests/lib/assertions/valid-for-testing-pc.model
  tests/lib/assertions/valid-for-testing.account
  tests/lib/assertions/valid-for-testing.account-key
Labels: none

snap: add SelfContainedSetPrereqTracker.Snaps method for getting all snaps tracked by tracker
  snap/validate.go
  snap/validate_test.go
Labels: none

overlord, o/devicestate: use SelfContainedSetPrereqTracker to track prereqs during remodel
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/managers_test.go
Labels: none

snap: fix doc string on SelfContainedSetPrereqTracker
  snap/validate.go
Labels: none

overlord, o/devicestate, o/s/snapstatetest: move common test helpers to snapstatetest
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/handlers_test.go
  overlord/managers_test.go
  overlord/snapstate/snapstatetest/snapstate.go
Labels: none

tests: new procedure to determine when a nested vm is not booting as expected (#12933)
  tests/core/snapd-maintenance-msg/task.yaml
  tests/lib/nested.sh
Labels: Run nested -auto-

o/snapstate: add handlers to set-up kernel-modules components
  overlord/snapstate/backend_test.go
  overlord/snapstate/handlers_components.go
  overlord/snapstate/handlers_kernel_modules_components_test.go
  overlord/snapstate/snapmgr.go
Labels: none

o/snapstate: run specific kernel-modules tasks if needed
  overlord/snapstate/component.go
  overlord/snapstate/component_install_test.go
Labels: none

o/p/policy: update comment explaining check for missing model base and boot style
  overlord/snapstate/policy/os.go
Labels: none

more s.tempdir cleanups in unit tests, removing debug remnants
  dirs/dirs.go
  overlord/snapstate/backend/copydata_test.go
  wrappers/services_test.go
Labels: none

o/s/policy: correct formatting
  overlord/snapstate/policy/os.go
Labels: none

o/snapstate: fix typo: removable
  overlord/snapstate/policy/base.go
  overlord/snapstate/policy/canremove_test.go
  overlord/snapstate/policy/errors.go
  overlord/snapstate/policy/export_test.go
  overlord/snapstate/policy/gadget.go
  overlord/snapstate/policy/kernel.go
  overlord/snapstate/policy/os.go
  overlord/snapstate/policy/policy.go
  overlord/snapstate/policy/snapd.go
Labels: none

i/apparmor: fix typo: panicking
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
Labels: none

snap-confine: fix typo in comment
  cmd/snap-confine/PORTING
Labels: none

daemon: fix typo in comment
  daemon/daemon.go
Labels: Needs Documentation -auto-

unit test fixups, dirs.go fixups, typo fixups
  dirs/dirs.go
  overlord/configstate/configcore/homedirs_test.go
  overlord/configstate/configstate_test.go
  snap/info.go
  snap/info_test.go
Labels: Needs Documentation -auto-

o/s/policy: add test for removing specific revision on classic system
  overlord/snapstate/policy/canremove_test.go
Labels: none

o/s/policy: remove outdated comment
  overlord/snapstate/policy/os.go
Labels: none

Register dbus interfaces before the well-known name
  usersession/agent/session_agent.go
Labels: none

First implementation
  desktop/notification/fdo.go
  desktop/notification/fdo_test.go
  desktop/notification/gtk.go
  desktop/notification/manager.go
  desktop/notification/notify.go
  usersession/agent/session_agent.go
Labels: none

Added some comments
  desktop/notification/fdo.go
Labels: none

Disable the timer only if needed
  desktop/notification/fdo.go
  usersession/agent/session_agent.go
Labels: none

Added graceful shutdown
  cmd/snap/cmd_userd.go
  desktop/notification/fdo.go
  desktop/notification/gtk.go
  desktop/notification/manager.go
  usersession/agent/session_agent.go
Labels: none

interfaces/apparmor: rework unconfined mode for dynamic enablement
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/spec.go
Labels: none

interfaces/builtin/lxd-support: add an attr for unconfined mode
  interfaces/builtin/lxd_support.go
  interfaces/builtin/lxd_support_test.go
Labels: none

overlord, o/devicestate: use SelfContainedSetPrereqTracker to track prereqs during remodel (#13430)
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/handlers_test.go
  overlord/managers_test.go
  overlord/snapstate/snapstatetest/snapstate.go
  snap/validate.go
  snap/validate_test.go
  tests/core/remodel-base/task.yaml
  tests/lib/assertions/valid-for-testing-pc-18.json
  tests/lib/assertions/valid-for-testing-pc-18.model
  tests/lib/assertions/valid-for-testing-pc-new-base-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-new-base-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-new-gadget-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-new-gadget-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2.json
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2.model
  tests/lib/assertions/valid-for-testing-pc-new-model-20.json
  tests/lib/assertions/valid-for-testing-pc-new-model-20.model
  tests/lib/assertions/valid-for-testing-pc-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-revno-2.json
  tests/lib/assertions/valid-for-testing-pc-revno-2.model
  tests/lib/assertions/valid-for-testing-pc-revno-3-18.json
  tests/lib/assertions/valid-for-testing-pc-revno-3-18.model
  tests/lib/assertions/valid-for-testing-pc-revno-3.json
  tests/lib/assertions/valid-for-testing-pc-revno-3.model
  tests/lib/assertions/valid-for-testing-pc.json
  tests/lib/assertions/valid-for-testing-pc.model
  tests/lib/assertions/valid-for-testing.account
  tests/lib/assertions/valid-for-testing.account-key
Labels: none

many: assorted typos (#13510)
  cmd/snap-confine/PORTING
  daemon/daemon.go
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  overlord/snapstate/policy/base.go
  overlord/snapstate/policy/canremove_test.go
  overlord/snapstate/policy/errors.go
  overlord/snapstate/policy/export_test.go
  overlord/snapstate/policy/gadget.go
  overlord/snapstate/policy/kernel.go
  overlord/snapstate/policy/os.go
  overlord/snapstate/policy/policy.go
  overlord/snapstate/policy/snapd.go
Labels: Needs Documentation -auto-

o/s/policy: allow "core" snap to be removed on classic systems (#13509)
  overlord/snapstate/policy.go
  overlord/snapstate/policy/canremove_test.go
  overlord/snapstate/policy/errors.go
  overlord/snapstate/policy/export_test.go
  overlord/snapstate/policy/os.go
  tests/main/remove-core/task.yaml
Labels: none
