Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

o/snapstate/snapstatetest, overlord, o/devicestate: put options into struct for snapstatetest.InstallSnap
  overlord/devicestate/devicestate_remodel_test.go
  overlord/managers_test.go
  overlord/snapstate/snapstatetest/snapstate.go
Labels: none

o/devicestate: check for previously installed revisions when falling back to installed snaps during offline remodel
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

steam_support: allow mounting of snap and hostfs directories
  interfaces/builtin/steam_support.go
Labels: none

tests/nested/manual/muinstaller-core: do not re-label seed for muinstaller
  tests/nested/manual/muinstaller-core/task.yaml
Labels: Run nested -auto-

steam_support: allow reading of hostfs /usr/share/nvidia files
  interfaces/builtin/steam_support.go
Labels: none

data/systemd: make snapd.seed wait for snapd.socket only
  data/systemd/snapd.seeded.service.in
Labels: none

overlord: restore services if the unlink fails (#13582)
  overlord/managers_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
Labels: none

o/snapstate: fix typo: success
  overlord/state/task.go
Labels: none

o/snapstate: fix typo: prerequisites
  overlord/snapstate/snapstate_install_test.go
Labels: none

o/snapstate: fix typo: unsupported
  overlord/snapstate/snapstate_install_test.go
Labels: none

o/snapstate: fix typo: implementations
  overlord/snapstate/snapstate.go
Labels: none

daemon: fix typo: tentative
  daemon/daemon.go
Labels: Needs Documentation -auto-

o/snapstate: fix typo: updatable
  overlord/snapstate/snapstate.go
Labels: none

o/s/policy: allow "core" snap to be removed on classic systems (#13509)
  overlord/snapstate/policy.go
  overlord/snapstate/policy/canremove_test.go
  overlord/snapstate/policy/errors.go
  overlord/snapstate/policy/export_test.go
  overlord/snapstate/policy/os.go
  tests/main/remove-core/task.yaml
Labels: none

o/s/policy: remove usage of snapstatetest.NewSequenceFromSnapSideInfos for backport
  overlord/snapstate/policy/canremove_test.go
Labels: none

i/b: dont have polkit interface being implicit on core read-only filesystems
  interfaces/builtin/export_test.go
  interfaces/builtin/polkit.go
  interfaces/builtin/polkit_test.go
Labels: none

osutil: update copyright date
  osutil/mountprofile_darwin.go
Labels: none

osutil: add some defs for macos
  osutil/mountprofile_darwin.go
Labels: none

i/b: fix TestStaticInfo
  interfaces/builtin/polkit_test.go
Labels: none

interfaces/builtin: add Kensington VeriMark Guard Fingerprint Key (#13577)
  interfaces/builtin/u2f_devices.go
  interfaces/builtin/u2f_devices_test.go
Labels: none

snap: support preseeding for core desktop
  snap/naming/core_version.go
  snap/naming/core_version_test.go
Labels: none

snap: core-version: support generic 'core<version>-<flavor>' base snaps
  snap/naming/core_version.go
  snap/naming/core_version_test.go
Labels: none

Some style patches
  usersession/agent/rest_api.go
Labels: none

kernel/fde: simplify invocation of fde-reveal-key
  kernel/fde/cmd_helper.go
  kernel/fde/export_test.go
  kernel/fde/fde_test.go
  kernel/fde/reveal_key.go
  secboot/secboot_sb_test.go
  systemd/systemd.go
Labels: none

spread: complain when project got delivered as delta on Amazon Linux 2023
  spread.yaml
Labels: none

github: increase verbosity
  .github/workflows/test.yaml
Labels: none

github: disable deltas for Amazon Linux 2023 target
  .github/workflows/test.yaml
Labels: none

tests/main/interfaces-polkit: disable on amazon-linux-2023
  tests/main/interfaces-polkit/task.yaml
Labels: none

tests/main/interfaces-polkit: add details
  tests/main/interfaces-polkit/task.yaml
Labels: none

spread: provide a way to disable repacking the project into a delta
  spread.yaml
Labels: none

tests/lib/prepare-restore: drop a workaround which removed xdelta
  tests/lib/prepare-restore.sh
Labels: none

tests/main/completion: disable on amazon-linux-2023
  tests/main/completion/task.yaml
Labels: none

tests/lib/pkgdb: use dnf on Amazon Linux 2023
  tests/lib/pkgdb.sh
Labels: none

tests/lib/pkgdb: require gpg on Amazon Linux 2023
  tests/lib/pkgdb.sh
Labels: none

tests/main/completion: add details
  tests/main/completion/task.yaml
Labels: none

tests/lib/pkgdb: curl is already available on AMZN2, AL2023, and CentOS7
  tests/lib/pkgdb.sh
Labels: none

daemon: add "snap-names" data field to single-snap changes
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
Labels: Needs Documentation -auto-

tests: Remove tests support for ubuntu 23.04 (EoL)
  .github/workflows/test.yaml
  spread.yaml
  tests/lib/image.sh
  tests/main/cgroup-tracking-failure/task.yaml
  tests/main/desktop-portal-screenshot/task.yaml
  tests/main/lxd-snapfuse/task.yaml
  tests/main/uc20-create-partitions-encrypt/task.yaml
  tests/main/upgrade-from-release/task.yaml
Labels: none

update message in desktop-portal-screenshot test
  tests/main/desktop-portal-screenshot/task.yaml
Labels: none

many: drop fontconfig cache generation
  build-aux/snap/snapcraft.yaml
  overlord/snapstate/backend/export_test.go
  overlord/snapstate/backend/fontconfig.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  tests/main/install-fontconfig-cache-gen/task.yaml
  tests/main/snapd-snap/task.yaml
Labels: none
