Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

o/devicestate: remodel policy/checks changes
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

o/devicestate: try to make some things clearer/simpler
  overlord/devicestate/devicestate.go
Labels: none

overlord/snapshotstate: tweak test checks
  overlord/snapshotstate/backend/backend_test.go
Labels: none

Extra changes requested by reviewers
  usersession/agent/rest_api_test.go
Labels: none

packaging: require xdelta on Fedora and EPEL9
  packaging/fedora/snapd.spec
Labels: none

REST: Add generic notification code
  usersession/agent/rest_api.go
Labels: none

tests/lib/assertions: re-sign the assertion with new expiry date
  tests/lib/assertions/test-snapd-remodel-auto-import.assert
  tests/lib/assertions/test-snapd-remodel-auto-import.assert.json
Labels: none

overlord/snapshotstate: tweak test checks
  overlord/snapshotstate/backend/backend_test.go
Labels: none

snap/squashfs: fix minimum snap size on openSUSE (#13376)
  snap/squashfs/squashfs.go
  snap/squashfs/squashfs_test.go
Labels: none

snap/pack: fix pack with integrity unit test on openSUSE (#13375)
  snap/pack/pack_test.go
Labels: none

tests/main/interfaces-process-control: retry check for process being terminated
  tests/main/interfaces-process-control/task.yaml
Labels: none

go.sum cleanups
  go.sum
Labels: none

i/builtin: allow to lock /run/netns with network-control
  interfaces/builtin/network_control.go
Labels: none

tests/regression/lp-1910456: reenable the test on Arch
  tests/regression/lp-1910456/task.yaml
Labels: none

intefaces/apparmor: do not combine unconfined and complain profile flags
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
Labels: none

tests/lib/assertions: re-sign the assertion with new expiry date (#13498)
  tests/lib/assertions/test-snapd-remodel-auto-import.assert
  tests/lib/assertions/test-snapd-remodel-auto-import.assert.json
Labels: none

cmd: snap-bootstrap: fix unpreseeded sigle boot install
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
Labels: none

systemd: add mount unit templates for kernel-modules
  systemd/systemd.go
  systemd/systemd_test.go
Labels: none

tests/main/interfaces-process-control: retry check for process being terminated
  tests/main/interfaces-process-control/task.yaml
Labels: none

wrappers,w/internal: support for querying and restarting user daemons
  wrappers/export_test.go
  wrappers/internal/export_test.go
  wrappers/internal/service_status.go
  wrappers/internal/service_status_test.go
  wrappers/services.go
  wrappers/services_test.go
Labels: none

o/devicestate: remodel policy/checks changes (#13480)
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

aspects: support alternative types in schemas
  aspects/schema.go
  aspects/schema_test.go
Labels: none

seed: implement Copier for seed20
  seed/seed20.go
  seed/seed20_test.go
Labels: none

seed: add Copier that seeds can implement to copy themselves
  seed/seed.go
Labels: none

seed: remove duplicate check imports from test file
  seed/seed20_test.go
Labels: none

osutil: wrap errors in CopyFile
  osutil/cp.go
Labels: none

osutil: move to useradd from adduser
  osutil/export_test.go
  osutil/user.go
  osutil/user_test.go
Labels: none

Add libcudnn.so to list of NVIDIA libraries
  cmd/snap-confine/mount-support-nvidia.c
Labels: none

add env vars to retry to make sure the evaluation is done while retrying
  tests/lib/nested.sh
Labels: Run nested -auto-

New procedure to determine when a nested vm is not booting as expected
  tests/lib/nested.sh
Labels: Run nested -auto-

Fix shellcheck errors
  tests/lib/nested.sh
Labels: Run nested -auto-

fix shellcheck errors
  tests/lib/nested.sh
Labels: Run nested -auto-

Fix comparison for log sizes
  tests/lib/nested.sh
Labels: Run nested -auto-

Add check to detect infinit loops
  tests/lib/nested.sh
Labels: Run nested -auto-

fix misspelling
  tests/lib/nested.sh
Labels: Run nested -auto-

Revert "Revert "daemon: move the closing of snapdListener""
  daemon/daemon.go
  daemon/daemon_test.go
  daemon/export_test.go
  tests/core/gadget-kernel-refs-update-pc/task.yaml
  tests/core/mem-cgroup-disabled/task.yaml
  tests/core/snapd-maintenance-msg/task.yaml
Labels: Needs Documentation -auto-

fix issues and improve checks
  tests/lib/nested.sh
Labels: Run nested -auto-

Revert "daemon: move the closing of snapdListener"
  daemon/daemon.go
  daemon/daemon_test.go
  daemon/export_test.go
  tests/core/gadget-kernel-refs-update-pc/task.yaml
  tests/core/mem-cgroup-disabled/task.yaml
  tests/core/snapd-maintenance-msg/task.yaml
Labels: Needs Documentation -auto-

fix shellcheck
  tests/lib/nested.sh
Labels: Run nested -auto-

fix issue retrieving the lines in the file
  tests/lib/nested.sh
Labels: Run nested -auto-
