Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

tests/main: remove unsupported core16 tests
  tests/main/core16-base/task.yaml
  tests/main/core16-provided-by-core/task.yaml
Labels: none

tests: clear snap cache before interfaces-content test
  tests/main/interfaces-content/task.yaml
Labels: none

WIP
  boot/boot.go
Labels: none

o/snapstate: try to make the check-rerefresh summary cleaner/clearer (#13323)
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  tests/core/kernel-and-base-single-reboot/task.yaml
Labels: none

o/devicestate: fix a few test inconsistencies
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

o/devicestate: update comment explaining check for task set's edge presence
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: refactor remodelTasks for readability
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

o/devicestate: remove unneeded mock
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

o/devicestate: fix remodel with a snap that has a channel change, but no revision change
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

o/devicestate: fix test mock signatures
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

o/snapstate: Separate out linking behaviour and simplify dependency between essential snaps and non-essential snaps
  overlord/managers_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/reboot.go
  overlord/snapstate/reboot_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  tests/core/kernel-base-gadget-failover/task.yaml
Labels: none

t/core/kernel-base-gadget-failover: added a reboot check too many
  tests/core/kernel-base-gadget-failover/task.yaml
Labels: none

o/snapstate: fixed transactional behavior for essential snaps
  overlord/snapstate/reboot.go
  overlord/snapstate/reboot_test.go
  overlord/snapstate/snapstate_update_test.go
  tests/core/kernel-base-gadget-failover/task.yaml
Labels: none

o/snapstate, tests: review feedback
  overlord/snapstate/export_test.go
  overlord/snapstate/reboot.go
  overlord/snapstate/reboot_test.go
  tests/core/kernel-base-gadget-failover/task.yaml
Labels: none

aspects: map types must have constraints
  aspects/schema.go
  aspects/schema_test.go
Labels: none

o/snapstate: add explicit snap dependency logic for doUpdates (#13251)
  overlord/managers_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/reboot.go
  overlord/snapstate/reboot_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  tests/core/kernel-base-gadget-failover/task.yaml
Labels: none

o/state: implement core support for notices (#13292)
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  overlord/overlord_test.go
  overlord/state/copy_test.go
  overlord/state/export_test.go
  overlord/state/notices.go
  overlord/state/notices_test.go
  overlord/state/state.go
  overlord/state/state_test.go
Labels: none

i, i/apparmor, i/builtin, osutil: improve unit test coverage
  interfaces/apparmor/spec.go
  interfaces/apparmor/spec_test.go
  interfaces/builtin/export_test.go
  interfaces/builtin/personal_files.go
  interfaces/builtin/personal_files_test.go
  interfaces/ensure_dir.go
  osutil/mountentry.go
  osutil/mountentry_linux_test.go
Labels: none

cmd/snap-update-ns: review improvements
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/snapenv.go
  cmd/snap-update-ns/snapenv_test.go
  cmd/snap-update-ns/user.go
  cmd/snap-update-ns/user_test.go
  cmd/snap-update-ns/utils.go
  osutil/mountentry.go
  osutil/mountentry_linux_test.go
Labels: none

tests/main/interfaces-userns: restore sysctls and cleanups
  tests/main/interfaces-userns/task.yaml
Labels: none

aspects: rework error messages
  aspects/schema.go
  aspects/schema_test.go
Labels: none

cmd/snapd-generator: read mountinfo for pid 1
  cmd/snapd-generator/main.c
Labels: none

many: save revision when snap is inhibited (#13174)
  cmd/snap/cmd_run_test.go
  cmd/snap/export_test.go
  cmd/snap/inhibit.go
  cmd/snaplock/runinhibit/inhibit.go
  cmd/snaplock/runinhibit/inhibit_test.go
  overlord/hookstate/ctlcmd/refresh.go
  overlord/hookstate/ctlcmd/refresh_test.go
  overlord/hookstate/hooks.go
  overlord/hookstate/hooks_test.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/backend/locking.go
  overlord/snapstate/backend/locking_test.go
  overlord/snapstate/refresh_test.go
  tests/main/refresh/task.yaml
Labels: Needs Documentation -auto-

cmd/snapd-generator: read mountinfo for pid 1
  cmd/snapd-generator/main.c
Labels: none

cmd/snapd-generator: remove useless install section to snap.mount
  cmd/snapd-generator/main.c
Labels: none

sync with latest bugfix for mantic
  NEWS.md
Labels: none

cmd/snap: use updated "current" revision after snap refresh run inhibition
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
Labels: none

o/snapstate: fix comment typo (thanks @MiguelPires)
  overlord/snapstate/handlers.go
Labels: none

Use 1.21-fips
  .github/workflows/test.yaml
  build-aux/snap/snapcraft.yaml
Labels: none

Update for 1.21-fips
  cmd/snap-repair/boring.go
  httputil/boring.go
  httputil/boring_test.go
  internal/sha3/boring.go
  internal/sha3/notboring.go
Labels: none

Add registerhash
  internal/sha3/boring.go
Labels: none

format
  internal/sha3/boring.go
Labels: none

overlord/snapstate: enable single-reboot for gadget
  overlord/managers_test.go
  overlord/restart/restart.go
  overlord/snapstate/handlers.go
  overlord/snapstate/reboot.go
  overlord/snapstate/reboot_test.go
  overlord/snapstate/snapstate_update_test.go
  tests/core/kernel-and-base-single-reboot-failover/task.yaml
  tests/core/kernel-base-gadget-pair-single-reboot-failover/task.yaml
  tests/core/kernel-base-gadget-pair-single-reboot/task.yaml
  tests/core/kernel-base-gadget-single-reboot-failover/task.yaml
  tests/core/kernel-base-gadget-single-reboot/task.yaml
Labels: none

overlord/snapstate: enable single-reboot for gadget
  overlord/managers_test.go
  overlord/restart/restart.go
  overlord/snapstate/handlers.go
  overlord/snapstate/reboot.go
  overlord/snapstate/reboot_test.go
  overlord/snapstate/snapstate_update_test.go
  tests/core/kernel-and-base-single-reboot-failover/task.yaml
  tests/core/kernel-base-gadget-pair-single-reboot-failover/task.yaml
  tests/core/kernel-base-gadget-pair-single-reboot/task.yaml
  tests/core/kernel-base-gadget-single-reboot-failover/task.yaml
  tests/core/kernel-base-gadget-single-reboot/task.yaml
Labels: none

aspects: map types must have constraints
  aspects/schema.go
  aspects/schema_test.go
Labels: none

aspects: support array type in aspect schemas (#13328)
  aspects/schema.go
  aspects/schema_test.go
Labels: none

o/devicestate: maybe enforce validation sets during doSetModel
  overlord/devicestate/handlers_remodel.go
Labels: none

tests/lib/assertions: fix timestamps on assertions
  tests/lib/assertions/test-snapd-remodel-offline-rev0.json
  tests/lib/assertions/test-snapd-remodel-offline-rev0.model
  tests/lib/assertions/test-snapd-remodel-offline-rev1.json
  tests/lib/assertions/test-snapd-remodel-offline-rev1.model
Labels: none

tests/nested/manual: extend offline remodel test to also include a validation set
  tests/lib/assertions/test-snapd-remodel-offline-rev0.model
  tests/lib/assertions/test-snapd-remodel-offline-rev1.json
  tests/lib/assertions/test-snapd-remodel-offline-rev1.model
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-

o/devicestate: consider validation sets during remodeling
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/systems.go
Labels: none
