Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

many: replace exec.CombinedOutput when output is parsed
  cmd/snap-bootstrap/initramfs_systemd_mount.go
  cmd/snap-failure/cmd_snapd.go
  daemon/api_general.go
  errtracker/errtracker.go
  osutil/disks/blockdev.go
  osutil/disks/disks_linux.go
  osutil/group.go
  overlord/configstate/configcore/hostname.go
  overlord/devicestate/devicestate_test.go
  overlord/servicestate/servicemgr.go
  snap/integrity/dmverity/veritysetup.go
  snap/squashfs/squashfs.go
  sysconfig/cloudinit.go
  systemd/systemd.go
  systemd/systemd_test.go
  tests/lib/muinstaller/main.go
  usersession/userd/launcher.go
  usersession/userd/settings.go
  wrappers/services_test.go
Labels: Needs Documentation -auto-

osutil: add RunCmd and RunSplitOutput functions
  osutil/exec.go
  osutil/exec_test.go
Labels: none

interfaces/builtin: added support for Token2 U2F keys (#12984)
  interfaces/builtin/u2f_devices.go
Labels: none

o/snapstate: reset request record per test case in TestUpdateManyRevOptsOrder
  overlord/snapstate/snapstate_update_test.go
Labels: none

i/builtin: fix u2f tests that was broken by adding new device
  interfaces/builtin/u2f_devices_test.go
Labels: none

i/builtin: fix u2f tests that was broken by adding new device
  interfaces/builtin/u2f_devices_test.go
Labels: none

tests/main: remove unsupported core16 tests
  tests/main/core16-base/task.yaml
  tests/main/core16-provided-by-core/task.yaml
Labels: none

i/builtin: update gpio apparmor to match pattern that contains multiple subdirectories under /sys/devices/platform
  interfaces/builtin/gpio_control.go
Labels: none

o/devicestate: examine tasks on change in test rather than directly on the state
  overlord/devicestate/devicestate_serial_test.go
Labels: none

o/devicestate: convert error return into a log message
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: removed unused type
  overlord/devicestate/devicestate_serial_test.go
Labels: none

o/devicestate: convert empty len check to nil change check
  overlord/devicestate/devicestate_serial_test.go
Labels: none

o/devicestate: add testcase number to test output
  overlord/devicestate/devicestate_serial_test.go
Labels: none

o/devicestate: log message when skipping getting serial
  overlord/devicestate/handlers_serial.go
Labels: none

o/devicestate: fix typo
  overlord/devicestate/devicestate_serial_test.go
Labels: none

o/devicestate: use device-service.access to determine if we should fetch a serial or not
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_serial_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_serial.go
Labels: none

o/devicestate: sort tasks for test consistency
  overlord/devicestate/devicestate_serial_test.go
Labels: none

o/devicestate: examine tasks on change in test rather than directly on the state
  overlord/devicestate/devicestate_serial_test.go
Labels: none

o/devicestate: remove checks for device serial
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_serial_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_serial.go
Labels: none

o/devicestate: removed accidentally stash popped changes
  overlord/devicestate/devicestate.go
Labels: none

interfaces/microstack-support: read access to /proc/task/sched{,stat}
  interfaces/builtin/microstack_support.go
Labels: none

interfaces: update polkit-agent interface to handle new location of polkit-agent-helper-1
  interfaces/builtin/polkit_agent.go
  interfaces/builtin/polkit_agent_test.go
Labels: none

tests/nested/manual: correct some reboot messages after reboot code changes
  tests/nested/manual/fde-on-classic/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Run nested -auto-

Clean now useless ResetEnclosingVolumeInStructs function (#13226)
  gadget/gadget.go
Labels: none

tests/muinstaller: update go modules so the snap can be built again
  tests/lib/muinstaller/go.mod
  tests/lib/muinstaller/go.sum
Labels: none

tests/nested/manual/uc-update-assets-secure: do not check for shim in boot
  tests/nested/manual/uc-update-assets-secure/task.yaml
Labels: Run nested -auto-

Add libnvidia-gpucomp to the list of NVIDIA driver libraries
  cmd/snap-confine/mount-support-nvidia.c
Labels: none

bootloader/assets/data/grub-recovery.cfg: set root when chainloading
  bootloader/asset_test.go
  bootloader/assets/data/grub-recovery.cfg
  bootloader/assets/grub_recovery_cfg_asset.go
  bootloader/assets/grub_test.go
Labels: none

secboot: avoid usage of fifos with cryptsetup
  secboot/keymgr/keymgr_luks2_test.go
  secboot/luks2/cryptsetup.go
  secboot/luks2/cryptsetup_test.go
  secboot/luks2/export_test.go
  secboot/luks2/fifo.go
Labels: none

tests/muinstaller-real: ask twice for the recovery key
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Run nested -auto-

tests/muinstaller: update go modules so the snap can be built again
  tests/lib/muinstaller/go.mod
  tests/lib/muinstaller/go.sum
Labels: none

tests/nested/manual: correct some reboot messages after reboot code changes
  tests/nested/manual/fde-on-classic/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Run nested -auto-

tests/nested/manual/snapd-refresh-from-old: also test refresh to current
  tests/nested/manual/snapd-refresh-from-old/task.yaml
Labels: Run nested -auto-

o/restart,o/devicestate: default to tasks being restart-boundaries if no restart-boundaries have been configured.
  overlord/devicestate/devicestate_bootconfig_test.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/managers_test.go
  overlord/restart/restart.go
  overlord/restart/restart_test.go
  overlord/snapstate/handlers_link_test.go
  tests/nested/manual/snapd-refresh-from-old/task.yaml
Labels: Run nested -auto-

i/b/fwupd.go: add access sysfs attributes needed by amdgpu
  interfaces/builtin/fwupd.go
Labels: none

Squashed 'tests/lib/external/snapd-testing-tools/' changes from c82afb2dee..5e7b63883d
  remote/remote.wait-for
  spread.yaml
  tests/log-analyzer/data/with-failed-and-failed-restore-suite.json
  tests/log-analyzer/data/with-failed-and-failed-restore-suite.log
  tests/log-analyzer/task.yaml
  tests/log-parser/task.yaml
  tests/os.query/task.yaml
  tests/remote.exec/task.yaml
  tests/remote.pull/task.yaml
  tests/remote.push/task.yaml
  tests/remote.retry/task.yaml
  tests/remote.wait-for/task.yaml
  tests/tests.pkgs/task.yaml
  tools/os.query
  tools/tests.pkgs
  utils/log-analyzer
  utils/spread-shellcheck
  utils/spreadJ
Labels: none

i/builtin: update gpio apparmor to match pattern that contains multiple subdirectories under /sys/devices/platform
  interfaces/builtin/gpio_control.go
Labels: none

interfaces: incorporate suggestions from @degville with some tweaks
  interfaces/builtin/README.md
Labels: none

WIP
  secboot/encrypt_sb_test.go
  secboot/export_sb_test.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
Labels: none

secboot: secboot.sb.NewKeyData() now marhals the handle internally
  secboot/secboot_hooks.go
Labels: none
