Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

overlord: fix race in refresh monitoring tests
  overlord/managers_test.go
Labels: none

o/assertstate: rename variables to be a bit clearer
  overlord/assertstate/validation_set_tracking.go
Labels: none

interfaces/apparmor/template: add read access to /etc/default/keyboard
  interfaces/apparmor/template.go
Labels: none

o/assertstate: use ValidationSetKey to create unique identifiers for validation sets
  overlord/assertstate/validation_set_tracking.go
Labels: none

o/assertstate: rename variables to be a bit clearer
  overlord/assertstate/validation_set_tracking.go
Labels: none

o/devicestate: consider the current model's validation sets when creating a recovery system
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

o/assertstate: add function to get enforced validation sets that are associated with a model
  overlord/assertstate/validation_set_tracking.go
  overlord/assertstate/validation_set_tracking_test.go
Labels: none

tests/lib/tools/tests.invariant: ignore session for user ubuntu
  tests/lib/tools/tests.invariant
Labels: none

daemon: allow polkit "io.snapcraft.snapd.manage" for /v2/apps endpoint
  daemon/api_apps.go
  daemon/api_apps_test.go
Labels: Needs Documentation -auto-

i/builtin: do not use pointer to the local for-loop variable, instead use copies
  interfaces/builtin/polkit.go
  interfaces/builtin/polkit_test.go
Labels: none

i/builtin: use pointer into main array instead to not store copies
  interfaces/builtin/polkit.go
Labels: none

snap-{seccomp,confine}: add tests for missing seccomp profile and explicit deny has precedence to to explicit allow
  cmd/snap-confine/seccomp-support-test.c
  cmd/snap-seccomp/main.go
  tests/main/security-seccomp/task.yaml
Labels: none

update uc24_build_initramfs_kernel_snap
  tests/lib/prepare.sh
Labels: none

i/builtin: use pointer into main array instead to not store copies
  interfaces/builtin/polkit.go
Labels: none

i/builtin: do not use pointer to the local for-loop variable, instead use copies
  interfaces/builtin/polkit.go
  interfaces/builtin/polkit_test.go
Labels: none

daemon: replace notices "select" param with "users"
  daemon/api_notices.go
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

o/snapstate: stop using setNewRefreshCandidates() when pruning
  overlord/snapstate/refreshhints.go
  overlord/snapstate/refreshhints_test.go
Labels: none

o/snapstate: drop unused refresh-candidates manipulation code
  overlord/snapstate/refreshhints.go
Labels: none

o/snapstate: drop calls to setNewRefreshCandidates from gated auto refresh
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/snapstate.go
Labels: none

new full-run test
  spread.yaml
  tests/nested/manual/full-run/task.yaml
Labels: Run nested -auto-

snap: remove unused type
  snap/types.go
Labels: none

daemon: replace notices "select" param with "users"
  daemon/api_notices.go
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

interfaces/builtin: add TrustKey G310H
  interfaces/builtin/u2f_devices.go
  interfaces/builtin/u2f_devices_test.go
Labels: none

o/snapstate: simplify updating of refresh-candidates (#13626)
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/refreshhints.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate.go
Labels: none

o/state: record change-update notices on change status updates
  overlord/snapstate/snapstate_test.go
  overlord/state/change.go
  overlord/state/change_test.go
  overlord/state/state.go
Labels: none

cmd: drop indent formatter
  cmd/.indent.pro
  cmd/Makefile.am
Labels: none

github: verify C source code formatting
  .github/workflows/test.yaml
Labels: none

github: verify C source code formatting
  .github/workflows/test.yaml
Labels: none

cmd: many: apply C source code formatting
  cmd/libsnap-confine-private/apparmor-support.c
  cmd/libsnap-confine-private/classic-test.c
  cmd/libsnap-confine-private/cleanup-funcs.c
  cmd/libsnap-confine-private/device-cgroup-support.c
  cmd/libsnap-confine-private/error.c
  cmd/libsnap-confine-private/error.h
  cmd/libsnap-confine-private/mountinfo.c
  cmd/libsnap-confine-private/snap-test.c
  cmd/libsnap-confine-private/snap.c
  cmd/libsnap-confine-private/tool.c
  cmd/libsnap-confine-private/utils-test.c
  cmd/snap-confine/mount-support-nvidia.c
  cmd/snap-confine/mount-support.c
  cmd/snap-confine/ns-support.c
  cmd/snap-confine/seccomp-support.c
  cmd/snap-confine/snap-confine-args.c
  cmd/snap-confine/snap-confine-args.h
  cmd/snap-confine/snap-confine-invocation.c
  cmd/snap-confine/snap-confine-invocation.h
  cmd/snap-confine/snap-confine.c
  cmd/snap-confine/udev-support.c
  cmd/snap-confine/user-support.c
  cmd/snap-device-helper/main.c
  cmd/snap-device-helper/snap-device-helper-test.c
  cmd/snap-device-helper/snap-device-helper.c
  cmd/snapd-generator/main.c
Labels: none

aspects: check path type mismatch on aspect creation
  aspects/aspects.go
  aspects/aspects_test.go
  overlord/aspectstate/aspectstate_test.go
  overlord/assertstate/assertstate_test.go
Labels: none

cmd: add explicit pointer-align-right for indent
  cmd/.indent.pro
Labels: none

github: build indent
  .github/workflows/test.yaml
Labels: none

update tests to support pre-built images
  spread.yaml
  tests/bin/remote.refresh
  tests/bin/remote.retry
  tests/lib/nested.sh
  tests/lib/tools/remote.refresh
  tests/lib/tools/remote.retry
  tests/nested/manual/run-spread/task.yaml
Labels: Run nested -auto-

aspects: empty Get request returns entire aspect (#13622)
  aspects/aspects.go
  aspects/aspects_test.go
  aspects/schema.go
  aspects/schema_test.go
  cmd/snap/cmd_get_test.go
  daemon/api_aspects.go
  daemon/api_aspects_test.go
  daemon/export_test.go
  overlord/aspectstate/aspectstate.go
  overlord/aspectstate/aspectstate_test.go
Labels: Needs Documentation -auto-

Squashed 'tests/lib/external/snapd-testing-tools/' changes from 74082c0c34..5ef5dcbe8f
  utils/check-test-format
Labels: none

update args order in new test
  tests/nested/manual/run-spread/task.yaml
Labels: Run nested -auto-

Squashed 'tests/lib/external/snapd-testing-tools/' changes from 5ef5dcbe8f..b89b4f8647
  utils/check-test-format
Labels: none

Revert "snap: remove unused yaml tags from ComponentInfo"
  snap/component.go
Labels: none

o/devicestate: add RemoveRecoverySystem function for removing a recovery system (#13546)
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_systems.go
  overlord/devicestate/systems.go
  overlord/snapstate/conflict.go
Labels: none

o/devicestate: use default recovery system that is independent of seeded systems
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers_systems.go
  overlord/devicestate/remodel.go
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
