Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

tests: use strace-static from candidate channel
  tests/main/snap-run/task.yaml
Labels: none

tests: enable "snap run --strace" test on UC22
  tests/main/snap-run/task.yaml
Labels: none

Add tests for localized name getter
  usersession/agent/export_test.go
  usersession/agent/rest_api.go
  usersession/agent/rest_api_test.go
Labels: none

i/builtin: system-packages-doc bare snap workaround
  interfaces/builtin/system_packages_doc.go
  interfaces/builtin/system_packages_doc_test.go
Labels: none

tests: add regression test for LP:#2044335
  tests/regression/lp-2044335/task.yaml
Labels: none

fix cloud init check
  tests/lib/nested.sh
Labels: Run nested -auto-

asserts: support checking JSON body format
  asserts/aspect_bundle_test.go
  asserts/asserts.go
  overlord/aspectstate/aspectstate_test.go
  overlord/assertstate/assertstate_test.go
  tests/lib/assertions/developer1-network-aspect-bundle.json
Labels: none

daemon, o/snapstate: add .snap file extension to snaps from forms
  daemon/api_sideload_n_try.go
  overlord/snapstate/snapstate_test.go
Labels: Needs Documentation -auto-

tests: update offline recovery system test to reboot into new system
  tests/nested/manual/recovery-system-offline/task.yaml
Labels: Run nested -auto-

o/assertstate, o/devicestate: add more general function for fetching validation set assertions
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/devicestate/devicestate.go
Labels: none

tests/nested/manual/recovery-system-reboot: add variants for factory-reset and install modes
  tests/nested/manual/recovery-system-reboot/task.yaml
Labels: Run nested -auto-

daemon, client: add API routes for creating/removing recovery system
  client/systems.go
  daemon/api_systems.go
  daemon/api_systems_test.go
  daemon/export_api_systems_test.go
Labels: Needs Documentation -auto-

tests: test creating a recovery system
  tests/lib/assertions/test-snapd-recovery-system-pc-20.json
  tests/lib/assertions/test-snapd-recovery-system-pc-20.model
  tests/nested/manual/recovery-system-reboot/task.yaml
  tests/nested/manual/recovery-system/task.yaml
Labels: Run nested -auto-

tests: replace usage of default-recovery-system with default-recovery
  tests/nested/manual/recovery-system-offline/task.yaml
  tests/nested/manual/recovery-system-reboot/task.yaml
  tests/nested/manual/recovery-system/task.yaml
Labels: Run nested -auto-

tests: add spread test for offline creation of recovery system
  tests/lib/assertions/test-snapd-recovery-system-pinned.assert
  tests/nested/manual/recovery-system-offline/task.yaml
Labels: Run nested -auto-

tests/nested/manual/recovery-system-offline: test offline remodel with only pre-installed snaps
  tests/nested/manual/recovery-system-offline/task.yaml
Labels: Run nested -auto-

o/devicestate: enable offline creation of recovery system entirely from pre-installed snaps
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

daemon: cleanup form files if we fail to make change to create a recovery system
  daemon/api_model.go
  daemon/api_sideload_n_try.go
  daemon/api_systems.go
  daemon/api_systems_test.go
Labels: Needs Documentation -auto-

daemon: rename functions for working with form values and add one for working with booleans
  daemon/api_systems.go
Labels: Needs Documentation -auto-

tests/nested/manual/recovery-system-reboot: modify test to create system with new set of essential snaps
  tests/lib/assertions/test-snapd-recovery-system-pc-22.json
  tests/lib/assertions/test-snapd-recovery-system-pc-22.model
  tests/nested/manual/recovery-system-reboot/task.yaml
Labels: Run nested -auto-

daemon: acquire state lock later in postSystemActionCreateOffline
  daemon/api_systems.go
Labels: Needs Documentation -auto-

daemon: convert TODO about comma-delimited list into explanation of why we use a comma delimited list
  daemon/api_systems.go
Labels: Needs Documentation -auto-

tests: disable shellcheck printf check
  tests/nested/manual/recovery-system-reboot/task.yaml
  tests/nested/manual/recovery-system/task.yaml
Labels: Run nested -auto-

client, daemon, tests: add "offline" field to create recovery system JSON api
  client/systems.go
  daemon/api_systems.go
  daemon/api_systems_test.go
  tests/nested/manual/recovery-system-offline/task.yaml
Labels: Run nested -auto-, Needs Documentation -auto-

daemon, client: test that offline API works without providing snaps or validation sets
  daemon/api_systems.go
  daemon/api_systems_test.go
Labels: Needs Documentation -auto-

daemon: rename parseValidationSets to assertionsFromValidationSetStrings for clarity
  daemon/api_systems.go
Labels: Needs Documentation -auto-

NEWS.md: add mention of create/remove recovery systems API
  NEWS.md
Labels: none

tests/nested/manual/recovery-system-reboot: add back gadget snap swap to test
  tests/nested/manual/recovery-system-reboot/task.yaml
Labels: Run nested -auto-

tests/lib/nested.sh: add variable NESTED_FORCE_MS_KEYS to force using microsoft keys
  spread.yaml
  tests/lib/nested.sh
Labels: Run nested -auto-

tests/nested/manual/recovery-system-reboot: do not use new gadget in recovery system for now
  tests/nested/manual/recovery-system-reboot/task.yaml
Labels: Run nested -auto-

tests/nested/manual/recovery-system-offline: explicitly disable network from nested vm
  tests/nested/manual/recovery-system-offline/task.yaml
Labels: Run nested -auto-

skip running nested tests in uc24
  .github/workflows/test.yaml
Labels: none

tests: exclude regression-lp2044335 from core
  tests/regression/lp-2044335/task.yaml
Labels: none

tests/nested/manual/recovery-system-reboot: retry POST to remove since there might be an auto-refresh happening
  tests/nested/manual/recovery-system-reboot/task.yaml
Labels: Run nested -auto-

interfaces/builtin: add interface for remoteproc
  interfaces/builtin/remoteproc.go
  interfaces/builtin/remoteproc_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: none

i/builtin: system-packages-doc bare snap workaround
  interfaces/builtin/system_packages_doc.go
  interfaces/builtin/system_packages_doc_test.go
Labels: none

tests: exclude regression-lp2044335 from core
  tests/regression/lp-2044335/task.yaml
Labels: none

tests: add regression test for LP:#2044335
  tests/regression/lp-2044335/task.yaml
Labels: none

many: add API routes for creating/removing recovery systems (#13651)
  NEWS.md
  client/systems.go
  daemon/api_model.go
  daemon/api_sideload_n_try.go
  daemon/api_systems.go
  daemon/api_systems_test.go
  daemon/export_api_systems_test.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/snapstate/snapstate_test.go
  spread.yaml
  tests/lib/assertions/test-snapd-recovery-system-pc-20.json
  tests/lib/assertions/test-snapd-recovery-system-pc-20.model
  tests/lib/assertions/test-snapd-recovery-system-pc-22.json
  tests/lib/assertions/test-snapd-recovery-system-pc-22.model
  tests/lib/assertions/test-snapd-recovery-system-pinned.assert
  tests/lib/nested.sh
  tests/nested/manual/recovery-system-offline/task.yaml
  tests/nested/manual/recovery-system-reboot/task.yaml
  tests/nested/manual/recovery-system/task.yaml
Labels: Run nested -auto-, Needs Documentation -auto-

steam_support: allow mounting of snap and hostfs directories
  interfaces/builtin/steam_support.go
Labels: none
