Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

boot: add test for ForceReseal
  boot/force_reseal_test.go
Labels: none

overlord/devicestate: add tests for boot-reseal task
  overlord/devicestate/export_test.go
  overlord/devicestate/reseal.go
  overlord/devicestate/reseal_test.go
Labels: none

daemon: add tests for /v2/system-reseal
  daemon/api_reseal.go
  daemon/api_reseal_test.go
  daemon/export_test.go
Labels: Needs Documentation -auto-

client: add test for client.Reseal
  client/reseal_test.go
Labels: none

cmd/snap/cmd_reboot_test.go: add tests for --reseal flag
  cmd/snap/cmd_reboot_test.go
Labels: none

fixup! boot: add test for ForceReseal
  boot/force_reseal_test.go
Labels: none

fixup! boot: add test for ForceReseal
  boot/force_reseal_test.go
Labels: none

fixup! daemon: add tests for /v2/system-reseal
  daemon/api_reseal_test.go
Labels: Needs Documentation -auto-

fixup! daemon: add tests for /v2/system-reseal
  daemon/api_reseal_test.go
Labels: Needs Documentation -auto-

many: use recovery key when forcefully reseal
  boot/force_reseal.go
  boot/force_reseal_test.go
  boot/seal.go
  overlord/devicestate/export_test.go
  overlord/devicestate/reseal.go
  overlord/devicestate/reseal_test.go
Labels: none

tests: add test for resealing after recovery
  tests/nested/manual/core-reseal-keys/task.yaml
Labels: Run nested -auto-

fixup! many: use recovery key when forcefully reseal
  overlord/devicestate/reseal.go
Labels: none

fixup! many: use recovery key when forcefully reseal
  overlord/devicestate/reseal_test.go
Labels: none

fixup! many: use recovery key when forcefully reseal
  overlord/devicestate/reseal_test.go
Labels: none

fixup! many: use recovery key when forcefully reseal
  overlord/devicestate/reseal_test.go
Labels: none

fixup! many: use recovery key when forcefully reseal
  overlord/devicestate/reseal_test.go
Labels: none

fixup! many: use recovery key when forcefully reseal
  overlord/devicestate/reseal.go
Labels: none

fixup! many: use recovery key when forcefully reseal
  overlord/devicestate/reseal_test.go
Labels: none

fixup! many: use recovery key when forcefully reseal
  overlord/devicestate/reseal_test.go
Labels: none

fixup! tests: add test for resealing after recovery
  tests/nested/manual/core-reseal-keys/task.yaml
Labels: Run nested -auto-

boot: add tests for force resealing
  boot/seal_test.go
Labels: none

overlord/devicestate/reseal.go: save the save key
  overlord/devicestate/reseal.go
Labels: none

boot/seal.go: reprovision TPM when forcefully resealing
  boot/seal.go
  boot/seal_test.go
Labels: none

fixup! boot: add tests for force resealing
  boot/seal_test.go
Labels: none

o/state: add pluggable stateful repeat checks to notices
  overlord/state/export_test.go
  overlord/state/notices.go
  overlord/state/notices_test.go
Labels: none

daemon: hide notice internal data from api
  daemon/api_notices.go
  daemon/api_notices_test.go
  daemon/export_api_notices_test.go
Labels: Needs Documentation -auto-

aspects: put access rules under map in assertion
  aspects/aspects.go
  aspects/aspects_test.go
  asserts/aspect_bundle_test.go
  overlord/aspectstate/aspecttest/mock_aspect.go
Labels: none

aspects: make access pattern/rule usage consistent
  aspects/aspects.go
  aspects/aspects_test.go
  asserts/aspect_bundle_test.go
Labels: none

aspects: improve validation test coverage
  aspects/aspects_test.go
Labels: none

tests/lib/assertions: re-sign the assertion with new expiry date (#13498)
  tests/lib/assertions/test-snapd-remodel-auto-import.assert
  tests/lib/assertions/test-snapd-remodel-auto-import.assert.json
Labels: none

o/devicestate, overlord, daemon: add flag to devicestate.Remodel to force an offline remodel (#13494)
  daemon/api_model.go
  daemon/api_model_test.go
  daemon/export_api_model_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/handlers_remodel.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstatetest/snapstate.go
  snap/errors.go
  snap/errors_test.go
Labels: Needs Documentation -auto-

client, cmd/snap, daemon: api level changes for introducing offline flag to remodel (#13507)
  client/model.go
  client/model_test.go
  cmd/snap/cmd_remodel.go
  cmd/snap/cmd_remodel_test.go
  daemon/api_model.go
  daemon/api_model_test.go
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-, Needs Documentation -auto-

Add Kensington VeriMark Guard Fingerprint Key
  interfaces/builtin/u2f_devices.go
Labels: none

client, cmd/snap, daemon: api level changes for introducing offline flag to remodel (#13507)
  client/model.go
  client/model_test.go
  cmd/snap/cmd_remodel.go
  cmd/snap/cmd_remodel_test.go
  daemon/api_model.go
  daemon/api_model_test.go
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-, Needs Documentation -auto-

o/devicestate, overlord, daemon: add flag to devicestate.Remodel to force an offline remodel (#13494)
  daemon/api_model.go
  daemon/api_model_test.go
  daemon/export_api_model_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/handlers_remodel.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstatetest/snapstate.go
  snap/errors.go
  snap/errors_test.go
Labels: Needs Documentation -auto-

o/state: refactor RepeatCheck signature (thanks @pedronis)
  overlord/state/export_test.go
  overlord/state/notices.go
  overlord/state/notices_test.go
Labels: none

github/workflows/cla-check: enable comments by running in the context of the base repository
  .github/workflows/cla-check.yaml
Labels: none

aspects: rename parameters
  aspects/aspects.go
Labels: none

o/devicestate: fix error message spelling
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

o/devicestate: only consider asserted snaps when looking for which snaps to remove
  overlord/devicestate/handlers_systems.go
Labels: none
