Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

steam_support: allow reading of hostfs /usr/share/nvidia files
  interfaces/builtin/steam_support.go
Labels: none

steam_support: add comment regarding need for /usr/share driver info
  interfaces/builtin/steam_support.go
Labels: none

steam_support: combine /snap rules
  interfaces/builtin/steam_support.go
Labels: none

wrappers/core18.go: do not attempt to disable removed units
  wrappers/core18.go
Labels: none

Update u2f_devices.go
  interfaces/builtin/u2f_devices.go
Labels: none

asserts: improve err messages; move check
  asserts/aspect_bundle.go
  asserts/aspect_bundle_test.go
  asserts/asserts.go
Labels: none

Add github workflow to run tiobeweb tool
  .github/workflows/static-analysis.yaml
Labels: none

packaging: fix debian builds broken by github.com/snapcore/bolt
  packaging/debian-sid/rules
Labels: none

o/snapstate: disable pending refresh notifications when marker interface is detected
  overlord/ifacestate/export_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/refresh_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

interfaces/udev: do not call udev when in preseed mode
  interfaces/udev/backend.go
  interfaces/udev/backend_test.go
Labels: none

data/preseed: add /var/lib/snapd/cgroup to preseed include patterns
  data/preseed.json
Labels: none

tests/main/preseed-core20: update the list of files we check for
  tests/main/preseed-core20/task.yaml
Labels: none

tests/lib/nested: collect logs and enable snapd debug when building images
  tests/lib/nested.sh
Labels: Run nested -auto-

tests/lib/tools/snaps-state: copy preseed.json when repacking snapd from deb
  tests/lib/tools/snaps-state
Labels: none

client,cmd/snap: introduce --user, --system and --users switches for snap service operations
  client/apps.go
  client/apps_test.go
  cmd/snap/cmd_services.go
  cmd/snap/cmd_services_test.go
  tests/main/services-user/task.yaml
  tests/main/services-user/test-snapd-user-service/bin/start
  tests/main/services-user/test-snapd-user-service/meta/snap.yaml
Labels: none

client,o/servicestate: move Scope/UserSelection to client for reuse in client
  client/apps.go
  client/apps_test.go
  cmd/snap/cmd_services.go
  daemon/api_apps_test.go
  overlord/servicestate/servicestate.go
  overlord/servicestate/servicestate_test.go
Labels: Needs Documentation -auto-

client,cmd/snap: improve handling of user and scope args
  client/apps.go
  cmd/snap/cmd_services.go
  cmd/snap/cmd_services_test.go
Labels: none

NEWS: update news to reflect that we now support user daemons in start/stop/restart
  NEWS.md
  tests/main/services-user/task.yaml
Labels: none

cmd/snap: some review feedback on allowed input
  cmd/snap/cmd_services.go
  cmd/snap/cmd_services_test.go
Labels: none

t/main/services-user: add additional user to verify services are correctly affected
  tests/main/services-user/task.yaml
Labels: none

cmd/snap: do not allow --system --user together, do not allow --users with =all
  cmd/snap/cmd_services.go
  cmd/snap/cmd_services_test.go
Labels: none

interfaces/builtin/home: add apparmor rule
  interfaces/builtin/home.go
  interfaces/builtin/home_test.go
Labels: none

overlord: create the drivers tree only if the it will be mounted
  overlord/devicestate/devicestate_remodel_test.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

tests: isolate lp-2044335 regression test kernel packaging
  tests/regression/lp-2044335/task.yaml
Labels: none

Take into account the instance key
  usersession/agent/rest_api.go
  usersession/agent/rest_api_test.go
Labels: none

Change variable name
  usersession/agent/rest_api.go
Labels: none

tests: add github workflow to run tiobeweb tool (#13687)
  .github/workflows/static-analysis.yaml
Labels: none

tests: update the configuration used to display the static analysis info
  .github/workflows/static-analysis.yaml
Labels: none

tests/main/preseed-core20: update the list of files we check for
  tests/main/preseed-core20/task.yaml
Labels: none

tests/lib/nested: collect logs and enable snapd debug when building images
  tests/lib/nested.sh
Labels: Run nested -auto-

interfaces/udev: do not call udev when in preseed mode
  interfaces/udev/backend.go
  interfaces/udev/backend_test.go
Labels: none

data/preseed: add /var/lib/snapd/cgroup to preseed include patterns
  data/preseed.json
Labels: none

tests/lib/tools/snaps-state: copy preseed.json when repacking snapd from deb
  tests/lib/tools/snaps-state
Labels: none

tests: update the configuration used to display the static analysis info (#13691)
  .github/workflows/static-analysis.yaml
Labels: none

Tests: detect if nested tests need to be executed based on change files
  .github/workflows/test.yaml
  tests/lib/nested.sh
Labels: Run nested -auto-

update path used to get changed files
  .github/workflows/test.yaml
Labels: none

add a fetch-depth: 0
  .github/workflows/test.yaml
Labels: none

fix workflow error
  .github/workflows/test.yaml
Labels: none

fix step to check nested files
  .github/workflows/test.yaml
Labels: none

overlord,systemd: do not restart mount units on snapd start
  overlord/snapstate/backend/mountunit.go
  overlord/snapstate/backend/mountunit_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_test.go
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: none
