Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

o/devicestate: expose default-recovery-system via DeviceManager.Systems()
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/systems.go
Labels: none

daemon, client: expose default-recovery-system via the systems api
  client/systems.go
  daemon/api_systems.go
  daemon/api_systems_test.go
Labels: Needs Documentation -auto-

c/snap: update help text for reboot to match new default-recovery-system behavior
  cmd/snap/cmd_reboot.go
  cmd/snap/cmd_reboot_test.go
Labels: none

o/devicestate: use default recovery system from state when rebooting without a specified label
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

c/snap: add default-recovery-system to notes section in recovery cli output
  cmd/snap/cmd_recovery.go
  cmd/snap/cmd_recovery_test.go
Labels: none

o/devicestate: prevent removal of default recovery system
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers_systems.go
Labels: none

interfaces/backend: update sandbox features to account for cgroup v2 device filtering
  interfaces/udev/backend.go
  interfaces/udev/backend_test.go
Labels: none

cmd/libsnap-confine-private/infofile: support for comments
  cmd/libsnap-confine-private/infofile-test.c
  cmd/libsnap-confine-private/infofile.c
  cmd/libsnap-confine-private/infofile.h
Labels: none

improbe checks in nested.sh
  tests/lib/nested.sh
Labels: Run nested -auto-

Squashed 'tests/lib/external/snapd-testing-tools/' changes from b89b4f8647..4cf8e635bf
  tests/os.query/task.yaml
Labels: none

aspects: check path type mismatch on aspect creation (#13635)
  aspects/aspects.go
  aspects/aspects_test.go
  overlord/aspectstate/aspectstate_test.go
  overlord/assertstate/assertstate_test.go
Labels: none

o/state: record change-update notices on change status updates
  overlord/snapstate/snapstate_test.go
  overlord/state/change.go
  overlord/state/change_test.go
  overlord/state/state.go
Labels: none

github: build indent
  .github/workflows/test.yaml
Labels: none

cmd: add explicit pointer-align-right for indent
  cmd/.indent.pro
Labels: none

github: verify C source code formatting
  .github/workflows/test.yaml
Labels: none

cmd: many: apply C source code formatting
  cmd/libsnap-confine-private/apparmor-support.c
  cmd/libsnap-confine-private/classic-test.c
  cmd/libsnap-confine-private/cleanup-funcs.c
  cmd/libsnap-confine-private/device-cgroup-support.c
  cmd/libsnap-confine-private/error.c
  cmd/libsnap-confine-private/error.h
  cmd/libsnap-confine-private/mountinfo.c
  cmd/libsnap-confine-private/snap-test.c
  cmd/libsnap-confine-private/snap.c
  cmd/libsnap-confine-private/tool.c
  cmd/libsnap-confine-private/utils-test.c
  cmd/snap-confine/mount-support-nvidia.c
  cmd/snap-confine/mount-support.c
  cmd/snap-confine/ns-support.c
  cmd/snap-confine/seccomp-support.c
  cmd/snap-confine/snap-confine-args.c
  cmd/snap-confine/snap-confine-args.h
  cmd/snap-confine/snap-confine-invocation.c
  cmd/snap-confine/snap-confine-invocation.h
  cmd/snap-confine/snap-confine.c
  cmd/snap-confine/udev-support.c
  cmd/snap-confine/user-support.c
  cmd/snap-device-helper/main.c
  cmd/snap-device-helper/snap-device-helper-test.c
  cmd/snap-device-helper/snap-device-helper.c
  cmd/snapd-generator/main.c
Labels: none

aspects: support content sub-rules
  aspects/aspects.go
  aspects/aspects_test.go
Labels: none

o/devicestate, daemon: use default-recovery-system for factory-reset mode as well
  daemon/api_systems_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_systems_test.go
Labels: Needs Documentation -auto-

c/snap: update help text to mention that default recovery system is used for factory-reset
  cmd/snap/cmd_reboot.go
  cmd/snap/cmd_reboot_test.go
Labels: none

cmd/libsnap-confine-private/infofile: support for comments
  cmd/libsnap-confine-private/infofile-test.c
  cmd/libsnap-confine-private/infofile.c
  cmd/libsnap-confine-private/infofile.h
Labels: none

o/devicestate: skip optional snaps in model when creating recovery system
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

o/ifacestate: change comment to a TODO
  overlord/ifacestate/handlers.go
Labels: none

o/devicestate: make a newly seeded system the default-recovery-system
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/handlers.go
Labels: none

interfaces/builtin/libvirt: add read permissions to /var/lib/snapd/hostfs/var/lib/libvirt/dnsmasq{,**}
  interfaces/builtin/libvirt.go
Labels: none

o/devicestate: add helper to DeviceManager for getting the default-recovery-system
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
Labels: none

o/devicestate: use default-recovery-system for install mode as well
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

many: use interfaces.SnapAppSet in security backends (#13587)
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/backend.go
  interfaces/dbus/backend.go
  interfaces/dbus/backend_test.go
  interfaces/helpers.go
  interfaces/helpers_test.go
  interfaces/ifacetest/backend.go
  interfaces/ifacetest/backendtest.go
  interfaces/kmod/backend.go
  interfaces/kmod/backend_test.go
  interfaces/mount/backend.go
  interfaces/polkit/backend.go
  interfaces/repo.go
  interfaces/repo_test.go
  interfaces/seccomp/backend.go
  interfaces/seccomp/backend_test.go
  interfaces/snap_app_set.go
  interfaces/snap_app_set_test.go
  interfaces/systemd/backend.go
  interfaces/udev/backend.go
  interfaces/udev/backend_test.go
  overlord/ifacestate/export_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
  overlord/ifacestate/ifacestate_test.go
Labels: none

many: add "refresh-inhibited" select query to /v2/snaps
  client/clientutil/snapinfo_test.go
  client/packages.go
  client/packages_test.go
  daemon/api_apps.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  daemon/snap.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/handlers.go
  overlord/snapstate/refreshhints.go
Labels: Needs Documentation -auto-

o/devicestate: skip optional snaps in model when creating recovery system
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

sysconfig/cloudinit: Check if disabled via kernel commandline
  sysconfig/cloudinit.go
  sysconfig/cloudinit_test.go
Labels: none

interfaces: test the StaticInfo for steam-support
  interfaces/builtin/steam_support_test.go
Labels: none

interfaces/builtin/libvirt: fix path /var/lib/snapd/hostfs/var/lib/libvirt/dnsmasq/{,**}
  interfaces/builtin/libvirt.go
Labels: none

interfaces/backend: update sandbox features to account for cgroup v2 device filtering
  interfaces/udev/backend.go
  interfaces/udev/backend_test.go
Labels: none

overlord/configstate/configcore: add support rpi config sdtv_mode option
  overlord/configstate/configcore/picfg.go
Labels: Needs Documentation -auto-

overlord/configstate/configcore: add support rpi config sdtv_mode option
  overlord/configstate/configcore/picfg.go
Labels: Needs Documentation -auto-

many: add "refresh-inhibited" select query to /v2/snaps
  client/clientutil/snapinfo_test.go
  client/packages.go
  client/packages_test.go
  daemon/api_apps.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  daemon/snap.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/handlers.go
  overlord/snapstate/refreshhints.go
Labels: Needs Documentation -auto-

o/snapstate: fix Stop() call ordering for SnapManager unit tests
  overlord/snapstate/aliasesv2_test.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_remove_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_try_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

o/state,daemon: add refresh-inhibit notice
  daemon/api_notices_test.go
  overlord/state/notices.go
  overlord/state/notices_test.go
Labels: Needs Documentation -auto-

removing duplicated debian-11
  tests/lib/external/snapd-testing-tools/tests/os.query/task.yaml
Labels: none

snap: add hooks to snap component types (#13538)
  overlord/snapstate/component_install_test.go
  snap/component.go
  snap/hooktypes.go
  snap/info.go
  snap/info_snap_yaml.go
  snap/info_snap_yaml_test.go
  snap/types.go
  snap/validate.go
  snap/validate_test.go
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
