Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

aspects: improve var and err messages
  aspects/aspects.go
  aspects/aspects_test.go
  overlord/aspectstate/aspectstate_test.go
  tests/main/aspects/task.yaml
Labels: none

snap,overlord: backend support to copy and mount components (#13400)
  overlord/hookstate/ctlcmd/mount.go
  overlord/hookstate/ctlcmd/mount_test.go
  overlord/snapstate/backend.go
  overlord/snapstate/backend/backend.go
  overlord/snapstate/backend/backend_test.go
  overlord/snapstate/backend/mountunit.go
  overlord/snapstate/backend/mountunit_test.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_test.go
  snap/component.go
  snap/component_test.go
  snap/info.go
  snap/info_test.go
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: Needs Documentation -auto-

cmd/snap-update-ns: improved signature of function ExpandHomeDirw
  cmd/snap-update-ns/expand.go
  cmd/snap-update-ns/expand_test.go
  cmd/snap-update-ns/user.go
Labels: none

cmd/snap-update-ns: improved placement of file close defers in MkdirAllWithin
  cmd/snap-update-ns/utils.go
Labels: none

aspects: make test clearer
  aspects/schema_test.go
Labels: none

aspects: improve var name and comments
  aspects/aspects.go
Labels: none

aspects: improve errors caused by unexpected types (#13414)
  aspects/schema.go
  aspects/schema_test.go
Labels: none

asserts: add Model.AllSnaps method
  asserts/model.go
  asserts/model_test.go
Labels: none

wip: squashed remodel changes
  asserts/model.go
  asserts/model_test.go
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
  asserts/validation_set.go
  asserts/validation_set_test.go
  daemon/api_validate.go
  overlord/assertstate/assertstate_test.go
  overlord/assertstate/validation_set_tracking.go
  overlord/assertstate/validation_set_tracking_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/firstboot_test.go
  overlord/devicestate/handlers_remodel.go
  overlord/devicestate/handlers_test.go
  overlord/devicestate/systems.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
  seed/seedtest/seedtest.go
  tests/lib/assertions/test-snapd-core22-required-vset.assert
  tests/lib/assertions/test-snapd-core22-required-vset.json
  tests/lib/assertions/test-snapd-remodel-invalid-vset-pc-22.json
  tests/lib/assertions/test-snapd-remodel-invalid-vset-pc-22.model
  tests/lib/assertions/test-snapd-remodel-offline-rev1.model
  tests/lib/assertions/test-snapd-remodel-pinned-hello-world-pc-22.json
  tests/lib/assertions/test-snapd-remodel-pinned-hello-world-pc-22.model
  tests/lib/assertions/test-snapd-remodel-without-vset-pc-22.json
  tests/lib/assertions/test-snapd-remodel-without-vset-pc-22.model
  tests/nested/manual/remodel-offline/task.yaml
  tests/nested/manual/remodel-validation-sets-downgrade/assets/validation-set.yaml
  tests/nested/manual/remodel-validation-sets-downgrade/task.yaml
  tests/nested/manual/remodel-validation-sets-invalid/assets/validation-set.yaml
  tests/nested/manual/remodel-validation-sets-invalid/task.yaml
Labels: Run nested -auto-, Needs Documentation -auto-

a/snapasserts: add ValidationSets.SnapConstrained method
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
Labels: none

o/snapstate: add prereq information to snapsup from Download
  overlord/snapstate/snapstate.go
Labels: none

o/devicestate: add test cases for various recovery system creation scenarios
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/export_test.go
Labels: none

o/devicestate: add extra params to createLocalSnap
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

o/devicestate: update CreateRecoverySystem to create recovery systems from validation sets
  daemon/api_debug.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers_systems.go
  overlord/devicestate/systems.go
  overlord/devicestate/systems_test.go
Labels: Needs Documentation -auto-

o/devicestate: add option to CreateRecoverySystem for marking new system the current system
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers_systems.go
Labels: none

add a case to manage amzn2023 as bundled
  packaging/fedora/snapd.spec
Labels: none

many: take into account validation sets during remodel (#13243)
  asserts/model.go
  asserts/model_test.go
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
  asserts/validation_set.go
  asserts/validation_set_test.go
  daemon/api_validate.go
  overlord/assertstate/assertstate_test.go
  overlord/assertstate/validation_set_tracking.go
  overlord/assertstate/validation_set_tracking_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/firstboot_test.go
  overlord/devicestate/handlers_remodel.go
  overlord/devicestate/handlers_test.go
  overlord/devicestate/systems.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
  seed/seedtest/seedtest.go
  tests/lib/assertions/test-snapd-core22-required-vset.assert
  tests/lib/assertions/test-snapd-core22-required-vset.json
  tests/lib/assertions/test-snapd-remodel-invalid-vset-pc-22.json
  tests/lib/assertions/test-snapd-remodel-invalid-vset-pc-22.model
  tests/lib/assertions/test-snapd-remodel-offline-rev1.model
  tests/lib/assertions/test-snapd-remodel-pinned-hello-world-pc-22.json
  tests/lib/assertions/test-snapd-remodel-pinned-hello-world-pc-22.model
  tests/lib/assertions/test-snapd-remodel-without-vset-pc-22.json
  tests/lib/assertions/test-snapd-remodel-without-vset-pc-22.model
  tests/nested/manual/remodel-offline/task.yaml
  tests/nested/manual/remodel-validation-sets-downgrade/assets/validation-set.yaml
  tests/nested/manual/remodel-validation-sets-downgrade/task.yaml
  tests/nested/manual/remodel-validation-sets-invalid/assets/validation-set.yaml
  tests/nested/manual/remodel-validation-sets-invalid/task.yaml
Labels: Run nested -auto-, Needs Documentation -auto-

wip
  .github/workflows/test.yaml
Labels: none

boot: fix missing type in asset list
  boot/assets_test.go
Labels: none

boot: fix missing type in asset list
  boot/assets_test.go
Labels: none

wip
  .github/workflows/test.yaml
Labels: none

update tests and dependencies for al2023
  tests/lib/pkgdb.sh
  tests/main/cgroup-devices-v1/task.yaml
  tests/main/cgroup-freezer/task.yaml
  tests/main/interfaces-fwupd-classic/task.yaml
  tests/main/interfaces-network-status-classic/task.yaml
  tests/main/microk8s-smoke/task.yaml
  tests/main/nfs-support/task.yaml
Labels: none

boot: fix more slices missing types
  boot/assets_test.go
  boot/boot_test.go
  boot/modeenv_test.go
Labels: none

Add details for updated tests
  tests/main/interfaces-fwupd-classic/task.yaml
  tests/main/microk8s-smoke/task.yaml
Labels: none

more tests fixes for al2023
  tests/main/snap-quota-install/task.yaml
  tests/main/snap-quota/task.yaml
  tests/main/user-session-env/task.yaml
Labels: none

.github: update golangci-lint version to v1.55.2
  .github/workflows/test.yaml
Labels: none

Amazon Linux 2023 disables /dev/mem, and /dev/port completely
  tests/main/interfaces-physical-memory-observe/task.yaml
Labels: none

.github: update golangci-lint version to v1.55.2
  .github/workflows/test.yaml
Labels: none

s/backend: add method to remove component diretories
  overlord/snapstate/backend.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/backend_test.go
Labels: none

boot: fix more slices missing types
  boot/assets_test.go
  boot/boot_test.go
  boot/modeenv_test.go
Labels: none

snap: add method to compare two ComponentSideInfo
  snap/component.go
Labels: none

o/snapstate: add functions that create tasks to install local components
  overlord/snapstate/component.go
  overlord/snapstate/component_install_test.go
Labels: none

overlord,snap: replace makeTestComponent with snaptest.MakeTestComponent
  overlord/snapstate/backend/backend_test.go
  overlord/snapstate/backend/setup_test.go
  snap/snaptest/snaptest.go
Labels: none

o/snapstate: implement mount and prepare handlers for components
  overlord/snapstate/backend_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers_components.go
  overlord/snapstate/handlers_components_mount_test.go
  overlord/snapstate/handlers_components_prepare_test.go
  overlord/snapstate/snapmgr.go
Labels: none

NEWS.md: start of snap components implementation has started
  NEWS.md
Labels: none

o/snapmgr: register component tasks
  overlord/snapstate/snapmgr.go
Labels: none

aspects: minor simplifications and improvements
  aspects/aspects.go
  aspects/aspects_test.go
  overlord/aspectstate/aspectstate_test.go
  tests/main/aspects/task.yaml
Labels: none

asserts: implement snap-resource-revision
  asserts/asserts.go
  asserts/asserts_test.go
  asserts/snap_asserts.go
  asserts/snap_resource_asserts.go
  asserts/snap_resource_asserts_test.go
Labels: none

tests: add details to spread tests - part 4
  tests/main/snap-run-alias/task.yaml
  tests/main/snap-run-gdbserver/task.yaml
  tests/main/snap-run-hook/task.yaml
  tests/main/snap-run/task.yaml
  tests/main/snap-unset/task.yaml
  tests/main/snap-user-dir-perms-fixed/task.yaml
  tests/main/snap-user-service-restart-on-upgrade/task.yaml
  tests/main/snap-user-service/task.yaml
  tests/main/snapctl-is-connected-list/task.yaml
  tests/main/snapctl-is-connected/task.yaml
  tests/main/snapctl/task.yaml
  tests/main/snapd-snap-auto-install/task.yaml
Labels: none

cmd/snap-update-ns: add reproducer test for LP#2043993
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/update_test.go
Labels: none
