Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

o/devicestate: correct spelling mistake
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: replace backend import with inlined function
  overlord/devicestate/handlers_systems.go
Labels: none

o/devicestate: always make sure to test recovery system if change comes from a remodel
  overlord/devicestate/handlers_systems.go
  overlord/managers_test.go
Labels: none

o/devicestate: fix failing tests brought in by rebase that were missing "test-system" boolean
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

o/devicestate: consolidate checkForInvalidSnapsInModel and checkModelSnapsCanBePresentInValidationSets
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: remove unused function
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: use struct to pair together snap.SideInfo and path to prevent some invalid states
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers_systems.go
Labels: none

o/devicestate: correct LocalSnapPaths doc comment
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: add doc comment to LocalSnap
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: update comment on getSnapInfoFunc
  overlord/devicestate/systems.go
Labels: none

o/devicestate: replace delete with remove, and add some clarifying comments
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_systems.go
Labels: none

o/devicestate: correct error messages in CreateRecoverySystem
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

o/devicestate: update CreateRecoverySystem to create recovery systems from validation sets
  daemon/api_debug.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers_systems.go
  overlord/devicestate/systems.go
  overlord/devicestate/systems_test.go
Labels: Needs Documentation -auto-

o/devicestate: update undo to undo marking a system as seeded and recovery capable
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_systems.go
Labels: none

o/devicestate: extract some helpers out of do/undo create recovery systems
  overlord/devicestate/handlers_systems.go
Labels: none

o/devicestate: remove outdated comment in CreateRecoverySystemOptions
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: allow creating a recovery system if snap from model is not in validation sets
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

daemon: maintain functionality of original debug route for creating recovery system
  daemon/api_debug.go
Labels: Needs Documentation -auto-

o/devicestate: add comment explaining that refresh-control revision constraints are not repected right now during creation of recovery systems
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: add test cases for various recovery system creation scenarios
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/export_test.go
Labels: none

o/devicestate: add snap to prereq tracker if it does not need to be installed
  overlord/devicestate/devicestate.go
Labels: none

tests/nested/manual/remodel-validation-sets-invalid: update error string
  tests/nested/manual/remodel-validation-sets-invalid/task.yaml
Labels: Run nested -auto-

o/devicestate: add option to CreateRecoverySystem for marking new system the current system
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers_systems.go
Labels: none

o/servicestate: fix typo: constraints
  overlord/servicestate/quota_control_test.go
Labels: none

o/snapstate: fix typo: command
  overlord/snapstate/conflict.go
  overlord/snapstate/snapstate_install_test.go
Labels: none

o/s/backend: fix typo: units
  overlord/snapstate/backend/link_test.go
Labels: none

o/s/backend: fix typo: decision
  overlord/snapstate/backend/locking_test.go
Labels: none

o/snapstate: fix typo: total
  overlord/snapstate/progress_test.go
Labels: none

o/snapstate: fix typo: namespace
  overlord/snapstate/aliasesv2.go
Labels: none

o/snapstate: fix typo: unsuccesful
  overlord/snapstate/handlers.go
Labels: none

o/snapstate: fix typo: services
  overlord/snapstate/handlers.go
Labels: none

o/snapstate: fix typo "flags in state"
  overlord/snapstate/handlers.go
Labels: none

o/snapstate: fix typo: content
  overlord/snapstate/snapstate.go
Labels: none

o/devicestate: add RemoveRecoverySystem function
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/handlers_systems.go
Labels: none

o/devicestate: add test cases for removing recovery systems
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers_systems.go
Labels: none

o/devicestate: add extraFiles param to makeSnapInState
  overlord/devicestate/devicestate_systems_test.go
Labels: none

o/devicestate: prevent removing a recovery system during remodel and other recovery system changes
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers_systems.go
Labels: none

Add ProductIDPattern of GoTrust Idem Key with NFC and usb-c
  interfaces/builtin/u2f_devices.go
Labels: none

snapd.apparmor.service: add explicit dependency to snapd.mounts.target
  data/systemd/snapd.apparmor.service.in
Labels: none

interfaces/apparmor: update apparmor template of s-u-n for changes in Go
  interfaces/apparmor/template.go
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
