Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

o/devicestate: invert logic to eliminate double negative
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

o/devicestate: fix missed inversion of logic
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

o/assertstate: update comment on ForgetValidationSetOpts.ForceForget
  overlord/assertstate/validation_set_tracking.go
Labels: none

overlord, o/devicestate: update remodel test to change models that contain the same validation set
  overlord/devicestate/handlers_remodel.go
  overlord/managers_test.go
Labels: none

o/assertstate: test ForceForget functionality in ForgetValidationSet
  overlord/assertstate/assertstate_test.go
Labels: none

snap: create ContainerPlaceInfo interface
  snap/info.go
  snap/info_test.go
Labels: none

o/snapstate: remove unneeded printing traces in tests
  overlord/snapstate/snapstate_test.go
Labels: none

o/snapstate: use ContainerPlaceInfo when removing mount units
  overlord/snapstate/backend.go
  overlord/snapstate/backend/mountunit.go
  overlord/snapstate/backend/mountunit_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/snapmgr.go
Labels: none

updating support for amazon linux 2023 packaging
  .github/workflows/test.yaml
  packaging/amzn-2023
  packaging/fedora/snapd.spec
  spread.yaml
  tests/lib/pkgdb.sh
  tests/lib/prepare-restore.sh
Labels: none

wrappers: get rid of superfluous filepath.Base() call
  wrappers/desktop.go
Labels: none

cmd/snap-update-ns: removed invalid comment
  cmd/snap-update-ns/change.go
Labels: none

cmd/snaplock/runinhibit: add OpenLock to avoid race conditions while reading hints
  cmd/snaplock/runinhibit/inhibit.go
  cmd/snaplock/runinhibit/inhibit_test.go
Labels: none

cmd/snap: use updated "current" revision after snap refresh run inhibition (spike-1)
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  cmd/snap/export_test.go
  cmd/snap/inhibit.go
Labels: none

tests/nested/core/core20-set-efi-boot-variables: add missing details
  tests/nested/core/core20-set-efi-boot-variables/task.yaml
Labels: Run nested -auto-

boot/grub.go: return all possible boot chains
  boot/assets.go
  boot/assets_test.go
  boot/export_test.go
  boot/seal.go
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  bootloader/grub_test.go
Labels: none

test/nested/manual: fix some yq expressions (#13407)
  tests/nested/manual/fde-on-classic/task.yaml
  tests/nested/manual/install-min-size/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Run nested -auto-

fix shellcheck
  tests/perf/interfaces-core-provided/task.yaml
Labels: none

fix minimal-smoke test
  tests/nested/manual/minimal-smoke/task.yaml
Labels: Run nested -auto-

tests: add new performance and load test suite
  spread.yaml
  tests/lib/nested.sh
  tests/lib/tools/tests.nested
  tests/nested/perf/interfaces-core-provided/task.yaml
  tests/perf/interfaces-core-provided/task.yaml
Labels: Run nested -auto-

add details to minimal-smoke test
  tests/nested/manual/minimal-smoke/task.yaml
Labels: Run nested -auto-

o/devicestate: rename function newRevisionOptionsForRemodel to revisionOptionsForRemodel
  overlord/devicestate/devicestate.go
Labels: none

strutil: add `MultiCommaSeparatedList`
  strutil/strutil.go
  strutil/strutil_test.go
Labels: none

daemon: add notices API
  daemon/api_notices.go
  daemon/api_notices_test.go
  daemon/request.go
Labels: Needs Documentation -auto-

daemon: remove `postNotices` from the notices API
  daemon/api_notices.go
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

daemon: adjusted notices API to be compatible with snapd
  daemon/api.go
  daemon/api_notices.go
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

daemon: remove custom notice type from notices API
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

daemon: fix handling of invalid notice types in filter
  daemon/api_notices.go
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

daemon: make notices API tests less brittle on slow machines
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

daemon: small refactor of notices api
  daemon/api_notices.go
Labels: Needs Documentation -auto-

daemon: make notices api require authenticated access (for now)
  daemon/api_notices.go
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

NEWS.md: added notices state and api to NEWS.md
  NEWS.md
Labels: none

o/assertstate, o/devicestate, daemon: remove unneeded DeviceContext param from ForgetValidationSet
  daemon/api_validate.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/assertstate/validation_set_tracking.go
  overlord/assertstate/validation_set_tracking_test.go
  overlord/devicestate/handlers_remodel.go
Labels: Needs Documentation -auto-

use ubuntu-image snap in xenial
  spread.yaml
Labels: none

tests: add new performance and load test suite (#13371)
  spread.yaml
  tests/lib/nested.sh
  tests/lib/tools/tests.nested
  tests/nested/manual/minimal-smoke/task.yaml
  tests/nested/perf/interfaces-core-provided/task.yaml
  tests/perf/interfaces-core-provided/task.yaml
Labels: Run nested -auto-

daemon: make notices API tests less brittle on slow machines
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

daemon: remove `postNotices` from the notices API
  daemon/api_notices.go
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

daemon: fix handling of invalid notice types in filter
  daemon/api_notices.go
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

daemon: adjusted notices API to be compatible with snapd
  daemon/api.go
  daemon/api_notices.go
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

NEWS.md: added notices state and api to NEWS.md
  NEWS.md
Labels: none

strutil: add `MultiCommaSeparatedList`
  strutil/strutil.go
  strutil/strutil_test.go
Labels: none
