Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

interfaces/builtin/libvirt: add /run/libvirt/libvirt-sock-ro
  interfaces/builtin/libvirt.go
Labels: none

o/snapstate: add some docs around link-snap and auto-connect. (#13575)
  overlord/snapstate/snapstate.go
Labels: none

o/state: give RepeatAfter precedence over RepeatCheck
  overlord/state/notices.go
  overlord/state/notices_test.go
Labels: none

Add new ros opt interface
  interfaces/builtin/ros_opt_data.go
  interfaces/builtin/ros_opt_data_test.go
Labels: none

Ros interface: prepare for testing
  tests/main/interfaces-ros-opt-data/task.yaml
  tests/main/interfaces-ros-opt-data/test-snapd-sh/bin/sh
  tests/main/interfaces-ros-opt-data/test-snapd-sh/meta/snap.yaml
Labels: none

complete list of ros files and explanation
  interfaces/builtin/ros_opt_data.go
Labels: none

adapt test from system-files to ros-opt-data
  tests/main/interfaces-ros-opt-data/task.yaml
  tests/main/interfaces-ros-opt-data/test-snapd-sh/meta/snap.yaml
Labels: none

No need to restore-dir if it's a sub folder of a mocked dir already
  tests/main/interfaces-ros-opt-data/task.yaml
Labels: none

Fix unit tests and formatting
  interfaces/builtin/ros_opt_data_test.go
Labels: none

Finish the spread test for ros-opt-data
  tests/main/interfaces-ros-opt-data/task.yaml
Labels: none

Add spread test for ros-opt-data interface
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: none

Reorder test-snapd-policy-app-consumer snap.yaml file
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: none

Do not have ros opt data interface implicit on Core
  interfaces/builtin/ros_opt_data.go
  interfaces/builtin/ros_opt_data_test.go
Labels: none

Fixup remove unnecessary line in ros-opt-data test
  tests/main/interfaces-ros-opt-data/test-snapd-sh/meta/snap.yaml
Labels: none

o/snapstate: tweak naming and logic
  overlord/snapstate/refreshhints.go
Labels: none

o/snapstate: use AutoRefresh instead of calling UpdateMany
  overlord/managers_test.go
Labels: none

overlord: tweak test error message
  overlord/managers_test.go
Labels: none

tests/main/snapd-homedirs-vendored: fixing AppArmor tunable check
  tests/main/snapd-homedirs-vendored/task.yaml
Labels: none

overlord: fix TestUpdateManyStoreUpdateWhileWaitingWithMonitoring to use Settle
  overlord/managers_test.go
Labels: none

o/state: adjust notices RepeatCheck flow (thanks @pedronis)
  overlord/state/notices.go
  overlord/state/notices_test.go
Labels: none

tests/main/snapd-homedirs: reverting rev read to using snap list
  tests/main/snapd-homedirs/task.yaml
Labels: none

packaging/fedora: enable bpf selinux SELinux policy for RHEL9
  packaging/fedora/snapd.spec
Labels: none

many: export Notice fields
  daemon/api_notices.go
  overlord/state/notices.go
  overlord/state/notices_test.go
Labels: Needs Documentation -auto-

tests/lib/assertions: add missing assertion that was preventing nested/manual/remodel-offline from running
  tests/lib/assertions/test-snapd-core22-required-vset.assert
Labels: none

packaging/fedora: enable bpf selinux SELinux policy for RHEL9
  packaging/fedora/snapd.spec
Labels: none

interfaces/builtin/gpg_public_keys: add permissions for required lock… (#13540)
  interfaces/builtin/gpg_public_keys.go
Labels: none

wrappers: fix test to not use mocked systemctl command
  wrappers/services_test.go
Labels: none

wrappers: fix more unreliable unit tests
  wrappers/services_test.go
Labels: none

overlord: tweak managers tests names
  overlord/managers_test.go
Labels: none

overlord: add managers test for auto-refresh with pre-download and app monitoring
  overlord/managers_test.go
Labels: none

systemd/systemdtest: handle non service units when mocking outputs
  systemd/systemdtest/systemdtest.go
Labels: none

wrappers: simplify mocks by using systemdtest helpers
  wrappers/services_test.go
Labels: none

interfaces: new "ros" host file system support (#13281)
  interfaces/builtin/ros_opt_data.go
  interfaces/builtin/ros_opt_data_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
  tests/main/interfaces-ros-opt-data/task.yaml
  tests/main/interfaces-ros-opt-data/test-snapd-sh/bin/sh
  tests/main/interfaces-ros-opt-data/test-snapd-sh/meta/snap.yaml
Labels: none

wrappers: fix unreliable tests to not use mocked systemctl command (#13612)
  systemd/systemdtest/systemdtest.go
  wrappers/services_test.go
Labels: none

i/builtin: fix unit tests after change to Specifications
  interfaces/builtin/ros_opt_data_test.go
Labels: none

i/builtin: fix unit tests after change to Specifications
  interfaces/builtin/ros_opt_data_test.go
Labels: none

many: avoid execution while current symlink is missing
  data/systemd/snapd.apparmor.service.in
  overlord/snapstate/backend/export_test.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  wrappers/core18.go
  wrappers/core18_test.go
Labels: none

build-aux/snap/patches: move to build-aux/snap/local/
  build-aux/snap/local/patches/apparmor/parser-replace-dynamic_cast-with-is_type-method.patch
  build-aux/snap/snapcraft.yaml
Labels: none

snapcraft.yaml: build on 22.04
  .github/workflows/test.yaml
  build-aux/snap/local/is-exec.py
  build-aux/snap/snapcraft.yaml
  cmd/snap-confine/snap-confine.apparmor.in
  interfaces/apparmor/template.go
  spread.yaml
  tests/lib/prepare.sh
  tests/main/snap-run-devmode-classic/task.yaml
  tests/main/snapd-snap/task.yaml
  tests/nested/manual/devmode-snaps-can-run-other-snaps/task.yaml
Labels: Run nested -auto-

snapdtool/cmdutil.go: do not override dynamic linker for snapd snap
  snapdtool/cmdutil.go
  snapdtool/cmdutil_test.go
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
