Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

o/snapstate, o/devicestate: fix ordering of installation of snaps during remodel (#13358)
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_prereq_test.go
  tests/lib/assertions/test-snapd-remodel-offline-rev0.json
  tests/lib/assertions/test-snapd-remodel-offline-rev0.model
  tests/lib/assertions/test-snapd-remodel-offline-rev1.json
  tests/lib/assertions/test-snapd-remodel-offline-rev1.model
  tests/lib/assertions/valid-for-testing-pc-20.json
  tests/lib/assertions/valid-for-testing-pc-20.model
  tests/lib/assertions/valid-for-testing-pc-22-from-20.json
  tests/lib/assertions/valid-for-testing-pc-22-from-20.model
  tests/lib/assertions/valid-for-testing-pc-22.json
  tests/lib/assertions/valid-for-testing-pc-22.model
  tests/lib/assertions/valid-for-testing-pc-revno-2-20.json
  tests/lib/assertions/valid-for-testing-pc-revno-2-20.model
  tests/lib/assertions/valid-for-testing-pc-revno-2-22.json
  tests/lib/assertions/valid-for-testing-pc-revno-2-22.model
  tests/lib/assertions/valid-for-testing-pc-revno-3-20.json
  tests/lib/assertions/valid-for-testing-pc-revno-3-20.model
  tests/lib/assertions/valid-for-testing-pc-revno-3-22.json
  tests/lib/assertions/valid-for-testing-pc-revno-3-22.model
  tests/nested/manual/core20-remodel/task.yaml
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-

o/snapstate: call Add on prereq tracker in the case that update is only a channel switch (#13505)
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

asserts: define new aspect-bundle assertion
  asserts/aspect_bundle.go
  asserts/aspect_bundle_test.go
  asserts/asserts.go
  asserts/asserts_test.go
Labels: none

asserts: some doc comment fixes and tweaks
  asserts/aspect_bundle.go
  asserts/aspect_bundle_test.go
Labels: none

secboot/luks2: remove unused stderr variable
  secboot/luks2/luks2.go
Labels: none

asserts: define new aspect-bundle assertion (#13545)
  asserts/aspect_bundle.go
  asserts/aspect_bundle_test.go
  asserts/asserts.go
  asserts/asserts_test.go
Labels: none

.github: update golangci-lint version to v1.55.2
  .github/workflows/test.yaml
Labels: none

Add ProductIDPattern of GoTrust Idem Key with NFC and usb-c
  interfaces/builtin/u2f_devices.go
Labels: none

.github: update golangci-lint version to v1.55.2
  .github/workflows/test.yaml
Labels: none

secboot/luks2: remove unused stderr variable
  secboot/luks2/luks2.go
Labels: none

interfaces/builtin/lxd_support: test unconfined mode enablement
  interfaces/builtin/lxd_support_test.go
Labels: none

interfaces/builtin/lxd_support: explicitly ignore error
  interfaces/builtin/lxd_support.go
Labels: none

interfaces/builtin/lxd_support: fixup gofmt in test
  interfaces/builtin/lxd_support_test.go
Labels: none

many: allow building without bolt using nobolt tag (#13534)
  .github/workflows/test.yaml
  advisor/backend_bolt.go
  advisor/backend_common.go
  advisor/backend_nobolt.go
  advisor/cmdfinder_test.go
  cmd/snap/cmd_advise_test.go
  overlord/snapstate/catalogrefresh.go
  overlord/snapstate/catalogrefresh_test.go
  packaging/debian-sid/control
  packaging/debian-sid/patches/0005-advisor-errtracker-use-upstream-bolt-package.patch
  packaging/debian-sid/patches/series
  packaging/debian-sid/rules
  store/store_test.go
Labels: none

packaging/opensuse: remove prompting service files
  packaging/opensuse/snapd.spec
Labels: none

tests: update the remodel-store-viewer.auth info (#13549)
  tests/lib/remodel-store-viewer.auth
Labels: none

o/devicestate: add option to CreateRecoverySystem for marking new system the current system
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers_systems.go
Labels: none

o/devicestate: update undo to undo marking a system as seeded and recovery capable
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_systems.go
Labels: none

o/devicestate: add test cases for various recovery system creation scenarios
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/export_test.go
Labels: none

o/devicestate: correct error messages in CreateRecoverySystem
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

overlord, o/devicestate: change CreateRecoverySystem so that it uses SelfContainedSetPrereqTracker
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/export_test.go
Labels: none

o/devicestate: add snap to prereq tracker if it does not need to be installed
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: add extra params to createLocalSnap
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

o/devicestate: update CreateRecoverySystem to create recovery systems from validation sets
  daemon/api_debug.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers_systems.go
  overlord/devicestate/systems.go
  overlord/devicestate/systems_test.go
Labels: Needs Documentation -auto-

daemon: maintain functionality of original debug route for creating recovery system
  daemon/api_debug.go
Labels: Needs Documentation -auto-

o/devicestate: add guard to check for presence of snap IDs in model and in locally provided snaps
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

o/devicestate: correct LocalSnapPaths doc comment
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: extract some helpers out of do/undo create recovery systems
  overlord/devicestate/handlers_systems.go
Labels: none

o/devicestate: update comment on getSnapInfoFunc
  overlord/devicestate/systems.go
Labels: none

o/devicestate: always make sure to test recovery system if change comes from a remodel
  overlord/devicestate/handlers_systems.go
  overlord/managers_test.go
Labels: none

o/devicestate: replace delete with remove, and add some clarifying comments
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_systems.go
Labels: none

o/devicestate: use "snap id" in error messages, rather than just "id"
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: add doc comment to LocalSnap
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: use struct to pair together snap.SideInfo and path to prevent some invalid states
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers_systems.go
Labels: none

o/devicestate: allow creating a recovery system if snap from model is not in validation sets
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

o/devicestate: fix failing tests brought in by rebase that were missing "test-system" boolean
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

o/devicestate: remove outdated comment in CreateRecoverySystemOptions
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: correct some error messages
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

o/devicestate: correct spelling mistake
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: remove unused function
  overlord/devicestate/devicestate.go
Labels: none
