Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

o/devicestate: change taskRemoveRecoverySystemSetup return param to pointer
  overlord/devicestate/handlers_systems.go
Labels: none

many: make notice2noticeInfo safer (thanks @pedronis)
  daemon/api_notices.go
  overlord/state/notices.go
  overlord/state/notices_test.go
Labels: Needs Documentation -auto-

o/devicestate: modify doRemoveRecoverySystem so that it can be re-run if the task did not fully complete
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers_systems.go
Labels: none

o/devicestate: add TODO about optionally returning seed from loadSystemAndEssentialSnaps
  overlord/devicestate/devicemgr.go
Labels: none

o/devicestate: copy seed on finish install API call, for UC (#13296)
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_api_test.go
  overlord/devicestate/handlers_install.go
  tests/lib/muinstaller/main.go
  tests/nested/manual/muinstaller-core/task.yaml
Labels: Run nested -auto-

o/devicestate: make caller of currentSystemForMode acquire state lock to allow for DeviceManager.systems() to be used without locking/unlocking the state
  overlord/devicestate/devicemgr.go
  overlord/devicestate/handlers_systems.go
  overlord/devicestate/systems.go
Labels: none

o/devicestate: set up conflicts for remodeling and create/remove recovery system changes
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

update how results are saved
  .github/workflows/test.yaml
Labels: none

tests: split google backend in 2 zones
  .github/workflows/test.yaml
  spread.yaml
Labels: none

Update backend name
  .github/workflows/test.yaml
  spread.yaml
Labels: none

o/snapstate: add handlers to {set,clean}-up kernel snap
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_setup_kernel_test.go
  overlord/snapstate/policy.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
Labels: none

o/snapstate/backend: add methods for {set,clean}-up kernel snaps
  overlord/snapstate/backend.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/backend_test.go
Labels: none

snap: add kernel-modules component type
  snap/types.go
Labels: none

overlord: adapt test to new {set,clean}-up kernel tasks
  overlord/devicestate/devicestate_remodel_test.go
  overlord/managers_test.go
Labels: none

overlord: restore services if the unlink fails
  overlord/managers_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
Labels: none

spread: provide a way to disable repacking the project into a delta
  spread.yaml
Labels: none

github: disable deltas for Amazon Linux 2023 target
  .github/workflows/test.yaml
Labels: none

tests/lib/prepare-restore: drop a workaround which removed xdelta
  tests/lib/prepare-restore.sh
Labels: none

spread: complain when project got delivered as delta on Amazon Linux 2023
  spread.yaml
Labels: none

github: increase verbosity
  .github/workflows/test.yaml
Labels: none

tests/lib/pkgdb: require gpg on Amazon Linux 2023
  tests/lib/pkgdb.sh
Labels: none

tests/main/completion: disable on amazon-linux-2023
  tests/main/completion/task.yaml
Labels: none

tests/lib/pkgdb: use dnf on Amazon Linux 2023
  tests/lib/pkgdb.sh
Labels: none

tests/lib/pkgdb: curl is already available on AMZN2, AL2023, and CentOS7
  tests/lib/pkgdb.sh
Labels: none

tests/main/interfaces-polkit: disable on amazon-linux-2023
  tests/main/interfaces-polkit/task.yaml
Labels: none

tests/main/completion: add details
  tests/main/completion/task.yaml
Labels: none

tests/main/interfaces-polkit: add details
  tests/main/interfaces-polkit/task.yaml
Labels: none

Update u2f_devices_test.go
  interfaces/builtin/u2f_devices_test.go
Labels: none

o/snapstate: log relink error and always return original error
  overlord/snapstate/handlers.go
Labels: none

o/s/policy: allow "core" snap to be removed on classic systems (#13509)
  overlord/snapstate/policy.go
  overlord/snapstate/policy/canremove_test.go
  overlord/snapstate/policy/errors.go
  overlord/snapstate/policy/export_test.go
  overlord/snapstate/policy/os.go
  tests/main/remove-core/task.yaml
Labels: none

o/devicestate: convert cached list of snaps to remove in doRemoveRecoverySystem to a struct
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_systems.go
Labels: none

data/systemd: make snapd.seed wait for snapd.socket only
  data/systemd/snapd.seeded.service.in
Labels: none

o/s/policy: remove usage of snapstatetest.NewSequenceFromSnapSideInfos for backport
  overlord/snapstate/policy/canremove_test.go
Labels: none

cmd/snapd-generator: create mount points for kernel drivers tree
  cmd/snapd-generator/main.c
Labels: none

o/snapstate: add remove-recovery-system to changes in checkChangeConflictExclusiveKinds
  overlord/snapstate/conflict.go
Labels: none

o/devicestate: update conflict checks in recovery system functions to use snapstate.CheckChangeConflictRunExclusively
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
Labels: none

tests/nested/manual/remodel-offline: test that offline remodeling will use previously installed revision of snap
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-

o/snapstate/snapstatetest: add PreserveSequence option to InstallSnap
  overlord/snapstate/snapstatetest/snapstate.go
Labels: none

o/devicestate: refactor lookup through SnapSequence to use SnapSequence.LastIndex
  overlord/devicestate/devicestate.go
Labels: none

tests/nested/manual/remodel-offline: fix misspelling
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
