Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

Fix selinux-lxd in centos-7
  data/selinux/snappy.te
Labels: none

osutil/epoll: remove unnecessary type from error variable
  osutil/epoll/epoll.go
Labels: none

snapcraft.yaml: use apparmor upstream patches from gitlab
  build-aux/snap/patches/apparmor/parser-replace-dynamic_cast-with-is_type-method.patch
  build-aux/snap/snapcraft.yaml
Labels: none

snapcraft.yaml: avoid using SNAPCRAFT_PROJECT_DIR
  build-aux/snap/snapcraft.yaml
Labels: none

packaging: add ubuntu-18.04 packaging symlink
  packaging/ubuntu-18.04
Labels: none

osutil/epoll: make `e.Wait{,Timeout}()` return immediately when `e.Close()` is called (#13204)
  osutil/epoll/epoll.go
  osutil/epoll/epoll_test.go
Labels: none

o/devicestate: refactor remodelEssentialSnapTasks for readability
  overlord/devicestate/devicestate.go
Labels: none

snap/squashfs: enforce a minimum snap size to eliminate some kernel log noise (#13191)
  snap/integrity/integrity_test.go
  snap/pack/pack_test.go
  snap/squashfs/squashfs.go
  snap/squashfs/squashfs_test.go
Labels: none

cmd/snap/prepare-image, cmd/snap-preseed: implement preseed delegation
  cmd/snap-preseed/export_test.go
  cmd/snap-preseed/main.go
  cmd/snap-preseed/preseed_uc20_test.go
  cmd/snap/cmd_prepare_image.go
  cmd/snap/cmd_prepare_image_test.go
  cmd/snap/export_test.go
  image/image_linux.go
  image/image_test.go
  image/options.go
  image/preseed/preseed.go
  image/preseed/preseed_uc20_test.go
Labels: none

cmd/snap/prepare-image: simplify assertion type casting
  cmd/snap/cmd_prepare_image_test.go
Labels: none

cmd/snap-preseed: retrieve assertions based on preseed signing key
  cmd/snap-preseed/main.go
Labels: none

cmd/snap-preseed: fix tests
  cmd/snap-preseed/export_test.go
  cmd/snap-preseed/preseed_uc20_test.go
Labels: none

cmd/snap-preseed: simplify assertion fetching
  cmd/snap-preseed/main.go
Labels: none

tests: add preseed authority delegation spread test
  tests/lib/assertions/developer1-20-dangerous.json
  tests/lib/assertions/developer1-20-dangerous.model
  tests/lib/assertions/developer2.account
  tests/lib/assertions/developer2.account-key
  tests/main/preseed-delegation-core20/developer2-privkey.asc
  tests/main/preseed-delegation-core20/systemusers-snap/foo.sh
  tests/main/preseed-delegation-core20/systemusers-snap/meta/snap.yaml
  tests/main/preseed-delegation-core20/task.yaml
Labels: none

image: simplify assertion typecasting in tests
  image/image_test.go
Labels: none

image: add tests for checking preseed authority against the model
  image/image_test.go
Labels: none

image/preseed: add test for preseed delegation
  image/preseed/preseed_uc20_test.go
Labels: none

fixup! tests: add preseed authority delegation spread test
  tests/main/preseed-delegation-core20/task.yaml
Labels: none

Clean now useless ResetEnclosingVolumeInStructs function
  gadget/gadget.go
Labels: none

gadget,osutil: add support for fat16 partitions (#13123)
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/install/install.go
  gadget/install/partition.go
  gadget/layout.go
  gadget/update.go
  osutil/mkfs/mkfs.go
  osutil/mkfs/mkfs_test.go
Labels: none

snaptool: check for binary existance in InternalToolPath()
  snapdtool/tool_linux.go
  snapdtool/tool_test.go
Labels: none

o/devicestate: only add track validation-sets task in run-mode.
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  tests/lib/nested.sh
  tests/lib/tools/store-state
  tests/lib/tools/tests.nested
  tests/nested/manual/core20-validation-sets/asserts/core-20.json
  tests/nested/manual/core20-validation-sets/asserts/vs.json
  tests/nested/manual/core20-validation-sets/task.yaml
Labels: Run nested -auto-

o/devicestate: move comment to better location
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: make comments use more of a line
  overlord/devicestate/devicestate.go
Labels: none

interfaces: upower-observe base policy considers whether the slot is implicit
  interfaces/builtin/upower_observe.go
  interfaces/policy/basedeclaration_test.go
Labels: none

asserts,i/policy: slot-side slot-snap-type connection constraints
  asserts/ifacedecls.go
  asserts/ifacedecls_test.go
  interfaces/policy/helpers.go
  interfaces/policy/policy_test.go
Labels: none

fixup! o/devicestate: create pending users after receiving a serial
  overlord/devicestate/devicemgr.go
  overlord/devicestate/users.go
  overlord/devicestate/users_test.go
Labels: none

fixup! o/devicestate: create pending users after receiving a serial
  overlord/devicestate/devicemgr.go
Labels: none

fixup! o/devicestate: create pending users after receiving a serial
  overlord/devicestate/devicemgr.go
Labels: none

fixup! o/devicestate: create pending users after receiving a serial
  overlord/devicestate/devicemgr.go
  overlord/devicestate/users.go
  overlord/devicestate/users_test.go
Labels: none

i/policy: fix TestConnection* for qualcomm-ipc-router
  interfaces/policy/basedeclaration_test.go
Labels: none

fixup! o/devicestate: create pending users after receiving a serial
  overlord/devicestate/users.go
  overlord/devicestate/users_test.go
Labels: none

i/policy: fix TestConnection* for qualcomm-ipc-router
  interfaces/policy/basedeclaration_test.go
Labels: none

o/devicestate: expose store.access via the storeContextBackend
  overlord/devicestate/devicemgr.go
Labels: none

o/c/configcore: add store.access configurable to allow store access to be disable
  overlord/configstate/configcore/runwithstate.go
  overlord/configstate/configcore/store.go
Labels: Needs Documentation -auto-

store: remove outdated comment
  store/store.go
Labels: none

store: add unit test to check that http retries do not happen when store is offline
  store/store_test.go
Labels: none

store: rename isStoreOnline to checkStoreOnline for consistency
  store/store.go
Labels: none

store: disable more instances of store network access
  store/store.go
  store/store_test.go
  store/userinfo.go
Labels: none

store: test offline store functionality
  store/store.go
  store/store_test.go
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
