Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

c/snap-repair: make snap-repair respect store.offline configurable
  cmd/snap-repair/export_test.go
  cmd/snap-repair/runner.go
  cmd/snap-repair/runner_test.go
Labels: none

t/n/m/core20-validation-sets: add checks, manually add user
  tests/lib/nested.sh
  tests/lib/tools/tests.nested
  tests/nested/manual/core20-validation-sets/task.yaml
Labels: Run nested -auto-

packaging: fix patch for sid
  packaging/debian-sid/patches/0007-i18n-use-dummy-localizations-to-avoid-dependencies.patch
Labels: none

t/n/m/core20-validation-sets: fix check of validation task, fix configure-default-user
  overlord/devicestate/firstboot20_test.go
  tests/lib/nested.sh
  tests/nested/manual/core20-validation-sets/task.yaml
Labels: Run nested -auto-

interfaces: make AutoConnect of cups-control dependent on presence of cupsd on host system.
  interfaces/builtin/cups_control.go
  interfaces/policy/basedeclaration_test.go
Labels: none

many: add capability to create missing directories for personal-files interface
  cmd/libsnap-confine-private/tool.c
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/expand.go
  cmd/snap-update-ns/main.go
  cmd/snap-update-ns/snapenv.go
  cmd/snap-update-ns/system.go
  cmd/snap-update-ns/update.go
  cmd/snap-update-ns/user.go
  cmd/snap-update-ns/utils.go
  cmd/snap-update-ns/xdg_test.go
  interfaces/apparmor/spec.go
  interfaces/builtin/common_files.go
  interfaces/builtin/personal_files.go
  interfaces/mount/spec.go
  interfaces/types.go
  osutil/mountentry.go
Labels: none

o/snapstate: change "online" to "" in store access tests
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/catalogrefresh_test.go
  overlord/snapstate/refreshhints_test.go
Labels: none

tests,overlord: review feedback from @pedronis
  overlord/devicestate/firstboot20_test.go
  tests/nested/manual/core20-validation-sets/asserts/bar-vs.json
  tests/nested/manual/core20-validation-sets/asserts/core-20-model.json
  tests/nested/manual/core20-validation-sets/task.yaml
Labels: Run nested -auto-

daemon,overlord/notices: add notices POC with support for change-updates
  daemon/api.go
  daemon/api_notices.go
  overlord/notices/notices.go
  overlord/overlord.go
Labels: Needs Documentation -auto-

tests: fix selinux-lxd in centos-7 (#13224)
  data/selinux/snappy.te
Labels: none

locale_control: add locale1 dbus support (#13027)
  interfaces/builtin/locale_control.go
Labels: none

o/snapstate: change "" to nil in store access tests
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/catalogrefresh_test.go
  overlord/snapstate/refreshhints_test.go
Labels: none

gadget/layout.go: fix typo
  gadget/layout.go
Labels: none

tests: add a test for auto-connection behaviour of cups-control
  tests/main/interfaces-cups-control-autoconnect/cups-consumer/meta/snap.yaml
  tests/main/interfaces-cups-control-autoconnect/cups-provider/meta/snap.yaml
  tests/main/interfaces-cups-control-autoconnect/task.yaml
Labels: none

aspects: required keys must have schema entry
  aspects/schema.go
  aspects/schema_test.go
Labels: none

o/notices: add explanation for non-persistant state
  overlord/notices/notices.go
Labels: none

aspects: add doc comment
  aspects/schema.go
Labels: none

o/snapstate: change any to empty interface
  overlord/snapstate/autorefresh_test.go
Labels: none

aspects: use 64bit ints in int type constraints
  aspects/schema.go
  aspects/schema_test.go
Labels: none

aspects: support integers in aspect schemas (#13214)
  aspects/schema.go
  aspects/schema_test.go
Labels: none

snapcraft.yaml: tweak comment
  build-aux/snap/snapcraft.yaml
  packaging/ubuntu-20.04/rules
Labels: none

tests: undo merge artifact
  tests/lib/prepare-restore.sh
Labels: none

o/snapstate: use store.access to disable auto refresh (#13232)
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/catalogrefresh.go
  overlord/snapstate/catalogrefresh_test.go
  overlord/snapstate/refreshhints.go
  overlord/snapstate/refreshhints_test.go
Labels: none

interfaces: make network-status implicit on core - it is required for using the network portal
  interfaces/builtin/network_status.go
Labels: none

tests/nested/manual/uc20-install-in-initrd: remove core-initrd tweaks
  tests/nested/manual/uc20-install-in-initrd/task.yaml
  tests/nested/manual/uc20-install-in-initrd/the-modeenv
Labels: Run nested -auto-

interfaces: add a polkit-agent interface (#10598)
  interfaces/builtin/polkit_agent.go
  interfaces/builtin/polkit_agent_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: none

aspects: convert untyped constant before calling Sprintf
  aspects/schema_test.go
Labels: none

tests/nested/manual/snapd-refresh-from-old: also test refresh to current
  tests/nested/manual/snapd-refresh-from-old/task.yaml
Labels: Run nested -auto-

tests/nested/manual/install-min-size: make it more stable
  tests/nested/manual/install-min-size/task.yaml
Labels: Run nested -auto-

interfaces: review and extend README.md
  interfaces/builtin/README.md
  interfaces/builtin/common.go
  interfaces/core.go
  interfaces/policy/basedeclaration.go
Labels: none

tweaks
  interfaces/builtin/README.md
Labels: none

cmd/libsnap-confine-private: pass env vars real-home and uid to snap-update-ns
  cmd/libsnap-confine-private/tool.c
  cmd/snap-confine/snap-confine.c
Labels: none

Fix prepare-image-reproducible test
  tests/main/prepare-image-reproducible/task.yaml
Labels: none

overlord: update desktop files on SnapManager.Ensure()
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_test.go
Labels: none

wrappers: extend EnsureSnapDesktopFiles to support multiple snaps at once
  overlord/snapstate/backend/link.go
  wrappers/desktop.go
  wrappers/desktop_test.go
Labels: none

boot: only use variable snapd_full_cmdline_args
  boot/boot.go
  boot/boot_test.go
  boot/cmdline.go
  boot/cmdline_test.go
  boot/makebootable.go
  boot/makebootable_test.go
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/devicestate/systems_test.go
  overlord/managers_test.go
Labels: none

boot: update cmdline variables also when updating gadget
  boot/boot.go
  boot/boot_test.go
  boot/makebootable.go
  boot/makebootable_test.go
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  overlord/devicestate/devicestate_bootconfig_test.go
Labels: none

o/snapstate: avoid incurring an extra reboot boundary for core snap when not a boot-base
  overlord/snapstate/reboot.go
  overlord/snapstate/reboot_test.go
Labels: none

t/n/m/uc-update-command-line-secure: make it more stable
  tests/nested/manual/uc-update-command-line-secure/task.yaml
Labels: Run nested -auto-

t/n/m/core20-boot-config-update: make it more stable
  tests/nested/manual/core20-boot-config-update/task.yaml
Labels: Run nested -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
