Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

daemon,o/servicestate: fix selecting all users for non-root users
  daemon/api_apps_test.go
  overlord/servicestate/servicestate.go
  overlord/servicestate/servicestate_test.go
Labels: Needs Documentation -auto-

daemon,o/servicestate: support for scopes and users in API for services
  daemon/api_apps.go
  daemon/api_apps_test.go
  daemon/api_base_test.go
  daemon/export_api_apps_test.go
  daemon/export_test.go
  overlord/hookstate/ctlcmd/export_test.go
  overlord/hookstate/ctlcmd/helpers.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/servicestate/service_control.go
  overlord/servicestate/service_control_test.go
  overlord/servicestate/servicestate.go
  overlord/servicestate/servicestate_test.go
  wrappers/services.go
Labels: Needs Documentation -auto-

o/servicestate: add unmarshal tests for Instruction
  overlord/servicestate/servicestate_test.go
Labels: none

kernel,overlord: use function from kernel pkg to get kernel early
  kernel/kernel_drivers.go
  overlord/devicestate/handlers.go
  overlord/snapstate/backend/setup.go
Labels: none

fixing comments, small dirs.go and homedirs.go improvements
  dirs/dirs.go
  overlord/configstate/configcore/homedirs.go
Labels: Needs Documentation -auto-

interfaces/desktop: allow DBus communication with colord
  interfaces/builtin/desktop.go
Labels: none

snapcraft.yaml: build apparmor as shared library
  build-aux/snap/snapcraft.yaml
Labels: none

tests/main/interfaces-ros-opt-data: disable on Ubuntu Core
  tests/main/interfaces-ros-opt-data/task.yaml
Labels: none

daemon,o/servicestate: fix selecting all users for non-root users
  daemon/api_apps_test.go
  overlord/servicestate/servicestate.go
  overlord/servicestate/servicestate_test.go
Labels: Needs Documentation -auto-

daemon,o/servicestate: support for scopes and users in API for services
  daemon/api_apps.go
  daemon/api_apps_test.go
  daemon/api_base_test.go
  daemon/export_api_apps_test.go
  daemon/export_test.go
  overlord/hookstate/ctlcmd/export_test.go
  overlord/hookstate/ctlcmd/helpers.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/servicestate/service_control.go
  overlord/servicestate/service_control_test.go
  overlord/servicestate/servicestate.go
  overlord/servicestate/servicestate_test.go
  wrappers/services.go
Labels: Needs Documentation -auto-

daemon,o/servicestate: handle not-set scope and simplify error messages
  daemon/api_apps_test.go
  overlord/servicestate/servicestate.go
  overlord/servicestate/servicestate_test.go
Labels: Needs Documentation -auto-

o/servicestate: add unmarshal tests for Instruction
  overlord/servicestate/servicestate_test.go
Labels: none

daemon: allow polkit "io.snapcraft.snapd.manage" for /v2/apps endpoint
  daemon/api_apps.go
  daemon/api_apps_test.go
Labels: Needs Documentation -auto-

aspects: validate summary descriptions (#13609)
  aspects/aspects.go
  aspects/aspects_test.go
  asserts/aspect_bundle.go
  asserts/aspect_bundle_test.go
Labels: none

o/assertstate: use ValidationSetKey to create unique identifiers for validation sets
  overlord/assertstate/validation_set_tracking.go
Labels: none

dirs/dirs.go: SeSnapHomeDirs comment fixup
  dirs/dirs.go
Labels: none

o/devicestate: correct comment terminology
  overlord/devicestate/handlers_systems.go
Labels: none

many: replace snap.Info params to Setup and SetupMany methods on security backends with interfaces.SnapAppSet
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/backend.go
  interfaces/dbus/backend.go
  interfaces/dbus/backend_test.go
  interfaces/helpers.go
  interfaces/helpers_test.go
  interfaces/ifacetest/backend.go
  interfaces/ifacetest/backendtest.go
  interfaces/kmod/backend.go
  interfaces/kmod/backend_test.go
  interfaces/mount/backend.go
  interfaces/polkit/backend.go
  interfaces/seccomp/backend.go
  interfaces/seccomp/backend_test.go
  interfaces/systemd/backend.go
  interfaces/udev/backend.go
  interfaces/udev/backend_test.go
  overlord/ifacestate/export_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
  overlord/ifacestate/ifacestate_test.go
Labels: none

interfaces, many: replace snap.Info param to Repository.SnapSpecification with a SnapAppSet
  interfaces/apparmor/backend.go
  interfaces/dbus/backend.go
  interfaces/kmod/backend.go
  interfaces/mount/backend.go
  interfaces/polkit/backend.go
  interfaces/repo.go
  interfaces/repo_test.go
  interfaces/seccomp/backend.go
  interfaces/systemd/backend.go
  interfaces/udev/backend.go
Labels: none

interfaces: add methods for getting snap.Info and instance name from SnapAppSet
  interfaces/snap_app_set.go
  interfaces/snap_app_set_test.go
Labels: none

kernel,overlord: use function from kernel pkg to get kernel early
  kernel/kernel_drivers.go
  overlord/devicestate/handlers.go
  overlord/snapstate/backend/setup.go
Labels: none

update how initramfs is built for uc24
  spread.yaml
  tests/lib/assertions/ubuntu-core-24-amd64.model
  tests/lib/prepare.sh
Labels: none

update workflow
  .github/workflows/test.yaml
Labels: none

sign the pc-kernel in uc24
  tests/lib/nested.sh
  tests/lib/prepare.sh
Labels: Run nested -auto-

overlord, o/devicestate: support remodeling on hybrid models (#13464)
  gadget/gadget.go
  gadget/gadget_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/handlers_remodel.go
  overlord/devicestate/handlers_systems.go
  overlord/devicestate/handlers_test.go
  overlord/devicestate/remodel.go
  overlord/managers_test.go
  overlord/snapstate/snapstatetest/snapstate.go
  tests/lib/assertions/classic-model-rev1.assert
  tests/lib/assertions/classic-model-rev1.json
  tests/lib/assertions/classic-model.assert
  tests/lib/tools/setup_nested_hybrid_system.sh
  tests/nested/manual/hybrid-remodel/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Run nested -auto-

interfaces/apparmor/template: add read access to /etc/default/keyboard
  interfaces/apparmor/template.go
Labels: none

many: return Get output directly
  aspects/schema.go
  daemon/api_aspects.go
  daemon/api_aspects_test.go
  daemon/export_test.go
  overlord/aspectstate/aspectstate.go
  overlord/aspectstate/aspectstate_test.go
Labels: Needs Documentation -auto-

many: apply new home directory rules to data copy (#13145)
  dirs/dirs.go
  dirs/dirs_test.go
  overlord/configstate/configcore/export_test.go
  overlord/configstate/configcore/homedirs.go
  overlord/configstate/configcore/homedirs_test.go
  overlord/configstate/configmgr.go
  overlord/configstate/configstate_test.go
  overlord/snapstate/backend/copydata_test.go
  overlord/snapstate/backend/export_test.go
  overlord/snapstate/backend/snapdata.go
  overlord/snapstate/backend/snapdata_test.go
  snap/helpers.go
  snap/info.go
  snap/info_test.go
  tests/main/snapd-homedirs-vendored/task.yaml
  tests/main/snapd-homedirs/task.yaml
  tests/main/snapd-homedirs/test-snapd-sh/bin/sh
  tests/main/snapd-homedirs/test-snapd-sh/meta/snap.yaml
  wrappers/services_test.go
Labels: Needs Documentation -auto-

interfaces: we actually expect snaps to auto-connect to desktop
  interfaces/builtin/desktop.go
  interfaces/policy/basedeclaration_test.go
Labels: none

tests/lib/tools/tests.invariant: ignore session for user ubuntu
  tests/lib/tools/tests.invariant
Labels: none

overlord: fix race in refresh monitoring tests
  overlord/managers_test.go
Labels: none

interfaces/desktop: fix typo in colord comment
  interfaces/builtin/desktop.go
Labels: none

snap: rename Component.Hooks to Component.ExplicitHooks to better convey contents
  snap/info_snap_yaml.go
  snap/info_snap_yaml_test.go
  snap/types.go
  snap/validate.go
Labels: none

snap: use componentYaml inside snapYaml so that Component can hold different data
  snap/info_snap_yaml.go
  snap/types.go
Labels: none

snap: validate component hooks in Validate
  snap/validate.go
  snap/validate_test.go
Labels: none

snap: add TODO about adding hook fields to ComponentInfo
  snap/component.go
Labels: none

snap: add hooks to snap component types
  overlord/snapstate/component_install_test.go
  snap/hooktypes.go
  snap/info.go
  snap/info_snap_yaml.go
  snap/info_snap_yaml_test.go
  snap/types.go
Labels: none

snap: prevent component hooks from having slots for now
  snap/info_snap_yaml.go
  snap/info_snap_yaml_test.go
Labels: none

snap: remove unused yaml tags from ComponentInfo
  snap/component.go
Labels: none

interfaces: we actually expect snaps to auto-connect to desktop
  interfaces/builtin/desktop.go
  interfaces/policy/basedeclaration_test.go
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
