Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

revert change in workers
  spread.yaml
Labels: none

use parameter "-rtc base=utc,clock=vm" on machines
  tests/lib/nested.sh
Labels: Run nested -auto-

revert change to use ubuntu-image snap
  spread.yaml
  tests/lib/nested.sh
Labels: Run nested -auto-

store: use as much from snap-yaml as possible if available
  store/details_v2.go
  store/details_v2_test.go
Labels: none

o/aspectstate: improve and extend tests
  overlord/aspectstate/aspectstate_test.go
Labels: none

aspects: make filtering behaviour more consistent
  aspects/aspects.go
  aspects/aspects_test.go
  aspects/transaction.go
  overlord/aspectstate/aspectstate.go
Labels: none

aspects: return result through parameter
  aspects/aspects.go
  aspects/aspects_test.go
  aspects/transaction.go
  overlord/aspectstate/aspectstate.go
  overlord/aspectstate/aspectstate_test.go
Labels: none

aspects: support user-defined types in schemas
  aspects/schema.go
  aspects/schema_test.go
Labels: none

Add NVMe partition support
  interfaces/builtin/microceph.go
Labels: none

Allow for higher number of SCSI and virtio devices
  interfaces/builtin/microceph.go
Labels: none

interfaces/desktop: allow snaps to provide a desktop slot, granting access to system fonts and xdg-desktop-portal (#10753)
  interfaces/builtin/desktop.go
  interfaces/builtin/desktop_test.go
  interfaces/policy/basedeclaration_test.go
  tests/main/interfaces-desktop-host-fonts-core/desktop-provider/meta/snap.yaml
  tests/main/interfaces-desktop-host-fonts-core/task.yaml
  tests/main/interfaces-many-snap-provided/test-snapd-policy-app-provider-core/meta/snap.yaml
Labels: none

wrappers: tell user systemd instances to reload after updating snapd's user units
  wrappers/core18.go
  wrappers/core18_test.go
Labels: none

boot: improved setting EFI boot variables on install
  boot/makebootable.go
Labels: none

wrappers: tell user systemd instances to reload after updating snapd's user units
  wrappers/core18.go
  wrappers/core18_test.go
Labels: none

t/m/snapd-homedirs-vendored: disable on 23+, snapd is too new
  tests/main/snapd-homedirs-vendored/task.yaml
Labels: none

t/m/snapd-homedirs-vendored: clarify comment for ubuntu 18
  tests/main/snapd-homedirs-vendored/task.yaml
Labels: none

gadget,osutil: use vfat-16 instead of fat16, and vfat-32 as
  gadget/gadget.go
  gadget/gadget_test.go
  osutil/mkfs/mkfs.go
  osutil/mkfs/mkfs_test.go
Labels: none

gadget: add a way to reset recursive data structure
  gadget/gadget.go
Labels: none

interfaces/qualcomm-ipc-router: split in slot and plug
  interfaces/builtin/qualcomm_ipc_router.go
  interfaces/builtin/qualcomm_ipc_router_test.go
  interfaces/policy/basedeclaration_test.go
Labels: none

snap/naming: add ancillary function to check label names
  snap/naming/validate.go
Labels: none

optimizing home directory caching
  dirs/dirs.go
  overlord/configstate/configcore/homedirs.go
  overlord/configstate/configmgr.go
  snap/info.go
Labels: Needs Documentation -auto-

daemon: make tests pass with race detector
  daemon/api_base_test.go
Labels: Needs Documentation -auto-

interfaces/qualcomm-ipc-router: split in slot and plug
  interfaces/builtin/qualcomm_ipc_router.go
  interfaces/builtin/qualcomm_ipc_router_test.go
  interfaces/policy/basedeclaration_test.go
Labels: none

snap/naming: add ancillary function to check label names
  snap/naming/validate.go
Labels: none

i/b/qualcomm_ipc_router.go: switch to plug/slot and add socket permission
  interfaces/builtin/qualcomm_ipc_router.go
  interfaces/builtin/qualcomm_ipc_router_test.go
  interfaces/policy/basedeclaration_test.go
Labels: none

snap/naming: add ancillary function to check label names
  snap/naming/validate.go
Labels: none

interfaces/qualcomm-ipc-router: split in slot and plug
  interfaces/builtin/qualcomm_ipc_router.go
  interfaces/builtin/qualcomm_ipc_router_test.go
  interfaces/policy/basedeclaration_test.go
Labels: none

i/b/qualcomm_ipc_router.go: switch to plug/slot and add socket permission
  interfaces/builtin/qualcomm_ipc_router.go
  interfaces/builtin/qualcomm_ipc_router_test.go
  interfaces/policy/basedeclaration_test.go
Labels: none

release: 2.60.4
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: none

release: 2.60.4 (#13200)
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: none

release: 2.60.4 (#13200)
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: none

release-tools: add support for NEWS.md changelog.py
  packaging/ubuntu-16.04/control
  release-tools/changelog.py
  release-tools/test/changelog.py
  release-tools/test/test_changelog.py
  run-checks
Labels: none

release-tools: add flake8 test and fix flake8 issue
  release-tools/changelog.py
  release-tools/test/test_flake8.py
Labels: none

aspects: refactor user type get
  aspects/schema.go
Labels: none

aspects: validate user type name against regex
  aspects/aspects.go
  aspects/schema.go
  aspects/schema_test.go
Labels: none

aspects: make whitespace consistent in test schemas
  aspects/schema_test.go
Labels: none

removed fake fail from spread test
  tests/main/preseed-core20-configure-hooks/task.yaml
  unit_tests_to_fix.txt
Labels: none

o/state: add missing initalizers and unit test
  overlord/state/state.go
  overlord/state/state_test.go
Labels: none

daemon: remove need for TearDownTest by using AddCleanup method to reset GlobalRootDir
  daemon/api_base_test.go
Labels: Needs Documentation -auto-

tests: increase memory limit for snapd during the tests to 200M
  tests/lib/prepare.sh
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
