Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

naming: add well-known core24 snap-id
  snap/naming/wellknown.go
Labels: none

i/builtin: rename openGlInterface to openglInterface
  interfaces/builtin/opengl.go
Labels: none

osutil: remove --badname from the useradd call as it was doing nothing for our use-case. The regex used by snapd is already sufficient and a lot more strict.
  osutil/user.go
  osutil/user_test.go
Labels: none

osutil: fix typo of available
  osutil/user.go
Labels: none

tests/nested/manual/remodel-offline: fix shellcheck warning on test's -a flag
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-

tests/nested/manual/uc20-install-in-initrd: use "not" rather than "!" in spread test
  tests/nested/manual/uc20-install-in-initrd/task.yaml
Labels: Run nested -auto-

client: verify that normal (online) remodel does not set offline field in JSON payload
  client/model_test.go
Labels: none

s/a/n/listener: correct size of Class and Op in msgNotificationFile to match fields in msgNotificationOpKernel
  sandbox/apparmor/notify/listener/listener_test.go
Labels: none

s/a/n/listener: correct size of Class and Op in msgNotificationFile to match fields in msgNotificationOpKernel
  sandbox/apparmor/notify/listener/listener_test.go
Labels: none

o/devicestate: use temporary db when loading assertions
  overlord/devicestate/handlers_install.go
Labels: none

o/devicestate: refactor to only open seed once in doInstallFinish
  overlord/devicestate/devicemgr.go
  overlord/devicestate/handlers_install.go
Labels: none

o/devicestate: consider seed not implementing seed.Copier as an internal error
  overlord/devicestate/handlers_install.go
Labels: none

tests: run unit tests for nobolt build tag
  .github/workflows/test.yaml
Labels: none

tests: add details to tests/main/interfaces-opengl-nvidia/task.yaml
  tests/main/interfaces-opengl-nvidia/task.yaml
Labels: none

tests: add test about defining a custom-device slot on an app
  tests/main/interfaces-custom-device-app-slot/device-app/bin/cmd
  tests/main/interfaces-custom-device-app-slot/device-app/meta/snap.yaml
  tests/main/interfaces-custom-device-app-slot/task.yaml
Labels: none

i/builtin: custom-device connection rule was incorrect, fix it
  interfaces/builtin/custom_device.go
Labels: none

aspects: adapt NewBundle to work with real assertions
  aspects/aspects.go
  aspects/aspects_test.go
  overlord/aspectstate/aspectstate.go
  overlord/aspectstate/aspecttest/mock_aspect.go
Labels: none

client, cmd/snap, daemon: api level changes for introducing offline flag to remodel (#13507)
  client/model.go
  client/model_test.go
  cmd/snap/cmd_remodel.go
  cmd/snap/cmd_remodel_test.go
  daemon/api_model.go
  daemon/api_model_test.go
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-, Needs Documentation -auto-

i/builtin: support polkitd path on core24
  interfaces/builtin/polkit.go
  interfaces/builtin/polkit_test.go
Labels: none

dirs.go fixups and improvements
  dirs/dirs.go
Labels: none

packaging: drop bolt from debian dependencies
  packaging/debian-sid/control
  packaging/debian-sid/patches/0005-advisor-errtracker-use-upstream-bolt-package.patch
  packaging/debian-sid/patches/series
Labels: none

aspects: restore error message
  aspects/aspects.go
  aspects/aspects_test.go
Labels: none

o/devicestate: use timings.Measurer from task
  overlord/devicestate/handlers_install.go
Labels: none

o/devicestate: pack return values from loadSystemAndEssentialSnaps into systemAndEssentialSnaps struct
  overlord/devicestate/devicemgr.go
  overlord/devicestate/handlers_install.go
Labels: none

osutil: remove obsolete part of the comment
  osutil/user.go
Labels: none

aspects: adapt NewBundle to work with real assertions (#13539)
  aspects/aspects.go
  aspects/aspects_test.go
  overlord/aspectstate/aspectstate.go
  overlord/aspectstate/aspecttest/mock_aspect.go
Labels: none

interfaces: add usb-id for GoTrust Idem Key 1C
  interfaces/builtin/u2f_devices.go
Labels: none

many: skip binaries removal during refresh for RAA UX flow
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

o/snapstate: skip aliases removal during refresh for RAA UX flow
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_aliasesv2_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
Labels: none

cmd/{snap,snaplock/runinhibit}: refactor inhibition notification flows
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  cmd/snap/export_test.go
  cmd/snap/inhibit.go
  cmd/snaplock/runinhibit/export_test.go
  cmd/snaplock/runinhibit/inhibit.go
  cmd/snaplock/runinhibit/inhibit_test.go
Labels: none

packaging: do not use bolt on Debian
  packaging/debian-sid/rules
Labels: none

o/snapstate: fix SkipBinaries unit tests
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

o/snapstate: fix SkipBinaries unit tests
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

aspects: support finding schemas at end of path
  aspects/aspects.go
  aspects/schema.go
  aspects/schema_test.go
  aspects/transaction_test.go
Labels: none

aspects: check if matched storage paths are incompatible
  aspects/aspects.go
  aspects/aspects_test.go
Labels: none

tests/nested/manual/hybrid-remodel: add TODO about testing system seeds on hybrid systems
  tests/nested/manual/hybrid-remodel/task.yaml
Labels: Run nested -auto-

tests/nested/manual/hybrid-remodel: properly wait for reboot
  tests/nested/manual/hybrid-remodel/task.yaml
Labels: Run nested -auto-

tests/nested/manual/hybrid-remodel: use change_id to make assertions more specific
  tests/nested/manual/hybrid-remodel/task.yaml
Labels: Run nested -auto-

aspects: support finding schemas at end of path
  aspects/aspects.go
  aspects/schema.go
  aspects/schema_test.go
  aspects/transaction_test.go
Labels: none

aspects: check if matched storage paths are incompatible
  aspects/aspects.go
  aspects/aspects_test.go
Labels: none
