Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

many: introduce snapstate.PrereqTracker
  overlord/devicestate/devicestate_test.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/refreshhints.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
  overlord/snapstate/storehelpers_test.go
  snap/validate.go
  snap/validate_test.go
Labels: Needs Documentation -auto-

many: pass PrereqTracker to Update|Install*WithDeviceContext
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

o/devicestate: next steps TODO for remodel to support alternative providers
  overlord/devicestate/devicestate.go
Labels: none

snap: introduce SimplePrereqTracker
  snap/info.go
  snap/info_test.go
  snap/validate.go
  snap/validate_test.go
Labels: none

o/devicetate: next steps TODO for seeding to support alternative providers
  overlord/devicestate/firstboot.go
Labels: none

snap: for clarity check for some-snap too in TestSimplePrereqTracker
  snap/validate_test.go
Labels: none

many: pass PrereqTracker to InstallPath
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
  daemon/export_test.go
  overlord/devicestate/firstboot.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
Labels: Needs Documentation -auto-

o/snapstate: rename prereqTrack => addPrereq
  overlord/snapstate/snapstate.go
Labels: none

Fix selinux policy for polkit agent
  data/selinux/snappy.te
Labels: none

Skip layout-change test in all arm devices
  tests/main/layout-change/task.yaml
Labels: none

aspects: correct typo in test name
  aspects/schema_test.go
Labels: none

overlord/snapstate: address review comments (thanks @ MiguelPires)
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
Labels: none

Update tests/core/system-snap-refresh/task.yaml
  tests/core/system-snap-refresh/task.yaml
Labels: none

Fix spread error in MATCH
  tests/main/snaps-state/task.yaml
Labels: none

fix shellcheck
  tests/core/system-snap-refresh/task.yaml
Labels: none

Fix system-snap-refresh in uc20
  tests/core/system-snap-refresh/task.yaml
  tests/lib/tools/snaps-state
  tests/main/snaps-state/task.yaml
Labels: none

gadget: add kernel parameters from "append" in gadget yaml
  boot/boot.go
  boot/boot_test.go
  boot/cmdline.go
  boot/cmdline_test.go
  boot/makebootable.go
  boot/seal.go
  boot/seal_test.go
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/kcmdline_test.go
Labels: none

gadget: add kernel command-line remove filter to gadget yaml
  boot/cmdline.go
  boot/cmdline_test.go
  bootloader/bootloader.go
  bootloader/grub.go
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/kcmdline_test.go
  osutil/kcmdline/kcmdline.go
Labels: none

tests: add spread test for append/remove cmdline from gadget.yaml
  tests/nested/manual/cmdline-remove-append/task.yaml
Labels: Run nested -auto-

o/snapstate: fix test name typo (thanks @MiguelPires)
  overlord/snapstate/handlers_link_test.go
Labels: none

make sure not extra output is displayed showing rev
  tests/lib/tools/snaps-state
  tests/main/snaps-state/task.yaml
Labels: none

i, i/builtin, osutil: more review improvements
  interfaces/builtin/personal_files.go
  interfaces/builtin/personal_files_test.go
  interfaces/builtin/shared_memory.go
  interfaces/ensure_dir.go
  interfaces/helpers.go
  interfaces/helpers_test.go
  osutil/mountentry_linux_test.go
Labels: none

gadget: add kernel command-line remove filter to gadget yaml
  boot/cmdline.go
  boot/cmdline_test.go
  bootloader/bootloader.go
  bootloader/grub.go
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/kcmdline_test.go
  osutil/kcmdline/kcmdline.go
Labels: none

tests: add spread test for append/remove cmdline from gadget.yaml
  tests/nested/manual/cmdline-remove-append/task.yaml
Labels: Run nested -auto-

gadget: add kernel parameters from "append" in gadget yaml
  boot/boot.go
  boot/boot_test.go
  boot/cmdline.go
  boot/cmdline_test.go
  boot/makebootable.go
  boot/seal.go
  boot/seal_test.go
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/kcmdline_test.go
Labels: none

i, i/builtin, osutil: more review improvements
  interfaces/builtin/personal_files.go
  interfaces/builtin/shared_memory.go
  interfaces/builtin/utils.go
  interfaces/builtin/utils_test.go
  interfaces/helpers.go
  interfaces/helpers_test.go
Labels: none

boot: lock the modeenv while reading revisions
  boot/boot.go
  boot/boot_test.go
Labels: none

sandbox/apparmor: add support for probing parser for unconfined flag
  sandbox/apparmor/apparmor.go
  sandbox/apparmor/apparmor_test.go
Labels: none

interfaces/apparmor: add support for unconfined profile flag
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/spec.go
  interfaces/apparmor/template.go
Labels: none

tests/main/lxd: verify apparmor profile has expected perms on mantic
  tests/main/lxd/task.yaml
Labels: none

interfaces/builtin/lxd_support: add userns and unconfined permissions
  interfaces/builtin/lxd_support.go
  interfaces/builtin/lxd_support_test.go
Labels: none

wrappers, overlord: update tests based on code review
  overlord/snapstate/export_test.go
  overlord/snapstate/snapmgr.go
  wrappers/desktop_test.go
Labels: none

wrappers: extend EnsureSnapDesktopFiles to support multiple snaps at once
  overlord/snapstate/backend/link.go
  wrappers/desktop.go
  wrappers/desktop_test.go
Labels: none

overlord: update desktop files on SnapManager.Ensure()
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_test.go
Labels: none

cmd/snapd-generator: read mountinfo for pid 1
  cmd/snapd-generator/main.c
Labels: none

cmd/snap: add "snap routine desktop-launch" command
  cmd/snap/cmd_desktop_launch.go
  cmd/snap/cmd_desktop_launch_test.go
Labels: none

desktop/desktopentry: add support for an X-Snap-Exec key in the desktop file
  desktop/desktopentry/desktopentry.go
  desktop/desktopentry/desktopentry_test.go
Labels: none

many: introduce snapstate.PrereqTracker interface and snap.SimplePrereqTracker (#13320)
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
  daemon/export_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/handlers_test.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/managers_test.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/refreshhints.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
  overlord/snapstate/storehelpers_test.go
  snap/info.go
  snap/info_test.go
  snap/validate.go
  snap/validate_test.go
Labels: Needs Documentation -auto-

wrappers: rewrite desktop file exec lines to use use "snap routine desktop-launch"
  overlord/snapstate/snapstate_test.go
  wrappers/desktop.go
  wrappers/desktop_test.go
Labels: none

cmd/snap: convert desktop-launch's "file or URI" command line arguments to URIs
  cmd/snap/cmd_desktop_launch.go
  cmd/snap/cmd_desktop_launch_test.go
  cmd/snap/export_test.go
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
