Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

spread.yaml: add autopkgtest entries for Debian
  spread.yaml
Labels: none

spread.yaml: use AUTOPKGTEST_NORMAL_USER instead of hard-coded ubuntu
  spread.yaml
Labels: none

debian: use "go install" to install spread
  packaging/debian-sid/tests/integrationtests
Labels: none

debian: do not hard-code the "ubuntu" password
  packaging/debian-sid/tests/integrationtests
Labels: none

debian: print the user running integration tests
  packaging/debian-sid/tests/integrationtests
Labels: none

debian: cope with unset ID and VERSION_ID
  packaging/debian-sid/tests/integrationtests
Labels: none

o/devicestate, overlord, daemon: add flag to devicestate.Remodel to force an offline remodel (#13494)
  daemon/api_model.go
  daemon/api_model_test.go
  daemon/export_api_model_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/handlers_remodel.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstatetest/snapstate.go
  snap/errors.go
  snap/errors_test.go
Labels: Needs Documentation -auto-

seed: check specific error message in tests
  seed/seed20_test.go
Labels: none

seed: fix file count bug in compareDirs
  seed/seed20_test.go
Labels: none

seed: add Copier interface and implement it for seed20 (#13495)
  osutil/cp.go
  seed/seed.go
  seed/seed20.go
  seed/seed20_test.go
Labels: none

o/devicestate: copy seed on finish install API call, for UC
  overlord/devicestate/devicestate_install_api_test.go
  overlord/devicestate/handlers_install.go
Labels: none

tests/muinstaller: do not copy seed anymore
  tests/lib/muinstaller/main.go
Labels: none

o/devicestate: update installer API to use seed.Copy interface rather than a manual copy
  overlord/devicestate/devicestate_install_api_test.go
  overlord/devicestate/handlers_install.go
Labels: none

fixup! overlord,kernel: add function to extract kernel version from
  kernel/kernel.go
  kernel/kernel_test.go
Labels: none

fixup! o/snapstate: add handlers to set-up kernel-modules components
  overlord/snapstate/backend/kernel_modules_components.go
  overlord/snapstate/handlers_components.go
  overlord/snapstate/handlers_kernel_modules_components_test.go
Labels: none

daemon: add offline field to remodeling JSON payload
  daemon/api_model.go
  daemon/api_model_test.go
Labels: Needs Documentation -auto-

client, cmd/snap: add offline boolean option for remodeling to client and cli interface
  client/model.go
  client/model_test.go
  cmd/snap/cmd_remodel.go
  cmd/snap/cmd_remodel_test.go
Labels: none

daemon: make snap files optional in the "multipart/form-data" remodel api
  daemon/api_model.go
Labels: Needs Documentation -auto-

tests/nested/manual/remodel-offline: add variants to test different combinations of installed/local snaps/assertions
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-

tests/nested/manual/muinstaller-core: update test to check for properly installed seed after installation
  tests/nested/manual/muinstaller-core/task.yaml
Labels: Run nested -auto-

tests/nested/manual/uc20-install-in-initrd: test various systems that support single-boot install
  tests/nested/manual/uc20-install-in-initrd/task.yaml
Labels: Run nested -auto-

packaging/fedora: sync with Fedora/EPEL and Amazon Linux packaging
  packaging/fedora/snapd.spec
Labels: none

tests/lib/prepare-restore: remove xdelta on Amazon Linux 2023
  tests/lib/prepare-restore.sh
Labels: none

sandbox/cgroup: refactor and cleanup, fix path tracking and watch removal (#13508)
  sandbox/cgroup/export_test.go
  sandbox/cgroup/monitor.go
  sandbox/cgroup/monitor_test.go
Labels: none

cmd/snap: add CLI support for unsetting aspects
  cmd/snap/cmd_get.go
  cmd/snap/cmd_set.go
  cmd/snap/cmd_set_test.go
  cmd/snap/cmd_unset.go
  cmd/snap/cmd_unset_test.go
Labels: none

naming: add well-known core24 snap-id
  snap/naming/wellknown.go
Labels: none

osutil: move to useradd: improve comment text
  osutil/user.go
Labels: none

cmd/snap: add CLI support for unsetting aspects
  cmd/snap/cmd_get.go
  cmd/snap/cmd_set.go
  cmd/snap/cmd_set_test.go
  cmd/snap/cmd_unset.go
  cmd/snap/cmd_unset_test.go
Labels: none

comment fixup
  dirs/dirs.go
Labels: none

Add extra test
  snap/info.go
  usersession/agent/rest_api_test.go
Labels: none

advisor: allow building without bolt using nobolt tag
  advisor/backend.go
  advisor/backend_common.go
  advisor/backend_nobolt.go
  advisor/cmdfinder_test.go
Labels: none

gadget: fix typo, tweak test
  gadget/update_test.go
Labels: none

client: update comment on RemodelWithLocalSnaps to mention not contacting the store
  client/model.go
Labels: none

c/snap: remove unneeded var declaration
  cmd/snap/cmd_remodel_test.go
Labels: none

tests/nested/manual/remodel-offline: clarify section that acks/adds the validation set assertion
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-

gadget: add unit test for default policy and no previous edition (#13520)
  gadget/update_test.go
Labels: none

c/snap-bootstrap: add test for single-boot install without a fde-setup hook
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: none

many: allow building without bolt using nobolt tag
  advisor/backend_bolt.go
  advisor/backend_common.go
  advisor/backend_nobolt.go
  advisor/cmdfinder_test.go
  cmd/snap/cmd_advise_test.go
  overlord/snapstate/catalogrefresh.go
  overlord/snapstate/catalogrefresh_test.go
  store/store_test.go
Labels: none

advisor: adjust error message
  advisor/backend_common.go
Labels: none

i/builtin: move /usr/share/nvidia to opengl internals
  dirs/dirs.go
  interfaces/builtin/opengl.go
  interfaces/builtin/opengl_test.go
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
