Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

c/snap-repair: make snap-repair exit 0 when the store is marked as offline
  cmd/snap-repair/cmd_run.go
  cmd/snap-repair/cmd_run_test.go
Labels: none

o/state,daemon: add refresh-inhibit notice
  daemon/api_notices_test.go
  overlord/state/notices.go
  overlord/state/notices_test.go
Labels: Needs Documentation -auto-

o/snapstate: record refresh-inhibit notices when auto-refresh is blocked
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

o/snapstate: fix Stop() call ordering for SnapManager unit tests
  overlord/snapstate/aliasesv2_test.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_remove_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_try_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

build-aux: add libzstd to snapd snap for snap pack
  build-aux/snap/snapcraft.yaml
Labels: none

packaging: wrap-and-sort -d debian-sid
  packaging/debian-sid/control
  packaging/debian-sid/snapd.dirs
  packaging/debian-sid/snapd.install
  packaging/debian-sid/snapd.links
  packaging/debian-sid/snapd.maintscript
  packaging/debian-sid/tests/control
Labels: none

packaging: wrap-and-sort -d ubuntu-16.04
  packaging/ubuntu-16.04/control
  packaging/ubuntu-16.04/snapd.dirs
  packaging/ubuntu-16.04/snapd.links
  packaging/ubuntu-16.04/snapd.maintscript
  packaging/ubuntu-16.04/tests/control
Labels: none

packaging: wrap-and-sort -d ubuntu-14.04
  packaging/ubuntu-14.04/control
  packaging/ubuntu-14.04/snapd.dirs
  packaging/ubuntu-14.04/snapd.install
  packaging/ubuntu-14.04/tests/control
Labels: none

o/devicestate: add concept of default-recovery-system (#13634)
  client/systems.go
  cmd/snap/cmd_reboot.go
  cmd/snap/cmd_reboot_test.go
  cmd/snap/cmd_recovery.go
  cmd/snap/cmd_recovery_test.go
  daemon/api_systems.go
  daemon/api_systems_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_systems.go
  overlord/devicestate/remodel.go
  overlord/devicestate/systems.go
Labels: Needs Documentation -auto-

aspects: rename user-defined types to aliases
  aspects/aspects.go
  aspects/aspects_test.go
  aspects/schema.go
  aspects/schema_test.go
Labels: none

o/devicestate: remove unused method
  overlord/devicestate/handlers.go
Labels: none

o/devicestate: remove unused method
  overlord/devicestate/handlers.go
Labels: none

snap: test ReadComponentInfo when finishing ComponentInfo with Info
  snap/component_test.go
Labels: none

snap, c/snap: add snap.ComponentMountDir function
  cmd/snap/cmd_run.go
  snap/component.go
  snap/info.go
  snap/info_test.go
Labels: none

snap, c/snap: rename ComponentFromSnapComponentInstance to SplitSnapComponentInstanceName
  cmd/snap/cmd_run.go
  snap/info.go
  snap/info_test.go
Labels: none

snap: fix typo in comment
  snap/component.go
Labels: none

c/snap: update TODO to mention that we need component revision to set env var
  cmd/snap/cmd_run.go
Labels: none

cmd/snap-confine: always set up the device cgroup unless using one of the old bases
  cmd/snap-confine/snap-confine.c
  cmd/snap-confine/udev-support.c
  cmd/snap-confine/udev-support.h
Labels: none

tests/main/security-device-cgroups-required-or-optional: simple spread test
  tests/main/security-device-cgroups-required-or-optional/task.yaml
Labels: none

s/snapenv, c/snap: add support for component hooks to ExtendEnvForRun
  cmd/snap/cmd_run.go
  snap/snapenv/snapenv.go
  snap/snapenv/snapenv_test.go
Labels: none

c/snap: forward component info to snap-exec
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
Labels: none

c/snap: refactor runSnapConfine to operate on a runnable that can represent snap hooks, component hooks, and apps
  cmd/snap/cmd_run.go
Labels: none

snap: add functions to help with hook locations
  snap/info.go
  snap/info_test.go
Labels: none

c/snap-exec: handle running component hooks in snap-exec
  cmd/snap-exec/main.go
  cmd/snap-exec/main_test.go
Labels: none

o/hookstate: fix test that didn't set up a snap/component
  overlord/hookstate/hookstate_test.go
Labels: none

o/hookstate: remove TODO since component ref should always carry a snap name, not an instance name
  overlord/hookstate/hookmgr.go
Labels: none

cmd/snap-confine: always set up the device cgroup unless using one of the old bases
  cmd/snap-confine/snap-confine.c
  cmd/snap-confine/udev-support.c
  cmd/snap-confine/udev-support.h
Labels: none

tests/main/security-device-cgroups-required-or-optional: simple spread test
  tests/main/security-device-cgroups-required-or-optional/task.yaml
Labels: none

cmd/snap-confine: fix exploding homedirs bug
  cmd/snap-confine/mount-support.c
Labels: none

tests: add regression test for exploding namespace
  tests/regression/exploding-namespace/task.yaml
Labels: none

aspects: split unset out of the set methods
  aspects/aspects.go
  aspects/aspects_test.go
  aspects/transaction.go
  aspects/transaction_test.go
  daemon/api_aspects_test.go
  overlord/aspectstate/aspectstate.go
Labels: Needs Documentation -auto-

aspects: support unmatched placeholders w/ unset
  aspects/aspects.go
  aspects/aspects_test.go
Labels: none

many: remove snap data home directories
  overlord/snapstate/backend.go
  overlord/snapstate/backend/snapdata.go
  overlord/snapstate/backend/snapdata_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/handlers.go
  snap/info.go
  snap/info_test.go
  tests/main/snapd-homedirs/task.yaml
Labels: none

many: add snap-refresh-observe interface
  daemon/access.go
  daemon/access_test.go
  daemon/api_general.go
  daemon/api_general_test.go
  daemon/api_notices.go
  daemon/api_notices_test.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  daemon/export_access_test.go
  daemon/ucrednet.go
  daemon/ucrednet_test.go
  interfaces/builtin/snap_refresh_observe.go
  interfaces/builtin/snap_refresh_observe_test.go
  interfaces/policy/basedeclaration_test.go
  overlord/state/notices.go
  overlord/state/notices_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
  tests/main/interfaces-snap-refresh-observe/api-client/bin/api-client.py
  tests/main/interfaces-snap-refresh-observe/api-client/meta/snap.yaml
  tests/main/interfaces-snap-refresh-observe/task.yaml
Labels: Needs Documentation -auto-

aspects: revert accessType from bitfield
  aspects/aspects.go
Labels: none

go.mod: drop unused gopkg.in/mgo.v2
  go.mod
  go.sum
Labels: none

many: remove snap data home directories
  overlord/snapstate/backend.go
  overlord/snapstate/backend/snapdata.go
  overlord/snapstate/backend/snapdata_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/handlers.go
  snap/info.go
  snap/info_test.go
  tests/main/snapd-homedirs/task.yaml
Labels: none

many: add snap-refresh-observe interface
  daemon/access.go
  daemon/access_test.go
  daemon/api_general.go
  daemon/api_general_test.go
  daemon/api_notices.go
  daemon/api_notices_test.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  daemon/export_access_test.go
  daemon/ucrednet.go
  daemon/ucrednet_test.go
  interfaces/builtin/snap_refresh_observe.go
  interfaces/builtin/snap_refresh_observe_test.go
  interfaces/policy/basedeclaration_test.go
  overlord/state/notices.go
  overlord/state/notices_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
  tests/main/interfaces-snap-refresh-observe/api-client/bin/api-client.py
  tests/main/interfaces-snap-refresh-observe/api-client/meta/snap.yaml
  tests/main/interfaces-snap-refresh-observe/task.yaml
Labels: Needs Documentation -auto-

aspects: refactor common set/unset matching
  aspects/aspects.go
  aspects/aspects_test.go
Labels: none

support nested tests for uc24
  spread.yaml
  tests/lib/assertions/nested-24-amd64.model
  tests/lib/nested.sh
  tests/lib/prepare.sh
  tests/nested/core/core22-basic/task.yaml
Labels: Run nested -auto-
