Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

interfaces/desktop: allow access to Mutter IdleMonitor idle time (#13304)
  interfaces/builtin/desktop.go
  interfaces/builtin/desktop_test.go
Labels: none

cmd/snap,o/devicestate: consistently stop auto-import of assertions during install modes (install, factory-reset) (#13305)
  cmd/snap/cmd_auto_import.go
  cmd/snap/cmd_auto_import_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
Labels: none

Skip layout-change test in all arm devices
  tests/main/layout-change/task.yaml
Labels: none

gadget: prevent failures when updating kernel/gadget on UC16/18
  gadget/update.go
  gadget/update_test.go
Labels: none

seed/seedwriter,image: prereq check strategy change to use snap.ValidateBasesAndProviders (#13318)
  image/image_test.go
  seed/seedwriter/seed16.go
  seed/seedwriter/seed20.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: none

many: introduce snapstate.PrereqTracker interface and snap.SimplePrereqTracker (#13320)
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
  daemon/export_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/handlers_test.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/managers_test.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/refreshhints.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
  overlord/snapstate/storehelpers_test.go
  snap/info.go
  snap/info_test.go
  snap/validate.go
  snap/validate_test.go
Labels: Needs Documentation -auto-

revert i/b/microceph: allow more access for microceph-support (#13150) (#13322)
  interfaces/builtin/microceph.go
Labels: none

o/snapstate: try to make the check-rerefresh summary cleaner/clearer (#13323)
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  tests/core/kernel-and-base-single-reboot/task.yaml
Labels: none

boot: lock the modeenv while reading revisions
  boot/boot.go
  boot/boot_test.go
Labels: none

o/snapstate: check properly conflicts when refreshing snapd
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

client,tests: do not try to change the gid when reading/removing auth.json (#13321)
  client/login.go
  tests/main/nfs-support/task.yaml
Labels: none

many: introduce and use snap.SelfContainedSetPrereqTracker (#13340)
  image/image_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_update_test.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
  seed/validate.go
  seed/validate_test.go
  snap/validate.go
  snap/validate_test.go
Labels: none

tests: stablish a dependency between test and labeler workflows (#13363)
  .github/workflows/test.yaml
  tests/lib/nested.sh
Labels: Run nested -auto-

interfaces/builtin: modify shutdown interface to allow access to SetRebootParameter method (#12652)
  interfaces/builtin/shutdown.go
  interfaces/policy/basedeclaration_test.go
Labels: none

release-tools: add support for NEWS.md changelog.py (#13202)
  packaging/ubuntu-16.04/control
  release-tools/changelog.py
  release-tools/test/changelog.py
  release-tools/test/test_changelog.py
  release-tools/test/test_flake8.py
  run-checks
Labels: none

release-tools: improved help and inform of incorrect deb email
  release-tools/changelog.py
  release-tools/test/test_changelog.py
Labels: none

tests: fix snap-run test for fedora (#13365)
  tests/main/snap-run/task.yaml
Labels: none

Disable orphan_file feature for ext4
  osutil/mkfs/mkfs.go
  osutil/mkfs/mkfs_test.go
Labels: none

release-tools: fix handling of NEWS.md items
  release-tools/changelog.py
Labels: none

fixed flake8 failure
  release-tools/changelog.py
Labels: none

aspects: improve validation error message
  aspects/schema.go
  aspects/schema_test.go
Labels: none

aspects: include indexed array in validation error path
  aspects/schema.go
  aspects/schema_test.go
Labels: none

release-tools: improve changelog help and inform of incorrect deb email (#13369)
  release-tools/changelog.py
  release-tools/test/test_changelog.py
Labels: none

release-tools: fix handling of NEWS.md items
  release-tools/changelog.py
Labels: none

aspects: match requests on prefixes of patterns
  aspects/aspects.go
  aspects/aspects_test.go
Labels: none

cmd/snap-update-ns: added change tests
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/utils.go
Labels: none

cmd/snap-update-ns: fixed change unit test
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/export_test.go
Labels: none

cmd/snap-update-ns: added early exit for ensure-dir low-level
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
Labels: none

aspects: Get returns values in nested namespace
  aspects/aspects.go
  aspects/aspects_test.go
  overlord/aspectstate/aspectstate_test.go
Labels: none

tests: adding new load generator snap
  tests/lib/snaps/store/test-snapd-load-generator/load-generator
  tests/lib/snaps/store/test-snapd-load-generator/snapcraft.yaml
Labels: none

cmd/snap-update-ns: improved utils test coverage
  cmd/snap-update-ns/utils.go
  cmd/snap-update-ns/utils_test.go
Labels: none

interfaces: updates based on Zeyad's review
  interfaces/builtin/desktop.go
Labels: none

client,tests: do not try to change the gid when reading/removing auth.json (#13321)
  client/login.go
  tests/main/nfs-support/task.yaml
Labels: none

many: introduce and use snap.SelfContainedSetPrereqTracker (#13340)
  image/image_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_update_test.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
  seed/validate.go
  seed/validate_test.go
  snap/validate.go
  snap/validate_test.go
Labels: none

tests: avoid removing preinstalled snaps in external devices
  tests/lib/prepare.sh
  tests/lib/reset.sh
Labels: none

Support new Google Titan security key
  interfaces/builtin/u2f_devices.go
Labels: none

tests: enforce tests details (#13357)
  run-checks
  tests/lib/external/snapd-testing-tools/tests/check-test-format/task.yaml
  tests/lib/external/snapd-testing-tools/tests/check-test-format/tasks/task1
  tests/lib/external/snapd-testing-tools/tests/check-test-format/tasks/task1.yaml
  tests/lib/external/snapd-testing-tools/tests/check-test-format/tasks/task2.yaml
  tests/lib/external/snapd-testing-tools/tests/check-test-format/tasks/task3.yaml
  tests/lib/external/snapd-testing-tools/tests/check-test-format/tasks/task4.yaml
  tests/lib/external/snapd-testing-tools/tests/check-test-format/tasks/task5.yaml
  tests/lib/external/snapd-testing-tools/tests/check-test-format/tasks/task6.yaml
  tests/lib/external/snapd-testing-tools/utils/check-test-format
  tests/main/abort/task.yaml
Labels: none

tests: add missing details to tests part 1
  tests/main/ack/task.yaml
  tests/main/alias/task.yaml
  tests/main/api-get-systems-label/task.yaml
  tests/main/appstream-id/task.yaml
  tests/main/apt-hooks/task.yaml
  tests/main/aspects/task.yaml
  tests/main/auth-errors/task.yaml
Labels: none

fix error checking tests format
  run-checks
Labels: none

packaging: move directory for snapd-generator in debian sid
  packaging/debian-sid/snapd.install
Labels: none
