Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

cmd/snap-bootstrap: mount kernel components from initramfs
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
  cmd/snap-bootstrap/kernel_components.go
Labels: none

snap: add kernel-modules component type
  snap/types.go
Labels: none

o/snapstate, overlord: add snap.Info to snapstate.Download return values (#13458)
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: none

o/state,daemon: add per-user notices
  daemon/api_notices.go
  daemon/api_notices_test.go
  overlord/state/notices.go
  overlord/state/notices_test.go
Labels: Needs Documentation -auto-

daemon: replace notices admin checks with checks that user is root
  daemon/api_notices.go
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

daemon: improve notices API test coverage
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

Revert "daemon: make notices api require authenticated access (for now)"
  daemon/api_notices.go
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

a/snapasserts: add ValidationSets.SnapConstrained method (#13457)
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
Labels: none

interfaces/builtin: add google titan v2 to u2f-devices interface (#13383)
  interfaces/builtin/u2f_devices.go
Labels: none

fixup! o/snapstate: check info in snap and component is coherent
  overlord/snapstate/component.go
  overlord/snapstate/component_install_test.go
Labels: none

fixup! cmd/snap: allow installation of local components
  cmd/snap/cmd_snap_op.go
Labels: none

fixup! daemon: support sideloading of components
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
Labels: Needs Documentation -auto-

fixup! tests/main: add spread test for components
  tests/main/component/task.yaml
Labels: none

aspects: set can write to multiple paths (#13446)
  aspects/aspects.go
  aspects/aspects_test.go
  daemon/api_aspects.go
  daemon/api_aspects_test.go
Labels: Needs Documentation -auto-

c/cmd: update comment about plugs/slots sanitizing setup
  cmd/snap/main.go
Labels: none

c/snap: fix prepare-image vs seedwriter wrt plugs/slots sanitization
  cmd/snap/cmd_prepare_image.go
Labels: none

daemon: add helper for ErrorKindSnapNotInstalled errors
  daemon/errors.go
  daemon/errors_test.go
Labels: Needs Documentation -auto-

fixup! daemon: support sideloading of components
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
Labels: Needs Documentation -auto-

cmd/snaplock/runinhibit: add WithReadLock to read hints race free
  cmd/snaplock/runinhibit/inhibit.go
  cmd/snaplock/runinhibit/inhibit_test.go
Labels: none

cmd/snap: use updated "current" revision after snap refresh run inhibition
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
Labels: none

cmd/snap: address review comments (thanks @pedronis)
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
Labels: none

cmd/snap: cmd/snap: use updated "current" revision after snap refresh run inhibition (spike-2)
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  cmd/snap/export_test.go
  cmd/snap/inhibit.go
Labels: none

cmd/snap: address review comments (thanks @olivercalder)
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  cmd/snaplock/runinhibit/inhibit.go
Labels: none

cmd/snaplock/runinhibit: add OpenLock to avoid race conditions while reading hints
  cmd/snaplock/runinhibit/inhibit.go
  cmd/snaplock/runinhibit/inhibit_test.go
Labels: none

many: address review comments (thanks @pedronis)
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  cmd/snap/export_test.go
  cmd/snap/inhibit.go
  cmd/snaplock/runinhibit/inhibit.go
  cmd/snaplock/runinhibit/inhibit_test.go
Labels: none

cmd/snap: fix misspelling
  cmd/snap/cmd_run.go
Labels: none

many: address missing hint lock file for new snaps
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
Labels: none

cmd/snap: address review comments (thanks @olivercalder)
  cmd/snap/cmd_run.go
  cmd/snap/export_test.go
  cmd/snap/inhibit.go
Labels: none

many: reuse transient cgroup when retrying
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  cmd/snap/export_test.go
  sandbox/cgroup/tracking.go
  sandbox/cgroup/tracking_test.go
Labels: none

o/devicestate: fix panic when requesting a serial when device-service.access=offline
  overlord/devicestate/devicestate_serial_test.go
  overlord/devicestate/handlers_serial.go
Labels: none

o/devicestate: make error message consistent
  overlord/devicestate/handlers_serial.go
Labels: none

tests/nested: add check for update of base even on failed kernel
  tests/nested/core/failed-kernel-core-installs/task.yaml
Labels: Run nested -auto-

c/cmd: update comment about plugs/slots sanitizing setup
  cmd/snap/main.go
Labels: none

c/snap: fix prepare-image vs seedwriter wrt plugs/slots sanitization
  cmd/snap/cmd_prepare_image.go
Labels: none

s/apparmor/notify/listener: add listener package
  sandbox/apparmor/notify/listener/export_test.go
  sandbox/apparmor/notify/listener/listener.go
  sandbox/apparmor/notify/listener/listener_test.go
Labels: none

s/apparmor/notify/listener: allow originally allowed perms even when request denied
  sandbox/apparmor/notify/listener/listener.go
  sandbox/apparmor/notify/listener/listener_test.go
Labels: none

s/apparmor/notify/listener: remove pointer to parent listener from request struct
  sandbox/apparmor/notify/listener/listener.go
Labels: none

s/apparmor/notify/listener: properly handle if `Reqs()` never read
  sandbox/apparmor/notify/listener/listener.go
  sandbox/apparmor/notify/listener/listener_test.go
Labels: none

s/apparmor/notify{,/listener}: add support for multiple requests at once
  sandbox/apparmor/notify/listener/listener.go
  sandbox/apparmor/notify/listener/listener_test.go
  sandbox/apparmor/notify/message.go
  sandbox/apparmor/notify/message_test.go
Labels: none

sandbox/apparmor/notify/listener: gracefully handle listener terminating
  sandbox/apparmor/notify/listener/export_test.go
  sandbox/apparmor/notify/listener/listener.go
  sandbox/apparmor/notify/listener/listener_test.go
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
