Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

i/builtin: support polkitd path on core24
  interfaces/builtin/polkit.go
  interfaces/builtin/polkit_test.go
Labels: none

aspects: improve err message
  aspects/schema.go
  aspects/schema_test.go
Labels: none

SetSnapHomeDirs optimizations, fixups and unit test improvements
  dirs/dirs.go
  dirs/dirs_test.go
Labels: none

make globs only accessible via DataHomeGlobs
  dirs/dirs.go
  overlord/snapstate/backend/copydata_test.go
Labels: none

Added some tests to the FDO backend
  desktop/notification/export_test.go
  desktop/notification/fdo.go
  desktop/notification/fdo_test.go
  desktop/notification/gtk.go
Labels: none

snap: add support for errors.Is for NotInstalledError
  snap/errors.go
  snap/errors_test.go
Labels: none

o/snapstatetest, o/devicestate, overlord: add param to InstallSnap and InstallEssentialSnaps for setting up gadget files
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/handlers_test.go
  overlord/managers_test.go
  overlord/snapstate/snapstatetest/snapstate.go
Labels: none

tests/nested/manual/hybrid-remodel: new test for remodeling on a hybrid model
  tests/lib/assertions/classic-model-rev1.assert
  tests/lib/assertions/classic-model-rev1.json
  tests/lib/assertions/classic-model.assert
  tests/nested/manual/hybrid-remodel/task.yaml
Labels: Run nested -auto-

o/devicestate: allow remodeling on hybrid models
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/handlers_remodel.go
  overlord/devicestate/handlers_systems.go
Labels: none

aspects: support alternative types in schemas (#13502)
  aspects/schema.go
  aspects/schema_test.go
Labels: none

many: add a CLI for aspect get and set
  client/aspects.go
  client/aspects_test.go
  client/client_test.go
  cmd/snap/cmd_get.go
  cmd/snap/cmd_get_test.go
  cmd/snap/cmd_set.go
  cmd/snap/cmd_set_test.go
  daemon/api_aspects.go
  daemon/api_aspects_test.go
Labels: Needs Documentation -auto-

aspects: namespace Get value at API, not aspects/
  aspects/aspects.go
  aspects/aspects_test.go
  overlord/aspectstate/aspectstate.go
  overlord/aspectstate/aspectstate_test.go
Labels: none

Test sending actions
  desktop/notification/export_test.go
  desktop/notification/fdo_test.go
Labels: none

many: add CLI support for getting and setting aspects (#13492)
  aspects/aspects.go
  aspects/aspects_test.go
  client/aspects.go
  client/aspects_test.go
  client/client_test.go
  cmd/snap/cmd_get.go
  cmd/snap/cmd_get_test.go
  cmd/snap/cmd_set.go
  cmd/snap/cmd_set_test.go
  daemon/api_aspects.go
  daemon/api_aspects_test.go
  overlord/aspectstate/aspectstate.go
  overlord/aspectstate/aspectstate_test.go
Labels: Needs Documentation -auto-

features: add experimental feature flag for aspects
  cmd/snap/cmd_get.go
  cmd/snap/cmd_get_test.go
  cmd/snap/cmd_set.go
  cmd/snap/cmd_set_test.go
  daemon/api_aspects.go
  daemon/api_aspects_test.go
  features/features.go
  features/features_test.go
  tests/main/aspects/task.yaml
Labels: Needs Documentation -auto-

o/snapstate: add Type to SnapSetup created in snapstate.Switch
  overlord/snapstate/snapstate.go
Labels: none

o/devicestate, overlord, daemon: add flag to devicestate.Remodel to force an offline remodel
  daemon/api_model.go
  daemon/api_model_test.go
  daemon/export_api_model_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/handlers_remodel.go
  overlord/managers_test.go
  overlord/snapstate/snapstatetest/snapstate.go
Labels: Needs Documentation -auto-

Added tests
  desktop/notification/export_test.go
  desktop/notification/fdo.go
  desktop/notification/fdo_test.go
  desktop/notification/gtk.go
  desktop/notification/gtk_test.go
  desktop/notification/manager.go
  desktop/notification/notificationtest/gtk.go
  usersession/agent/session_agent.go
Labels: none

Remove debugging code
  desktop/notification/manager.go
  usersession/agent/session_agent.go
Labels: none

features: ensure features are tested
  features/features_test.go
Labels: none

features: add quota group tests in features
  features/features_test.go
Labels: none

Accidentally removed the GTK tests. Fixed.
  desktop/notification/gtk_test.go
Labels: none

Remove debug code
  usersession/agent/session_agent.go
Labels: none

Fix CI
  desktop/notification/gtk_test.go
Labels: none

o/devicestate: re-word comment on RemodelOptions.Offline
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: convert sideInfoAndPathFromID to a method on remodelVariant
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: make comment in UpdateWithDeviceContext more clear
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: add TODO about looking for other revisions
  overlord/devicestate/devicestate.go
Labels: none

tests: fix snapd-maintenance-msg spread test
  tests/core/snapd-maintenance-msg/task.yaml
Labels: none

o/devicestate: add comment explaining that case in UpdateWithDeviceContext is unexpected
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: prefix unexpected state error with "internal error"
  overlord/devicestate/devicestate.go
Labels: none

features: add count checks to ensure features are tested (#13518)
  features/features_test.go
Labels: none

gadget: add unit test for default policy and no previous edition
  gadget/update_test.go
Labels: none

sandbox/group: drop a pointless test
  sandbox/cgroup/monitor_test.go
Labels: none

sandbox/cgroup: improve tests
  sandbox/cgroup/export_test.go
  sandbox/cgroup/monitor_test.go
Labels: none

sandbox/cgroup: address review comments
  sandbox/cgroup/monitor.go
Labels: none

cmd/snap: proxy stdout when running app under strace
  cmd/snap/cmd_run.go
Labels: none

Updated comment
  desktop/notification/fdo.go
Labels: none

Extra comment
  desktop/notification/fdo.go
Labels: none

Updated comment
  desktop/notification/fdo.go
Labels: none
