Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

cmd/snap-mgmt: do cleanup of /var/lib/snapd/cgroup
  cmd/snap-mgmt/snap-mgmt.sh.in
Labels: none

tests/main/security-device-cgroups-self-manage: update file check
  tests/main/security-device-cgroups-self-manage/task.yaml
Labels: none

interfaces/udev: refactor reloading
  interfaces/udev/backend.go
Labels: none

interfaces/udev: always write the device file
  interfaces/udev/backend.go
  interfaces/udev/backend_test.go
Labels: none

NEWS: leave a note about mandatory device cgroup
  NEWS.md
Labels: none

cmd/snap-confine: make cgroup device file mandatory
  cmd/snap-confine/snap-confine.c
Labels: none

cmd/snap-confine: drop base from bases exempt from mandatory device cgroup
  cmd/snap-confine/snap-confine.c
Labels: none

tests/main/security-device-cgroups-self-manage: spread test
  tests/main/security-device-cgroups-self-manage/container-mgr-snap/bin/sh
  tests/main/security-device-cgroups-self-manage/container-mgr-snap/meta/snap.yaml
  tests/main/security-device-cgroups-self-manage/task.yaml
Labels: none

cmd/snap-confine: use the file wait helper
  cmd/snap-confine/seccomp-support.c
Labels: none

interfaces/udev: improve managed device cgroup unit tests, verify calls to udevadm
  interfaces/udev/backend_test.go
Labels: none

tests/main/security-device-cgroups-required-or-optional: update test to verify device file
  tests/main/security-device-cgroups-required-or-optional/task.yaml
Labels: none

tests/main/security-device-cgroups-self-manage: tweak comments
  tests/main/security-device-cgroups-self-manage/task.yaml
Labels: none

interfaces/udev: tweak return path
  interfaces/udev/backend.go
Labels: none

overlord,systemd: restart mount units when changed
  overlord/managers_test.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/snapstate_test.go
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: none

packaging: wrap-and-sort -d debian-sid
  packaging/debian-sid/control
  packaging/debian-sid/snapd.dirs
  packaging/debian-sid/snapd.install
  packaging/debian-sid/snapd.links
  packaging/debian-sid/snapd.maintscript
  packaging/debian-sid/tests/control
Labels: none

packaging: wrap-and-sort -d ubuntu-14.04
  packaging/ubuntu-14.04/control
  packaging/ubuntu-14.04/snapd.dirs
  packaging/ubuntu-14.04/snapd.install
  packaging/ubuntu-14.04/tests/control
Labels: none

packaging: wrap-and-sort -d ubuntu-16.04
  packaging/ubuntu-16.04/control
  packaging/ubuntu-16.04/snapd.dirs
  packaging/ubuntu-16.04/snapd.links
  packaging/ubuntu-16.04/snapd.maintscript
  packaging/ubuntu-16.04/tests/control
Labels: none

release: 2.61.3
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: none

tests: add spread tests support for ubuntu-24.04 (#13426)
  .github/workflows/test.yaml
  spread.yaml
  tests/lib/image.sh
  tests/lib/pkgdb.sh
  tests/main/cgroup-devices-v1/task.yaml
  tests/main/cgroup-freezer/task.yaml
  tests/main/cgroup-tracking-failure/task.yaml
  tests/main/lxd-mount-units/task.yaml
  tests/main/lxd-postrm-purge/task.yaml
  tests/main/lxd-try/task.yaml
  tests/main/lxd/task.yaml
  tests/main/snapd-homedirs-vendored/task.yaml
  tests/main/upgrade-from-release/task.yaml
Labels: none

packaging/ubuntu-16.04: install systemd files in correct place on 24.04
  packaging/ubuntu-16.04/rules
  packaging/ubuntu-16.04/snapd.install.in
Labels: none

release: 2.61.3
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: none

interfaces/builtin: add interface for kernel-firmware-control
  interfaces/builtin/kernel_firmware_control.go
  interfaces/builtin/kernel_firmware_control_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: none

update reflash script
  tests/lib/reflash.sh
Labels: none

interfaces/udev, cmd/snap-confine: support for snaps managing own device cgroups (#13642)
  NEWS.md
  cmd/libsnap-confine-private/utils.c
  cmd/libsnap-confine-private/utils.h
  cmd/snap-confine/seccomp-support.c
  cmd/snap-confine/snap-confine.c
  cmd/snap-mgmt/snap-mgmt.sh.in
  dirs/dirs.go
  interfaces/udev/backend.go
  interfaces/udev/backend_test.go
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
  packaging/snapd.mk
  tests/main/security-device-cgroups-required-or-optional/task.yaml
  tests/main/security-device-cgroups-self-manage/container-mgr-snap/bin/sh
  tests/main/security-device-cgroups-self-manage/container-mgr-snap/meta/snap.yaml
  tests/main/security-device-cgroups-self-manage/task.yaml
Labels: none

tests: use strace-static from candidate channel
  tests/main/snap-run/task.yaml
Labels: none

add workaround to avoid problems with pc gadget on 24/edge
  tests/core/basic20plus/task.yaml
  tests/lib/nested.sh
  tests/lib/prepare.sh
Labels: Run nested -auto-

fix shellcheck issues
  tests/lib/nested.sh
  tests/lib/prepare.sh
Labels: Run nested -auto-

remove sed command used to debug
  tests/lib/prepare.sh
Labels: none

aspects: support unmatched placeholders w/ unset (#13660)
  aspects/aspects.go
  aspects/aspects_test.go
  aspects/transaction.go
  aspects/transaction_test.go
  daemon/api_aspects_test.go
  overlord/aspectstate/aspectstate.go
Labels: Needs Documentation -auto-

usersession: Use the app name from .desktop file in notifications
  usersession/agent/export_test.go
  usersession/agent/rest_api.go
  usersession/agent/rest_api_test.go
Labels: none

overlord,systemd: restart mount units when changed
  overlord/managers_test.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/snapstate_test.go
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: none

many: nest schema in storage stanza
  asserts/aspect_bundle.go
  asserts/aspect_bundle_test.go
  overlord/aspectstate/aspectstate_test.go
  overlord/assertstate/assertstate_test.go
  tests/lib/assertions/developer1-network-aspect-bundle.json
  tests/lib/assertions/developer1-network.aspect-bundle
Labels: none

Fix tests in core suite
  tests/core/basic20plus/task.yaml
  tests/core/fsck-on-boot/task.yaml
  tests/core/gadget-update-pc/task.yaml
  tests/core/kernel-ver/task.yaml
  tests/core/os-release/task.yaml
  tests/core/remove/task.yaml
  tests/core/seed-base-symlinks/task.yaml
  tests/core/snap-debug-bootvars/task.yaml
  tests/core/snap-repair/task.yaml
  tests/core/snap-repair/uc24-recover.json
  tests/core/snap-repair/uc24-recover.sh
  tests/core/snap-repair/uc24-run.json
  tests/core/snap-repair/uc24-run.sh
Labels: none

fix the system to run in github workflow
  .github/workflows/test.yaml
Labels: none

Fix nested tests for uc24
  .github/workflows/test.yaml
  tests/lib/nested.sh
Labels: Run nested -auto-

skip the perf tests from the regular nested execution
  .github/workflows/test.yaml
  spread.yaml
Labels: none

interfaces/builtin: add interface for remoteproc
  interfaces/builtin/remoteproc.go
  interfaces/builtin/remoteproc_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: none

strace: Re-format comment regarding strace compatiblity.
  osutil/strace/strace.go
Labels: none

strace: use --gid/--uid options
  cmd/snap/cmd_run_test.go
  osutil/strace/strace.go
  osutil/strace/strace_test.go
Labels: none

strace: break out strace user handling to a helper
  osutil/strace/strace.go
Labels: none
