Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

cmd/snaplock/runinhibit: add WaitWhileInhibited helper function
  cmd/snaplock/runinhibit/export_test.go
  cmd/snaplock/runinhibit/inhibit.go
  cmd/snaplock/runinhibit/inhibit_test.go
Labels: none

update parallel install numbers
  spread.yaml
  tests/nested/perf/parallel-installs/task.yaml
Labels: Run nested -auto-

tests: extend interfaces-personal-files for missing directory creation
  tests/main/interfaces-personal-files/task.yaml
  tests/main/interfaces-personal-files/test-snapd-sh/meta/snap.yaml
Labels: none

o/snapstate: address review comments
  overlord/snapstate/component.go
  overlord/snapstate/component_install_test.go
  overlord/snapstate/component_test.go
Labels: none

tests: add spread tests support for ubuntu-24.04 (#13426)
  .github/workflows/test.yaml
  spread.yaml
  tests/lib/image.sh
  tests/lib/pkgdb.sh
  tests/main/cgroup-devices-v1/task.yaml
  tests/main/cgroup-freezer/task.yaml
  tests/main/cgroup-tracking-failure/task.yaml
  tests/main/lxd-mount-units/task.yaml
  tests/main/lxd-postrm-purge/task.yaml
  tests/main/lxd-try/task.yaml
  tests/main/lxd/task.yaml
  tests/main/snapd-homedirs-vendored/task.yaml
  tests/main/upgrade-from-release/task.yaml
Labels: none

many: add mount/unmount/prepare handlers for components (#13423)
  NEWS.md
  overlord/snapstate/backend.go
  overlord/snapstate/backend/backend_test.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/component.go
  overlord/snapstate/component_install_test.go
  overlord/snapstate/component_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers_components.go
  overlord/snapstate/handlers_components_mount_test.go
  overlord/snapstate/handlers_components_prepare_test.go
  overlord/snapstate/snapmgr.go
  snap/component.go
  snap/component_test.go
  snap/snaptest/snaptest.go
Labels: none

tests: extend interfaces-personal-files for missing directory creation (#13404)
  tests/main/interfaces-personal-files/task.yaml
  tests/main/interfaces-personal-files/test-snapd-sh/meta/snap.yaml
Labels: none

Added RSA DS100 authenticator
  interfaces/builtin/u2f_devices.go
Labels: none

Add new Google Titan key ProductID to u2f_devices.go
  interfaces/builtin/u2f_devices.go
Labels: none

sandbox/apparmor: test kernel sub-features
  sandbox/apparmor/apparmor_test.go
Labels: none

interfaces: clarify comment regarding AppArmorUnconfined{Plugs,Slots}
  interfaces/core.go
Labels: none

interfaces/policy: check for unconfined plug/slots outside type loop
  interfaces/policy/basedeclaration_test.go
Labels: none

snap-{seccomp,confine}: rework seccomp denylist
  cmd/snap-confine/seccomp-support.c
  cmd/snap-confine/snap-confine.apparmor.in
  cmd/snap-seccomp/export_test.go
  cmd/snap-seccomp/main.go
  cmd/snap-seccomp/main_test.go
  interfaces/seccomp/backend.go
  interfaces/seccomp/backend_test.go
  interfaces/seccomp/template.go
  tests/main/install-store-laaaarge/task.yaml
  tests/main/preseed/task.yaml
  tests/main/security-profiles/task.yaml
  tests/main/security-seccomp/task.yaml
  tests/main/snap-seccomp/task.yaml
Labels: none

snap-confine: rename "struct stat buf" -> "struct stat stat_buf"
  cmd/snap-confine/seccomp-support.c
Labels: none

snap-seccomp: remove outdated comment about big endian
  cmd/snap-seccomp/main.go
Labels: none

snap-seccomp: rework exportBPF() to not require a temp file
  cmd/snap-seccomp/main.go
  cmd/snap-seccomp/main_test.go
  tests/main/install-store-laaaarge/task.yaml
Labels: none

snap-confine: rename sc_must_read_header_from_file->sc_must_read_and_validate_header_from_file
  cmd/snap-confine/seccomp-support.c
Labels: none

tests: improve messae in security-seccomp deny test
  tests/main/security-seccomp/task.yaml
Labels: none

snap-confine: workaround bug in gcc from 14.04
  cmd/snap-confine/seccomp-support-test.c
  cmd/snap-confine/seccomp-support.c
Labels: none

snap-confine: check that filer size if multiple of sock_filter
  cmd/Makefile.am
  cmd/snap-confine/seccomp-support-test.c
  cmd/snap-confine/seccomp-support.c
Labels: none

snap-confine: extract must_read_and_validate_header_from_file_dies_with() helper
  cmd/snap-confine/seccomp-support-test.c
Labels: none

snap-confine: tweak struct init workaround in sc_apply_seccomp_profile_for_security_tag (thanks Philip)
  cmd/snap-confine/seccomp-support.c
Labels: none

snap-confine: tweak sc_seccomp_file_header struct (thanks Philip!)
  cmd/snap-confine/seccomp-support.c
Labels: none

snap-confine: check filters are not empty and keep read access to global.bin file
  cmd/snap-confine/seccomp-support.c
  cmd/snap-confine/seccomp-support.h
  cmd/snap-confine/snap-confine.apparmor.in
  cmd/snap-seccomp/main_test.go
Labels: none

aspects: improve documentation in get
  aspects/aspects.go
Labels: none

many: return value in Get
  aspects/aspects.go
  aspects/aspects_test.go
  aspects/transaction.go
  aspects/transaction_test.go
  daemon/api_aspects.go
  daemon/api_aspects_test.go
  daemon/export_test.go
  overlord/aspectstate/aspectstate.go
  overlord/aspectstate/aspectstate_test.go
Labels: Needs Documentation -auto-

aspects: use existing placeholder helper
  aspects/aspects.go
Labels: none

aspects: add internal prefixes to unspecified unmarshaling errors
  aspects/aspects.go
Labels: none

o/snapstate: remove unused snap downloads
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_remove_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

asserts: validate resource-name in snap-resource-* assertions
  asserts/snap_resource_asserts.go
  asserts/snap_resource_asserts_test.go
Labels: none

asserts: implement snap-resource-pair
  asserts/asserts.go
  asserts/asserts_test.go
  asserts/snap_resource_asserts.go
  asserts/snap_resource_asserts_test.go
Labels: none

o/devicestate: remove unused prereqsFromSnapTaskSet
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: replace string literal with variable
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

Target the perf tests for ubuntu core >=18
  tests/nested/perf/interfaces-many/task.yaml
  tests/nested/perf/parallel-installs/task.yaml
Labels: Run nested -auto-

usersession: implement restart controls and status querying for user services
  NEWS.md
  usersession/agent/export_test.go
  usersession/agent/response.go
  usersession/agent/rest_api.go
  usersession/agent/rest_api_test.go
  usersession/client/client.go
  usersession/client/client_test.go
Labels: none

cmd/snaplock/runinhibit: improve WaitWhileInhibited docs
  cmd/snaplock/runinhibit/inhibit.go
Labels: none

sandbox/apparmor: fix double space in profiles when probing parser
  sandbox/apparmor/apparmor.go
  sandbox/apparmor/apparmor_test.go
Labels: none

tests: use load generator to generate load in perf tests (#13417)
  spread.yaml
  tests/lib/snaps/store/test-snapd-load-generator/load-generator
  tests/lib/tools/tests.nested
  tests/nested/manual/minimal-smoke/task.yaml
  tests/nested/perf/interfaces-core-provided/task.yaml
  tests/nested/perf/interfaces-many/task.yaml
  tests/nested/perf/parallel-installs/task.yaml
  tests/perf/interfaces-core-provided/task.yaml
  tests/perf/interfaces-snap-provided/task.yaml
  tests/perf/interfaces-snap-provided/test-snapd-policy-app-provider-classic/bin/run
  tests/perf/interfaces-snap-provided/test-snapd-policy-app-provider-classic/meta/snap.yaml
  tests/perf/interfaces-snap-provided/test-snapd-policy-app-provider-core/bin/run
  tests/perf/interfaces-snap-provided/test-snapd-policy-app-provider-core/meta/snap.yaml
  tests/perf/parallel-installs/task.yaml
Labels: Run nested -auto-

usersession: implement restart controls and status querying for user services
  NEWS.md
  usersession/agent/export_test.go
  usersession/agent/response.go
  usersession/agent/rest_api.go
  usersession/agent/rest_api_test.go
  usersession/client/client.go
  usersession/client/client_test.go
Labels: none

tests: add details field to security-profiles and snap-seccomp spread tests
  tests/main/security-profiles/task.yaml
  tests/main/snap-seccomp/task.yaml
Labels: none
