Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

tests: make more robust the nested log checks
  tests/lib/nested.sh
Labels: Run nested -auto-

packaging: fix debian builds broken by github.com/snapcore/bolt
  packaging/debian-sid/rules
Labels: none

tests: isolate lp-2044335 regression test kernel packaging
  tests/regression/lp-2044335/task.yaml
Labels: none

remove the log growing check
  tests/lib/nested.sh
Labels: Run nested -auto-

bootloader/grub.go: return all possible boot chains
  boot/assets.go
  boot/assets_test.go
  boot/boot_test.go
  boot/export_test.go
  boot/model_test.go
  boot/seal.go
  boot/seal_test.go
  boot/systems_test.go
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  bootloader/grub_test.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/systems_test.go
  overlord/install/install_test.go
Labels: none

tests: add test to check update of boot chain
  tests/lib/nested.sh
  tests/nested/manual/uc-grub-boot-chains/modify-gadget.py
  tests/nested/manual/uc-grub-boot-chains/task.yaml
Labels: Run nested -auto-

bootloader/grub.go: add new boot chain binary paths
  boot/seal.go
  bootloader/bootloader.go
  bootloader/grub.go
  bootloader/grub_test.go
Labels: none

boot/seal_test.go: test run mode boot chains
  boot/export_test.go
  boot/seal_test.go
Labels: none

boot/seal_test.go: test ResealKeyToModeenv against changes of boot chains
  boot/seal_test.go
Labels: none

features: add experimental.apparmor-prompting feature stub
  features/features.go
  features/features_test.go
Labels: none

tests/lib/prepare.sh: copy rebuilt snap-bootstrap and extra files into repacked initrd and kernel
  tests/lib/prepare.sh
Labels: none

interfaces/builtin/home: add apparmor rule
  interfaces/builtin/home.go
  interfaces/builtin/home_test.go
Labels: none

interfaces/serial-port: add serial devices (ttyLPX) to allowed list
  interfaces/builtin/serial_port.go
  interfaces/builtin/serial_port_test.go
Labels: none

features: add experimental.apparmor-prompting feature stub
  features/features.go
  features/features_test.go
Labels: none

daemon: allow polkit authentication for `/v2/snaps/{snap}/conf`
  daemon/api_snap_conf.go
  daemon/api_snap_conf_test.go
Labels: Needs Documentation -auto-

daemon,data/polkit: add polkit action for managing snap configuration
  daemon/api.go
  data/polkit/io.snapcraft.snapd.policy
Labels: Needs Documentation -auto-

tests,cmd: use --users=all in test, dont mark --users optional, enforce a value for it, add case for --system --users=all in spread test
  cmd/snap/cmd_services.go
  cmd/snap/cmd_services_test.go
  tests/main/services-user/task.yaml
Labels: none

tests/main/abort: remove "current" directory
  tests/main/abort/task.yaml
Labels: none

many: avoid execution while current symlink is missing
  data/systemd/snapd.apparmor.service.in
  overlord/snapstate/backend/export_test.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  wrappers/core18.go
  wrappers/core18_test.go
Labels: none

snap-failure: set symlink before calling snapd
  cmd/snap-failure/cmd_snapd.go
  cmd/snap-failure/cmd_snapd_test.go
Labels: none

tests: test symlink is set when restarting snapd on update
  tests/core/update-snapd-symlink/task.yaml
Labels: none

i/builtin: adapt nfs-mount to new specs
  interfaces/builtin/nfs_mount_test.go
Labels: none

i/builtin: bump copyright
  interfaces/builtin/nfs_mount.go
  interfaces/builtin/nfs_mount_test.go
Labels: none

tests: add test to check update of boot chain
  tests/lib/nested.sh
  tests/nested/manual/uc-grub-boot-chains/modify-gadget.py
  tests/nested/manual/uc-grub-boot-chains/task.yaml
Labels: Run nested -auto-

boot/seal_test.go: test ResealKeyToModeenv against changes of boot chains
  boot/seal_test.go
Labels: none

bootloader/grub.go: return all possible boot chains
  boot/assets.go
  boot/assets_test.go
  boot/boot_test.go
  boot/export_test.go
  boot/model_test.go
  boot/seal.go
  boot/seal_test.go
  boot/systems_test.go
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  bootloader/grub_test.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/systems_test.go
  overlord/install/install_test.go
Labels: none

bootloader/grub.go: add new boot chain binary paths
  boot/seal.go
  bootloader/bootloader.go
  bootloader/grub.go
  bootloader/grub_test.go
Labels: none

boot/seal_test.go: test run mode boot chains
  boot/export_test.go
  boot/seal_test.go
Labels: none

cmd/snap: add a comment for unreachable code, and correct a couple of messages
  cmd/snap/cmd_services.go
  cmd/snap/cmd_services_test.go
Labels: none

tests/main/abort: remove "current" directory
  tests/main/abort/task.yaml
Labels: none

snap-failure: set symlink before calling snapd
  cmd/snap-failure/cmd_snapd.go
  cmd/snap-failure/cmd_snapd_test.go
Labels: none

tests: test symlink is set when restarting snapd on update
  tests/core/update-snapd-symlink/task.yaml
Labels: none

many: avoid execution while current symlink is missing
  data/systemd/snapd.apparmor.service.in
  overlord/snapstate/backend/export_test.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  wrappers/core18.go
  wrappers/core18_test.go
Labels: none

tests/main/lxd-mount-units: wait before checking generators
  tests/main/lxd-mount-units/task.yaml
Labels: none

o/snapstate: disable pending refresh notifications when marker interface is detected
  overlord/ifacestate/export_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/refresh_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

client,cmd/snap: introduce --user, --system and --users switches for snap service operations (#13368)
  NEWS.md
  client/apps.go
  client/apps_test.go
  cmd/snap/cmd_services.go
  cmd/snap/cmd_services_test.go
  daemon/api_apps_test.go
  overlord/servicestate/servicestate.go
  overlord/servicestate/servicestate_test.go
  tests/main/services-user/task.yaml
  tests/main/services-user/test-snapd-user-service/bin/start
  tests/main/services-user/test-snapd-user-service/meta/snap.yaml
Labels: Needs Documentation -auto-

tests/lib/prepare.sh: reflash during shutdown
  tests/lib/prepare.sh
  tests/lib/reflash.sh
  tests/lib/uc16-reflash.sh
Labels: none

tests: fix snap-quota-memory in fedora systems
  tests/main/snap-quota-memory/task.yaml
Labels: none

asserts: move aspect schema to assertion body (#13666)
  asserts/aspect_bundle.go
  asserts/aspect_bundle_test.go
  asserts/asserts.go
  asserts/asserts_test.go
  overlord/aspectstate/aspectstate_test.go
  overlord/assertstate/assertstate_test.go
  tests/lib/assertions/developer1-network-aspect-bundle.json
  tests/lib/assertions/developer1-network.aspect-bundle
  tests/lib/gendeveloper1/main.go
Labels: none

tests/main/snapd-update-services: adapt to change in snapd behavior
  tests/main/snapd-update-services/task.yaml
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
