Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

aspects: convert untyped constant before calling Sprintf
  aspects/schema_test.go
Labels: none

o/devicestate: reorder if to be a little simpler
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: account for snaps that need to have their channel changed
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: fix panic when attempting remodel to model with an snap that has an optional presence
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

Add libnvidia-gpucomp to the list of NVIDIA driver libraries
  cmd/snap-confine/mount-support-nvidia.c
Labels: none

tests: add remodel case where target base is already installed
  tests/lib/assertions/test-snapd-remodel-bases-20.json
  tests/lib/assertions/test-snapd-remodel-bases-20.model
  tests/lib/assertions/test-snapd-remodel-bases-22.json
  tests/lib/assertions/test-snapd-remodel-bases-22.model
  tests/nested/manual/remodel-target-base-installed/task.yaml
Labels: Run nested -auto-

o/devicestate: pass change ID when checking remodel conflicts
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: none

o/devicestate: reorder if to be a little simpler
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: account for snaps that need to have their channel changed
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: fix panic when attempting remodel to model with an snap that has an optional presence
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

tests/nested/manual/install-min-size: make it more stable
  tests/nested/manual/install-min-size/task.yaml
Labels: Run nested -auto-

Adding tests for new home directory behavior
  dirs/dirs_test.go
  snap/info_test.go
Labels: none

github: Clarify how long snap/i386 cross build is needed
  .github/workflows/test.yaml
Labels: none

Fix prepare-image-reproducible test (#13249)
  tests/main/prepare-image-reproducible/task.yaml
Labels: none

fix store-state tool restoring fakestore
  tests/lib/tools/store-state
  tests/main/store-state/task.yaml
Labels: none

tests/nested/manual/uc-update-assets-secure: do not check for shim in boot
  tests/nested/manual/uc-update-assets-secure/task.yaml
Labels: Run nested -auto-

snapcraft.yaml: move CGO_LDFLAGS out of debian/rules and add comment
  build-aux/snap/snapcraft.yaml
  packaging/ubuntu-20.04/rules
Labels: none

gadget,overlord: do not try to update if no content is defined
  gadget/update.go
  gadget/update_test.go
  overlord/managers_test.go
Labels: none

tests/remodel-uc20-to-uc22: enable encrypted variant
  tests/lib/assertions/test-snapd-remodel-pc-min-size-22.json
  tests/lib/assertions/test-snapd-remodel-pc-min-size-22.model
  tests/nested/manual/remodel-uc20-to-uc22/task.yaml
Labels: Run nested -auto-

build-aux: remove debug find
  build-aux/snap/snapcraft.yaml
Labels: none

wrappers, overlord: update tests based on code review
  overlord/snapstate/export_test.go
  overlord/snapstate/snapmgr.go
  wrappers/desktop_test.go
Labels: none

interface: allow nested directories under /sys/devices/platform for gpio paths
  interfaces/builtin/gpio_control.go
Labels: none

o/snapstate: avoid incurring an extra reboot boundary for core snap when not a boot-base
  overlord/snapstate/reboot.go
  overlord/snapstate/reboot_test.go
Labels: none

t/n/m/core20-validation-sets: add checks, manually add user
  tests/lib/nested.sh
  tests/lib/tools/tests.nested
  tests/nested/manual/core20-validation-sets/task.yaml
Labels: Run nested -auto-

o/devicestate: only add track validation-sets task in run-mode.
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  tests/lib/nested.sh
  tests/lib/tools/store-state
  tests/lib/tools/tests.nested
  tests/nested/manual/core20-validation-sets/asserts/core-20.json
  tests/nested/manual/core20-validation-sets/asserts/vs.json
  tests/nested/manual/core20-validation-sets/task.yaml
Labels: Run nested -auto-

t/n/m/core20-validation-sets: fix check of validation task, fix configure-default-user
  overlord/devicestate/firstboot20_test.go
  tests/lib/nested.sh
  tests/nested/manual/core20-validation-sets/task.yaml
Labels: Run nested -auto-

tests,overlord: review feedback from @pedronis
  overlord/devicestate/firstboot20_test.go
  tests/nested/manual/core20-validation-sets/asserts/bar-vs.json
  tests/nested/manual/core20-validation-sets/asserts/core-20-model.json
  tests/nested/manual/core20-validation-sets/task.yaml
Labels: Run nested -auto-

tests/main: remove unsupported core16 tests
  tests/main/core16-base/task.yaml
  tests/main/core16-provided-by-core/task.yaml
Labels: none

secboot: avoid usage of fifos with cryptsetup
  secboot/keymgr/keymgr_luks2_test.go
  secboot/luks2/cryptsetup.go
  secboot/luks2/cryptsetup_test.go
  secboot/luks2/export_test.go
  secboot/luks2/fifo.go
Labels: none

tests/muinstaller-real: ask twice for the recovery key
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Run nested -auto-

go.mod: move to latest secboot/go-tpm2/go-efilib
  go.mod
  go.sum
Labels: none

secboot: port the simple API changes
  secboot/encrypt_sb.go
  secboot/secboot_hooks.go
  secboot/secboot_tpm.go
Labels: none

tests/remodel-uc20-to-uc22: enable encrypted variant
  tests/lib/assertions/test-snapd-remodel-pc-min-size-22.json
  tests/lib/assertions/test-snapd-remodel-pc-min-size-22.model
  tests/nested/manual/remodel-uc20-to-uc22/task.yaml
Labels: Run nested -auto-

gadget/layout.go: fix typo
  gadget/layout.go
Labels: none

gadget,overlord: do not try to update if no content is defined
  gadget/update.go
  gadget/update_test.go
  overlord/managers_test.go
Labels: none

o/snapstate: fix misalignment in RevisionOptions when requesting refresh candidates
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
Labels: none

osutil: add RunCmd and RunSplitOutput functions
  osutil/exec.go
  osutil/exec_test.go
Labels: none

osutil: add methods to combine std{out/err} into a single error object
  osutil/outputerr.go
  osutil/outputerr_test.go
Labels: none

many: replace exec.CombinedOutput when output is parsed
  cmd/snap-bootstrap/initramfs_systemd_mount.go
  cmd/snap-failure/cmd_snapd.go
  daemon/api_general.go
  errtracker/errtracker.go
  osutil/disks/blockdev.go
  osutil/disks/disks_linux.go
  osutil/group.go
  overlord/configstate/configcore/hostname.go
  overlord/devicestate/devicestate_test.go
  overlord/servicestate/servicemgr.go
  snap/integrity/dmverity/veritysetup.go
  snap/squashfs/squashfs.go
  sysconfig/cloudinit.go
  systemd/systemd.go
  systemd/systemd_test.go
  tests/lib/muinstaller/main.go
  usersession/userd/launcher.go
  usersession/userd/settings.go
  wrappers/services_test.go
Labels: Needs Documentation -auto-

osutil: add methods to combine std{out/err} into a single error object
  osutil/outputerr.go
  osutil/outputerr_test.go
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
