Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

cmd/snap: address review comments (thanks @pedronis)
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
Labels: none

tests: add details to the spread tests - part 2 (#13390)
  tests/main/auto-refresh-pre-download/task.yaml
  tests/main/auto-refresh-retry/task.yaml
  tests/main/auto-refresh/task.yaml
  tests/main/bad-interfaces-warn/task.yaml
  tests/main/base-invalid-type/task.yaml
  tests/main/base-migration/task.yaml
  tests/main/base-none/task.yaml
  tests/main/base-policy/task.yaml
  tests/main/base-snaps-refresh/task.yaml
  tests/main/base-snaps/task.yaml
  tests/main/boot-state/task.yaml
  tests/main/broken-seeding/task.yaml
  tests/main/buildmode/task.yaml
  tests/main/canonical-livepatch/task.yaml
Labels: none

o/snapstate: handle setting Cohort and Channel in snapstate.Download function
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/storehelpers.go
Labels: none

a/snapasserts, o/assertstate: add functions to help during remodel (#13345)
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
Labels: none

packaging: move directory for snapd-generator in debian sid (#13385)
  packaging/debian-sid/snapd.install
Labels: none

release: 2.61.1
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: none

tests: use KERNEL_CHANNEL/NESTED_KERNEL_CHANNEL instead of edge for pc-kernel (#13391)
  spread.yaml
  tests/lib/nested.sh
  tests/lib/prepare.sh
Labels: Run nested -auto-

overlord/snapstate: support snaps on same lane in refreshedSnaps
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_rerefresh_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

spread.yaml: set default kernel channel to beta
  spread.yaml
Labels: none

tests: use KERNEL_CHANNEL/NESTED_KERNEL_CHANNEL instead of edge for pc-kernel (#13391)
  spread.yaml
  tests/lib/nested.sh
  tests/lib/prepare.sh
Labels: Run nested -auto-

interfaces: update polkit-agent interface to handle new location of polkit-agent-helper-1 (#13261)
  interfaces/builtin/polkit_agent.go
  interfaces/builtin/polkit_agent_test.go
Labels: none

tests: fix snap-run test for fedora (#13365)
  tests/main/snap-run/task.yaml
Labels: none

tests/connected-after-reboot-revert: modify installed kernel
  tests/nested/core/connected-after-reboot-revert/task.yaml
Labels: Run nested -auto-

tests: fix system-snap-refresh in uc20 (#13324)
  tests/core/system-snap-refresh/task.yaml
  tests/lib/tools/snaps-state
  tests/main/snaps-state/task.yaml
Labels: none

tests: increase image size for core tests
  tests/lib/prepare.sh
Labels: none

many: introduce and use snap.SelfContainedSetPrereqTracker (#13340)
  image/image_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_update_test.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
  seed/validate.go
  seed/validate_test.go
  snap/validate.go
  snap/validate_test.go
Labels: none

t/n/m/uc-update-command-line-secure: make it more stable (#13252)
  tests/nested/manual/uc-update-command-line-secure/task.yaml
Labels: Run nested -auto-

spread.yaml: change GADGET_CHANNEL to the same default channel as
  spread.yaml
Labels: none

o/snapstate: check properly conflicts when refreshing snapd
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

Fix selinux policy for polkit agent
  data/selinux/snappy.te
Labels: none

tests: repack pc-kernel if kernel channel differs from the image one
  tests/lib/prepare.sh
Labels: none

tests: avoid downloading twice pc-kernel
  tests/lib/prepare.sh
Labels: none

interfaces/desktop: allow access to Mutter IdleMonitor idle time (#13304)
  interfaces/builtin/desktop.go
  interfaces/builtin/desktop_test.go
Labels: none

spread.yaml: set default nested channel to beta
  spread.yaml
Labels: none

release: 2.61.1
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: none

fix snapd-maintenance-msg
  tests/core/snapd-maintenance-msg/task.yaml
Labels: none

release-tools: fix handling of NEWS.md items
  release-tools/changelog.py
Labels: none

tests: fix snap-run test on arch-linux
  tests/main/snap-run/task.yaml
Labels: none

cmd/snap,o/devicestate: consistently stop auto-import of assertions during install modes (install, factory-reset) (#13305)
  cmd/snap/cmd_auto_import.go
  cmd/snap/cmd_auto_import_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
Labels: none

seed/seedwriter,image: prereq check strategy change to use snap.ValidateBasesAndProviders (#13318)
  image/image_test.go
  seed/seedwriter/seed16.go
  seed/seedwriter/seed20.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: none

Skip layout-change test in all arm devices
  tests/main/layout-change/task.yaml
Labels: none

client,tests: do not try to change the gid when reading/removing auth.json (#13321)
  client/login.go
  tests/main/nfs-support/task.yaml
Labels: none

many: introduce snapstate.PrereqTracker interface and snap.SimplePrereqTracker (#13320)
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
  daemon/export_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/handlers_test.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/managers_test.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/refreshhints.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
  overlord/snapstate/storehelpers_test.go
  snap/info.go
  snap/info_test.go
  snap/validate.go
  snap/validate_test.go
Labels: Needs Documentation -auto-

boot: lock the modeenv while reading revisions
  boot/boot.go
  boot/boot_test.go
Labels: none

packaging: move directory for snapd-generator in debian sid (#13385)
  packaging/debian-sid/snapd.install
Labels: none

o/snapstate: fix flaky local cleanup test
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_test.go
Labels: none

o/devicestate: consider snapd snap when remodeling
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/managers_test.go
Labels: none

tests: fix core20-to-core22 test (#13255)
  tests/nested/manual/core20-to-core22/task.yaml
Labels: Run nested -auto-

release-tools: improve changelog help and inform of incorrect deb email (#13369)
  release-tools/changelog.py
  release-tools/test/test_changelog.py
Labels: none

tests: clear snap cache before interfaces-content test
  tests/main/interfaces-content/task.yaml
Labels: none
