Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

t/m/snap-quota-memory: improve robustness of test on some distros
  tests/main/snap-quota-memory/task.yaml
Labels: none

asserts: rename ModelValidationSet.Key and ValidationSet.Key to .SequenceName and add unit tests for them
  asserts/model.go
  asserts/model_test.go
  asserts/validation_set.go
  asserts/validation_set_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/handlers_remodel.go
Labels: none

tests: add details to spread tests - part-3 (#13395)
  tests/main/catalog-update/task.yaml
  tests/main/cgroup-devices-v1/task.yaml
  tests/main/cgroup-devices-v2/task.yaml
  tests/main/change-errors/task.yaml
  tests/main/chattr/task.yaml
  tests/main/classic-confinement-not-supported/task.yaml
  tests/main/classic-confinement/task.yaml
  tests/main/classic-custom-device-reg/task.yaml
  tests/main/cmdline/task.yaml
  tests/main/docker-smoke/task.yaml
  tests/main/interfaces-accounts-service/task.yaml
  tests/main/interfaces-browser-support/task.yaml
Labels: none

o/snapstate: update snap revision mismatch error message to be more clear
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

o/assertstate: add deviceContext to ForgetValidationSet function so that change can happen during remodel
  overlord/assertstate/assertstate.go
  overlord/assertstate/validation_set_tracking.go
Labels: none

overlord: test for replacing conflicting validation sets during remodel
  overlord/managers_test.go
Labels: none

s/seedtest: update retrieveSeq to handle unconstrained sequence forming assertions
  seed/seedtest/seedtest.go
Labels: none

o/devicestate: attempt to handle rollback of validation sets during failed remodel
  overlord/devicestate/handlers_remodel.go
Labels: none

o/devicestate: roll back validation set changes on remodel failure
  overlord/devicestate/handlers_remodel.go
  overlord/managers_test.go
Labels: none

a/snapasserts: add ValidationSets.Sets method
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
Labels: none

o/devicestate: verify the parameters that fakeSequenceStore receives
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

o/assertstate: update ForgetValidationSet to take in a DeviceContext and to allow for forcing removal even if the validation set is in use by the model
  daemon/api_validate.go
  overlord/assertstate/assertstate_test.go
  overlord/assertstate/validation_set_tracking.go
  overlord/assertstate/validation_set_tracking_test.go
Labels: Needs Documentation -auto-

o/devicestate: introduce helper for setting ValidationSets on snapstate.RevisionOptions if Revision is set
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: extend TestRemodelUC20EssentialSnapsAlreadyInstalledAndLocal to also exercise case where a validation set requires a revision but the currently installed version is unasserted
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_test.go
Labels: none

o/devicestate: fix revisions not being respected for essential snaps (and add a test for it)
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

o/devicestate: make sure that validation sets unrelated to the model survive a remodel
  overlord/devicestate/handlers_remodel.go
  overlord/managers_test.go
Labels: none

interfaces: add unit tests for cups-control custom AutoConnect behaviour
  interfaces/builtin/cups_control.go
  interfaces/builtin/cups_control_test.go
Labels: none

o/snapstate: make tests work consistently also in containers
  overlord/snapstate/snapstate_test.go
Labels: none

o/snapstate: make tests work consistently also in containers
  overlord/snapstate/snapstate_test.go
Labels: none

cmd/snap-update-ns: use restrictions for ensure-dir
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/user.go
  cmd/snap-update-ns/user_test.go
Labels: none

o/devicestate: rename param in installedSnapRevisionChanged
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: rename field newSnapRevision to newRequiredRevision in modelSnapsForRemodel
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: simplify loops in checkForInvalidSnapsInModel
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: compare validation sets using SequenceName methods
  overlord/devicestate/handlers_remodel.go
Labels: none

o/snapstate: make tests work consistently also in containers
  overlord/snapstate/snapstate_test.go
Labels: none

o/devicestate: fail remodel if we attempt to use an unasserted snap as a specific revision
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

tests/nested/manual/remodel-offline: fix test to actually use validation set
  tests/lib/assertions/test-snapd-core22-required-vset.assert
  tests/lib/assertions/test-snapd-core22-required-vset.json
  tests/lib/assertions/test-snapd-remodel-offline-rev1.model
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-

t/m/snap-quota-memory: improve robustness of test on some distros (#13399)
  tests/main/snap-quota-memory/task.yaml
Labels: none

wrappers: add a unit test showing that Exec lines in [Destkop Action $action] sections are handled correctly
  wrappers/desktop_test.go
Labels: none

many: replace name w/ request and path w/ storage
  aspects/aspects.go
  aspects/aspects_test.go
  overlord/aspectstate/aspecttest/mock_aspect.go
Labels: none

many: replace name w/ request and path w/ storage
  aspects/aspects.go
  aspects/aspects_test.go
  overlord/aspectstate/aspecttest/mock_aspect.go
Labels: none

cmd/snapd-generator: read mountinfo for pid 1
  cmd/snapd-generator/main.c
Labels: none

aspects: include paths in validation errors (#13360)
  aspects/schema.go
  aspects/schema_test.go
Labels: none

tests: add support for amazon-linux-2023
  spread.yaml
  tests/lib/pkgdb.sh
Labels: none

test/nested/manual: fix some yq expressions
  tests/nested/manual/fde-on-classic/task.yaml
  tests/nested/manual/install-min-size/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Run nested -auto-

i/b/fwupd.go: give access to IPMI devices
  interfaces/builtin/fwupd.go
Labels: none

cmd/snapd-generator: read mountinfo for pid 1
  cmd/snapd-generator/main.c
Labels: none

o/snapstate: make tests work consistently also in containers
  overlord/snapstate/snapstate_test.go
Labels: none

o/devicestate: create helper for creating snapstate.RevisionOptions during remodel
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: name param literals for clarity
  overlord/devicestate/devicestate_remodel_test.go
Labels: none
