Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

boot: prune some bootchains that should not happen
  boot/assets.go
  boot/bootchain.go
  boot/bootchain_test.go
  boot/seal.go
  boot/seal_test.go
Labels: none

fixup! boot: prune some bootchains that should not happen
  boot/assets.go
  boot/bootchain.go
Labels: none

fixup! boot: prune some bootchains that should not happen
  boot/bootchain.go
Labels: none

fixup! boot: prune some bootchains that should not happen
  boot/bootchain.go
Labels: none

fixup! boot: prune some bootchains that should not happen
  boot/bootchain.go
  boot/seal.go
Labels: none

aspects: error if Set value isn't fully used
  aspects/aspects.go
  aspects/aspects_test.go
Labels: none

o/state: address review comments (thanks @pedronis)
  overlord/state/notices.go
  overlord/state/notices_test.go
Labels: none

o/snapstate: add test for spurious snapd downgrade
  overlord/snapstate/backend_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

o/snapstate: apply fix for snapd downgrade from Samuele
  overlord/snapstate/conflict.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

o/snapstate: add snap-setup to TestFinishRestartGeneratesSnapdWrappersOnCore
  overlord/snapstate/snapstate_test.go
Labels: none

Add libcudnn.so to list of NVIDIA libraries
  cmd/snap-confine/mount-support-nvidia.c
Labels: none

tests/nested/manual/remodel-offline: wait for kernel refresh change
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-

interfaces/network-control: allow creating /run/resolvconf directory
  interfaces/builtin/network_control.go
Labels: none

cmd/snapd-generator: create mount points for kernel drivers tree
  cmd/snapd-generator/main.c
Labels: none

github: temporarily disable pull request labeler
  .github/workflows/test.yaml
Labels: none

o/snapstate: explain snapd version special logic
  overlord/snapstate/snapstate.go
Labels: none

packaging/ubuntu-16.04: install systemd files in correct place on 24.04
  packaging/ubuntu-16.04/rules
  packaging/ubuntu-16.04/snapd.install
Labels: none

daemon: reword tentative to attempt
  daemon/daemon.go
Labels: Needs Documentation -auto-

opengl: add /usr/share/nvidia (#12840)
  interfaces/builtin/opengl.go
  interfaces/builtin/opengl_test.go
  tests/main/interfaces-opengl-nvidia/task.yaml
Labels: none

daemon: reword tentative to attempt
  daemon/daemon.go
Labels: Needs Documentation -auto-

o/snapstate: fix typo: prerequisites
  overlord/snapstate/snapstate_install_test.go
Labels: none

daemon: fix typo: tentative
  daemon/daemon.go
Labels: Needs Documentation -auto-

o/snapstate: fix typo: unsupported
  overlord/snapstate/snapstate_install_test.go
Labels: none

o/snapstate: fix typo: updatable
  overlord/snapstate/snapstate.go
Labels: none

o/snapstate: fix typo: implementations
  overlord/snapstate/snapstate.go
Labels: none

o/snapstate: fix typo: success
  overlord/state/task.go
Labels: none

tests/nested/manual/remodel-offline: wait for kernel refresh change
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-

daemon: add "snap-names" data field to single-snap changes
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
Labels: Needs Documentation -auto-

many: drop fontconfig cache generation
  build-aux/snap/snapcraft.yaml
  overlord/snapstate/backend/export_test.go
  overlord/snapstate/backend/fontconfig.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  tests/main/install-fontconfig-cache-gen/task.yaml
  tests/main/snapd-snap/task.yaml
Labels: none

tests/nested/manual/muinstaller-core: do not re-label seed for muinstaller
  tests/nested/manual/muinstaller-core/task.yaml
Labels: Run nested -auto-

packaging/ubuntu-16.04: install systemd files in correct place on 24.04
  packaging/ubuntu-16.04/rules
  packaging/ubuntu-16.04/snapd.install.in
Labels: none

cmd/snap-recovery-chooser: support console-conf from a snap
  cmd/snap-recovery-chooser/main.go
  cmd/snap-recovery-chooser/main_test.go
Labels: none

cmd/snap-recovery-chooser: drop confusing comment
  cmd/snap-recovery-chooser/main.go
Labels: none

o/snapstate/snapstatetest: add PreserveSequence option to InstallSnap
  overlord/snapstate/snapstatetest/snapstate.go
Labels: none

o/devicestate: refactor lookup through SnapSequence to use SnapSequence.LastIndex
  overlord/devicestate/devicestate.go
Labels: none

tests/nested/manual/remodel-offline: fix misspelling
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-

o/snapstate/snapstatetest, overlord, o/devicestate: put options into struct for snapstatetest.InstallSnap
  overlord/devicestate/devicestate_remodel_test.go
  overlord/managers_test.go
  overlord/snapstate/snapstatetest/snapstate.go
Labels: none

tests/nested/manual/remodel-offline: test that offline remodeling will use previously installed revision of snap
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested -auto-

o/devicestate: check for previously installed revisions when falling back to installed snaps during offline remodel
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

add details to updated tests
  tests/main/lxd-snapfuse/task.yaml
  tests/main/uc20-create-partitions-encrypt/task.yaml
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
