Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

release-tools: skip flake8 on 24.04
  release-tools/test/test_flake8.py
Labels: none

tests/main/interfaces-network-control: re-enable tests depending on arp
  tests/main/interfaces-network-control/task.yaml
Labels: none

release-tools: skip flake8 on 24.04
  release-tools/test/test_flake8.py
Labels: none

tests: fix snap-quota-memory in fedora systems (#13698)
  tests/main/snap-quota-memory/task.yaml
Labels: none

tests: make more robust the nested log checks (#13692)
  tests/lib/nested.sh
Labels: Run nested -auto-

tests: update snap-system-env for noble
  tests/main/snap-system-env/task.yaml
Labels: none

tests: skip preseed tests in ubuntu noble
  tests/main/preseed-reset/task.yaml
  tests/main/preseed/task.yaml
Labels: none

remove exit 1
  tests/main/preseed/task.yaml
Labels: none

Code simplification
  usersession/agent/rest_api.go
Labels: none

Try to pass the static analyzer
  usersession/agent/rest_api.go
Labels: none

Revert "Try to pass the static analyzer"
  usersession/agent/rest_api.go
Labels: none

Another try to pass the static analyzer
  usersession/agent/rest_api.go
Labels: none

Revert "Another try to pass the static analyzer"
  usersession/agent/rest_api.go
Labels: none

tests/main/snapd-update-services: adapt to change in snapd behavior
  tests/main/snapd-update-services/task.yaml
Labels: none

overlord,systemd: do not restart mount units on snapd start
  overlord/snapstate/backend/mountunit.go
  overlord/snapstate/backend/mountunit_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_test.go
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: none

features: add function to return info about feature flags
  features/features.go
  features/features_test.go
Labels: none

client,daemon: expose features supported/enabled in `/v2/system-info`
  NEWS.md
  client/client.go
  client/client_test.go
  daemon/api_general.go
  daemon/api_general_test.go
Labels: Needs Documentation -auto-

overlord: create the drivers tree only if the it will be mounted
  overlord/devicestate/devicestate_remodel_test.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

gadget: remove left-over traces in test
  gadget/install/partition_test.go
  gadget/update_test.go
Labels: none

gadget/install: consider real partition size when creating partitions
  gadget/install/partition.go
  gadget/install/partition_test.go
Labels: none

o/snapstate: add specific setup task for kernel-modules components
  overlord/snapstate/component.go
  overlord/snapstate/component_install_test.go
Labels: none

o/snapstate/backend: add methods to set-up kernel-modules components
  overlord/snapstate/backend.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/backend_test.go
Labels: none

o/snapstate: make sure new local installation get always a new
  overlord/snapstate/handlers_components.go
  overlord/snapstate/handlers_components_prepare_test.go
Labels: none

o/snapstate/sequence: add ancillary methods to retrieve components
  overlord/snapstate/sequence/sequence.go
  overlord/snapstate/sequence/sequence_test.go
Labels: none

kernel,overlord: use function from kernel pkg to get kernel early
  kernel/kernel_drivers.go
Labels: none

o/snapstate: add handlers to set-up kernel-modules components
  overlord/snapstate/handlers_components.go
  overlord/snapstate/handlers_components_kernel_test.go
  overlord/snapstate/snapmgr.go
Labels: none

o/{devicestate,snapstate}: change name of kernel set-up tasks
  overlord/devicestate/devicestate_remodel_test.go
  overlord/managers_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/component.go
  overlord/snapstate/component_install_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_components_kernel_test.go
  overlord/snapstate/handlers_setup_kernel_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
Labels: none

tests: skip preseed tests in ubuntu noble (#13703)
  tests/main/preseed-reset/task.yaml
  tests/main/preseed/task.yaml
Labels: none

tests/main/interfaces-network-control: re-enable tests depending on arp (#13700)
  tests/main/interfaces-network-control/task.yaml
Labels: none

tests: update snap-system-env for noble (#13702)
  tests/main/snap-system-env/task.yaml
Labels: none

tests/main/lxd-mount-units: wait before checking generators (#13697)
  tests/main/lxd-mount-units/task.yaml
Labels: none

fix: allow pv-bwrap to mount all nvidia driver files
  interfaces/builtin/steam_support.go
Labels: none

features: add function to return info about feature flags
  features/features.go
  features/features_test.go
Labels: none

client,daemon: expose features supported/enabled in `/v2/system-info`
  NEWS.md
  client/client.go
  client/client_test.go
  daemon/api_general.go
  daemon/api_general_test.go
Labels: Needs Documentation -auto-

Update u2f_devices.go
  interfaces/builtin/u2f_devices.go
Labels: none

many: add nfs-mount interface (#12799)
  interfaces/builtin/nfs_mount.go
  interfaces/builtin/nfs_mount_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: none

sandbox/apparmor: use kernel features with host apparmor_parser
  cmd/snapd-apparmor/main_test.go
  sandbox/apparmor/apparmor.go
  sandbox/apparmor/apparmor_test.go
  sandbox/apparmor/profile_test.go
Labels: none

tests/lib/prepare.sh: reflash during shutdown
  tests/lib/prepare.sh
  tests/lib/reflash.sh
  tests/lib/uc16-reflash.sh
Labels: none

tests/main/interfaces-network-control: fix tests for ARP manipulation
  tests/main/interfaces-network-control/task.yaml
Labels: none

i/apparmor: pin abi 3.0
  cmd/snap-confine/snap-confine.apparmor.in
  interfaces/apparmor/template.go
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
