Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

daemon: make notices api require authenticated access (for now)
  daemon/api_notices.go
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

daemon: remove custom notice type from notices API
  daemon/api_notices_test.go
Labels: Needs Documentation -auto-

daemon: small refactor of notices api
  daemon/api_notices.go
Labels: Needs Documentation -auto-

daemon: add notices API
  daemon/api_notices.go
  daemon/api_notices_test.go
  daemon/request.go
Labels: Needs Documentation -auto-

o/snapstate: use ContainerPlaceInfo when removing mount units
  overlord/snapstate/backend.go
  overlord/snapstate/backend/mountunit.go
  overlord/snapstate/backend/mountunit_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/snapmgr.go
Labels: none

snap: create ContainerPlaceInfo interface
  snap/info.go
  snap/info_test.go
Labels: none

o/snapstate: remove unneeded printing traces in tests
  overlord/snapstate/snapstate_test.go
Labels: none

snap: add ComponentInfo methods to build mount/files dirs
  snap/component.go
  snap/component_test.go
Labels: none

snap,overlord: create and use ancillary build components functions
  overlord/snapstate/snapstate_test.go
  snap/component.go
  snap/component_test.go
Labels: none

o/snapstate/backend: refactor addMountUnit so it accepts components
  overlord/snapstate/backend/mountunit.go
  overlord/snapstate/backend/mountunit_test.go
  overlord/snapstate/backend/setup.go
Labels: none

overlord,snap: rename MinimalContainerInfo to a more sensible name
  overlord/snapstate/snapmgr.go
  snap/info.go
  snap/info_test.go
Labels: none

o/snapstate/backend: add function to read component from path
  overlord/snapstate/backend/backend.go
  overlord/snapstate/backend/backend_test.go
Labels: none

snap: split ReadComponentInfoFromContainer so yaml can be read
  snap/component.go
Labels: none

o/snapstate/backend: implement {,Undo}SetupComponent
  overlord/snapstate/backend.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/backend_test.go
Labels: none

interfaces: make AutoConnect of cups-control dependent on presence of cupsd on host system.
  interfaces/builtin/cups_control.go
  interfaces/policy/basedeclaration_test.go
Labels: none

interfaces: add unit tests for cups-control custom AutoConnect behaviour
  interfaces/builtin/cups_control.go
  interfaces/builtin/cups_control_test.go
Labels: none

tests: add a test for auto-connection behaviour of cups-control
  tests/main/interfaces-cups-control-autoconnect/cups-consumer/meta/snap.yaml
  tests/main/interfaces-cups-control-autoconnect/cups-provider/meta/snap.yaml
  tests/main/interfaces-cups-control-autoconnect/task.yaml
Labels: none

aspects: Get matches on prefixes and returns namespaced results
  aspects/aspects.go
  aspects/aspects_test.go
  daemon/api_aspects_test.go
  daemon/export_test.go
  overlord/aspectstate/aspectstate.go
  overlord/aspectstate/aspectstate_test.go
  tests/main/aspects/task.yaml
Labels: Needs Documentation -auto-

cmd/snap-update-ns: only error on invalid user home if it is required
  cmd/snap-update-ns/expand.go
  cmd/snap-update-ns/expand_test.go
  cmd/snap-update-ns/main_test.go
  cmd/snap-update-ns/user.go
  cmd/snap-update-ns/user_test.go
Labels: none

cmd/snap-update-ns: minor improvements
  cmd/snap-update-ns/user.go
  cmd/snap-update-ns/user_test.go
Labels: none

tests: revert the skip for change in nested test core20-to-core22 (#11923)
  tests/nested/manual/core20-to-core22/task.yaml
Labels: Run nested -auto-

cmd/snap-update-ns: removed unused home expansion logic
  cmd/snap-update-ns/expand.go
Labels: none

Update u2f_devices.go: Add Google Titan Security Key
  interfaces/builtin/u2f_devices.go
Labels: none

many: address review comments
  overlord/snapstate/backend.go
  overlord/snapstate/backend/mountunit.go
  overlord/snapstate/backend/mountunit_test.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/backend_test.go
  snap/component.go
  snap/component_test.go
Labels: none

snap: add MountDescription to ContainerPlaceInfo interface
  snap/component.go
  snap/component_test.go
  snap/info.go
  snap/info_test.go
Labels: none

overlord,snap: component file includes the snap instance name
  overlord/snapstate/backend/setup_test.go
  snap/component.go
  snap/component_test.go
Labels: none

overlord,systemd: address some review comments
  overlord/snapstate/backend/mountunit.go
  overlord/snapstate/backend/mountunit_test.go
  overlord/snapstate/backend/setup.go
  systemd/systemd.go
Labels: none

overlord,snap: unexport snap.ComponentPlaceInfo
  overlord/snapstate/backend.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/backend_test.go
  snap/component.go
  snap/component_test.go
Labels: none

overlord,systemd: pass description instead of revision when creating
  overlord/hookstate/ctlcmd/mount.go
  overlord/hookstate/ctlcmd/mount_test.go
  overlord/snapstate/backend/mountunit.go
  overlord/snapstate/backend/mountunit_test.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/snapmgr.go
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: Needs Documentation -auto-

overlord,snap: address review comments
  overlord/snapstate/backend/setup.go
  snap/component.go
Labels: none

aspects: improve array index handling in validation error
  aspects/schema.go
  aspects/schema_test.go
Labels: none

o/devicestate: remove println
  overlord/devicestate/handlers_remodel.go
Labels: none

o/devicestate: clarify comment in rollback of adding validation sets
  overlord/devicestate/handlers_remodel.go
Labels: none

o/devicestate: rename variable in enforceValidationSetsForRemodel
  overlord/devicestate/handlers_remodel.go
Labels: none

o/snapstate: clarify error when attempting to install/refresh local snap with different revision than requested
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
Labels: none

o/devicestate: naming consistency
  overlord/devicestate/devicestate.go
Labels: none

o/devicestate: simplify error when model is missing snap that is required in validation set
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

aspects: improve array index handling in validation error
  aspects/schema.go
  aspects/schema_test.go
Labels: none

aspects: improve errors caused by unexpected types
  aspects/schema.go
  aspects/schema_test.go
Labels: none

asserts, overlord, o/devicestate: rename SequenceName to SequenceKey and prefix the series to the string that is returned
  asserts/model.go
  asserts/model_test.go
  asserts/validation_set.go
  asserts/validation_set_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/firstboot_test.go
  overlord/devicestate/handlers_remodel.go
  overlord/managers_test.go
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
