Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*

tests: add amazon linux 2023 (#13409)
  .github/workflows/test.yaml
  packaging/amzn-2023
  packaging/fedora/snapd.spec
  spread.yaml
  tests/lib/external/snapd-testing-tools/tools/os.query
  tests/lib/pkgdb.sh
  tests/lib/prepare-restore.sh
  tests/main/cgroup-devices-v1/task.yaml
  tests/main/cgroup-freezer/task.yaml
  tests/main/document-portal-activation/task.yaml
  tests/main/hook-permissions/task.yaml
  tests/main/interfaces-fwupd-classic/task.yaml
  tests/main/interfaces-network-status-classic/task.yaml
  tests/main/interfaces-physical-memory-observe/task.yaml
  tests/main/microk8s-smoke/task.yaml
  tests/main/nfs-support/task.yaml
  tests/main/snap-quota-install/task.yaml
  tests/main/snap-quota/task.yaml
  tests/main/user-session-env/task.yaml
Labels: none

tests: add details to spread tests - part 4 (#13425)
  tests/main/snap-run-alias/task.yaml
  tests/main/snap-run-gdbserver/task.yaml
  tests/main/snap-run-hook/task.yaml
  tests/main/snap-run/task.yaml
  tests/main/snap-unset/task.yaml
  tests/main/snap-user-dir-perms-fixed/task.yaml
  tests/main/snap-user-service-restart-on-upgrade/task.yaml
  tests/main/snap-user-service/task.yaml
  tests/main/snapctl-is-connected-list/task.yaml
  tests/main/snapctl-is-connected/task.yaml
  tests/main/snapctl/task.yaml
  tests/main/snapd-snap-auto-install/task.yaml
Labels: none

o/devicestate: simplify condition which checks for remodel from snapd-based to core-based
  overlord/devicestate/devicestate.go
Labels: none

aspects: unmatched placeholder returns all values
  aspects/aspects.go
  aspects/aspects_test.go
  aspects/transaction.go
  aspects/transaction_test.go
  daemon/api_aspects_test.go
  overlord/aspectstate/aspectstate_test.go
Labels: Needs Documentation -auto-

o/devicestate: update remodel UC18+ to UC16 error message to be more consistent
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

skip interfaces-{calendar,contacts}-service tests
  tests/main/interfaces-calendar-service/task.yaml
  tests/main/interfaces-contacts-service/task.yaml
Labels: none

i/b/fwupd.go: Allow write access to COD capsule update directory
  interfaces/builtin/fwupd.go
Labels: none

i/b/fwupd.go: add access sysfs attributes needed by amdgpu
  interfaces/builtin/fwupd.go
Labels: none

i/b/fwupd.go: give access to IPMI devices
  interfaces/builtin/fwupd.go
Labels: none

o/devicestate: make sure we do not remodel to UC16 from UC18+ (#13429)
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: none

interfaces: update desktop interface AppArmor permanent slot rules (#13308)
  interfaces/builtin/desktop.go
Labels: none

tests/nested/manual/uc20-install-in-initrd: remove core-initrd tweaks
  tests/nested/manual/uc20-install-in-initrd/task.yaml
  tests/nested/manual/uc20-install-in-initrd/the-modeenv
Labels: Run nested -auto-

cmd/snap-update-ns/update_test.go: update test comment (thanks @pedronis)
  cmd/snap-update-ns/update_test.go
Labels: none

cmd/snap-update-ns: set sythentic mounts `x-snapd.needed-by` to entry id instead of path (#13393)
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/update_test.go
Labels: none

o/snapstate: address review comments
  overlord/snapstate/component.go
  overlord/snapstate/component_install_test.go
  overlord/snapstate/component_test.go
  overlord/snapstate/handlers_components.go
  overlord/snapstate/handlers_components_mount_test.go
  overlord/snapstate/snapmgr.go
Labels: none

aspects: deserialize values under placeholder
  aspects/aspects.go
  aspects/aspects_test.go
Labels: none

tests: add support for fedora 39 and remove support for fedora 37 (#13427)
  .github/workflows/test.yaml
  packaging/fedora-39
  spread.yaml
  tests/lib/external/snapd-testing-tools/spread.yaml
  tests/lib/external/snapd-testing-tools/tests/os.query/task.yaml
  tests/main/interfaces-calendar-service/task.yaml
  tests/main/interfaces-contacts-service/task.yaml
  tests/main/microk8s-smoke/task.yaml
Labels: none

tests: add spread tests support for ubuntu-24.04
  .github/workflows/test.yaml
  spread.yaml
Labels: none

add test fixes
  tests/lib/pkgdb.sh
  tests/main/cgroup-devices-v1/task.yaml
  tests/main/cgroup-freezer/task.yaml
  tests/main/lxd-mount-units/task.yaml
  tests/main/lxd/task.yaml
  tests/main/upgrade-from-release/task.yaml
Labels: none

fix preseed tests and cgroup-tracking-failure
  tests/lib/image.sh
  tests/main/cgroup-devices-v2/task.yaml
  tests/main/cgroup-tracking-failure/task.yaml
Labels: none

Fix failing tests
  tests/main/lxd-mount-units/task.yaml
  tests/main/lxd/task.yaml
  tests/main/upgrade-from-release/task.yaml
Labels: none

use ubuntu-daily images for lxd when system is ubuntu-24.04
  tests/main/lxd-mount-units/task.yaml
  tests/main/lxd-postrm-purge/task.yaml
  tests/main/lxd-try/task.yaml
  tests/main/lxd/task.yaml
Labels: none

skip snapd-homedirs-vendored in ubuntu 24.04
  tests/main/snapd-homedirs-vendored/task.yaml
Labels: none

fix upgrade-from-release test
  tests/main/upgrade-from-release/task.yaml
Labels: none

fix more lxd tests
  tests/main/lxd-postrm-purge/task.yaml
  tests/main/lxd-try/task.yaml
Labels: none

add missing details to tests
  tests/main/lxd-postrm-purge/task.yaml
  tests/main/lxd-try/task.yaml
Labels: none

fix system name
  tests/main/cgroup-devices-v2/task.yaml
Labels: none

update scroup-tracking-failure test
  tests/main/cgroup-tracking-failure/task.yaml
Labels: none

aspects: validate request string for Get/Set
  aspects/aspects.go
  aspects/aspects_test.go
Labels: none

aspects: add comment
  aspects/aspects.go
Labels: none

cmd/libsnap-confine-private: pass env real-home to snap-update-ns (#13244)
  cmd/libsnap-confine-private/tool.c
  cmd/snap-confine/snap-confine.c
Labels: none

interfaces/builtin: improve plug connect error message
  interfaces/builtin/personal_files.go
Labels: none

asserts: validate resource-name in snap-resource-* assertions
  asserts/snap_resource_asserts.go
  asserts/snap_resource_asserts_test.go
Labels: none

interfaces/builtin: improve how uio config path is constructed
  interfaces/builtin/uio.go
Labels: none

interfaces/builtin: fixed ut
  interfaces/builtin/personal_files_test.go
Labels: none

many: ensure-dir mounts for personal-files missing dirs (#13260)
  cmd/snap-update-ns/utils.go
  interfaces/apparmor/spec.go
  interfaces/apparmor/spec_test.go
  interfaces/apparmor/template.go
  interfaces/builtin/export_test.go
  interfaces/builtin/personal_files.go
  interfaces/builtin/personal_files_test.go
  interfaces/builtin/shared_memory.go
  interfaces/builtin/utils.go
  interfaces/builtin/utils_test.go
  interfaces/ensure_dir.go
  interfaces/ensure_dir_test.go
  interfaces/mount/spec.go
  interfaces/mount/spec_test.go
  osutil/mountentry.go
  osutil/mountentry_linux_test.go
  strutil/pathiter.go
  strutil/pathiter_test.go
Labels: none

many: add snap-update-ns support for ensure-dir mounts (#13342)
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/expand.go
  cmd/snap-update-ns/expand_test.go
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/main.go
  cmd/snap-update-ns/main_test.go
  cmd/snap-update-ns/user.go
  cmd/snap-update-ns/user_test.go
  cmd/snap-update-ns/utils.go
  cmd/snap-update-ns/utils_test.go
  cmd/snap-update-ns/xdg.go
  cmd/snap-update-ns/xdg_test.go
Labels: none

fix misspelling
  tests/perf/parallel-installs/task.yaml
Labels: none

tests: use load generator to generate load in perf tests
  spread.yaml
  tests/lib/snaps/store/test-snapd-load-generator/load-generator
  tests/lib/tools/tests.nested
  tests/nested/manual/minimal-smoke/task.yaml
  tests/nested/perf/interfaces-core-provided/task.yaml
  tests/nested/perf/interfaces-many/task.yaml
  tests/nested/perf/parallel-installs/task.yaml
  tests/perf/interfaces-core-provided/task.yaml
  tests/perf/interfaces-snap-provided/task.yaml
  tests/perf/interfaces-snap-provided/test-snapd-policy-app-provider-classic/bin/run
  tests/perf/interfaces-snap-provided/test-snapd-policy-app-provider-classic/meta/snap.yaml
  tests/perf/interfaces-snap-provided/test-snapd-policy-app-provider-core/bin/run
  tests/perf/interfaces-snap-provided/test-snapd-policy-app-provider-core/meta/snap.yaml
  tests/perf/parallel-installs/task.yaml
Labels: Run nested -auto-

fix shellchecks
  spread.yaml
  tests/perf/parallel-installs/task.yaml
Labels: none
