Repository canonical/snapd, changes with the labels that .github/labeler.yml gives for each.
All labels: Run nested -auto-, Needs Documentation -auto-

steam_support: combine /snap rules
  interfaces/builtin/steam_support.go
Labels: none

skip adding user group on testflinger backend
  tests/lib/prepare-restore.sh
Labels: none

Add logic to support testflinger backend in spread tests
  tests/core/basic20plus/task.yaml
  tests/lib/prepare-restore.sh
  tests/lib/prepare.sh
  tests/lib/uc20-recovery.sh
Labels: none

create user on testflinger backend
  tests/lib/prepare-restore.sh
Labels: none

steam_support: generalize pressure-vessel root paths (#13489)
  interfaces/builtin/steam_support.go
Labels: none

aspects: support content sub-rules (#13627)
  aspects/aspects.go
  aspects/aspects_test.go
Labels: none

tests: support testflinger (#13662)
  tests/core/basic20plus/task.yaml
  tests/lib/prepare-restore.sh
  tests/lib/prepare.sh
  tests/lib/uc20-recovery.sh
Labels: none

fix interfaces-network-control in ubuntu noble
  tests/main/interfaces-network-control/task.yaml
Labels: none

new test isntall many snaps
  spread.yaml
  tests/perf/install-many-snaps/task.yaml
Labels: none

fix shellcheck about quotes
  tests/perf/install-many-snaps/task.yaml
Labels: none

check if ssh is ready in nested tests before the checks in serial log
  tests/lib/nested.sh
Labels: Run nested -auto-

asserts: move aspect schema to assertion body
  asserts/aspect_bundle.go
  asserts/aspect_bundle_test.go
  asserts/asserts.go
  asserts/asserts_test.go
  overlord/aspectstate/aspectstate_test.go
  overlord/assertstate/assertstate_test.go
  tests/lib/assertions/developer1-network-aspect-bundle.json
  tests/lib/assertions/developer1-network.aspect-bundle
  tests/lib/gendeveloper1/main.go
Labels: none

c/snap: add test for running component hook from snap instance
  cmd/snap/cmd_run_test.go
Labels: none

integrated the change to reflash
  tests/lib/prepare.sh
  tests/lib/reflash.sh
Labels: none

add nvme0n1 to reflash script
  tests/lib/reflash.sh
Labels: none

coding policy: cover merge types and preference
  CODING.md
  CONTRIBUTING.md
Labels: none

wrappers: install session files
  data/desktop/Makefile
  data/desktop/ubuntu-core-desktop-session-wrapper
  dirs/dirs.go
  overlord/snapstate/backend/link.go
  wrappers/export_test.go
  wrappers/session.go
  wrappers/session_test.go
Labels: none

daemon,data/polkit: add polkit action for managing snap configuration
  daemon/api.go
  data/polkit/io.snapcraft.snapd.policy
Labels: Needs Documentation -auto-

daemon: allow polkit authentication for `/v2/snaps/{snap}/conf`
  daemon/api_snap_conf.go
  daemon/api_snap_conf_test.go
Labels: Needs Documentation -auto-

interfaces/builtin: add interface for kernel-firmware-control
  interfaces/builtin/kernel_firmware_control.go
  interfaces/builtin/kernel_firmware_control_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: none

strace: use --gid/--uid options
  cmd/snap/cmd_run_test.go
  osutil/strace/strace.go
  osutil/strace/strace_test.go
Labels: none

tests: enable "snap run --strace" test on UC22
  tests/main/snap-run/task.yaml
Labels: none

strace: break out strace user handling to a helper
  osutil/strace/strace.go
Labels: none

strace: Re-format comment regarding strace compatiblity.
  osutil/strace/strace.go
Labels: none

tests: new perf test install-many-snaps (#13478)
  spread.yaml
  tests/lib/nested.sh
  tests/perf/install-many-snaps/task.yaml
Labels: Run nested -auto-

many: correct the syntax of snap_instance-key+component strings
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  overlord/hookstate/context.go
  overlord/hookstate/context_test.go
  overlord/hookstate/hookstate_test.go
  snap/info.go
  snap/info_test.go
Labels: none

packaging/ubuntu-16.04: install systemd files in correct place on 24.04
  packaging/ubuntu-16.04/rules
  packaging/ubuntu-16.04/snapd.install.in
Labels: none

tests: add spread tests support for ubuntu-24.04 (#13426)
  .github/workflows/test.yaml
  spread.yaml
  tests/lib/image.sh
  tests/lib/pkgdb.sh
  tests/main/cgroup-devices-v1/task.yaml
  tests/main/cgroup-freezer/task.yaml
  tests/main/cgroup-tracking-failure/task.yaml
  tests/main/lxd-mount-units/task.yaml
  tests/main/lxd-postrm-purge/task.yaml
  tests/main/lxd-try/task.yaml
  tests/main/lxd/task.yaml
  tests/main/snapd-homedirs-vendored/task.yaml
  tests/main/upgrade-from-release/task.yaml
Labels: none

release: 2.61.3
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: none

steam_support: add comment regarding need for /usr/share driver info
  interfaces/builtin/steam_support.go
Labels: none

dirs: add directory location for storing cgroup policy related flags
  dirs/dirs.go
Labels: none

interfaces/udev: introduce cgroup policy flag for self managed device cgroup
  interfaces/udev/backend.go
  interfaces/udev/backend_test.go
Labels: none

interfaces/udev: remove snap devices file when removing the snap
  interfaces/udev/backend.go
  interfaces/udev/backend_test.go
Labels: none

packaging: declare /var/lib/snapd/cgroup
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
Labels: none

cmd/snap-confine: move device cgroup mode selection to a helper
  cmd/snap-confine/snap-confine.c
Labels: none

cmd/libsnap-confine-private: add helper for waiting for a file to show up
  cmd/libsnap-confine-private/utils.c
  cmd/libsnap-confine-private/utils.h
Labels: none

packaging: create cgroup directory
  packaging/snapd.mk
Labels: none

interfaces/udev: consistent use of fs.ErrNotExist
  interfaces/udev/backend.go
Labels: none

cmd/snap-confine: support snaps which self-manage device cgroup
  cmd/snap-confine/snap-confine.c
Labels: none

cmd/snap-confine: leave comments
  cmd/snap-confine/snap-confine.c
Labels: none

.github/labeler.yml:

# 18.02.2021: temporarily disabled as labeler keeps removing the labels
# possible related issues:
# - https://github.com/actions/labeler/issues/112
# - https://github.com/actions/labeler/issues/104

# Add 'Run nested -auto-' label to either any change on nested lib or nested test
Run nested -auto-:
  - tests/lib/nested.sh
  - tests/nested/**/*

# Add 'Needs Documentation -auto-' label to indicate a change needs changes in the docs
Needs Documentation -auto-:
  - cmd/snap/**/*"
  - daemon/**/*
  - overlord/hookstate/ctlcmd/**/*
  - overlord/configstate/configcore/**/*
