Repository canonical/snapd, pull requests merged in 2018-10, with the labels that each got.

#5782 ifacestate: helpers for generating slot names for hotplug
  overlord/ifacestate/export_test.go
  overlord/ifacestate/hotplug.go
  overlord/ifacestate/hotplug_test.go
Labels: Hotplug

#5903 overlord/snapshotstate: store epoch in snapshot, check on restore
  overlord/snapshotstate/backend/backend.go
  overlord/snapshotstate/backend/backend_test.go
  overlord/snapshotstate/snapshotstate.go
  overlord/snapshotstate/snapshotstate_test.go
Labels: 📸󠁟̻

#5869 snap: detect layouts vs layout in snap.yaml
  snap/info_snap_yaml.go
  snap/info_snap_yaml_test.go
Labels: Simple

#5912 interfaces/apparmor: handle overlayfs snippet for snap-update-ns
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
Labels: Critical

#5907 overlord/snapshotstate: chown the tempdir
  overlord/snapshotstate/backend/reader.go
Labels: Simple, 📸󠁟̻

#5920 tests/main/document-portal-activation/task.yaml shellcheck fix
  tests/main/document-portal-activation/task.yaml
Labels: Simple 😃

#5919 overlord: don't make become-operational interfere with user requests
  overlord/ifacestate/ifacestate_test.go
  overlord/snapstate/conflict.go
Labels: ⚠ Critical

#5922 Revert "spread: put openSUSE to manual"
  spread.yaml
Labels: Simple 😃

#5905 store: gracefully handle unexpected errors in 'action' response
  store/store.go
  store/store_test.go
Labels: Simple 😃

#5898 tests: spread tests for aliases with parallel installed snaps
  overlord/snapstate/aliasesv2.go
  overlord/snapstate/aliasesv2_test.go
  overlord/snapstate/snapstate.go
  tests/main/parallel-install-aliases/task.yaml
  tests/main/parallel-install-auto-aliases/task.yaml
Labels: Parallel installs

#5906 snap, client, daemon, store: use and expose "media" more
  client/packages.go
  client/packages_test.go
  daemon/api_test.go
  daemon/snap.go
  snap/info.go
  snap/info_test.go
  store/details.go
  store/details_v2.go
  store/details_v2_test.go
  store/store_test.go
Labels: Squash-merge

#5945 overlord/snapstate: block parallel installs of snapd, core, base, kernel, gadget snaps
  overlord/snapstate/backend_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Parallel installs ⛓

#5882 many: support and consider store friendly-stores when checking device scope constraints
  asserts/store_asserts.go
  asserts/store_asserts_test.go
  interfaces/policy/helpers.go
  interfaces/policy/policy.go
  interfaces/policy/policy_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/ifacestate.go
  overlord/ifacestate/ifacestate_test.go
Labels: Squash-merge

#5910 snapshotstate: restore to current revision
  overlord/snapshotstate/backend/backend_test.go
  overlord/snapshotstate/backend/reader.go
  overlord/snapshotstate/export_test.go
  overlord/snapshotstate/snapshotmgr.go
  overlord/snapshotstate/snapshotmgr_test.go
  overlord/snapshotstate/snapshotstate.go
  overlord/snapshotstate/snapshotstate_test.go
Labels: Snapshots 📸󠁟

#5759 ifacestate: implementation of defaultDeviceKey function for hotplug
  overlord/ifacestate/export_test.go
  overlord/ifacestate/hotplug.go
  overlord/ifacestate/hotplug_test.go
Labels: Hotplug 🔌

#5951 spread-shellcheck: fix interleaved error messages, tweaks
  spread-shellcheck
Labels: Simple 😃

#5860 interfaces/hotplug: helpers and struct updates
  overlord/ifacestate/export_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
  snap/info.go
Labels: Hotplug 🔌

#5952 tests/ifacestate: moved asserts-related mocking into helper
  overlord/ifacestate/ifacestate_test.go
Labels: Hotplug 🔌, Simple 😃

#5964 overlord/snapstate: export getFeatureFlagBool.
  overlord/snapstate/snapstate.go
Labels: Simple 😃

#5965 interfaces/tests: use TestInterface instead of a custom local helper
  interfaces/repo_test.go
Labels: Simple 😃

#5967 interfaces/hotplug: rename HotplugDeviceKey method to HotplugKey, update test interface
  interfaces/hotplug/spec.go
  interfaces/ifacetest/testiface.go
  interfaces/ifacetest/testiface_test.go
Labels: Hotplug 🔌, Simple 😃

#5913 daemon: expose snapshots to the API
  daemon/api.go
  daemon/api_snapshots.go
  daemon/api_snapshots_test.go
  daemon/api_test.go
  daemon/command_counter_test.go
  daemon/export_snapshots_test.go
Labels: Snapshots 📸󠁟

#5971 interfaces: include invalid type in Attr error
  interfaces/connection.go
  interfaces/connection_test.go
Labels: Simple 😃

#5973 image: improve validation of extra snaps
  image/image.go
  image/image_test.go
Labels: Simple 😃

#5947 many: cleanup remaining parallel installs TODOs
  interfaces/builtin/desktop.go
  interfaces/builtin/ubuntu_download_manager.go
  interfaces/builtin/utils.go
  interfaces/builtin/wayland.go
  overlord/snapstate/check_snap.go
  overlord/snapstate/snapstate_test.go
  snap/container.go
  snap/info.go
  snap/snapenv/snapenv.go
  snap/validate.go
Labels: Parallel installs ⛓

#5986 data/systemd, wrappers: tweak system-shutdown helper for core18
  cmd/system-shutdown/system-shutdown-utils.c
  data/systemd/snapd.system-shutdown.service.in
  wrappers/core18.go
  wrappers/core18_test.go
Labels: Simple 😃, ⚠ Critical

#5988 cmd: rename ns_group to mount_ns
  cmd/snap-confine/ns-support-test.c
  cmd/snap-confine/ns-support.c
  cmd/snap-confine/ns-support.h
  cmd/snap-confine/snap-confine.c
  cmd/snap-discard-ns/snap-discard-ns.c
Labels: Simple 😃

#5948 asserts, image: ensure kernel, gadget, base and required-snaps use valid snap names
  asserts/device_asserts.go
  asserts/device_asserts_test.go
  image/image.go
  image/image_test.go
Labels: Parallel installs ⛓

#6003 cmd/snap: block 'snap help <cmd> --all'
  cmd/snap/cmd_help.go
  cmd/snap/cmd_help_test.go
Labels: Simple 😃

#5979 install: don't start disabled services
  systemd/systemd.go
  tests/lib/snaps/test-snapd-svcs-disable-install-hook/bin/forking.sh
  tests/lib/snaps/test-snapd-svcs-disable-install-hook/bin/simple.sh
  tests/lib/snaps/test-snapd-svcs-disable-install-hook/meta/hooks/install
  tests/lib/snaps/test-snapd-svcs-disable-install-hook/meta/snap.yaml
  tests/main/svcs-disable-install-hook/task.yaml
  wrappers/services.go
  wrappers/services_test.go
Labels: Squash-merge

#6001 interfaces: typo 'allows' for consistency with other ifaces
  interfaces/builtin/password_manager_service.go
Labels: Simple 😃

#5957 overlord/snapshotstate/backend: fall back on sudo when no runuser
  overlord/snapshotstate/backend/backend.go
  overlord/snapshotstate/backend/backend_test.go
  overlord/snapshotstate/backend/export_test.go
  overlord/snapshotstate/backend/helpers.go
  overlord/snapshotstate/backend/reader.go
Labels: Snapshots 📸󠁟

#6020 overlord/snapshotstate/backend: detect path to tar in unit tests
  overlord/snapshotstate/backend/backend_test.go
Labels: Simple 😃

#6007 tests/lib: add an @mozilla.com exception to the CLA checker.
  tests/lib/cla_check.py
Labels: Simple 😃

#6026 cmd/snap: try not to panic on error from "snap try"
  cmd/snap/cmd_snap_op.go
  cmd/snap/cmd_snap_op_test.go
  cmd/snap/error.go
  cmd/snap/main_test.go
Labels: ⚠ Critical

#6017 interfaces: fix decoding of json numbers for static/dynamic attributes
  interfaces/builtin/dummy.go
  interfaces/connection_test.go
  interfaces/utils/utils.go
  interfaces/utils/utils_test.go
  overlord/ifacestate/export_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
  overlord/ifacestate/ifacestate_test.go
  tests/lib/snaps/basic-iface-hooks-producer/meta/snap.yaml
Labels: Squash-merge

#6022 daemon, snap: mark screenshots as deprecated
  daemon/api_test.go
  snap/info.go
  snap/info_test.go
Labels: Simple 😃

#5985 overlord/many: cleanup use of snapName vs. instanceName
  overlord/configstate/config/transaction.go
  overlord/configstate/configstate_test.go
  overlord/configstate/hooks.go
  overlord/devicestate/firstboot_test.go
  overlord/hookstate/context.go
  overlord/hookstate/context_test.go
  overlord/hookstate/ctlcmd/get.go
  overlord/hookstate/ctlcmd/helpers.go
  overlord/hookstate/ctlcmd/set.go
  overlord/hookstate/hookmgr.go
  overlord/hookstate/hookstate_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/helpers.go
  overlord/snapshotstate/snapshotstate.go
  overlord/snapstate/aliasesv2.go
  overlord/snapstate/conflict.go
  overlord/snapstate/cookies.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Parallel installs ⛓, Simple 😃

#6030 cmd/snap: tweak `snap services` output when there is no services
  cmd/snap/cmd_services.go
  cmd/snap/cmd_services_test.go
Labels: Simple 😃

#6027 overlord/ifacestate: don't conflict on own discard-snap tasks when refreshing & doing garbage collection
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacestate_test.go
  overlord/managers_test.go
  overlord/state/taskrunner.go
Labels: Squash-merge, ⚠ Critical

#6035 tests/main/parallel-install-store: the store has caught up, do not expect failures
  tests/main/parallel-install-store/task.yaml
Labels: Parallel installs ⛓, Simple 😃

#6040 data/apt: close stderr when calling snap in the apt install hook.
  data/apt/20snapd.conf
Labels: Simple 😃

#6044 cmd/snap-confine: remove stale mount profile along stale namespace
  cmd/snap-confine/ns-support.c
  cmd/snap-confine/snap-confine.apparmor.in
Labels: ⚠ Critical

#6046 cmd/snap-confine: remove SC_NS_FAIL_GRACEFULLY
  cmd/snap-confine/ns-support-test.c
  cmd/snap-confine/ns-support.c
  cmd/snap-confine/ns-support.h
  cmd/snap-confine/snap-confine.c
Labels: Simple 😃

#6047 cmd: remove remnants of sc_should_populate_mount_ns
  cmd/snap-confine/ns-support.h
Labels: Simple 😃

#5955 cmd/snap, tests: snapshots for all
  cmd/snap/cmd_help.go
  cmd/snap/cmd_snapshot.go
  cmd/snap/complete.go
  cmd/snap/times.go
  tests/main/snapshot-basic/task.yaml
  tests/main/snapshot-cross-revno/task.yaml
Labels: Snapshots 📸󠁟

#6054 strutil: add extra test to CommaSeparatedList as suggested by mborzecki
  strutil/strutil_test.go
Labels: Simple 😃

#6061 tests: fail if install_snap_local fails
  tests/lib/snaps.sh
Labels: Simple 😃

#6063 store: also make snaps downloaded via deltas 0600
  store/store.go
  store/store_test.go
Labels: Simple 😃

#6068 ifacestate/helpers: findConnsForHotplugKey helper
  overlord/ifacestate/export_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
Labels: Hotplug 🔌, Simple 😃

#6083 tests/lib: adjust to changed systemctl behaviour on debian-9
  tests/lib/prepare.sh
Labels: Simple 😃, Squash-merge

#6076 tests: linode execution is not needed anymore
  run-checks
Labels: Simple 😃

#6075 tests: removing fedora 26 system from spread.yaml
  spread.yaml
Labels: Simple 😃
