Repository canonical/snapd, pull requests merged in 2018-05, with the labels that each got.

#5125 spread: add adt for ubuntu 18.10
  spread.yaml
Labels: Simple

#5127 HACKING: fix typos
  HACKING.md
Labels: Simple

#5128 Revert "Skip test lp-1721518 for arch, snapd is failing to start afte…
  tests/regression/lp-1721518/task.yaml
Labels: Simple

#5129 cmd/snap-confine: allow any base snap to provide /etc/alternatives
  cmd/snap-confine/snap-confine.apparmor.in
Labels: Simple

#5130 interfaces/apparmor: allow bash and dash to be in /usr/bin/
  interfaces/apparmor/template.go
Labels: Simple

#5138 cmd/libsnap: fix compile error on more restrictive gcc
  cmd/libsnap-confine-private/locking-test.c
  cmd/libsnap-confine-private/snap-test.c
  cmd/libsnap-confine-private/utils-test.c
  cmd/snap-confine/ns-support-test.c
Labels: Critical, Simple, Squash-merge

#5107 cmd/snap-update-ns,tests: mimic the mode and ownership of directories
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/utils.go
  cmd/snap-update-ns/utils_test.go
  interfaces/apparmor/template.go
  tests/lib/snaps/test-snapd-layout/meta/snap.yaml
  tests/main/layout/task.yaml
Labels: Squash-merge

#5124 many: add wait command and seeded target
  client/client.go
  cmd/snap/cmd_wait.go
  cmd/snap/cmd_wait_test.go
  cmd/snap/export_test.go
  daemon/api.go
  daemon/api_test.go
  daemon/response.go
  data/systemd/snapd.seeded.service.in
  overlord/configstate/configcore/corecfg.go
  overlord/devicestate/devicemgr.go
  packaging/fedora/snapd.spec
  packaging/opensuse-42.2/snapd.spec
  tests/main/snap-wait/task.yaml
Labels: Critical

#5147 snapd.core-fixup.sh: add workaround for corrupted uboot.env
  data/systemd/snapd.core-fixup.service.in
  data/systemd/snapd.core-fixup.sh
  tests/main/snap-core-fixup/task.yaml
  tests/main/snap-core-fixup/test.img.xz
Labels: Critical

#5120 interfaces: interface hooks for refresh
  overlord/hookstate/ctlcmd/services_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate.go
  overlord/ifacestate/ifacestate_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  tests/main/interfaces-hooks/task.yaml
Labels: Critical, Squash-merge

#5142 many: add "snap debug sandbox-features" and needed bits
  client/client.go
  client/client_test.go
  cmd/snap/cmd_can_manage_refreshes.go
  cmd/snap/cmd_confinement.go
  cmd/snap/cmd_ensure_state_soon.go
  cmd/snap/cmd_get_base_declaration.go
  cmd/snap/cmd_sandbox_features.go
  cmd/snap/cmd_sandbox_features_test.go
  cmd/snap/main.go
  daemon/api.go
  daemon/api_test.go
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/export_test.go
  interfaces/backend.go
  interfaces/dbus/backend.go
  interfaces/dbus/backend_test.go
  interfaces/ifacetest/backend.go
  interfaces/kmod/backend.go
  interfaces/kmod/backend_test.go
  interfaces/mount/backend.go
  interfaces/mount/backend_test.go
  interfaces/seccomp/backend.go
  interfaces/seccomp/backend_test.go
  interfaces/seccomp/export_test.go
  interfaces/systemd/backend.go
  interfaces/systemd/backend_test.go
  interfaces/udev/backend.go
  interfaces/udev/backend_test.go
  tests/main/debug-sandbox/task.yaml
Labels: Squash-merge

#5163 tests: build spread in the autopkgtests with a more recent go
  packaging/ubuntu-16.04/tests/integrationtests
Labels: Critical

#4562 debian: add a zenity|kdialog suggests
  packaging/ubuntu-14.04/control
  packaging/ubuntu-16.04/control
Labels: Reviewed

#5032 repo: pass and return ConnRef via pointers
  daemon/api.go
  daemon/api_test.go
  interfaces/core.go
  interfaces/core_test.go
  interfaces/repo.go
  interfaces/repo_test.go
  overlord/devicestate/devicestate_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacestate_test.go
  overlord/managers_test.go
Labels: Simple, Squash-merge

#5158 boot,partition: improve tests/docs around SetNextBoot()
  boot/kernel_os.go
  boot/kernel_os_test.go
  partition/bootloader.go
Labels: Simple

#5171 ifacestate: unify reconnect and autoconnect methods
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacestate.go
  overlord/ifacestate/ifacestate_test.go
Labels: Simple

#5173 snap: some doc comments fixes and additions
  snap/broken.go
  snap/container.go
  snap/info.go
Labels: Simple

#5075 snap/env: fix env duplication logic
  data/env/snapd.sh.in
Labels: Simple

#5175 systemd: mock useFuse() so testsuite passes in container via lxd snap
  overlord/snapstate/backend/mountunit_test.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: Simple

#5179 daemon: fix unit tests on arch
  daemon/api_test.go
Labels: Simple

#5180 tests/main/snap-service-timer: account for service timer being in the 'running' state
  tests/main/snap-service-timer/task.yaml
Labels: Simple

#5181 userd: add the "snap" scheme to the whitelist
  tests/main/xdg-open/task.yaml
  userd/launcher.go
  userd/launcher_test.go
Labels: Simple

#5066 overlord/snapshotstate/backend: introducing the snapshot backend
  dirs/dirs.go
  overlord/snapshotstate/backend/backend.go
  overlord/snapshotstate/backend/backend_test.go
  overlord/snapshotstate/backend/export_test.go
  overlord/snapshotstate/backend/helpers.go
  overlord/snapshotstate/backend/reader.go
  overlord/snapshotstate/backend/restorestate.go
  overlord/snapshotstate/backend/sizer.go
Labels: Complex

#5186 daemon: update unit tests to match current master
  daemon/api_test.go
Labels: Simple

#5201 interfaces/apparmor: use helper to load stray profile
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
Labels: Simple

#5143 tests: speed up save/restore snapd state for all-snap systems during tests execution
  spread.yaml
  tests/lib/boot.sh
  tests/lib/prepare-restore.sh
  tests/lib/prepare.sh
  tests/lib/reset.sh
  tests/lib/snaps/test-snapd-rsync/snapcraft.yaml
  tests/lib/state.sh
  tests/lib/systems.sh
  tests/main/snap-run-symlink-error/task.yaml
  tests/snapd-state.md
Labels: Squash-merge

#5205 packaging: fix description
  packaging/ubuntu-14.04/control
  packaging/ubuntu-16.04/control
  snapcraft.yaml
Labels: Simple

#5202 packaging: filter out verbose flags from "dh-golang"
  packaging/build-tools/go
  packaging/ubuntu-16.04/rules
Labels: Simple

#5210 spread: openSUSE LEAP 42.2 was EOLd in January, remove it
  spread.yaml
Labels: Simple

#5211 snapcraft: use dpkg-buildpackage options that work in xenial
  parts/plugins/x_builddeb.py
Labels: Simple

#5212 xdgopenproxy: skip TestOpenUnreadableFile when run as root
  xdgopenproxy/xdgopenproxy_test.go
Labels: Simple

#5228 interfaces/hardware-observe: allow access to /etc/sensors* for libsensors (2.33)
  interfaces/builtin/hardware_observe.go
Labels: Simple

#5227 interfaces/hardware-observe: allow access to /etc/sensors* for libsensors
  interfaces/builtin/hardware_observe.go
Labels: Simple

#5231 interfaces/joystick: force use of the device cgroup with joystick interface
  interfaces/builtin/joystick.go
  interfaces/builtin/joystick_test.go
Labels: Critical
