Repository canonical/snapd, pull requests merged in 2018-11, with the labels that each got.

#6088 tests: add debug output for degraded test
  tests/main/degraded/task.yaml
Labels: Simple 😃

#6087 tests: core 18 does not support classic confinement
  tests/lib/snaps.sh
Labels: Simple 😃

#6089 tests: install dependencies during prepare
  tests/lib/pkgdb.sh
  tests/main/snap-handle-link/task.yaml
Labels: Simple 😃

#6078 ifacestate/ifacemgr: don't reload hotplug-gone connections on startup
  overlord/ifacestate/helpers.go
  overlord/ifacestate/ifacestate_test.go
Labels: Hotplug 🔌, Simple 😃

#6081 overlord/ifacestate: mark connections disconnected by hotplug with hotplug-gone
  overlord/ifacestate/export_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacestate.go
  overlord/ifacestate/ifacestate_test.go
Labels: Hotplug 🔌

#5946 cmd/snap: unhide --name parameter to snap install, tweak help message
  cmd/snap/cmd_snap_op.go
Labels: Parallel installs ⛓

#6115 cmd: update autogen.sh for opensuse
  cmd/autogen.sh
Labels: Simple 😃

#6117 overlord/ifacestate: don't remove the dash when generating unique slot name
  overlord/ifacestate/hotplug.go
  overlord/ifacestate/hotplug_test.go
Labels: Hotplug 🔌, Simple 😃

#6072 ifacestate/udevmonitor: added callback to signal end of enumeration
  overlord/ifacestate/export_test.go
  overlord/ifacestate/hotplug.go
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate_test.go
  overlord/ifacestate/udevmonitor/udevmon.go
  overlord/ifacestate/udevmonitor/udevmon_test.go
Labels: Hotplug 🔌, Simple 😃

#6131 store: remove unused currentSnap and currentSnapJSON
  store/export_test.go
  store/store.go
  store/store_test.go
Labels: Simple 😃

#6130 snap: make Epoch's MarshalJSON not simplify
  snap/epoch.go
  snap/epoch_test.go
Labels: Simple 😃

#6124 tests: simple reproducer for snap try and hooks bug
  tests/main/try-with-hooks/task.yaml
Labels: Simple 😃

#6137 snap: make Epoch default to {[0],[0]} on load from yaml
  snap/info_snap_yaml.go
  snap/info_snap_yaml_test.go
Labels: Simple 😃

#6140 tests, fakestore: extend refresh tests with parallel installed snaps
  tests/lib/fakestore/store/store.go
  tests/lib/fakestore/store/store_test.go
  tests/main/auto-refresh/task.yaml
  tests/main/refresh-all/task.yaml
  tests/main/refresh/task.yaml
Labels: Parallel installs ⛓

#6135 packaging/arch: fix bash completions path
  packaging/arch/PKGBUILD
Labels: Simple 😃

#6138 overlord/ifacestate: use remapper when checking if system snap is installed
  overlord/ifacestate/export_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
  overlord/ifacestate/ifacemgr.go
Labels: Hotplug 🔌, Simple 😃

#6097 interfaces/tests: MockHotplugSlot test helper
  interfaces/builtin/utils_test.go
Labels: Hotplug 🔌, Simple 😃

#6144 cmd: handle tumbleweed and leap in autogen.sh
  cmd/autogen.sh
Labels: Simple 😃

#6151 snapd: allow snap-update-ns to read /proc/version
  interfaces/apparmor/template.go
Labels: Simple 😃

#6082 overlord/ifacestate: set hotplug-key of the connection when connecting hotplug slots
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacestate.go
  overlord/ifacestate/ifacestate_test.go
Labels: Hotplug 🔌

#6146 ifacestate/helpers: added SystemSnapName mapper helper method
  daemon/api_test.go
  overlord/ifacestate/export_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
Labels: Simple 😃

#6143 cmd: install snap-discard-ns in "make hack"
  cmd/Makefile.am
Labels: Simple 😃

#6069 ifacestate/hotplug: removeDevice helper
  overlord/ifacestate/export_test.go
  overlord/ifacestate/hotplug.go
  overlord/ifacestate/hotplug_test.go
Labels: Hotplug 🔌, Simple 😃

#6160 nvidia, interfaces/builtin: OpenCL fixes
  cmd/snap-confine/mount-support-nvidia.c
  interfaces/builtin/opengl.go
Labels: Simple 😃

#6157 userd: force zenity width if the text displayed is long
  userd/ui/zenity.go
  userd/ui/zenity_test.go
Labels: Simple 😃

#6165 cmd/snap-update-ns: extra debugging of trespassing events
  cmd/snap-update-ns/trespassing.go
Labels: Simple 😃

#6145 cmd/libsnap: add sc_verify_snap_lock
  cmd/libsnap-confine-private/locking-test.c
  cmd/libsnap-confine-private/locking.c
  cmd/libsnap-confine-private/locking.h
Labels: Per-user mount ns 🐎

#6154 snap: enforce minimal snap name len of 2
  cmd/libsnap-confine-private/snap-test.c
  cmd/libsnap-confine-private/snap.c
  cmd/snap-update-ns/bootstrap.c
  cmd/snap-update-ns/bootstrap_test.go
  interfaces/repo_test.go
  snap/validate.go
  snap/validate_test.go
Labels: Simple 😃

#6175 tests: make tinyproxy support systemd notify
  tests/lib/tinyproxy/tinyproxy.py
  tests/main/proxy-no-core/task.yaml
  tests/main/proxy/task.yaml
Labels: Simple 😃

#6150 cmd/snap-discard-ns: add support for --from-snap-confine
  cmd/snap-discard-ns/snap-discard-ns.c
  cmd/snap-discard-ns/snap-discard-ns.rst
Labels: Per-user mount ns 🐎

#6148 cmd/snap-confine: remove unneeded unshare
  cmd/snap-confine/ns-support.c
Labels: Per-user mount ns 🐎

#6182 Revert "cmd/snap-confine: don't allow mapping lib{uuid,blkid}"
  cmd/snap-confine/snap-confine.apparmor.in
Labels: ⚠ Critical

#6186 interfaces/avahi_observe: Fix typo in comment
  interfaces/builtin/avahi_observe.go
Labels: Simple 😃

#6191 cmd/snap: fix missing newline in "snap keys" error message
  cmd/snap/cmd_keys.go
  cmd/snap/cmd_keys_test.go
Labels: Simple 😃

#6207 mkversion: use "test -n" rather than "! test -z"
  mkversion.sh
Labels: Simple 😃

#6204 daemon: remove enableInternalInterfaceActions
  daemon/api.go
  daemon/daemon.go
  daemon/export_snapshots_test.go
Labels: Simple 😃

#6203 tests: discard mount namespaces in reset.sh
  tests/lib/reset.sh
Labels: Simple 😃

#6147 cmd/snap-confine: use snap-discard-ns ns to discard stale namespaces
  cmd/snap-confine/mount-support.c
  cmd/snap-confine/mount-support.h
  cmd/snap-confine/ns-support.c
  cmd/snap-confine/ns-support.h
  cmd/snap-confine/snap-confine.apparmor.in
  cmd/snap-confine/snap-confine.c
Labels: Per-user mount ns 🐎

#6220 cmd: drop cruft from snap-discard-ns build rules
  cmd/Makefile.am
Labels: Simple 😃

#6223 cmd/libsnap: move apparmor-support to libsnap
  cmd/Makefile.am
  cmd/libsnap-confine-private/apparmor-support.c
  cmd/libsnap-confine-private/apparmor-support.h
  cmd/snap-confine/mount-support.c
  cmd/snap-confine/mount-support.h
  cmd/snap-confine/ns-support.h
  cmd/snap-confine/snap-confine.c
Labels: Simple 😃

#6236 Staticcheck fixes
  asserts/header_checks.go
  cmd/snap/cmd_advise.go
  cmd/snap/cmd_help.go
  cmd/snap/cmd_userd.go
  cmd/snapd/main.go
  daemon/api.go
  interfaces/apparmor/backend.go
  osutil/udev/netlink/conn.go
  overlord/patch/patch3.go
  overlord/snapstate/snapmgr.go
  run-checks
  spdx/parser.go
  tests/lib/fakedevicesvc/main.go
  tests/lib/fakestore/cmd/fakestore/cmd_run.go
  tests/lib/systemd-escape/main.go
Labels: Reviewed

#6249 cmd/libsnap: introduce and use sc_strdup
  cmd/libsnap-confine-private/string-utils-test.c
  cmd/libsnap-confine-private/string-utils.c
  cmd/libsnap-confine-private/string-utils.h
  cmd/snap-confine/mount-support-nvidia.c
  cmd/snap-confine/mount-support.c
  cmd/snap-confine/ns-support.c
  cmd/snap-confine/seccomp-support.c
  cmd/snap-confine/snap-confine-args-test.c
  cmd/snap-confine/snap-confine-args.c
Labels: Simple 😃
