Repository canonical/snapd, pull requests merged in 2018-04, with the labels that each got.

#4969 interfaces: make system-key more robust against invalid fstab entries
  interfaces/system_key.go
  overlord/ifacestate/helpers.go
  tests/main/snap-system-key/task.yaml
Labels: Squash-merge

#4984 ifacestate: inject autoconnect (#4981)
  overlord/ifacestate/export_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacestate_test.go
Labels: Critical

#5000 errtracker: make TestJournalErrorSilentError work on gccgo
  errtracker/errtracker_test.go
Labels: Critical

#4900 many: use the new install/refresh API by switching snapstate to use store.SnapAction
  cmd/snap/cmd_snap_op.go
  daemon/api.go
  daemon/api_test.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/managers_test.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/backend.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_download_test.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/storehelpers.go
  store/errors.go
  store/store_test.go
  store/storetest/storetest.go
  tests/lib/fakestore/store/store.go
  tests/lib/fakestore/store/store_test.go
Labels: Critical, Squash-merge

#5018 overlord/snapstate: on multi-snap refresh make sure bases and core are finished before dependent snaps
  overlord/snapstate/backend_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Squash-merge

#4868 cmd/snap-update-ns: add secure bind mount implementation for use with user mounts
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/secure_bindmount.go
  cmd/snap-update-ns/secure_bindmount_test.go
  cmd/snap-update-ns/utils.go
  cmd/snap-update-ns/utils_test.go
  testutil/lowlevel.go
Labels: Squash-merge

#4942 cmd/snap: user session application autostart v3
  cmd/snap/cmd_run.go
  cmd/snap/cmd_userd.go
  data/Makefile
  data/desktop/Makefile
  data/desktop/snap-userd-autostart.desktop.in
  dirs/dirs.go
  packaging/fedora/snapd.spec
  packaging/opensuse-42.2/snapd.spec
  snap/info.go
  snap/info_test.go
  snap/snaptest/snaptest.go
  snap/snaptest/snaptest_test.go
  tests/lib/snaps/test-snapd-xdg-autostart/bin/foobar
  tests/lib/snaps/test-snapd-xdg-autostart/meta/snap.yaml
  tests/main/snap-userd-desktop-app-autostart/task.yaml
  userd/autostart.go
  userd/autostart_test.go
  userd/export_test.go
Labels: Squash-merge

#5002 many: use the new install/refresh /v2/snaps/refresh store API (2.32)
  cmd/snap/cmd_snap_op.go
  daemon/api.go
  daemon/api_test.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/managers_test.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/backend.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_download_test.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/storehelpers.go
  store/details_v2.go
  store/details_v2_test.go
  store/errors.go
  store/store.go
  store/store_test.go
  store/storetest/storetest.go
  tests/lib/fakestore/store/store.go
  tests/lib/fakestore/store/store_test.go
Labels: Critical

#5067 snap,tests : don't fail if we cannot stat MountFile
  snap/info.go
  snap/info_test.go
  tests/main/try-snap-goes-away/task.yaml
  tests/regression/lp-1764977/task.yaml
Labels: Squash-merge

#5034 userd: set up journal logging streams for autostarted apps
  tests/main/snap-userd-desktop-app-autostart/task.yaml
  userd/autostart.go
Labels: Squash-merge

#5072 snap,overlord/snapstate: introduce and use BrokenSnapError
  overlord/snapstate/snapmgr.go
  snap/info.go
  snap/info_snap_yaml.go
  snap/info_snap_yaml_test.go
  snap/info_test.go
Labels: Squash-merge

#5083 image: support refreshing soft-expired user macaroons in tooling
  image/export_test.go
  image/helpers.go
  image/image_test.go
Labels: Squash-merge

#5059 tests: add pending shutdown detection
  tests/lib/prepare-restore.sh
Labels: Go! Go! Go!, Simple

#5087 many: fix various issues reported by shellcheck
  cmd/snap-mgmt/snap-mgmt.sh.in
  packaging/ubuntu-14.04/snapd.postrm
  packaging/ubuntu-16.04/snapd.postrm
  run-checks
  tests/lib/prepare.sh
  tests/lib/snaps/test-snapd-xdg-autostart/bin/foobar
  tests/lib/systemd.sh
Labels: Simple

#5085 many: fix false negatives reported by vet
  interfaces/apparmor/spec.go
  snap/info_test.go
Labels: Simple

#5101 testutil: don't dot-import check.v1
  testutil/lowlevel.go
Labels: Simple

#5099 testutil: rename UNMOUNT_NOFOLLOW to umountNoFollow
  testutil/exec_test.go
  testutil/lowlevel.go
  testutil/lowlevel_test.go
Labels: Simple

#5100 testutil: document all fake syscall/os functions
  testutil/lowlevel.go
Labels: Simple

#5104 overlord,systemd: store snap revision in mount units
  overlord/snapstate/backend/mountunit.go
  overlord/snapstate/backend/mountunit_test.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: Simple

#5108 systemd: replace ancient paths with 16.04+ standards
  systemd/systemd_test.go
Labels: Simple

#5109 interfaces/apparmor: fix incorrect apparmor profile glob
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/export_test.go
Labels: Critical

#5089 tests: adding google-sru backend replacing linode-sur
  spread.yaml
Labels: Simple

#5092 snap: do not use overly short timeout in `snap {start,stop,restart}`
  overlord/cmdstate/cmdmgr.go
  overlord/cmdstate/cmdstate.go
  overlord/cmdstate/cmdstate_test.go
  overlord/cmdstate/export_test.go
  overlord/servicestate/servicestate.go
  tests/lib/snaps/test-snapd-service/bin/stop
  tests/lib/snaps/test-snapd-service/meta/snap.yaml
  tests/main/snap-service/task.yaml
Labels: Critical

#5111 cmd/snap: update install/refresh help vs --revision
  cmd/snap/cmd_snap_op.go
Labels: Simple
