Repository canonical/snapd, pull requests merged in 2018-08, with the labels that each got.

#5588 store: clean up parallel-install TODOs in store tests
  store/store_test.go
Labels: Parallel installs, Simple

#5587 overlord/devicestate: deny parallel install of kernel or gadget snaps
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_test.go
Labels: Parallel installs, Simple

#5589 snap: introduce package-level helpers for building snap related directory/file paths
  snap/info.go
  snap/info_test.go
Labels: Parallel installs, Simple

#5456 snapstate: refuse to remove bases or core if snaps need them
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  tests/core18/remove/task.yaml
  tests/lib/reset.sh
  tests/main/op-remove/task.yaml
Labels: Core18

#5549 snapd: add initial software watchdog for snapd
  cmd/snapd/main.go
  data/systemd/snapd.service.in
Labels: Core18

#5557 wrapper: generate all the snapd unit files when generating wrappers
  data/systemd/snapd.run-from-snap
  data/systemd/snapd.seeded.service.in
  data/systemd/snapd.service.in
  data/systemd/snapd.system-shutdown.service.in
  overlord/devicestate/firstboot_test.go
  systemd/systemd.go
  tests/core18/snapd-refresh/task.yaml
  wrappers/core18.go
  wrappers/core18_test.go
  wrappers/services.go
  wrappers/services_test.go
Labels: Core18

#5592 many: add snapd snap failure handling
  cmd/snap-failure/cmd_snapd.go
  cmd/snap-failure/cmd_snapd_test.go
  cmd/snap-failure/export_test.go
  cmd/snap-failure/main.go
  cmd/snap-failure/main_test.go
  data/systemd/snapd.failure.service.in
  data/systemd/snapd.service.in
  dirs/dirs.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapstate.go
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/snapd.install
  packaging/ubuntu-16.04/snapd.install
  tests/core18/snapd-failover/task.yaml
Labels: Core18

#5598 wrappers: make sure that the tests pass on non-Ubuntu too
  wrappers/core18_test.go
Labels: Simple

#5597 wrappers: account for changed app wrapper in parallel installed snaps
  wrappers/desktop.go
  wrappers/desktop_test.go
Labels: Parallel installs, Simple

#5605 cmd/snap-confine: add minimal test for snap-device-helper
  cmd/Makefile.am
  cmd/snap-confine/snap-device-helper
  cmd/snap-confine/snap-device-helper-test.c
Labels: Simple

#5594 snap/snapenv: add snap instance specific variables
  snap/snapenv/snapenv.go
  snap/snapenv/snapenv_test.go
  tests/main/snap-env/task.yaml
Labels: Parallel installs

#5607 cmd/snap-confine: snap-device-helper parallel installs support
  cmd/snap-confine/snap-device-helper
  cmd/snap-confine/snap-device-helper-test.c
Labels: Parallel installs, Simple

#5610 image: ensure "core" is ordered early if base: and core is used
  image/image.go
  image/image_test.go
Labels: Critical

#5616 overlod/ifacestate: always use a new SnapState when fetching the snap state
  overlord/ifacestate/ifacestate.go
  overlord/ifacestate/ifacestate_test.go
Labels: Parallel installs

#5619 overlord/snapstate: always clean SnapState when doing Get()
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Parallel installs

#5625 tests/lib/prepare: fix extra snaps test
  tests/lib/prepare.sh
Labels: Critical, Simple

#5584 cmd/snap-update-ns: introduce validation of snap instance names
  cmd/snap-update-ns/bootstrap.c
  cmd/snap-update-ns/bootstrap.go
  cmd/snap-update-ns/bootstrap.h
  cmd/snap-update-ns/bootstrap_test.go
  cmd/snap-update-ns/export_test.go
Labels: Parallel installs

#5341 cmd/libsnap-confine-private: intoduce helpers for validating snap instance name and instance key
  cmd/libsnap-confine-private/snap-test.c
  cmd/libsnap-confine-private/snap.c
  cmd/libsnap-confine-private/snap.h
Labels: Parallel installs

#5629 debian: add tzdata to build-dep to ensure snapd builds correctly
  packaging/ubuntu-16.04/control
Labels: Simple

#5650 snap: fix mocking of systemkey in snap-run tests
  cmd/snap/main_test.go
Labels: Critical

#5646 cmd/snap-confine: extend security tag validation to cover instance names
  cmd/libsnap-confine-private/snap-test.c
  cmd/libsnap-confine-private/snap.c
Labels: Parallel installs, Simple

#5631 snapstate: ensure normal snaps wait for the "snapd" snap on refresh
  overlord/snapstate/backend_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Core18

#5667 store: backward compatible instance-key handling for non-instance snaps
  store/store.go
  store/store_test.go
Labels: Parallel installs, Squash-merge

#5561 overlord/snapstate: parallel snap install
  overlord/snapstate/backend.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/check_snap.go
  overlord/snapstate/check_snap_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_mount_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Parallel installs

#5636 snap: fix advice json
  cmd/snap/cmd_advise.go
  cmd/snap/cmd_advise_test.go
  cmd/snap/export_test.go
  tests/main/apt-hooks/task.yaml
Labels: Squash-merge

#5676 asserts: add support for gadget tracks in the model assertion
  asserts/device_asserts.go
  asserts/device_asserts_test.go
Labels: Core18

#5682 tests/main/lxd: pull lxd from candidate; reënable i386
  tests/main/lxd/task.yaml
Labels: Simple

#5681 overlord: handle sigterm during shutdown better
  cmd/snapd/main.go
  daemon/daemon.go
  daemon/daemon_test.go
Labels: Squash-merge

#5685 image: download the gadget from the model.GadgetTrack()
  image/image.go
  image/image_test.go
Labels: Core18

#5671 tests: basic test for parallel installs from the store
  tests/main/parallel-install-store/task.yaml
Labels: Parallel installs, Simple

#5687 cmd/snap-confine: switch to validation of SNAP_INSTANCE_NAME
  cmd/snap-confine/snap-confine.c
  tests/main/security-setuid-root/task.yaml
Labels: Parallel installs

#5684 cmd/snap: create snap user directory when running parallel installed snaps
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  snap/info.go
  snap/info_test.go
Labels: Parallel installs, Simple

#5670 daemon, overlord/snapstate: set instance name when installing from snap file
  daemon/api.go
  daemon/api_test.go
  overlord/devicestate/firstboot.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  tests/main/parallel-install-sideload/task.yaml
Labels: Parallel installs

#5694 tests/main/layout: cleanup after the test
  tests/main/layout/task.yaml
Labels: Simple

#5530 tests: use file based markers in snap-service-stop-mode
  tests/lib/snaps/test-snapd-service/bin/start-stop-mode
  tests/main/snap-service-stop-mode/task.yaml
Labels: Core18

#5702 snap: add ByType sorting
  snap/info.go
  snap/info_test.go
  snap/types.go
Labels: Core18

#5706 snapstate: make InstallPath() return *snap.Info too
  daemon/api.go
  daemon/api_test.go
  overlord/devicestate/firstboot.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Core18

#5614 interfaces: parallel instances support, extend unit tests
  interfaces/repo.go
  interfaces/repo_test.go
  interfaces/sorting.go
  interfaces/sorting_test.go
  tests/main/parallel-install-interfaces/task.yaml
Labels: Parallel installs

#5705 testutil: have File* checker produce more useful error output
  packaging/fedora/snapd.spec
  testutil/checkers.go
  testutil/checkers_test.go
  vendor/vendor.json
Labels: Simple

#5697 overlord/snapstate: fix UpdateMany() to work with parallel instances
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/storehelpers.go
Labels: Parallel installs

#5725 overlord/devicestate: use OpenSSL's PEM format when generating keys
  overlord/devicestate/crypto.go
Labels: Critical

#5716 tests: spread test for parallel-installs desktop file handling
  tests/main/parallel-install-desktop/task.yaml
Labels: Parallel installs, Simple

#5720 interfaces/apparmor: do not downgrade confinement on arch with linux-hardened 4.17.4+
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/export_test.go
Labels: Squash-merge

#5707 image: detect and error if bases are missing
  image/image.go
  image/image_test.go
Labels: Core18

#5735 snap/snapenv: drop some instance specific variables, use instance-specific ones for user locations
  snap/snapenv/snapenv.go
  snap/snapenv/snapenv_test.go
  tests/main/snap-env/task.yaml
Labels: Parallel installs, Simple

#5307 cmd,interfaces,tests: add /mnt to removable-media interface
  cmd/libsnap-confine-private/mount-opt-test.c
  cmd/libsnap-confine-private/mount-opt.c
  cmd/libsnap-confine-private/mount-opt.h
  cmd/snap-confine/mount-support.c
  cmd/snap-confine/snap-confine.apparmor.in
  interfaces/builtin/removable_media.go
  interfaces/builtin/removable_media_test.go
  tests/main/interfaces-removable-media/task.yaml
Labels: Squash-merge

#5747 interfaces/mount: tweak naming of things
  interfaces/mount/backend.go
  interfaces/mount/spec.go
  interfaces/mount/spec_test.go
Labels: Parallel installs, Simple

#5748 cmd/snap: bring back 'snap version'
  cmd/snap/cmd_version.go
  cmd/snap/cmd_version_linux.go
  cmd/snap/cmd_version_other.go
Labels: Simple

#5692 snap-confine: map /var/lib/extrausers into snaps mount-namespace
  cmd/snap-confine/mount-support.c
  cmd/snap-confine/snap-confine.apparmor.in
  tests/core18/basic/task.yaml
Labels: Core18, Squash-merge

#5743 image: handle errors when downloadedSnapsInfoForBootConfig has no data
  image/image.go
Labels: Simple

#5718 overlord/ifacestate: remove "old-conn" from connect/undo connect handlers
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacestate_test.go
Labels: Simple
