Repository canonical/snapd, pull requests merged in 2018-09, with the labels that each got.

#5736 cmd: add systemd environment generator
  cmd/Makefile.am
  cmd/snapd-env-generator/main.c
  cmd/snapd-env-generator/snapd-env-generator.rst
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/snapd.install
  packaging/ubuntu-16.04/snapd.install
  tests/main/snap-system-env/task.yaml
Labels: Squash-merge

#5755 release: 2.35.1
  packaging/arch/PKGBUILD
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple

#5749 interfaces: make ifacetest.InstallSnap() take snap instance name
  interfaces/apparmor/backend_test.go
  interfaces/dbus/backend_test.go
  interfaces/ifacetest/backendtest.go
  interfaces/kmod/backend_test.go
  interfaces/mount/backend_test.go
  interfaces/seccomp/backend_test.go
  interfaces/systemd/backend_test.go
  interfaces/udev/backend_test.go
Labels: Parallel installs, Simple

#5752 interfaces/apparmor: tweak naming, rename to AddLayout()
  interfaces/apparmor/backend.go
  interfaces/apparmor/spec.go
  interfaces/apparmor/spec_test.go
Labels: Parallel installs, Simple

#5618 overlord: instantiate UDevMonitor
  overlord/devicestate/firstboot_test.go
  overlord/export_test.go
  overlord/ifacestate/export_test.go
  overlord/ifacestate/hotplug.go
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate_test.go
  overlord/ifacestate/udevmonitor/udevmon.go
  overlord/ifacestate/udevmonitor/udevmon_test.go
  overlord/managers_test.go
  overlord/overlord.go
  overlord/overlord_test.go
Labels: Hotplug

#5766 Fix things caught by Go 1.11
  cmd/cmd_linux.go
  overlord/snapstate/autorefresh.go
Labels: Simple

#5772 image: fix incorrect error when using local bases
  image/image.go
  image/image_test.go
Labels: Simple

#5769 partition: remove unused runCommand
  partition/grub_test.go
  partition/utils.go
  partition/utils_test.go
Labels: Simple

#5764 snap: use snap.SideInfo in test to fix build with gccgo
  snap/info_test.go
Labels: Simple

#5774 tests: introduce a helper for installing local snaps with --name
  tests/lib/snaps.sh
  tests/main/parallel-install-desktop/task.yaml
  tests/main/parallel-install-interfaces/task.yaml
  tests/main/parallel-install-sideload/task.yaml
Labels: Parallel installs, Simple

#5781 overlord: add chg.Err() in testUpdateWithAutoconnectRetry
  overlord/managers_test.go
Labels: Simple

#5779 snap-update-ns: add comments about the "deadcode" in bootstrap.go
  cmd/snap-update-ns/bootstrap.go
Labels: Simple

#5780 testutil: allow Fstatfs results to vary over time
  testutil/lowlevel.go
  testutil/lowlevel_test.go
Labels: Simple

#5793 cmd/snap-update-ns: separate OpenPath from the Secure struct
  cmd/snap-update-ns/secure_bindmount.go
  cmd/snap-update-ns/utils.go
  cmd/snap-update-ns/utils_test.go
Labels: Simple

#5796 cmd/snap-update-ns: detach BindMount from the Secure type
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/secure_bindmount.go
  cmd/snap-update-ns/secure_bindmount_test.go
Labels: Simple

#5798 cmd/snap-update-ns: detach Mk{Prefix,{File,Dir,Symlink{,All}}} from S…
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/utils.go
  cmd/snap-update-ns/utils_test.go
Labels: Simple

#5761 store: use stable instance key in store refresh requests
  store/store.go
  store/store_test.go
Labels: Parallel installs

#5801 cmd/snap-update-ns: remove the unused Secure type
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/main.go
  cmd/snap-update-ns/main_test.go
  cmd/snap-update-ns/utils.go
  cmd/snap-update-ns/utils_test.go
Labels: Simple

#5632 overlord: integrate device enumeration with udev monitor
  interfaces/hotplug/udevadm.go
  interfaces/hotplug/udevadm_test.go
  overlord/ifacestate/udevmonitor/udevmon.go
  overlord/ifacestate/udevmonitor/udevmon_test.go
Labels: Hotplug

#5815 client: catch and expose logs errors
  client/apps.go
  client/apps_test.go
  client/client.go
Labels: Simple

#5808 snapd-env-generator: fix when PATH is empty or unset
  cmd/snapd-env-generator/main.c
  tests/main/snap-system-env/task.yaml
Labels: Critical

#5803 ifacestate: fix hang when retrying content providers
  overlord/devicestate/firstboot_test.go
  overlord/ifacestate/export_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/handlers_test.go
  overlord/ifacestate/ifacestate_test.go
Labels: Critical

#5820 wrappers: fix snap services order in tests
  wrappers/services_test.go
Labels: Simple

#5814 daemon: fix snap list --all with parallel snap instances
  daemon/api_test.go
  daemon/snap.go
  tests/main/listing/task.yaml
Labels: Parallel installs, Simple

#5821 release: 2.35.2
  packaging/arch/PKGBUILD
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple

#5830 packaging/arch: sync packaging with AUR
  packaging/arch/PKGBUILD
Labels: Simple

#5762 ifacestate: don't initialize udev monitor until we have a system snap
  overlord/ifacestate/helpers.go
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate_test.go
Labels: Hotplug

#5829 tests: use lxd's waitready instead of polling lxd socket
  tests/main/lxd/task.yaml
Labels: Simple

#5713 many: mount namespace mapping for parallel installs of snaps
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/main.go
  cmd/snap-update-ns/main_test.go
  cmd/snap-update-ns/sorting.go
  cmd/snap-update-ns/sorting_test.go
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/spec.go
  interfaces/apparmor/spec_test.go
  interfaces/builtin/content.go
  interfaces/builtin/content_test.go
  interfaces/mount/backend.go
  interfaces/mount/backend_test.go
  interfaces/mount/spec.go
  interfaces/mount/spec_test.go
  osutil/mountentry_linux.go
  osutil/mountentry_linux_test.go
  snap/info.go
  snap/info_test.go
  tests/main/parallel-install-basic/task.yaml
  tests/main/parallel-install-interfaces-content/task.yaml
  tests/main/parallel-install-layout/task.yaml
Labels: Parallel installs, Squash-merge

#5758 overlord/snapstate, snap: handle shared snap directories when installing/remove snaps with instance key
  overlord/snapstate/backend.go
  overlord/snapstate/backend/copydata.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/backend/snapdata.go
  overlord/snapstate/backend/snapdata_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_mount_test.go
  overlord/snapstate/snapstate_test.go
  snap/info.go
  tests/main/parallel-install-common-dirs-undo/task.yaml
  tests/main/parallel-install-common-dirs/task.yaml
Labels: Parallel installs

#5841 interfaces/hotplug: hotplug spec takes one slot definition
  interfaces/hotplug/spec.go
  interfaces/hotplug/spec_test.go
Labels: Hotplug

#5842 interfaces/testiface: added TestHotplugInterface
  interfaces/ifacetest/testiface.go
  interfaces/ifacetest/testiface_test.go
Labels: Hotplug, Simple

#5853 daemon, snapstate: consistent snap list [--all] output with broken snaps
  daemon/api_test.go
  daemon/snap.go
  overlord/snapstate/snapmgr.go
Labels: Simple

#5855 tests: cleanup copy/paste dup in interfaces-network-setup-control
  tests/main/interfaces-network-setup-control/task.yaml
Labels: Simple

#5832 [RFC] overlord/{snapstate,assertstate}: parallel instances and refresh validation
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/storehelpers.go
Labels: Parallel installs

#5858 Skip unsupported architectures for fedora-base-smoke test
  tests/main/fedora-base-smoke/task.yaml
Labels: Simple

#5840 interfaces/apparmor, interfaces/builtin: tweaks for parallel snap installs
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/template.go
  interfaces/apparmor/template_vars.go
  interfaces/builtin/browser_support.go
  interfaces/builtin/browser_support_test.go
  interfaces/builtin/cifs_mount.go
  interfaces/builtin/classic_support.go
  interfaces/builtin/desktop_legacy.go
  interfaces/builtin/fuse_support.go
  interfaces/builtin/greengrass_support.go
  interfaces/builtin/greengrass_support_test.go
  interfaces/builtin/home.go
  interfaces/builtin/mpris.go
  interfaces/builtin/mpris_test.go
  interfaces/builtin/network_control.go
  interfaces/builtin/thumbnailer_service.go
  interfaces/builtin/unity7.go
  interfaces/builtin/unity8_pim_common.go
  tests/main/interfaces-fuse_support/task.yaml
  tests/main/parallel-install-basic/task.yaml
  tests/main/parallel-install-interfaces-content/task.yaml
  tests/main/parallel-install-layout/task.yaml
Labels: Parallel installs

#5866 tests: remove unneeded cleanup from layout tests
  tests/main/parallel-install-layout/task.yaml
Labels: Simple

#5862 cmd: fix C formatting
  cmd/Makefile.am
  cmd/snap-confine/snap-confine.c
  cmd/snap-update-ns/bootstrap.c
  cmd/snap-update-ns/bootstrap.h
  cmd/snapd-env-generator/main.c
Labels: Simple

#5873 tests/main/parallel-install-store: run installed snap
  tests/main/parallel-install-store/task.yaml
Labels: Parallel installs, Simple

#5872 tests/main/parallel-install-local: rename from *-sideload, extend to run snaps
  tests/main/parallel-install-local/task.yaml
Labels: Parallel installs, Simple

#5868 tests/main/snap-env: extend to cover parallel installations of snaps
  tests/main/snap-env/task.yaml
Labels: Parallel installs, Simple
