Repository canonical/snapd, pull requests merged in 2018-12, with the labels that each got.

#6255 testutil: add File{Present,Absent} checkers
  testutil/checkers.go
  testutil/checkers_test.go
Labels: Simple 😃

#6248 tests/lib/reset: restore context of removed snapd directories
  tests/lib/reset.sh
Labels: Simple 😃

#6246 spread: show AVC audits when debugging, start auditd on Fedora
  spread.yaml
Labels: Simple 😃

#6261 tests/lib/prepare: make sure that SELinux context of repacked core snap is controlled
  tests/lib/prepare.sh
Labels: Simple 😃

#6260 spread, tests: use checkpoints when dumping audit log
  spread.yaml
  tests/lib/prepare-restore.sh
Labels: Simple 😃

#6259 tests: reduce verbosity around package installation
  tests/lib/pkgdb.sh
  tests/upgrade/snapd-xdg-open/task.yaml
Labels: Simple 😃, ⚠ Critical

#6149 cmd/snap-confine: capture initialized per-user mount ns
  cmd/snap-confine/ns-support.c
  cmd/snap-confine/ns-support.h
  cmd/snap-confine/snap-confine.c
Labels: Per-user mount ns 🐎

#6262 apparmor: allow snap-update-ns access to common devices
  interfaces/apparmor/template.go
Labels: Simple 😃

#6276 apparmor: allow hard link to snap-specific semaphore files - 2.36
  interfaces/apparmor/template.go
Labels: Simple 😃

#6275 apparmor: allow hard link to snap-specific semaphore files
  interfaces/apparmor/template.go
Labels: Simple 😃

#6273 centos: enable SELinux support on CentOS 7
  packaging/fedora/snapd.spec
  tests/lib/prepare-restore.sh
Labels: SELinux, Simple 😃

#6274 cmd, dirs, interfaces/apparmor: update distro identification to support ID="archlinux" (2.36)
  cmd/cmd_test.go
  cmd/snap/cmd_paths_test.go
  dirs/dirs.go
  dirs/dirs_test.go
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
Labels: Simple 😃

#6277 centos: enable SELinux support on CentOS 7 (2.36)
  packaging/fedora/snapd.spec
  tests/lib/prepare-restore.sh
Labels: SELinux

#6284 spread: make opensuse-42.3 manual
  spread.yaml
Labels: Simple 😃

#6283 osutil: do not import dirs
  osutil/exec.go
  osutil/exec_test.go
  overlord/snapstate/backend/fontconfig.go
  snap/squashfs/export_test.go
  snap/squashfs/squashfs.go
  snap/squashfs/squashfs_test.go
  store/store.go
Labels: Simple 😃

#6289 cmd/snap-confine: remove SC_NS_MNT_FILE
  cmd/snap-confine/ns-support.c
Labels: Simple 😃

#6298 packaging/{fedora,opensuse}: own /var/lib/snapd/cookie
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
Labels: Simple 😃

#6301 wrappers: only restart service in core18 when they are active
  wrappers/core18.go
  wrappers/core18_test.go
Labels: ⚠ Critical

#6287 httputil: retry on temporary net errors
  httputil/retry.go
  httputil/retry_test.go
  store/download_test.go
  store/export_test.go
  store/store.go
  store/store_test.go
  tests/main/network-retry/task.yaml
Labels: Squash-merge

#6303 cmd: add tests for lintArg and lintDesc
  cmd/snap/export_test.go
  cmd/snap/main_test.go
Labels: Simple 😃

#6285 selinux: package to query SELinux status and verify/restore file contexts
  selinux/export_test.go
  selinux/label.go
  selinux/label_darwin.go
  selinux/label_linux.go
  selinux/label_linux_test.go
  selinux/selinux_darwin.go
  selinux/selinux_linux.go
  selinux/selinux_linux_test.go
Labels: SELinux

#6299 travis: short circuit failures in static and unit tests travis job
  .travis.yml
Labels: Simple 😃, Squash-merge

#6312 spread: disable fedora-29-64
  spread.yaml
Labels: ⚠ Critical

#6288 cmd/snap-confine: refactor call to snap-update-ns --user-mounts
  cmd/libsnap-confine-private/tool.c
  cmd/libsnap-confine-private/tool.h
  cmd/snap-confine/mount-support.c
Labels: Per-user mount ns 🐎

#6309 overlord/ifacestate: addHotplugSeqWaitTask helper
  overlord/ifacestate/export_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
Labels: Hotplug 🔌

#6071 ifacestate/hotplug: updateDevice helper
  overlord/ifacestate/export_test.go
  overlord/ifacestate/hotplug.go
  overlord/ifacestate/hotplug_test.go
Labels: Hotplug 🔌, Simple 😃

#6114 overlord/ifacestate: handler for hotplug-disconnect task
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate_test.go
Labels: Hotplug 🔌

#6100 overlord/ifacestate: hotplug-remove-slot task handler
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate_test.go
Labels: Hotplug 🔌

#6314 cmd/snap-discard-ns: fix umount(2) typo
  cmd/snap-discard-ns/snap-discard-ns.c
Labels: Simple 😃

#6265 cmd/snap: attempt to restore SELinux context of snap user directories
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  cmd/snap/export_test.go
  cmd/snap/main_test.go
  tests/main/selinux-snap-restorecon/task.yaml
Labels: SELinux

#6321 spread: show free space in debug output
  spread.yaml
Labels: Simple 😃

#6315 overlord/ifacestate: include interface name in the hotplug-disconnect task summary
  overlord/ifacestate/hotplug.go
Labels: Simple 😃
