Repository canonical/snapd, pull requests merged in 2018-07, with the labels that each got.

#5432 cmd/snap-confine: fix snaps running on core18
  cmd/libsnap-confine-private/classic-test.c
  cmd/libsnap-confine-private/classic.c
  cmd/libsnap-confine-private/classic.h
  cmd/snap-confine/mount-support.c
  cmd/snap-confine/ns-support.c
  tests/core18/compat/task.yaml
Labels: Core18

#5435 overlord/snapstate: introduce path to fake backend ops
  overlord/snapstate/backend_test.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/handlers_mount_test.go
  overlord/snapstate/snapstate_test.go
Labels: Simple

#5447 snap,interfaces: move interface name validation to snap
  interfaces/builtin/all.go
  interfaces/builtin/all_test.go
  interfaces/repo.go
  interfaces/repo_test.go
  interfaces/utils/utils.go
  interfaces/utils/utils_test.go
  snap/validate.go
  snap/validate_test.go
Labels: Core18, Simple

#5443 interfaces: treat "snapd" snap as type:os
  interfaces/policy/export_test.go
  interfaces/policy/helpers.go
  interfaces/policy/helpers_test.go
Labels: Core18

#5403 many: use extra "releases" information on store "revision-not-found" errors to produce better errors
  client/client.go
  cmd/snap/cmd_snap_op_test.go
  cmd/snap/error.go
  daemon/api.go
  daemon/api_test.go
  daemon/response.go
  overlord/snapstate/storehelpers.go
  snap/snaptest/snaptest.go
  store/errors.go
  store/store.go
  store/store_test.go
  tests/main/install-errors/task.yaml
  tests/main/install-store/task.yaml
  tests/regression/lp-1693042/task.yaml
Labels: Squash-merge

#5468 dirs: improve distro detection for Antegros
  dirs/dirs.go
Labels: Simple

#5460 tests: use grep to avoid non-matching messages from MATCH
  tests/main/interfaces-many/task.yaml
Labels: Simple

#5454 interfaces: prefer "snapd" when resolving implicit connections
  interfaces/repo.go
  interfaces/repo_test.go
Labels: Core18

#5467 tests: stop restarting journald service on prepare
  tests/lib/journalctl.sh
  tests/main/interfaces-network-bind/task.yaml
Labels: Blocked

#5480 tests: add strace to default arch packages
  tests/lib/pkgdb.sh
Labels: Simple

#5476 snapstate: make sure all *link-*snap tasks carry a snap type and further hints
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Squash-merge

#5459 cmd/snap: add 'debug paths' command
  cmd/snap/cmd_paths.go
  cmd/snap/cmd_paths_test.go
  tests/main/debug-paths/task.yaml
Labels: Simple

#5197 cmd/snap: display a link to data privacy notice for interactive snap login
  cmd/snap/cmd_login.go
  cmd/snap/cmd_login_test.go
Labels: Simple, Squash-merge

#5487 overlord/snapstate: improve PlugsOnly comment
  overlord/snapstate/snapmgr.go
Labels: Simple

#5375 packaging: put snapctl into /usr/lib/snapd and symlink in usr/bin
  interfaces/apparmor/template.go
  packaging/ubuntu-16.04/snapd.install
  packaging/ubuntu-16.04/snapd.links
Labels: Core18

#5405 tests: do not mask errors in interfaces-timezone-control
  tests/main/interfaces-timezone-control/task.yaml
Labels: Core18

#5493 tests: prepare needs to handle bin/snapctl being a symlink
  tests/lib/prepare.sh
Labels: Critical, Simple

#5500 interfaces: tweak tests of daemon-notify, use common naming
  interfaces/builtin/daemon_notify_test.go
Labels: Simple

#5499 interfaces: fix typo "daemonNotify" (add missing "n")
  interfaces/builtin/daemon_notify.go
Labels: Simple

#5504 interfaces/pulseaudio: be clear that the interface allows playback and record
  interfaces/builtin/pulseaudio.go
Labels: Simple

#5401 asserts: add (optional) kernel-track to model assertion
  asserts/device_asserts.go
  asserts/device_asserts_test.go
Labels: Core18

#5508 cmd/snap: print unset license as "unset", instead of "unknown
  cmd/snap/cmd_info.go
  cmd/snap/cmd_info_test.go
  tests/main/snap-info/check.py
Labels: Simple

#5511 tests: remove unneeded setup code in snap-run-symlink
  tests/main/snap-run-alias/task.yaml
  tests/main/snap-run-symlink/task.yaml
Labels: Simple

#5517 osutil/udev: sync with upstream
  osutil/udev/main.go.sample
  osutil/udev/netlink/conn.go
  osutil/udev/netlink/conn_test.go
  osutil/udev/netlink/uevent.go
  osutil/udev/netlink/uevent_test.go
Labels: Simple

#5446 coreconfig: add support for `snap set system network.disable-ipv6`
  overlord/configstate/configcore/corecfg.go
  overlord/configstate/configcore/network.go
  overlord/configstate/configcore/network_test.go
  tests/main/ubuntu-core-network-config/task.yaml
Labels: Squash-merge

#5491 overlord,daemon,cmd: re-map snap names around the edges of snapd
  cmd/snap/cmd_interface.go
  cmd/snap/cmd_interface_test.go
  cmd/snap/cmd_interfaces.go
  cmd/snap/cmd_interfaces_test.go
  daemon/api.go
  daemon/api_test.go
  overlord/configstate/configstate.go
  overlord/configstate/configstate_test.go
  overlord/ifacestate/export_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
  snap/info.go
  snap/info_test.go
Labels: Core18

#5535 tests: fix tests expecting old email address
  tests/main/snap-info/check.py
Labels: Critical, Simple

#5538 release: 2.34.2
  packaging/arch/PKGBUILD
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple

#5410 tests: update tests to work on core18
  cmd/snap-confine/mount-support.c
  spread.yaml
  tests/lib/snaps/test-snapd-service/bin/start-stop-mode
  tests/lib/snaps/test-snapd-service/bin/stop-stop-mode
  tests/main/fakestore-install/task.yaml
  tests/main/interfaces-snapd-control-with-manage/task.yaml
  tests/main/interfaces-timeserver-control/task.yaml
  tests/main/interfaces-timezone-control/task.yaml
  tests/main/snap-service-stop-mode/task.yaml
  tests/regression/lp-1693042/task.yaml
Labels: Core18, Reviewed

#5521 snap-confine: mount internal tooling even for the core snap on core18
  cmd/snap-confine/mount-support.c
Labels: Core18

#5533 image: add support for "kernel-track" in `snap prepare-image`
  image/export_test.go
  image/image.go
  image/image_test.go
Labels: Core18, Reviewed

#5527 overlord/ifacestate: support implicit slots on snapd
  overlord/devicestate/firstboot_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/implicit.go
Labels: Core18, Reviewed

#5537 snapstate: ensure kernel-track is honored on switch/refresh
  overlord/snapstate/backend_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Core18

#5433 interfaces/repo: added AllHotplugInterfaces helper
  interfaces/repo.go
  interfaces/repo_test.go
Labels: Simple

#5542 tests: run all main tests on core18
  spread.yaml
  tests/main/snap-service-stop-mode/task.yaml
Labels: Core18, Simple

#5543 debian: use deb-systemd-invoke instead of systemctl directly
  packaging/ubuntu-16.04/snapd.postinst
Labels: Simple

#5541 logger: try to not have double dates
  logger/export_test.go
  logger/logger.go
  logger/logger_test.go
Labels: Simple

#5526 tests: fix raciness in stop mode tests
  tests/lib/snaps/test-snapd-service/bin/start-stop-mode
  tests/lib/snaps/test-snapd-service/bin/start-stop-mode-sigterm
  tests/main/snap-service-stop-mode-sigkill/task.yaml
Labels: Core18

#5553 cmd/snap-confine: (nvidia) pick up libnvidia-glvkspirv.so
  cmd/snap-confine/mount-support-nvidia.c
Labels: Simple

#5559 tests/lib/snaps: avoid using relative command paths that go up in the directory tree
  tests/lib/snaps/config-versions-v2/bin/sh
  tests/lib/snaps/config-versions-v2/meta/snap.yaml
  tests/lib/snaps/config-versions/bin/sh
  tests/lib/snaps/config-versions/meta/snap.yaml
  tests/lib/snaps/test-snapd-broadcom-asic-control/bin/sh
  tests/lib/snaps/test-snapd-broadcom-asic-control/meta/snap.yaml
  tests/lib/snaps/test-snapd-content-advanced-plug/bin/sh
  tests/lib/snaps/test-snapd-content-advanced-plug/meta/snap.yaml
  tests/lib/snaps/test-snapd-content-advanced-slot/bin/sh
  tests/lib/snaps/test-snapd-content-advanced-slot/meta/snap.yaml
  tests/lib/snaps/test-snapd-content-mimic-plug/bin/sh
  tests/lib/snaps/test-snapd-content-mimic-plug/meta/snap.yaml
  tests/lib/snaps/test-snapd-content-mimic-slot/bin/sh
  tests/lib/snaps/test-snapd-content-mimic-slot/meta/snap.yaml
  tests/lib/snaps/test-snapd-gpg-keys/bin/sh
  tests/lib/snaps/test-snapd-gpg-keys/meta/snap.yaml
  tests/lib/snaps/test-snapd-gpg-public-keys/bin/sh
  tests/lib/snaps/test-snapd-gpg-public-keys/meta/snap.yaml
  tests/lib/snaps/test-snapd-joystick/bin/sh
  tests/lib/snaps/test-snapd-joystick/meta/snap.yaml
  tests/lib/snaps/test-snapd-kvm/bin/sh
  tests/lib/snaps/test-snapd-kvm/meta/snap.yaml
  tests/lib/snaps/test-snapd-layout/bin/sh
  tests/lib/snaps/test-snapd-layout/meta/snap.yaml
  tests/lib/snaps/test-snapd-raw-usb/bin/sh
  tests/lib/snaps/test-snapd-raw-usb/meta/snap.yaml
  tests/lib/snaps/test-snapd-removable-media/bin/sh
  tests/lib/snaps/test-snapd-removable-media/meta/snap.yaml
  tests/lib/snaps/test-snapd-sh/bin/sh
  tests/lib/snaps/test-snapd-sh/meta/snap.yaml
  tests/lib/snaps/test-snapd-ssh-keys/bin/sh
  tests/lib/snaps/test-snapd-ssh-keys/meta/snap.yaml
  tests/lib/snaps/test-snapd-ssh-public-keys/bin/sh
  tests/lib/snaps/test-snapd-ssh-public-keys/meta/snap.yaml
  tests/lib/snaps/test-snapd-unknown-interfaces/bin/sh
  tests/lib/snaps/test-snapd-unknown-interfaces/meta/snap.yaml
Labels: Simple

#5562 tests: drive-by cleanup of redudant pkgname matching
  tests/lib/pkgdb.sh
Labels: Simple

#5563 asserts,image: add support for new kernel=track syntax
  asserts/device_asserts.go
  asserts/device_asserts_test.go
  image/image.go
  image/image_test.go
  overlord/snapstate/export_test.go
Labels: Core18

#5567 snap: validate instance name as part of Validate()
  snap/validate.go
  snap/validate_test.go
Labels: Simple

#5581 tests/lib/prepare-restore: update Arch Linux kernel LOCALVERSION handling
  tests/lib/prepare-restore.sh
Labels: Simple

#5582 tests/main/apt-hooks: debug dump of commands.db
  tests/main/apt-hooks/task.yaml
Labels: Simple

#5579 (2.34) cmd/snap-confine: allow ptrace read for 4.18 kernels
  cmd/snap-confine/snap-confine.apparmor.in
Labels: Simple
