Repository canonical/snapd, pull requests merged in 2019-05, with the labels that each got.

#6755 overlord/snapstate: tweak autorefresh logic if network is not available
  daemon/api.go
  httputil/retry.go
  overlord/assertstate/assertstate.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
  tests/main/auto-refresh-retry/task.yaml
Labels: Squash-merge

#6802 overlord/ifacestate: update static attributes of "content" interface
  overlord/ifacestate/helpers.go
  overlord/ifacestate/ifacestate_test.go
  tests/regression/lp-1825883/task.yaml
  tests/regression/lp-1825883/test-snapd-app/bin/sh
  tests/regression/lp-1825883/test-snapd-app/meta/snap.yaml
  tests/regression/lp-1825883/test-snapd-app/things/README
  tests/regression/lp-1825883/test-snapd-content.v1/meta/snap.yaml
  tests/regression/lp-1825883/test-snapd-content.v1/things/a/thing
  tests/regression/lp-1825883/test-snapd-content.v1/things/b/thing
  tests/regression/lp-1825883/test-snapd-content.v2/meta/snap.yaml
  tests/regression/lp-1825883/test-snapd-content.v2/things/a/thing
  tests/regression/lp-1825883/test-snapd-content.v2/things/b/thing
  tests/regression/lp-1825883/test-snapd-content.v2/things/c/thing
Labels: ⚠ Critical

#6830 interfaces/dbus: fix unit tests when default snap mount dir is not /snap
  interfaces/dbus/backend_test.go
Labels: Simple 😃

#6819 osutil: fix TestReadBuildGo test in sbuild
  osutil/buildid_test.go
Labels: Simple 😃

#6832 gadget: more validation checks for legacy MBR structure type & role
  gadget/gadget.go
  gadget/gadget_test.go
Labels: Gadget update, Simple 😃

#6837 tests: extra debug for snapshot-basic test
  tests/main/snapshot-basic/task.yaml
Labels: Simple 😃

#6775 devicestate: make Remodel() return a state.Change
  daemon/api_model.go
  daemon/api_model_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/managers_test.go
Labels: Remodel :train:

#6840 gadget: fix handling of positioning constrains for structures of MBR role
  gadget/position.go
  gadget/position_test.go
Labels: Gadget update, Simple 😃

#6828 many: use a fake assertion model in the device contexts for tests
  asserts/assertstest/assertstest.go
  overlord/assertstate/assertstate_test.go
  overlord/ifacestate/ifacestate_test.go
  overlord/snapstate/handlers_download_test.go
  overlord/snapstate/models_test.go
  overlord/snapstate/snapstate_test.go
  testutil/exec.go
Labels: Remodel :train:

#6829 devicestate: use deviceCtx in checkGadgetOrKernel
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_test.go
Labels: Remodel :train:

#6845 cmd/snap-update-ns: move apply{Profile,{User,System}Fstab} to same file
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/system.go
  cmd/snap-update-ns/update.go
  cmd/snap-update-ns/user.go
  cmd/snap-update-ns/utils.go
Labels: Simple 😃

#6798 gadget: introduce checkers for sanitizing structure updates
  gadget/export_test.go
  gadget/gadget.go
  gadget/update.go
  gadget/update_test.go
Labels: Gadget update

#6844 interfaces: special-case "snapd" in sanitizeSlotReservedForOS* helpers
  interfaces/builtin/utils.go
  interfaces/builtin/utils_test.go
Labels: Simple 😃, Squash-merge, ⚠ Critical

#6842 tests: fix how the base snap are deleted when there are multiple to deleted on reset
  tests/lib/reset.sh
Labels: Simple 😃

#6843 tests: avoid removing snaps which are cached to speed up the prepare on boards
  tests/lib/state.sh
Labels: Simple 😃

#6831 tests: retry govendor sync
  tests/lib/prepare-restore.sh
Labels: Simple 😃

#6846 cmd/snap-confine: unshare per-user mount ns once
  cmd/snap-confine/mount-support.c
Labels: Bug, Simple 😃

#6854 cmd/snap-update-ns: rename applyFstab to executeMountProfileUpdate
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/main.go
  cmd/snap-update-ns/main_test.go
  cmd/snap-update-ns/update.go
Labels: Simple 😃

#6851 cmd/snap: mangle descriptions that have indent > terminal width
  cmd/snap/cmd_info.go
  cmd/snap/cmd_info_test.go
Labels: Simple 😃, ⚠ Critical

#6850 gadget: add volume level update checks
  gadget/export_test.go
  gadget/gadget.go
  gadget/update.go
  gadget/update_test.go
Labels: Gadget update

#6853 interfaces: special-case "snapd" in sanitizeSlotReservedForOS* helper…
  interfaces/builtin/utils.go
  interfaces/builtin/utils_test.go
Labels: Simple 😃, ⚠ Critical

#6811 tests: make create-user test support managed devices
  tests/main/create-user/task.yaml
Labels: Simple 😃

#6857 gadget: record sector size in positioned volume
  gadget/position.go
  gadget/position_test.go
Labels: Gadget update, Simple 😃

#6863 testutil: support sharing-related mount flags
  testutil/lowlevel.go
  testutil/lowlevel_test.go
Labels: Simple 😃

#6864 cmd/snap-update-ns: fix golint complaints about variable names
  cmd/snap-update-ns/change_test.go
Labels: Simple 😃

#6849 many: introduce a gadget helper for locating device matching given structure
  gadget/device.go
  gadget/device_test.go
  gadget/export_test.go
Labels: Gadget update

#6873 gadget: improve device lookup, add helper for mount point lookup
  gadget/device_darwin.go
  gadget/device_linux.go
  gadget/device_test.go
Labels: Gadget update

#6867 gadget: offset-write: fix validation, calculate absolute position
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/position.go
  gadget/position_test.go
Labels: Gadget update

#6885 cmd/snap-confine: don't pass MS_SLAVE along with MS_BIND
  cmd/snap-confine/mount-support.c
Labels: Simple 😃

#6886 cmd/snap-update-ns: use "none" for propagation changes
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
Labels: Simple 😃

#6887 cmd/snap-confine: combine sc_make_slave_mount_ns into caller
  cmd/snap-confine/mount-support.c
Labels: Simple 😃

#6902 spread.yaml: make HOST: usage shellcheck-clean
  spread.yaml
Labels: Simple 😃

#6906 cmd/snap-update-ns: rename ctx to upCtx
  cmd/snap-update-ns/common.go
  cmd/snap-update-ns/common_test.go
  cmd/snap-update-ns/main.go
  cmd/snap-update-ns/main_test.go
  cmd/snap-update-ns/system.go
  cmd/snap-update-ns/system_test.go
  cmd/snap-update-ns/update.go
  cmd/snap-update-ns/update_test.go
  cmd/snap-update-ns/user.go
  cmd/snap-update-ns/user_test.go
Labels: Simple 😃

#6893 gadget: helper for shifting structure start position
  gadget/position.go
  gadget/position_test.go
Labels: Gadget update, Simple 😃

#6910 spread.yaml: use "snap connections" in debug
  spread.yaml
Labels: Simple 😃

#6908 tests: add "not" command
  tests/lib/bin/not
Labels: Simple 😃

#6911 cmd/snap-update-ns: rename leftover ctx to upCtx
  cmd/snap-update-ns/export_test.go
Labels: Simple 😃

#6912 gadget: keep track of the index where structure content was defined
  gadget/position.go
  gadget/position_test.go
Labels: Gadget update, Simple 😃

#6835 snapstate: allow removal of non-model kernels
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Remodel :train:

#6918 snaptest: add helper for mocking snap with contents
  snap/snaptest/snaptest.go
  snap/snaptest/snaptest_test.go
Labels: Simple 😃

#6838 overlord/devicestate: introduce remodel kinds and contexts
  asserts/assertstest/assertstest.go
  daemon/api_model_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/remodel.go
  overlord/devicestate/remodel_test.go
  overlord/export_test.go
  overlord/overlord.go
  overlord/overlord_test.go
  overlord/storecontext/context.go
  overlord/storecontext/context_test.go
Labels: Remodel :train:

#6896 cmd/snap: tweak the output of snap debug timings --ensure=...
  cmd/snap/cmd_debug_timings.go
  cmd/snap/cmd_debug_timings_test.go
Labels: Simple 😃

#6921 timings: tweak the conditional for ensure timings
  timings/state.go
Labels: Simple 😃

#6934 tests: fix repack_snapd_snap_with_deb_content
  tests/lib/prepare.sh
Labels: Bug, Simple 😃

#6855 overlord: implement store switch remodeling
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_test.go
  overlord/devicestate/remodel.go
  overlord/devicestate/remodel_test.go
  overlord/managers_test.go
  overlord/snapstate/backend.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  store/storetest/storetest.go
Labels: Remodel :train:

#6936 packaging/debian-sid: fix changelog, add revision
  packaging/debian-sid/changelog
Labels: Simple 😃

#6931 tests: force removal to prevent restore fails when directory doesn't exist on lp-1801955 test
  tests/regression/lp-1801955/task.yaml
Labels: Simple 😃

#6929 gadget: record gadget root directory used during positioning
  gadget/position.go
  gadget/position_test.go
Labels: Gadget update

#6937 cmd/snap-update-ns: detach unused mount points
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/main_test.go
  tests/regression/lp-1831010/task.yaml
  tests/regression/lp-1831010/test-snapd-layout/bar/mount/.keep
  tests/regression/lp-1831010/test-snapd-layout/baz/.keep
  tests/regression/lp-1831010/test-snapd-layout/bin/sh
  tests/regression/lp-1831010/test-snapd-layout/foo/.keep
  tests/regression/lp-1831010/test-snapd-layout/meta/snap.yaml
Labels: Bug
