Repository canonical/snapd, pull requests merged in 2019-07, with the labels that each got.

#7048 daemon: classic confinement is not supported on core
  dirs/dirs.go
  tests/main/debug-sandbox/task.yaml
Labels: Simple 😃

#7047 cmd/snap-confine: remove newly unneeded getresuid() local assignments
  cmd/snap-confine/seccomp-support-ext.c
Labels: Simple 😃

#7051 cmd/snap-apparmor-service: quit if there are no profiles
  cmd/snapd-apparmor/snapd-apparmor
Labels: Simple 😃

#7059 cmd/libsnap: rename SC_LIBSNAP_ERROR to SC_LIBSNAP_DOMAIN
  cmd/libsnap-confine-private/error.h
  cmd/libsnap-confine-private/infofile-test.c
  cmd/libsnap-confine-private/infofile.c
Labels: Simple 😃

#7057 tests/lib/nested: create WORK_DIR before accessing it
  tests/lib/nested.sh
Labels: Simple 😃

#7044 gadget: make raw updater handle shifted structures
  gadget/raw.go
  gadget/raw_test.go
Labels: Gadget update

#7061 cmd/libsnap: add sc_error_init_{simple,api_misuse}
  cmd/libsnap-confine-private/error-test.c
  cmd/libsnap-confine-private/error.c
  cmd/libsnap-confine-private/error.h
  cmd/libsnap-confine-private/infofile.c
Labels: Simple 😃

#7063 daemon, interfaces, travis: workaround build ID with Go 1.9, use 1.9 for travis tests
  .travis.yml
  daemon/api_test.go
  daemon/export_test.go
  interfaces/export_test.go
  interfaces/system_key.go
  interfaces/system_key_test.go
Labels: Simple 😃

#7041 gadget: filesystem image writer
  gadget/export_test.go
  gadget/filesystemimage.go
  gadget/filesystemimage_test.go
Labels: Gadget update

#7006 overlord/devicestate: implement reregRemodelContext with the essential re-registration logic
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/remodel.go
  overlord/devicestate/remodel_test.go
Labels: Remodel :train:

#7080 tests: mountinfo-tool allow many --refs
  tests/lib/bin/mountinfo-tool
Labels: Simple 😃

#7078 tests: change allocation for mount options
  tests/lib/bin/mountinfo-tool
Labels: Simple 😃

#7084 tests: renumber snap revisions as seen via writable
  tests/lib/bin/mountinfo-tool
Labels: Simple 😃

#7052 overlord/config: normalize nulls to support config unsetting semantics
  overlord/configstate/config/export_test.go
  overlord/configstate/config/helpers.go
  overlord/configstate/config/helpers_test.go
  overlord/configstate/config/transaction.go
  overlord/configstate/config/transaction_test.go
  overlord/hookstate/ctlcmd/get_test.go
  overlord/snapstate/autorefresh_test.go
  tests/lib/snaps/snapctl-hooks/meta/hooks/configure
  tests/main/snap-set/task.yaml
Labels: Complex

#6939 gadget: main update routine
  gadget/export_test.go
  gadget/update.go
  gadget/update_test.go
Labels: Gadget update

#7093 seccomp/compiler: adjust test case names and comment for later changes
  sandbox/seccomp/compiler.go
  sandbox/seccomp/compiler_test.go
Labels: Simple 😃

#7016 overlord/patch: simplify conditions for re-applying sublevel patches for level 6
  overlord/overlord_test.go
  overlord/patch/patch.go
  overlord/patch/patch_test.go
Labels: Complex, Squash-merge

#6890 gadget: mounted filesystem updater
  gadget/filesystemimage_test.go
  gadget/mountedfilesystem.go
  gadget/mountedfilesystem_test.go
Labels: Gadget update

#7101 gadget: use struct field names when intializing data in mounted updater unit tests
  gadget/mountedfilesystem_test.go
Labels: Gadget update, Simple 😃

#7083 many: replace snapd snap name checks with type checks (3/4)
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/builtin/utils.go
  interfaces/dbus/backend.go
  interfaces/dbus/backend_test.go
  overlord/configstate/configstate.go
  overlord/configstate/configstate_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/implicit.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/check_snap.go
  overlord/snapstate/check_snap_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  wrappers/services.go
  wrappers/services_test.go
Labels: Needs Samuele review

#7119 hookstate/ctlcmd: support hidden commands in snapctl
  overlord/hookstate/ctlcmd/ctlcmd.go
  overlord/hookstate/ctlcmd/ctlcmd_test.go
  overlord/hookstate/ctlcmd/export_test.go
Labels: Simple 😃

#7123 cmd: revert PR#6933 (tweak of GOMAXPROCS)
  cmd/snapd/main.go
Labels: Simple 😃

#7007 overlord: implement re-registration remodeling
  cmd/snap/cmd_remodel.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/devicestatetest/devicesvc.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_test.go
  overlord/devicestate/remodel.go
  overlord/devicestate/remodel_test.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Remodel :train:

#7134 image: clean up the validateSuite
  image/validate_seed_test.go
Labels: Simple 😃

#7139 tests: don't leak /run/netns mount
  tests/main/auto-refresh-retry/task.yaml
Labels: Simple 😃

#7140 overlord/devicestate: update gadget update handlers and mocks
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers.go
Labels: Gadget update

#6923 interfaces/policy: minimal policy check for replacing sanitizeReservedFor... helpers (1/2)
  interfaces/policy/helpers.go
  interfaces/policy/policy.go
  interfaces/policy/policy_test.go
Labels: Complex

#7145 packaging/fedora: github.com/cheggaaa/pb is no longer used
  packaging/fedora/snapd.spec
Labels: Simple 😃

#7143 cmd/snap-repair: make sure the goroutine doesn't stick around on timeout
  cmd/snap-repair/runner.go
Labels: Simple 😃

#7157 packaging/debian-sid: use correct apparmor Depends for Debian
  packaging/debian-sid/changelog
  packaging/debian-sid/control
Labels: Simple 😃

#6954 sessionagent: add a REST interface with socket activation
  cmd/snap/cmd_userd.go
  cmd/snap/cmd_userd_test.go
  data/Makefile
  data/systemd-user/Makefile
  data/systemd-user/snapd.session-agent.service.in
  data/systemd-user/snapd.session-agent.socket
  dirs/dirs.go
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
  tests/main/snap-session-agent-socket-activation/task.yaml
  usersession/agent/export_test.go
  usersession/agent/response.go
  usersession/agent/rest_api.go
  usersession/agent/rest_api_test.go
  usersession/agent/session_agent.go
  usersession/agent/session_agent_test.go
  wrappers/core18.go
  wrappers/core18_test.go
Labels: Needs Samuele review

#7161 tests: show stderr only if it exists
  tests/main/snap-run/task.yaml
Labels: Simple 😃

#7153 gadget: select the right updater for given structure
  gadget/device_darwin.go
  gadget/export_test.go
  gadget/update.go
  gadget/update_test.go
Labels: Gadget update, Simple 😃

#7160 tests: reformat and fix markdown in snapd-state.md
  tests/snapd-state.md
Labels: Simple 😃

#7170 tests: fix typo "current"
  tests/main/refresh-with-epoch-bump/task.yaml
Labels: Simple 😃

#7167 cmd/Makefile.am: support building with the go snap
  .gitignore
  cmd/Makefile.am
Labels: Simple 😃

#7188 data/selinux: allow read on sysfs
  data/selinux/snappy.te
Labels: Simple 😃

#7184 daemon: do not modify test data in user suite
  daemon/api_users_test.go
Labels: Simple 😃

#7195 many: fix unit tests getting stuck
  cmd/snap/cmd_userd.go
  cmd/snap/cmd_userd_test.go
  cmd/snap/export_test.go
  osutil/context.go
  run-checks
  usersession/agent/session_agent_test.go
Labels: Simple 😃
