Repository canonical/snapd, pull requests merged in 2019-01, with the labels that each got.

#6328 run-checks: stop running HEAD of staticcheck
  run-checks
Labels: ⚠ Critical

#5845 interface: add new `{personal,system}-files` interface
  interfaces/apparmor/apparmor.go
  interfaces/apparmor/apparmor_test.go
  interfaces/builtin/common_files.go
  interfaces/builtin/daemon_notify.go
  interfaces/builtin/daemon_notify_test.go
  interfaces/builtin/personal_files.go
  interfaces/builtin/personal_files_test.go
  interfaces/builtin/system_files.go
  interfaces/builtin/system_files_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/files.sh
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
  tests/lib/snaps/test-snapd-sh/meta/snap.yaml
  tests/main/interfaces-personal-files/task.yaml
  tests/main/interfaces-system-files/task.yaml
Labels: Reviewed

#6318 release-tools: display self-help
  release-tools/repack-debian-tarball.sh
Labels: Simple 😃

#6286 release: support probing SELinux state
  release/export_test.go
  release/selinux.go
  release/selinux_test.go
Labels: SELinux

#6354 overlord: drop old v1 store api support from managers test
  overlord/managers_test.go
Labels: Simple 😃

#6353 cmd/snap-update-ns: move existing code around, renaming some functions
  cmd/snap-update-ns/debug.go
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/main.go
  cmd/snap-update-ns/main_test.go
  cmd/snap-update-ns/system.go
  cmd/snap-update-ns/user.go
  cmd/snap-update-ns/utils.go
Labels: Per-user mount ns 🐎, Simple 😃

#6346 osutil: add helper for loading fstab from string
  osutil/mountprofile_linux.go
  osutil/mountprofile_linux_test.go
Labels: Simple 😃

#6349 cmd/snap-update-ns: move XDG code to dedicated file
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/user.go
  cmd/snap-update-ns/xdg.go
  cmd/snap-update-ns/xdg_test.go
Labels: Per-user mount ns 🐎, Simple 😃

#6357 cmd/snap-update-ns: make freezer mockable
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/freezer.go
Labels: Per-user mount ns 🐎, Simple 😃

#6345 cmd/libsnap: pass --from-snap-confine when calling snap-update-ns as user
  cmd/libsnap-confine-private/tool.c
Labels: Per-user mount ns 🐎, Simple 😃

#6352 many: remove .user-fstab files from /run/snapd/ns
  cmd/snap-mgmt/snap-mgmt.sh.in
  packaging/ubuntu-14.04/snapd.postrm
  packaging/ubuntu-16.04/snapd.postrm
  tests/lib/reset.sh
Labels: Per-user mount ns 🐎, Simple 😃

#6366 cmd/snap-discard-ns: fix name of user fstab files
  cmd/snap-discard-ns/snap-discard-ns.c
  cmd/snap-discard-ns/snap-discard-ns.rst
  tests/main/snap-discard-ns/task.yaml
Labels: Per-user mount ns 🐎, Simple 😃

#6364 cmd/snap-update-ns: let the go parser know we are parsing -u
  cmd/snap-update-ns/main.go
Labels: Per-user mount ns 🐎, Simple 😃

#6365 cmd/snap-update-ns: manually implement isspace
  cmd/snap-update-ns/bootstrap.c
Labels: Per-user mount ns 🐎, Simple 😃

#6113 overlord/ifacestate: handler for hotplug-connect task
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate_test.go
Labels: Hotplug 🔌

#6362 cmd/snap-update-ns: explicitly check for return value from parse_arg_u
  cmd/snap-update-ns/bootstrap.c
Labels: Simple 😃

#6369 Add check for snap binaries dir not being in path
  cmd/snap/cmd_snap_op.go
  cmd/snap/cmd_snap_op_test.go
  cmd/snap/color.go
  cmd/snap/main_test.go
Labels: Simple 😃, Squash-merge

#6392 interfaces: helpers for sorting plug/slot/connection refs
  interfaces/core.go
  interfaces/sorting.go
  interfaces/sorting_test.go
Labels: Simple 😃

#6395 cmd/snap: use a fake user for 'run' tests
  cmd/snap/cmd_run_test.go
Labels: Simple 😃

#6399 packaging: make sure that /var/lib/snapd/lib/glvnd is accounted for
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/snapd.dirs
  packaging/ubuntu-16.04/snapd.dirs
Labels: Simple 😃

#6294 packaging/ubuntu: build with golang 1.10
  .travis.yml
  packaging/ubuntu-14.04/control
  packaging/ubuntu-14.04/rules
  packaging/ubuntu-16.04/control
  packaging/ubuntu-16.04/rules
  tests/lib/prepare-restore.sh
Labels: Core18

#6402 spread: increase default kill-timeout to 30min
  spread.yaml
Labels: Simple 😃

#6405 run-checks: ensure we use go-1.10 if available
  run-checks
Labels: Simple 😃

#6416 snap: really run the RunSuite
  cmd/snap/cmd_run_test.go
Labels: Simple 😃

#6423 tests/main/searching: video section got renamed to photo-and-video
  tests/main/searching/task.yaml
Labels: Simple 😃

#6421 spread: enable upgrade suite on fedora
  spread.yaml
Labels: Simple 😃

#6363 cmd/snap-update-ns: save errno from strtoul
  cmd/snap-update-ns/bootstrap.c
Labels: Simple 😃

#6433 tests: update fedora 29 workers to speed up the whole testing time
  spread.yaml
Labels: Simple 😃

#6431 snapcraft.yaml: fix snap building in launchpad
  parts/plugins/x_builddeb.py
Labels: Simple 😃, ⚠ Critical

#6414 daemon: try to tidy up the icon stuff a little
  daemon/api.go
  daemon/api_test.go
  daemon/snap.go
Labels: Simple 😃

#6439 tests: workaround missing go dependencies in debian-9
  tests/lib/best_golang.py
  tests/lib/prepare-restore.sh
Labels: ⚠ Critical

#6411 cmd/snap: wrap "summary" better
  cmd/snap/cmd_info.go
  cmd/snap/cmd_info_test.go
  cmd/snap/error.go
  cmd/snap/export_test.go
Labels: Squash-merge

#6437 snap/channel: improve channel parsing
  snap/channel.go
  snap/channel_test.go
Labels: Simple 😃

#6440 cmd/snap: fix typo in cmd_wait.go
  cmd/snap/cmd_wait.go
Labels: Simple 😃

#6106 overlord/ifacestate: handler for hotplug-update-slot tasks
  interfaces/repo.go
  interfaces/repo_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate_test.go
Labels: Hotplug 🔌

#6446 cmd/snap-confine: add special case for Jenkins
  cmd/snap-confine/snap-confine.apparmor.in
  tests/main/special-home/task.yaml
Labels: ⚠ Critical

#6452 overlord/snapstate: format the refresh time for the log
  overlord/snapstate/autorefresh.go
Labels: Simple 😃

#6453 snap: fix hook autodiscovery for parallel installed snaps
  overlord/hookstate/hookstate_test.go
  overlord/snapstate/snapstate_test.go
  snap/info.go
  snap/info_test.go
  tests/main/install-refresh-remove-hooks/task.yaml
Labels: Parallel installs ⛓

#6458 snapd,state: improve error message on state reading failure
  cmd/snapd/main.go
  overlord/overlord_test.go
  overlord/state/state.go
Labels: Simple 😃
