Repository canonical/snapd, pull requests merged in 2019-08, with the labels that each got.

#7175 gadget: effective structure role fallback, extra tests
  gadget/gadget.go
  gadget/gadget_test.go
Labels: Gadget update, Simple 😃

#7212 tests: respect SPREAD_DEBUG_EACH on the main suite
  spread.yaml
Labels: Simple 😃

#7187 data/selinux: allow snap-confine to read entries on nsfs
  data/selinux/snappy.te
Labels: Simple 😃

#7215 usersession/agent: use background context when stopping the agent
  usersession/agent/session_agent.go
Labels: Simple 😃

#7186 gadget: ensure filesystem labels are unique
  gadget/gadget.go
  gadget/gadget_test.go
Labels: Gadget update, Simple 😃

#7221 tests: split the sbuild test in 2 depending on the type of build
  tests/main/sbuild/task.yaml
Labels: Simple 😃

#7171 tests: improve how the system is restored when the upgrade-from-2.15 test fails
  tests/main/upgrade-from-2.15/task.yaml
Labels: Simple 😃

#7220 cmd/libsnap: don't leak memory in sc_die_on_error
  cmd/libsnap-confine-private/error.c
Labels: Simple 😃

#7208 cmd/snap, data/completion: improve completion for 'snap debug'
  cmd/snap/cmd_debug_validate_seed.go
  data/completion/snap
Labels: Simple 😃

#7202 tests: sync journal log before start the test
  tests/lib/journalctl.sh
Labels: Simple 😃

#7226 tests: mountinfo-tool fail if there are no matches
  tests/lib/bin/mountinfo-tool
Labels: Simple 😃

#7137 gadget: support for writing symlinks
  gadget/export_test.go
  gadget/mountedfilesystem.go
  gadget/mountedfilesystem_test.go
Labels: Gadget update

#7239 sanity: unmount squashfs with --lazy
  sanity/squashfs.go
  sanity/squashfs_test.go
Labels: Simple 😃

#7237 tests: fix typo "the"
  tests/main/ubuntu-core-gadget-config-defaults/task.yaml
Labels: Simple 😃

#7128 overlord: DeviceCtx must find the remodel context for a remodel change
  overlord/devicestate/devicectx.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/remodel_test.go
  overlord/managers_test.go
  store/store.go
Labels: Remodel :train:

#7245 data/selinux: allow mandb_t to search /var/lib/snapd
  data/selinux/snappy.te
Labels: Simple 😃

#7224 xdgopenproxy: update test API to match upstream
  vendor/vendor.json
  xdgopenproxy/xdgopenproxy_test.go
Labels: Simple 😃

#7183 many: drop snap.ReadGadgetInfo wrapper
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/handlers.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  snap/gadget.go
  snap/gadget_test.go
Labels: Gadget update, Simple 😃

#7258 tests: adding more spread workers for ubuntu-18.04-64
  spread.yaml
Labels: Simple 😃

#7253 interfaces: remove BeforePrepareSlot from commonInterface
  interfaces/builtin/common.go
  overlord/ifacestate/ifacestate_test.go
Labels: Simple 😃

#7087 overlord/devicestate, tests: use gadget.Update() proper, spread test
  gadget/export_test.go
  gadget/update.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/handlers.go
  tests/lib/store.sh
  tests/main/gadget-update-pc/pc-gadget-2.yaml
  tests/main/gadget-update-pc/pc-gadget-3.yaml
  tests/main/gadget-update-pc/pc-gadget.yaml
  tests/main/gadget-update-pc/task.yaml
Labels: Gadget update

#7131 overlord/devicestate: detect clashing concurrent (ongoing, just finished) remodels or changes
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_test.go
Labels: Remodel :train:

#7262 tests: use a different archive based on the spread backend on go-build test
  tests/cross/go-build/task.yaml
Labels: Simple 😃

#7263 snap: cleanup some tests, clarify some errors
  snap/info_snap_yaml.go
  snap/info_snap_yaml_test.go
Labels: Simple 😃

#7275 cmd/snap: fix remote snap info for parallel installed snaps
  cmd/snap/cmd_info.go
  cmd/snap/cmd_info_test.go
Labels: Simple 😃

#7264 packaging/fedora: build on RHEL8 (2.40)
  packaging/fedora/snapd.spec
Labels: Simple 😃

#7278 tests: unmount fusectl after testing
  tests/main/interfaces-fuse_support/task.yaml
Labels: Simple 😃

#7281 cmd/snap: fix snap unset help string
  cmd/snap/cmd_set.go
  cmd/snap/cmd_unset.go
Labels: Simple 😃

#7279 tests: restore nsdelegate clobbered by LXD
  tests/main/selinux-lxd/task.yaml
Labels: Simple 😃

#7283 tests: unmount binfmt_misc on cleanup
  tests/main/selinux-lxd/task.yaml
Labels: Simple 😃

#7282 asserts: move Model to its own model.go
  asserts/model.go
  asserts/model_test.go
  asserts/serial_asserts.go
  asserts/serial_asserts_test.go
  asserts/system_user.go
  asserts/system_user_test.go
Labels: Simple 😃

#7294 tests: trivial snapctl test cleanup
  overlord/hookstate/ctlcmd/set_test.go
Labels: Simple 😃

#7296 tests: remove redundant activation check for snapd.socket snapd.service
  tests/lib/reset.sh
Labels: Simple 😃

#7295 tests: spam test logs less while waiting for systemd unit to stop
  tests/lib/systemd.sh
Labels: Simple 😃

#7297 cmd/snap-mgmt: set +x on startup
  cmd/snap-mgmt/snap-mgmt-selinux.sh.in
  cmd/snap-mgmt/snap-mgmt.sh.in
Labels: Simple 😃

#7081 ifacestate: optimize auto-connect by setting profiles once after all connects
  overlord/ifacestate/export_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/ifacestate.go
  overlord/ifacestate/ifacestate_test.go
  overlord/managers_test.go
Labels: Needs Samuele review

#7285 httputil: improve http2 PROTOCOL_ERROR detection
  httputil/retry.go
  httputil/retry_test.go
  packaging/fedora/snapd.spec
  vendor/vendor.json
Labels: Squash-merge

#7273 gadget, overlord/devicestate: rename Position/Layout
  gadget/device_darwin.go
  gadget/device_linux.go
  gadget/device_test.go
  gadget/filesystemimage.go
  gadget/filesystemimage_test.go
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/layout.go
  gadget/layout_test.go
  gadget/mountedfilesystem.go
  gadget/mountedfilesystem_test.go
  gadget/offset.go
  gadget/offset_test.go
  gadget/partition.go
  gadget/partition_test.go
  gadget/raw.go
  gadget/raw_test.go
  gadget/update.go
  gadget/update_test.go
  overlord/devicestate/devicestate_test.go
Labels: Gadget update

#7314 tests/main/mount-ns: account for clone_children in cpuset cgroup on 18.04
  tests/main/mount-ns/google.ubuntu-18.04-64/HOST.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-SNAP-16.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-SNAP-18.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-SNAP-C7.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-USER-16.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-USER-18.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-USER-C7.expected.txt
Labels: Simple 😃

#7322 tests: wait_for_service shows status after actual first minute
  tests/lib/systemd.sh
Labels: Simple 😃

#7326 tests: unmount fuse connections only if not initially mounted
  tests/main/interfaces-fuse_support/task.yaml
Labels: Simple 😃

#7317 httputil: rework protocol error detection
  httputil/retry.go
  httputil/retry_test.go
  packaging/fedora/snapd.spec
  vendor/vendor.json
Labels: Test Robustness

#7328 tests: pass --remove to userdel on core
  tests/lib/bin/user-tool
Labels: Simple 😃

#7321 tests: restore dpkg selections after upgrade-from-2.15 test
  tests/lib/bin/apt-tool
  tests/main/upgrade-from-2.15/task.yaml
Labels: Simple 😃

#7331 tests: move interfaces-contacts-service to /tmp
  tests/main/interfaces-contacts-service/task.yaml
Labels: Test Robustness

#7330 tests: fix removal of snaps on ubuntu-core
  tests/lib/reset.sh
Labels: Test Robustness

#7334 tests: remove locally installed revisions of core
  tests/main/ubuntu-core-upgrade/task.yaml
Labels: Test Robustness

#7332 tests: remove trailing spaces from shell scripts
  tests/lib/desktop-portal.sh
  tests/lib/pkgdb.sh
  tests/lib/prepare-restore.sh
  tests/lib/prepare.sh
  tests/lib/state.sh
  tests/lib/store.sh
Labels: Simple 😃

#7340 tests: adding support for arm devices on ubuntu-core-device-reg test
  tests/main/ubuntu-core-device-reg/task.yaml
Labels: Simple 😃

#7339 tests: don't look for lxcfs in mountinfo
  spread.yaml
Labels: Simple 😃

#7335 tests: add check for snap_daemon user/group
  tests/lib/prepare-restore.sh
Labels: Test Robustness

#7346 snapstate: validate all system-usernames before creating them
  overlord/snapstate/check_snap.go
  overlord/snapstate/check_snap_test.go
Labels: Test Robustness

#7352 tests: always say 'restore: |'
  tests/main/listing/task.yaml
  tests/main/parallel-install-basic/task.yaml
  tests/main/parallel-install-common-dirs-undo/task.yaml
  tests/main/parallel-install-common-dirs/task.yaml
  tests/main/parallel-install-desktop/task.yaml
  tests/main/system-usernames-illegal/task.yaml
Labels: Simple 😃, Test Robustness

#7353 tests: simplify interfaces-account-control test
  tests/main/interfaces-account-control/task.yaml
Labels: Simple 😃, Test Robustness

#7338 tests: move restore-project-each code to existing function
  spread.yaml
  tests/lib/prepare-restore.sh
Labels: Simple 😃

#7354 tests: rename fuse_support to fuse-support
  tests/main/interfaces-fuse-support/task.yaml
Labels: Simple 😃

#7363 cmd/snap-confine: fix group and permission of .info files
  cmd/snap-confine/ns-support.c
  tests/main/base-migration/task.yaml
Labels: Bug

#7359 overlord/snapstate: check channel names on install
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  tests/main/install-errors/task.yaml
  tests/main/install-fontconfig-cache-gen/task.yaml
Labels: Squash-merge

#7357 cmd/snap: fix snap switch message
  cmd/snap/cmd_snap_op.go
  cmd/snap/cmd_snap_op_test.go
  tests/main/snap-switch/task.yaml
Labels: Simple 😃, Squash-merge

#7336 tests: add debug section to interfaces-contacts-service
  tests/main/interfaces-contacts-service/task.yaml
Labels: Test Robustness

#7374 tests/main/snap-info: update check.py for test-snapd-tools 2.0
  tests/main/snap-info/check.py
Labels: Simple 😃, ⚠ Critical

#7373 overlord/snapstate: revert track-risk behavior change and validation on install
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  store/details_v2.go
  store/store_test.go
  tests/main/install-errors/task.yaml
Labels: Needs Samuele review

#7372 overlord/snapstate: revert track-risk behavior and change validation on install for 2.41
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  store/details_v2.go
  store/store_test.go
  tests/main/install-errors/task.yaml
Labels: Needs Samuele review

#7149 cmd: add snap model command; daemon: add /v2/model, /v2/model/serial REST APIs
  asserts/asserts.go
  client/client.go
  client/model.go
  client/model_test.go
  cmd/snap/cmd_help.go
  cmd/snap/cmd_model.go
  cmd/snap/cmd_model_test.go
  daemon/api.go
  daemon/api_asserts.go
  daemon/api_model.go
  daemon/api_model_test.go
  daemon/response.go
  tests/main/snap-model/task.yaml
Labels: Remodel :train:
