Repository canonical/snapd, pull requests merged in 2019-03, with the labels that each got.

#6555 tests/main/high-user-handling: fix the test for Go 1.12
  tests/main/high-user-handling/task.yaml
Labels: Simple 😃, ⚠ Critical

#6552 ifacestate/tests: fix/improve udev mon test
  overlord/ifacestate/udevmonitor/udevmon_test.go
Labels: Simple 😃

#6557 tests/main/high-user-handling: fix the test for Go 1.12 (2.37)
  tests/main/high-user-handling/task.yaml
Labels: Simple 😃

#6322 overlord/hookstate: apply pending transaction changes onto temporary configuration for snapctl get
  overlord/configstate/config/export_test.go
  overlord/configstate/config/helpers.go
  overlord/configstate/config/transaction.go
  overlord/configstate/config/transaction_test.go
  overlord/hookstate/ctlcmd/get.go
  overlord/hookstate/ctlcmd/get_test.go
  overlord/hookstate/ctlcmd/helpers.go
  overlord/hookstate/ctlcmd/set.go
  tests/lib/snaps/snapctl-hooks/meta/hooks/configure
  tests/main/snap-get/task.yaml
Labels: Complex

#6560 cmd/snap-confine: drop uid from random /tmp name
  cmd/snap-confine/mount-support.c
Labels: Simple 😃

#6561 cmd/snap-confine: chown private /tmp to root.root
  cmd/snap-confine/mount-support.c
Labels: Simple 😃

#6563 ctlcmd/tests: tests tweaks (followup to #6322)
  overlord/hookstate/ctlcmd/get_test.go
  tests/lib/snaps/snapctl-hooks/meta/hooks/configure
Labels: Simple 😃

#6576 cmd/snap, client, daemon, ifacestate: show a leading attribute of a connection
  client/connections.go
  cmd/snap/cmd_connections.go
  cmd/snap/cmd_connections_test.go
  daemon/api_connections.go
  daemon/api_connections_test.go
  daemon/api_json.go
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate_test.go
  tests/main/snap-connections/task.yaml
Labels: Squash-merge

#6581 daemon: move a function that was between an other struct and its methods
  daemon/response.go
Labels: Simple 😃

#6579 cmd/snap-confine: make sc_args helpers const-correct
  cmd/snap-confine/snap-confine-args.c
  cmd/snap-confine/snap-confine-args.h
Labels: Simple 😃

#6584 spread.yaml: bump delta reference
  spread.yaml
Labels: Simple 😃

#6587 interfaces/apparmor: factor out test boilerplate
  interfaces/apparmor/backend_test.go
Labels: Simple 😃

#6596 spread: restore SELinux context when we mess with system files
  spread.yaml
Labels: SELinux, Simple 😃

#6270 data/selinux, tests: refactor SELinux policy, add minimal tests
  data/selinux/snappy.fc
  data/selinux/snappy.if
  data/selinux/snappy.te
  tests/lib/pkgdb.sh
  tests/lib/snaps/test-snapd-service-writer/bin/start
  tests/lib/snaps/test-snapd-service-writer/meta/hooks/configure
  tests/lib/snaps/test-snapd-service-writer/meta/snap.yaml
  tests/main/selinux-data-context/task.yaml
  tests/upgrade/basic/task.yaml
  tests/upgrade/selinux-relabel/task.yaml
Labels: SELinux

#6601 errortracker: fix panic in Report if db cannot be opened
  errtracker/errtracker.go
  errtracker/errtracker_test.go
Labels: Simple 😃, ⚠ Critical

#6608 cmd/snap-confine: umount scratch dir using UMOUNT_NOFOLLOW
  cmd/snap-confine/mount-support.c
Labels: Reviewed, Simple 😃

#6607 cmd: typedef mountinfo structures
  cmd/libsnap-confine-private/mountinfo-test.c
  cmd/libsnap-confine-private/mountinfo.c
  cmd/libsnap-confine-private/mountinfo.h
  cmd/snap-confine/mount-support.c
  cmd/snap-confine/ns-support.c
  cmd/snapd-generator/main.c
  cmd/system-shutdown/system-shutdown-utils.c
Labels: Simple 😃

#6622 cmd/libsnap: rename C enum for feature flag
  cmd/libsnap-confine-private/feature-test.c
  cmd/libsnap-confine-private/feature.c
  cmd/libsnap-confine-private/feature.h
  cmd/snap-confine/snap-confine.c
Labels: Simple 😃

#6617 cmd/snap: fix regression of snap saved command
  cmd/snap/cmd_snapshot.go
  cmd/snap/cmd_snapshot_test.go
  tests/main/snapshot-basic/task.yaml
Labels: Squash-merge, ⚠ Critical

#6624 overlord/snapstate: retry less for auto-stuff
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
Labels: Squash-merge

#6626 strutil: make SplitUnit public, allow negative numbers
  strutil/strutil.go
  strutil/strutil_test.go
Labels: Simple 😃

#6619 partition,bootloader: rename 'partition' package to 'bootloader'
  boot/kernel_os.go
  boot/kernel_os_test.go
  bootloader/androidboot.go
  bootloader/androidboot_test.go
  bootloader/androidbootenv/androidbootenv.go
  bootloader/androidbootenv/androidbootenv_test.go
  bootloader/bootloader.go
  bootloader/bootloader_test.go
  bootloader/export_test.go
  bootloader/grub.go
  bootloader/grub_test.go
  bootloader/grubenv/grubenv.go
  bootloader/grubenv/grubenv_test.go
  bootloader/uboot.go
  bootloader/uboot_test.go
  bootloader/ubootenv/env.go
  bootloader/ubootenv/env_test.go
  bootloader/ubootenv/export_test.go
  image/image.go
  image/image_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/firstboot_test.go
  overlord/managers_test.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/booted.go
  overlord/snapstate/booted_test.go
Labels: Simple 😃

#6639 snap: tweak parsing errors of gadget updates
  snap/gadget.go
  snap/gadget_test.go
Labels: Simple 😃

#6606 selinux, systemd: support mount contexts for snap images
  selinux/label_darwin.go
  selinux/label_linux.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: SELinux

#6329 cmd/snap-confine, packaging: support SELinux
  cmd/Makefile.am
  cmd/autogen.sh
  cmd/configure.ac
  cmd/snap-confine/selinux-support.c
  cmd/snap-confine/selinux-support.h
  cmd/snap-confine/snap-confine.c
  packaging/fedora/snapd.spec
Labels: SELinux

#6652 sanity: use proper SELinux context when mounting squashfs
  sanity/squashfs.go
  sanity/squashfs_test.go
Labels: SELinux, Simple 😃

#6491 interfaces: hotplug nested vm test, updated serial-port interface
  interfaces/builtin/serial_port.go
  interfaces/builtin/serial_port_test.go
  overlord/ifacestate/export_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacestate_test.go
  tests/lib/nested.sh
  tests/lib/snaps/serial-port-hotplug/bin/consumer
  tests/lib/snaps/serial-port-hotplug/meta/snap.yaml
  tests/nested/classic/hot-plug/task.yaml
  tests/nested/classic/hotplug/task.yaml
Labels: Hotplug 🔌

#6655 timings: AddTag helper
  timings/timings.go
  timings/timings_test.go
Labels: Simple 😃
