Repository canonical/snapd, pull requests merged in 2019-12, with the labels that each got.

#7822 devicestate: ensure system installation
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
Labels: UC20

#7820 boot: add boot.Modeenv.Kernel support
  boot/modeenv.go
  boot/modeenv_test.go
Labels: UC20

#7828 tests: demand silence from check_journalctl_log
  tests/lib/journalctl.sh
  tests/main/refresh-delta/task.yaml
Labels: Simple 😃, Test Robustness

#7833 HACKING.md: add nvidia options to configure example
  HACKING.md
Labels: Documentation, Simple 😃

#7743 snap-bootstrap: force partition table operations
  cmd/snap-bootstrap/partition/export_test.go
  cmd/snap-bootstrap/partition/sfdisk.go
  cmd/snap-bootstrap/partition/sfdisk_test.go
Labels: UC20

#7831 gadget: extract and export new DiskFromPartition() helper
  gadget/device_linux.go
  gadget/device_test.go
Labels: UC20

#7838 cmd/snap-bootstrap: stub out snap.SanitizePlugsSlots for real
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: Bug, Simple 😃, UC20, ⚠ Critical

#7832 snap-bootstrap: support auto-detect device in create-partitions
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/bootstrap/bootstrap_test.go
  cmd/snap-bootstrap/bootstrap/export_test.go
  tests/main/uc20-snap-recovery-autodetect/task.yaml
Labels: UC20

#7775 seed: support extra snaps on top of Core 20 dangerous models
  seed/seed16_test.go
  seed/seed20.go
  seed/seed20_test.go
  seed/seedtest/seedtest.go
  seed/seedwriter/seed16.go
  seed/seedwriter/seed20.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: UC20

#7837 devicestate: implement creating partitions in "install" mode
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
Labels: UC20

#7697 interfaces/apparmor: handle pre-seeding mode
  interfaces/apparmor/apparmor.go
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/export_test.go
Labels: Preseeding 🍞

#7823 snap-bootstrap: implement "run" mode in snap-bootstrap initramfs-mounts
  boot/modeenv.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: UC20

#7320 snap/pack, cmd_pack: 'snap pack --check-skeleton' checks interfaces
  cmd/snap/cmd_pack.go
  cmd/snap/cmd_pack_test.go
  cmd/snap/main.go
  cmd/snap/main_test.go
  osutil/mountentry.go
  osutil/mountentry_linux.go
  snap/pack/pack.go
  snap/pack/pack_test.go
Labels: Needs Samuele review

#7843 tests/cmd/snapctl: unset SNAP_CONTEXT for the suite
  cmd/snapctl/main_test.go
Labels: Simple 😃

#7835 gadget: add missing test for duplicate detection of roles
  gadget/gadget.go
  gadget/validate_test.go
Labels: Simple 😃, UC20

#7846 devicestate: add missing test for failing task setup-run-system
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
Labels: Simple 😃, UC20

#7859 tests: disable mount-ns test on 16.04 for now
  tests/main/mount-ns/task.yaml
Labels: ⚠ Critical

#7771 o/hookstate/ctlcmd: snapctl is-connected command
  client/client.go
  cmd/snapctl/main.go
  daemon/api.go
  daemon/api_test.go
  daemon/response.go
  overlord/hookstate/ctlcmd/ctlcmd.go
  overlord/hookstate/ctlcmd/is_connected.go
  overlord/hookstate/ctlcmd/is_connected_test.go
  overlord/ifacestate/ifacemgr.go
  tests/main/snapctl-is-connected/task.yaml
  tests/main/snapctl-is-connected/test-snap/bin/checkconn
  tests/main/snapctl-is-connected/test-snap/meta/snap.yaml
Labels: Needs Samuele review

#7860 selinux: update policy to allow modifications related to kmod backend
  data/selinux/snappy.te
Labels: Test Robustness

#7856 snap-confine: revert, with comment, explicit unix deny for nested lxd
  cmd/snap-confine/snap-confine.apparmor.in
Labels: Simple 😃, ⚠ Critical

#7861 tests: check for SELinux denials in interfaces-kvm spread test
  tests/main/interfaces-kvm/task.yaml
Labels: Simple 😃, Test Robustness

#7847 snap-bootstrap: parse seed if either kernel or base are not mounted
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: UC20

#7867 tests: fix fwupd version regular expression
  tests/main/interfaces-fwupd-classic/task.yaml
Labels: Simple 😃, ⚠ Critical

#7864 cmd/snap-mgmt, packaging/postrm: stop and remove socket units when purging
  cmd/snap-mgmt/snap-mgmt.sh.in
  packaging/debian-sid/snapd.postrm
  packaging/ubuntu-14.04/snapd.postrm
  packaging/ubuntu-16.04/snapd.postrm
  tests/lib/prepare-restore.sh
  tests/main/snap-mgmt/task.yaml
Labels: Simple 😃

#7850 apparmor: allow 'r' /sys/kernel/mm/transparent_hugepage/hpage_pmd_size
  interfaces/apparmor/template.go
Labels: Simple 😃

#7848 cmd/snap-bootstrap: mount ubuntu-data tmpfs, in one go with kernel & base
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: UC20

#7876 seed: fix seed location of local but asserted snaps
  seed/seed20_test.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: UC20

#7874 seed: support ModeSnaps(mode) for mode != "run"
  seed/seed20.go
  seed/seed20_test.go
Labels: UC20

#7870 boot,bootloader: setup the snap recovery system bootenv
  boot/boot.go
  boot/boot_test.go
  bootloader/bootloader.go
  bootloader/bootloader_test.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/export_test.go
  bootloader/grub.go
  bootloader/grub_test.go
  image/image_test.go
Labels: UC20

#7878 cmd/snapd-generator: fix unit name for non /snap mount locations
  cmd/configure.ac
  cmd/snapd-generator/main.c
Labels: Simple 😃

#7873 image: set recovery system label when creating the image
  bootloader/bootloadertest/bootloadertest.go
  image/image.go
  image/image_test.go
Labels: UC20

#7830 interfaces: include hooks in plug/slot apparmor label.
  interfaces/builtin/export_test.go
  interfaces/builtin/utils.go
  interfaces/builtin/utils_test.go
Labels: Bug

#7885 tests: 16.04 and 18.04 now have mediating pulseaudio
  tests/main/interfaces-audio-playback-record/task.yaml
Labels: ⚠ Critical

#7888 tests: disable apt-hooks test until it can be properly fixed
  tests/main/apt-hooks/task.yaml
Labels: Simple 😃

#7890 tests/many: quiet lxc launching, file pushing
  tests/main/lxd-no-fuse/task.yaml
  tests/main/lxd-snapfuse/task.yaml
  tests/main/lxd/task.yaml
  tests/main/selinux-lxd/task.yaml
  tests/regression/lp-1815869/task.yaml
Labels: Simple 😃

#7886 tests: 16.04 and 18.04 now have mediating pulseaudio - 2.43
  tests/main/interfaces-audio-playback-record/task.yaml
Labels: ⚠ Critical

#7882 devicestate: only run ensureBootOk() in "run" mode
  boot/modeenv.go
  boot/modeenv_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
Labels: UC20

#7883 snapstate: relax gadget constraints in ConfigDefaults Et al.
  overlord/snapstate/models_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  seed/seedtest/seedtest.go
  snap/snaptest/snaptest.go
Labels: UC20

#7892 many: pass a Model to the gadget info reading functions
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/validate.go
  gadget/validate_test.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/handlers_gadget.go
  overlord/devicestate/handlers_remodel.go
  overlord/devicestate/helpers.go
  overlord/snapstate/check_snap.go
  overlord/snapstate/check_snap_test.go
Labels: UC20

#7898 overlord: replace DeviceContext.OldModel with GroundContext
  overlord/devicestate/devicectx.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot_test.go
  overlord/devicestate/handlers_gadget.go
  overlord/devicestate/handlers_remodel.go
  overlord/devicestate/remodel.go
  overlord/devicestate/remodel_test.go
  overlord/snapstate/devicectx.go
  overlord/snapstate/devicectx_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapstatetest/devicectx.go
Labels: UC20

#7895 many: add DeviceCtx.OperatingMode()
  overlord/devicestate/devicectx.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot_test.go
  overlord/devicestate/remodel.go
  overlord/devicestate/remodel_test.go
  overlord/snapstate/devicectx.go
  overlord/snapstate/devicectx_test.go
  overlord/snapstate/snapstatetest/devicectx.go
Labels: UC20

#7897 overlord/snapstate: tweak assumes error hint
  overlord/snapstate/check_snap.go
  overlord/snapstate/check_snap_test.go
Labels: Simple 😃

#7894 tests/main/parallel-install-remove-after: parallel installs should not break removal
  tests/main/parallel-install-classic/task.yaml
  tests/main/parallel-install-remove-after/task.yaml
Labels: Simple 😃

#7901 run-checks: check multiline string blocks in restore/prepare/execute sections of spread tests
  run-checks
Labels: Simple 😃

#7899 many: pass consistently boot.Device state to boot methods
  boot/boot.go
  boot/boot_test.go
  boot/boottest/device.go
  boot/boottest/device_test.go
  overlord/devicestate/devicectx.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/snapstate/backend.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/devicectx.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_discard_test.go
  overlord/snapstate/snapstatetest/devicectx.go
Labels: UC20

#7902 o/hookstate/ctlcmd: fix command name in snapctl -h
  overlord/hookstate/ctlcmd/ctlcmd.go
  overlord/hookstate/ctlcmd/ctlcmd_test.go
Labels: Simple 😃

#7903 overlord,boot: follow ups to #7889 and #7899
  boot/boot.go
  boot/boottest/device.go
  overlord/managers_test.go
Labels: Simple 😃

#7658 cmd/snap-preseed: add snap-preseed executable
  cmd/snap-preseed/export_test.go
  cmd/snap-preseed/main.go
  cmd/snap-preseed/main_test.go
  cmd/snap-preseed/preseed_linux.go
  cmd/snap-preseed/preseed_other.go
  packaging/debian-sid/rules
  packaging/snapd.mk
  packaging/ubuntu-14.04/rules
  packaging/ubuntu-16.04/rules
Labels: Preseeding 🍞

#7910 boot,image: add skeleton boot.makeBootable20RunMode
  boot/boot.go
  boot/boot_test.go
  image/image.go
Labels: UC20

#7912 boot: write modeenv when creating the run mode
  boot/boot.go
  boot/boot_test.go
Labels: UC20

#7911 systemd: fix uc20 shutdown
  data/systemd/snapd.system-shutdown.service.in
Labels: UC20

#7909 snap: improve squashfs.ReadFile() error
  snap/squashfs/squashfs.go
  snap/squashfs/squashfs_test.go
Labels: Simple 😃

#7915 lkenv.go: adjust for new location of include file
  bootloader/lkenv/lkenv.go
Labels: Simple 😃

#7914 bootstrap: reduce runmode mounts from 5 to 2 steps.
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: UC20

#7905 cmd/snap-bootstrap: actually parse snapd_recovery_system label
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: UC20

#7925 cmd/snap-preseed: update help strings
  cmd/snap-preseed/main.go
Labels: Simple 😃

#7926 cmd/snap-bootstrap: xxx todos about kernel cross-checks
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
Labels: UC20

#7917 snap-bootstrap: trigger udev for new partitions
  cmd/snap-bootstrap/partition/sfdisk.go
  cmd/snap-bootstrap/partition/sfdisk_test.go
  tests/main/uc20-snap-recovery-autodetect/task.yaml
  tests/main/uc20-snap-recovery/task.yaml
Labels: UC20

#7920 snapstate: do not try to detect rollback in ephemeral modes
  overlord/snapstate/booted_test.go
  overlord/snapstate/snapstate.go
Labels: UC20

#7923 snap-bootstrap: mount filesystems after creation
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/cmd_create_partitions.go
  cmd/snap-bootstrap/cmd_create_partitions_test.go
  cmd/snap-bootstrap/partition/deploy.go
  cmd/snap-bootstrap/partition/deploy_test.go
  dirs/dirs.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  tests/main/uc20-snap-recovery/task.yaml
Labels: UC20

#7907 snap-bootstrap: append new partitions
  cmd/snap-bootstrap/partition/sfdisk.go
  cmd/snap-bootstrap/partition/sfdisk_test.go
Labels: UC20

#7906 o/devicestate,o/snapstate: move the gadget.yaml check
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_remodel.go
  overlord/snapstate/check_snap.go
  overlord/snapstate/check_snap_test.go
  snap/snaptest/snaptest.go
  snap/snaptest/snaptest_test.go
Labels: UC20

#7929 boot: always return the trivial boot participant in ephemeral mode
  boot/boot.go
  boot/boot_test.go
Labels: UC20

#7930 run-checks: complain about MATCH -v
  run-checks
  tests/main/snap-set-core-config/task.yaml
Labels: Simple 😃

#7858 tests: also check nested lxd container
  tests/main/lxd/task.yaml
Labels: Test Robustness

#7918 boot: copy kernel/base to data partition in makeBootable20RunMode
  boot/boot.go
  boot/boot_test.go
Labels: UC20

#7921 devicestate: run boot.MakeBootable in doSetupRunSystem
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_install.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: UC20

#7936 tests: unmount automounted snap-bootstrap devices
  tests/main/uc20-snap-recovery/task.yaml
Labels: Simple 😃, UC20

#7933 snapd.core-fixup.sh: do not run on UC20 at all
  data/systemd/snapd.core-fixup.sh
Labels: UC20

#7932 devicestate: request reboot after successful doSetupRunSystem()
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
Labels: UC20

#7938 devicestate: avoid adding mockModel to deviceMgrInstallModeSuite
  overlord/devicestate/devicestate_install_mode_test.go
  seed/seed20.go
Labels: UC20

#7931 boot: write compat UC16 bootvars in makeBootable20RunMode
  boot/boot.go
  boot/boot_test.go
Labels: UC20

#7941 snap-bootstrap: read only stdout when parsing the sfdisk json
  cmd/snap-bootstrap/partition/sfdisk.go
  cmd/snap-bootstrap/partition/sfdisk_test.go
Labels: UC20

#7686 systemd: handle preseed mode
  systemd/emulation.go
  systemd/export_test.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: Preseeding 🍞

#7944 test: extract code that modifies "writable" for test prep
  tests/lib/prepare.sh
Labels: UC20

#7945 tests: unify/rename services-related spread tests to start with services- prefix
  tests/main/services-after-before-install/task.yaml
  tests/main/services-after-before/task.yaml
  tests/main/services-disable-install-hook/task.yaml
  tests/main/services-disable-refresh-hook/task.yaml
  tests/main/services-disabled-kept-happy/task.yaml
  tests/main/services-disabled-kept-unhappy/task.yaml
  tests/main/services-multi-service-failing/task.yaml
  tests/main/services-refresh-mode/task.yaml
  tests/main/services-snapctl/task.yaml
  tests/main/services-start-timeout/task.yaml
  tests/main/services-stop-mode-sigkill/task.yaml
  tests/main/services-stop-mode/task.yaml
  tests/main/services-stop-timeout/task.yaml
  tests/main/services-timer/task.yaml
  tests/main/services-watchdog/task.yaml
Labels: Simple 😃

#7946 tests: fix partition creation test
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/bootstrap/bootstrap_test.go
  tests/main/uc20-snap-recovery-autodetect/task.yaml
Labels: Simple 😃, UC20
