Repository canonical/snapd, pull requests merged in 2019-10, with the labels that each got.

#7539 sandbox/cgroup: avoid dependency on dirs
  sandbox/cgroup/cgroup.go
  sandbox/cgroup/cgroup_test.go
  sandbox/cgroup/export_test.go
Labels: Simple 😃

#7540 interfaces/seccomp: query apparmor sandbox helper rather than aggregate info
  interfaces/seccomp/backend.go
  interfaces/seccomp/backend_test.go
Labels: Simple 😃

#7546 daemon: add a 'prune' debug action
  daemon/api_debug.go
Labels: Simple 😃

#7545 cmd/model: don't show model with display-name inline w/ opts
  cmd/snap/cmd_model.go
  cmd/snap/cmd_model_test.go
  tests/main/snap-model/task.yaml
Labels: Simple 😃

#7550 spread.yaml: exclude automake cache
  spread.yaml
Labels: Simple 😃

#7561 tests: update system-usernames test now that opensuse-15.1 works
  tests/main/system-usernames/task.yaml
Labels: Simple 😃

#7559 tests: change regex to validate access to cdn during snap download
  tests/main/proxy-no-core/task.yaml
Labels: Simple 😃

#7557 interfaces/mount: account for cgroup version when reporting supported features
  interfaces/mount/backend.go
  interfaces/mount/backend_test.go
Labels: Simple 😃

#7533 client: add support to use the new "download" API
  client/export_test.go
  client/snap_op.go
  client/snap_op_test.go
Labels: Needs Samuele review

#7565 snap-repair: add additional comment about trust in runner.Verify()
  cmd/snap-repair/runner.go
Labels: Needs Samuele review, Simple 😃

#7510 daemon: make /v2/download take snapRevisionOptions
  daemon/api.go
  daemon/api_download.go
  daemon/api_download_test.go
  daemon/api_test.go
  store/store.go
Labels: Needs Samuele review

#7566 snap-repair: add missing check in TestRepairBasicRun
  cmd/snap-repair/runner_test.go
Labels: Simple 😃

#7568 snap: when running `snap repair` without arguments, show hint
  cmd/snap/cmd_repair_repairs.go
  cmd/snap/cmd_repair_repairs_test.go
Labels: Simple 😃

#7567 snap-repair: error if run as non-root
  cmd/snap-repair/cmd_run_test.go
  cmd/snap-repair/export_test.go
  cmd/snap-repair/main.go
Labels: Simple 😃

#7580 spread.yaml: exclude vendor dir
  spread.yaml
Labels: Simple 😃

#7583 usersession: drive by fixes for things flagged by unused or gosimple
  usersession/agent/session_agent.go
  usersession/agent/session_agent_test.go
  usersession/userd/ui/kdialog_test.go
  usersession/userd/ui/zenity_test.go
  usersession/userd/userd.go
Labels: Simple 😃

#7584 .gitignore: pair of trivial changes
  .gitignore
Labels: Simple 😃

#7582 spread: include mounts list in task debug output
  spread.yaml
Labels: Simple 😃

#7587 spread: generate delta when using google backend
  spread.yaml
Labels: Simple 😃

#7598 test/lib/names.sh: make backslash escaping explicit
  tests/lib/names.sh
Labels: Simple 😃

#7602 overlord/many: extend check snap callback to take snap container
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_test.go
  overlord/ifacestate/ifacestate.go
  overlord/snapstate/check_snap.go
  overlord/snapstate/check_snap_test.go
Labels: Remodel :train:, Simple 😃

#7355 interfaces/apparmor: load multiple profiles in a single batch
  interfaces/apparmor/apparmor.go
  interfaces/apparmor/apparmor_test.go
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/export_test.go
  interfaces/backend.go
  interfaces/helpers.go
  interfaces/helpers_test.go
  interfaces/ifacetest/backend.go
  interfaces/ifacetest/backendtest.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
  tests/main/apparmor-batch-reload/bin/apparmor_parser.fake
  tests/main/apparmor-batch-reload/task.yaml
  tests/regression/lp-1805838/task.yaml
Labels: Complex

#7611 overlord/many: switch order of check snap parameters
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_test.go
  overlord/ifacestate/ifacestate.go
  overlord/snapstate/check_snap.go
  overlord/snapstate/check_snap_test.go
Labels: Remodel :train:, Simple 😃

#7612 gadget: add a public helper for parsing gadget metadata
  gadget/gadget.go
  gadget/gadget_test.go
Labels: Remodel :train:, Simple 😃

#7627 overlord: add checks for bootvars in TestRemodelSwitchToDifferentKernel
  overlord/managers_test.go
Labels: Simple 😃

#7628 gadget: helper for volume compatibility checks
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/layout.go
  gadget/update.go
  gadget/update_test.go
Labels: Remodel :train:

#7562 tests: check the apparmor_parser when the file exists on snap-confine test
  tests/main/snap-confine/task.yaml
Labels: Simple 😃

#7443 timeutil: fix schedules with ambiguous nth weekday spans
  tests/lib/snaps/test-snapd-timer-service/meta/snap.yaml
  tests/main/snap-service-timer/task.yaml
  timeutil/export_test.go
  timeutil/schedule.go
  timeutil/schedule_test.go
  wrappers/services.go
  wrappers/services_gen_test.go
Labels: Bug

#7637 tests/main/interfaces-contacts-service: disable on openSUSE Tumbleweed
  tests/main/interfaces-contacts-service/task.yaml
Labels: Simple 😃

#7596 overlord/snapstate: skip catalog refresh if unseeded
  overlord/snapstate/catalogrefresh.go
  overlord/snapstate/catalogrefresh_test.go
Labels: Simple 😃

#7636 gadget, overlord/devicestate: add support for customized update policy, add remodel policy
  gadget/update.go
  gadget/update_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers.go
Labels: Remodel 🚋, Simple 😃

#7644 gadget: rename existing and add new helpers for checking filesystem/partition presence
  gadget/device_linux.go
  gadget/filesystemimage.go
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/layout.go
  gadget/mountedfilesystem.go
  gadget/offset.go
  gadget/partition.go
  gadget/raw.go
  gadget/raw_test.go
  gadget/update.go
  gadget/update_test.go
  gadget/validate.go
Labels: Simple 😃

#7643 overlord/devicestate: refactor and split into per-functionality files, drop dead code
  overlord/devicestate/devicestate_gadget_test.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_serial_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_gadget.go
  overlord/devicestate/handlers_remodel.go
  overlord/devicestate/handlers_serial.go
Labels: Remodel 🚋, Simple 😃

#7647 gadget: skip structures with MBR role during remodel
  gadget/update.go
  gadget/update_test.go
Labels: Remodel 🚋, Simple 😃

#7630 overlord/devicestate: check snap handler for gadget remodel compatibility
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_remodel.go
  overlord/devicestate/helpers.go
Labels: Remodel 🚋

#7648 interfaces/policy: expand cstrs/cstrs1 to altConstraints/constraints
  interfaces/policy/helpers.go
  interfaces/policy/policy.go
Labels: Simple 😃

#7655 interfaces: allow introspecting network-manager on core
  interfaces/builtin/network_manager.go
  interfaces/builtin/network_manager_test.go
Labels: Bug

#7662 interfaces: simplify AddUpdateNS and emit
  interfaces/apparmor/spec.go
  interfaces/builtin/appstream_metadata.go
  interfaces/builtin/content.go
  interfaces/builtin/desktop.go
Labels: Simple 😃

#7667 spread: enable bboozzoo/snapd-devel-deps COPR repo for getting golang-x-xerrors
  spread.yaml
Labels: Simple 😃

#7664 cmd/cmdutil: version helper
  cmd/cmd_linux.go
  cmd/cmdutil/version.go
  cmd/cmdutil/version_test.go
Labels: Prebaking

#7656 tests: verify host is not affected by mount-ns tests
  tests/main/mount-ns/google.ubuntu-core-16-64/HOST.expected.txt
  tests/main/mount-ns/google.ubuntu-core-18-64/HOST.expected.txt
  tests/main/mount-ns/task.yaml
Labels: Simple 😃

#7660 snap-recovery: rename to "snap-bootstrap"
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/bootstrap/bootstrap_test.go
  cmd/snap-bootstrap/bootstrap/export_test.go
  cmd/snap-bootstrap/main.go
  cmd/snap-bootstrap/partition/deploy.go
  cmd/snap-bootstrap/partition/deploy_test.go
  cmd/snap-bootstrap/partition/export_test.go
  cmd/snap-bootstrap/partition/mkfs.go
  cmd/snap-bootstrap/partition/mkfs_test.go
  cmd/snap-bootstrap/partition/partition_test.go
  cmd/snap-bootstrap/partition/sfdisk.go
  cmd/snap-bootstrap/partition/sfdisk_test.go
  packaging/debian-sid/not-installed
  packaging/ubuntu-14.04/rules
  packaging/ubuntu-16.04/snapd.install
  tests/main/uc20-snap-recovery/task.yaml
Labels: Simple 😃

#7668 tests: tweak wording in mount-ns test
  tests/main/mount-ns/task.yaml
Labels: Simple 😃

#7635 tests/lib/gendevmodel: helper tool for generating developer model assertions
  tests/lib/assertions/README.md
  tests/lib/assertions/developer1-pc-18.model.json
  tests/lib/gendeveloper1model/main.go
Labels: Simple 😃

#7677 interfaces/content: workaround for renamed target
  interfaces/builtin/content.go
  interfaces/builtin/content_test.go
  tests/regression/lp-1849845/task.yaml
  tests/regression/lp-1849845/test-snapd-app/bin/sh
  tests/regression/lp-1849845/test-snapd-app/meta/snap.yaml
  tests/regression/lp-1849845/test-snapd-assets-bar/meta/hooks/install
  tests/regression/lp-1849845/test-snapd-assets-bar/meta/snap.yaml
  tests/regression/lp-1849845/test-snapd-assets-foo/meta/hooks/install
  tests/regression/lp-1849845/test-snapd-assets-foo/meta/snap.yaml
Labels: Bug

#7678 spread: disable secondary compression for deltas
  spread.yaml
Labels: Simple 😃

#7622 snap: make `snap known --remote` use snapd if available
  client/client.go
  cmd/snap/cmd_known.go
  cmd/snap/cmd_known_test.go
Labels: Needs Samuele review

#7601 overlord/ifacestate: use SetupMany in setupSecurityByBackend
  overlord/ifacestate/export_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/ifacestate_test.go
Labels: Needs Samuele review

#7709 cmd/snap-seccomp/syscalls: update the list of known syscalls
  cmd/snap-seccomp/syscalls/syscalls.go
Labels: Simple 😃
