Repository canonical/snapd, pull requests merged in 2019-11, with the labels that each got.

#7708 parts/plugins: don't xz-compress a deb we're going to discard
  parts/plugins/x_builddeb.py
Labels: Simple 😃

#7716 interfaces/lxd-support: Fix on core18
  interfaces/builtin/lxd_support.go
  interfaces/builtin/lxd_support_test.go
Labels: Simple 😃

#7703 cmd/snap: make 'snap list' shorten latest/$RISK to $RISK
  cmd/snap/cmd_list.go
  cmd/snap/cmd_list_test.go
  tests/main/listing/task.yaml
Labels: Channels 🏷️, Simple 😃

#7717 tests/docker-smoke: add minimal docker smoke test
  tests/main/docker-smoke/task.yaml
Labels: Simple 😃

#7682 overlord: add kernel remodel undo tests and fix undo
  overlord/managers_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
Labels: Priority 🏇

#7680 daemon: parse and reject invalid channels in snap ops
  daemon/api.go
  daemon/api_download.go
  daemon/api_download_test.go
  daemon/api_test.go
Labels: Channels 🏷️, Simple 😃

#7718 sandbox/seccomp: accept build ID generated by Go toolchain
  sandbox/seccomp/compiler.go
  sandbox/seccomp/compiler_test.go
Labels: Simple 😃

#7665 devicestate: add support for gadget->gadget remodel
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_gadget.go
  overlord/devicestate/handlers_remodel.go
  overlord/managers_test.go
  overlord/snapstate/check_snap.go
  overlord/snapstate/check_snap_test.go
  tests/lib/assertions/developer1-pc-18-new-gadget.model
  tests/lib/assertions/developer1-pc-18-new-gadget.model.json
  tests/main/gadget-update-pc/task.yaml
  tests/main/remodel-gadget/task.yaml
Labels: Priority 🏇, Remodel 🚋

#7720 asserts: add "snapd" type to valid types in the model assertion
  asserts/model.go
  asserts/model_test.go
Labels: Needs Samuele review, Simple 😃

#7711 seed: test and improve Core 20 seed handling errors
  seed/seed20.go
  seed/seed20_test.go
  seed/seedtest/seedtest.go
  seed/seedwriter/writer_test.go
Labels: Priority 🏇

#7715 overlord: add base->base remodel undo tests and fixes
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  spread.yaml
  tests/lib/assertions/developer1-pc-18-new-base.model
  tests/main/remodel-base/task.yaml
Labels: Priority 🏇

#7725 tests/lib/state: snapshot and restore /var/snap during the tests
  tests/lib/state.sh
Labels: Simple 😃

#7652 o/ifacestate,interfaces,interfaces/policy: slots-per-plug: *
  asserts/ifacedecls.go
  asserts/ifacedecls_test.go
  interfaces/policy/basedeclaration_test.go
  interfaces/policy/helpers.go
  interfaces/policy/policy.go
  interfaces/policy/policy_test.go
  interfaces/repo.go
  interfaces/repo_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/ifacestate_test.go
Labels: Needs Samuele review, Priority 🏇

#7675 release: preseed mode flag
  cmd/snapd/main.go
  release/release.go
Labels: Preseeding 🍞, Simple 😃

#7729 cmd: fix a pair of typos
  cmd/Makefile.am
  cmd/snap/cmd_run.go
Labels: Simple 😃

#7704 snap: extract printInstallHint in cmd_download.go
  cmd/snap/cmd_download.go
  cmd/snap/cmd_download_test.go
  cmd/snap/export_test.go
Labels: Simple 😃

#7735 spread, tests: openSUSE Tumbleweed to unstable systems, update system-usernames on Amazon Linux 2
  spread.yaml
  tests/main/system-usernames/task.yaml
Labels: Simple 😃

#7741 tests: fix spread shellcheck and degraded tests to unbreak master
  tests/main/degraded/task.yaml
  tests/unit/spread-shellcheck/task.yaml
Labels: Test Robustness

#7734 spread: do not explain errors
  spread.yaml
Labels: Simple 😃

#7737 overlord: mock device serial in gadget remodel unit tests
  overlord/managers_test.go
Labels: Simple 😃, Test Robustness

#7738 overlord/state: panic in MarkEdge() if task is nil
  overlord/state/task.go
  overlord/state/task_test.go
Labels: Simple 😃

#7747 gadget: skip fakeroot if not needed
  gadget/mkfs.go
Labels: Simple 😃

#7712 seed: support in Core 20 seeds local unasserted snaps for model snaps
  overlord/devicestate/firstboot20_test.go
  seed/helpers.go
  seed/internal/options20.go
  seed/internal/options20_test.go
  seed/seed16.go
  seed/seed20.go
  seed/seed20_test.go
  seed/seedtest/seedtest.go
  seed/seedwriter/export_test.go
  seed/seedwriter/seed16.go
  seed/seedwriter/seed20.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: Priority 🏇

#7751 cmd: fix the get command help message
  cmd/snap/cmd_get.go
Labels: Simple 😃

#7713 seed: Core 20 seeds channel overrides support for grade dangerous
  seed/seed20.go
  seed/seed20_test.go
  seed/seedwriter/writer_test.go
Labels: Priority 🏇

#7754 release: 2.42.2
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃

#7757 devicestate: rename ensureSeedYaml -> ensureSeeded
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
Labels: Simple 😃

#7755 cmd/snap-failure: fallback to snapd from core, extend tests
  cmd/snap-failure/cmd_snapd.go
  cmd/snap-failure/cmd_snapd_test.go
Labels: Remodel 🚋

#7769 cmd/snap-failure: passthrough snapd logs, add informational logging
  cmd/snap-failure/cmd_snapd.go
  cmd/snap-failure/cmd_snapd_test.go
  cmd/snap-failure/main.go
  cmd/snap-failure/main_test.go
Labels: Simple 😃

#7727 tests: improve TestDoPrereqRetryWhenBaseInFlight to fix occasional flakiness
  overlord/snapstate/handlers_prereq_test.go
Labels: Test Robustness

#7770 testutil, many: make MockCommand() create prefix of absolute paths
  cmd/snap-failure/cmd_snapd_test.go
  cmd/snap/cmd_repair_repairs_test.go
  interfaces/seccomp/backend_test.go
  overlord/hookstate/hookstate_test.go
  overlord/snapstate/backend/link_test.go
  testutil/exec.go
  testutil/exec_test.go
  usersession/autostart/autostart_test.go
Labels: Simple 😃

#7785 tests/main/gadget-update-pc: use a program to modify gadget yaml
  tests/main/gadget-update-pc/generate.py
  tests/main/gadget-update-pc/pc-gadget-2.yaml
  tests/main/gadget-update-pc/pc-gadget-3.yaml
  tests/main/gadget-update-pc/pc-gadget.yaml
  tests/main/gadget-update-pc/task.yaml
Labels: Test Robustness

#7744 snap-bootstrap: set expected filesystem labels
  cmd/snap-bootstrap/partition/partition_test.go
  cmd/snap-bootstrap/partition/sfdisk.go
  tests/main/uc20-snap-recovery/task.yaml
Labels: uc20

#7740 overlord/ifacestate: report bad plug/slots with warnings on snap install
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacestate_test.go
  tests/main/bad-interfaces-warn/task.yaml
  tests/main/bad-interfaces-warn/test-snap/meta/snap.yaml
Labels: Needs Samuele review

#7782 osutil: handle "rw" mount flag in ParseMountEntry
  osutil/mountentry_linux.go
  osutil/mountentry_linux_test.go
Labels: Simple 😃

#7746 snap-bootstrap: implement "snap-bootstrap initramfs-mounts"
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
Labels: Needs Samuele review, UC20

#7789 bootloader: add new bootloader.InstallBootConfig()
  boot/boot.go
  boot/kernel_os_test.go
  bootloader/androidboot.go
  bootloader/bootloader.go
  bootloader/bootloader_test.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  bootloader/lk.go
  bootloader/uboot.go
Labels: UC20

#7790 boot: add boot.Modeenv that can read/write the UC20 modeenv files
  boot/modeenv.go
  boot/modeenv_test.go
  dirs/dirs.go
Labels: UC20

#7671 overlord/patch: normalize tracking channel in state
  overlord/patch/patch.go
  overlord/patch/patch6.go
  overlord/patch/patch6_3.go
  overlord/patch/patch6_3_test.go
Labels: Channels 🏷️, Needs Samuele review

#7791 snap-bootstrap: make cmdline parsing robust
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: UC20

#7773 cmd/snap-update-ns: fix overlapping, nested writable mimic handling
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/main_test.go
  features/features.go
  features/features_test.go
  tests/regression/lp-1844496/task.yaml
  tests/regression/lp-1844496/test-snapd-layout/bin/sh
  tests/regression/lp-1844496/test-snapd-layout/meta/snap.yaml
  tests/regression/lp-1844496/test-snapd-layout/usr/lib/x86_64-linux-gnu/wpe-webkit-1.0/canary
  tests/regression/lp-1844496/test-snapd-layout/usr/wpe-webkit-1.0/.gitkeep
  tests/regression/lp-1852361/task.yaml
  tests/regression/lp-1852361/test-snapd-layout/bin/sh
  tests/regression/lp-1852361/test-snapd-layout/etc/vtpath.ini
  tests/regression/lp-1852361/test-snapd-layout/meta/snap.yaml
  tests/regression/lp-1852361/test-snapd-layout/usr/lib/x86_64-linux-gnu/alsa-lib/.keep
  tests/regression/lp-1852361/test-snapd-layout/usr/share/pico/.keep
  tests/regression/lp-1852361/test-snapd-layout/usr/share/snips/.keep
  tests/regression/lp-1852361/test-snapd-layout/usr/vt/.keep
Labels: Needs Samuele review, Squash-merge, ⚠ Critical

#7788 overlord/snapstate: pick up system defaults when seeding the snapd snap
  overlord/configstate/handler_test.go
  overlord/configstate/hooks.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  tests/lib/assertions/developer1-pc-18-w-config.model
  tests/lib/assertions/developer1-pc-18-w-config.model.json
  tests/main/ubuntu-core-gadget-config-defaults/manip_seed.py
  tests/main/ubuntu-core-gadget-config-defaults/task.yaml
Labels: Squash-merge, ⚠ Critical

#7783 osutil/mount: add {Unm,M}outFlagsToOpts helpers
  osutil/mount/mount_linux.go
  osutil/mount/mount_linux_test.go
  testutil/lowlevel.go
Labels: Simple 😃

#6436 interfaces: add system-backup interface
  interfaces/builtin/system_backup.go
  interfaces/builtin/system_backup_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Needs Samuele review

#7802 interfaces: update system-backup tests to not check for sanitize errors related to os
  interfaces/builtin/system_backup_test.go
Labels: Simple 😃, ⚠ Critical

#7801 tests/main/gadget-update-pc: use a program to modify gadget yaml (2.42)
  tests/main/gadget-update-pc/generate.py
  tests/main/gadget-update-pc/pc-gadget-2.yaml
  tests/main/gadget-update-pc/pc-gadget-3.yaml
  tests/main/gadget-update-pc/pc-gadget.yaml
  tests/main/gadget-update-pc/task.yaml
Labels: ⚠ Critical

#7798 interfaces/browser-support: allow reading status of huge pages
  interfaces/builtin/browser_support.go
Labels: Simple 😃

#7794 many: backport pull request #7773 from zyga/fix/lp-1852361
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/main_test.go
  features/features.go
  features/features_test.go
  tests/regression/lp-1844496/task.yaml
  tests/regression/lp-1844496/test-snapd-layout/bin/sh
  tests/regression/lp-1844496/test-snapd-layout/meta/snap.yaml
  tests/regression/lp-1844496/test-snapd-layout/usr/lib/x86_64-linux-gnu/wpe-webkit-1.0/canary
  tests/regression/lp-1844496/test-snapd-layout/usr/wpe-webkit-1.0/.gitkeep
  tests/regression/lp-1852361/task.yaml
  tests/regression/lp-1852361/test-snapd-layout/bin/sh
  tests/regression/lp-1852361/test-snapd-layout/etc/vtpath.ini
  tests/regression/lp-1852361/test-snapd-layout/meta/snap.yaml
  tests/regression/lp-1852361/test-snapd-layout/usr/lib/x86_64-linux-gnu/alsa-lib/.keep
  tests/regression/lp-1852361/test-snapd-layout/usr/share/pico/.keep
  tests/regression/lp-1852361/test-snapd-layout/usr/share/snips/.keep
  tests/regression/lp-1852361/test-snapd-layout/usr/vt/.keep
Labels: ⚠ Critical

#7795 overlord/snapstate: pick up system defaults when seeding the snapd snap (2.42)
  overlord/configstate/handler_test.go
  overlord/configstate/hooks.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  tests/lib/assertions/developer1-pc-18-w-config.model
  tests/lib/assertions/developer1-pc-18-w-config.model.json
  tests/main/ubuntu-core-gadget-config-defaults/manip_seed.py
  tests/main/ubuntu-core-gadget-config-defaults/task.yaml
Labels: ⚠ Critical

#7799 osutil/mount: de-duplicate code to use a list
  osutil/mount/mount_linux.go
  osutil/mount/mount_linux_test.go
Labels: Simple 😃

#7776 interfaces: add login-session-observe for who, {fail,last}log and loginctl
  interfaces/builtin/login_session_observe.go
  interfaces/builtin/login_session_observe_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Needs Samuele review

#7793 devicestate: read modeenv early and store in devicestate
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_serial_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
Labels: UC20

#7805 osutil/mount: optimize flagOptSearch some more
  osutil/mount/mount_linux.go
  osutil/mount/mount_linux_test.go
Labels: Performance 🚀

#7792 snap-bootstrap: write /run/mnt/ubuntu-data/var/lib/snapd/modeenv
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: UC20

#7809 interfaces: remove leftover reservedForOS
  interfaces/builtin/login_session_observe.go
Labels: Simple 😃

#7807 snap-bootstrap: remove SNAPPY_TESTING check, we use it for real now
  cmd/snap-bootstrap/main.go
Labels: Simple 😃, UC20

#7808 release: 2.42.3
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃

#7796 overlord/snapstate: make sure configuration defaults are applied only once
  overlord/configstate/hooks.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  tests/main/ubuntu-core-config-defaults-once/gadget-defaults.yaml
  tests/main/ubuntu-core-config-defaults-once/manip_seed.py
  tests/main/ubuntu-core-config-defaults-once/task.yaml
Labels: ⚠ Critical

#7811 cmd/snap-bootstrap: some small naming and code org tweaks
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
Labels: UC20

#7814 overlord/snapstate: make sure configuration defaults are applied only once (2.42)
  overlord/configstate/hooks.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  tests/main/ubuntu-core-config-defaults-once/gadget-defaults.yaml
  tests/main/ubuntu-core-config-defaults-once/manip_seed.py
  tests/main/ubuntu-core-config-defaults-once/task.yaml
Labels: ⚠ Critical

#7816 release: 2.42.4
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃

#7706 overlord/snapstate: install task edges
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Preseeding 🍞

#7819 boot: add boot.Modeenv.Base support
  boot/modeenv.go
  boot/modeenv_test.go
Labels: Simple 😃, UC20

#7818 cmd/snap-bootstrap: write /var/lib/snapd/modeenv to the right place
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: Simple 😃, UC20

#7810 devicestate: add reading of modeenv to uc20 firstboot code
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
Labels: UC20
