Repository canonical/snapd, pull requests merged in 2020-07, with the labels that each got.

#8953 tests: enable system-snap-refresh test on uc20
  tests/core/system-snap-refresh/task.yaml
Labels: Simple 😃

#8933 tests/core/uc20-recovery: apply hack to get gopath in recover mode w/ external backend
  snapdenv/snapdenv.go
  tests/core/uc20-recovery/task.yaml
Labels: Test Robustness, UC20

#8918 many: make nested spread tests more reliable
  spread.yaml
  tests/core/core-to-snapd-failover16/task.yaml
  tests/core/snapd-failover/task.yaml
  tests/core/snapd16/task.yaml
  tests/lib/nested.sh
  tests/lib/prepare.sh
  tests/lib/snaps.sh
  tests/nested/core20/basic/task.yaml
Labels: Test Robustness

#8951 gadget/install: move udev trigger to gadget/install
  gadget/install/content.go
  gadget/install/export_test.go
  gadget/install/partition.go
  gadget/install/partition_test.go
  gadget/internal/udev.go
  gadget/internal/udev_test.go
Labels: Simple 😃, UC20

#8868 interfaces: add system-source-code for access to /usr/src
  interfaces/builtin/system_source_code.go
  interfaces/builtin/system_source_code_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Needs Samuele review, Reviewed, Squash-merge

#8909 interfaces/apparmor: allow snap-specific /run/lock
  interfaces/apparmor/template.go
Labels: Bug, Needs Samuele review, Needs security review, Reviewed

#8955 tests/lib/pkgdb: do not use quiet when purging debs
  tests/lib/pkgdb.sh
Labels: Precious Logs

#8853 asserts: introduce the concept of sequence-forming assertion types
  asserts/asserts.go
  asserts/asserts_test.go
  asserts/repair.go
  asserts/repair_test.go
  asserts/validation_set_test.go
Labels: Simple 😃, validation-sets :white_check_mark:

#8930 many: managed boot config during run mode setup
  boot/makebootable.go
  boot/makebootable_test.go
  bootloader/bootloader.go
  bootloader/bootloader_test.go
  bootloader/grub.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  tests/core/basic20/task.yaml
Labels: UC20

#8967 tests: rename apt-tool to apt-state
  tests/lib/tools/README
  tests/lib/tools/apt-state
  tests/main/upgrade-from-2.15/task.yaml
Labels: Simple 😃

#8963 tests: rename invariant-tool to tests.invariant
  tests/bin/tests.invariant
  tests/lib/prepare-restore.sh
  tests/lib/tools/README
  tests/lib/tools/suite/tests.invariant/task.yaml
  tests/lib/tools/tests.invariant
Labels: Simple 😃

#8965 tests: rename memory-tool to memory-observe-do
  tests/lib/tools/README
  tests/lib/tools/memory-observe-do
  tests/regression/lp-1848567/task.yaml
Labels: Simple 😃

#8966 tests: rename mountinfo-tool to mountinfo.query
  run-checks
  tests/bin/mountinfo.query
  tests/core/classic-snap16/task.yaml
  tests/lib/prepare-restore.sh
  tests/lib/tools/README
  tests/lib/tools/lxd-tool
  tests/lib/tools/mountinfo.query
  tests/lib/tools/suite/mountinfo.query/task.yaml
  tests/lib/tools/tests.invariant
  tests/main/interfaces-fuse-support/task.yaml
  tests/main/mount-ns/task.yaml
  tests/main/nfs-support/task.yaml
  tests/main/selinux-lxd/task.yaml
Labels: Simple 😃

#8968 tests: fix call to apt.Package.mark_install(auto_inst=True)
  tests/lib/tools/apt-state
Labels: Bug, Simple 😃, Test Robustness

#8961 cmd/snap-update-ns: handle anomalies better
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
  tests/regression/lp-1884849/task.yaml
Labels: Bug

#8964 tests: rename version-tool to version-compare
  run-checks
  tests/lib/tools/README
  tests/lib/tools/lxd-tool
  tests/lib/tools/suite/version-compare/task.yaml
  tests/lib/tools/suite/version-tool/task.yaml
  tests/lib/tools/version-compare
  tests/main/mount-ns/task.yaml
Labels: Simple 😃

#8870 interfaces: add gconf interface
  interfaces/builtin/gconf.go
  interfaces/builtin/gconf_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Needs Samuele review, Reviewed

#8970 tests: rename user-tool to user-state, fix --help
  tests/lib/tools/README
  tests/lib/tools/suite/user-state/task.yaml
  tests/lib/tools/user-state
  tests/main/non-home/task.yaml
  tests/main/system-usernames-install-twice/task.yaml
  tests/main/system-usernames/task.yaml
Labels: Simple 😃

#8971 tests: rename lxd-tool to lxd-state
  tests/lib/prepare-restore.sh
  tests/lib/tools/README
  tests/lib/tools/lxd-state
  tests/main/lxd-no-fuse/task.yaml
  tests/main/lxd-snapfuse/task.yaml
  tests/main/lxd/task.yaml
  tests/main/preseed-lxd/task.yaml
  tests/main/selinux-lxd/task.yaml
  tests/nightly/install-snaps/task.yaml
  tests/regression/lp-1815869/task.yaml
  tests/regression/lp-1867193/task.yaml
  tests/regression/lp-1867752/task.yaml
  tests/regression/lp-1871652/task.yaml
Labels: Simple 😃

#8939 snap-confine: don't die if a device from sysfs path cannot be found by udev
  cmd/snap-confine/udev-support.c
Labels: Bug, Needs security review, Security-High, Squash-merge

#8975 tests: shorten lxd-state undo-mount-changes
  tests/lib/prepare-restore.sh
  tests/lib/tools/lxd-state
  tests/main/lxd-no-fuse/task.yaml
  tests/main/lxd-snapfuse/task.yaml
  tests/main/lxd/task.yaml
  tests/main/preseed-lxd/task.yaml
  tests/main/selinux-lxd/task.yaml
  tests/nightly/install-snaps/task.yaml
  tests/regression/lp-1815869/task.yaml
  tests/regression/lp-1867193/task.yaml
  tests/regression/lp-1867752/task.yaml
  tests/regression/lp-1871652/task.yaml
Labels: Simple 😃

#8976 snap-confine: don't die if a device from sysfs path cannot be found by udev (2.45)
  cmd/snap-confine/udev-support.c
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Bug

#8974 spread.yaml: remove tests/lib/tools from PATH
  packaging/ubuntu-16.04/tests/integrationtests
  spread.yaml
  tests/bin/any-python
  tests/lib/tools/README
Labels: Simple 😃

#8906 asserts: introduce SequenceMemberAfter in the asserts backstores
  asserts/asserts_test.go
  asserts/database.go
  asserts/export_test.go
  asserts/findwildcard.go
  asserts/findwildcard_test.go
  asserts/fsbackstore.go
  asserts/fsbackstore_test.go
  asserts/membackstore.go
  asserts/membackstore_test.go
Labels: validation-sets :white_check_mark:

#8907 asserts: implement Database.FindSequence
  asserts/asserts.go
  asserts/database.go
  asserts/database_test.go
Labels: validation-sets :white_check_mark:

#8984 asserts: integer headers: disallow prefix zeros and make parsing more uniform
  asserts/asserts_test.go
  asserts/findwildcard.go
  asserts/findwildcard_test.go
  asserts/header_checks.go
  asserts/ifacedecls.go
  asserts/ifacedecls_test.go
  asserts/repair.go
  asserts/repair_test.go
  asserts/snap_asserts_test.go
  asserts/validation_set_test.go
Labels: validation-sets :white_check_mark:

#8956 tests/core/gadget-update-pc: port to UC20
  tests/core/gadget-update-pc/generate.py
  tests/core/gadget-update-pc/task.yaml
Labels: UC20

#8962 tests: allow to add a new label to run nested tests as part of PR validation
  .github/workflows/test.yaml
  check-pr-has-label.py
  run-checks
Labels: Run nested, Skip spread

#8985 snap/validate.go: disallow snap layouts with new top-level directories
  interfaces/mount/spec_test.go
  snap/validate.go
  snap/validate_test.go
Labels: Bug

#8981 boot, bootloader: query kernel command line of run mod and recovery mode systems
  boot/cmdline.go
  boot/cmdline_test.go
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
Labels: UC20

#8987 asserts: small improvements and corrections for sequence-forming assertions' support
  asserts/database.go
  asserts/findwildcard.go
  asserts/fsbackstore.go
  asserts/header_checks.go
  asserts/membackstore.go
Labels: validation-sets :white_check_mark:

#8990 systemd/escape: fix issues with "" and "\t" handling
  systemd/escape.go
  systemd/escape_test.go
Labels: Bug, Simple 😃, Test Robustness

#8988 many: use more specific check for unit test mocking
  bootloader/assets/assets.go
  bootloader/efi/efi.go
  osutil/io.go
  osutil/mountinfo_linux.go
  progress/progress.go
  tests/regression/lp-1886786/task.yaml
  tests/regression/lp-1886786/test-snapd-app-with-test-name/meta/snap.yaml
  tests/regression/lp-1886786/test-snapd-app-with-test-name/test.sh
Labels: Bug, Simple 😃, Test Robustness

#8992 boot: better naming of helpers for obtaining kernel command line
  boot/cmdline.go
  boot/cmdline_test.go
Labels: Simple 😃, UC20

#8994 tests: fix some snapstate tests to use pointers for snapmgrTestSuite
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
Labels: Simple 😃

#8979 tests: more checks in core20 early config spread test
  tests/nested/manual/core20-early-config/defaults.yaml
  tests/nested/manual/core20-early-config/install
  tests/nested/manual/core20-early-config/task.yaml
Labels: Run nested, Test Robustness

#8997 packaging: add "ca-certificates" to build-depends
  packaging/debian-sid/control
  packaging/ubuntu-14.04/control
  packaging/ubuntu-16.04/control
Labels: Simple 😃

#8996 packaging, cmd/snap-mgmt, tests: remove modules files on purge
  cmd/snap-mgmt/snap-mgmt.sh.in
  packaging/debian-sid/snapd.postrm
  packaging/ubuntu-14.04/snapd.postrm
  packaging/ubuntu-16.04/snapd.postrm
  tests/lib/snaps/test-snapd-kvm/bin/sh
  tests/lib/snaps/test-snapd-kvm/meta/snap.yaml
  tests/main/interfaces-kvm/task.yaml
  tests/main/postrm-purge/task.yaml
  tests/main/snap-mgmt/task.yaml
Labels: Bug

#8978 secboot: update tpm connection error handling
  secboot/export_test.go
  secboot/secboot_tpm.go
  secboot/secboot_tpm_test.go
  vendor/vendor.json
Labels: UC20

#8995 osutil: add CheckFreeSpace helper (1/N)
  osutil/disk.go
  osutil/disk_test.go
  osutil/export_test.go
Labels: Disk space awareness, Needs Samuele review

#8999 strutil: add a helper for parsing kernel command line
  strutil/cmdline.go
  strutil/cmdline_test.go
Labels: UC20

#8991 tests: preinstall shellcheck and run tests on focal
  run-checks
  tests/lib/pkgdb.sh
Labels: Simple 😃

#9003 bootloader: add helper for getting recovery system environment variables
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  bootloader/grub_test.go
Labels: Simple 😃, UC20

#9004 bootloader/bootloadertest: fix comment typo
  bootloader/bootloadertest/bootloadertest.go
Labels: Simple 😃, Skip spread, UC20

#9007 tests/lib: account for changes in arch package file name extension
  tests/lib/pkgdb.sh
  tests/lib/prepare-restore.sh
Labels: Simple 😃, Test Robustness

#9008 boot/initramfs_test.go: add Commentf to more Assert()'s
  boot/initramfs_test.go
Labels: Simple 😃, Test Robustness

#9009 tests/cmd/snap-bootstrap/initramfs-mounts: rm duplicated env ref kernel tests
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: Simple 😃, UC20

#9015 cmd/snap-preseed: handle relative chroot path
  cmd/snap-preseed/main.go
  cmd/snap-preseed/main_test.go
  tests/main/preseed-reset/task.yaml
Labels: Bug, Preseeding 🍞

#9037 tests: adjust xdg-open after launcher changes
  tests/main/xdg-open/task.yaml
Labels: Simple 😃, ⚠ Critical

#9034 cmd/snap-seccomp/syscalls: add faccessat2
  cmd/snap-seccomp/syscalls/syscalls.go
  interfaces/seccomp/template.go
Labels: Simple 😃, ⚠ Critical

#9028 interfaces: new helpers to get and compare system key, for use with seeding debug api (1/N)
  interfaces/system_key.go
  interfaces/system_key_test.go
Labels: Needs Samuele review, Preseeding 🍞

#8950 tests: new to-one-line tool which replaces the strings.sh helper
  tests/lib/nested.sh
  tests/lib/strings.sh
  tests/lib/tools/suite/to-one-line/task.yaml
  tests/lib/tools/to-one-line
  tests/main/classic-confinement-not-supported/task.yaml
  tests/main/install-errors/task.yaml
  tests/main/install-sideload/task.yaml
Labels: Squash-merge

#8851 interface/fwupd: add more policies for making fwupd upstream strict
  interfaces/builtin/fwupd.go
Labels: Needs security review

#8959 gadget,gadget/install: refactor partition table update
  gadget/export_test.go
  gadget/install/partition.go
  gadget/ondisk.go
  gadget/ondisk_test.go
Labels: UC20

#9038 tests: check for pids correctly
  tests/main/interfaces-process-control/task.yaml
Labels: Test Robustness

#9018 cmd/snap-preseed: check that target path exists and is a directory on --reset
  cmd/snap-preseed/main_test.go
  cmd/snap-preseed/reset.go
Labels: Preseeding 🍞, Simple 😃

#9040 spread: add opensuse 15.2 and tumbleweed for qemu
  packaging/opensuse-15.2
  spread.yaml
Labels: Simple 😃

#9030 bootloader/assets: helpers for registering per-edition snippets, register snippets for grub
  bootloader/assets/assets.go
  bootloader/assets/assets_test.go
  bootloader/assets/export_test.go
  bootloader/assets/grub.go
  bootloader/assets/grub_test.go
Labels: UC20

#9026 tests/nested/manual: add spread tests for cloud-init vuln
  tests/main/cloud-init/task.yaml
  tests/nested/manual/cloud-init-never-used-not-vuln/seed/meta-data
  tests/nested/manual/cloud-init-never-used-not-vuln/seed/user-data
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/cloud-init-nocloud-not-vuln/seed1/meta-data
  tests/nested/manual/cloud-init-nocloud-not-vuln/seed1/user-data
  tests/nested/manual/cloud-init-nocloud-not-vuln/seed2/meta-data
  tests/nested/manual/cloud-init-nocloud-not-vuln/seed2/user-data
  tests/nested/manual/cloud-init-nocloud-not-vuln/task.yaml
Labels: Run nested

#9050 tests: avoid exit when nested type var is not defined (2.45)
  tests/lib/nested.sh
Labels: Run nested, Simple 😃

#9048 .github/workflows/snap-build.yaml: build the snapd snap via GH Actions too
  .github/workflows/snap-build.yaml
Labels: Simple 😃

#9029 api: seeding debug api (2/N)
  daemon/api_debug.go
  daemon/api_debug_seeding.go
  daemon/api_debug_seeding_test.go
Labels: Needs Samuele review, Preseeding 🍞

#9051 tests/main/interfaces-pulseaudio: disable start limit checking for pulseaudio service / enable debug logging
  tests/main/interfaces-audio-playback-record/task.yaml
  tests/main/interfaces-pulseaudio/task.yaml
Labels: Squash-merge, Test Robustness

#9049 cmd/snap-bootstrap,seed: backport of uc20 PR's (2.45)
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  seed/seed20.go
  seed/seed20_test.go
Labels: UC20

#9055 tests: fix incorrect check in smoke/remove test (2.45)
  tests/smoke/remove/task.yaml
Labels: Simple 😃, Test Robustness

#9052 many: backport _writable_defaults dir changes (2.45)
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  sysconfig/cloudinit.go
  sysconfig/cloudinit_test.go
  sysconfig/sysconfig.go
  tests/core/basic20/task.yaml
Labels: Run nested, UC20

#9056 sysconfig/cloudinit_test.go: add test for initramfs case, rm "/" from path
  sysconfig/cloudinit_test.go
Labels: Simple 😃, Test Robustness

#9059 tests: replace _wait_for_file_change with retry
  tests/main/services-snapctl/task.yaml
Labels: Simple 😃

#9016 secboot: improve key sealing tests
  secboot/secboot_tpm_test.go
Labels: Test Robustness, UC20

#9058 tests: drop accidental accents from e
  tests/main/interfaces-personal-files/task.yaml
  tests/main/interfaces-system-files/task.yaml
Labels: Simple 😃

#9053 many/tests/preseed: reset the preseeded images before preseeding them
  tests/main/preseed-lxd/task.yaml
  tests/main/preseed-reset/task.yaml
  tests/main/preseed/task.yaml
  tests/nested/manual/preseed/task.yaml
Labels: Bug, Preseeding 🍞, Test Robustness

#9054 bootloader/assets: generate bootloader assets from files
  bootloader/assets/data/README.grub
  bootloader/assets/data/grub-recovery.cfg
  bootloader/assets/data/grub.cfg
  bootloader/assets/genasset/export_test.go
  bootloader/assets/genasset/main.go
  bootloader/assets/genasset/main_test.go
  bootloader/assets/generate.go
  bootloader/assets/grub.go
  bootloader/assets/grub_cfg_asset.go
  bootloader/assets/grub_recovery_cfg_asset.go
  packaging/debian-sid/rules
  packaging/ubuntu-14.04/rules
  packaging/ubuntu-16.04/rules
Labels: UC20

#9060 interfaces/builtin/multipass: replace U+00A0 no-break space with simple space
  interfaces/builtin/multipass_support.go
Labels: Simple 😃, Skip spread

#9066 o/ifacestate: fix bug in snapsWithSecurityProfiles
  overlord/ifacestate/helpers.go
  overlord/ifacestate/ifacestate_test.go
  tests/main/classic-prepare-image/task.yaml
Labels: Bug

#8677 cmd/snap, daemon: detect and bail purge on multi-snap
  cmd/snap/cmd_snap_op.go
  cmd/snap/cmd_snap_op_test.go
  daemon/api.go
  daemon/api_test.go
  tests/lib/prepare.sh
  tests/main/default-tracks/task.yaml
  tests/main/mount-protocol-error/task.yaml
Labels: Simple 😃, Test Robustness

#9069 tests/main/selinux-clean: workaround SELinux denials triggered by linger setup on Centos8 (2.45)
  tests/main/selinux-clean/task.yaml
Labels: Simple 😃

#9006 bootloader: compose command line with mode and extra arguments
  boot/cmdline.go
  boot/cmdline_test.go
  bootloader/assets/assets.go
  bootloader/assets/data/grub-recovery.cfg
  bootloader/assets/data/grub.cfg
  bootloader/assets/export_test.go
  bootloader/assets/grub.go
  bootloader/assets/grub_cfg_asset.go
  bootloader/assets/grub_recovery_cfg_asset.go
  bootloader/assets/grub_test.go
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/export_test.go
  bootloader/grub.go
  bootloader/grub_test.go
Labels: Squash-merge, UC20

#9068 tests/main/selinux-clean: workaround SELinux denials triggered by linger setup on Centos8
  tests/main/selinux-clean/task.yaml
Labels: Simple 😃

#9063 cmd/snap/debug: add "snap debug seeding" command for preseeding debugging (4/N)
  cmd/snap/cmd_debug_seeding.go
  cmd/snap/cmd_debug_seeding_test.go
  interfaces/system_key.go
  interfaces/system_key_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot_preseed_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_test.go
  tests/lib/preseed.sh
  tests/main/preseed-lxd/task.yaml
  tests/main/preseed-reset/task.yaml
  tests/main/preseed/task.yaml
  tests/nested/manual/preseed/task.yaml
Labels: Preseeding 🍞, Run nested

#9067 cmd/snap-bootstrap/initramfs-mounts: add doSystemdMount + unit tests
  cmd/snap-bootstrap/export_test.go
  cmd/snap-bootstrap/initramfs_systemd_mount.go
  cmd/snap-bootstrap/initramfs_systemd_mount_test.go
Labels: UC20

#8932 o/ifacestate: update security profiles in connect undo handler
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacestate_test.go
  tests/main/connect-undo/task.yaml
  tests/main/connect-undo/test-connect.v1/bin/consumer
  tests/main/connect-undo/test-connect.v1/meta/snap.yaml
  tests/main/connect-undo/test-connect.v2/bin/consumer
  tests/main/connect-undo/test-connect.v2/meta/snap.yaml
Labels: Bug

#9075 daemon/api: use pointers to time.Time for debug seeding aspect
  daemon/api_debug_seeding.go
  daemon/api_debug_seeding_test.go
Labels: Preseeding 🍞, Simple 😃

#9074 bootloader: extend managed assets bootloader interface to compose a candidate command line
  boot/cmdline.go
  boot/cmdline_test.go
  bootloader/asset.go
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  bootloader/grub_test.go
  gadget/mountedfilesystem.go
Labels: UC20

#9077 boot: add current recovery systems to modeenv
  boot/makebootable.go
  boot/makebootable_test.go
  boot/modeenv.go
  boot/modeenv_test.go
Labels: Simple 😃, UC20

#9082 interfaces/system-key: in WriteSystemKey during tests, don't call ParserFeatures
  interfaces/system_key.go
  interfaces/system_key_test.go
Labels: Bug, Simple 😃, Test Robustness
