Repository canonical/snapd, pull requests merged in 2020-10, with the labels that each got.

#9439 boot: look at the gadget for run mode bootloader when making the system bootable
  boot/makebootable.go
  boot/makebootable_test.go
Labels: Simple 😃, UC20

#9434 o/snapshotstate: improve allocation of new set IDs
  overlord/snapshotstate/backend/backend.go
  overlord/snapshotstate/backend/backend_test.go
  overlord/snapshotstate/snapshotstate.go
  overlord/snapshotstate/snapshotstate_test.go
Labels: Needs Samuele review

#9155 asserts/snapasserts: introduce ValidationSets
  asserts/snapasserts/snapasserts.go
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
  asserts/validation_set.go
Labels: validation-sets :white_check_mark:

#9440 gadget: preserve files when indicated by content change observer
  gadget/mountedfilesystem.go
  gadget/mountedfilesystem_test.go
  gadget/update.go
Labels: UC20

#9448 interfaces: update network-manager interface to allow ObjectManager access from unconfined clients
  interfaces/builtin/network_manager.go
Labels: Needs security review

#9441 run-checks: run spread-shellcheck too
  run-checks
Labels: Skip spread

#9450 many: scaffolding for snapshots import API
  client/snapshot.go
  client/snapshot_test.go
  cmd/snap/cmd_snapshot.go
  cmd/snap/cmd_snapshot_test.go
  daemon/api.go
  daemon/api_snapshots.go
  daemon/api_snapshots_test.go
  daemon/export_api_snapshots_test.go
  daemon/response.go
  overlord/snapshotstate/snapshotstate.go
Labels: Skip spread

#9459 secboot: fix tpm connection leak when it's not enabled
  secboot/secboot_tpm.go
Labels: Bug, Simple 😃, UC20

#9419 many: fix typos and repeated "the"
  asserts/systestkeys/trusted.go
  cmd/snap-confine/snap-device-helper
  cmd/snap/cmd_snap_op.go
  gadget/mountedfilesystem.go
  interfaces/builtin/media_hub.go
  overlord/state/task.go
  packaging/ubuntu-16.04/changelog
  packaging/ubuntu-16.04/copyright
  store/errors.go
  strutil/pathiter.go
  systemd/systemd.go
  tests/lib/tools/suite/journal-state/task.yaml
  tests/main/docker-smoke/task.yaml
  tests/main/interfaces-bluez/task.yaml
Labels: Skip spread

#9455 client,daemon,snap: use constant for snapshot content-type
  client/snapshot.go
  client/snapshot_test.go
  cmd/snap/cmd_snapshot_test.go
  daemon/api_snapshots.go
  daemon/api_snapshots_test.go
  daemon/response.go
Labels: Simple 😃, Skip spread

#9454 client: cleanup the Client.raw* and Client.do* method families
  client/asserts.go
  client/client.go
  client/client_test.go
  client/export_test.go
  client/icons.go
  client/model.go
  client/snap_op.go
Labels: Cleanup :broom:

#9461 many: set/expect Content-Length header when importing snapshots
  client/snapshot.go
  client/snapshot_test.go
  cmd/snap/cmd_snapshot.go
  daemon/api_snapshots.go
  daemon/api_snapshots_test.go
  daemon/export_api_snapshots_test.go
  overlord/snapshotstate/snapshotstate.go
Labels: Skip spread

#9462 daemon,snapshotstate: do not return "size" from Import()
  daemon/api_snapshots.go
  daemon/api_snapshots_test.go
  daemon/export_api_snapshots_test.go
  overlord/snapshotstate/snapshotstate.go
Labels: Skip spread

#9456 o/snapstate/autorefresh.go: eliminate race when launching autorefresh
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
Labels: Bug, Squash-merge, UC20

#9378 tests/nested/manual: add uc20 grade signed cloud-init test
  tests/nested/manual/grade-signed-cloud-init-testkeys/defaults.yaml
  tests/nested/manual/grade-signed-cloud-init-testkeys/prepare-device
  tests/nested/manual/grade-signed-cloud-init-testkeys/task.yaml
Labels: Run nested, Squash-merge, Test Robustness, UC20

#9427 boot, gadget, bootloader: observer preserves managed bootloader configs
  boot/assets.go
  boot/assets_test.go
  boot/cmdline_test.go
  boot/makebootable_test.go
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  bootloader/grub_test.go
  gadget/mountedfilesystem.go
  gadget/mountedfilesystem_test.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
Labels: Run nested, UC20

#9470 packaging/{ubuntu,debian}: add liblzo2-dev as a dependency for building snapd
  packaging/debian-sid/control
  packaging/ubuntu-16.04/control
  tests/main/lxd-snapfuse/task.yaml
Labels: Bug, Simple 😃, ⚠ Critical

#9471 cmd/snap-bootstrap/initramfs-mounts: also copy /etc/machine-id for same IP addr
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: Bug, Simple 😃, UC20

#9472 cmd/snap-bootstrap/initramfs-mounts: split off new helper for misc recover files
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
Labels: Simple 😃, UC20

#9425 tests: new tests.backup tool
  tests/bin/tests.backup
  tests/lib/tools/suite/tests.backup/task.yaml
  tests/lib/tools/tests.backup
Labels: Run nested

#9460 o/configstate: create /etc/sysctl.d when applying early config defaults
  overlord/configstate/configcore/sysctl.go
  overlord/configstate/configcore/sysctl_test.go
Labels: Bug, Squash-merge

#9481 release: 2.47.1
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#9483 tests: tweak error from tests.cleanup
  tests/lib/tools/suite/tests.cleanup/task.yaml
  tests/lib/tools/tests.cleanup
Labels: Simple 😃

#9484 spread-shellcheck: process paths from arguments in parallel
  spread-shellcheck
Labels: Simple 😃, Skip spread

#9487 gadget/install,secboot: add debug messages
  gadget/install/content.go
  gadget/install/partition.go
  secboot/secboot_tpm.go
Labels: Simple 😃, UC20

#9491 spread-shellcheck: correctly attribute suite errors
  spread-shellcheck
Labels: Bug

#9492 overlord: increase refresh postpone limit to 14 days
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
Labels: Simple 😃

#9486 logger: fix snapd.debug=1 parsing
  logger/logger.go
  logger/logger_test.go
Labels: Bug, Simple 😃

#9494 logger: use strutil.KernelCommandLineSplit in debugEnabledOnKernelCmdline
  logger/logger.go
Labels: Simple 😃, Skip spread

#9496 spread-shellcheck: temporary workaround for deadlock, drop unnecessary test
  spread-shellcheck
  tests/unit/spread-shellcheck/can-fail
  tests/unit/spread-shellcheck/task.yaml
Labels: Simple 😃

#9443 gadget, gadget/install: support for ubuntu-save, create one during install if needed
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/install/install.go
  gadget/ondisk.go
  gadget/ondisk_test.go
  secboot/encrypt.go
  secboot/encrypt_test.go
Labels: UC20

#9474 boot, overlord/devicestate: list trusted and managed assets upfront
  boot/assets.go
  boot/assets_test.go
  boot/export_test.go
  bootloader/bootloader.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_gadget.go
Labels: Run nested, UC20

#9500 tests/main/sudo-env: snap bin is avaialble on Fedora
  tests/main/sudo-env/task.yaml
Labels: Simple 😃

#9463 seed/seedwriter/writer.go: check DevModeConfinement for dangerous features
  seed/seedwriter/seed20.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: Bug, UC20

#8573 overlord/snapstate: inhibit startup while unlinked
  cmd/snaplock/runinhibit/inhibit.go
  cmd/snaplock/runinhibit/inhibit_test.go
  overlord/snapstate/backend.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/backend/locking.go
  overlord/snapstate/backend/locking_test.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/refresh.go
  overlord/snapstate/refresh_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_remove_test.go
  overlord/snapstate/snapstate_test.go
  tests/main/refresh/task.yaml
Labels: Needs Samuele review

#9505 tests: allow the searching test to fail under load
  tests/main/searching/task.yaml
Labels: Test Robustness

#9406 many: allow ignoring running apps for specific request
  client/snap_op.go
  client/snap_op_test.go
  cmd/snap/cmd_snap_op.go
  cmd/snap/cmd_snap_op_test.go
  daemon/api.go
  daemon/api_test.go
  overlord/snapstate/flags.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
Labels: Needs Samuele review

#9391 o/assertstate: introduce ValidationTrackingKey/ValidationSetTracking and basic methods
  overlord/assertstate/validation_set_tracking.go
  overlord/assertstate/validation_set_tracking_test.go
  overlord/snapstate/snapstate.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#9506 boot: skip some unit tests when running as root
  boot/assets_test.go
  boot/bootchain_test.go
  boot/seal_test.go
  bootloader/grub_test.go
  gadget/mountedfilesystem_test.go
  gadget/raw_test.go
  osutil/io_test.go
Labels: Simple 😃, Skip spread

#9511 o/snapstate: re-order remove tasks for individual snap revisions to remove current last
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_remove_test.go
Labels: Needs Samuele review

#9501 wrappers: do not error out on read-only /etc/dbus-1/session.d filesystem on core18
  tests/regression/lp-1899664/task.yaml
  wrappers/core18.go
  wrappers/core18_test.go
  wrappers/export_test.go
Labels: Bug

#9504 many: verify that unit tests work with nosecboot tag and without secboot package
  .github/workflows/test.yaml
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_nosecboot.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_secboot.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  gadget/install/encrypt_test.go
  gadget/install/export_secboot_test.go
  gadget/install/export_test.go
  run-checks
  secboot/encrypt_test.go
Labels: Run nested, Test Robustness

#9503 tests: use tests.backup tool
  spread.yaml
  tests/lib/prepare-restore.sh
Labels: Run nested

#9449 interfaces: PTP hardware clock interface
  interfaces/builtin/ptp.go
  interfaces/builtin/ptp_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Needs security review

#9498 client,daemon,snap: auto-import does not error on managed devices
  client/users.go
  client/users_test.go
  cmd/snap/cmd_auto_import.go
  cmd/snap/cmd_auto_import_test.go
  daemon/api_users.go
  daemon/api_users_test.go
Labels: Needs Samuele review, Run nested

#9420 tests/nested/manual/minimal-smoke: use 384MB of RAM for nested UC20
  tests/nested/manual/minimal-smoke/task.yaml
Labels: Run nested, UC20

#9507 overlord/snapshotstate/backend: specify tar format for snapshots
  overlord/snapshotstate/backend/backend.go
Labels: Simple 😃

#9515 cmd/snap-confine: update path to snap-device-helper in AppArmor profile
  cmd/snap-confine/snap-confine.apparmor.in
Labels: Simple 😃

#9517 spread, tests: tweaks for openSUSE
  packaging/opensuse/snapd.spec
  spread.yaml
  tests/lib/pkgdb.sh
Labels: Simple 😃

#9516 cmd/snap-confine: mask host's apparmor config
  cmd/snap-confine/mount-support.c
  cmd/snap-confine/snap-confine.apparmor.in
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-SNAP-16.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-SNAP-18.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-USER-16.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-USER-18.expected.txt
  tests/regression/lp-1898038/task.yaml
  tests/regression/lp-1898038/test-snapd-docker-support-app/bin/test-snapd-docker-support
  tests/regression/lp-1898038/test-snapd-docker-support-app/meta/snap.yaml
  tests/regression/lp-1898038/test-snapd-docker-support-app/test-snapd-docker-support.profile
  tests/regression/lp-1898038/test-snapd-multipass-support-app/bin/test-snapd-multipass-support
  tests/regression/lp-1898038/test-snapd-multipass-support-app/meta/snap.yaml
  tests/regression/lp-1898038/test-snapd-multipass-support-app/test-snapd-multipass-support.profile
Labels: Squash-merge, ⚠ Critical

#9520 tests: moving the core test suite from systems.sh to os.query tool
  tests/core/config-defaults-once/task.yaml
  tests/core/custom-device-reg/task.yaml
  tests/core/gadget-config-defaults-vitality/task.yaml
  tests/core/gadget-config-defaults/task.yaml
  tests/core/gadget-update-pc/task.yaml
  tests/core/kernel-ver/task.yaml
  tests/core/netplan/task.yaml
  tests/core/os-release/task.yaml
  tests/core/remodel/task.yaml
  tests/core/remove/task.yaml
  tests/core/snap-auto-mount/task.yaml
  tests/core/snap-debug-bootvars/task.yaml
  tests/core/snapd-failover/task.yaml
  tests/core/system-snap-refresh/task.yaml
  tests/core/upgrade/task.yaml
Labels: Simple 😃

#9521 tests: moving main suite from systems.sh to os.query tool
  tests/lib/tools/os.query
  tests/main/auto-refresh/task.yaml
  tests/main/core-snap-refresh/task.yaml
  tests/main/find-private/task.yaml
  tests/main/hook-permissions/task.yaml
  tests/main/install-sideload/task.yaml
  tests/main/interfaces-home/task.yaml
  tests/main/interfaces-hostname-control/task.yaml
  tests/main/interfaces-many-snap-provided/task.yaml
  tests/main/interfaces-upower-observe/task.yaml
  tests/main/parallel-install-remove-after/task.yaml
  tests/main/refresh-devmode/task.yaml
  tests/main/refresh/task.yaml
  tests/main/revert-devmode/task.yaml
  tests/main/revert/task.yaml
  tests/main/snap-disconnect/task.yaml
  tests/main/xdg-open/task.yaml
Labels: Simple 😃

#9499 tests: add tests for fsck; cmd/s-b/initramfs-mounts: fsck ubuntu-seed too
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  spread.yaml
  tests/bin/NOMATCH
  tests/core/fsck-on-boot/task.yaml
  tests/core/fsck-vfat/task.yaml
Labels: UC20

#9468 tests: lxd smoke test
  tests/main/lxd-services-smoke/task.yaml
Labels: Simple 😃, Test Robustness

#9422 overlord: add link participant for linkage transitions
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/handlers_test.go
Labels: Needs Samuele review

#9476 many: have install return encryption keys for data and save, improve tests
  boot/seal.go
  boot/seal_test.go
  gadget/install/install.go
  gadget/install/install_dummy.go
  gadget/install/install_test.go
  gadget/install/params.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  secboot/encrypt.go
  secboot/encrypt_tpm.go
  tests/lib/uc20-create-partitions/main.go
  tests/main/uc20-create-partitions-encrypt/task.yaml
Labels: Run nested, UC20

#9525 packaging: make sure that static binaries are indeed static, fix openSUSE
  packaging/opensuse/snapd.spec
  packaging/snapd.mk
Labels: Simple 😃

#9529 tests/uc20-create-partitions: don't check for grub.cfg
  tests/main/uc20-create-partitions/task.yaml
Labels: Simple 😃, Test Robustness

#9519 tests: moving the lib section from systems.sh helper to os.query tool
  tests/lib/core-config.sh
  tests/lib/nested.sh
  tests/lib/prepare-restore.sh
  tests/lib/prepare.sh
  tests/lib/reset.sh
  tests/lib/state.sh
  tests/lib/tools/os.query
Labels: Simple 😃

#9532 tests: clean systems.sh helper and migrate last set of tests
  tests/core/custom-device-reg-extras/task.yaml
  tests/core/device-reg/task.yaml
  tests/core/seed-base-symlinks/task.yaml
  tests/lib/systems.sh
  tests/main/interfaces-many-core-provided/task.yaml
  tests/main/remove-errors/task.yaml
Labels: Simple 😃

#9527 o/snapstate: implement undo handler for unlink-snap
  overlord/snapstate/handlers.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_remove_test.go
Labels: Needs Samuele review

#9414 tests: new nested tool
  tests/lib/nested.sh
  tests/lib/tools/nested-state
Labels: Run nested

#9537 tests: also check snapst.Current in undo-unlink tests
  overlord/snapstate/snapstate_remove_test.go
Labels: Simple 😃

#9538 o/snapstate/catalogrefresh.go: don't refresh catalog in install mode uc20
  overlord/snapstate/catalogrefresh.go
  overlord/snapstate/catalogrefresh_test.go
Labels: Simple 😃, UC20

#9543 cmd/snap: do not hardcode snapshot age value
  cmd/snap/cmd_snapshot_test.go
Labels: Simple 😃, Skip spread

#9544 overlord/snapstate: stop warning about inhibited refreshes
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
Labels: Simple 😃

#9552 usersession: fix typo in test name
  usersession/agent/rest_api_test.go
Labels: Simple 😃, Skip spread

#9551 dirs, boot: add ubuntu-save directories and related locations
  boot/initramfs20dirs.go
  dirs/dirs.go
Labels: Simple 😃, Skip spread

#9418 many: implement snap routine console-conf-start for synchronizing auto-refreshes
  client/client.go
  client/console_conf.go
  client/console_conf_test.go
  cmd/snap/cmd_routine_console_conf.go
  cmd/snap/cmd_routine_console_conf_test.go
  cmd/snap/export_test.go
  daemon/api.go
  daemon/api_console_conf.go
  daemon/api_console_conf_test.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_test.go
Labels: Needs Samuele review, UC20

#9554 tests/nested/core20/gadget,kernel-reseal: add sanity checks to the reseal tests
  tests/nested/core20/gadget-reseal/task.yaml
  tests/nested/core20/kernel-reseal/task.yaml
Labels: Run nested, Simple 😃

#9550 osutil/disks/mockdisk: panic if same mountpoint shows up again with diff opts
  osutil/disks/mockdisk.go
  osutil/disks/mockdisk_test.go
Labels: Simple 😃, Test Robustness

#9549 many: update to secboot v1 (part 1)
  boot/seal.go
  secboot/export_test.go
  secboot/secboot.go
  secboot/secboot_tpm.go
  secboot/secboot_tpm_test.go
  tests/nested/core20/kernel-reseal/task.yaml
  vendor/vendor.json
Labels: Run nested, UC20

#9489 daemon,client: write and read a maintenance.json file for when snapd is shut down
  client/client.go
  client/client_test.go
  daemon/api_systems_test.go
  daemon/daemon.go
  daemon/daemon_test.go
  daemon/response.go
  dirs/dirs.go
  interfaces/apparmor/template.go
Labels: UC20

#9542 interfaces: deny connected x11 plugs access to ICE
  interfaces/builtin/x11.go
Labels: Bug, Needs security review, ⚠ Critical

#9558 cmd/snap, snapmgr, tests: cleanups after #9418
  cmd/snap/cmd_routine_console_conf.go
  cmd/snap/cmd_routine_console_conf_test.go
  overlord/snapstate/snapmgr.go
Labels: Simple 😃, Skip spread, Test Robustness

#9557 tests/snap-advise-command: re-enable test
  tests/main/snap-advise-command/task.yaml
Labels: Simple 😃, Test Robustness

#9561 secboot: version bump, unlock volume with key
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_nosecboot.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_secboot.go
  cmd/snap-bootstrap/export_test.go
  secboot/encrypt_tpm.go
  secboot/encrypt_tpm_test.go
  secboot/export_test.go
  secboot/secboot_tpm.go
  secboot/secboot_tpm_test.go
  vendor/vendor.json
Labels: Run nested, UC20

#9535 o/snapstate: generate snapd snap wrappers again after restart on refresh
  overlord/devicestate/firstboot20_test.go
  overlord/ifacestate/handlers.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/booted_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Bug, Needs Samuele review

#9553 tests: add spread test for refreshing from an old snapd and core18
  tests/nested/manual/snapd-refresh-from-old/task.yaml
Labels: Run nested, Test Robustness

#9564 secboot: fix doc comment on helper for unlocking volume with key
  secboot/secboot_tpm.go
Labels: Simple 😃, Skip spread

#9528 cmd/snap-bootstrap: mount ubuntu-save during boot if present
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_nosecboot.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_secboot.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
  tests/lib/ensure_ubuntu_save.py
  tests/lib/nested.sh
  tests/nested/core20/gadget-reseal/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
  tests/nested/manual/grade-signed-above-testkeys-boot/task.yaml
  tests/nested/manual/grade-signed-cloud-init-testkeys/task.yaml
Labels: Run nested, UC20

#9559 client, daemon, cmd/snap: cleanups from #9489 + more unit tests
  client/client.go
  client/client_test.go
  cmd/snap/cmd_routine_console_conf_test.go
  cmd/snap/cmd_run.go
  daemon/daemon.go
  daemon/daemon_test.go
Labels: Simple 😃, Test Robustness

#9562 tests: improve uc20-create-partitions-reinstall test
  tests/main/uc20-create-partitions-reinstall/task.yaml
Labels: Simple 😃

#9563 secboot: set metadata and keyslots sizes when formatting LUKS2 volumes
  secboot/encrypt_tpm.go
  secboot/encrypt_tpm_test.go
  tests/lib/ensure_ubuntu_save.py
Labels: Run nested, UC20

#9568 interfaces,snap: use correct type: {os,snapd} for test data
  interfaces/builtin/bluez_test.go
  interfaces/builtin/network_manager_observe_test.go
  snap/snaptest/snaptest.go
  snap/snaptest/snaptest_test.go
Labels: Skip spread, Test Robustness

#8395 o/ifacestate: handle interface hooks when preseeding
  overlord/ifacestate/export_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacestate_test.go
Labels: Preseeding 🍞

#9572 tests: update google sru backend to support groovy
  spread.yaml
Labels: Simple 😃, Skip spread

#9569 tests/nested/core20/save: a test that verifies ubuntu-save is present and set up
  tests/nested/core20/save/task.yaml
Labels: Run nested, UC20

#9570 gadget/internal: tune ext4 setting for smaller filesystems
  gadget/install/content.go
  gadget/internal/mkfs.go
  gadget/internal/mkfs_test.go
Labels: Run nested, UC20

#9565 overlord/devicestate: bind mount ubuntu-save under /var/lib/snapd/save on startup
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: Run nested, UC20

#9575 testutil, cmd/snap/version: fix misc little errors
  cmd/snap/cmd_version.go
  testutil/containschecker_test.go
Labels: Simple 😃, Test Robustness

#9566 boot: store the TPM{PolicyAuthKey,LockoutAuth}File in ubuntu-save
  boot/initramfs20dirs.go
  boot/seal.go
  dirs/dirs.go
  tests/nested/core20/tpm/task.yaml
Labels: Run nested, UC20

#9578 o/devicestate: unit test tweaks
  overlord/devicestate/devicestate_test.go
Labels: Simple 😃, Skip spread

#9579 tests: rename hasHooks to hasInterfaceHooks in the ifacestate tests
  overlord/ifacestate/ifacestate_test.go
Labels: Simple 😃

#9573 o/devicetate,dirs: keep device keys in ubuntu-save/save for UC20
  dirs/dirs.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_serial_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_serial.go
Labels: Run nested, UC20

#9581 tests/nested/core20/save: check the bind mount and size bump
  tests/nested/core20/save/task.yaml
Labels: Run nested, Simple 😃

#9584 tests: fix rare interaction of tests.session and specific tests
  tests/lib/tools/tests.session
Labels: Test Robustness
