Repository canonical/snapd, pull requests merged in 2020-04, with the labels that each got.

#8373 tests/lib/prepare.sh: use only initrd from the kernel snap
  spread.yaml
  tests/lib/prepare.sh
Labels: UC20

#8376 daemon: make POST /v2/systems/<label> root only
  daemon/api_systems.go
  daemon/api_systems_test.go
Labels: Simple 😃

#8391 tests: fix cross build tests when installing dependencies
  tests/cross/go-build/task.yaml
Labels: Simple 😃

#8387 store: search v2 tweaks
  daemon/api.go
  daemon/api_test.go
  store/store.go
  store/store_test.go
Labels: Simple 😃

#8386 many: support immediate reboot
  daemon/daemon.go
  daemon/daemon_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  overlord/state/state.go
Labels: UC20

#8289 xdgopenproxy: forward requests to the desktop portal
  tests/lib/desktop-portal.sh
  tests/main/xdg-open-portal/editor.sh
  tests/main/xdg-open-portal/task.yaml
  tests/main/xdg-open-portal/web-browser.sh
  xdgopenproxy/export_test.go
  xdgopenproxy/portal_launcher.go
  xdgopenproxy/portal_launcher_test.go
  xdgopenproxy/userd_launcher.go
  xdgopenproxy/userd_launcher_test.go
  xdgopenproxy/xdgopenproxy.go
  xdgopenproxy/xdgopenproxy_test.go
Labels: Squash-merge

#8369 boot, overlord/devicestate, daemon: implement requesting boot into a given recovery system
  boot/boot.go
  boot/boot_test.go
  daemon/api_systems_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/devicestate_test.go
Labels: Needs Samuele review, UC20

#8372 devicestate: generate warning if seeding fails
  overlord/devicestate/devicemgr.go
  tests/main/broken-seeding/task.yaml
Labels: Needs Samuele review

#8370 snap-bootstrap: fix disk layout sanity check
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/bootstrap/bootstrap_test.go
  cmd/snap-bootstrap/partition/partition_test.go
  cmd/snap-bootstrap/partition/sfdisk.go
  cmd/snap-bootstrap/partition/sfdisk_test.go
Labels: UC20

#8396 tests: install dependencies with apt using --no-install-recommends
  tests/lib/pkgdb.sh
Labels: Simple 😃

#8392 tests: remove google-tpm backend from spread.yaml
  spread.yaml
Labels: Simple 😃, Skip spread

#8397 cmd/snap-confine/mount-support-nvidia.c: add libnvoptix as nvidia library
  cmd/snap-confine/mount-support-nvidia.c
  interfaces/builtin/opengl.go
Labels: Simple 😃

#8389 tests: make session tool way more robust
  tests/lib/bin/session-tool
  tests/main/session-tool/task.yaml
Labels: Test Robustness

#8399 interfaces/policy: fix comment in recent new test
  interfaces/policy/policy_test.go
Labels: Skip spread

#8401 snap: improve TestWaitRecovers test
  cmd/snap/cmd_snap_op_test.go
Labels: Simple 😃

#8305 cmd/snap-recovery-chooser: add recovery chooser
  cmd/snap-recovery-chooser/export_test.go
  cmd/snap-recovery-chooser/main.go
  cmd/snap-recovery-chooser/main_test.go
  packaging/debian-sid/not-installed
  packaging/ubuntu-14.04/rules
  packaging/ubuntu-16.04/snapd.install
Labels: UC20

#8253 snap-bootstrap: expand data partition on install
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/partition/sfdisk.go
  cmd/snap-bootstrap/partition/sfdisk_test.go
  tests/main/uc20-snap-recovery-autodetect/task.yaml
  tests/main/uc20-snap-recovery-encrypt/task.yaml
  tests/main/uc20-snap-recovery/task.yaml
Labels: UC20

#8405 boot: simplify modeenv mocking to always write a modeenv
  boot/boot_test.go
  boot/boottest/modeenv.go
  boot/modeenv.go
Labels: Simple 😃, UC20

#8404 client: increase timeout in client tests to 100ms
  client/client_test.go
Labels: Simple 😃

#8412 httputil: increase httpclient timeout in TestRetryRequestTimeoutHandling
  httputil/retry_test.go
Labels: Simple 😃

#8416 tests/session-tool: reset failed session-tool units
  tests/lib/bin/session-tool
Labels: Simple 😃

#8420 httputil: increase testRetryStrategy max timelimit to 5s
  httputil/retry_test.go
Labels: Simple 😃

#8103 snap-bootstrap: store encrypted partition recovery key
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/cmd_create_partitions.go
  cmd/snap-bootstrap/cmd_create_partitions_test.go
  cmd/snap-bootstrap/partition/encrypt.go
  cmd/snap-bootstrap/partition/encrypt_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  tests/core/basic20/task.yaml
  tests/main/uc20-snap-recovery-encrypt/task.yaml
Labels: UC20

#8422 tests: skip "/etc/machine-id" in "writablepaths" test
  tests/core/writablepaths/task.yaml
Labels: Simple 😃, ⚠ Critical

#8425 github: disable fail-fast as spread cannot be interrupted
  .github/workflows/test.yaml
Labels: Simple 😃

#8428 tests/session-tool: stop cron/anacron from meddling
  tests/main/session-tool/task.yaml
Labels: Test Robustness

#8432 travis.yml: disable unit tests on travis
  .travis.yml
Labels: Simple 😃

#8430 packaging: use debian/not-installed to ignore snap-preseed
  packaging/debian-sid/not-installed
  packaging/debian-sid/rules
Labels: Simple 😃

#8426 interfaces/docker-support: add overlayfs file access
  interfaces/builtin/docker_support.go
Labels: Simple 😃

#8415 cmd/snap-recovery-chooser: tweaks
  cmd/snap-recovery-chooser/export_test.go
  cmd/snap-recovery-chooser/main.go
  cmd/snap-recovery-chooser/main_test.go
Labels: UC20

#8434 systemd: move the doc comments to the interface so they are visible
  systemd/systemd.go
Labels: Reviewed, Simple 😃

#8438 tests/session-tool: stop anacron.service in prepare
  tests/main/session-tool/task.yaml
Labels: Simple 😃

#8390 state: add state.CopyState() helper
  overlord/state/copy.go
  overlord/state/copy_test.go
Labels: UC20

#8445 tests/main/uc20-snap-recovery: unbreak, rename to uc20-create-partitions
  tests/main/uc20-create-partitions/task.yaml
Labels: Simple 😃

#8435 configcore,tests: fix setting watchdog options on UC18/20
  overlord/configstate/configcore/watchdog.go
  overlord/configstate/configcore/watchdog_test.go
  tests/core/watchdog/task.yaml
Labels: Reviewed

#8446 tests/main/uc20-create-partitions: tweaks, renames, switch to 20.04
  tests/main/uc20-create-partitions-encrypt/task.yaml
  tests/main/uc20-create-partitions-reinstall/task.yaml
  tests/main/uc20-create-partitions/task.yaml
Labels: Simple 😃

#8441 interfaces: add case for rootWritableOverlay + NFS
  interfaces/export_test.go
  interfaces/system_key.go
  interfaces/system_key_test.go
Labels: Simple 😃, Test Robustness

#8408 snap/naming: add validator for snap security tag
  snap/naming/validate.go
  snap/naming/validate_test.go
Labels: Skip spread

#8433 overlord/devicestate: support for recover and run modes
  daemon/api_systems_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_systems_test.go
Labels: UC20

#8439 secboot: import secboot on ubuntu, provide dummy on !ubuntu
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  packaging/ubuntu-16.04/rules
  secboot/secboot_dummy.go
  secboot/secboot_tpm.go
  tests/core/basic20/task.yaml
  vendor/vendor.json
Labels: UC20

#8421 tests: enable unit tests on debian-sid again
  tests/lib/pkgdb.sh
  tests/unit/go/task.yaml
Labels: Simple 😃

#8448 tests/session-tool: add session-tool --dump
  tests/lib/bin/session-tool
  tests/main/session-tool/task.yaml
Labels: Simple 😃

#8449 dirs: don't depend on osutil anymore, mv apparmor vars to apparmor pkg
  cmd/snap-preseed/main_test.go
  cmd/snap-preseed/reset.go
  dirs/dirs.go
  interfaces/apparmor/apparmor_test.go
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  sandbox/apparmor/apparmor.go
  sandbox/apparmor/apparmor_test.go
Labels: Simple 😃, Test Robustness

#8457 github: skip spread jobs when corresponding label is set
  .github/workflows/test.yaml
Labels: Skip spread

#8411 boot: cleanup more things, simplify code
  boot/boot_test.go
  boot/bootstate20.go
  bootloader/bootloadertest/bootloadertest.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  overlord/devicestate/firstboot20_test.go
  overlord/managers_test.go
Labels: Reviewed, UC20

#8459 asserts: it should be possible to omit many snap-ids if allowed, fix
  asserts/model.go
  asserts/model_test.go
Labels: UC20, ⚠ Critical

#8450 selinux: export MockIsEnforcing; systemd: use in tests
  sandbox/selinux/export_test.go
  sandbox/selinux/selinux.go
  sandbox/selinux/selinux_test.go
  systemd/systemd_test.go
Labels: Simple 😃, Test Robustness

#8451 osutil: mock proc/self/mountinfo properly everywhere
  cmd/snapd/main_test.go
  daemon/api_test.go
  gadget/device_linux.go
  gadget/device_test.go
  interfaces/hotplug/deviceinfo_test.go
  interfaces/ifacetest/backendtest.go
  osutil/export_test.go
  osutil/mockable.go
  osutil/mount_linux.go
  osutil/mount_linux_test.go
  osutil/mountinfo_linux.go
  osutil/mountinfo_linux_test.go
  osutil/nfs_linux.go
  osutil/nfs_linux_test.go
  osutil/overlay_linux.go
  osutil/overlay_linux_test.go
  overlord/devicestate/firstboot_test.go
  overlord/ifacestate/hotplug_test.go
  overlord/ifacestate/ifacestate_test.go
  overlord/managers_test.go
  overlord/overlord_test.go
  overlord/snapstate/backend/mountunit_test.go
  overlord/snapstate/backend/setup_test.go
  sandbox/selinux/export_test.go
  sandbox/selinux/selinux_linux.go
  sandbox/selinux/selinux_linux_test.go
  sanity/check_test.go
  snap/squashfs/squashfs_test.go
  systemd/systemd_test.go
Labels: Test Robustness, UC20

#8403 sandbox/cgroup: avoid making arrays we don't use
  sandbox/cgroup/cgroup.go
Labels: Skip spread

#8462 cmd/snap: don't wait for system key when stopping
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  cmd/snap/export_test.go
  tests/regression/lp-1871652/systemctl
  tests/regression/lp-1871652/task.yaml
Labels: Security-High, ⚠ Critical

#8465 tests: update snap-preseed --reset logic to acommodate for 2.44 change
  cmd/snap-preseed/reset.go
  tests/main/preseed-reset/task.yaml
Labels: Simple 😃, ⚠ Critical

#8469 snap: do use os.Environ() in 2.44
  cmd/snap/cmd_run.go
Labels: ⚠ Critical

#8467 many: fix loading apparmor profiles on Ubuntu 20.04 with ZFS
  data/systemd/snapd.apparmor.service.in
  packaging/ubuntu-16.04/rules
  packaging/ubuntu-16.04/snapd.install
  wrappers/services.go
  wrappers/services_gen_test.go
Labels: Bug

#8486 bootloader, gadget, cmd/snap-bootstrap: misc cosmetic things
  bootloader/bootloader.go
  bootloader/grub.go
  bootloader/lkenv/lkenv.go
  bootloader/uboot.go
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/partition/sfdisk.go
  gadget/gadget.go
Labels: Simple 😃

#8296 httputil/client_test.go: add two TLS version tests
  httputil/client_test.go
Labels: Simple 😃, Skip spread

#8483 snap-bootstrap: fix partition numbering in create-partitions
  cmd/snap-bootstrap/partition/sfdisk.go
Labels: Simple 😃, UC20

#8490 cmd/snap-bootstrap: no error when not input devices are found
  cmd/snap-bootstrap/cmd_recovery_chooser_trigger.go
  cmd/snap-bootstrap/cmd_recovery_chooser_trigger_test.go
  cmd/snap-bootstrap/triggerwatch/triggerwatch.go
  cmd/snap-bootstrap/triggerwatch/triggerwatch_test.go
  data/systemd/snapd.recovery-chooser-trigger.service.in
Labels: UC20

#8491 cmd/snap: do not hide debug boot-vars on core
  cmd/snap/cmd_debug_bootvars.go
  cmd/snap/cmd_debug_bootvars_test.go
Labels: Simple 😃

#8493 data/systemd: do not run snapd.system-shutdown if finalrd is available
  data/systemd/snapd.system-shutdown.service.in
Labels: UC20

#8488 bootloader: add efi pkg for reading efi variables
  boot/booted_kernel_partition_linux.go
  boot/booted_kernel_partition_test.go
  bootloader/bootloadertest/utf16.go
  bootloader/efi/efi.go
  bootloader/efi/efi_test.go
Labels: UC20

#8498 run-checks: use consistent "Checking ..." style messages
  run-checks
Labels: Simple 😃

#8494 tests: preserve size for centos images on spread.yaml
  spread.yaml
Labels: Simple 😃

#8495 cmd/snap-bootstrap: switch to a 64-byte key for unlocking
  cmd/snap-bootstrap/partition/encrypt.go
  cmd/snap-bootstrap/partition/encrypt_test.go
  tests/main/uc20-create-partitions-encrypt/task.yaml
Labels: UC20

#8501 tests/lib/assertions/developer1-pi-uc20.model: use 20/edge for kernel and gadget
  tests/lib/assertions/developer1-pi-uc20.model.json
Labels: Test Robustness, UC20, ⚠ Critical

#8485 cmd/snap/debug/boot-vars: add opts for setting dir and/or uc20 vars
  boot/debug.go
  cmd/snap/cmd_debug_bootvars.go
Labels: Simple 😃, UC20

#8481 cmd/snap-update-ns: handle EBUSY when unlinking files
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
Labels: Bug

#8500 httputil: fix client timeout retry tests
  httputil/retry_test.go
Labels: Simple 😃, Test Robustness

#8463 secboot: key sealing also depends on secure boot enabled
  bootloader/efi/efi.go
  bootloader/efi/efi_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  packaging/fedora/snapd.spec
  secboot/export_test.go
  secboot/secboot_tpm.go
  secboot/secboot_tpm_test.go
  secboot/tpm_test.go
  tests/core/basic20/task.yaml
Labels: UC20

#8284 config: add system.store-certs.[a-zA-Z0-9] support
  overlord/configstate/configcore/certs.go
  overlord/configstate/configcore/certs_test.go
  overlord/configstate/configcore/corecfg.go
  overlord/configstate/configcore/runwithstate.go
  tests/main/snapd-certs/task.yaml
Labels: Needs Samuele review

#8503 boot/bootstate20: fix bug in try-kernel cleanup
  boot/boot_test.go
  boot/bootstate20.go
Labels: Bug, Simple 😃, UC20

#8504 spread.yaml,tests/many: use global env var for lxd channel
  spread.yaml
  tests/main/lxd-no-fuse/task.yaml
  tests/main/lxd-snapfuse/task.yaml
  tests/main/lxd/task.yaml
  tests/main/selinux-lxd/task.yaml
  tests/regression/lp-1815869/task.yaml
  tests/regression/lp-1867193/task.yaml
  tests/regression/lp-1867752/task.yaml
  tests/regression/lp-1871652/task.yaml
Labels: Test Robustness, ⚠ Critical

#8497 boot/bootstate20: re-factor kernel methods to use new interface for state
  boot/boot_test.go
  boot/bootstate20.go
Labels: UC20

#8505 spread.yaml: switch back to latest/candidate for lxd snap
  spread.yaml
Labels: Test Robustness

#8510 boot/bootstate20: small changes to bootloaderKernelState20
  boot/bootstate20.go
Labels: UC20

#8518 tests: disable special-home-can-run-classic-snaps due to jenkins repo issue
  tests/main/special-home-can-run-classic-snaps/task.yaml
Labels: Simple 😃, ⚠ Critical

#8409 snap-bootstrap: seal and unseal encryption key using tpm
  boot/initramfs20dirs.go
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/cmd_create_partitions.go
  cmd/snap-bootstrap/cmd_create_partitions_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
  cmd/snap-bootstrap/partition/encrypt.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  secboot/secboot_tpm_test.go
  secboot/tpm.go
  secboot/tpm_test.go
  tests/nested/manual/uc20-create-partitions-encrypt/task.yaml
  vendor/vendor.json
Labels: UC20

#8325 snap-bootstrap: copy auth data from real ubuntu-data in recovery mode
  boot/initramfs20dirs.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  overlord/state/copy.go
Labels: UC20

#8511 tests/boot: refactor to make it easier for new bootloaderKernelState20 impl
  boot/boot_robustness_test.go
  boot/boot_test.go
  boot/kernel_os_test.go
Labels: Test Robustness, UC20

#8524 bootloader: use binary.Read/Write
  bootloader/bootloadertest/utf16.go
  bootloader/efi/efi.go
Labels: Simple 😃, UC20

#8522 asserts: introduce ModelGrade.Code
  asserts/model.go
  asserts/model_test.go
  tests/lib/preseed.sh
  tests/main/preseed-reset/task.yaml
  tests/main/preseed/task.yaml
Labels: UC20

#8526 image: improve/adjust DownloadSnap doc comment
  image/helpers.go
Labels: Simple 😃

#8487 gadget, cmd/snap-bootstrap: MBR schema support
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/bootstrap/bootstrap_test.go
  cmd/snap-bootstrap/partition/partition_test.go
  cmd/snap-bootstrap/partition/sfdisk.go
  cmd/snap-bootstrap/partition/sfdisk_test.go
  gadget/device_linux.go
  gadget/device_test.go
Labels: UC20

#8529 cmd/snap-bootstrap/initramfs-mounts: support EnvRefExtractedKernelBootloader's
  boot/boottest/bootenv.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: UC20, ⚠ Critical

#8534 tests: 16.04 and 18.04 now have mediating pulseaudio (again)
  tests/main/interfaces-audio-playback-record/task.yaml
Labels: Simple 😃

#8538 overlord: have a variant of Mock that can take a state.State
  overlord/devicestate/devicestate_test.go
  overlord/overlord.go
Labels: Simple 😃

#8535 daemon: fix error message from `snap remove-user foo` on classic
  daemon/api_users.go
  daemon/api_users_test.go
Labels: Skip spread

#8512 boot/bootstate20: add EnvRefExtractedKernelBootloader bootstate20 implementation
  boot/boot_robustness_test.go
  boot/boot_test.go
  boot/bootstate20.go
  boot/kernel_os_test.go
Labels: UC20, ⚠ Critical

#8530 boot: enable makeBootable20RunMode for EnvRefExtractedKernel bootloaders
  boot/makebootable.go
  boot/makebootable_test.go
  bootloader/bootloader.go
  bootloader/export_test.go
  bootloader/uboot.go
  image/image_test.go
  tests/main/prepare-image-uboot-uc20/task.yaml
Labels: UC20, ⚠ Critical

#8544 interfaces/firewall-control: allow -legacy and -nft for core20
  interfaces/builtin/firewall_control.go
Labels: Simple 😃

#8542 boot: store model model and grade information in modeenv
  boot/makebootable.go
  boot/makebootable_test.go
  boot/modeenv.go
  boot/modeenv_test.go
Labels: UC20

#8540 o/snapstate: tweak "waiting for restart" message
  overlord/snapstate/snapstate.go
Labels: Simple 😃

#8545 cmd/snap-bootstrap/initramfs-mounts: mount ubuntu-seed first, other misc changes
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
Labels: UC20, ⚠ Critical

#8546 seccomp: add get_tls, io_pg* and *time64/*64 variants for existing syscalls
  interfaces/builtin/docker_support.go
  interfaces/seccomp/template.go
Labels: ⚠ Critical

#8543 overlord/devicestate: preserve the current model inside ubuntu-boot
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
Labels: UC20

#8513 snap-bootstrap: lock access to sealed keys
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
Labels: UC20

#8548 cmd/snap-bootstrap: cleanups, naming tweaks
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: Skip spread, UC20

#8549 tests: fix a typo in nested.sh helper
  tests/lib/nested.sh
Labels: Simple 😃, Skip spread

#8531 secboot,cmd/snap-bootstrap: add model to pcr protection profile
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/bootstrap/options.go
  cmd/snap-bootstrap/cmd_create_partitions.go
  cmd/snap-bootstrap/cmd_create_partitions_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  secboot/export_test.go
  secboot/tpm.go
  secboot/tpm_test.go
  vendor/vendor.json
Labels: UC20

#8555 bootloader/uboot: use secondary ubootenv file boot.sel for uc20
  boot/bootstate20.go
  boot/kernel_os_test.go
  boot/makebootable.go
  boot/makebootable_test.go
  bootloader/bootloader_test.go
  bootloader/export_test.go
  bootloader/uboot.go
  bootloader/uboot_test.go
  image/image_test.go
  tests/main/prepare-image-uboot-uc20/task.yaml
Labels: UC20

#8414 o/configstate: core config handler for persistent journal
  overlord/configstate/configcore/export_test.go
  overlord/configstate/configcore/handlers.go
  overlord/configstate/configcore/journal.go
  overlord/configstate/configcore/journal_test.go
  tests/main/core-persistent-journal/task.yaml
Labels: Needs Samuele review, Squash-merge

#8552 cmd/snap-bootstrap: measure epoch and model before unlocking encrypted data
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
  cmd/snap-bootstrap/initramfs_mounts_state.go
  dirs/dirs.go
  tests/lib/nested.sh
  vendor/vendor.json
Labels: UC20

#8528 tests: fix for preseeding failures
  tests/lib/preseed.sh
  tests/main/preseed-reset/task.yaml
  tests/main/preseed-snapd-snap/seed.yaml.in
  tests/main/preseed-snapd-snap/task.yaml
  tests/main/preseed/task.yaml
  tests/nested/manual/preseed/task.yaml
Labels: ⚠ Critical

#8536 store,asserts,many: support the new action fetch-assertions
  asserts/asserts.go
  asserts/asserts_test.go
  asserts/pool.go
  daemon/api_download.go
  daemon/api_download_test.go
  daemon/api_test.go
  image/helpers.go
  image/image_test.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/backend.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/storehelpers.go
  store/store_action.go
  store/store_action_fetch_assertions_test.go
  store/store_action_test.go
  store/storetest/storetest.go
Labels: Bulk assert refresh :scroll::scroll::scroll:

#8584 packaging/debian-sid: add gcc-multilib to build deps
  packaging/debian-sid/control
Labels: Simple 😃
