Repository canonical/snapd, pull requests merged in 2020-01, with the labels that each got.

#7948 spread: drop copr repo with F30 build dependencies
  spread.yaml
Labels: Simple 😃

#7954 changelog: fix typos
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃

#7935 boot,overlord: introduce internal abstraction bootState and use it for InUse/GetCurrentBoot
  boot/boot.go
  boot/boot_test.go
  boot/kernel_os.go
  overlord/devicestate/devicestate_test.go
  overlord/managers_test.go
  overlord/snapstate/booted.go
  overlord/snapstate/booted_test.go
  overlord/snapstate/policy.go
  overlord/snapstate/policy/base.go
  overlord/snapstate/policy/canremove_test.go
  overlord/snapstate/policy/errors.go
  overlord/snapstate/policy/export_test.go
  overlord/snapstate/policy/gadget.go
  overlord/snapstate/policy/kernel.go
  overlord/snapstate/policy/os.go
  overlord/snapstate/policy/policy.go
  overlord/snapstate/policy/snapd.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: UC20

#7952 snap-bootstrap: trigger udev after filesystem creation
  cmd/snap-bootstrap/partition/mkfs.go
  cmd/snap-bootstrap/partition/mkfs_test.go
  cmd/snap-bootstrap/partition/sfdisk.go
  tests/main/uc20-snap-recovery-autodetect/task.yaml
  tests/main/uc20-snap-recovery/task.yaml
Labels: UC20

#7964 tests/main/snap-sign: add test for non-stdin signing
  cmd/snap/cmd_sign.go
  tests/main/snap-sign/sign-model.exp
  tests/main/snap-sign/task.yaml
Labels: Simple 😃

#7937 boot,o/snapstate: SetNextBoot/LinkSnap return whether to reboot, use the information
  boot/boot.go
  boot/kernel_os.go
  boot/kernel_os_test.go
  overlord/snapstate/backend.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
Labels: UC20

#7943 tests: add core20 tests
  data/systemd/snapd.autoimport.service.in
  data/systemd/snapd.core-fixup.service.in
  data/systemd/snapd.snap-repair.service.in
  data/systemd/snapd.snap-repair.timer
  spread.yaml
  tests/core20/basic/task.yaml
  tests/lib/assertions/ubuntu-core-20-amd64.model
  tests/lib/prepare.sh
  tests/main/docker-smoke/task.yaml
  tests/main/gadget-update-pc/task.yaml
  tests/main/lxd/task.yaml
  tests/main/snap-set-core-config/task.yaml
  tests/main/ubuntu-core-gadget-config-defaults/task.yaml
  tests/main/ubuntu-core-netplan/task.yaml
  tests/main/ubuntu-core-network-config/task.yaml
  tests/main/ubuntu-core-refresh/task.yaml
  tests/regression/lp-1805485/task.yaml
Labels: UC20

#7953 tests: use new snapd.spread-tests-run-mode-tweaks.service unit
  data/systemd/snapd.core-fixup.sh
  tests/lib/prepare.sh
Labels: UC20

#7958 snap-bootstrap: refactor partition creation
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/partition/deploy.go
  cmd/snap-bootstrap/partition/deploy_test.go
  cmd/snap-bootstrap/partition/mkfs.go
  cmd/snap-bootstrap/partition/mkfs_test.go
Labels: UC20

#7957 snap-bootstrap: mount the correct snapd snap to /run/mnt/snapd
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: UC20

#7939 boot,o/devicestate: refactor MarkBootSuccessful over bootState
  boot/boot.go
  boot/boot_test.go
  boot/bootstate16.go
  boot/kernel_os.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
Labels: UC20

#7772 wrappers: write and undo snapd services on core
  systemd/systemd.go
  wrappers/core18.go
  wrappers/core18_test.go
Labels: Remodel 🚋

#7940 boot: implement SetNextBoot in terms of bootState.setNext
  boot/boot.go
  boot/boot_test.go
  boot/bootstate16.go
  boot/export_test.go
  boot/kernel_os.go
  boot/kernel_os_test.go
Labels: UC20

#7967 overlord/snapstate: improve snapd snap backend link unit tests
  overlord/snapstate/backend/link_test.go
Labels: Remodel 🚋

#7971 tests: enable a lot of the tests of main on uc20
  spread.yaml
  tests/main/auto-refresh-retry/task.yaml
  tests/main/auto-refresh/task.yaml
  tests/main/degraded/task.yaml
  tests/main/docker-smoke/task.yaml
  tests/main/econnreset/task.yaml
  tests/main/gadget-update-pc/task.yaml
  tests/main/install-sideload/task.yaml
  tests/main/interfaces-snapd-control-with-manage/task.yaml
  tests/main/interfaces-timezone-control/task.yaml
  tests/main/listing/task.yaml
  tests/main/snap-model/task.yaml
  tests/main/snap-network-errors/task.yaml
  tests/main/snap-repair/task.yaml
  tests/main/snapd-snap-transition/task.yaml
  tests/main/ubuntu-core-gadget-config-defaults/task.yaml
  tests/main/ubuntu-core-netplan/task.yaml
Labels: UC20

#7973 boot: split MakeBootable implementations into their own file
  boot/boot.go
  boot/makebootable.go
Labels: Simple 😃, UC20

#7976 boot: split MakeBootable tests into their own file
  boot/boot_test.go
  boot/kernel_os_test.go
  boot/makebootable_test.go
Labels: Simple 😃, UC20

#7979 many: drop NameAndRevision, use snap.PlaceInfo instead
  boot/boot.go
  boot/boot_test.go
  boot/bootstate16.go
  boot/export_test.go
  overlord/snapstate/booted.go
  overlord/snapstate/snapstate.go
  snap/info.go
  snap/info_test.go
Labels: UC20

#7988 snap: remove "host" output from `snap version`
  cmd/snap/cmd_version.go
  cmd/snap/cmd_version_test.go
Labels: ⚠ Critical

#7981 snap-bootstrap: create encrypted partition
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/bootstrap/bootstrap_test.go
  cmd/snap-bootstrap/cmd_create_partitions.go
  cmd/snap-bootstrap/cmd_create_partitions_test.go
  cmd/snap-bootstrap/export_test.go
  cmd/snap-bootstrap/partition/deploy_test.go
  cmd/snap-bootstrap/partition/encrypt.go
  cmd/snap-bootstrap/partition/encrypt_test.go
  cmd/snap-bootstrap/partition/partition_test.go
  cmd/snap-bootstrap/partition/sfdisk.go
  tests/main/uc20-snap-recovery-encrypt/task.yaml
Labels: UC20

#7990 many: misc tweaks
  bootloader/bootloader.go
  bootloader/lk.go
  snap/info.go
Labels: Simple 😃

#7991 boot: add HasModeenv to Device
  boot/boot.go
  boot/boot_test.go
  boot/boottest/device.go
  boot/boottest/modeenv.go
  boot/modeenv.go
  dirs/dirs.go
  overlord/devicestate/devicectx.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/firstboot20_test.go
  overlord/snapstate/snapstatetest/devicectx.go
Labels: UC20

#7994 cmd/snap-discard-ns: fix pattern for .info files
  cmd/snap-discard-ns/snap-discard-ns.c
  tests/main/snap-discard-ns/task.yaml
Labels: Bug, Simple 😃

#7996 overlord/standby: fix possible deadlock in standby test
  overlord/standby/standby_test.go
Labels: Simple 😃, Test Robustness

#8007 tests: remove execution of ubuntu 19.04 from google backend
  .travis.yml
  tests/lib/pkgdb.sh
  tests/main/apt-hooks/task.yaml
  tests/main/desktop-portal-filechooser/task.yaml
  tests/main/desktop-portal-open-file/task.yaml
  tests/main/desktop-portal-open-uri/task.yaml
  tests/main/desktop-portal-screenshot/task.yaml
  tests/main/interfaces-audio-playback-record/task.yaml
  tests/main/seccomp-statx/task.yaml
  tests/main/snapd-slow-startup/task.yaml
Labels: Simple 😃

#7238 usersession: add systemd user instance service control to user session agent
  tests/main/snap-session-agent-service-control/task.yaml
  usersession/agent/export_test.go
  usersession/agent/response.go
  usersession/agent/rest_api.go
  usersession/agent/rest_api_test.go
Labels: Needs Samuele review, Security-High

#8012 o/devicestate: do not create perfTimings if not needed inside ensureSeed/Operational
  overlord/devicestate/devicemgr.go
Labels: Simple 😃

#8006 tests: skip interfaces-network-manager on arm devices
  tests/main/interfaces-network-manager/task.yaml
Labels: Simple 😃

#8016 gitignore: ignore snap files
  .gitignore
  spread.yaml
  tests/lib/snaps/test-snapd-classic-service-hooks/test-snapd-classic-service-hooks_1.0_all.snap
Labels: Simple 😃

#8005 api: don't return connections referring to non-existing plugs/slots
  daemon/api_connections.go
  daemon/api_connections_test.go
  overlord/ifacestate/ifacemgr.go
  tests/main/snap-connections/task.yaml
  tests/main/snap-connections/test-snap.v1/meta/snap.yaml
  tests/main/snap-connections/test-snap.v2/meta/snap.yaml
Labels: Bug

#8013 cmd/snap-bootstrap: check device size before boostrapping and produce a meaningful error
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/bootstrap/bootstrap_test.go
  cmd/snap-bootstrap/partition/sfdisk.go
  cmd/snap-bootstrap/partition/sfdisk_test.go
  gadget/gadget.go
  gadget/gadget_test.go
Labels: Simple 😃

#7992 bootloader: add ExtractedRunKernelImageBootloader interface, implement in grub
  boot/makebootable.go
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  bootloader/grub_test.go
  bootloader/uboot.go
Labels: UC20

#8020 interfaces/apparmor: fix doc-comments, unnecessary code
  interfaces/apparmor/backend.go
  interfaces/apparmor/spec.go
Labels: Simple 😃

#8018 spread.yaml: fix ubuntu 19.10 and 20.04 names
  spread.yaml
Labels: Simple 😃

#8026 data/selinux: workaround incorrect fonts cache labeling on RHEL7
  data/selinux/snappy.te
Labels: Simple 😃

#8028 tests: use test-snapd-upower instead of upower
  tests/main/hook-permissions/task.yaml
  tests/main/interfaces-upower-observe/task.yaml
  tests/main/interfaces-upower-observe/test-snapd-upower/bin/upowerd.sh
  tests/main/interfaces-upower-observe/test-snapd-upower/snapcraft.yaml
Labels: Test Robustness, ⚠ Critical

#8030 tests: add a command-chain service test
  tests/lib/snaps/command-chain/chain3
  tests/lib/snaps/command-chain/chain4
  tests/lib/snaps/command-chain/meta/snap.yaml
  tests/lib/snaps/command-chain/run
  tests/main/command-chain/task.yaml
Labels: Simple 😃

#8029 tests: use test-snapd-upower instead of upower
  tests/main/interfaces-upower-observe/task.yaml
  tests/main/interfaces-upower-observe/test-snapd-upower/bin/upowerd.sh
  tests/main/interfaces-upower-observe/test-snapd-upower/snapcraft.yaml
Labels: Test Robustness, ⚠ Critical

#8027 snap: disable auto-import in uc20 install-mode
  cmd/snap/cmd_auto_import.go
  cmd/snap/cmd_auto_import_test.go
  cmd/snap/export_test.go
Labels: UC20

#8014 tests: run `uc20-snap-recovery-encrypt` test on 20.04-64 as well
  tests/main/uc20-snap-recovery-encrypt/task.yaml
Labels: Simple 😃

#8037 travis, tests, run-checks: skip nakedret
  run-checks
  tests/unit/go/task.yaml
  testutil/containschecker.go
Labels: Simple 😃

#8041 tests, run-checks, many: fix nakedret issues (2.43)
  run-checks
  tests/unit/go/task.yaml
  testutil/containschecker.go
Labels: Simple 😃

#8048 tests: disable system-usernames test on core20
  tests/main/system-usernames/task.yaml
Labels: ⚠ Critical

#8042 tests: remove revision leaking from remodel-kernel
  tests/main/remodel-kernel/task.yaml
Labels: Test Robustness

#8039 tests: remove revision leaking from ubuntu-core-refresh
  tests/main/ubuntu-core-refresh/task.yaml
Labels: Test Robustness

#8038 tests: fix gadget-update-pc test leaking snaps
  tests/main/gadget-update-pc/task.yaml
Labels: Test Robustness

#8050 tests: add marker tag for core 20 test failure
  tests/main/system-usernames/task.yaml
Labels: Simple 😃

#8044 grub: support atomically renaming kernel symlinks
  bootloader/grub.go
  bootloader/grub_test.go
Labels: UC20

#8052 osutil/tests: check there are no leftover symlinks with AtomicSymlink
  osutil/io.go
  osutil/io_test.go
Labels: Simple 😃, Test Robustness

#8049 tests: fix revisions leaking from snapd-refresh test
  tests/core18/snapd-refresh/task.yaml
Labels: Test Robustness

#8055 boot: tweak kernel cmdline helper docstring
  boot/cmdline.go
Labels: Simple 😃

#8056 client: move user-related things to their own files
  client/client.go
  client/client_test.go
  client/users.go
  client/users_test.go
Labels: Simple 😃

#8057 overlord/auth: add RemoveUserByName
  overlord/auth/auth.go
  overlord/auth/auth_test.go
Labels: Simple 😃

#8066 cmd/snap-confine: allow snap-confine to link to libpcre2
  cmd/snap-confine/snap-confine.apparmor.in
Labels: ⚠ Critical

#8064 boot: add bootloader options to coreKernel
  boot/boot.go
  boot/boot_test.go
  boot/export_test.go
  boot/kernel_os.go
  boot/kernel_os_test.go
  tests/core20/basic/task.yaml
Labels: UC20

#8070 dirs: fixlet for XdgRuntimeDirGlob
  dirs/dirs.go
Labels: Simple 😃

#8001 boot: enable UC20 kernel extraction and bootState20 handling
  boot/boot.go
  boot/boot_test.go
  boot/bootstate16.go
  boot/bootstate20.go
  boot/boottest/device.go
  boot/boottest/device_test.go
  boot/kernel_os_test.go
  boot/makebootable.go
  boot/makebootable_test.go
  bootloader/bootloadertest/bootloadertest.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/firstboot_test.go
Labels: Needs Samuele review, UC20
