Repository canonical/snapd, pull requests merged in 2020-02, with the labels that each got.

#8080 dirs: manjaro-arm is like manjaro
  dirs/dirs.go
Labels: Bug, Simple 😃

#8092 timeutil: add a unit test case for trivial schedule
  timeutil/schedule_test.go
Labels: Simple 😃

#8097 tests/lib/prepare: fix hardcoded loopback device names for UC images
  tests/lib/prepare.sh
Labels: Simple 😃

#8054 snap: add `snap pack --compression=<comp>` options
  cmd/snap/cmd_info_test.go
  cmd/snap/cmd_pack.go
  cmd/snap/cmd_pack_test.go
  seed/validate_test.go
  snap/info_test.go
  snap/pack/pack.go
  snap/pack/pack_test.go
  snap/snaptest/snaptest.go
  snap/squashfs/squashfs.go
  snap/squashfs/squashfs_test.go
Labels: Performance 🚀

#8094 tests: repack the initramfs + kernel snap for UC20 spread tests
  spread.yaml
  tests/core20/basic/task.yaml
  tests/lib/prepare.sh
  tests/main/ubuntu-core-apt/task.yaml
  tests/main/ubuntu-core-netplan/task.yaml
Labels: UC20

#7863 interfaces: add uio interface
  interfaces/builtin/uio.go
  interfaces/builtin/uio_test.go
  interfaces/policy/basedeclaration_test.go
  overlord/ifacestate/udevmonitor/udevmon.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Squash-merge

#8075 boot: don't use "kernel" from the modeenv anymore
  boot/boot_test.go
  boot/makebootable.go
  boot/makebootable_test.go
  boot/modeenv.go
  boot/modeenv_test.go
  overlord/devicestate/firstboot20_test.go
Labels: Simple 😃, UC20

#8093 cmd/snap-confine: detect base transitions on core16
  cmd/snap-confine/ns-support.c
  tests/main/base-migration/task.yaml
Labels: Bug

#8076 boot: add TryBase and BaseStatus to modeenv; use in snap-bootstrap
  boot/modeenv.go
  boot/modeenv_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: UC20

#7705 o/devicestate: handle preseed in firstboot
  overlord/devicestate/devicemgr.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot_preseed_test.go
  overlord/devicestate/firstboot_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_test.go
  overlord/snapstate/snapstate.go
  overlord/state/state.go
  wrappers/services.go
  wrappers/services_test.go
Labels: Preseeding 🍞

#8096 tests: retry mounting the udisk2 device due to timing issue
  tests/main/interfaces-udisks2/task.yaml
Labels: Simple 😃

#8107 tests/lib/prepare: use a local copy of uc20 initramfs skeleton
  tests/lib/prepare.sh
Labels: Simple 😃, UC20

#8106 tests: add "core" suite for UC specific tests
  spread.yaml
  tests/core/basic18/task.yaml
  tests/core/basic20/task.yaml
  tests/core/compat/task.yaml
  tests/core/kernel/task.yaml
  tests/core/remove/task.yaml
  tests/core/snapd-failover/task.yaml
  tests/core/snapd-refresh/task.yaml
  tests/lib/prepare.sh
Labels: Test Robustness, UC20

#8114 boot: use constants for boot status values
  boot/boot.go
  boot/boot_test.go
  boot/bootstate16.go
  boot/kernel_os_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: Simple 😃, UC20

#8058 run-checks, travis: allow skipping spread jobs by adding a label
  check-pr-skip-spread.py
  check-pr-title.py
  run-checks
Labels: Skip spread

#8118 tests/main/static: ldd in glibc 2.31 logs to stderr now
  tests/main/static/task.yaml
Labels: Simple 😃, ⚠ Critical

#8115 overlord/devicestate: fix preseed unit tests on systems not using /snap
  overlord/devicestate/handlers_test.go
Labels: Simple 😃, Skip spread

#8108 tests/main/interfaces-pulseaudio: use custom pulseaudio script, set kill timeout
  tests/main/interfaces-pulseaudio/task.yaml
Labels: Test Robustness

#7972 overlord/snapstate, wrappers: undo of snapd on core
  overlord/snapstate/backend.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  tests/main/ubuntu-core-snapd-failover/task.yaml
  tests/main/ubuntu-core-snapd/task.yaml
  wrappers/core18.go
  wrappers/core18_test.go
  wrappers/services.go
  wrappers/services_test.go
Labels: Remodel 🚋

#8119 httputil: add NoNetwork(err) helper, spread test and use in serial acquire
  httputil/retry.go
  overlord/devicestate/devicestate_serial_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_serial.go
  tests/main/retry-network/detect-retry.go
  tests/main/retry-network/task.yaml
Labels: Squash-merge, ⚠ Critical

#8122 interfaces/opengl: allow datagrams to nvidia-driver
  interfaces/builtin/opengl.go
Labels: Bug

#8121 spread: move centos to stable systems
  run-checks
  spread.yaml
Labels: Simple 😃

#8102 o/ifacestate: move ResolveDisconnect to ifacestate
  daemon/api.go
  interfaces/core.go
  interfaces/repo.go
  interfaces/repo_test.go
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate_test.go
Labels: Needs Samuele review, Squash-merge

#8125 data/selinux: unify tabs/spaces
  data/selinux/snappy.if
  data/selinux/snappy.te
Labels: Simple 😃

#8124 tests: Fix core revert channel after 2.43 has been released to stable
  tests/nested/core/core-revert/task.yaml
Labels: Skip spread

#8077 boot: enable base snap updates in bootstate20
  boot/boot.go
  boot/boot_test.go
  boot/bootstate16.go
  boot/bootstate20.go
  bootloader/bootloadertest/bootloadertest.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  overlord/devicestate/firstboot20_test.go
Labels: Squash-merge, UC20

#8129 tests: remove snapd in ubuntu-core-snapd
  tests/main/ubuntu-core-snapd/task.yaml
Labels: Test Robustness, ⚠ Critical

#8047 tests: detect LXD launching i386 containers
  tests/main/lxd-no-fuse/task.yaml
  tests/main/lxd-snapfuse/task.yaml
  tests/main/lxd/task.yaml
  tests/main/selinux-lxd/task.yaml
Labels: Test Robustness

#8128 o/devicestate: StartOfOperationTime helper for Prune (1/2)
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
Labels: Needs Samuele review

#8131 boot: add current_kernels to modeenv
  boot/modeenv.go
  boot/modeenv_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
Labels: UC20

#8132 systemd: improve is-active check for 'failed' services
  systemd/systemd.go
  systemd/systemd_test.go
Labels: Simple 😃

#8135 bootloader: make uboot a RecoveryAwareBootloader
  bootloader/export_test.go
  bootloader/uboot.go
  bootloader/uboot_test.go
Labels: UC20

#8138 snap/info: add Filename
  boot/bootstate16.go
  boot/bootstate20.go
  bootloader/bootloader.go
  bootloader/grub.go
  bootloader/lk.go
  bootloader/uboot.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  daemon/api_download.go
  image/helpers.go
  seed/seedwriter/seed16.go
  seed/seedwriter/seed20.go
  snap/info.go
Labels: Simple 😃

#8139 interfaces/{desktop-legacy,unity7}: adjust for new ibus socket location
  interfaces/builtin/desktop_legacy.go
  interfaces/builtin/unity7.go
Labels: Simple 😃

#8146 tests/core: add swapfiles test
  tests/core/swapfiles/task.yaml
Labels: Simple 😃, Test Robustness

#8144 tests: use Filename() instead of filepath.Base(sn.MountFile())
  boot/makebootable_test.go
  image/image_test.go
  seed/seed20_test.go
  seed/seedwriter/writer_test.go
Labels: Simple 😃, Test Robustness

#8046 many, tests: integrate all preseed bits and add spread tests
  daemon/daemon.go
  interfaces/backends/backends.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate_test.go
  overlord/snapstate/backend/backend.go
  overlord/snapstate/backend/mountunit.go
  overlord/snapstate/backend/mountunit_test.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/handlers.go
  overlord/snapstate/snapmgr.go
  packaging/debian-sid/rules
  packaging/ubuntu-14.04/rules
  packaging/ubuntu-14.04/snapd.install
  packaging/ubuntu-16.04/rules
  packaging/ubuntu-16.04/snapd.install
  spread.yaml
  tests/lib/nested.sh
  tests/lib/pkgdb.sh
  tests/lib/preseed.sh
  tests/main/preseed/task.yaml
  tests/nested/manual/preseed/task.yaml
  wrappers/services.go
  wrappers/services_test.go
Labels: Complex, Needs Samuele review, Preseeding 🍞

#8117 tests: add preseed test for classic
  overlord/devicestate/firstboot_preseed_test.go
Labels: Preseeding 🍞

#8158 tests: disable archlinux system
  spread.yaml
Labels: Skip spread

#8161 tests: set StartLimitInterval in snapd failover test
  cmd/snap-failure/cmd_snapd.go
  cmd/snap-failure/cmd_snapd_test.go
  spread.yaml
  tests/core/snapd-failover/task.yaml
Labels: Test Robustness, ⚠ Critical

#8166 cmd/snap-bootstrap: create a new parser instance
  cmd/snap-bootstrap/cmd_create_partitions.go
  cmd/snap-bootstrap/cmd_create_partitions_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/main.go
  cmd/snap-bootstrap/main_test.go
Labels: Simple 😃

#8164 snap: use the actual staging snap-id for snapd
  snap/helpers.go
Labels: Simple 😃

#8149 snapmgr, backends: maybe restart & security backend options
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/backend.go
  interfaces/backends/backends.go
  interfaces/dbus/backend.go
  interfaces/ifacetest/backend.go
  interfaces/kmod/backend.go
  interfaces/mount/backend.go
  interfaces/seccomp/backend.go
  interfaces/seccomp/backend_test.go
  interfaces/systemd/backend.go
  interfaces/udev/backend.go
  overlord/ifacestate/helpers.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
Labels: Preseeding 🍞

#8157 tests: using google storage when downloading ubuntu cloud images from gce
  tests/lib/nested.sh
Labels: Simple 😃

#8150 tests: ask tar to speak English
  overlord/snapshotstate/snapshotstate_test.go
Labels: Simple 😃

#8130 overlord, state: don't abort changes if spawn time before StartOfOperationTime (2/2)
  daemon/api_debug.go
  overlord/devicestate/devicestate_test.go
  overlord/overlord.go
  overlord/overlord_test.go
  overlord/state/state.go
  overlord/state/state_test.go
  overlord/state/taskrunner_test.go
Labels: Preseeding 🍞

#8120 cmd/snap-preseed: snapd version check for the target
  cmd/snap-preseed/export_test.go
  cmd/snap-preseed/main_test.go
  cmd/snap-preseed/preseed_linux.go
  tests/lib/preseed.sh
Labels: Preseeding 🍞

#8174 tests: bump sleep time of the new overlord tests
  overlord/overlord_test.go
Labels: Simple 😃, Skip spread, ⚠ Critical

#8113 cmd/snap-confine: bring /var/lib/dhcp from host, if present (approach a)
  cmd/snap-confine/mount-support.c
  cmd/snap-confine/snap-confine.apparmor.in
  tests/main/mount-ns/google.ubuntu-16.04-64/PER-SNAP-16.expected.txt
  tests/main/mount-ns/google.ubuntu-16.04-64/PER-SNAP-18.expected.txt
  tests/main/mount-ns/google.ubuntu-16.04-64/PER-USER-16.expected.txt
  tests/main/mount-ns/google.ubuntu-16.04-64/PER-USER-18.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-SNAP-16.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-SNAP-18.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-USER-16.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-USER-18.expected.txt
  tests/main/mount-ns/google.ubuntu-core-16-64/PER-SNAP-18.expected.txt
  tests/main/mount-ns/google.ubuntu-core-16-64/PER-USER-18.expected.txt
  tests/main/mount-ns/google.ubuntu-core-18-64/PER-SNAP-16.expected.txt
  tests/main/mount-ns/google.ubuntu-core-18-64/PER-SNAP-18.expected.txt
  tests/main/mount-ns/google.ubuntu-core-18-64/PER-USER-16.expected.txt
  tests/main/mount-ns/google.ubuntu-core-18-64/PER-USER-18.expected.txt
  tests/main/mount-ns/google.ubuntu-core-20-64/PER-SNAP-16.expected.txt
  tests/main/mount-ns/google.ubuntu-core-20-64/PER-SNAP-18.expected.txt
  tests/main/mount-ns/google.ubuntu-core-20-64/PER-USER-16.expected.txt
  tests/main/mount-ns/google.ubuntu-core-20-64/PER-USER-18.expected.txt
  tests/regression/lp-1862637/task.yaml
  tests/regression/lp-1862637/test-snapd-app/bin/sh
  tests/regression/lp-1862637/test-snapd-app/meta/snap.yaml
Labels: Bug

#8137 tests: skipping interfaces-openvswitch on centos due to package is not available
  tests/nightly/interfaces-openvswitch/task.yaml
Labels: Simple 😃

#8178 packaging: work around review-tools and snap-confine
  packaging/ubuntu-16.04/rules
  tests/main/snap-confine-undesired-mode-group/task.yaml
Labels: ⚠ Critical

#8136 boot: write current_kernels in bootstate20, makebootable
  boot/boot_test.go
  boot/bootstate20.go
  boot/boottest/modeenv.go
  boot/kernel_os_test.go
  boot/makebootable.go
  boot/makebootable_test.go
Labels: UC20

#8168 snapcraft.yaml: add comments, rename snapd part to snapd-deb
  build-aux/snap/snapcraft.yaml
Labels: Simple 😃

#8182 build: enable type: snapd
  build-aux/snap/snapcraft.yaml
Labels: ⛔ Blocked

#8171 cmd/snap-failure/snapd: rm snapd.socket, reset snapd.socket failed status
  cmd/snap-failure/cmd_snapd.go
  cmd/snap-failure/cmd_snapd_test.go
Labels: Simple 😃

#8147 cmd/snap-bootstrap: verify kernel snap is in modeenv before mounting it
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: UC20

#8184 cmd/libsnap, tests: fix C unit tests failing as non-root
  cmd/libsnap-confine-private/locking-test.c
  tests/unit/c-unit-tests-clang/task.yaml
  tests/unit/c-unit-tests-gcc/task.yaml
Labels: Test Robustness, ⚠ Critical

#8177 cmd/snap-bootstrap/initramfs-mounts: mount the snapd snap in run-mode too
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: UC20

#8193 snapstate: do not restart in undoLinkSnap unless on first install
  cmd/snap-failure/cmd_snapd.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  tests/core/snapd-failover/task.yaml
Labels: ⚠ Critical

#8189 seed,cmd/snap-bootstrap: introduce seed.Snap.EssentialType, simplify bootstrap code
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  image/image_test.go
  seed/helpers.go
  seed/seed.go
  seed/seed16.go
  seed/seed16_test.go
  seed/seed20.go
  seed/seed20_test.go
Labels: UC20

#8183 tests: remove tmp dir for snap not-test-snapd-sh on security-private-tmp test
  tests/main/security-private-tmp/task.yaml
Labels: Simple 😃

#8140 tests: enable more tests for UC20/UC18
  tests/core/apt/task.yaml
  tests/core/basic20/task.yaml
  tests/core/classic-snap16/task.yaml
  tests/core/config-defaults-once/task.yaml
  tests/core/custom-device-reg-extras/task.yaml
  tests/core/custom-device-reg/task.yaml
  tests/core/device-reg/task.yaml
  tests/core/grub-no-unpacked-assets/task.yaml
  tests/core/kernel-ver/task.yaml
  tests/core/kernel/task.yaml
  tests/core/network-config/task.yaml
  tests/core/os-release/task.yaml
  tests/core/reboot/task.yaml
  tests/core/remove/task.yaml
  tests/core/services/task.yaml
  tests/core/snap-auto-import-asserts-spools/task.yaml
  tests/core/snap-auto-import-asserts/task.yaml
  tests/core/snap-auto-mount/task.yaml
  tests/core/snap-core-fixup/task.yaml
  tests/core/snap-set-core-config/task.yaml
  tests/core/snapd-failover16/task.yaml
  tests/core/snapd16/task.yaml
  tests/core/writablepaths/task.yaml
  tests/lib/assertions/ubuntu-core-20-amd64.model
  tests/lib/prepare.sh
Labels: Test Robustness, UC20

#8188 spread.yaml: make qemu ubuntu-core-20-64 use ubuntu-20.04-64
  spread.yaml
Labels: Simple 😃

#8081 tests/main/user-session-env: add test verifying environment variables inside the user session
  tests/lib/pkgdb.sh
  tests/lib/user.sh
  tests/main/user-session-env/task.yaml
Labels: Simple 😃

#8195 tests/lib/prepare.sh: simplify, combine code paths
  tests/lib/prepare.sh
Labels: Simple 😃, Test Robustness

#8194 o/devicestate: unset recovery_system when done seeding
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/handlers.go
Labels: Simple 😃, UC20

#8199 tests: enable snapd-failover on uc20
  tests/core/snapd-failover/task.yaml
Labels: Simple 😃

#8196 client: add "Resume" to DownloadOptions and new test
  client/snap_op.go
  client/snap_op_test.go
Labels: Simple 😃

#8204 data/systemd: improve the description
  data/systemd/snapd.service.in
Labels: Simple 😃, Skip spread

#8213 spread.yaml: mv opensuse 15.1 to unstable
  spread.yaml
Labels: Skip spread, ⚠ Critical

#8212 tests: updating checks to new test account for snapd-test snaps
  tests/main/install-store/task.yaml
  tests/main/local-install-w-metadata/task.yaml
Labels: Simple 😃

#8083 spread, data/selinux: add CentOS 8, update policy
  data/selinux/snappy.te
  packaging/centos-8
  spread.yaml
  tests/lib/pkgdb.sh
  tests/main/interfaces-packagekit-control/task.yaml
  tests/main/selinux-lxd/task.yaml
Labels: Squash-merge

#8187 boot: misc UC20 changes
  boot/bootstate20.go
  boot/modeenv_test.go
  bootloader/androidboot_test.go
  bootloader/bootloader.go
  bootloader/bootloader_test.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  bootloader/grub_test.go
  bootloader/lk_test.go
  bootloader/lkenv/lkenv_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  overlord/devicestate/devicestate_test.go
  overlord/managers_test.go
  overlord/snapstate/booted_test.go
  overlord/snapstate/handlers_link_test.go
Labels: UC20

#8170 snap-preseed: support for preseeding of snapd and core18
  cmd/snap-preseed/main_test.go
  cmd/snap-preseed/preseed_linux.go
  overlord/devicestate/firstboot_preseed_test.go
  overlord/devicestate/firstboot_test.go
  tests/main/preseed-snapd-snap/seed.yaml.in
  tests/main/preseed-snapd-snap/task.yaml
Labels: Preseeding 🍞

#8205 tests: just remove user when the system is not managed on create-user-2 test
  tests/core/create-user-2/task.yaml
  tests/core/create-user/task.yaml
  tests/main/remove-user/task.yaml
Labels: Simple 😃
