Repository canonical/snapd, pull requests merged in 2020-03, with the labels that each got.

#8210 wrappers: add mount unit dependency for snapd services on core devices
  overlord/snapstate/backend/link_test.go
  wrappers/core18.go
  wrappers/core18_test.go
Labels: UC20

#8190 overlord, taskrunner: exit on task/ensure error when preseeding
  overlord/export_test.go
  overlord/overlord.go
  overlord/overlord_test.go
  overlord/state/taskrunner.go
  overlord/state/taskrunner_test.go
Labels: Preseeding 🍞, Squash-merge

#8222 wrappers: import /etc/environment in all services
  tests/regression/lp-1866095/task.yaml
  tests/regression/lp-1866095/test-snapd-service/bin/test-snapd-service
  tests/regression/lp-1866095/test-snapd-service/meta/snap.yaml
  wrappers/services.go
  wrappers/services_gen_test.go
Labels: Bug

#8227 interfaces/audio_playback: Fix pulseaudio config access
  interfaces/builtin/audio_playback.go
Labels: Security-High, Simple 😃

#8214 tests: test that after "remove-user" the system is unmanaged
  tests/main/remove-user/task.yaml
Labels: Simple 😃

#7999 devicestate: allow encryption regardless of grade
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/partition/encrypt.go
  cmd/snap-bootstrap/partition/encrypt_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  tests/main/uc20-snap-recovery-encrypt/task.yaml
Labels: UC20

#7731 usersession/userd: add "apt" to the white list of URL schemes handled by xdg-open
  tests/main/xdg-open/task.yaml
  usersession/userd/launcher.go
  usersession/userd/launcher_test.go
Labels: ⛔ Blocked

#8179 interfaces: power control interface
  interfaces/builtin/power_control.go
  interfaces/builtin/power_control_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Needs Samuele review, ⛔ Blocked

#8243 o/snapstate: set base in SnapSetup on snap revert
  overlord/snapstate/backend_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Bug

#8185 tests: add uc20 kernel snap upgrade managers test, fix bootloadertest bugs
  bootloader/bootloadertest/bootloadertest.go
  overlord/devicestate/firstboot_test.go
  overlord/managers_test.go
  snap/snaptest/snaptest.go
Labels: Test Robustness, UC20

#8238 many: fix a pair of ineffectual assignments
  cmd/snap/cmd_info.go
  interfaces/policy/policy_test.go
Labels: Simple 😃

#8206 travis.yml: run unit tests on arm64 as well
  .travis.yml
  usersession/client/client_test.go
  usersession/userd/ui/kdialog_test.go
Labels: Skip spread

#8245 travis: disable arm64 again
  .travis.yml
Labels: Skip spread

#8201 tests: mock prune ticker in overlord tests to reduce wait times
  overlord/export_test.go
  overlord/overlord.go
  overlord/overlord_test.go
Labels: Reviewed, Squash-merge, ⚠ Critical

#8224 many: clean separation of bootenv mocking vs mock bootloader kinds
  boot/boot_test.go
  boot/boottest/bootenv.go
  boot/kernel_os_test.go
  boot/makebootable_test.go
  bootloader/bootloadertest/bootloadertest.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  image/image_test.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/firstboot_preseed_test.go
  overlord/devicestate/firstboot_test.go
  overlord/managers_test.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/booted_test.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/policy/canremove_test.go
  overlord/snapstate/snapstate_test.go
Labels: Reviewed, UC20

#8241 interfaces: work around apparmor_parser slowness affecting uio
  interfaces/apparmor/spec.go
  interfaces/apparmor/spec_test.go
  interfaces/builtin/uio.go
  interfaces/builtin/uio_test.go
Labels: Bug, Reviewed, Squash-merge

#8255 cmd/snap: make the portal-info command search for the network-status interface
  cmd/snap/cmd_routine_portal_info.go
  cmd/snap/cmd_routine_portal_info_test.go
Labels: Reviewed

#8003 o/ifacestate, api: implementation of snap disconnect --forget
  client/interfaces.go
  client/interfaces_test.go
  cmd/snap/cmd_disconnect.go
  cmd/snap/cmd_disconnect_test.go
  daemon/api.go
  daemon/api_json.go
  daemon/api_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate.go
  overlord/ifacestate/ifacestate_test.go
  tests/main/snap-disconnect/task.yaml
  tests/main/snap-disconnect/test-snap-consumer.v1/meta/snap.yaml
  tests/main/snap-disconnect/test-snap-consumer.v2/meta/snap.yaml
  tests/main/snap-disconnect/test-snap-producer/meta/snap.yaml
Labels: Needs Samuele review

#8248 snap: introduce Container.RandomAccessFile
  snap/container.go
  snap/snapdir/snapdir.go
  snap/snapdir/snapdir_test.go
  snap/squashfs/squashfs.go
  snap/squashfs/squashfs_test.go
Labels: UC20

#8262 interfaces/udisks2: also allow Introspection on /org/freedesktop/UDisks/**
  interfaces/builtin/udisks2.go
Labels: Simple 😃

#8267 tests/lib/reset: workaround unicode dot in systemctl output
  tests/lib/reset.sh
Labels: Simple 😃, Test Robustness

#8235 cmd/snap-preseed: handle --reset flag
  cmd/snap-preseed/main.go
  cmd/snap-preseed/main_test.go
  cmd/snap-preseed/preseed_linux.go
  cmd/snap-preseed/preseed_other.go
  cmd/snap-preseed/reset.go
  dirs/dirs.go
  tests/main/preseed-reset/task.yaml
Labels: Preseeding 🍞, Squash-merge

#8249 interfaces: make gpio robust against not-existing gpios in /sys
  interfaces/builtin/gpio.go
  interfaces/builtin/gpio_test.go
Labels: Reviewed, Security-High

#8228 boot,image: ARM kernel extract prepare image
  boot/makebootable.go
  bootloader/bootloader.go
  bootloader/export_test.go
  bootloader/uboot.go
  bootloader/uboot_test.go
  image/image.go
  image/image_test.go
  seed/seedtest/sample.go
  tests/lib/assertions/developer1-pi-uc20.model.json
  tests/lib/prepare-restore.sh
  tests/main/prepare-image-uboot-uc20/task.yaml
Labels: UC20

#8279 snap: do not hardlink on overlayfs
  snap/squashfs/export_test.go
  snap/squashfs/squashfs.go
  snap/squashfs/squashfs_test.go
Labels: Bug

#8217 o/devicestate: delay the creation of mark-seeded task until asserts are loaded
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot_test.go
  tests/main/snap-debug-state/task.yaml
Labels: Bug

#8246 client, daemon, overlord/devicestate: structures and stubs for systems API
  client/systems.go
  client/systems_test.go
  daemon/api.go
  daemon/api_recovery.go
  overlord/devicestate/devicemgr.go
Labels: UC20

#8281 snap: tweak comment in Install() for overlayfs detection
  snap/squashfs/squashfs.go
Labels: Simple 😃, Skip spread

#8276 snap: whitelist lzo as support compression for snap pack
  cmd/snap/cmd_pack_test.go
  snap/pack/pack.go
  snap/pack/pack_test.go
  tests/main/snap-pack/task.yaml
Labels: Simple 😃

#8282 run-tests: disable -v for go test to avoid spaming the logs
  run-checks
Labels: Simple 😃, Skip spread

#8169 tests/many: don't use StartLimitInterval anymore, unify snapd-failover variants, build snapd snap for UC16 tests
  cmd/snap-failure/cmd_snapd.go
  cmd/snap-failure/cmd_snapd_test.go
  data/systemd/snapd.failure.service.in
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/state/state.go
  tests/core/core-to-snapd-failover16/task.yaml
  tests/core/snapd-failover/task.yaml
  tests/core/snapd-failover16/task.yaml
  tests/core/snapd16/task.yaml
  tests/lib/prepare-restore.sh
  tests/lib/prepare.sh
  tests/lib/snaps.sh
  tests/lib/state.sh
  tests/main/nfs-support/task.yaml
Labels: Test Robustness

#8275 daemon: do a forceful server shutdown if we hit a deadline
  daemon/daemon.go
  daemon/daemon_test.go
  daemon/export_test.go
Labels: Squash-merge

#8288 release: 2.44
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#8285 cmd/snap-update-ns: ignore EROFS from rmdir/unlink
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
  tests/regression/lp-1867752/task.yaml
Labels: Bug

#8294 seed: make Brand() part of the Seed interface
  cmd/snap-preseed/main_test.go
  seed/helpers.go
  seed/seed.go
  seed/seed16.go
  seed/seed16_test.go
  seed/seed20.go
  seed/seed20_test.go
Labels: UC20

#8292 travis.yml: run unit tests on master as well
  .travis.yml
  client/client_test.go
  cmd/snap-update-ns/change_test.go
  httputil/retry_test.go
  overlord/devicestate/devicestate_serial_test.go
  store/store_test.go
  usersession/agent/session_agent_test.go
  usersession/client/client_test.go
Labels: Squash-merge

#8290 run-checks: tweak formatting checks
  interfaces/policy/basedeclaration_test.go
  run-checks
Labels: Simple 😃, Skip spread

#8278 devicestate: disable cloud-init by default on uc20
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  sysconfig/cloudinit.go
  sysconfig/cloudinit_test.go
  sysconfig/sysconfig.go
  tests/main/cloud-init/task.yaml
Labels: UC20

#8286 tests: cleanup various uc20 boot tests from previous PR
  boot/makebootable.go
  boot/makebootable_test.go
  bootloader/bootloadertest/bootloadertest.go
  data/systemd/snapd.core-fixup.sh
  image/image_test.go
Labels: Test Robustness, UC20

#8293 packaging: add README.source for debian
  packaging/debian-sid/README.Source
Labels: Skip spread

#8300 boot: apply Go 1.10 formatting
  .travis.yml
  boot/makebootable.go
Labels: Simple 😃, Skip spread

#8159 snap-bootstrap: remove created partitions on reinstall
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/bootstrap/bootstrap_test.go
  cmd/snap-bootstrap/main.go
  cmd/snap-bootstrap/partition/export_test.go
  cmd/snap-bootstrap/partition/partition_test.go
  cmd/snap-bootstrap/partition/sfdisk.go
  cmd/snap-bootstrap/partition/sfdisk_test.go
  tests/main/uc20-snap-recovery-autodetect/task.yaml
  tests/main/uc20-snap-recovery-encrypt/task.yaml
  tests/main/uc20-snap-recovery/task.yaml
Labels: UC20

#8303 interfaces/greengrass-support: fix typo
  interfaces/builtin/greengrass_support.go
Labels: Simple 😃

#8302 interfaces/greengrass-support: fix typo
  interfaces/builtin/greengrass_support.go
Labels: Simple 😃

#8208 boot_test: add many boot robustness tests for UC20 kernel MarkBootSuccessul and SetNextBoot
  boot/boot_test.go
  bootloader/bootloadertest/bootloadertest.go
Labels: Test Robustness, UC20

#8242 many: improve environment handling, fixing duplicate entries
  cmd/snap-exec/main.go
  cmd/snap-exec/main_test.go
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  osutil/env.go
  osutil/env_test.go
  osutil/export_test.go
  snap/info.go
  snap/info_test.go
  snap/snapenv/snapenv.go
  snap/snapenv/snapenv_test.go
Labels: Bug, Needs Samuele review, Squash-merge

#8307 snap: run gofmt -s
  snap/info.go
Labels: Simple 😃, Skip spread

#8308 tests: umount partitions which are not umounted after remount gadget
  tests/main/uc20-snap-recovery/task.yaml
Labels: ⚠ Critical

#8306 snap-bootstrap: add creationSupported predicate for partition types
  cmd/snap-bootstrap/partition/sfdisk.go
Labels: Simple 😃, UC20

#8311 randutil: don't consume kernel entropy at init, just mix more info to try to avoid fleet collisions
  randutil/rand.go
  randutil/rand_test.go
Labels: Squash-merge

#8298 many: enumerate system seeds, return them on the /v2/systems API endpoint
  daemon/api_recovery.go
  daemon/api_systems.go
  daemon/api_systems_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_systems_test.go
  seed/seedtest/seedtest.go
Labels: UC20

#8312 many: fix packages having mistakenly their copyright as doc
  cmd/cmdutil/cmdutil.go
  cmd/cmdutil/version.go
  cmd/snap-bootstrap/bootstrap/bootstrap.go
  cmd/snap-bootstrap/bootstrap/bootstrap_test.go
  cmd/snap-bootstrap/bootstrap/export_test.go
  cmd/snap-bootstrap/main.go
  cmd/snap-bootstrap/partition/deploy.go
  cmd/snap-bootstrap/partition/deploy_test.go
  cmd/snap-bootstrap/partition/encrypt.go
  cmd/snap-bootstrap/partition/encrypt_test.go
  cmd/snap-bootstrap/partition/export_test.go
  cmd/snap-bootstrap/partition/mkfs.go
  cmd/snap-bootstrap/partition/mkfs_test.go
  cmd/snap-bootstrap/partition/partition_test.go
  cmd/snap-bootstrap/partition/sfdisk.go
  cmd/snap-bootstrap/partition/sfdisk_test.go
  gadget/device_darwin.go
  gadget/device_linux.go
  gadget/filesystemimage.go
  gadget/filesystemimage_test.go
  gadget/layout.go
  gadget/mkfs.go
  gadget/mountedfilesystem.go
  gadget/mountedfilesystem_test.go
  gadget/offset.go
  gadget/partition.go
  gadget/raw.go
  gadget/raw_test.go
  gadget/update.go
  gadget/validate.go
  osutil/fshelpers.go
  sandbox/seccomp/compiler.go
  sandbox/seccomp/compiler_test.go
  sandbox/selinux/export_test.go
  sandbox/selinux/label.go
  sandbox/selinux/label_darwin.go
  sandbox/selinux/label_linux.go
  sandbox/selinux/label_linux_test.go
  sandbox/selinux/selinux_darwin.go
  sandbox/selinux/selinux_linux.go
  sandbox/selinux/selinux_linux_test.go
Labels: Simple 😃

#8299 devicestate,sysconfig: support "cloud.cfg.d" in uc20 for grade: dangerous
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/handlers_install.go
  sysconfig/cloudinit.go
  sysconfig/cloudinit_test.go
Labels: Squash-merge, UC20

#8327 tests: update proxy-no-core to match latest CDN changes
  tests/main/proxy-no-core/task.yaml
Labels: Simple 😃

#8313 release: 2.44.1
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#8322 client: use Assert when checking for error
  client/client_test.go
Labels: Simple 😃, Skip spread

#8316 github: add prototype workflow running unit tests
  .github/workflows/build.yaml
Labels: Skip spread

#8330 github: always checkout to snapcore/snapd
  .github/workflows/build.yaml
Labels: Skip spread

#8328 tests/main/snap-seccomp-syscalls: install gperf
  cmd/snap-seccomp/syscalls/syscalls.go
  tests/main/snap-seccomp-syscalls/task.yaml
Labels: Simple 😃, ⚠ Critical

#8336 boot,many: add modeenv.WriteTo, make Write take no args
  boot/boot_test.go
  boot/bootstate20.go
  boot/kernel_os_test.go
  boot/makebootable.go
  boot/modeenv.go
  boot/modeenv_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/handlers.go
  overlord/managers_test.go
Labels: Simple 😃, UC20

#8331 github: run spread via github actions
  .github/workflows/sprd.yaml
  .travis.yml
  spread.yaml
Labels: Skip spread

#8341 github: don't fail-fast
  .github/workflows/sprd.yaml
Labels: Simple 😃, Skip spread

#8348 github: apt-get update before installing build-deps
  .github/workflows/build.yaml
Labels: Skip spread, Test Robustness

#8347 errtracker: add missing mocks
  errtracker/errtracker_test.go
Labels: Simple 😃, Skip spread

#8337 cmd/snap-bootstrap/initramfs-mounts/tests: use dirs.RunMnt over s.runMnt
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
Labels: Simple 😃, Test Robustness, UC20

#8344 overlord/devicestate,boot: do not hold to the originally read modeenv
  boot/export_test.go
  boot/modeenv.go
  boot/modeenv_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_install.go
Labels: UC20

#8349 tests: cleanup security-private-tmp properly
  tests/main/security-private-tmp/task.yaml
Labels: Simple 😃, Test Robustness

#8353 interfaces/docker-support: make containerd abstract socket more generic
  interfaces/builtin/docker_support.go
Labels: Simple 😃

#8354 github: run spread tests on PRs only
  .github/workflows/sprd.yaml
Labels: Skip spread

#8355 github: run C unit tests
  .github/workflows/build.yaml
Labels: Skip spread

#8342 client, daemon, overlord/devicestate: request system action API and stubs
  client/systems.go
  client/systems_test.go
  daemon/api.go
  daemon/api_systems.go
  daemon/api_systems_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_systems_test.go
Labels: UC20

#8358 seed: validate UC20 seed system label
  seed/export_test.go
  seed/seed.go
  seed/seed20_test.go
  seed/validate.go
  seed/validate_test.go
Labels: Simple 😃, UC20

#8357 wrappers: respect pre-seeding in error path
  wrappers/services.go
Labels: Bug, Simple 😃

#8350 github: cache Debian dependencies for unit tests
  .github/workflows/build.yaml
Labels: Skip spread

#8361 o/devicestate: rename readMaybe* to maybeRead*
  overlord/devicestate/devicemgr.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_install.go
Labels: Simple 😃

#8345 boot,overlord: rename operating mode to system mode
  boot/cmdline.go
  overlord/devicestate/devicectx.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/devicestate_serial_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/remodel.go
  overlord/devicestate/remodel_test.go
  overlord/snapstate/devicectx.go
  overlord/snapstate/devicectx_test.go
  overlord/snapstate/snapstatetest/devicectx.go
Labels: Reviewed, Skip spread, UC20

#8362 github: fix order of go get caches
  .github/workflows/build.yaml
Labels: Simple 😃, Skip spread

#8363 github: combine tests into one workflow
  .github/workflows/sprd.yaml
  .github/workflows/test.yaml
Labels: Skip spread

#8367 cmd/snap: the model command needs just a client, no waitMixin
  cmd/snap/cmd_model.go
Labels: Simple 😃

#8365 seed: add Info() method for seed.Snap
  seed/seed.go
  seed/seed16_test.go
  seed/seed20_test.go
Labels: Simple 😃

#8270 store: support for search API v2
  store/details_v2.go
  store/errors.go
  store/export_test.go
  store/search_v2.go
  store/store.go
  store/store_test.go
Labels: Needs Samuele review, Squash-merge

#8381 tests: skip lxd test
  tests/main/lxd/task.yaml
Labels: Simple 😃

#8380 tests: add LXD_CHANNEL environment
  tests/main/lxd/task.yaml
Labels: Simple 😃

#8379 many: comment or avoid cryptic snap-ids in tests
  overlord/devicestate/firstboot_test.go
  seed/seed20_test.go
Labels: Simple 😃

#8371 overlord/devicestate, daemon: record the seed current system was installed from
  daemon/api_systems_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/firstboot_preseed_test.go
  overlord/devicestate/firstboot_test.go
  overlord/devicestate/handlers.go
Labels: Needs Samuele review, UC20

#8388 cmd/snap,seed: validate full seeds (UC 16/18)
  cmd/snap/cmd_debug_validate_seed_test.go
  seed/seed16.go
  seed/validate.go
  seed/validate_test.go
Labels: Squash-merge
