Repository canonical/snapd, pull requests merged in 2020-09, with the labels that each got.

#9138 many: refactor tpm seal parameter setting
  boot/initramfs20dirs.go
  gadget/install/install.go
  gadget/install/options.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  tests/lib/uc20-create-partitions/main.go
  tests/main/uc20-create-partitions-encrypt/task.yaml
Labels: UC20

#9251 o/snapstate, features: add feature flag for disk space check on remove
  features/features.go
  features/features_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Disk space awareness

#9249 boot,bootloader,gadget: apply new bootloader.Options.Role
  boot/assets.go
  boot/boot.go
  boot/boot_test.go
  boot/bootstate20.go
  boot/cmdline.go
  boot/initramfs.go
  boot/initramfs_test.go
  boot/kernel_os_test.go
  boot/makebootable.go
  bootloader/bootloader.go
  bootloader/bootloader_test.go
  bootloader/grub.go
  bootloader/grub_test.go
  bootloader/uboot.go
  bootloader/uboot_test.go
  gadget/mountedfilesystem.go
Labels: Run nested, UC20

#9250 many: use BootFile type in load sequences
  bootloader/bootloader.go
  bootloader/bootloader_test.go
  gadget/install/install.go
  secboot/export_test.go
  secboot/secboot.go
  secboot/secboot_tpm.go
  secboot/secboot_tpm_test.go
Labels: UC20

#9254 sysconfig/cloudinit.go: add DisableNoCloud to CloudInitRestrictOptions
  sysconfig/cloudinit.go
  sysconfig/cloudinit_test.go
Labels: Simple 😃, UC20

#9260 seed/seedwriter: test local asserted snaps with UC20 grade signed
  seed/seedwriter/writer_test.go
Labels: Test Robustness, UC20

#9246 boot: handle canceled update
  boot/assets.go
  boot/assets_test.go
  boot/export_test.go
Labels: UC20

#9258 devicestate: add tests around logging in RequestSystemAction
  overlord/devicestate/devicestate_systems_test.go
Labels: UC20

#9257 bootloader: retrieve boot chains from bootloader
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  bootloader/grub_test.go
Labels: UC20

#9267 many: fix partion vs partition typo
  bootloader/grub.go
  bootloader/lk_test.go
  bootloader/lkenv/lkenv.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  image/image_linux.go
  include/lk/snappy_boot_v1.h
  osutil/disks/disks.go
  osutil/disks/mockdisk.go
  osutil/disks/mockdisk_test.go
  secboot/secboot_tpm_test.go
Labels: Simple 😃

#9264 many: introduce ContentChange for tracking gadget content in observers
  boot/assets.go
  boot/assets_test.go
  boot/makebootable_test.go
  gadget/install/content_test.go
  gadget/mountedfilesystem.go
  gadget/mountedfilesystem_test.go
  gadget/update.go
  gadget/update_test.go
Labels: UC20

#9269 devicestate: rename "mockLogger" to "logbuf"
  overlord/devicestate/devicestate_cloudinit_test.go
Labels: Simple 😃, Skip spread

#9266 tests/lib/nested.sh: reset the TPM when we create the uc20 vm
  tests/lib/nested.sh
Labels: Bug, Run nested, Test Robustness, UC20

#9275 tests/main: mv core specific tests to core suite
  tests/core/backlight/task.yaml
  tests/core/iio/task.yaml
  tests/core/persistent-journal/task.yaml
  tests/core/remove-user/task.yaml
Labels: Simple 😃

#9253 sysconfig/cloudinit.go: add AllowCloudInit and use GadgetDir for cloud.conf
  sysconfig/cloudinit.go
  sysconfig/cloudinit_test.go
  sysconfig/sysconfig.go
Labels: UC20

#9274 tests: simplify and fix tests for disk space checks on snap remove
  overlord/snapstate/snapstate_test.go
Labels: Test Robustness

#9271 boot: keep track of the original asset when observing updates
  boot/assets.go
  boot/assets_test.go
Labels: UC20

#8920 interfaces: update cups-control and add cups for providing snaps
  interfaces/builtin/cups.go
  interfaces/builtin/cups_control.go
  interfaces/builtin/cups_control_test.go
  interfaces/builtin/cups_test.go
  interfaces/builtin/upower_observe.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
  tests/lib/snaps/test-snapd-policy-app-provider-core/meta/snap.yaml
  tests/main/interfaces-cups/task.yaml
  tests/main/interfaces-cups/test-snapd-consumer/bin/sh
  tests/main/interfaces-cups/test-snapd-consumer/meta/snap.yaml
  tests/main/interfaces-cups/test-snapd-provider/bin/sh
  tests/main/interfaces-cups/test-snapd-provider/meta/snap.yaml
Labels: Needs Samuele review, Squash-merge

#9281 tests: workaround for cups issue on 20.10 where default printer is not configured.
  tests/main/interfaces-cups-control/task.yaml
Labels: ⚠ Critical

#9245 o/snapstate, features: add feature flags for disk space awareness
  features/features.go
  features/features_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
Labels: Disk space awareness

#9098 tests: new organization for nested tests
  .github/workflows/test.yaml
  HACKING.md
  spread.yaml
  tests/lib/hotplug.sh
  tests/lib/nested.sh
  tests/lib/systems.sh
  tests/main/preseed-lxd/task.yaml
  tests/main/preseed-reset/task.yaml
  tests/main/preseed/task.yaml
  tests/nested/classic/hotplug/task.yaml
  tests/nested/classic/snapshots-with-core-refresh-revert/task.yaml
  tests/nested/core/core-revert/task.yaml
  tests/nested/core/core-snap-refresh-on-core/task.yaml
  tests/nested/core/extra-snaps-assertions/task.yaml
  tests/nested/core/hotplug/task.yaml
  tests/nested/core/image-build/task.yaml
  tests/nested/core20/basic/task.yaml
  tests/nested/core20/tpm/task.yaml
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/cloud-init-nocloud-not-vuln/task.yaml
  tests/nested/manual/core-early-config/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
  tests/nested/manual/minimal-smoke/task.yaml
  tests/nested/manual/preseed/task.yaml
  tests/nested/manual/refresh-revert-fundamentals/task.yaml
Labels: Run nested, Squash-merge

#9031 interfaces/bluez: let slot access audio streams
  interfaces/builtin/bluez.go
Labels: Needs security review, ⛔ Blocked

#9289 github: run tests also on push to release branches
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#9210 daemon: add /v2/systems "reboot" action API
  daemon/api_systems.go
  daemon/api_systems_test.go
  daemon/export_api_systems_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_systems_test.go
Labels: UC20

#9285 many: seed.Model panics now if called before LoadAssertions
  cmd/snap-preseed/main_test.go
  cmd/snap-preseed/preseed_linux.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/systems.go
  seed/helpers.go
  seed/seed.go
  seed/seed16.go
  seed/seed16_test.go
  seed/seed20.go
  seed/seed20_test.go
  seed/validate.go
Labels: UC20

#9288 tests: remove workaround for cups on ubuntu-20.10
  tests/main/interfaces-cups-control/task.yaml
Labels: Simple 😃, Test Robustness

#9265 many: move seal code from gadget/install to boot
  .github/workflows/macos-sanity.yaml
  boot/assets.go
  boot/export_test.go
  boot/makebootable.go
  boot/makebootable_test.go
  boot/seal.go
  boot/seal_test.go
  gadget/install/install.go
  gadget/install/install_dummy.go
  gadget/install/params.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  packaging/debian-sid/rules
  secboot/secboot_dummy.go
  tests/lib/uc20-create-partitions/main.go
  tests/main/uc20-create-partitions-encrypt/task.yaml
Labels: Run nested, UC20

#9296 packaging/debian-sid: tweak code preparing _build tree
  packaging/debian-sid/rules
Labels: Simple 😃

#9295 tests: skip udp protocol in nfs-support test on ubuntu-20.10
  tests/main/nfs-support/task.yaml
Labels: Simple 😃, ⚠ Critical

#9220 o/snapstate: disk space check with single snap install
  features/features.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers_prepare_test.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/storehelpers.go
Labels: Disk space awareness

#9259 client, api: handle insufficient space error
  client/errors.go
  cmd/snap/cmd_snap_op_test.go
  cmd/snap/error.go
  daemon/api_test.go
  daemon/response.go
Labels: Disk space awareness, Needs Samuele review

#9273 boot: mark successful with boot assets
  boot/assets.go
  boot/assets_test.go
  boot/boot.go
  boot/boot_test.go
  boot/bootstate20.go
  boot/export_test.go
  boot/modeenv.go
Labels: UC20

#9298 boot: represent boot chains, helpers for marshalling and equivalence checks
  boot/bootchain.go
  boot/bootchain_test.go
  boot/export_test.go
Labels: UC20

#9297 boot: add "rootdir" to baseBootenvSuite and use in tests
  boot/boot_test.go
  boot/makebootable_test.go
Labels: Simple 😃

#9237 devicestate: enable cloud-init on uc20 for grade signed and secured
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_cloudinit_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  sysconfig/cloudinit.go
  sysconfig/cloudinit_test.go
Labels: Complex, Run nested, UC20

#9302 tests: use `nested_exec` in core{20,}-early-config test
  tests/lib/nested.sh
  tests/nested/manual/core-early-config/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
Labels: Run nested, Simple 😃, ⚠ Critical

#9303 boot,secboot: switch to expose and use snapcore/secboot load event trees
  boot/makebootable_test.go
  boot/seal.go
  boot/seal_test.go
  secboot/secboot.go
  secboot/secboot_tpm.go
  secboot/secboot_tpm_test.go
  tests/lib/uc20-create-partitions/main.go
Labels: UC20

#9304 boot: tweak boot chains to support a list of kernel command lines, keep track of model and kernel boot file
  boot/bootchain.go
  boot/bootchain_test.go
  boot/export_test.go
Labels: UC20

#9306 boot: helper for generating secboot load chains from a given boot asset sequence
  boot/assets.go
  boot/bootchain.go
  boot/bootchain_test.go
  boot/export_test.go
Labels: UC20

#9299 tests/core/uc20-recovery: fix check for at least specific calls to mock-shutdown
  tests/core/uc20-recovery/mock-shutdown
  tests/core/uc20-recovery/task.yaml
Labels: Test Robustness, UC20

#9284 tests: some fixes and improvements for nested execution
  spread.yaml
  tests/lib/nested.sh
  tests/nested/core20/basic/task.yaml
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/cloud-init-nocloud-not-vuln/task.yaml
  tests/nested/manual/core-early-config/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
  tests/nested/manual/minimal-smoke/task.yaml
  tests/nested/manual/preseed/task.yaml
  tests/nested/manual/refresh-revert-fundamentals/task.yaml
Labels: Run nested, ⚠ Critical

#9313 boot: do not reorder boot assets when generating predictable boot chains and other small tweaks
  boot/bootchain.go
  boot/bootchain_test.go
  boot/export_test.go
Labels: Simple 😃, Skip spread, UC20

#9021 snap: implement new `snap reboot` command
  client/systems.go
  client/systems_test.go
  cmd/snap/cmd_help.go
  cmd/snap/cmd_reboot.go
  cmd/snap/cmd_reboot_test.go
  tests/core/uc20-recovery/task.yaml
Labels: UC20

#9312 o/snapstate: disk space check with snap update
  overlord/snapstate/export_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
Labels: Disk space awareness

#9300 boot: build bootchains data for sealing
  boot/export_test.go
  boot/makebootable_test.go
  boot/seal.go
  boot/seal_test.go
Labels: Run nested, UC20

#9319 boot: in seal.go adjust error message and function names
  boot/export_test.go
  boot/seal.go
  boot/seal_test.go
Labels: Skip spread, UC20

#9032 secboot: add call to reseal an existing key
  secboot/export_test.go
  secboot/secboot.go
  secboot/secboot_tpm.go
  secboot/secboot_tpm_test.go
Labels: UC20

#9323 snap/naming: upgrade TODO to TODO:UC20
  snap/naming/wellknown.go
Labels: Simple 😃, Skip spread

#9324 secboot: adjust parameters to buildPCRProtectionProfile
  secboot/secboot_tpm.go
Labels: Simple 😃, UC20

#9327 overlord: assorted typos and miscellaneous changes
  overlord/ifacestate/ifacestate_test.go
  overlord/snapstate/snapstate_test.go
  overlord/state/taskrunner.go
Labels: Simple 😃, Skip spread

#9329 boot: consider boot chains with unrevisioned kernels incomparable
  boot/bootchain.go
  boot/bootchain_test.go
Labels: Skip spread, UC20

#9322 boot: add call to reseal an existing key
  boot/export_test.go
  boot/seal.go
  boot/seal_test.go
  secboot/secboot_dummy.go
  secboot/secboot_tpm.go
Labels: Run nested, UC20

#9328 boot: store boot chains during install, helper for checking whether reseal is needed
  boot/bootchain.go
  boot/bootchain_test.go
  boot/export_test.go
  boot/initramfs20dirs.go
  boot/makebootable_test.go
  boot/seal.go
  boot/seal_test.go
  dirs/dirs.go
Labels: Run nested, UC20

#9316 tests: use full path to test-snapd-refresh.version binary
  tests/main/refresh-app-awareness/task.yaml
Labels: Simple 😃

#9335 boot: verify boot chain file in seal and reseal tests
  boot/bootchain_test.go
  boot/export_test.go
  boot/makebootable_test.go
  boot/seal_test.go
Labels: Skip spread, UC20

#9315 tests: fix snap-routime-portal-info test
  tests/main/snap-routine-portal-info/task.yaml
Labels: Simple 😃

#9330 boot: reseal when updating boot assets
  boot/assets.go
  boot/assets_test.go
Labels: Run nested, UC20

#9305 tests: fix nested to work with qemu and kvm
  tests/lib/nested.sh
Labels: Run nested

#9208 tests/nested/core20/kernel-failover: add test for failed refresh of uc20 kernel
  tests/lib/nested.sh
  tests/lib/prepare.sh
  tests/nested/core20/kernel-failover/task.yaml
Labels: Run nested, Test Robustness, UC20

#9337 boot,many: reseal only when meaningful and necessary
  boot/assets.go
  boot/assets_test.go
  boot/bootchain.go
  boot/bootchain_test.go
  boot/makebootable_test.go
  boot/seal.go
  boot/seal_test.go
  dirs/dirs.go
  overlord/devicestate/devicestate_gadget_test.go
Labels: Run nested, UC20

#9221 tests: disk space awareness spread test
  tests/main/disk-space-awareness/task.yaml
Labels: Disk space awareness

#9342 tests: add more checks to disk space awareness spread test
  tests/main/disk-space-awareness/task.yaml
Labels: Disk space awareness

#9332 spread.yaml, tests/nested: misc changes
  spread.yaml
  tests/lib/nested.sh
Labels: Run nested, Simple 😃

#9344 tests/lib/nested.sh: wait for the tpm socket to exist
  tests/lib/nested.sh
Labels: Run nested, Simple 😃, Test Robustness

#9347 tests/lib/nested.sh: use more focused cloud-init config for uc20
  spread.yaml
  tests/lib/nested.sh
Labels: Run nested, Simple 😃, UC20

#9311 nested: add support to telnet to serial port in nested VM
  tests/lib/nested.sh
Labels: Run nested

#9352 test: improve logging in nested tests
  spread.yaml
  tests/lib/nested.sh
  tests/lib/prepare.sh
Labels: Run nested, UC20

#9351 tests: simplify repack_snapd_snap_with_deb_content_and_run_mode_first_boot_tweaks
  tests/lib/prepare.sh
Labels: Cleanup :broom:

#9321 cmd/snap/model: specify grade in the model command output
  cmd/snap/cmd_model.go
  cmd/snap/cmd_model_test.go
Labels: Simple 😃, UC20

#9331 boot: reseal when changing kernel
  boot/assets_test.go
  boot/boot.go
  boot/boot_test.go
  boot/bootstate16.go
  boot/bootstate20.go
  boot/boottest/device.go
  boot/seal.go
  boot/seal_test.go
  overlord/snapstate/devicectx.go
  tests/nested/core20/kernel-reseal/task.yaml
Labels: Run nested, UC20

#9354 client: bump the default request timeout to 120s
  client/client.go
Labels: Run nested, Simple 😃, UC20

#9358 boot/modeenv: track unknown keys in Read and put back into modeenv during Write
  boot/export_test.go
  boot/modeenv.go
  boot/modeenv_test.go
Labels: UC20, ⚠ Critical

#9341 tests: add nested core20 gadget reseal test
  tests/lib/nested.sh
  tests/nested/core20/gadget-reseal/manip_gadget.py
  tests/nested/core20/gadget-reseal/task.yaml
Labels: Run nested, UC20

#9333 tests/nested, fakestore: changes necessary to run nested uc20 signed/secured tests
  tests/lib/assertions/developer1-20-secured.json
  tests/lib/assertions/developer1-20-secured.model
  tests/lib/assertions/developer1-20-signed.json
  tests/lib/assertions/developer1-20-signed.model
  tests/lib/assertions/developer1-auto-import.assert
  tests/lib/assertions/developer1-auto-import.json
  tests/lib/nested.sh
  tests/lib/store.sh
Labels: Run nested, Test Robustness, UC20

#9363 boot: adjust comments, naming, log success around reseal
  boot/bootstate20.go
  boot/seal.go
Labels: Simple 😃, Skip spread, UC20

#9359 tests: improve kernel reseal test
  tests/lib/nested.sh
  tests/nested/core20/gadget-reseal/task.yaml
  tests/nested/core20/kernel-reseal/task.yaml
Labels: Run nested, UC20

#9326 tests: fix for basic20 test running on external backend and rpi
  tests/core/basic20/task.yaml
Labels: Simple 😃

#9362 tests: skip nested images pre-configuration by default
  spread.yaml
  tests/lib/nested.sh
Labels: Run nested, Simple 😃

#9360 tests: make gadget-reseal more robust
  tests/nested/core20/gadget-reseal/task.yaml
Labels: Run nested, Simple 😃, UC20

#9356 sysconfig,o/devicestate: mv DisableNoCloud to DisableAfterLocalDatasourcesRun
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_cloudinit_test.go
  sysconfig/cloudinit.go
  sysconfig/cloudinit_test.go
Labels: UC20

#9277 secboot: add boot manager profile to pcr protection profile
  secboot/export_test.go
  secboot/secboot_tpm.go
  secboot/secboot_tpm_test.go
  tests/lib/uc20-create-partitions/main.go
  tests/main/uc20-create-partitions-encrypt/task.yaml
  vendor/vendor.json
Labels: Run nested, UC20

#9361 tests/lib/cl_check.py: use python3 compatible code
  tests/lib/cla_check.py
Labels: Simple 😃, Skip spread

#9364 tests/lib/cla_check: default to Python 3, tweaks, formatting
  tests/lib/cla_check.py
Labels: Simple 😃, Skip spread

#9365 release: 2.47~pre1
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#9368 tests/nested/manual/refresh-revert-fundamentals: disable temporarily
  tests/nested/manual/refresh-revert-fundamentals/task.yaml
Labels: Skip spread, UC20, ⚠ Critical

#9367 tests: misc nested changes
  spread.yaml
  tests/lib/nested.sh
  tests/nested/manual/cloud-init-never-used-not-vuln/seed/user-data
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/cloud-init-nocloud-not-vuln/seed1/user-data
  tests/nested/manual/cloud-init-nocloud-not-vuln/seed2/user-data
  tests/nested/manual/cloud-init-nocloud-not-vuln/task.yaml
Labels: Run nested, Simple 😃, Test Robustness

#9372 tests: make nested signing helpers less confusing
  tests/lib/nested.sh
  tests/nested/core20/gadget-reseal/task.yaml
  tests/nested/core20/kernel-reseal/task.yaml
Labels: Run nested, Simple 😃, UC20

#9374 tests/main/lxd: disable cgroup combination for 16.04 that is failing a lot
  tests/main/lxd/task.yaml
Labels: Simple 😃, Test Robustness

#9381 many: typos and small test tweak
  cmd/snap-confine/mount-support.c
  cmd/snap-confine/ns-support.c
  cmd/snap-confine/snap-confine.c
  interfaces/apparmor/template.go
  tests/main/snap-run-gdbserver/task.yaml
Labels: Simple 😃

#9376 check-pr-title.py * : allow "*" in the first part of the title
  check-pr-title.py
Labels: Simple 😃, Skip spread

#9382 tests: copy /usr/lib/snapd/info to correct directory
  tests/lib/prepare.sh
Labels: Simple 😃, Test Robustness

#9375 tests/nested/cloud-init-many: simplify tests and unify helpers/seed inputs
  tests/lib/cloud-init-seeds/attacker-user/meta-data
  tests/lib/cloud-init-seeds/attacker-user/user-data
  tests/lib/cloud-init-seeds/emptykthxbai/emptykthxbai
  tests/lib/cloud-init-seeds/normal-user/meta-data
  tests/lib/cloud-init-seeds/normal-user/user-data
  tests/lib/nested.sh
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/cloud-init-nocloud-not-vuln/seed1/meta-data
  tests/nested/manual/cloud-init-nocloud-not-vuln/seed2/user-data
  tests/nested/manual/cloud-init-nocloud-not-vuln/task.yaml
Labels: Run nested, Test Robustness

#9385 spread.yaml: add ubuntu-20.10-64 to qemu
  spread.yaml
Labels: Simple 😃, Skip spread

#9386 tests/nested/manual/preseed: disable system-key check for 20.04 image
  tests/nested/manual/preseed/task.yaml
Labels: Run nested, Simple 😃, ⚠ Critical

#9380 tests: update to support nested kvm without reboots on UC20
  .github/workflows/test.yaml
  spread.yaml
  tests/lib/nested.sh
Labels: Run nested, Simple 😃

#9388 bootloader: lk cleanups
  bootloader/lk.go
  bootloader/lkenv/lkenv.go
  bootloader/lkenv/lkenv_test.go
Labels: Simple 😃

#9389 o/snapshotstate: tweak comment regarding snapshot filename
  overlord/snapshotstate/backend/backend.go
Labels: Simple 😃, Skip spread

#9392 tests: disable part of the lxd test completely on 16.04.
  tests/main/lxd/task.yaml
Labels: ⚠ Critical

#9394 update-pot: ignore .go files inside .git when running xgettext-go
  update-pot
Labels: Simple 😃, Skip spread

#9369 tests/nested/manual/refresh-revert-fundamentals: re-enable test
  tests/nested/manual/refresh-revert-fundamentals/task.yaml
Labels: Run nested, UC20, ⚠ Critical

#9402 tests/lib/prepare.sh: stop patching the uc20 initrd since it has been updated now
  tests/lib/prepare.sh
Labels: Run nested, Simple 😃, UC20, ⚠ Critical

#8569 o/assertstate,asserts: use bulk refresh to refresh snap-declarations
  asserts/pool.go
  asserts/pool_test.go
  daemon/api.go
  daemon/api_test.go
  httputil/retry.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/assertstate/bulk.go
  overlord/assertstate/helpers.go
  overlord/managers_test.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
  store/store.go
  store/store_action_test.go
Labels: Bulk assert refresh :scroll::scroll::scroll:

#9397 tests/nested: misc robustness fixes
  tests/lib/nested.sh
  tests/nested/classic/hotplug/task.yaml
  tests/nested/core/hotplug/task.yaml
Labels: Run nested, Simple 😃, Test Robustness

#9334 tests/nested/manual: add test for grades above signed booting with testkeys
  tests/lib/prepare.sh
  tests/nested/core20/kernel-failover/task.yaml
  tests/nested/manual/grade-signed-above-testkeys-boot/defaults.yaml
  tests/nested/manual/grade-signed-above-testkeys-boot/prepare-device
  tests/nested/manual/grade-signed-above-testkeys-boot/task.yaml
Labels: Run nested, Test Robustness, UC20

#9270 wrappers, systemd: allow empty root dir and conditionally do not pass --root to systemctl
  daemon/api.go
  interfaces/systemd/backend.go
  interfaces/systemd/backend_test.go
  overlord/configstate/configcore/backlight.go
  overlord/configstate/configcore/journal.go
  overlord/configstate/configcore/services.go
  overlord/configstate/configcore/vitality_test.go
  overlord/configstate/configcore/watchdog.go
  overlord/devicestate/handlers_test.go
  overlord/servicestate/service_control_test.go
  overlord/servicestate/servicestate.go
  overlord/snapstate/backend/mountunit.go
  systemd/systemd.go
  systemd/systemd_test.go
  usersession/agent/rest_api.go
  wrappers/core18.go
  wrappers/core18_test.go
  wrappers/services.go
  wrappers/services_test.go
Labels: Run nested, Services ⚙️

#9390 boot: fix debug bootloader variables dump on UC20 systems
  boot/debug.go
Labels: Simple 😃, UC20

#9393 spread: drop vendor from the packed project archive
  spread.yaml
Labels: Simple 😃

#9407 overlord: explicitly set refresh-app-awareness in tests
  overlord/snapstate/handlers_link_test.go
Labels: Simple 😃, Skip spread

#9379 cmd/s-b/initramfs-mounts: use ConfigureTargetSystem for install, recover modes
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  gadget/gadget.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  sysconfig/cloudinit_test.go
  sysconfig/gadget_defaults_test.go
  sysconfig/sysconfig.go
  tests/nested/manual/core20-early-config/task.yaml
Labels: Bug, Run nested, UC20

#9405 tests/nested/manual/grade-signed-above-testkeys-boot: enable kvm
  tests/nested/manual/grade-signed-above-testkeys-boot/task.yaml
Labels: Run nested, Simple 😃, Test Robustness

#9413 tests/lib/nested.sh: more little tweaks
  spread.yaml
  tests/lib/nested.sh
Labels: Run nested, Simple 😃, Test Robustness

#9408 tests/core/snap-debug-bootvars: spread test for snap debug boot-vars
  tests/core/snap-debug-bootvars/task.yaml
Labels: Simple 😃, UC20

#9412 many/apparmor: adjust rules for reading profile/ execing new profiles for new kernel
  cmd/snap-confine/snap-confine.apparmor.in
  interfaces/builtin/browser_support.go
  interfaces/builtin/cups_control.go
  interfaces/builtin/docker_support.go
  interfaces/builtin/lxd_support.go
  sandbox/apparmor/process.go
  sandbox/apparmor/process_test.go
Labels: Bug, Needs security review, Simple 😃

#9415 tests/core/snap-debug-bootvars: also check snap_mode
  tests/core/snap-debug-bootvars/task.yaml
Labels: Simple 😃

#9416 boot: use test helpers
  boot/assets_test.go
Labels: Simple 😃, Skip spread, UC20

#9400 o/assertstate: support refreshing any number of snap-declarations
  asserts/internal/grouping.go
  asserts/internal/grouping_test.go
  asserts/pool.go
  asserts/pool_test.go
  overlord/assertstate/assertstate_test.go
  overlord/assertstate/bulk.go
  overlord/assertstate/export_test.go
Labels: Bulk assert refresh :scroll::scroll::scroll:

#9401 gadget: allow content observer to have opinions about a change
  boot/assets.go
  boot/assets_test.go
  gadget/install/content_test.go
  gadget/mountedfilesystem_test.go
  gadget/update.go
  gadget/update_test.go
  tests/lib/uc20-create-partitions/main.go
Labels: Simple 😃, UC20

#9404 asserts: deserialize grouping only once in Pool.AddBatch if needed
  asserts/pool.go
  asserts/pool_test.go
  overlord/assertstate/bulk.go
Labels: Bulk assert refresh :scroll::scroll::scroll:

#9041 osutil/group.go: treat all non-nil errs from user.Lookup{Group,} as Unknown*
  asserts/gpgkeypairmgr.go
  client/login.go
  cmd/snap/cmd_warnings.go
  osutil/fshelpers_test.go
  osutil/group.go
  osutil/user.go
  osutil/user_test.go
  overlord/snapshotstate/backend/helpers.go
Labels: Bug, Needs security review, Preseeding 🍞

#9411 cmd/snap/auto-import: stop importing system user assertions from initramfs mnts
  cmd/snap/cmd_auto_import.go
  cmd/snap/cmd_auto_import_test.go
Labels: Bug, Simple 😃, UC20

#9395 o/snapstate/check_snap_test.go: mock osutil.Find{U,G}id to avoid bug in test
  osutil/export_test.go
  osutil/group.go
  osutil/mockable.go
  overlord/snapstate/check_snap_test.go
Labels: Bug, Test Robustness

#9348 tests: print all the serial logs for the nested test
  spread.yaml
  tests/lib/nested.sh
Labels: Run nested, Simple 😃

#9383 snap-repair: add uc20 support
  cmd/snap-repair/runner.go
  cmd/snap-repair/runner_test.go
  tests/main/snap-repair/task.yaml
Labels: Squash-merge, UC20

#9403 many: move ManagedAssetsBootloader into TrustedAssetsBootloader, drop former
  boot/assets_test.go
  boot/boot_test.go
  boot/cmdline.go
  boot/cmdline_test.go
  boot/makebootable.go
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  bootloader/grub_test.go
  gadget/mountedfilesystem.go
Labels: Simple 😃, UC20

#9430 dbustest: fix stale comment references
  dbusutil/dbusutil.go
Labels: Simple 😃, Skip spread

#9410 desktop/notification: add bindings for FDO notifications
  desktop/notification/caps.go
  desktop/notification/fdo.go
  desktop/notification/hints.go
  desktop/notification/notify.go
Labels: Skip spread

#9428 tests/lib: move to new directory when restoring PWD, cleanup unpacked unpacked snap directories
  tests/lib/prepare-restore.sh
  tests/lib/snaps.sh
Labels: Run nested, Simple 😃

#9437 release: version 2.47
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Skip spread

#9436 tests: fix sudo-env test
  tests/lib/prepare-restore.sh
Labels: Simple 😃

#9423 tests/nested/manual/preseed: include a system-usernames snap when preseeding
  osutil/group.go
  tests/nested/manual/preseed/task.yaml
Labels: Preseeding 🍞, Run nested, Test Robustness

#9399 snap: snap help output refresh
  cmd/snap/cmd_help.go
Labels: Needs Samuele review, Squash-merge

#9431 desktop/notification: add unit tests
  desktop/notification/export_test.go
  desktop/notification/fdo.go
  desktop/notification/fdo_test.go
  desktop/notification/hints_test.go
  desktop/notification/notify_test.go
Labels: Skip spread

#9438 desktop/notification: switch ExpireTimeout to time.Duration
  desktop/notification/fdo.go
  desktop/notification/fdo_test.go
  desktop/notification/notify.go
Labels: Simple 😃

#9435 o/snapstate: move remove-related tests to snapstate_remove_test.go
  overlord/snapstate/snapstate_remove_test.go
  overlord/snapstate/snapstate_test.go
Labels: Test Robustness

#9417 o/snapshotstate: set snapshot set id from its filename
  overlord/snapshotstate/backend/backend.go
  overlord/snapshotstate/backend/backend_test.go
  overlord/snapshotstate/backend/reader.go
  tests/main/snapshot-basic/task.yaml
Labels: Needs Samuele review
