Repository canonical/snapd, pull requests merged in 2021-10, with the labels that each got.

#10760 o/snapstate: support ignore validation flag on install/update
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#10865 cmd/snap: improve snap run help message
  cmd/snap/cmd_help_test.go
  cmd/snap/cmd_run.go
Labels: Simple 😃

#10534 overlord/devicestate, tests: enable UC20 remodel, add spread tests
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/export_test.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/state/task.go
  overlord/state/task_test.go
  tests/lib/assertions/valid-for-testing-pc-20.json
  tests/lib/assertions/valid-for-testing-pc-20.model
  tests/lib/assertions/valid-for-testing-pc-new-model-20.json
  tests/lib/assertions/valid-for-testing-pc-new-model-20.model
  tests/lib/assertions/valid-for-testing-pc-revno-2-20.json
  tests/lib/assertions/valid-for-testing-pc-revno-2-20.model
  tests/lib/assertions/valid-for-testing-pc-revno-3-20.json
  tests/lib/assertions/valid-for-testing-pc-revno-3-20.model
  tests/nested/manual/core20-remodel/task.yaml
Labels: Remodel 🚋, Run nested

#10862 osutil/disks: add RootMountPointsForPartition
  osutil/disks/disks.go
  osutil/disks/disks_darwin.go
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
Labels: Simple 😃

#10871 many: support an API flag system-restart-immediate to make snap ops proceed immediately with system restarts
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  overlord/devicestate/devicestate_bootconfig_test.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/devicestate/handlers_bootconfig.go
  overlord/devicestate/handlers_gadget.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapstate.go
Labels: Squash-merge

#10872 osutil/disks: support filtering by mount opts in MountPointsForPartitionRoot
  osutil/disks/disks.go
  osutil/disks/disks_darwin.go
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
Labels: Simple 😃, Skip spread

#10870 overlord/devicestate: record recovery capable system on a successful remodel
  boot/debug.go
  cmd/snap/cmd_debug_bootvars_test.go
  overlord/devicestate/remodel.go
  overlord/devicestate/remodel_test.go
  overlord/managers_test.go
  tests/nested/manual/core20-remodel/task.yaml
Labels: Run nested

#10861 snap-bootstrap: wait in `mountNonDataPartitionMatchingKernelDisk`
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
Labels: Squash-merge

#10885 release: 2.52.1
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge

#10887 release: merge 2.52.1 changelog into master
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#10889 release: 2.53
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Skip spread

#10880 overlord: fix generated snap-revision assertions in remodel unit tests
  overlord/managers_test.go
Labels: ⚠ Critical, Simple 😃, Test Robustness

#10884 tests/main: disable cgroup-devices-v1 and freezer tests on 21.10
  tests/main/cgroup-devices-v1/task.yaml
  tests/main/cgroup-freezer/task.yaml
Labels: Simple 😃

#10886 o/snapstate: test prereq update if started by old version
  overlord/snapstate/snapstate_update_test.go
Labels: Simple 😃, Skip spread

#10868 o/snapstate: support ignore-validation flag when updating to a specific snap revision
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
Labels: validation-sets :white_check_mark:

#10824 tests: check that a snap that doesn't have gate-auto-refresh hook can call --proceed
  tests/main/auto-refresh-gating-from-snap/task.yaml
  tests/main/auto-refresh-gating-from-snap/test-snap-refresh-control-iface/meta/snap.yaml
  tests/main/auto-refresh-gating-from-snap/test-snap-refresh-control-iface/proceed
Labels: Refresh control

#10830 gadget: add `encryptedDevice` and add encryptedDeviceLUKS
  gadget/install/encrypt.go
  gadget/install/encrypt_test.go
  gadget/install/export_secboot_test.go
  gadget/install/install.go
Labels: Simple 😃, Skip spread

#10881 tests: merge coverage results
  .github/workflows/test.yaml
  run-checks
Labels: Skip spread

#10898 cmd/snap-confine/snap-confine.apparmor.in: update ld rule for s390x impish
  cmd/snap-confine/snap-confine.apparmor.in
Labels: ⚠ Critical, Simple 😃

#10173 interfaces: add polkit security backend
  dirs/dirs.go
  interfaces/backends/backends.go
  interfaces/builtin/all_test.go
  interfaces/core.go
  interfaces/ifacetest/testiface.go
  interfaces/polkit/backend.go
  interfaces/polkit/backend_test.go
  interfaces/polkit/spec.go
  interfaces/polkit/spec_test.go
Labels: Needs Samuele review

#10911 daemon: use the syscall connection to get the socket credentials
  daemon/ucrednet.go
  tests/main/snapd-sigterm/task.yaml
Labels: Needs Samuele review

#10699 daemon: allow enabling enforce mode
  daemon/api_validate.go
  daemon/api_validate_test.go
  daemon/export_api_validate_test.go
  tests/main/snap-validate-basic/task.yaml
Labels: Needs Samuele review, validation-sets :white_check_mark:

#10904 osutil/disks, many: switch to defining Partitions directly for MockDiskMapping
  bootloader/export_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  osutil/disks/mockdisk.go
  osutil/disks/mockdisk_test.go
  secboot/secboot_sb_test.go
Labels: Simple 😃

#10927 interfaces/builtin/hardware-observer: add /proc/bus/input/devices too
  interfaces/builtin/hardware_observe.go
Labels: Simple 😃

#10917 many: mv MockDeviceNameDisksToPartitionMapping -> MockDeviceNameToDiskMapping
  bootloader/export_test.go
  osutil/disks/disks_linux.go
  osutil/disks/mockdisk.go
  osutil/disks/mockdisk_test.go
Labels: Simple 😃, Skip spread

#10930 secboot: revert move to new version (revert #10715)
  go.mod
  go.sum
  secboot/export_sb_test.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
  secboot/test-data/keyfile
  tests/lib/nested.sh
  tests/nested/manual/core20-new-snapd-does-not-break-old-initrd/task.yaml
Labels: ⚠ Critical, Run nested

#10905 gadget, osutil/disks: fix some bugs from prior PR's
  gadget/gadget.go
  gadget/gadget_test.go
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
Labels: Simple 😃, Needs Samuele review

#10934 tests/snapd-sigterm: be more robust against service restart
  tests/main/snapd-sigterm/task.yaml
Labels: Simple 😃

#10883 o/snapstate, hookstate: print remaining hold time on snapctl --hold
  overlord/hookstate/ctlcmd/refresh.go
  overlord/hookstate/ctlcmd/refresh_test.go
  overlord/hookstate/hooks.go
  overlord/hookstate/hooks_test.go
  overlord/snapstate/autorefresh_gating.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/snapstate_remove_test.go
  overlord/snapstate/snapstate_update_test.go
  tests/main/auto-refresh-gating/task.yaml
Labels: Squash-merge, Needs Samuele review, Refresh control

#10937 interfaces/u2f-devices: add Nitrokey 3
  interfaces/builtin/u2f_devices.go
  interfaces/builtin/u2f_devices_test.go
Labels: Simple 😃

#10952 tests/lib/pkgdb: install strace on Debian 11 and Sid
  tests/lib/pkgdb.sh
Labels: Simple 😃

#10963 release: 2.53.1
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃
