Repository canonical/snapd, pull requests merged in 2021-02, with the labels that each got.

#9873 gadget: add new ResolvedContent and populate from LayoutVolume()
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/install/install.go
  gadget/install/install_test.go
  gadget/install/partition_test.go
  gadget/layout.go
  gadget/layout_test.go
  gadget/update.go
  gadget/validate.go
Labels: UC20

#9842 store: switch to v2/assertions api
  cmd/snap/cmd_known_test.go
  overlord/managers_test.go
  store/store.go
  store/store_action_fetch_assertions_test.go
  store/store_asserts_test.go
  tests/lib/fakestore/store/store.go
  tests/lib/fakestore/store/store_test.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#9850 store: method for fetching validation set assertion
  overlord/snapstate/backend.go
  store/store_asserts.go
  store/store_asserts_test.go
  store/storetest/storetest.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#9878 tests/core/uc20-recovery: move recover mode helpers to generic testslib script
  tests/core/gadget-update-pc/task.yaml
  tests/core/uc20-recovery/task.yaml
  tests/lib/mock-shutdown
  tests/lib/uc20-recovery.sh
  tests/main/snap-repair/task.yaml
Labels: Simple 😃, UC20

#9883 cmd/snap-preseed: initialize snap.SanitizePlugsSlots for gadget in seeds
  cmd/snap-preseed/main.go
  cmd/snap-preseed/main_test.go
Labels: Bug, Preseeding 🍞, Squash-merge

#9545 devicestate: keep log from install-mode on installed system
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  tests/nested/core20/basic/task.yaml
Labels: Run nested, UC20

#9885 snap/info.go: ignore unknown daemons in SortSnapServices
  snap/info.go
  snap/info_test.go
  tests/main/services-after-before/task.yaml
  tests/main/snap-service-install-mode/task.yaml
Labels: Bug, Squash-merge, ⚠ Critical

#9890 misc: little tweaks
  bootloader/uboot.go
  overlord/snapstate/check_snap_test.go
  secboot/secboot_tpm.go
  seed/seedwriter/writer.go
Labels: Simple 😃, Skip spread

#9891 boot: do not observe successful boot assets if not in run mode
  boot/assets.go
  boot/assets_test.go
Labels: Simple 😃

#9888 data/env/snapd: use quoting in case PATH contains spaces
  data/env/snapd.sh.in
Labels: Simple 😃

#9132 o/hookstate/ctlcmd: add optional --pid and --apparmor-label arguments to "snapctl is-connected"
  overlord/hookstate/ctlcmd/export_test.go
  overlord/hookstate/ctlcmd/is_connected.go
  overlord/hookstate/ctlcmd/is_connected_test.go
  sandbox/apparmor/export_test.go
  sandbox/apparmor/process.go
  tests/main/snapctl-is-connected-pid/task.yaml
  tests/main/snapctl-is-connected-pid/test-snap-classic/bin/service.sh
  tests/main/snapctl-is-connected-pid/test-snap-classic/meta/snap.yaml
  tests/main/snapctl-is-connected-pid/test-snap1/bin/service.sh
  tests/main/snapctl-is-connected-pid/test-snap1/meta/snap.yaml
  tests/main/snapctl-is-connected-pid/test-snap2/bin/run-snapctl.sh
  tests/main/snapctl-is-connected-pid/test-snap2/meta/snap.yaml
Labels: Needs Samuele review

#9896 osutil: skip TestReadBuildGo inside sbuild
  osutil/buildid_test.go
Labels: Skip spread

#9805 interfaces: add an optional mount-host-font-cache plug attribute to the desktop interface
  interfaces/builtin/desktop.go
  interfaces/builtin/desktop_test.go
Labels: Needs Samuele review

#9894 snap/info.go: add doc-comment for SortServices
  snap/info.go
Labels: Simple 😃, Skip spread

#9875 gadget: use ResolvedSource in MountedFilesystemWriter
  gadget/export_test.go
  gadget/gadget.go
  gadget/install/content.go
  gadget/install/content_test.go
  gadget/layout.go
  gadget/mountedfilesystem.go
  gadget/mountedfilesystem_test.go
  gadget/update.go
  gadget/update_test.go
  gadget/validate.go
Labels: Run nested, UC20

#9898 gadget: fix documentation/typos
  gadget/layout.go
Labels: Simple 😃, Skip spread

#9867 overlord/devicestate: task for updating boot configs, spread test
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_bootconfig_test.go
  overlord/devicestate/handlers_bootconfig.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  tests/nested/core20/boot-config-update/task.yaml
Labels: Run nested

#9892 asserts: introduce AtSequence
  asserts/asserts.go
  asserts/asserts_test.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#9902 HACKING.md: explain how to run UC20 spread tests with QEMU
  HACKING.md
Labels: Documentation, Simple 😃, Skip spread

#9889 cmd/snap-bootstrap/initramfs-mounts: write realistic modeenv for recover+install
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/initramfs_mounts_state.go
Labels: Needs Samuele review, Run nested, UC20

#9903 tests/lib/prepare.sh: add another console= to the reflash magic grub entry
  tests/lib/prepare.sh
Labels: Simple 😃

#9913 interfaces/builtin: mock distribution in fontconfig cache unit tests
  interfaces/builtin/desktop_test.go
Labels: Simple 😃, Skip spread

#9911 cmd/snap-bootstrap/initramfs-mounts: fix typo in func name
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
Labels: Simple 😃, Skip spread

#9919 many: add Delegate=true to generated systemd units for special interfaces
  interfaces/builtin/all.go
  interfaces/builtin/common.go
  interfaces/builtin/docker_support.go
  interfaces/builtin/docker_support_test.go
  interfaces/builtin/greengrass_support.go
  interfaces/builtin/greengrass_support_test.go
  interfaces/builtin/kubernetes_support.go
  interfaces/builtin/kubernetes_support_test.go
  interfaces/builtin/lxd_support.go
  interfaces/builtin/lxd_support_test.go
  interfaces/core.go
  interfaces/core_test.go
  tests/regression/lp-1910456/container-mgr-snap/bin/simple.sh
  tests/regression/lp-1910456/container-mgr-snap/meta/snap.yaml
  tests/regression/lp-1910456/task.yaml
  wrappers/services.go
  wrappers/services_gen_test.go
  wrappers/services_test.go
Labels: ⚠ Critical

#9904 tests/nested/core20/boot-config-update: skip when snapd was not built with test features
  tests/nested/core20/boot-config-update/task.yaml
Labels: Run nested, Simple 😃

#9906 wrappers: don't generate an [Install] section for timer or dbus activated services
  tests/main/snap-services/task.yaml
  wrappers/services.go
  wrappers/services_gen_test.go
Labels: Simple 😃

#9853 api: validate snaps against validation set assert from the store
  daemon/api_validate.go
  daemon/api_validate_test.go
  daemon/export_api_validate_test.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#9918 boot: use a common helper for mocking boot assets in cache
  boot/boot_test.go
  boot/bootchain_test.go
  boot/seal_test.go
Labels: Simple 😃, Skip spread

#9920 many: add Delegate=true to generated systemd units for special interfaces (master)
  interfaces/builtin/all.go
  interfaces/builtin/common.go
  interfaces/builtin/docker_support.go
  interfaces/builtin/docker_support_test.go
  interfaces/builtin/greengrass_support.go
  interfaces/builtin/greengrass_support_test.go
  interfaces/builtin/kubernetes_support.go
  interfaces/builtin/kubernetes_support_test.go
  interfaces/builtin/lxd_support.go
  interfaces/builtin/lxd_support_test.go
  interfaces/core.go
  interfaces/core_test.go
  tests/regression/lp-1910456/container-mgr-snap/bin/simple.sh
  tests/regression/lp-1910456/container-mgr-snap/meta/snap.yaml
  tests/regression/lp-1910456/task.yaml
  wrappers/services.go
  wrappers/services_gen_test.go
  wrappers/services_test.go
Labels: ⚠ Critical

#9925 release: snapd 2.49
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Skip spread

#9893 store: support validation sets with fetch-assertions action
  asserts/pool.go
  asserts/pool_test.go
  daemon/api_base_d_test.go
  daemon/api_base_test.go
  overlord/assertstate/assertstate_test.go
  store/store_action.go
  store/store_action_fetch_assertions_test.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#9929 wrappers: use proper paths for mocked mount units in tests
  wrappers/services_test.go
Labels: Simple 😃, Skip spread

#9916 daemon: move postSnap and inst.dispatch tests to api_snaps_test.go
  daemon/api_icons_test.go
  daemon/api_snaps_test.go
  daemon/api_test.go
  daemon/export_test.go
Labels: Skip spread

#9702 interfaces/seccomp/template.go: allow copy_file_range
  interfaces/seccomp/template.go
Labels: Simple 😃

#9899 gadget: improve error handling around resolving content sources
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/layout.go
  gadget/layout_test.go
  gadget/mountedfilesystem_test.go
Labels: Run nested

#9825 tests: using labeler action to add automatically a label to run nested tests
  .github/labeler.yml
  .github/workflows/labeler.yaml
  tests/lib/nested.sh
Labels: Squash-merge

#9268 daemon: add API for checking and installing available theme snaps
  daemon/api.go
  daemon/api_themes.go
  daemon/api_themes_test.go
  daemon/export_api_themes_test.go
  tests/main/theme-install/task.yaml
Labels: Needs Samuele review

#9909 snap: add deprecation noticed to "snap run --gdb"
  cmd/snap-gdb-shim/snap-gdb-shim.c
  cmd/snap/cmd_run.go
Labels: Needs Samuele review, Skip spread

#9934 packaging: disable Go modules in snapd.mk
  packaging/snapd.mk
Labels: Simple 😃

#9933 packaging/opensuse: sync with openSUSE packaging
  packaging/opensuse/snapd.spec
Labels: Simple 😃

#9937 tests/lib/prepare.sh: split reflash.sh into two parts
  overlord/configstate/configcore/handlers.go
  tests/lib/prepare.sh
Labels: Simple 😃, Test Robustness

#9935 data/selinux: allow system dbus to watch /var/lib/snapd/dbus-1
  data/selinux/snappy.te
Labels: Simple 😃

#9912 snap: provide a useful error message if gdbserver is not installed
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
Labels: Skip spread

#9792 tests: enable ubuntu 21.04 for spread tests
  .github/workflows/test.yaml
  spread.yaml
  tests/lib/nested.sh
  tests/main/lxd-mount-units/task.yaml
  tests/main/lxd/task.yaml
Labels: Squash-merge

#9944 github: temporarily disable action labeler due to issues with labels being removed
  .github/labeler.yml
Labels: Simple 😃, Skip spread

#9880 tests/lib/fakestore: support repair assertions too
  asserts/assertstest/assertstest.go
  asserts/systestkeys/trusted.go
  cmd/snap-repair/cmd_run.go
  cmd/snap-repair/testkeys.go
  tests/lib/fakestore/cmd/fakestore/cmd_new_repair.go
  tests/lib/fakestore/refresh/refresh.go
  tests/lib/fakestore/refresh/snap_asserts.go
  tests/lib/fakestore/store/store.go
  tests/lib/store.sh
Labels: Needs Samuele review, UC20

#9859 overlord: add manager gadget refresh test
  overlord/managers_test.go
Labels: Skip spread, UC20

#9943 boot: introduce good recovery systems, provide compatibility handling
  boot/boot.go
  boot/boot_test.go
  boot/bootstate20.go
  boot/makebootable.go
  boot/makebootable_test.go
  boot/modeenv.go
  boot/modeenv_test.go
  boot/systems.go
  tests/nested/core20/tpm/task.yaml
Labels: Run nested, UC20

#9949 spread: disable Go modules support in environment
  spread.yaml
Labels: Simple 😃, ⚠ Critical

#9954 snap: fix unit tests on Go 1.16
  snap/info_snap_yaml_test.go
Labels: Simple 😃, Skip spread

#9936 interfaces: remove apparmor downgrade feature
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/export_test.go
Labels: Needs security review

#9956 interfaces/system-observe: Allow reading /proc/zoneinfo
  interfaces/builtin/system_observe.go
Labels: Simple 😃

#9953 overlord/snapshotstate: include the last message printed by tar in the error
  overlord/snapshotstate/backend/backend.go
  overlord/snapshotstate/snapshotstate_test.go
Labels: Simple 😃

#9951 tests/regression/lp-1910456: cleanup the /snap symlink when done
  tests/lib/reset.sh
  tests/regression/lp-1910456/task.yaml
Labels: Simple 😃, Test Robustness

#9884 tests/main/snap-repair: test running repair assertion w/ fakestore
  data/systemd/snapd.snap-repair.service.in
  data/systemd/snapd.snap-repair.timer
  tests/core/snap-repair/retry.sh
  tests/core/snap-repair/task.yaml
  tests/core/snap-repair/uc16.json
  tests/core/snap-repair/uc16.sh
  tests/core/snap-repair/uc18.json
  tests/core/snap-repair/uc18.sh
  tests/core/snap-repair/uc20-recover.json
  tests/core/snap-repair/uc20-recover.sh
  tests/core/snap-repair/uc20-run.json
  tests/core/snap-repair/uc20-run.sh
  tests/main/no-snap-repair-classic/task.yaml
  tests/main/snap-repair/task.yaml
Labels: Test Robustness, UC20

#9952 interfaces: allow reading the Xauthority file KDE Plasma writes for Wayland sessions
  interfaces/builtin/x11.go
Labels: Needs Samuele review, Needs security review, Simple 😃

#9955 .github/workflows/labeler.yaml: try work-around to not sync labels
  .github/labeler.yml
  .github/workflows/labeler.yaml
Labels: Run nested, Simple 😃

#9966 many: fix new ineffassign warnings
  interfaces/hotplug/deviceinfo_test.go
  interfaces/repo_test.go
  overlord/devicestate/devicestate_serial_test.go
Labels: Simple 😃, Skip spread, ⚠ Critical

#9961 mkversion: check that version from changelog is set before overriding the output version
  mkversion.sh
Labels: Simple 😃

#9876 interfaces: add allegro-vcu and media-control interfaces
  interfaces/builtin/allegro_vcu.go
  interfaces/builtin/allegro_vcu_test.go
  interfaces/builtin/media_control.go
  interfaces/builtin/media_control_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Squash-merge
