Repository canonical/snapd, pull requests merged in 2021-04, with the labels that each got.

#10105 ci: set the accept-existing-contributors parameter for the cla-check action
  .github/workflows/cla-check.yaml
Labels: Skip spread

#10101 tests: add spread test for snap validate against store assertions
  tests/main/snap-validate-basic/task.yaml
  tests/main/snap-validate-with-store/task.yaml
  tests/main/snap-validate-with-store/testset1-seq1.yaml
  tests/main/snap-validate-with-store/testset1-seq2.yaml
Labels: validation-sets :white_check_mark:

#10108 spread: tentative workaround for arch failure caused by libc upgrade and cgroups v2
  spread.yaml
  tests/main/cgroup-devices/task.yaml
  tests/main/cgroup-freezer/task.yaml
  tests/main/security-device-cgroups-serial-port/task.yaml
  tests/main/security-device-cgroups/task.yaml
  tests/main/snap-device-helper-nvme/task.yaml
  tests/main/snapctl-is-connected/task.yaml
Labels: ⚠ Critical

#10109 interfaces/builtin/gpio_test.go: actually test the generated gpio apparmor
  interfaces/builtin/gpio_test.go
Labels: Simple 😃, Skip spread, Test Robustness

#9963 wrappers: install D-Bus service activation files for snapd session tools on core
  overlord/snapstate/backend/link_test.go
  tests/core/dbus-activation/task.yaml
  tests/core/xdg-open-on-core/task.yaml
  usersession/userd/launcher.go
  usersession/userd/launcher_test.go
  usersession/userd/settings.go
  usersession/userd/settings_test.go
  wrappers/core18.go
  wrappers/core18_test.go
Labels: Needs Samuele review

#10097 tests: use tests.session tool on interfaces-desktop-document-portal test
  tests/main/interfaces-desktop-document-portal/task.yaml
Labels: Simple 😃

#10095 tests: add simple sanity check for systemctl show --property=UnitFileState for unknown service
  tests/main/snap-services/task.yaml
Labels: Simple 😃

#10080 interfaces/u2f-devices: add HyperFIDO Pro
  interfaces/builtin/u2f_devices.go
  interfaces/builtin/u2f_devices_test.go
Labels: Bug, Needs Samuele review, Simple 😃

#10079 api: provide meaningful error message on connect/disconnect for non-installed snap
  daemon/api_interfaces.go
  daemon/api_interfaces_test.go
  tests/main/snap-connect/task.yaml
Labels: Bug

#10077 o/configstate: fix panic with a sequence of config unset ops over same path
  overlord/configstate/config/helpers.go
  overlord/configstate/config/transaction.go
  overlord/configstate/config/transaction_test.go
  overlord/hookstate/ctlcmd/unset_test.go
Labels: Bug, Squash-merge

#10112 spread: ignore linux kernel upgrade in early stages for arch preparation
  spread.yaml
Labels: Simple 😃

#10052 features: add gate-auto-refresh-hook feature flag
  features/features.go
  features/features_test.go
Labels: Refresh control, Simple 😃

#10111 tests: update "spread: disable Go modules support in environment"
  spread.yaml
Labels: Squash-merge

#10096 gadget: add support for kernel command line provided by the gadget
  gadget/gadget.go
  gadget/gadget_test.go
Labels: Skip spread, UC20

#10114 tests/lib/prepare-restore.sh: clean out snapd changes and snaps before purging
  tests/lib/prepare-restore.sh
Labels: Test Robustness

#10061 interfaces/pwm: add PWM interface
  interfaces/builtin/pwm.go
  interfaces/builtin/pwm_test.go
  interfaces/policy/basedeclaration_test.go
  run-checks
Labels: Needs Samuele review

#10103 boot: support read/writing boot-flags from userspace/initramfs
  boot/export_test.go
  boot/flags.go
  boot/flags_test.go
  boot/initramfs20dirs.go
  boot/modeenv.go
  boot/modeenv_test.go
Labels: Needs Samuele review, UC20

#10121 boot, cmd/snap: include extra cmdline args in debug boot-vars output
  boot/debug.go
  cmd/snap/cmd_debug_bootvars_test.go
Labels: Simple 😃, Skip spread

#10117 cmd/snap-bootstrap/initramfs-mounts: write active boot-flags to /run
  boot/flags.go
  boot/flags_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
Labels: Run nested, Simple 😃, UC20

#10068 o/configstate: don't pass --root=/ when masking/unmasking/enabling/disabling services
  overlord/configstate/configcore/corecfg_test.go
  overlord/configstate/configcore/services.go
  overlord/configstate/configcore/services_test.go
  tests/nested/core/coreconfig-services/task.yaml
Labels: Run nested, Squash-merge

#9999 snapstate: add "kernel-assets" to featureSet
  overlord/snapstate/check_snap.go
  overlord/snapstate/check_snap_test.go
Labels: Skip spread

#10132 boot,tests: move where we write boot-flags one level up
  boot/flags.go
  boot/flags_test.go
  boot/initramfs20dirs.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  tests/core/basic20/task.yaml
Labels: Squash-merge, UC20

#10120 boot: derive boot variables for kernel command lines
  boot/cmdline.go
  boot/cmdline_test.go
  boot/export_test.go
Labels: Simple 😃, Skip spread

#10126 daemon: make ucrednetGet() return a *ucrednet structure
  daemon/api_snapctl.go
  daemon/api_snapctl_test.go
  daemon/daemon.go
  daemon/export_test.go
  daemon/ucrednet.go
  daemon/ucrednet_test.go
Labels: Simple 😃

#10119 boot: pass gadget path to command line helpers, load gadget from seed
  boot/assets_test.go
  boot/boot_test.go
  boot/cmdline.go
  boot/cmdline_test.go
  boot/makebootable.go
  boot/makebootable_test.go
  boot/seal.go
  boot/seal_test.go
  boot/systems_test.go
Labels: Simple 😃

#10129 boot: set extra kernel command line arguments when making a recovery system bootable
  boot/makebootable.go
  boot/makebootable_test.go
  tests/nested/manual/core20-custom-kernel-commandline/task.yaml
Labels: Run nested

#10136 boot: drop gadget snap yaml which is already defined elsewhere in the tests
  boot/seal_test.go
Labels: Skip spread, ⚠ Critical

#10130 boot: load bits of kernel command line from gadget snaps
  boot/cmdline.go
  boot/cmdline_test.go
  boot/seal_test.go
Labels: Run nested

#10134 boot: set extra command line arguments when preparing run mode
  boot/makebootable.go
  boot/makebootable_test.go
  tests/nested/manual/core20-custom-kernel-commandline/task.yaml
Labels: Run nested

#10141 tests: enable help test for all the systems
  tests/main/help/task.yaml
Labels: Simple 😃

#10138 tests: fix gadget-kernel-refs-update-pc test on arm and when $TRUST_TEST_KEY is false
  tests/core/gadget-kernel-refs-update-pc/task.yaml
Labels: Simple 😃

#10142 tests: fix prepare-image-grub-core18 for arm devices
  tests/main/prepare-image-grub-core18/task.yaml
Labels: Simple 😃

#10140 boot, overlord/devicestate: consider gadget command lines when updating boot config
  boot/boot.go
  boot/boot_test.go
  boot/cmdline.go
  overlord/devicestate/devicestate_bootconfig_test.go
  overlord/devicestate/handlers_bootconfig.go
  overlord/managers_test.go
Labels: Run nested

#10133 wrappers/services.go: introduce EnsureSnapServices()
  wrappers/services.go
  wrappers/services_gen_test.go
  wrappers/services_test.go
Labels: UC20

#10128 tests: add 20.04 to systems for nested/core
  spread.yaml
Labels: Run nested

#10143 boot: handle updating of components that contribute to kernel command line
  boot/boot.go
  boot/boot_test.go
  boot/cmdline.go
Labels: Skip spread

#10118 boot/flags.go: add HostUbuntuDataForMode
  boot/flags.go
  boot/flags_test.go
Labels: Simple 😃, UC20

#10151 wrappers/services.go: refactor helper lambda function to separate function
  wrappers/services.go
Labels: Simple 😃

#10154 cmd/snap, boot: add snapd_full_cmdline_args to dumped boot vars
  boot/debug.go
  cmd/snap/cmd_debug_bootvars_test.go
Labels: Simple 😃, Skip spread

#10157 o/snapstate: remove unused DeviceCtx argument of ensureInstallPreconditions
  overlord/snapstate/snapstate.go
Labels: Simple 😃

#10148 overlord/devicestate, overlord/snapstate: add task for updating kernel command lines from gadget
  boot/boot_test.go
  boot/bootstate20.go
  boot/cmdline.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_bootconfig_test.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/firstboot_preseed_test.go
  overlord/devicestate/handlers_gadget.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_update_test.go
  tests/nested/manual/core20-custom-kernel-commandline/task.yaml
Labels: Run nested

#10156 boot, bootloader, bootloader/assets: support for full command line override from gadget
  boot/boot_test.go
  boot/cmdline.go
  boot/cmdline_test.go
  boot/makebootable_test.go
  bootloader/assets/data/grub-recovery.cfg
  bootloader/assets/data/grub.cfg
  bootloader/assets/grub_cfg_asset.go
  bootloader/assets/grub_recovery_cfg_asset.go
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  bootloader/grub_test.go
Labels: Run nested

#10110 interfaces/builtin: introduce dsp interface
  interfaces/builtin/dsp.go
  interfaces/builtin/dsp_test.go
  interfaces/policy/basedeclaration_test.go
  run-checks
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Needs Samuele review, Squash-merge

#10160 tests, overlord: extend unit tests, extend spread tests to cover full command line support
  boot/boot_robustness_test.go
  boot/boot_test.go
  bootloader/bootloadertest/bootloadertest.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/managers_test.go
  tests/nested/core/core20-boot-config-update/task.yaml
  tests/nested/manual/core20-boot-config-update/task.yaml
  tests/nested/manual/core20-custom-kernel-commandline/task.yaml
Labels: Run nested

#10161 boot, gadget: move opening the snap container into the gadget helper
  boot/cmdline.go
  gadget/gadget.go
  gadget/gadget_test.go
Labels: Run nested, Simple 😃

#10171 overlord: make servicestate responsible to compute SnapServiceOptions
  overlord/servicestate/servicemgr.go
  overlord/servicestate/servicestate.go
  overlord/servicestate/servicestate_test.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/booted_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapstate_test.go
Labels: Services ⚙️, Squash-merge

#10170 gadget: multi line support in gadget's cmdline file
  boot/cmdline_test.go
  boot/makebootable_test.go
  gadget/gadget.go
  gadget/gadget_test.go
  spread.yaml
  tests/nested/manual/core20-custom-kernel-commandline/task.yaml
Labels: Run nested

#10176 wrappers: support in EnsureSnapServices a callback to observe changes
  wrappers/services.go
  wrappers/services_gen_test.go
  wrappers/services_test.go
Labels: Services ⚙️, Squash-merge

#10053 o/snapstate: helper for getting snaps affected by refresh, define new hook
  overlord/hookstate/hooks.go
  overlord/snapstate/autorefresh_gating.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/export_test.go
  snap/hooktypes.go
Labels: Needs Samuele review, Refresh control

#10174 boot: split out a helper for making recovery system bootable
  boot/makebootable.go
  boot/makebootable_test.go
  bootloader/lk.go
  bootloader/lk_test.go
Labels: Run nested, Simple 😃

#10178 tests/lib/nested: do not compress images, return early when restored from pristine image
  tests/lib/nested.sh
Labels: Run nested, Simple 😃

#10179 bootloader/bootloadertest: provide interface implementation as mixins, provide a mock for recovery-aware-trusted-asses bootloader
  bootloader/bootloadertest/bootloadertest.go
Labels: Simple 😃, Skip spread

#10164 o/servicestate/servicemgr.go: add ensure loop for snap service units
  daemon/api_apps_test.go
  daemon/api_base_test.go
  overlord/managers_test.go
  overlord/overlord.go
  overlord/overlord_test.go
  overlord/servicestate/servicemgr.go
  overlord/servicestate/servicemgr_test.go
  overlord/snapstate/backend/link_test.go
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
  wrappers/core18.go
  wrappers/services.go
  wrappers/services_gen_test.go
  wrappers/services_test.go
Labels: Bug, Squash-merge

#10169 o/snapstate: helper for creating gate-auto-refresh hooks
  overlord/hookstate/hooks.go
  overlord/snapstate/autorefresh_gating.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapstate.go
Labels: Needs Samuele review, Refresh control

#10167 o/snapstate: store refresh-candidates in the state
  overlord/snapstate/autorefresh.go
  overlord/snapstate/check_snap.go
  overlord/snapstate/export_test.go
  overlord/snapstate/refreshhints.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate.go
Labels: Needs Samuele review, Refresh control

#10168 many: refactor to kernel/fde and allow `fde-setup initial-setup` to return json
  boot/export_test.go
  boot/seal.go
  boot/seal_test.go
  cmd/snap-bootstrap/main.go
  kernel/fde/fde.go
  kernel/fde/fde_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/fde/fde_test.go
  overlord/hookstate/ctlcmd/ctlcmd_test.go
  overlord/hookstate/ctlcmd/fde_setup.go
  overlord/hookstate/ctlcmd/fde_setup_test.go
  secboot/secboot_tpm.go
  tests/lib/fde-setup-hook/fde-setup.go
  vendor/vendor.json
Labels: Run nested

#10180 testutil: support referencing files in FileEquals checker
  testutil/filecontentchecker.go
  testutil/filecontentchecker_test.go
Labels: Simple 😃, Skip spread

#10113 systemd: wait for zfs mounts
  overlord/snapstate/backend/mountunit_test.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: Bug, Run nested, Squash-merge

#10172 o/hookstate: add "refresh" command to snapctl (hidden, not complete yet)
  overlord/hookstate/ctlcmd/refresh.go
  overlord/hookstate/ctlcmd/refresh_test.go
Labels: Needs Samuele review, Refresh control

#10190 tests: adding debug info for create user tests
  tests/core/create-user-2/task.yaml
  tests/core/create-user/task.yaml
Labels: Simple 😃

#10189 many: hide EncryptionKey size and refactors for fde hook v2 next steps
  cmd/snap-bootstrap/main.go
  kernel/fde/fde.go
  kernel/fde/fde_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  secboot/encrypt.go
  secboot/encrypt_sb.go
  secboot/encrypt_sb_test.go
  secboot/encrypt_test.go
  secboot/export_test.go
  secboot/secboot.go
  secboot/secboot_dummy.go
  secboot/secboot_hooks.go
  secboot/secboot_sb.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
Labels: Run nested, UC20

#10163 o/configstate/configcore/vitality: fix RequireMountedSnapdSnap bug
  overlord/configstate/configcore/vitality.go
  overlord/configstate/configcore/vitality_test.go
  tests/regression/vitality-rank-uc18-required-snapd-snap/task.yaml
Labels: Bug, Squash-merge

#10193 many: move responsibilities down seboot -> kernel/fde and boot -> secboot
  boot/export_test.go
  boot/seal.go
  boot/seal_test.go
  kernel/fde/export_test.go
  kernel/fde/fde.go
  kernel/fde/fde_test.go
  kernel/fde/reavel_key.go
  overlord/hookstate/ctlcmd/fde_setup_test.go
  secboot/export_test.go
  secboot/secboot_dummy.go
  secboot/secboot_hooks.go
  secboot/secboot_sb.go
  secboot/secboot_sb_test.go
Labels: Run nested, UC20

#10152 quota: new package for managing resource groups
  snap/naming/validate.go
  snap/naming/validate_test.go
  snap/quota/quota.go
  snap/quota/quota_test.go
Labels: Needs Samuele review, Squash-merge, quota

#10201 spread.yaml: update the gce project to start using snapd-spread
  spread.yaml
Labels: Simple 😃

#10202 tests: new buckets for snapd-spread project on gce
  tests/lib/nested.sh
  tests/nested/manual/snapd-refresh-from-old/task.yaml
Labels: Simple 😃

#10199 o/servicestate/quotas: add functions for getting and setting quotas in state
  overlord/servicestate/quotas.go
  overlord/servicestate/quotas_test.go
  overlord/servicestate/servicemgr_test.go
Labels: quota

#10206 o/servicestate: test has internal ordering issues, consider both cases
  overlord/servicestate/quotas_test.go
  snap/quota/quota.go
Labels: Skip spread, Test Robustness, ⚠ Critical

#10088 o/configstate/configcore/picfg.go: use ubuntu-seed config.txt in uc20 run mode
  overlord/configstate/configcore/corecfg_test.go
  overlord/configstate/configcore/picfg.go
  overlord/configstate/configcore/picfg_test.go
  overlord/configstate/configcore/services_test.go
Labels: Bug, Needs Samuele review, UC20

#10197 cmd/snap: introduce 'snap quota' command
  client/quota.go
  client/quota_test.go
  cmd/snap/cmd_quota.go
  cmd/snap/cmd_quota_test.go
Labels: Needs Samuele review, quota

#10198 snap/quotas: followups from previous PR
  snap/naming/validate.go
  snap/quota/export_test.go
  snap/quota/quota.go
  snap/quota/quota_test.go
Labels: quota

#10153 wrappers, quota: implement quota groups slice generation
  overlord/configstate/configcore/vitality.go
  overlord/configstate/configcore/vitality_test.go
  overlord/servicestate/servicemgr.go
  overlord/servicestate/servicestate.go
  overlord/servicestate/servicestate_test.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/handlers.go
  wrappers/services.go
  wrappers/services_test.go
Labels: Squash-merge, quota

#10205 cmd/snap, client: snap remove-quota command
  client/quota.go
  client/quota_test.go
  cmd/snap/cmd_quota.go
  cmd/snap/cmd_quota_test.go
Labels: quota

#10211 o/servicestate/quota_control.go: introduce (very) basic group manipulation methods
  overlord/configstate/configcore/vitality_test.go
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_control_test.go
  overlord/servicestate/quotas.go
  overlord/servicestate/quotas_test.go
  overlord/servicestate/servicemgr_test.go
  overlord/servicestate/servicestate_test.go
  overlord/snapstate/backend/link_test.go
  snap/quota/quota.go
  wrappers/services.go
  wrappers/services_test.go
Labels: quota

#10210 cmd/snap, client: snap quotas command
  client/quota.go
  cmd/snap/cmd_quota.go
  cmd/snap/cmd_quota_test.go
Labels: quota

#10208 daemon: implement REST API for quota groups (create / list / get)
  daemon/api.go
  daemon/api_quotas.go
  daemon/api_quotas_test.go
  daemon/export_api_quotas_test.go
  overlord/configstate/configcore/vitality_test.go
  overlord/servicestate/export_test.go
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_control_test.go
  overlord/servicestate/quotas.go
  overlord/servicestate/quotas_test.go
  overlord/servicestate/servicestate_test.go
Labels: Skip spread, quota

#10213 tests: basic spread test for snap quota commands
  client/quota.go
  client/quota_test.go
  daemon/api_quotas.go
  tests/main/snap-quota/task.yaml
Labels: quota

#10216 o/servicestate: address comments from previous PR
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_control_test.go
Labels: quota
