Repository canonical/snapd, pull requests merged in 2021-09, with the labels that each got.

#10709 spread: add 21.10 to qemu, remove 20.10 (EOL)
  spread.yaml
Labels: Simple 😃, Skip spread

#10710 tests: add more space on ubuntu xenial
  spread.yaml
Labels: Test Robustness

#10711 tests: bump the number of retries when waiting for /dev/nbd0p1
  tests/lib/preseed.sh
Labels: Simple 😃, Run nested

#10714 tests: move interfaces-libvirt test back to 16.04
  tests/main/interfaces-libvirt/task.yaml
Labels: ⚠ Critical, Simple 😃, Test Robustness

#10702 interfaces: introduce snap-refresh-control interface
  interfaces/builtin/snap_refresh_control.go
  interfaces/builtin/snap_refresh_control_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Needs Samuele review, Refresh control

#10720 interfaces: no need for snapRefreshControlInterface struct
  interfaces/builtin/snap_refresh_control.go
Labels: Simple 😃, Skip spread

#10713 tests: use host-scaled settle timeout for hookstate tests
  overlord/hookstate/hookstate_test.go
Labels: Simple 😃, Skip spread

#10719 interfaces/network-control: additional ethernet rule
  interfaces/builtin/network_control.go
Labels: Simple 😃

#10724 many: update deps
  go.mod
  go.sum
  vendor/.gitignore
Labels: Skip spread

#10678 o/snapstate: enforce validation sets assertions when removing snaps
  overlord/snapshotstate/snapshotstate_test.go
  overlord/snapstate/handlers_download_test.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_remove_test.go
  overlord/snapstate/snapstate_test.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#10727 tests/nested/core/extra-snaps-assertions: fix the match pattern
  tests/nested/core/extra-snaps-assertions/task.yaml
Labels: Simple 😃, Run nested

#10726 systemd: add mock systemd helper
  overlord/snapstate/backend/mountunit_test.go
  systemd/systemd.go
Labels: Squash-merge

#10729 codecov: fix files pathnames
  codecov.yml
Labels: Simple 😃

#10580 interface/builtin: add qualcomm-ipc-router interface for AF_QIPCRTR socket protocol
  cmd/snap-seccomp/main.go
  interfaces/builtin/qualcomm_ipc_router.go
  interfaces/builtin/qualcomm_ipc_router_test.go
  interfaces/core.go
  interfaces/policy/basedeclaration_test.go
  interfaces/repo.go
  interfaces/seccomp/template.go
  sandbox/apparmor/apparmor.go
  sandbox/apparmor/apparmor_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
  tests/main/interfaces-many-core-provided/task.yaml
Labels: Squash-merge, Needs Samuele review

#10723 o/ifacestate: special-case system-files and force refreshing its static attributes
  overlord/ifacestate/helpers.go
  overlord/ifacestate/ifacestate_test.go
  tests/regression/lp-1942266/task.yaml
  tests/regression/lp-1942266/test-system-files-conn-snap/bin.sh
  tests/regression/lp-1942266/test-system-files-conn-snap/meta/snap.yaml.in
Labels: Squash-merge, Bug

#10735 packaging: merge 2.52 changelog to master
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃

#10730 strutil: add Intersection()
  strutil/intersection.go
  strutil/intersection_test.go
Labels: Simple 😃, UC20, Skip spread

#10722 tests/nested/manual/refresh-revert-fundamentals: fix variable use
  tests/nested/manual/refresh-revert-fundamentals/task.yaml
Labels: Simple 😃, Run nested

#10243 tests: failure of prereqs on content interface doesn't prevent install
  overlord/snapstate/backend_test.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Skip spread

#10744 overlord/ifacestate: fix arguments in unit tests
  overlord/ifacestate/ifacestate_test.go
Labels: ⚠ Critical, Simple 😃, Skip spread

#10736 tests: skip overlord tests on riscv64 due to timeouts.
  overlord/overlord_test.go
Labels: Simple 😃, Skip spread

#10545 boot: record recovery capable systems in recovery bootenv
  boot/makebootable.go
  boot/makebootable_test.go
  boot/systems.go
  boot/systems_test.go
Labels: Needs Samuele review, Remodel 🚋, Run nested

#10747 packaging: remove duplicated `golang-go` build-dependency
  packaging/debian-sid/control
Labels: Simple 😃, Skip spread

#10746 spread: bump delta ref to 2.52
  spread.yaml
Labels: Simple 😃

#10743 tests: fix fakedevicesvc service already exists
  spread.yaml
  tests/nested/manual/core20-install-device-file-install-via-hook-hack/task.yaml
Labels: Simple 😃, Run nested

#10725 o/hookstate: require snap-refresh-control interface for snapctl refresh --proceed
  overlord/hookstate/ctlcmd/refresh.go
  overlord/hookstate/ctlcmd/refresh_test.go
  tests/lib/snaps/store/test-snapd-refresh-control.v1/build-aux/snap/snapcraft.yaml
  tests/lib/snaps/store/test-snapd-refresh-control.v2/build-aux/snap/snapcraft.yaml
  tests/main/auto-refresh-gating-from-snap/task.yaml
Labels: Needs Samuele review, Refresh control

#10741 interfaces/block-devices: support to access the state of block devices
  interfaces/builtin/block_devices.go
Labels: Skip spread

#10758 image/image_linux.go: add newline
  image/image_linux.go
  image/image_test.go
Labels: Simple 😃, Skip spread

#10742 tests: update nested tool - part1
  spread.yaml
  tests/lib/nested.sh
  tests/lib/tools/tests.nested
  tests/main/preseed-lxd/task.yaml
  tests/main/preseed-reset/task.yaml
  tests/main/preseed/task.yaml
  tests/nested/classic/hotplug/task.yaml
  tests/nested/classic/snapshots-with-core-refresh-revert/task.yaml
  tests/nested/core/core20-basic/task.yaml
  tests/nested/core/core20-create-recovery/task.yaml
  tests/nested/core/core20-gadget-reseal/task.yaml
  tests/nested/core/core20-kernel-failover/task.yaml
  tests/nested/core/core20-kernel-reseal/task.yaml
  tests/nested/core/core20-tpm/task.yaml
  tests/nested/core/coreconfig-services/task.yaml
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/cloud-init-nocloud-not-vuln/task.yaml
  tests/nested/manual/core-early-config/task.yaml
  tests/nested/manual/core20-boot-config-update/task.yaml
  tests/nested/manual/core20-custom-kernel-commandline/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
  tests/nested/manual/core20-gadget-cloud-conf/task.yaml
  tests/nested/manual/core20-install-device-file-install-via-hook-hack/task.yaml
  tests/nested/manual/core20-install-mode-shutdown-via-hook/task.yaml
  tests/nested/manual/core20-save/task.yaml
  tests/nested/manual/grade-signed-above-testkeys-boot/task.yaml
  tests/nested/manual/grade-signed-cloud-init-testkeys/task.yaml
  tests/nested/manual/refresh-revert-fundamentals/task.yaml
  tests/nested/manual/snapd-refresh-from-old/task.yaml
  tests/nested/manual/uc20-fde-hooks-v1/task.yaml
  tests/nested/manual/uc20-fde-hooks/task.yaml
Labels: Run nested

#10732 tests/lib/nested.sh: split out additional helper for adding files to VM imgs
  tests/lib/nested.sh
Labels: Simple 😃, Run nested

#10763 tests: pre-cache snaps in classic and core systems
  tests/lib/prepare.sh
Labels: Simple 😃

#10561 tests: revert revert manual lxd removal
  tests/main/lxd-mount-units/task.yaml
  tests/main/lxd-no-fuse/task.yaml
  tests/main/lxd-postrm-purge/task.yaml
  tests/main/lxd-services-smoke/task.yaml
  tests/main/lxd-snapfuse/task.yaml
  tests/main/lxd-try/task.yaml
  tests/main/lxd/task.yaml
  tests/main/selinux-lxd/task.yaml
Labels: Simple 😃

#10697 o/snapstate: enforce validation sets on snap install
  overlord/hookstate/ctlcmd/services_test.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/storehelpers.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#10766 go: update go.mod dependencies
  go.mod
Labels: Simple 😃, Skip spread

#10718 tests/lib/prepare.sh: download core20 for UC20 runs via BASE_CHANNEL
  tests/lib/prepare.sh
Labels: Simple 😃, Test Robustness

#10761 o/snapstate: optimize conflicts around snaps stored on conditional-auto-refresh task
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/handlers.go
Labels: Refresh control

#10738 o/hookstate/ctlcmd: Implement snapctl refresh --show-lock command
  overlord/hookstate/ctlcmd/refresh.go
  overlord/hookstate/ctlcmd/refresh_test.go
Labels: Needs Samuele review, Refresh control

#10754 packaging, tests/lib/prepare-restore: build packages without network access, fix building debs with go modules
  bootloader/assets/generate.go
  go.mod
  go.sum
  mkversion.sh
  packaging/debian-sid/rules
  packaging/ubuntu-14.04/rules
  packaging/ubuntu-16.04/rules
  strutil/version.go
  tests/lib/prepare-restore.sh
  update-pot
Labels: Simple 😃

#10762 o/servicestate: Update task summary for restart action
  overlord/servicestate/export_test.go
  overlord/servicestate/servicestate.go
  overlord/servicestate/servicestate_test.go
Labels: Simple 😃

#10661 cmd/libsnap-confine-private: device cgroup v2 support
  cmd/libsnap-confine-private/device-cgroup-support.c
  cmd/snap-confine/snap-confine.apparmor.in
Labels: Complex, cgroupv2

#10773 interfaces/builtin: fix microstack unit tests on distros using /usr/libexec
  interfaces/builtin/microstack_support_test.go
Labels: Simple 😃, Skip spread

#10628 usersession/xdgopenproxy: move PortalLauncher class to own package
  cmd/snap/cmd_run.go
  desktop/portal/document.go
  desktop/portal/document_test.go
  desktop/portal/export_test.go
  desktop/portal/launcher.go
  desktop/portal/launcher_test.go
  usersession/xdgopenproxy/export_test.go
  usersession/xdgopenproxy/portal_launcher.go
Labels: Squash-merge

#10759 tests: be more robust against a new day stepping in
  tests/main/snapd-state/task.yaml
Labels: Squash-merge

#10764 tests: increase memory quota in quota-groups-systemd-accounting
  tests/main/quota-groups-systemd-accounting/task.yaml
Labels: Squash-merge

#10776 cmd/libsnap-confine-private, tests, sandbox: remove warnings about cgroup v2, drop forced devmode
  cmd/libsnap-confine-private/cgroup-support.c
  sandbox/forcedevmode.go
  sandbox/forcedevmode_test.go
  tests/main/document-portal-activation/task.yaml
  tests/main/snapctl-is-connected/task.yaml
  tests/smoke/install/task.yaml
Labels: Simple 😃

#10775 packaging/ubuntu: pass GO111MODULE to dh_auto_test
  packaging/ubuntu-14.04/rules
  packaging/ubuntu-16.04/rules
Labels: Simple 😃

#10778 cmd: build gdb shims as static binaries
  cmd/Makefile.am
Labels: Simple 😃

#10731 sysconfig/cloudinit: add cloudDatasourcesInUseForDir
  sysconfig/cloudinit.go
  sysconfig/cloudinit_test.go
  sysconfig/export_test.go
Labels: Needs Samuele review, UC20, Skip spread

#10792 packaging: backports of golang-go 1.13 are good enough
  packaging/ubuntu-16.04/control
Labels: Simple 😃

#10785 tests: add test for store.SnapAction() request timeout
  store/export_test.go
  store/store.go
  store/store_action_test.go
Labels: Simple 😃, Test Robustness

#10781 tests: fix tests for 21.10
  tests/lib/pkgdb.sh
  tests/main/snap-confine-drops-sys-admin/task.yaml
  tests/main/snap-confine-privs/task.yaml
  tests/regression/lp-1812973/Makefile
Labels: Simple 😃

#10793 tests: fix regex of TestSnapActionTimeout test
  store/store_action_test.go
Labels: ⚠ Critical, Simple 😃, Skip spread

#10798 github: do not fail when codecov upload fails
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#10800 store: one more tweak for the test action timeout
  store/store_action_test.go
Labels: Simple 😃, Skip spread

#10703 tests/main/security-device-cgroups-strict-enforced: demonstrate device cgroup being enforced
  tests/bin/tests.device-cgroup
  tests/lib/pkgdb.sh
  tests/lib/tools/tests.device-cgroup
  tests/main/security-device-cgroups-strict-enforced/task.yaml
  tests/main/security-device-cgroups-strict-enforced/test-strict-cgroup/bin/sh
  tests/main/security-device-cgroups-strict-enforced/test-strict-cgroup/meta/snap.yaml
Labels: cgroupv2

#10779 tests/nested/manual: use loop for checking for initialize-system task done
  tests/nested/manual/core20-install-device-file-install-via-hook-hack/task.yaml
  tests/nested/manual/grade-signed-above-testkeys-boot/task.yaml
  tests/nested/manual/grade-signed-cloud-init-testkeys/task.yaml
Labels: Simple 😃, Run nested

#10799 tests/main/preseed: update for new base snap of the lxd snap
  tests/main/preseed-lxd/task.yaml
  tests/main/preseed/task.yaml
Labels: ⚠ Critical, Simple 😃, Test Robustness

#10774 asserts, snapstate: return full validation set keys from CheckPresenceRequired and CheckPresenceInvalid
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_remove_test.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#10765 o/snapstate: enforce validation sets/enforce on InstallMany
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/storehelpers.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#10809 .github/workflows/test.yaml: bump action-build to 1.0.9
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#10801 cmd/libsnap-confine-private: use root when necessary for BPF related operations
  cmd/libsnap-confine-private/device-cgroup-support.c
Labels: cgroupv2, cgroupv2-impish

#10782 o/ifacestate: do not create stray task in batchConnectTasks if there are no connections
  overlord/ifacestate/handlers.go
  overlord/ifacestate/ifacestate_test.go
  overlord/state/state_test.go
Labels: Bug

#10805 overlord/devicestate: make settle wait longer in remodel tests
  overlord/devicestate/devicestate_test.go
Labels: Squash-merge, Simple 😃, Skip spread

#10802 data/selinux: update the policy to allow s-c to manipulate BPF map and programs
  data/selinux/snappy.te
  packaging/fedora/snapd.spec
Labels: Simple 😃, cgroupv2

#10806 tests: rename interfaces-hooks-misbehaving spread test to install-hook-misbehaving
  tests/main/install-hook-misbehaving/task.yaml
Labels: Simple 😃, Skip spread

#10813 .github/workflows/test.yaml: revert #10809
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#10811 tests: update the time tolerance to fix the snapd-state test
  tests/main/snapd-state/task.yaml
Labels: Simple 😃

#10791 gadget/gadget.go: LaidOutSystemVolumeFromGadget -> LaidOutVolumesFromGadget
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/install/install.go
Labels: Simple 😃

#10817 libsnap-confine: use the pid parameter
  cmd/libsnap-confine-private/device-cgroup-support.c
Labels: Simple 😃

#10769 tests: update test nested tool part 2
  tests/lib/nested.sh
  tests/lib/tools/tests.nested
  tests/main/preseed-lxd/task.yaml
  tests/main/preseed-reset/task.yaml
  tests/main/preseed/task.yaml
  tests/nested/classic/hotplug/task.yaml
  tests/nested/core/core-revert/task.yaml
  tests/nested/core/core-snap-refresh-on-core/task.yaml
  tests/nested/core/core20-create-recovery/task.yaml
  tests/nested/core/core20-degraded/task.yaml
  tests/nested/core/core20-gadget-reseal/task.yaml
  tests/nested/core/core20-kernel-reseal/task.yaml
  tests/nested/core/core20-tpm/task.yaml
  tests/nested/core/coreconfig-services/task.yaml
  tests/nested/core/extra-snaps-assertions/task.yaml
  tests/nested/core/hotplug/task.yaml
  tests/nested/core/image-build/task.yaml
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/cloud-init-nocloud-not-vuln/task.yaml
  tests/nested/manual/core-early-config/task.yaml
  tests/nested/manual/core20-boot-config-update/task.yaml
  tests/nested/manual/core20-custom-kernel-commandline/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
  tests/nested/manual/core20-gadget-cloud-conf/task.yaml
  tests/nested/manual/core20-initramfs-time-moves-forward/task.yaml
  tests/nested/manual/core20-install-device-file-install-via-hook-hack/task.yaml
  tests/nested/manual/core20-install-mode-shutdown-via-hook/task.yaml
  tests/nested/manual/core20-save/task.yaml
  tests/nested/manual/devmode-snap-seeded-dangerous/task.yaml
  tests/nested/manual/grade-signed-above-testkeys-boot/task.yaml
  tests/nested/manual/grade-signed-cloud-init-testkeys/task.yaml
  tests/nested/manual/minimal-smoke/task.yaml
  tests/nested/manual/preseed/task.yaml
  tests/nested/manual/refresh-revert-fundamentals/task.yaml
  tests/nested/manual/snapd-refresh-from-old/task.yaml
  tests/nested/manual/uc20-fde-hooks-v1/task.yaml
  tests/nested/manual/uc20-storage-safety/task.yaml
Labels: Run nested

#10740 osutil: helper for injecting run time faults in snapd
  .github/workflows/test.yaml
  osutil/export_fault_test.go
  osutil/faultinject.go
  osutil/faultinject_dummy.go
  osutil/faultinject_dummy_test.go
  osutil/faultinject_test.go
  overlord/snapstate/backend/link.go
  packaging/ubuntu-16.04/rules
  tests/nested/core/core20-fault-inject/task.yaml
Labels: Run nested

#10795 o/assertstate: check installed snaps when refreshing validation set assertions
  daemon/api_validate.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/assertstate/bulk.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: validation-sets :white_check_mark:

#10819 interfaces/builtin/opengl.go: add libOpenGL.so* too
  interfaces/builtin/opengl.go
Labels: Simple 😃

#10797 usersession/client: refactor doMany() method
  usersession/client/client.go
Labels: Simple 😃

#10573 sysconfig/cloud-init: filter MAAS c-i config from ubuntu-seed on grade signed
  sysconfig/cloudinit.go
  sysconfig/cloudinit_test.go
  tests/nested/manual/core20-cloud-init-maas-signed-seed-data/50-cloudconfig-maas-cloud-config.cfg
  tests/nested/manual/core20-cloud-init-maas-signed-seed-data/50-cloudconfig-maas-datasource.cfg
  tests/nested/manual/core20-cloud-init-maas-signed-seed-data/50-cloudconfig-maas-reporting.cfg
  tests/nested/manual/core20-cloud-init-maas-signed-seed-data/50-cloudconfig-maas-ubuntu-sso.cfg
  tests/nested/manual/core20-cloud-init-maas-signed-seed-data/50-curtin-networking.cfg
  tests/nested/manual/core20-cloud-init-maas-signed-seed-data/defaults.yaml
  tests/nested/manual/core20-cloud-init-maas-signed-seed-data/prepare-device
  tests/nested/manual/core20-cloud-init-maas-signed-seed-data/task.yaml
Labels: UC20, Run nested

#10803 tests, interfaces/builtin: introduce 21.10 cgroupv2 variant, tweak tests for cgroupv2, update builtin interfaces
  .github/workflows/test.yaml
  interfaces/builtin/docker_support.go
  spread.yaml
  tests/lib/pkgdb.sh
  tests/main/cgroup-devices-v1/task.sh
  tests/main/cgroup-devices-v1/task.yaml
  tests/main/cgroup-devices-v1/test-snapd-service/bin/service
  tests/main/cgroup-devices-v1/test-snapd-service/meta/snap.yaml
  tests/main/cgroup-devices-v2/task.yaml
  tests/main/cgroup-devices-v2/test-snapd-service/bin/service
  tests/main/cgroup-devices-v2/test-snapd-service/bin/sh
  tests/main/cgroup-devices-v2/test-snapd-service/meta/snap.yaml
  tests/main/cgroup-freezer/task.yaml
  tests/main/security-device-cgroups-serial-port/task.yaml
  tests/main/security-device-cgroups/task.yaml
  tests/main/snapd-snap/task.yaml
  tests/regression/lp-1910456/task.yaml
Labels: cgroupv2, cgroupv2-impish

#10823 sysconfig: set TMPDIR in tests to avoid cluttering the real /tmp
  sysconfig/cloudinit_test.go
Labels: Skip spread

#10822 spread: display information about current device cgroup in debug dump
  spread.yaml
Labels: Simple 😃

#10814 o/ifacestate: don't lose connections if snaps are broken
  daemon/daemon_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/ifacestate_test.go
  tests/regression/lp-1943853/task.yaml
Labels: Squash-merge, Bug

#10715 secboot: move to new version
  go.mod
  go.sum
  secboot/export_sb_test.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
  secboot/test-data/keyfile
Labels: Run nested

#10815 fde: add HasDeviceUnlock() helper
  kernel/fde/fde.go
  kernel/fde/fde_test.go
Labels: Simple 😃, Skip spread

#10810 o/assertstate, api: update validation set assertions only when updating all snaps
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  daemon/export_test.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/snapstate/snapstate.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#7700 cmd/snap: wait while inhibition file is present
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  cmd/snap/export_test.go
  cmd/snap/inhibit.go
  cmd/snaplock/runinhibit/inhibit.go
Labels: Needs Samuele review, :birthday:

#10831 osutil/disks: add new `CreateLinearMapperDevice` helper
  osutil/disks/mapper.go
  osutil/disks/mapper_test.go
Labels: Skip spread

#10835 tests: fix lxd-mount-units test which is based on core20 in ubuntu focal system
  spread.yaml
  tests/main/lxd-mount-units/task.yaml
Labels: Simple 😃

#10834 tests: fix netplan test on i386 architecture
  tests/core/netplan/task.yaml
Labels: Simple 😃

#10837 cmd/libsnap-confine-private: fix set but unused variable in the unit tests
  cmd/libsnap-confine-private/cgroup-support-test.c
Labels: Simple 😃

#10840 tests/main/security-device-cgroups: fix when both variants run on the same host
  tests/main/security-device-cgroups/task.yaml
Labels: Simple 😃

#10842 interfaces/apparmor/template.go: allow inspection of dbus mediation level
  interfaces/apparmor/template.go
Labels: Simple 😃

#10841 interfaces/dsp: add a usb rule to the ambarella flavor
  interfaces/builtin/dsp.go
Labels: ⚠ Critical, Simple 😃

#10832 tests: skip system-usernames-microk8s when TRUST_TEST_KEYS is false
  tests/main/system-usernames-microk8s/task.yaml
Labels: Simple 😃

#10826 cmd/libsnap-confine-private: workaround BPF memory accounting, update apparmor profile
  cmd/libsnap-confine-private/device-cgroup-support.c
  cmd/snap-confine/snap-confine.apparmor.in
Labels: cgroupv2-impish

#10820 devicestate: use EncryptionType
  gadget/install/install.go
  gadget/install/params.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  secboot/encrypt.go
  tests/lib/uc20-create-partitions/main.go
Labels: Run nested

#10833 tests: fix error trying to create the extra-snaps dir which already exists
  tests/nested/manual/core20-cloud-init-maas-signed-seed-data/task.yaml
Labels: Simple 😃, Run nested

#10737 o/snapstate: validation sets enforcing on update
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_remove_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
  store/store_action.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#10845 interfaces/seccomp: add clone3 to default template
  interfaces/seccomp/template.go
Labels: Simple 😃

#10852 osutil/disks: add DiskFromDevicePath, other misc changes
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
  osutil/disks/export_test.go
  osutil/disks/mockdisk.go
Labels: Simple 😃, UC20

#10855 tests: reset some mount units failing on ubuntu impish
  tests/main/degraded/task.yaml
Labels: Simple 😃

#10856 osutil/disks: add Disk.KernelDevice{Node,Path} methods
  osutil/disks/disks.go
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
  osutil/disks/mockdisk.go
  osutil/disks/mockdisk_test.go
Labels: Simple 😃

#10857 osutil/disks: add Partition struct and Disks.Partitions()
  osutil/disks/disks.go
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
  osutil/disks/mockdisk.go
  osutil/disks/mockdisk_test.go
Labels: Simple 😃

#10853 tests: use the latest cpu family for nested tests execution
  spread.yaml
Labels: Run nested

#10858 osutil/disks: add Disk.FindMatchingPartitionWith{Fs,Part}Label
  osutil/disks/disks.go
  osutil/disks/disks_linux_test.go
  osutil/disks/mockdisk.go
  osutil/disks/mockdisk_test.go
Labels: Simple 😃
