Repository canonical/snapd, pull requests merged in 2021-03, with the labels that each got.

#9968 cmd/snap-bootstrap/triggerwatch: fix returning wrong errors
  cmd/snap-bootstrap/triggerwatch/evdev.go
  cmd/snap-bootstrap/triggerwatch/triggerwatch.go
Labels: UC20

#9895 gadget/many: rm, delay sector size + structure size checks to runtime
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/install/install.go
  gadget/install/install_test.go
  gadget/install/partition_test.go
  gadget/layout.go
  gadget/layout_test.go
  gadget/ondisk.go
  gadget/ondisk_test.go
  gadget/update.go
Labels: Run nested, UC20

#9962 asserts: include the assertion timestamp in error message when outside of signing key validity range
  asserts/account_test.go
  asserts/database.go
  asserts/model_test.go
  asserts/snap_asserts_test.go
Labels: Simple 😃

#9930 asserts: pool changes for validation-sets
  asserts/database.go
  asserts/export_test.go
  asserts/pool.go
  asserts/pool_test.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#9910 client, o/servicestate: expose enabled state of user daemons
  client/apps.go
  client/clientutil/snapinfo.go
  client/clientutil/snapinfo_test.go
  cmd/snap/cmd_services.go
  cmd/snap/cmd_services_test.go
  daemon/api_apps_test.go
  daemon/api_snaps_test.go
  overlord/hookstate/ctlcmd/services.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/servicestate/servicestate.go
  overlord/servicestate/servicestate_test.go
  systemd/systemd.go
  systemd/systemd_test.go
  tests/main/snap-services/task.yaml
Labels: Needs Samuele review

#9978 asserts: use Fetcher in AddSequenceToUpdate
  asserts/pool.go
  asserts/pool_test.go
Labels: validation-sets :white_check_mark:

#9985 boot: fix typo, should be systems
  boot/modeenv.go
Labels: Simple 😃, Skip spread

#9977 bootloader/lkenv: add recovery systems related variables
  bootloader/lkenv/lkenv_test.go
  bootloader/lkenv/lkenv_v2.go
  include/lk/snappy_boot_v2.h
Labels: Simple 😃, Skip spread

#9907 gadget,devicestate: perform kernel asset update for $kernel: style refs
  gadget/layout.go
  gadget/layout_test.go
  gadget/update.go
  gadget/update_test.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/devicestate/handlers_gadget.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  tests/core/gadget-kernel-refs-update-pc/task.yaml
Labels: UC20

#9979 packaging/ubuntu-16.04/rules: turn modules off explicitly
  packaging/ubuntu-16.04/rules
  tests/unit/go/task.yaml
Labels: Simple 😃, ⚠ Critical

#9969 interfaces/wayland: rm Xwayland Xauth file access from wayland slot
  interfaces/builtin/wayland.go
  interfaces/builtin/x11.go
Labels: Needs security review

#9973 osutil: add SetTime() w/ 32-bit and 64-bit implementations
  osutil/export_test.go
  osutil/settime.go
  osutil/settime_32bit.go
  osutil/settime_64bit.go
  osutil/settime_test.go
Labels: Simple 😃, UC20

#9991 tests/main/lxd/prep-snapd-in-lxd.sh: dump contents of sources.list
  tests/main/lxd/prep-snapd-in-lxd.sh
Labels: Simple 😃, Test Robustness

#9988 o/snapshotstate: create snapshots directory on import
  overlord/snapshotstate/backend/backend.go
  overlord/snapshotstate/backend/backend_test.go
  tests/main/snapshot-basic/task.yaml
Labels: Bug, Simple 😃, Squash-merge

#9993 tests/lib/prepare.sh: use /etc/group and friends from the core20 snap
  tests/core/netplan/task.yaml
  tests/lib/prepare.sh
Labels: Simple 😃, Test Robustness

#10002 gadget: simplify filterUpdate (thanks to Maciej)
  gadget/update.go
Labels: Simple 😃

#9976 tests/unit/go: use tests.session wrapper for running tests as a user
  secboot/secboot_tpm_test.go
  tests/unit/go/task.yaml
Labels: Simple 😃, Test Robustness

#9921 boot: helper for setting up a try recover system
  boot/seal.go
  boot/seal_test.go
  boot/systems.go
  boot/systems_test.go
  bootloader/bootloadertest/bootloadertest.go
Labels: UC20

#10009 boot: export bootAssetsMap as AssetsMap
  boot/assets.go
  boot/assets_test.go
  boot/boot_test.go
  boot/export_test.go
  boot/makebootable.go
  boot/modeenv.go
  boot/modeenv_test.go
  boot/seal_test.go
  boot/systems_test.go
Labels: Simple 😃, UC20

#9989 boot: reseal the run key for all recovery systems, but recovery keys only for the good ones
  boot/seal.go
  boot/seal_test.go
  boot/systems_test.go
Labels: Run nested

#9914 image: write resolved-content from snap prepare-image
  gadget/gadget.go
  gadget/update.go
  gadget/validate.go
  image/export_test.go
  image/helpers.go
  image/helpers_test.go
  image/image_linux.go
  image/image_test.go
Labels: Skip spread

#10015 boot: simplify systems test setup
  boot/systems_test.go
Labels: Simple 😃, Skip spread

#10017 gadget: remove `device-tree{,-origin}` from gadget tests
  gadget/gadget_test.go
Labels: Simple 😃, Skip spread

#10007 o/configstate, o/snapshotstate: fix handling of nil snap config on snapshot restore
  overlord/configstate/config/helpers.go
  overlord/configstate/config/helpers_test.go
  overlord/configstate/config/transaction.go
  overlord/configstate/config/transaction_test.go
  overlord/snapshotstate/snapshotmgr.go
  overlord/snapshotstate/snapshotmgr_test.go
  tests/main/snapshot-basic/task.yaml
  tests/main/snapshot-basic/test-snap/bin/sh
  tests/main/snapshot-basic/test-snap/meta/hooks/configure
  tests/main/snapshot-basic/test-snap/meta/snap.yaml
Labels: Bug, Needs Samuele review, Squash-merge

#10016 boot: helper for inspecting the outcome of a recovery system try
  boot/systems.go
  boot/systems_test.go
Labels: Simple 😃

#9922 api: validation sets monitor mode
  daemon/api_validate.go
  daemon/api_validate_test.go
  daemon/export_api_validate_test.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/assertstate/bulk.go
  overlord/assertstate/validation_set_tracking.go
  tests/main/snap-validate-basic/task.yaml
Labels: Needs Samuele review, validation-sets :white_check_mark:

#10025 api: local assertion fallback when it's not in the store
  daemon/api_validate.go
  daemon/api_validate_test.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#10001 tests: improve tests self documentation for nested test suite
  tests/nested/classic/hotplug/task.yaml
  tests/nested/classic/snapshots-with-core-refresh-revert/task.yaml
  tests/nested/core/core-revert/task.yaml
  tests/nested/core/core-snap-refresh-on-core/task.yaml
  tests/nested/core20/basic/task.yaml
  tests/nested/core20/boot-config-update/task.yaml
  tests/nested/core20/gadget-reseal/task.yaml
  tests/nested/core20/kernel-failover/task.yaml
  tests/nested/core20/kernel-reseal/task.yaml
  tests/nested/core20/tpm/task.yaml
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/core-early-config/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
  tests/nested/manual/core20-save/task.yaml
  tests/nested/manual/devmode-snap-seeded-dangerous/task.yaml
  tests/nested/manual/grade-signed-above-testkeys-boot/task.yaml
  tests/nested/manual/grade-signed-cloud-init-testkeys/task.yaml
  tests/nested/manual/minimal-smoke/task.yaml
  tests/nested/manual/refresh-revert-fundamentals/task.yaml
  tests/nested/manual/uc20-fde-hooks/task.yaml
  tests/nested/manual/uc20-storage-safety/task.yaml
Labels: Run nested

#10030 daemon: validation sets/api tests cleanup
  daemon/api_validate_test.go
Labels: validation-sets :white_check_mark:

#10034 tests/main/uc20-create-partitions: fix tests cleanup
  tests/main/uc20-create-partitions-encrypt/task.yaml
  tests/main/uc20-create-partitions-reinstall/task.yaml
  tests/main/uc20-create-partitions/task.yaml
Labels: Simple 😃

#10036 interfaces/apparmor: allow reading /proc/sys/kernel/random/entropy_avail
  interfaces/apparmor/template.go
Labels: Simple 😃

#9924 interfaces/docker-support: add autobind unix rules to docker-support
  interfaces/builtin/docker_support.go
  interfaces/builtin/kubernetes_support.go
  interfaces/builtin/kubernetes_support_test.go
Labels: Needs Samuele review, Simple 😃

#10022 boot, o/devicestate: split makeBootable20 into two parts
  boot/makebootable.go
  boot/makebootable_test.go
  image/image_linux.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
Labels: Run nested, UC20

#10039 daemon: switch preexisting daemon_test tests to apiBaseSuite and .req
  daemon/api_asserts_test.go
  daemon/api_cohort_test.go
  daemon/api_download.go
  daemon/api_download_test.go
  daemon/api_snap_file_test.go
  daemon/api_snapshots_test.go
  daemon/api_themes_test.go
  daemon/export_api_asserts_test.go
  daemon/export_api_cohort_test.go
  daemon/export_api_download_test.go
  daemon/export_api_snap_file_test.go
  daemon/export_api_snapshots_test.go
  daemon/export_test.go
Labels: Cleanup :broom:, Skip spread

#10033 tests: run the reset.sh helper and check test invariants while the test is restored
  tests/lib/prepare-restore.sh
  tests/lib/reset.sh
Labels: Simple 😃, Squash-merge

#10041 interfaces/builtin: update unit tests to use proper distro's libexecdir
  interfaces/builtin/allegro_vcu_test.go
  interfaces/builtin/media_control_test.go
Labels: Simple 😃, Skip spread

#10005 seed: ReadSystemEssentialAndBetterEarliestTime
  asserts/batch.go
  asserts/batch_test.go
  seed/helpers.go
  seed/seed.go
  seed/seed16.go
  seed/seed20.go
  seed/seed20_test.go
  seed/seedtest/seedtest.go
Labels: Squash-merge

#9870 vendor: update go-tpm2/secboot to latest version
  secboot/secboot_tpm.go
  secboot/secboot_tpm_test.go
  vendor/vendor.json
Labels: Squash-merge

#9959 o/snapstate: update validation sets assertions with auto-refresh
  daemon/api_validate_test.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#9307 interfaces/tee: add TEE/OPTEE interface
  interfaces/builtin/tee.go
  interfaces/builtin/tee_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Squash-merge

#10006 cmd/snap-bootstrap: refactor handling of ubuntu-save, do not use secboot's implicit fallback
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/degraded-recover-mode.svg
  secboot/secboot.go
  secboot/secboot_tpm.go
Labels: Run nested

#10060 boot: extend set try recovery system unit tests
  boot/systems_test.go
Labels: Simple 😃, Skip spread

#10045 cmd/snap/pack: unhide the compression option
  cmd/snap/cmd_pack.go
Labels: Simple 😃

#10044 packaging: drop dh-systemd from build-depends on ubuntu-16.04+
  packaging/ubuntu-16.04/control
  tests/lib/pkgdb.sh
Labels: Squash-merge, ⚠ Critical

#10063 o/{device,hook}state: encode fde-setup-request key as base64 string
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/fde/fde.go
  overlord/hookstate/ctlcmd/fde_setup_test.go
  tests/lib/fde-setup-hook/fde-setup.go
Labels: Bug, Run nested, UC20, ⚠ Critical

#10074 daemon: fix signing key validity timestamp in unit tests
  daemon/api_users_test.go
Labels: Simple 😃, Skip spread

#10059 cmd/snap: use less aggressive client timeouts in unit tests
  client/client_test.go
  cmd/snap/cmd_services_test.go
  cmd/snap/cmd_snap_op_test.go
Labels: Simple 😃, Skip spread

#10037 boot: export helper for clearing tried system state, add tests
  boot/systems.go
  boot/systems_test.go
Labels: Simple 😃

#10035 o/devicestate: split off ensuring next boot goes to run mode into new task
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
Labels: Simple 😃, UC20

#10072 tests/lib/fde-setup-hook: also verify that fde-reveal-key key data is base64
  tests/lib/fde-setup-hook/fde-setup.go
Labels: Run nested, Simple 😃, Test Robustness, UC20

#10071 packaging: drop dh-systemd from build-depends on ubuntu-16.04+ (2.49)
  packaging/ubuntu-16.04/control
  snap/info_snap_yaml_test.go
  tests/lib/pkgdb.sh
  tests/main/preseed-reset/task.yaml
  tests/main/preseed/task.yaml
Labels: ⚠ Critical

#10070 tests/core/fsck-on-boot: unmount /run/mnt/snapd directly on uc20
  tests/core/fsck-on-boot/task.yaml
Labels: Simple 😃, Test Robustness

#10062 tests: validation sets spread test
  daemon/api_validate.go
  daemon/api_validate_test.go
  tests/main/snap-validate-basic/task.yaml
  tests/main/snap-validate-basic/vs1.assert
  tests/main/snap-validate-basic/vs1.json
Labels: validation-sets :white_check_mark:

#10058 cla-check: Use has-signed-canonical-cla GitHub Action
  .github/workflows/cla-check.yaml
  tests/lib/cla_check.py
Labels: Skip spread

#10075 interfaces/udisks2: allow locking /run/mount/utab for udisks 2.8.4
  interfaces/builtin/udisks2.go
Labels: Needs Samuele review

#10048 o/configstate: deal with no longer valid refresh.timer=managed
  overlord/configstate/configcore/refresh.go
  overlord/configstate/configcore/refresh_test.go
  tests/main/interfaces-snapd-control-with-manage/task.yaml
Labels: Bug, Needs Samuele review, Squash-merge

#10076 tests: fix snap-advise-command check for 429
  tests/main/snap-advise-command/task.yaml
Labels: Simple 😃, Test Robustness

#10054 overlord/snapstate, wrappers: add dependency on usr-lib-snapd.mount for services on core with snapd snap
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  wrappers/core18.go
  wrappers/services.go
  wrappers/services_gen_test.go
Labels: Squash-merge

#10065 tests: reset the system while preparing the test suite
  tests/lib/prepare-restore.sh
Labels: Simple 😃

#10051 cmd/snap-bootstrap/initramfs-mounts: move time forward using assertion times
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
  cmd/snap-bootstrap/initramfs_mounts_state.go
  tests/lib/nested.sh
  tests/lib/prepare.sh
  tests/nested/manual/core20-initramfs-time-moves-forward/task.yaml
Labels: Run nested, Squash-merge, UC20

#10081 interfaces, interfaces/apparmor, overlord/snapstate: late removal of snap-confine apparmor profiles
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/backend.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_discard_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_remove_test.go
  overlord/snapstate/snapstate_test.go
Labels: Squash-merge

#10087 release: 2.49.2
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#10094 overlord/snapstate: skip catalog refresh when snappy testing is enabled
  overlord/snapstate/catalogrefresh.go
  overlord/snapstate/catalogrefresh_test.go
  tests/main/apt-hooks/task.yaml
  tests/main/snap-advise-command/task.yaml
Labels: Simple 😃

#9940 boot: cmd/snap-bootstrap: handle a candidate recovery system v2
  boot/initramfs.go
  boot/systems.go
  boot/systems_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
  tests/core/uc20-try-recovery/task.yaml
Labels: Run nested, UC20

#10090 interfaces/apparmor: followup cleanups, comments and tweaks
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
Labels: Simple 😃, Skip spread

#10093 o/configstate/configcore/picfg.go: add hdmi_cvt support
  overlord/configstate/configcore/picfg.go
Labels: Simple 😃, Skip spread

#10092 tests: uboot-unpacked-assets updated to reflect the real path used to find the kernel
  tests/core/uboot-unpacked-assets/task.yaml
Labels: Simple 😃

#10086 tests: unifying the core20 nested suite with the core nested suite
  spread.yaml
  tests/lib/nested.sh
  tests/nested/core/core20-basic/task.yaml
  tests/nested/core/core20-boot-config-update/task.yaml
  tests/nested/core/core20-degraded/task.yaml
  tests/nested/core/core20-gadget-reseal/manip_gadget.py
  tests/nested/core/core20-gadget-reseal/task.yaml
  tests/nested/core/core20-kernel-failover/task.yaml
  tests/nested/core/core20-kernel-reseal/task.yaml
  tests/nested/core/core20-tpm/task.yaml
  tests/nested/core/hotplug/task.yaml
  tests/nested/manual/core20-save/task.yaml
Labels: Run nested

#10089 o/configstate/configcore: simple refactors in preparation for new function
  overlord/configstate/configcore/corecfg_test.go
  overlord/configstate/configcore/handlers.go
  overlord/configstate/configcore/runwithstate.go
  overlord/configstate/configcore/utils.go
Labels: Simple 😃, UC20

#10073 o/devicestate/devicemgr: register install-device hook, run if present in install
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/devicestate_serial_test.go
  snap/hooktypes.go
Labels: Needs Samuele review, Run nested, UC20
