Repository canonical/snapd, pull requests merged in 2021-01, with the labels that each got.

#9806 run-checks: update to match new argument syntax of ineffassign
  run-checks
Labels: Simple 😃, Skip spread

#9807 tests/main/cohorts: replace yq with a Python snippet
  tests/lib/snaps/test-snapd-sh/bin/cmd
  tests/lib/snaps/test-snapd-sh/meta/snap.yaml
  tests/main/cohorts/task.yaml
Labels: Simple 😃, ⚠ Critical

#9811 tests: fix library path used for tests.pkgs
  tests/lib/pkgdb.sh
Labels: Simple 😃

#9808 tests/main/snap-validate-basic: disable test on Fedora due to go-flags panics
  tests/main/snap-validate-basic/task.yaml
Labels: Simple 😃

#9794 daemon: start moving implementation to api_snaps.go
  daemon/api.go
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
  daemon/api_snaps.go
  daemon/api_snapshots.go
  daemon/export_test.go
Labels: Cleanup :broom:

#9813 tests: use os-query tool to check debian, trusty and tumbleweed
  tests/lib/dirs.sh
  tests/lib/tools/tests.pkgs.apt.sh
Labels: Simple 😃

#9795 tests: improve hotplug test setup on classic
  tests/nested/classic/hotplug/task.yaml
Labels: Run nested

#9629 spdx: update to SPDX license list version: 3.11 2020-11-25
  spdx/licenses.go
  spdx/parser.go
  spdx/parser_test.go
Labels: Needs Samuele review, Simple 😃

#9776 gadget: add validation for "$kernel:ref" style content
  gadget/export_test.go
  gadget/validate.go
  gadget/validate_test.go
  kernel/kernel.go
  kernel/kernel_test.go
  kernel/validate.go
  kernel/validate_test.go
Labels: Skip spread, UC20

#9804 interfaces/opengl: allow RPi MMAL video decoding
  interfaces/builtin/opengl.go
  interfaces/builtin/opengl_test.go
Labels: Needs security review

#9778 asserts/repair.go: add "bases" and "modes" support to the repair assertion
  asserts/repair.go
  asserts/repair_test.go
  asserts/system_user_test.go
Labels: UC20

#9816 interfaces, wrappers: misc comment fixes, etc.
  interfaces/builtin/gpio.go
  interfaces/builtin/greengrass_support.go
  interfaces/core.go
  interfaces/udev/spec.go
  wrappers/services.go
Labels: Simple 😃, Skip spread

#9818 cmd/libsnap-confine-private: make unit tests execute happily in a container
  cmd/libsnap-confine-private/cleanup-funcs-test.c
Labels: Simple 😃, Skip spread

#9823 cmd/libsnap-confine-private/cleanup-funcs-test.c: rm g_autofree usage
  cmd/libsnap-confine-private/cleanup-funcs-test.c
Labels: Simple 😃, ⚠ Critical

#9826 interfaces/apparmor: drive by comment fix
  interfaces/apparmor/spec.go
Labels: Simple 😃, Skip spread

#9821 tests: skip interfaces-openvswitch spread test on debian sid
  tests/nightly/interfaces-openvswitch/task.yaml
Labels: Simple 😃

#9827 interfaces/builtin: more drive by fixes, import ordering, removing dead code
  interfaces/builtin/docker_support.go
  interfaces/builtin/home.go
  interfaces/builtin/kernel_module_observe_test.go
  interfaces/builtin/mir_test.go
  interfaces/builtin/ptp_test.go
  interfaces/builtin/raw_volume_test.go
  interfaces/builtin/u2f_devices.go
  interfaces/builtin/upower_observe_test.go
Labels: Simple 😃, Skip spread

#9828 sandbox/cgroup, tess/main: fix unit tests on v2 system, disable broken tests on sid
  sandbox/cgroup/process_test.go
  tests/main/cgroup-devices/task.yaml
  tests/main/cgroup-freezer/task.yaml
  tests/main/security-device-cgroups/task.yaml
  tests/main/snap-device-helper-nvme/task.yaml
  tests/main/snapctl-is-connected/task.yaml
Labels: Simple 😃

#9803 many: clarify gadget role-usage consistency checks for UC16/18 vs UC20
  gadget/export_test.go
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/install/install_test.go
  gadget/install/partition_test.go
  gadget/validate.go
  gadget/validate_test.go
Labels: Cleanup :broom:, Run nested, UC20

#9833 tests: skip main part of snap-advise test if 429 error is encountered
  tests/main/snap-advise-command/task.yaml
Labels: Test Robustness

#9831 interfaces/builtin: fix unit test expecting snap-device-helper at /usr/lib/snapd
  interfaces/builtin/alsa_test.go
  interfaces/builtin/audio_playback_test.go
  interfaces/builtin/block_devices_test.go
  interfaces/builtin/bluetooth_control_test.go
  interfaces/builtin/bluez_test.go
  interfaces/builtin/broadcom_asic_control_test.go
  interfaces/builtin/camera_test.go
  interfaces/builtin/common_test.go
  interfaces/builtin/device_buttons_test.go
  interfaces/builtin/dvb_test.go
  interfaces/builtin/fpga_test.go
  interfaces/builtin/framebuffer_test.go
  interfaces/builtin/fuse_support_test.go
  interfaces/builtin/hardware_random_control_test.go
  interfaces/builtin/hardware_random_observe_test.go
  interfaces/builtin/hidraw_test.go
  interfaces/builtin/i2c_test.go
  interfaces/builtin/iio_test.go
  interfaces/builtin/intel_mei_test.go
  interfaces/builtin/io_ports_control_test.go
  interfaces/builtin/joystick_test.go
  interfaces/builtin/kernel_module_control_test.go
  interfaces/builtin/kubernetes_support_test.go
  interfaces/builtin/mir_test.go
  interfaces/builtin/modem_manager_test.go
  interfaces/builtin/network_control_test.go
  interfaces/builtin/network_manager_test.go
  interfaces/builtin/ofono_test.go
  interfaces/builtin/opengl_test.go
  interfaces/builtin/optical_drive_test.go
  interfaces/builtin/physical_memory_control_test.go
  interfaces/builtin/physical_memory_observe_test.go
  interfaces/builtin/ppp_test.go
  interfaces/builtin/ptp_test.go
  interfaces/builtin/pulseaudio_test.go
  interfaces/builtin/raw_usb_test.go
  interfaces/builtin/raw_volume_test.go
  interfaces/builtin/serial_port_test.go
  interfaces/builtin/spi_test.go
  interfaces/builtin/time_control_test.go
  interfaces/builtin/tpm_test.go
  interfaces/builtin/u2f_devices_test.go
  interfaces/builtin/udisks2_test.go
  interfaces/builtin/uinput_test.go
  interfaces/builtin/uio_test.go
  interfaces/builtin/vcio_test.go
  interfaces/builtin/wayland_test.go
  interfaces/builtin/x11_test.go
Labels: Simple 😃

#9513 snapshotstate: detect duplicated snapshot imports
  client/snapshot.go
  client/snapshot_test.go
  overlord/snapshotstate/backend/backend.go
  overlord/snapshotstate/backend/backend_test.go
  overlord/snapshotstate/backend/export_test.go
  overlord/snapshotstate/snapshotstate.go
  overlord/snapshotstate/snapshotstate_test.go
  tests/main/snapshot-basic/task.yaml
Labels: Needs Samuele review

#9732 asserts: snapasserts method to validate installed snaps against validation sets
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
Labels: validation-sets :white_check_mark:

#9836 cmd/snap-repair: save base snap and mode in device info; other misc cleanups
  cmd/snap-repair/cmd_run_test.go
  cmd/snap-repair/runner.go
  cmd/snap-repair/runner_test.go
Labels: Needs Samuele review, Simple 😃, UC20

#9777 gadget: add gadget.ResolveContentPaths()
  gadget/gadget.go
  gadget/layout.go
  gadget/layout_test.go
Labels: Skip spread, UC20

#9838 asserts: sort by revision with Sort interface
  asserts/snapasserts/export_test.go
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
Labels: validation-sets :white_check_mark:

#9815 {,sec}boot: pass "key-name" to the FDE hooks
  boot/seal.go
  boot/seal_test.go
  secboot/secboot.go
Labels: Needs Samuele review, UC20

#9847 cgroup-support.c: fix link to CGROUP DELEGATION
  cmd/libsnap-confine-private/cgroup-support.c
Labels: Simple 😃, Skip spread

#9849 tests/main/snap-network-errors: skip flushing dns cache on centos-7
  tests/main/snap-network-errors/task.yaml
Labels: Simple 😃, Test Robustness

#9851 o/snapshotstate: fix returning of snap names when duplicated snapshot is detected
  overlord/snapshotstate/backend/backend.go
  overlord/snapshotstate/backend/backend_test.go
  overlord/snapshotstate/snapshotstate.go
  overlord/snapshotstate/snapshotstate_test.go
Labels: Bug

#9854 gadget: pass sector size in to mkfs family of functions, use to select block sz
  gadget/install/content.go
  gadget/install/install.go
  gadget/internal/mkfs.go
  gadget/internal/mkfs_test.go
Labels: UC20

#9860 tests: update test pkg for fedora and centos
  tests/lib/tools/tests.pkgs.dnf-yum.sh
Labels: Simple 😃

#9819 snap-confine: make host /etc/ssl available for snaps on classic
  cmd/libsnap-confine-private/classic-test.c
  cmd/libsnap-confine-private/classic.c
  cmd/libsnap-confine-private/classic.h
  cmd/snap-confine/mount-support.c
  tests/main/ca-certs-for-snaps/task.yaml
  tests/main/dirs-not-shared-with-host/task.yaml
  tests/main/mount-ns/google.ubuntu-16.04-64/PER-SNAP-16.expected.txt
  tests/main/mount-ns/google.ubuntu-16.04-64/PER-SNAP-18.expected.txt
  tests/main/mount-ns/google.ubuntu-16.04-64/PER-USER-16.expected.txt
  tests/main/mount-ns/google.ubuntu-16.04-64/PER-USER-18.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-SNAP-16.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-SNAP-18.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-USER-16.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-USER-18.expected.txt
Labels: Needs Samuele review, Squash-merge

#9837 cmd/snap-repair: filter repair assertions based on bases + modes
  cmd/snap-repair/export_test.go
  cmd/snap-repair/runner.go
  cmd/snap-repair/runner_test.go
Labels: Needs Samuele review, UC20

#9852 gadget: enable multi-volume uc20 gadgets in LaidOutSystemVolumeFromGadget; rename too
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/install/install.go
  gadget/install/install_test.go
  gadget/install/partition_test.go
Labels: Bug, UC20

#9857 bootloader/assets: support injecting bootloader assets in testing builds of snapd
  .github/workflows/test.yaml
  bootloader/assets/assets.go
  bootloader/assets/assets_test.go
  bootloader/assets/assetstesting.go
  bootloader/withbootassettesting.go
  bootloader/withbootassettesting_test.go
  packaging/ubuntu-16.04/rules
Labels: Run nested, Simple 😃

#9863 tests: use 6 spread workers for centos8
  spread.yaml
Labels: Simple 😃

#9864 gadget/gadget.go: rename ubuntu-* to system-* in doc-comment
  gadget/gadget.go
Labels: Simple 😃, Skip spread

#9817 cmd/snapd-generator: don't create mount overrides for snap-try snaps inside lxc
  cmd/libsnap-confine-private/infofile-test.c
  cmd/libsnap-confine-private/infofile.c
  cmd/libsnap-confine-private/infofile.h
  cmd/snapd-generator/main.c
  tests/main/lxd-try/task.yaml
Labels: Bug, Security-High, Squash-merge

#9866 osutil/stat.go: add RegularFileExists
  osutil/stat.go
  osutil/stat_test.go
Labels: Simple 😃, Skip spread

#9820 o/snapshotstate: handle conflicts between snapshot forget, export and import
  daemon/api_snapshots.go
  daemon/api_snapshots_test.go
  daemon/export_api_snapshots_test.go
  daemon/response.go
  overlord/snapshotstate/backend/backend.go
  overlord/snapshotstate/backend/backend_test.go
  overlord/snapshotstate/export_test.go
  overlord/snapshotstate/snapshotmgr.go
  overlord/snapshotstate/snapshotmgr_test.go
  overlord/snapshotstate/snapshotstate.go
  overlord/snapshotstate/snapshotstate_test.go
Labels: Squash-merge

#9771 boot: boot config update & reseal
  boot/assets_test.go
  boot/boot.go
  boot/boot_test.go
  boot/cmdline.go
  boot/seal.go
  boot/seal_test.go
Labels: Run nested, UC20

#9862 github, run-checks: do not collect coverage data on subsequent test runs
  .github/workflows/test.yaml
  run-checks
Labels: Skip spread

#9234 systemd/systemd.go: support journald JSON messages with arrays for values
  systemd/systemd.go
  systemd/systemd_test.go
Labels: Bug

#9858 cmd/snap-repair/runner.go: add SNAP_SYSTEM_MODE to env of repair runner
  cmd/snap-repair/runner.go
  cmd/snap-repair/runner_test.go
Labels: Simple 😃, UC20

#9871 daemon: move query /snaps/<name> tests to api_snaps_test.go
  daemon/api_snaps_test.go
  daemon/api_test.go
  daemon/export_api_snaps_test.go
Labels: Cleanup :broom:, Skip spread

#9865 interfaces/browser-support: allow sched_setaffinity with browser-sandbox: true
  interfaces/builtin/browser_support.go
Labels: Bug, Simple 😃

#9856 gadget,overlord: pass kernelRoot to install.Run()
  gadget/install/install.go
  gadget/install/install_dummy.go
  gadget/install/install_test.go
  gadget/update.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  tests/lib/uc20-create-partitions/main.go
  tests/main/uc20-create-partitions-encrypt/task.yaml
  tests/main/uc20-create-partitions-reinstall/task.yaml
  tests/main/uc20-create-partitions/task.yaml
Labels: UC20

#9744 OpenGL interface: Support more Tegra libs
  cmd/snap-confine/mount-support-nvidia.c
  interfaces/builtin/opengl.go
Labels: Squash-merge

#9881 tests/unit/go: drop unused environment variables, skip coverage
  tests/unit/go/task.yaml
Labels: Simple 😃

#9879 osutil/many: make all test pkgs osutil_test instead of "osutil"
  osutil/chdir_test.go
  osutil/cp_linux_test.go
  osutil/cp_test.go
  osutil/exitcode_test.go
  osutil/export_test.go
  osutil/fshelpers_test.go
  osutil/outputerr_test.go
  osutil/stat_test.go
Labels: Cleanup :broom:, Simple 😃, Test Robustness

#9882 spread: use full format when listing processes
  spread.yaml
Labels: Simple 😃
