Repository canonical/snapd, pull requests merged in 2021-11, with the labels that each got.

#10913 docs: update HACKING.md instructions for snapd 2.52 and later
  HACKING.md
Labels: Simple 😃, Documentation, Skip spread

#10986 osutil/disks: re-org methods for end of usable region, size information
  osutil/disks/blockdev.go
  osutil/disks/disks.go
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
  osutil/disks/mockdisk.go
Labels: Simple 😃, Skip spread

#10943 o/snapstate: fix task order, tweak errors, add unit tests for remodel helpers
  overlord/devicestate/devicestate_remodel_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Needs Samuele review, Run nested

#10993 o/snapstate: avoid validationSetsSuite repeating snapmgrTestSuite
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
Labels: Skip spread

#10996 tests: disable flaky "interfaces-udisks2" on ubuntu-18.04-32
  tests/main/interfaces-udisks2/task.yaml
Labels: Flaky Test

#10994 tests: disable nested lxd snapd testing
  tests/main/lxd/task.yaml
Labels: Flaky Test

#10970 cmd/snap: improve snap disconnect arg parsing and err msg
  cmd/snap/cmd_disconnect.go
  cmd/snap/cmd_disconnect_test.go
  cmd/snap/complete.go
  cmd/snap/interfaces_common.go
  cmd/snap/interfaces_common_test.go
  tests/main/snap-disconnect/task.yaml
Labels: Simple 😃

#10981 interfaces/dsp: add more ambarella things
  interfaces/builtin/dsp.go
  interfaces/builtin/dsp_test.go
Labels: Squash-merge, Simple 😃

#11000 snapstate: add debug message where a snap is mounted
  overlord/snapstate/handlers.go
Labels: Simple 😃, Skip spread

#11002 tests: increase timeout/add debug around nbd0 mounting
  tests/lib/preseed.sh
  tests/main/preseed-lxd/task.yaml
Labels: Simple 😃

#10241 tests: set memory limit for snapd
  spread.yaml
  tests/core/failover/task.yaml
  tests/core/gadget-kernel-refs-update-pc/task.yaml
  tests/core/snapd-refresh-vs-services/task.yaml
  tests/core/snapd-refresh/task.yaml
  tests/core/system-snap-refresh/task.yaml
  tests/core/upgrade/task.yaml
  tests/lib/prepare-restore.sh
  tests/lib/prepare.sh
  tests/main/catalog-update/task.yaml
  tests/main/disk-space-awareness/task.yaml
  tests/main/docker-smoke/task.yaml
  tests/main/install-cache/task.yaml
  tests/main/lxd-services-smoke/task.yaml
  tests/main/network-retry/task.yaml
  tests/main/refresh-delta/task.yaml
  tests/main/selinux-clean/task.yaml
  tests/main/snap-advise-command/task.yaml
  tests/main/snap-userd-reexec/task.yaml
  tests/main/snapd-certs/task.yaml
  tests/main/snapd-reexec/task.yaml
  tests/main/snapd-without-core/task.yaml
  tests/main/snapshot-basic/task.yaml
  tests/main/stale-base-snap/task.yaml
  tests/upgrade/basic/task.yaml
Labels: Simple 😃

#11004 tests: give interfaces-udisks2 more time for the loop device to appear
  tests/main/interfaces-udisks2/task.yaml
Labels: Simple 😃, Test Robustness

#11001 spread.yaml: show `journalctl -e` for all suites on debug
  spread.yaml
Labels: Simple 😃

#11010 tests: misc robustness changes
  spread.yaml
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/core20-cloud-init-maas-signed-seed-data/task.yaml
Labels: Simple 😃, Test Robustness, Run nested

#10985 o/hookstate: print cohort with snapctl refresh --pending
  overlord/hookstate/ctlcmd/fde_setup_test.go
  overlord/hookstate/ctlcmd/is_connected_test.go
  overlord/hookstate/ctlcmd/refresh.go
  overlord/hookstate/ctlcmd/refresh_test.go
Labels: Squash-merge, Refresh control

#11012 tests: add more debug around qemu-nbd
  tests/lib/preseed.sh
  tests/main/preseed-lxd/task.yaml
Labels: Simple 😃, Test Robustness

#11006 sandbox/cgroup: freeze and thaw cgroups related to services and scopes only
  sandbox/cgroup/freezer.go
  sandbox/cgroup/freezer_test.go
Labels: Simple 😃

#11005 tests: initialize CHANGE_ID in _wait_autorefresh
  tests/lib/tools/snapd-state
Labels: Test Robustness

#10895 many: wait for up to 10min for NTP syncronization before autorefresh
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  timeutil/synchronized.go
  timeutil/synchronized_test.go
Labels: Squash-merge, Needs Samuele review

#11011 tests: add `--debug` to netplan apply
  tests/core/netplan/task.yaml
Labels: Simple 😃, Test Robustness

#11007 o/snapstate: test relink remodel helpers do a proper subset of doInstall and rework the verify*Tasks helpers
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Skip spread

#10998 o/snapstate: do not prune refresh-candidates if gate-auto-refresh-hook feature is not enabled
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/refreshhints.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate_remove_test.go
Labels: Bug

#11009 cmd/snap-bootstrap/README: explain all the things (well most of them anyways)
  cmd/snap-bootstrap/README.md
Labels: Documentation, Skip spread

#11020 timeutil,deviceutil: fix unit tests on systems without dbus or without ntp-sync
  overlord/devicestate/devicestate_test.go
  timeutil/synchronized.go
Labels: ⚠ Critical

#10920 osutil/disks: add AllPhysicalDisks()
  gadget/export_test.go
  gadget/ondisk.go
  gadget/ondisk_test.go
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
Labels: Simple 😃, Skip spread

#11019 overlord/state: add a unit test for a kernel+base refresh like sequence
  overlord/state/taskrunner_test.go
Labels: Simple 😃, Skip spread

#10987 o/snapstate: keep old revision if install doesn't add new one
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
Labels: Squash-merge

#11017 data/selinux: update the policy to allow snapd to talk to org.freedesktop.timedate1
  data/selinux/snappy.te
Labels: ⚠ Critical, Simple 😃

#11018 cmd/snap-seccomp/syscalls: update syscalls to match libseccomp abad8a8f4
  cmd/snap-seccomp/syscalls/syscalls.go
  tests/main/snap-seccomp-syscalls/task.yaml
Labels: Simple 😃

#11014 tests: add ntp related debug around "auto-refresh" test
  tests/main/auto-refresh/task.yaml
  tests/main/snapd-state/task.yaml
Labels: Test Robustness

#10962 o/assertstate: functions for handling validation sets tracking history
  overlord/assertstate/export_test.go
  overlord/assertstate/validation_set_tracking.go
  overlord/assertstate/validation_set_tracking_test.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#11026 tests: (partially) revert the memory limits PR#r10241
  tests/lib/prepare.sh
Labels: Flaky Test

#11022 gadget, many: add model param to Update()
  gadget/update.go
  gadget/update_test.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_gadget.go
Labels: Simple 😃

#10919 osutil/disks: add DiskFromPartitionDeviceNode
  osutil/disks/disks_darwin.go
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
  osutil/disks/mockdisk.go
  osutil/disks/mockdisk_test.go
Labels: Simple 😃, Run nested

#11033 github: enable pipefail when running spread
  .github/workflows/test.yaml
Labels: ⚠ Critical

#11036 github: leave a comment documenting reasons for pipefail
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#11037 interfaces/apparmor/template.go: allow udevadm from merged usr systems
  interfaces/apparmor/template.go
Labels: Simple 😃

#10992 cmd: create ~/snap dir with 0700 perms
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
Labels: Needs Samuele review

#11049 tests: skip `snap advise-command` test if the store is overloaded
  tests/main/snap-advise-command/task.yaml
Labels: Test Robustness

#11040 o/snapstate: remove repeated test assertions
  overlord/snapstate/snapstate_install_test.go
Labels: Simple 😃, Skip spread

#10907 interfaces: timezone-control, add permission for ListTimezones DBus call
  interfaces/builtin/timezone_control.go
Labels: Squash-merge

#11031 interfaces/u2f-devices: add Trezor and Trezor v2 keys (https://launchpad.net/bugs/1947746)
  interfaces/builtin/u2f_devices.go
  interfaces/builtin/u2f_devices_test.go
Labels: Squash-merge

#10921 osutil/disks: add more fields to Partition, populate them during discovery
  osutil/disks/disks.go
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
  osutil/disks/mockdisk.go
Labels: Simple 😃, Run nested

#11048 o/snapstate/handlers: propagate read errors on "copy-snap-data"
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_copy_test.go
Labels: Simple 😃

#10878 interfaces/builtin/time-control: allow pps access
  interfaces/builtin/time_control.go
  interfaces/builtin/time_control_test.go
Labels: Squash-merge

#11039 cmd/libsnap-confine-private: do not deny all devices when reusing the device cgroup
  cmd/libsnap-confine-private/device-cgroup-support.c
  tests/main/security-device-cgroups-strict-enforced/task.yaml
Labels: ⚠ Critical, Squash-merge, Security-High

#11043 gadget: include size + sector-size in DiskVolumeDeviceTraits
  gadget/gadget.go
  gadget/gadget_test.go
Labels: Simple 😃, Needs Samuele review, Skip spread

#11044 interfaces/builtin/block_devices: allow blkid to print block device attributes
  interfaces/builtin/block_devices.go
Labels: Needs security review

#11059 release: 2.53.2
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃

#11061 packaging: merge changelog for 2.53.2 back to master
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃

#11032 o/snapstate: account for deleted revs when undoing install
  overlord/snapstate/handlers.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Needs Samuele review

#11050 tests: the `lxd` test is failing right now on 21.10
  tests/main/lxd/task.yaml
Labels: Flaky Test

#11060 gadget/install: use disks functions to implement deviceFromRole, also rename
  gadget/install/export_secboot_test.go
  gadget/install/install.go
  gadget/install/install_test.go
Labels: Simple 😃, Run nested

#11063 tests: skip the test-snapd-timedate-control-consumer.date to avoid NTP sync error
  tests/main/interfaces-time-control/task.yaml
Labels: Squash-merge, Simple 😃, Flaky Test

#11029 o/assertstate, api: move enforcing/monitoring from api to assertstate, save history
  daemon/api_validate.go
  daemon/api_validate_test.go
  daemon/export_api_validate_test.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/assertstate/export_test.go
  overlord/assertstate/validation_set_tracking.go
  overlord/assertstate/validation_set_tracking_test.go
Labels: validation-sets :white_check_mark:

#11057 tests: print extra debug on auto-refresh-gating test failure
  tests/main/auto-refresh-gating/task.yaml
Labels: Simple 😃

#11055 packaging: make postrm script robust against `rm` failures
  packaging/ubuntu-16.04/snapd.postrm
Labels: Simple 😃

#11035 osutil/disks: introduce RegisterDeviceMapperBackResolver + use for crypt-luks2
  osutil/disks/disks.go
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
  osutil/disks/export_test.go
  osutil/disks/luks.go
Labels: Needs Samuele review, Run nested

#11069 README.md: point at bugs.launchpad.net/snapd instead of snappy project
  README.md
Labels: Simple 😃, Skip spread

#11064 tests/main/security-device-cgroups-strict-enforced: extend the comments
  tests/main/security-device-cgroups-strict-enforced/task.yaml
Labels: Simple 😃, Skip spread

#11070 gadget/gadget.go: include disk schema in the disk device volume traits too
  gadget/gadget.go
  gadget/gadget_test.go
Labels: Simple 😃, Skip spread

#11071 data/env: provide profile setup for fish shell
  data/env/Makefile
  data/env/snapd.fish.in
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
Labels: Simple 😃

#11079 packaging: sync with downstream packaging in Fedora and openSUSE
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
Labels: Simple 😃

#9939 packaging: vendor apparmor3 for improved cross-distro/platform support and easier ongoing maintenance
  build-aux/snap/apparmor/af_names.h
  build-aux/snap/snapcraft.yaml
  cmd/configure.ac
  interfaces/apparmor/apparmor.go
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/template.go
  sandbox/apparmor/apparmor.go
  sandbox/apparmor/apparmor_test.go
  spread.yaml
  tests/main/apparmor-batch-reload/bin/apparmor_parser.fake
  tests/main/snapd-snap/task.yaml
  tests/nightly/security-internal-apparmor/task.yaml
Labels: Squash-merge, Needs Samuele review, Run nested

#11093 asserts: rename "white box" to "clear box" (woke checker)
  asserts/database_test.go
Labels: Simple 😃, Skip spread

#11090 Revert: "many: Vendor apparmor-3.0.3 into the snapd snap"
  build-aux/snap/apparmor/af_names.h
  build-aux/snap/snapcraft.yaml
  cmd/configure.ac
  interfaces/apparmor/apparmor.go
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/template.go
  sandbox/apparmor/apparmor.go
  sandbox/apparmor/apparmor_test.go
  spread.yaml
  tests/main/apparmor-batch-reload/bin/apparmor_parser.fake
  tests/main/snapd-snap/task.yaml
  tests/nightly/security-internal-apparmor/task.yaml
Labels: ⚠ Critical, Run nested

#11021 gadget: replace ondisk implementation with disks package, refactor part calcs
  gadget/export_test.go
  gadget/gadget_test.go
  gadget/gadgettest/gadgettest.go
  gadget/install/partition.go
  gadget/install/partition_test.go
  gadget/layout.go
  gadget/ondisk.go
  gadget/ondisk_test.go
  gadget/update.go
  tests/main/uc20-create-partitions-reinstall/task.yaml
  tests/main/uc20-create-partitions/task.yaml
Labels: Run nested

#10768 daemon: amend ssh keys coming from the store
  daemon/api_users.go
  daemon/api_users_test.go
Labels: Needs Samuele review

#11100 interfaces: allow receiving PropertiesChanged on the mpris plug
  interfaces/builtin/mpris.go
Labels: Simple 😃

#11028 kernel/fde: add DeviceUnlockKernelHookDeviceMapperBackResolver, use w/ disks pkg
  kernel/fde/fde_test.go
  kernel/fde/mapper.go
  osutil/disks/disks_linux_test.go
Labels: Needs Samuele review

#11053 daemon: write formdata file parts to snaps dir
  daemon/api.go
  daemon/api_base_test.go
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
  daemon/api_snaps.go
  daemon/api_test.go
  daemon/export_test.go
Labels: Squash-merge

#11094 cmd/libsnap-confine-private: fix snap-device-helper device allow list modification on cgroup v2
  cmd/libsnap-confine-private/device-cgroup-support.c
  tests/main/security-device-cgroups-helper/task.yaml
  tests/main/security-device-cgroups-helper/test-strict-cgroup-helper/bin/sh
  tests/main/security-device-cgroups-helper/test-strict-cgroup-helper/meta/snap.yaml
Labels: Squash-merge, cgroupv2

#11058 interfaces/udev: fix installing snaps inside lxd in 21.10
  interfaces/udev/udev.go
  interfaces/udev/udev_test.go
Labels: Squash-merge

#11041 HACKING.md: document building the snapd snap and splicing it into the core snap
  HACKING.md
Labels: Documentation, Skip spread

#9986 polkit: add a package to validate polkit policy files
  polkit/validate/validate.go
  polkit/validate/validate_test.go
Labels: Skip spread

#11102 o/devicestate: during remodel first check pending download tasks for snaps
  overlord/devicestate/handlers_systems.go
  overlord/managers_test.go
Labels: Run nested

#11089 tests/lib/nested.sh: allow tests to use their own core18 in extra-snaps-path
  tests/lib/nested.sh
Labels: Simple 😃, Run nested

#11082 gadget: tweaks to DiskStructureDeviceTraits + expand test cases
  gadget/gadget.go
  gadget/gadget_test.go
Labels: Simple 😃, Skip spread

#11114 .github/workflows/test.yaml: restore failing of spread tests on errors (nested)
  .github/workflows/test.yaml
Labels: ⚠ Critical, Simple 😃, Run nested

#10212 network-setup-control: add netplan generate D-Bus rules (LP: #1926442)
  interfaces/builtin/network_setup_control.go
  tests/core/netplan/task.yaml
Labels: Squash-merge

#10975 interfaces/microstack-support: set controlsDeviceCgroup to true
  interfaces/builtin/microstack_support.go
  interfaces/builtin/microstack_support_test.go
  interfaces/udev/spec.go
  tests/main/interfaces-microstack-support/task.yaml
  tests/main/interfaces-microstack-support/test-snapd-sh/bin/inspect
  tests/main/interfaces-microstack-support/test-snapd-sh/meta/snap.yaml
Labels: Squash-merge, Simple 😃, Needs Samuele review, Needs security review

#10979 osutil/disks/mockdisk.go: add MockDevicePathToDiskMapping
  osutil/disks/disks_darwin.go
  osutil/disks/mockdisk.go
  osutil/disks/mockdisk_test.go
Labels: Simple 😃, Skip spread
