Repository canonical/snapd, pull requests merged in 2021-07, with the labels that each got.

#10475 o/snapstate: fix populating of affectedSnapInfo.AffectingSnaps for marking self as affecting
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/snapstate.go
Labels: Refresh control, Simple 😃

#10461 cmd/snap: prevent cycles in waitChainSearch with snap debug state
  cmd/snap/cmd_debug_state.go
  cmd/snap/cmd_debug_state_test.go
Labels: Needs Samuele review

#10474 tests/main/interfaces-ssh-keys: tweak checks for openSUSE Tumbleweed
  interfaces/builtin/ssh_keys.go
  tests/main/interfaces-ssh-keys/task.yaml
Labels: Simple 😃

#10449 corecfg: allow using `# snapd-edit: no` header to disable pi-config
  overlord/configstate/configcore/picfg.go
  overlord/configstate/configcore/picfg_test.go
Labels: Squash-merge

#10477 overlord/devicestate, overlord/assertstate: use a temporary DB when creating recovery systems
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/handlers_systems.go
  overlord/devicestate/systems_test.go
  overlord/managers_test.go
Labels: Run nested

#10468 o/ifacestate: do not visit same halt tasks in waitChainSearch to avoid cycles
  overlord/ifacestate/handlers.go
  overlord/ifacestate/handlers_test.go
Labels: Needs Samuele review

#10370 asserts: introduce ExternalKeypairManager
  asserts/crypto.go
  asserts/extkeypairmgr.go
  asserts/extkeypairmgr_test.go
  asserts/gpgkeypairmgr.go
  vendor/vendor.json
Labels: Skip spread

#10399 tests: fix test snap-quota-groups when checking file cgroupProcsFile
  tests/main/snap-quota-groups/task.yaml
Labels: Simple 😃

#10420 many: use changes + tasks for quota group operations
  client/quota.go
  client/quota_test.go
  cmd/snap/cmd_quota.go
  cmd/snap/cmd_quota_test.go
  daemon/api_quotas.go
  daemon/api_quotas_test.go
  daemon/export_api_quotas_test.go
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_control_test.go
  overlord/servicestate/quota_handlers_test.go
  overlord/servicestate/servicemgr.go
Labels: Complex, ✨quota rebooted✨

#10478 o/snapstate: fix check-rerefresh task summary when refresh control is used
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/snapstate.go
Labels: Refresh control

#10484 many/quotas: little adjustments
  client/quota.go
  client/quota_test.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/quota_handlers_test.go
Labels: Simple 😃, ✨quota rebooted✨

#10487 cmd/snap/quotas: adjust help texts for quota commands
  cmd/snap/cmd_quota.go
Labels: Documentation, Simple 😃, ✨quota rebooted✨

#10471 o/servicestate: detect conflicts for quota group operations
  overlord/servicestate/export_test.go
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_control_test.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/servicemgr.go
Labels: ✨quota rebooted✨

#10490 o/servicestate: TODO and fix preexisting typo
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_handlers.go
Labels: Simple 😃, Skip spread, ✨quota rebooted✨

#10489 boot, seed/seedtest: tweak test helpers
  boot/export_test.go
  boot/seal.go
  seed/seedtest/seedtest.go
Labels: Simple 😃, Skip spread

#10494 tests/lib/store.sh: revert #10470
  tests/lib/store.sh
Labels: Run nested, Test Robustness

#10481 boot: properly handle tried system model
  boot/modeenv.go
  boot/systems.go
  boot/systems_test.go
  overlord/devicestate/devicestate_systems_test.go
Labels: Run nested

#10480 tests/nested/manual/preseed: fix for cloud images that ship without core18
  tests/nested/manual/preseed/task.yaml
Labels: Run nested, Simple 😃

#10476 tests: refresh control spread test
  tests/lib/snaps/store/test-snapd-refresh-control-provider.v1/build-aux/snap/snapcraft.yaml
  tests/lib/snaps/store/test-snapd-refresh-control-provider.v2/build-aux/snap/snapcraft.yaml
  tests/lib/snaps/store/test-snapd-refresh-control.v1/build-aux/snap/hooks/gate-auto-refresh
  tests/lib/snaps/store/test-snapd-refresh-control.v1/build-aux/snap/snapcraft.yaml
  tests/lib/snaps/store/test-snapd-refresh-control.v2/build-aux/snap/hooks/gate-auto-refresh
  tests/lib/snaps/store/test-snapd-refresh-control.v2/build-aux/snap/snapcraft.yaml
  tests/main/auto-refresh-gating/task.yaml
Labels: Refresh control

#10485 sandbox/cgroup: do not be so eager to fail when paths do not exist
  sandbox/cgroup/export_test.go
  sandbox/cgroup/freezer.go
  sandbox/cgroup/freezer_test.go
Labels: cgroupv2

#10501 tests: remove xenial 32 bits
  .github/workflows/test.yaml
  cmd/snap-confine/spread-tests/main/test-seccomp-compat/task.yaml
  spread.yaml
  tests/lib/pkgdb.sh
  tests/main/interfaces-fwupd-classic/task.yaml
  tests/regression/lp-1644439/task.yaml
Labels: Simple 😃

#10499 tests: print serial log just once for nested tests
  spread.yaml
Labels: Run nested, Simple 😃

#10502 bootloader/assets: update recovery grub to allow system labels generated by snapd
  bootloader/assets/data/grub-recovery.cfg
  bootloader/assets/grub_recovery_cfg_asset.go
  tests/nested/core/core20-create-recovery/task.yaml
Labels: Remodel 🚋, Run nested

#10493 overlord/devicestate: try to pick alternative recovery labels during remodel
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: Remodel 🚋

#10497 tests: ack assertions by default, add --noack option
  tests/core/gadget-kernel-refs-update-pc/task.yaml
  tests/core/gadget-update-pc/task.yaml
  tests/lib/nested.sh
  tests/lib/store.sh
Labels: Run nested

#10503 testutil: fix typo in json checker unit tests
  testutil/jsonchecker_test.go
Labels: Simple 😃, Skip spread

#10500 tests: Renaming tool nested-state to tests.nested
  spread.yaml
  tests/bin/tests.nested
  tests/lib/tools/tests.nested
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/cloud-init-nocloud-not-vuln/task.yaml
  tests/nested/manual/core-early-config/task.yaml
  tests/nested/manual/core20-boot-config-update/task.yaml
  tests/nested/manual/core20-custom-kernel-commandline/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
  tests/nested/manual/core20-gadget-cloud-conf/task.yaml
  tests/nested/manual/core20-initramfs-time-moves-forward/task.yaml
  tests/nested/manual/core20-install-mode-shutdown-via-hook/task.yaml
  tests/nested/manual/core20-save/task.yaml
  tests/nested/manual/grade-signed-above-testkeys-boot/task.yaml
  tests/nested/manual/grade-signed-cloud-init-testkeys/task.yaml
  tests/nested/manual/minimal-smoke/task.yaml
  tests/nested/manual/preseed/task.yaml
  tests/nested/manual/refresh-revert-fundamentals/task.yaml
  tests/nested/manual/snapd-refresh-from-old/task.yaml
  tests/nested/manual/uc20-storage-safety/task.yaml
Labels: Run nested

#10491 interface: allows reading sd cards internal info from `block-devices` interface
  interfaces/builtin/block_devices.go
Labels: Simple 😃

#10482 snapstate: remove temporary snap file for local revisions early
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
Labels: Needs Samuele review, Squash-merge

#10375 snapstate/check_snap: add snap_microk8s to shared system-usernames
  overlord/snapstate/check_snap.go
  overlord/snapstate/check_snap_test.go
  snap/system_usernames.go
  tests/main/system-usernames-microk8s/snap/bin/sh
  tests/main/system-usernames-microk8s/snap/meta/snap.yaml.in
  tests/main/system-usernames-microk8s/task.yaml
Labels: Needs Samuele review, Squash-merge

#10506 release: 2.51.2
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread, Squash-merge

#10507 release: 2.51.2
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#10479 tests: test for gate-auto-refresh hook error resulting in hold
  tests/lib/snaps/store/test-snapd-refresh-control-provider.v3/build-aux/snap/snapcraft.yaml
  tests/main/auto-refresh-gating/task.yaml
Labels: Refresh control

#10488 daemon/api_quotas.go: handle conflicts, returning conflict response
  client/errors.go
  client/quota.go
  client/quota_test.go
  daemon/api_quotas.go
  daemon/api_quotas_test.go
  daemon/errors.go
  tests/main/snap-quota/task.yaml
Labels: Simple 😃, ✨quota rebooted✨

#10504 o/snapstate: remove unused refreshSchedule argument for isRefreshHeld helper
  overlord/snapstate/autorefresh.go
Labels: Simple 😃

#10469 boot: support device change
  boot/export_test.go
  boot/model.go
  boot/model_test.go
Labels: Remodel 🚋, Skip spread

#10508 tests/main/system-usernames-microk8s: disable on centos 7 too
  tests/main/system-usernames-microk8s/task.yaml
Labels: Simple 😃, Test Robustness

#10437 client, cmd/snap, daemon: refactor REST API for quotas to match CLI org
  client/quota.go
  client/quota_test.go
  cmd/snap/cmd_quota.go
  cmd/snap/cmd_quota_test.go
  daemon/api_quotas.go
  daemon/api_quotas_test.go
  tests/main/snap-quota-groups/task.yaml
Labels: Needs Samuele review, ✨quota rebooted✨

#10165 tests: add tests about services vs snapd refreshes
  tests/core/snapd-refresh-vs-services-reboots/task.yaml
  tests/core/snapd-refresh-vs-services-reboots/test-snapd-svc-flip-flop/bin/svc.sh
  tests/core/snapd-refresh-vs-services-reboots/test-snapd-svc-flip-flop/meta/snap.yaml
  tests/core/snapd-refresh-vs-services/task.yaml
  tests/lib/mock-shutdown
  tests/lib/snaps/test-snapd-simple-service/bin/service
  tests/lib/snaps/test-snapd-simple-service/meta/snap.yaml
  tests/lib/uc20-recovery.sh
Labels: Run nested, Squash-merge

#10512 tests: moving nested_exec to nested.tests exec
  spread.yaml
  tests/lib/tools/tests.nested
  tests/nested/classic/hotplug/task.yaml
  tests/nested/classic/snapshots-with-core-refresh-revert/task.yaml
  tests/nested/core/core-revert/task.yaml
  tests/nested/core/core-snap-refresh-on-core/task.yaml
  tests/nested/core/core20-basic/task.yaml
  tests/nested/core/core20-create-recovery/task.yaml
  tests/nested/core/core20-degraded/task.yaml
  tests/nested/core/core20-gadget-reseal/task.yaml
  tests/nested/core/core20-kernel-failover/task.yaml
  tests/nested/core/core20-kernel-reseal/task.yaml
  tests/nested/core/core20-tpm/task.yaml
  tests/nested/core/coreconfig-services/task.yaml
  tests/nested/core/extra-snaps-assertions/task.yaml
  tests/nested/core/hotplug/task.yaml
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/cloud-init-nocloud-not-vuln/task.yaml
  tests/nested/manual/core-early-config/task.yaml
  tests/nested/manual/core20-boot-config-update/task.yaml
  tests/nested/manual/core20-custom-kernel-commandline/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
  tests/nested/manual/core20-gadget-cloud-conf/task.yaml
  tests/nested/manual/core20-initramfs-time-moves-forward/task.yaml
  tests/nested/manual/core20-install-mode-shutdown-via-hook/task.yaml
  tests/nested/manual/core20-save/task.yaml
  tests/nested/manual/devmode-snap-seeded-dangerous/task.yaml
  tests/nested/manual/grade-signed-above-testkeys-boot/task.yaml
  tests/nested/manual/grade-signed-cloud-init-testkeys/task.yaml
  tests/nested/manual/preseed/task.yaml
  tests/nested/manual/refresh-revert-fundamentals/task.yaml
  tests/nested/manual/snapd-refresh-from-old/task.yaml
  tests/nested/manual/uc20-fde-hooks-v1/task.yaml
  tests/nested/manual/uc20-fde-hooks/task.yaml
  tests/nested/manual/uc20-storage-safety/task.yaml
Labels: Run nested

#10518 store: set ResponseHeaderTimeout on the default transport
  httputil/client.go
  httputil/transport.go
  store/store_download_test.go
Labels: Bug, Needs Samuele review, Squash-merge

#10523 tests: drop any-python wrapper
  tests/bin/any-python
  tests/lib/pkgdb.sh
  tests/lib/tools/README
  tests/lib/tools/memory-observe-do
  tests/lib/tools/mountinfo.query
  tests/lib/tools/retry
  tests/lib/tools/suite/tests.session/task.yaml
  tests/lib/tools/user-state
  tests/lib/tools/version-compare
Labels: Simple 😃

#10514 install: add a bunch of nested timings
  gadget/install/install.go
  gadget/install/install_dummy.go
  gadget/install/install_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  tests/lib/uc20-create-partitions/main.go
Labels: Skip spread, Squash-merge

#10521 tests: new tests.nested commands copy and wait-for
  tests/lib/tools/tests.nested
  tests/nested/classic/hotplug/task.yaml
  tests/nested/classic/snapshots-with-core-refresh-revert/task.yaml
  tests/nested/core/core-revert/task.yaml
  tests/nested/core/core-snap-refresh-on-core/task.yaml
  tests/nested/core/core20-create-recovery/task.yaml
  tests/nested/core/core20-degraded/task.yaml
  tests/nested/core/core20-gadget-reseal/task.yaml
  tests/nested/core/core20-kernel-failover/task.yaml
  tests/nested/core/core20-kernel-reseal/task.yaml
  tests/nested/core/core20-tpm/task.yaml
  tests/nested/core/coreconfig-services/task.yaml
  tests/nested/core/hotplug/task.yaml
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/cloud-init-nocloud-not-vuln/task.yaml
  tests/nested/manual/core20-boot-config-update/task.yaml
  tests/nested/manual/core20-custom-kernel-commandline/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
  tests/nested/manual/core20-install-mode-shutdown-via-hook/task.yaml
  tests/nested/manual/grade-signed-cloud-init-testkeys/task.yaml
  tests/nested/manual/refresh-revert-fundamentals/task.yaml
  tests/nested/manual/snapd-refresh-from-old/task.yaml
Labels: Run nested

#10513 devicestate: add support to save timings from install mode
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  tests/nested/core/core20-basic/task.yaml
Labels: Run nested, Squash-merge

#10511 o/assertstate: check for conflicts when refreshing and commiting validation set asserts
  asserts/pool.go
  asserts/pool_test.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/assertstate/bulk.go
Labels: validation-sets :white_check_mark:

#10517 tests/lib/reset.sh: add workaround from refresh-vs-services tests for all tests
  tests/core/snapd-refresh-vs-services-reboots/task.yaml
  tests/core/snapd-refresh-vs-services/task.yaml
  tests/lib/reset.sh
Labels: Precious Logs, Simple 😃, Test Robustness, ⛔ Blocked

#10527 tests/nested/cloud-init-{never-used,nocloud}-not-vuln: fix tests, use 2.45
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/cloud-init-nocloud-not-vuln/task.yaml
  tests/nested/manual/core20-gadget-cloud-conf/task.yaml
  tests/nested/manual/grade-signed-cloud-init-testkeys/task.yaml
Labels: Run nested, Test Robustness

#10522 interfaces/builtin: add sd-control interface
  interfaces/builtin/sd_control.go
  interfaces/builtin/sd_control_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Needs Samuele review, Squash-merge

#10530 release: 2.51.3
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread, Squash-merge

#10438 overlord: only start enabled services
  overlord/servicestate/service_control.go
  overlord/servicestate/service_control_test.go
  tests/main/services-start/task.yaml
Labels: Squash-merge

#10531 packaging: merge changelog from 2.51.3 back to master
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃

#10519 store/store_download.go: use system snap provided xdelta3 priority + fallback
  store/download_test.go
  store/export_test.go
  store/store.go
  store/store_action.go
  store/store_download.go
  store/store_download_test.go
Labels: Complex

#10532 tests/lib/reset.sh: fix removing disabled snaps
  tests/lib/reset.sh
Labels: Simple 😃, Test Robustness, ⚠ Critical

#10516 interfaces: make the service naming entirely internal to systemd BE
  interfaces/builtin/gpio.go
  interfaces/builtin/gpio_test.go
  interfaces/builtin/pwm.go
  interfaces/builtin/pwm_test.go
  interfaces/naming.go
  interfaces/naming_test.go
  interfaces/systemd/backend.go
  interfaces/systemd/backend_test.go
  interfaces/systemd/spec.go
  interfaces/systemd/spec_test.go
Labels: Cleanup :broom:, Skip spread

#10409 tests: using retry tool for nested tests
  tests/lib/assertions/nested-amd64.model
  tests/lib/assertions/nested-amd64.model.json
  tests/lib/assertions/nested-i386.model
  tests/lib/assertions/nested-i386.model.json
  tests/lib/nested.sh
  tests/nested/classic/hotplug/task.yaml
  tests/nested/core/core20-basic/task.yaml
  tests/nested/core/core20-tpm/task.yaml
  tests/nested/core/hotplug/task.yaml
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/cloud-init-nocloud-not-vuln/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
  tests/nested/manual/core20-gadget-cloud-conf/task.yaml
  tests/nested/manual/grade-signed-cloud-init-testkeys/task.yaml
  tests/nested/manual/refresh-revert-fundamentals/task.yaml
  tests/nested/manual/snapd-refresh-from-old/task.yaml
  tests/nested/manual/uc20-fde-hooks-v1/task.yaml
  tests/nested/manual/uc20-fde-hooks/task.yaml
Labels: Run nested

#10539 o/assertstate: Implement EnforcedValidationSets helper
  overlord/assertstate/assertstate.go
  overlord/assertstate/validation_set_tracking.go
  overlord/assertstate/validation_set_tracking_test.go
  overlord/snapstate/storehelpers.go
Labels: Needs Samuele review, Skip spread, validation-sets :white_check_mark:

#10538 cmd/snap/model: support storage-safety and snaps headers too
  cmd/snap/cmd_model.go
  cmd/snap/cmd_model_test.go
Labels: Simple 😃, UC20

#10554 o/servicestate: revert only start enabled services (#10438)
  overlord/servicestate/service_control.go
  overlord/servicestate/service_control_test.go
  tests/main/services-start/task.yaml
Labels: Services ⚙️

#10548 tests/main/services-install-hook-can-run-svcs: add variant w/o --enable
  tests/main/services-install-hook-can-run-svcs/task.yaml
  tests/main/services-install-hook-can-run-svcs/test-snapd-install-hook-runs-svc/meta/hooks/install.in
Labels: Services ⚙️, Test Robustness

#10551 o/servicestate: use snap app names for ExplicitServices of ServiceAction
  overlord/servicestate/service_control.go
  overlord/servicestate/service_control_test.go
  overlord/servicestate/servicestate.go
  wrappers/services.go
Labels: Services ⚙️

#10556 tests: force snapd-session-agent.socket to be re-generated
  tests/lib/reset.sh
Labels: Simple 😃

#10558 tests/main/services-install-hook-can-run-svcs: make variants more obvious
  tests/main/services-install-hook-can-run-svcs/task.yaml
Labels: Simple 😃, Skip spread

#10560 tests/many: remove lxd systemd unit to prevent unexpected leftovers
  tests/main/lxd-mount-units/task.yaml
  tests/main/lxd-no-fuse/task.yaml
  tests/main/lxd-postrm-purge/task.yaml
  tests/main/lxd-services-smoke/task.yaml
  tests/main/lxd-snapfuse/task.yaml
  tests/main/lxd-try/task.yaml
  tests/main/lxd/task.yaml
  tests/main/selinux-lxd/task.yaml
Labels: Simple 😃, ⚠ Critical

#10555 tests: removing Ubuntu 20.10, adding 21.04 nested in spread
  .github/workflows/test.yaml
  spread.yaml
  tests/lib/nested.sh
  tests/lib/pkgdb.sh
  tests/lib/tools/os.query
  tests/main/lxd-try/task.yaml
  tests/main/nfs-support/task.yaml
  tests/main/os.query/task.yaml
Labels: Run nested, Simple 😃

#10533 snap: change `snap login --help` to not mention "buy"
  cmd/snap/cmd_login.go
Labels: Simple 😃

#10536 o/devicestate, sysconfig: refactor cloud-init config permission handling
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  sysconfig/cloudinit.go
  sysconfig/cloudinit_test.go
  sysconfig/gadget_defaults_test.go
  sysconfig/sysconfig.go
Labels: Run nested, UC20

#10510 overlord/devicestate: UC20 specific set-model, managers tests
  boot/seal.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_remodel.go
  overlord/devicestate/remodel.go
  overlord/devicestate/remodel_test.go
  overlord/devicestate/systems.go
  overlord/managers_test.go
Labels: Complex, Remodel 🚋

#10569 github: enable gofmt for Go 1.13 jobs
  .github/workflows/test.yaml
Labels: Run nested, Simple 😃

#10566 interfaces: s/specifc/specific/
  interfaces/builtin/dbus.go
  interfaces/builtin/gpio.go
  interfaces/builtin/pwm.go
Labels: Simple 😃, Skip spread

#10565 cmd/libsnap-confine-private: g_spawn_check_exit_status is deprecated since glib 2.69
  cmd/libsnap-confine-private/test-utils.c
Labels: Simple 😃

#10564 tests: skip udp protocol on latest ubuntus
  tests/main/nfs-support/task.yaml
Labels: Simple 😃

#10547 cmd/snap-confine: refactor device cgroup handling to enable easier v2 integration
  cmd/snap-confine/udev-support.c
Labels: cgroupv2

#10535 asserts/snapasserts: CheckPresenceInvalid and CheckPresenceRequired methods
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
Labels: Needs Samuele review, Skip spread, validation-sets :white_check_mark:

#10567 snap/squashfs: handle squashfs-tools 4.5+
  snap/squashfs/squashfs.go
  snap/squashfs/squashfs_test.go
Labels: Simple 😃, ⚠ Critical
