Repository canonical/snapd, pull requests merged in 2021-06, with the labels that each got.

#10324 interfaces/dsp: add /dev/cavalry into dsp interface
  interfaces/builtin/dsp.go
  interfaces/builtin/dsp_test.go
Labels: Needs Samuele review

#10287 tests/main/snap-quota-groups: add functional spread test for quota groups
  tests/main/snap-quota-groups/task.yaml
  tests/main/snap-quota/task.yaml
  wrappers/services.go
  wrappers/services_test.go
Labels: Test Robustness, quota

#10099 tests/main/snapd-snap: build the snapd snap on all platforms with lxd
  tests/main/snapd-snap/task.yaml
Labels: Test Robustness

#10246 o/patch: check if we have snapd snap with correct snap type already in snapstate
  overlord/patch/patch6_2.go
  overlord/patch/patch6_2_test.go
Labels: Needs Samuele review

#10331 daemon/api_quotas.go: include current memory usage information in results
  daemon/api_quotas.go
  daemon/api_quotas_test.go
  daemon/export_api_quotas_test.go
  tests/main/snap-quota-groups/task.yaml
  tests/main/snap-quota/task.yaml
Labels: ✨quota rebooted✨

#10337 userd: mock `systemd --version` in privilegedDesktopLauncherSuite
  usersession/userd/privileged_desktop_launcher_test.go
Labels: Simple 😃

#10339 store: fix typo in snapActionResult struct json tag
  store/store_action.go
Labels: Simple 😃

#10334 tests/core/remodel: use model assertions signed with valid keys
  tests/core/custom-device-reg/task.yaml
  tests/core/remodel-base/task.yaml
  tests/core/remodel-gadget/task.yaml
  tests/core/remodel-kernel/task.yaml
  tests/core/remodel/task.yaml
  tests/lib/assertions/README.md
  tests/lib/assertions/valid-for-testing-pc-18.json
  tests/lib/assertions/valid-for-testing-pc-18.model
  tests/lib/assertions/valid-for-testing-pc-new-base-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-new-base-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-new-gadget-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-new-gadget-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2.json
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2.model
  tests/lib/assertions/valid-for-testing-pc-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-revno-2.json
  tests/lib/assertions/valid-for-testing-pc-revno-2.model
  tests/lib/assertions/valid-for-testing-pc-revno-3-18.json
  tests/lib/assertions/valid-for-testing-pc-revno-3-18.model
  tests/lib/assertions/valid-for-testing-pc-revno-3.json
  tests/lib/assertions/valid-for-testing-pc-revno-3.model
  tests/lib/assertions/valid-for-testing-pc.json
  tests/lib/assertions/valid-for-testing-pc.model
  tests/lib/assertions/valid-for-testing.account
  tests/lib/assertions/valid-for-testing.account-key
Labels: Simple 😃

#10340 systemd: improve systemctl error reporting
  systemd/systemd.go
  systemd/systemd_test.go
Labels: Simple 😃

#10341 o/servicestate/quota_control_test.go: change helper escaping
  overlord/servicestate/quota_control_test.go
Labels: Simple 😃, Skip spread, Test Robustness, ✨quota rebooted✨

#10333 cmd/snap/quota: refactor quota CLI as per new design
  client/quota.go
  client/quota_test.go
  cmd/snap/cmd_quota.go
  cmd/snap/cmd_quota_test.go
  daemon/api_quotas.go
  daemon/api_quotas_test.go
  daemon/export_api_quotas_test.go
  tests/main/snap-quota-groups/task.yaml
  tests/main/snap-quota/task.yaml
Labels: Squash-merge, ✨quota rebooted✨

#10261 o/snapstate: refresh control - autorefresh phase2
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_gating.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate.go
Labels: Needs Samuele review, Refresh control

#10352 store: extend context and action objects of SnapAction with validation-sets
  store/store_action.go
  store/store_action_test.go
Labels: Needs Samuele review, validation-sets :white_check_mark:

#10282 services: remember if acting on the entire snap
  overlord/servicestate/service_control.go
  overlord/servicestate/service_control_test.go
  overlord/servicestate/servicestate.go
Labels: Needs Samuele review, Squash-merge

#10355 wrappers, packaging, snap-mgmt: handle removing slices on purge too
  cmd/snap-mgmt/snap-mgmt.sh.in
  packaging/ubuntu-16.04/snapd.postrm
  tests/main/postrm-purge/task.yaml
  tests/main/snap-mgmt/task.yaml
  wrappers/services.go
  wrappers/services_test.go
Labels: ✨quota rebooted✨

#10353 overlord/servicestate: mv ensureSnapServicesForGroup to new file
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_handlers.go
Labels: Simple 😃, ✨quota rebooted✨

#10354 many: fix quota groups for centos 7, amazon linux 2 w/ workaround for buggy systemd
  snap/quota/quota.go
  snap/quota/quota_test.go
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
  tests/main/snap-quota-groups/task.yaml
  tests/main/snap-quota/task.yaml
  wrappers/services.go
  wrappers/services_test.go
Labels: ✨quota rebooted✨

#10290 o/snapstate: add helpers for setting and querying holding time for snaps
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_gating.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapmgr.go
Labels: Needs Samuele review, Refresh control

#10345 daemon,o/devicestate: have DeviceManager.SystemMode take an expectation on the system
  daemon/api_general.go
  overlord/devicestate/devicectx.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/remodel.go
Labels: Run nested, UC20

#10365 interfaces/dsp: fix typo in udev rule
  interfaces/builtin/dsp.go
Labels: Simple 😃, ⚠ Critical

#10209 interfaces: builtin: add dm-crypt interface to support external storage encryption
  interfaces/builtin/dm_crypt.go
  interfaces/builtin/dm_crypt_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Needs Samuele review, Squash-merge

#10382 o/servicestate/service_control.go: add comment about ExplicitServices
  overlord/servicestate/service_control.go
Labels: Services ⚙️, Simple 😃, Skip spread

#10377 boot: track model's sign key ID, prepare infra for tracking candidate model
  boot/boot.go
  boot/boot_test.go
  boot/bootstate20.go
  boot/makebootable.go
  boot/makebootable_test.go
  boot/modeenv.go
  boot/modeenv_test.go
Labels: Run nested

#10347 o/servicestate: add quotastate handlers
  overlord/servicestate/export_test.go
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_control_test.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/quota_handlers_test.go
  wrappers/services.go
Labels: Complex, Needs Samuele review, Squash-merge, ✨quota rebooted✨

#10390 overlord: fix imports ordering (according to gci)
  overlord/assertstate/assertstate_test.go
  overlord/hookstate/context_test.go
  overlord/hookstate/ctlcmd/get_test.go
  overlord/hookstate/ctlcmd/is_connected_test.go
  overlord/hookstate/ctlcmd/refresh_test.go
  overlord/hookstate/ctlcmd/set_test.go
  overlord/hookstate/ctlcmd/system_mode.go
  overlord/hookstate/ctlcmd/system_mode_test.go
  overlord/hookstate/ctlcmd/unset_test.go
  overlord/hookstate/hooktest/handler_test.go
  overlord/ifacestate/hotplug_test.go
  overlord/ifacestate/implicit_test.go
  overlord/overlord.go
  overlord/servicestate/service_control.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/backend/aliases_test.go
  overlord/snapstate/backend/backend_test.go
  overlord/snapstate/backend/copydata_test.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/backend/snapdata_test.go
  overlord/snapstate/check_snap_test.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/state/change_test.go
  overlord/stateengine.go
Labels: Cleanup :broom:, Simple 😃, Skip spread

#10374 tests: new note in HACKING file to clarify about yamlordereddictloader dependency
  HACKING.md
Labels: Simple 😃

#10387 boot: fix model inconsistency check in modeenv, extend unit tests
  boot/modeenv.go
  boot/modeenv_test.go
Labels: Simple 😃, Skip spread

#10358 o/hookstate: handle snapctl refresh --proceed and --hold
  overlord/hookstate/ctlcmd/refresh.go
  overlord/hookstate/ctlcmd/refresh_test.go
  overlord/hookstate/hooks.go
  overlord/snapstate/autorefresh_gating.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/snapstate.go
Labels: Needs Samuele review, Refresh control

#10369 o/snapstate: update LastRefreshTime in doLinkSnap handler
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Needs Samuele review, Refresh control

#10381 o/servicestate/quota_control_test.go: test the handlers directly
  overlord/servicestate/export_test.go
  overlord/servicestate/quota_control_test.go
Labels: Simple 😃, Skip spread, ✨quota rebooted✨

#10397 asserts,interfaces,snap: fix imports order (according to gci)
  asserts/crypto.go
  asserts/fetcher_test.go
  asserts/gpgkeypairmgr_test.go
  asserts/ifacedecls_test.go
  asserts/snap_asserts.go
  asserts/snapasserts/snapasserts_test.go
  asserts/store_asserts_test.go
  asserts/sysdb/sysdb_test.go
  interfaces/apparmor/spec_test.go
  interfaces/builtin/all_test.go
  interfaces/builtin/display_control_test.go
  interfaces/builtin/wayland.go
  interfaces/core_test.go
  interfaces/dbus/dbus_test.go
  interfaces/hotplug/udevadm_test.go
  interfaces/policy/helpers_test.go
  interfaces/systemd/backend_test.go
  snap/container_test.go
  snap/epoch_test.go
  snap/info_snap_yaml_test.go
  snap/naming/validate_test.go
  snap/pack/pack_test.go
  snap/revision_test.go
  snap/snapdir/snapdir_test.go
  snap/types_test.go
  snap/validate_test.go
Labels: Cleanup :broom:, Skip spread

#10393 tests/many: change all cloud-init passwords for ubuntu to use plain_test_passwd
  tests/lib/cloud-init-seeds/attacker-user/user-data
  tests/lib/cloud-init-seeds/normal-user/user-data
  tests/lib/nested.sh
  tests/nested/manual/grade-signed-cloud-init-testkeys/task.yaml
Labels: Run nested

#10379 systemd: refactor property parsers for int values in CurrentTasksCount, etc.
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: Simple 😃

#10400 interfaces: remove leftover debug print
  interfaces/builtin/dsp.go
Labels: Simple 😃, Skip spread

#10380 interfaces: add netlink-driver interface
  interfaces/builtin/netlink_driver.go
  interfaces/builtin/netlink_driver_test.go
  interfaces/policy/basedeclaration_test.go
  run-checks
Labels: Needs Samuele review, Security-High, Squash-merge

#10398 o/servicestate: move handlers tests to quota_handlers_test.go file instead
  overlord/servicestate/quota_control_test.go
  overlord/servicestate/quota_handlers_test.go
Labels: Simple 😃, Skip spread, ✨quota rebooted✨

#10403 release: snapd 2.51.1
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#10391 tests/lib/snaps/test-snapd-policy-app-consumer: remove dsp-control interface
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Simple 😃

#10401 cmd: fix imports order (according to gci)
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/initramfs_systemd_mount_test.go
  cmd/snap-exec/main_test.go
  cmd/snap-preseed/main_test.go
  cmd/snap-seccomp/main.go
  cmd/snap-seccomp/main_test.go
  cmd/snap-seccomp/versioninfo_test.go
  cmd/snap/cmd_buy.go
  cmd/snap/cmd_changes.go
  cmd/snap/cmd_confinement.go
  cmd/snap/cmd_connect.go
  cmd/snap/cmd_disconnect.go
  cmd/snap/cmd_interface.go
  cmd/snap/cmd_interfaces.go
  cmd/snap/cmd_keys.go
  cmd/snap/cmd_known_test.go
  cmd/snap/cmd_managed.go
  cmd/snap/cmd_pack.go
  cmd/snap/cmd_prefer.go
  cmd/snap/cmd_remove_user.go
  cmd/snap/cmd_sign_build.go
  cmd/snap/cmd_sign_test.go
  cmd/snap/cmd_unalias.go
  cmd/snap/cmd_whoami.go
  cmd/snap/cmd_whoami_test.go
  cmd/snap/color_test.go
  cmd/snap/main.go
  cmd/snap/main_test.go
  cmd/snapctl/main_test.go
  cmd/snapd/main_test.go
Labels: Cleanup :broom:, Skip spread

#10405 release: merge 2.51.1 changelog
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#10407 osutil,strutil,testutil: fix imports order (according to gci)
  osutil/bootid_test.go
  osutil/buildid_test.go
  osutil/chdir_test.go
  osutil/disks/labels_test.go
  osutil/exitcode_test.go
  osutil/fshelpers_test.go
  osutil/io_test.go
  osutil/outputerr_test.go
  osutil/stat_test.go
  strutil/map_test.go
  strutil/quantity/example_test.go
  testutil/lowlevel_test.go
Labels: Cleanup :broom:, Skip spread

#10406 interfaces/builtin/netlink_driver_test.go: add test snippet
  interfaces/builtin/netlink_driver_test.go
Labels: Simple 😃, Skip spread, Test Robustness

#10349 snap-bootstrap: add bind option with tests
  cmd/snap-bootstrap/initramfs_systemd_mount.go
  cmd/snap-bootstrap/initramfs_systemd_mount_test.go
Labels: Simple 😃, UC20

#10414 README.md: refer to new IRC server
  README.md
Labels: Skip spread

#10359 o/snapstate: unlock the state before calling backend in undoStartSnapServices
  overlord/snapstate/handlers.go
Labels: Bug

#10362 o/snapstate: consider held snaps in autoRefreshPhase2
  overlord/snapstate/autorefresh_gating.go
  overlord/snapstate/autorefresh_gating_test.go
Labels: Needs Samuele review, Refresh control

#10411 many: fix imports order (according to gci)
  boot/flags_test.go
  bootloader/lk.go
  client/asserts.go
  client/asserts_test.go
  client/cohort_test.go
  client/icons_test.go
  client/model_test.go
  client/snapctl_test.go
  daemon/daemon_test.go
  errtracker/errtracker_test.go
  image/image_linux.go
  sanity/squashfs.go
  store/details_v2_test.go
  store/export_test.go
  sysconfig/gadget_defaults_test.go
  systemd/systemd_test.go
  tests/lib/fakestore/store/store_test.go
  usersession/agent/rest_api_test.go
  usersession/userd/launcher_test.go
  usersession/userd/ui/zenity_test.go
  usersession/xdgopenproxy/xdgopenproxy_test.go
  wrappers/services_test.go
Labels: Cleanup :broom:, Skip spread

#10415 packaging/debian-sid: update snap-seccomp patches for latest master
  packaging/debian-sid/patches/0001-cmd-snap-seccomp-use-upstream-seccomp-package.patch
Labels: Simple 😃

#10416 tests: set lxd test to manual until failures are fixed
  tests/main/lxd/task.yaml
Labels: ⚠ Critical

#10082 github: try out golangci-lint
  .github/workflows/test.yaml
  .golangci.yml
Labels: Needs Samuele review, Skip spread

#10417 spread, tests/main/lxd: no longer manual, switch to latest/stable
  spread.yaml
  tests/main/lxd/task.yaml
Labels: Simple 😃

#10386 boot: decouple model from seal/reseal handling via an auxiliary type
  boot/assets_test.go
  boot/boot_test.go
  boot/bootchain.go
  boot/bootchain_test.go
  boot/cmdline.go
  boot/export_test.go
  boot/makebootable_test.go
  boot/modeenv.go
  boot/modeenv_test.go
  boot/seal.go
  boot/seal_test.go
  secboot/secboot.go
  secboot/secboot_tpm.go
Labels: Run nested

#10404 interfaces/opengl: add support for Imagination PowerVR
  interfaces/builtin/opengl.go
  interfaces/builtin/opengl_test.go
Labels: Needs Samuele review, Squash-merge

#10422 spread: switch LXD back to latest/candidate channel
  spread.yaml
Labels: Simple 😃

#10360 sysconfig/cloudinit.go: allow installing both gadget + ubuntu-seed config
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  sysconfig/cloudinit.go
  sysconfig/cloudinit_test.go
Labels: Bug, Needs Samuele review, Run nested, Simple 😃, UC20

#10266 wrappers/services.go: do not restart disabled or inactive services
  overlord/configstate/configcore/vitality_test.go
  overlord/managers_test.go
  overlord/servicestate/quota_control_test.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/service_control.go
  overlord/servicestate/service_control_test.go
  systemd/systemdtest/systemdtest.go
  tests/lib/snaps/test-snapd-service-restart/bin/start
  tests/lib/snaps/test-snapd-service-restart/meta/snap.yaml
  tests/main/services-restart/task.yaml
  tests/main/services-snapctl/task.yaml
  tests/main/snap-quota-groups/task.yaml
  wrappers/services.go
  wrappers/services_test.go
Labels: Squash-merge

#10385 o/snapstate: prune hold state during autoRefreshPhase1
  overlord/snapstate/autorefresh_gating.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapstate.go
Labels: Needs Samuele review, Refresh control

#10412 o/hookstate/ctlcmd: do not call ProceedWithRefresh immediately from snapctl
  overlord/hookstate/ctlcmd/refresh.go
  overlord/hookstate/ctlcmd/refresh_test.go
Labels: Refresh control, Simple 😃

#10430 overlord/servicestate: avoid unnecessary computation of disabled services
  overlord/servicestate/quota_control_test.go
  overlord/servicestate/quota_handlers.go
Labels: Simple 😃

#10346 o/servicestate/quota_control.go: enforce minimum of 4K for quota groups
  daemon/api_quotas_test.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/quota_handlers_test.go
  tests/main/snap-quota-groups/task.yaml
Labels: ✨quota rebooted✨

#10425 o/servicestate, snap/quota: eliminate workaround for buggy systemds, add spread test
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_control_test.go
  packaging/debian-sid/snapd.postrm
  packaging/ubuntu-14.04/snapd.postrm
  snap/quota/quota.go
  snap/quota/quota_test.go
  tests/lib/tools/os.query
  tests/main/os.query/task.yaml
  tests/main/postrm-purge/task.yaml
  tests/main/quota-groups-systemd-accounting/task.yaml
  tests/main/snap-mgmt/task.yaml
  tests/main/snap-quota-groups/task.yaml
  tests/main/snap-quota/task.yaml
Labels: Test Robustness, ✨quota rebooted✨

#10421 boot: drop model from resealing and boostate
  boot/assets.go
  boot/boot_test.go
  boot/bootstate20.go
  boot/cmdline.go
  boot/seal.go
  boot/seal_test.go
  boot/systems.go
Labels: Needs Samuele review, Run nested

#10384 o/snapstate: remove refreshed snap from snaps-hold in snapstate.doInstall
  overlord/snapstate/autorefresh_gating.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
Labels: Needs Samuele review, Refresh control

#10363 osutil: pass --extrausers option to groupdel
  osutil/user.go
  osutil/user_test.go
Labels: Simple 😃, Squash-merge

#10418 o/snapstate: prune refresh candidates in check-rerefresh
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/refreshhints.go
  overlord/snapstate/refreshhints_test.go
Labels: Refresh control

#10413 o/hookstate/ctlcmd: allow snapctl refresh --pending --proceed syntax.
  overlord/hookstate/ctlcmd/refresh.go
  overlord/hookstate/ctlcmd/refresh_test.go
Labels: Refresh control, Simple 😃

#10410 o/servicestate: refactor meter handling, eliminate some common parameters
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/quota_handlers_test.go
Labels: Simple 😃, ✨quota rebooted✨

#10435 cmd: a bunch of tweaks and updates
  cmd/.clangd
  cmd/Makefile.am
  cmd/autogen.sh
Labels: Simple 😃

#10434 o/svcstate/svcstatetest, daemon/api_quotas: fix some tests, add mock helper
  daemon/api_quotas_test.go
  overlord/configstate/configcore/vitality_test.go
  overlord/managers_test.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/servicestatetest/quotas.go
Labels: Simple 😃, Skip spread, Test Robustness, ✨quota rebooted✨

#10433 o/snapstate: prune gating information and refresh-candidates on snap removal
  overlord/snapstate/autorefresh_gating.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/snapstate_remove_test.go
Labels: Needs Samuele review, Refresh control

#10431 tests: fix classic-prepare-image test
  tests/main/classic-prepare-image-no-core/task.yaml
  tests/main/classic-prepare-image/task.yaml
Labels: Simple 😃

#10442 o/servicestate: move SetStatus to doQuotaControl
  overlord/servicestate/export_test.go
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/quota_handlers_test.go
Labels: ✨quota rebooted✨

#10396 tests: fix restore for security-dev-input-event-denied test
  tests/lib/reset.sh
Labels: Simple 😃

#10441 HACKING.md: update instructions for go1.16+
  HACKING.md
Labels: Skip spread

#10450 overlord, o/devicestate: use a single test helper for resetting to a post boot state
  overlord/devicestate/devicemgr.go
  overlord/managers_test.go
Labels: Simple 😃, Skip spread

#10452 cmd/snap-update-ns: add SRCDIR to include search path
  cmd/snap-update-ns/bootstrap.go
Labels: Simple 😃, Skip spread

#10447 o/hookstate: return bool flag from Error function of hook handler to ignore hook errors
  overlord/configstate/hooks.go
  overlord/devicestate/devicemgr.go
  overlord/healthstate/healthstate.go
  overlord/hookstate/hookmgr.go
  overlord/hookstate/hooks.go
  overlord/hookstate/hookstate_test.go
  overlord/hookstate/hooktest/handler.go
  overlord/hookstate/hooktest/handler_test.go
  overlord/ifacestate/hooks.go
Labels: Needs Samuele review

#10446 many: pass device/model info to configcore via sysconfig.Device interface
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  daemon/api_snap_conf_test.go
  image/image_linux.go
  overlord/configstate/configcore/backlight.go
  overlord/configstate/configcore/backlight_test.go
  overlord/configstate/configcore/certs_test.go
  overlord/configstate/configcore/cloud_test.go
  overlord/configstate/configcore/corecfg_test.go
  overlord/configstate/configcore/early_test.go
  overlord/configstate/configcore/experimental.go
  overlord/configstate/configcore/experimental_test.go
  overlord/configstate/configcore/handlers.go
  overlord/configstate/configcore/journal.go
  overlord/configstate/configcore/journal_test.go
  overlord/configstate/configcore/network.go
  overlord/configstate/configcore/network_test.go
  overlord/configstate/configcore/picfg.go
  overlord/configstate/configcore/picfg_test.go
  overlord/configstate/configcore/powerbtn.go
  overlord/configstate/configcore/powerbtn_test.go
  overlord/configstate/configcore/proxy_test.go
  overlord/configstate/configcore/refresh_test.go
  overlord/configstate/configcore/runwithstate.go
  overlord/configstate/configcore/services.go
  overlord/configstate/configcore/services_test.go
  overlord/configstate/configcore/snapshots_test.go
  overlord/configstate/configcore/swap.go
  overlord/configstate/configcore/swap_test.go
  overlord/configstate/configcore/sysctl.go
  overlord/configstate/configcore/sysctl_test.go
  overlord/configstate/configcore/timezone.go
  overlord/configstate/configcore/timezone_test.go
  overlord/configstate/configcore/users_test.go
  overlord/configstate/configcore/vitality.go
  overlord/configstate/configcore/vitality_test.go
  overlord/configstate/configcore/watchdog.go
  overlord/configstate/configcore/watchdog_test.go
  overlord/configstate/configmgr.go
  overlord/configstate/configstate.go
  overlord/configstate/configstate_test.go
  overlord/configstate/export_test.go
  overlord/configstate/handler_test.go
  overlord/devicestate/devicectx.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot_test.go
  overlord/devicestate/handlers_install.go
  sysconfig/cloudinit_test.go
  sysconfig/gadget_defaults_test.go
  sysconfig/sysconfig.go
Labels: Run nested

#10428 o/snapstate: make conditional-auto-refresh conflict with other tasks via affected snaps
  overlord/snapstate/autorefresh_gating.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate.go
Labels: Needs Samuele review, Refresh control

#10444 cmd/snap-confine, cmd/snapd-generator: fix issues identified by sparse
  cmd/libsnap-confine-private/cgroup-support.c
  cmd/snap-confine/mount-support.c
  cmd/snapd-generator/main.c
Labels: Simple 😃

#10454 cmd/libsnap-confine-private/cgroup-support.c: Fix typo
  cmd/libsnap-confine-private/cgroup-support.c
Labels: Simple 😃

#10439 snap: fix TestInstallNoPATH unit test failure when SUDO_UID is set
  cmd/snap/cmd_snap_op_test.go
Labels: Simple 😃, Skip spread

#10436 cmd/snap-confine: make mount ns use check cgroup v2 compatible
  cmd/Makefile.am
  cmd/libsnap-confine-private/cgroup-support-test.c
  cmd/libsnap-confine-private/cgroup-support.c
  cmd/libsnap-confine-private/cgroup-support.h
  cmd/snap-confine/ns-support.c
  cmd/snap-confine/snap-confine.apparmor.in
  cmd/snap-confine/snap-confine.c
  tests/main/stale-base-snap/task.yaml
Labels: cgroupv2

#10426 tests: make sure the /root/snap dir is backed up on test snap-user-dir-perms-fixed
  tests/main/snap-user-dir-perms-fixed/task.yaml
Labels: Simple 😃

#10408 o/hookstate: dedicated handler for gate-auto-refresh hook
  cmd/snaplock/runinhibit/inhibit.go
  overlord/hookstate/hooks.go
  overlord/hookstate/hooks_test.go
  overlord/snapstate/autorefresh_gating.go
Labels: Needs Samuele review, Refresh control

#10432 boot: support resealing with a try model
  boot/seal.go
  boot/seal_test.go
  boot/systems_test.go
Labels: Run nested

#10445 tests: skip tests when the sections cannot be retrieved
  tests/main/apt-hooks/task.yaml
  tests/main/snap-advise-command/task.yaml
Labels: Simple 😃

#10462 o/devicestate: move SystemMode method before first usage
  overlord/devicestate/devicemgr.go
Labels: Cleanup :broom:, Simple 😃, Skip spread

#10465 cmd/snap-update-ns: Revert "cmd/snap-update-ns: add SRCDIR to include search path"
  cmd/snap-update-ns/bootstrap.go
Labels: Simple 😃

#10460 store: make the log with download size a debug one
  store/store_download.go
Labels: Simple 😃

#10459 cmd/libsnap-confine-private: bump max depth of groups hierarchy to 32
  cmd/libsnap-confine-private/cgroup-support-test.c
  cmd/libsnap-confine-private/cgroup-support.c
Labels: Simple 😃

#10458 o/servicestate: stop setting DoneStatus prematurely for quota-control
  overlord/servicestate/export_test.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/quota_handlers_test.go
Labels: ✨quota rebooted✨

#10457 store: tweak error message when store.Sections() download fails
  store/store.go
  store/store_test.go
  tests/main/apt-hooks/task.yaml
  tests/main/searching/task.yaml
  tests/main/snap-advise-command/task.yaml
Labels: Simple 😃

#10451 testutil: introduce a checker which compares the type after having passed them through a JSON marshaller
  testutil/jsonchecker.go
  testutil/jsonchecker_test.go
Labels: Skip spread

#10423 sandbox/cgroup: support freezing groups with unified hierarchy
  cmd/snap-update-ns/main_test.go
  cmd/snap-update-ns/system_test.go
  interfaces/apparmor/template.go
  sandbox/cgroup/cgroup.go
  sandbox/cgroup/cgroup_test.go
  sandbox/cgroup/export_test.go
  sandbox/cgroup/freezer.go
  sandbox/cgroup/freezer_test.go
  sandbox/cgroup/process.go
  sandbox/cgroup/scanning_test.go
Labels: cgroupv2

#10448 configcore: ignore system.pi-config.* setting on measured kernels
  overlord/configstate/configcore/picfg.go
  overlord/configstate/configcore/picfg_test.go
Labels: Squash-merge

#10424 tests: support parameters for match-log on journal-state tool
  tests/core/enable-disable-units-gpio/task.yaml
  tests/lib/tools/journal-state
  tests/lib/tools/suite/journal-state/task.yaml
Labels: Simple 😃
