Repository canonical/snapd, pull requests merged in 2022-11, with the labels that each got.

#12297 packaging: do not traverse filesystems in postrm script
  packaging/ubuntu-14.04/snapd.postrm
  packaging/ubuntu-16.04/snapd.postrm
Labels: Simple 😃

#12299 packaging: enable BPF in RHEL9
  packaging/fedora/snapd.spec
Labels: Test Robustness

#12293 cmd/snap: improve refresh hold's output
  cmd/snap/cmd_snap_op.go
  cmd/snap/cmd_snap_op_test.go
Labels: Simple 😃

#12285 bootloader/assets: fix grub.cfg when there are no labels
  bootloader/assets/data/grub-recovery.cfg
  bootloader/assets/grub_recovery_cfg_asset.go
Labels: Run nested

#12264 tests: save snaps generated during image praparation
  spread.yaml
  tests/lib/nested.sh
Labels: Run nested

#12302 tests/main/degraded: ignore man-db update failures in CentOS
  tests/main/degraded/task.yaml
Labels: Simple 😃, Test Robustness

#12018 image: enable sysfs overlay for UC preseeding
  cmd/snap-preseed/export_test.go
  cmd/snap-preseed/main.go
  cmd/snap-preseed/preseed_uc20_test.go
  cmd/snap/cmd_prepare_image.go
  cmd/snap/cmd_prepare_image_test.go
  image/export_test.go
  image/image_linux.go
  image/image_test.go
  image/options.go
  image/preseed/export_test.go
  image/preseed/preseed.go
  image/preseed/preseed_linux.go
  image/preseed/preseed_other.go
  image/preseed/preseed_test.go
  image/preseed/preseed_uc20_test.go
Labels: Needs Samuele review

#12037 many: create snapd.mounts targets to schedule mount units
  cmd/snap-mgmt/snap-mgmt.sh.in
  data/systemd/Makefile
  data/systemd/snapd.mounts-pre.target
  data/systemd/snapd.mounts.target
  data/systemd/snapd.service.in
  image/preseed/preseed_classic_test.go
  image/preseed/reset.go
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/snapd.postrm
  packaging/ubuntu-16.04/snapd.postrm
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
  tests/core/config-defaults-once/task.yaml
  tests/core/core-to-snapd-failover16/task.yaml
  tests/core/gadget-config-defaults-vitality/task.yaml
  tests/core/gadget-config-defaults/task.yaml
  tests/core/snapd-failover/task.yaml
  tests/core/snapd16/task.yaml
  tests/lib/core-config.sh
  tests/lib/state.sh
  tests/main/basic-target-socket-activation/task.yaml
  tests/main/postrm-purge/task.yaml
  tests/main/preseed-core20/task.yaml
  tests/main/preseed/task.yaml
  tests/main/snap-mgmt/task.yaml
  wrappers/core18.go
Labels: Needs Samuele review, Run nested

#12292 multiple: add a spread test for the auto-removal of expired system-users
  daemon/api_users.go
  daemon/api_users_test.go
  daemon/export_api_users_test.go
  osutil/user.go
  osutil/user_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/users.go
  overlord/devicestate/users_test.go
  tests/nested/manual/core20-auto-remove-user/defaults.yaml
  tests/nested/manual/core20-auto-remove-user/prepare-device
  tests/nested/manual/core20-auto-remove-user/task.yaml
  tests/nested/manual/core20-auto-remove-user/user2-2.json
  tests/nested/manual/core20-auto-remove-user/user2.json
  tests/nested/manual/core20-auto-remove-user/user3.json
Labels: Run nested

#12306 sandbox: fix `apparmorSuite.SetUpTest` when home.d/snap file exists
  sandbox/apparmor/apparmor_test.go
Labels: Simple 😃, Skip spread

#12290 testutil: compare unsorted containers nested in maps
  testutil/containschecker.go
  testutil/containschecker_test.go
Labels: Skip spread

#12310 client: remove classic check for `snap recovery --show-keys`
  cmd/snap/cmd_recovery.go
  cmd/snap/cmd_recovery_test.go
Labels: Simple 😃, Needs Samuele review

#12283 tests/fakeinstaller: really use part label to find partitions
  tests/lib/fakeinstaller/main.go
Labels: Run nested

#12315 tests: tweak the libvirt interface test to work on 22.10
  tests/lib/snaps/store/test-snapd-libvirt-consumer/vm/ping-unikernel.xml
  tests/main/interfaces-libvirt/task.yaml
Labels: Simple 😃, Test Robustness

#12296 release: Fix WSL detection in LXD (LP1995083)
  release/export_test.go
  release/release.go
  release/release_test.go
Labels: Squash-merge

#12087 many: vendor apparmor into the snapd snap (take 3)
  build-aux/snap/local/apparmor/af_names.h
  build-aux/snap/snapcraft.yaml
  cmd/configure.ac
  cmd/snapd-apparmor/export_test.go
  cmd/snapd-apparmor/main.go
  cmd/snapd-apparmor/main_test.go
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/template.go
  sandbox/apparmor/apparmor.go
  sandbox/apparmor/apparmor_test.go
  sandbox/apparmor/export_test.go
  sandbox/apparmor/profile.go
  sandbox/apparmor/profile_test.go
  spread.yaml
  tests/main/apparmor-batch-reload/bin/apparmor_parser.fake
  tests/main/snapd-snap/task.yaml
Labels: Needs Samuele review

#12228 many: avoid automatic system restarts on classic through new overlord/restart logic
  boot/cmdline.go
  overlord/devicestate/devicestate_bootconfig_test.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/restart/restart.go
  overlord/restart/restart_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapstate.go
  overlord/state/change.go
  overlord/state/state.go
  overlord/state/state_test.go
  overlord/state/taskrunner.go
  overlord/state/taskrunner_test.go
  tests/lib/external/snapd-testing-tools/remote/remote.exec
  tests/nested/manual/fde-on-classic/mk-image.sh
  tests/nested/manual/fde-on-classic/task.yaml
Labels: Squash-merge, Run nested

#12324 restart,snapstate: implement reboot-required notifications on classic
  overlord/devicestate/devicestate_bootconfig_test.go
  overlord/restart/restart.go
  overlord/restart/restart_test.go
  overlord/snapstate/snapstate.go
  tests/nested/manual/fde-on-classic/mk-image.sh
  tests/nested/manual/fde-on-classic/task.yaml
Labels: Squash-merge, Run nested

#12317 overlord: add a high-level README about state and changes
  overlord/README.md
Labels: Skip spread

#12333 README.md: add Github Actions badge and fix link
  README.md
Labels: Simple 😃, Skip spread

#12337 docs: new labeler rules for "Needs Documentation" label
  .github/labeler.yml
  .github/workflows/labeler.yaml
Labels: Skip spread

#12282 tests: improve muinstaller to be more role/installer aware
  tests/lib/fakeinstaller/mk-classic-rootfs.sh
Labels: Run nested

#12344 ci: update labeler configuration
  .github/labeler.yml
  .github/workflows/labeler.yaml
  .github/workflows/test.yaml
Labels: Skip spread

#12350 apparmor: disable vendoring again
  sandbox/apparmor/apparmor.go
  sandbox/apparmor/apparmor_test.go
  tests/main/snapd-snap/task.yaml
Labels: Run nested

#12357 cmd/snap-confine: do not discard const qualifier, FTBFS on Rawhide fix
  cmd/snap-confine/selinux-support.c
Labels: Simple 😃

#12352 cmd/snap: display refresh holds over 100y as forever
  cmd/snap/cmd_snap_op.go
  cmd/snap/cmd_snap_op_test.go
Labels: Pulse

#12360 tests: use system-seed-null in fakeinstaller-real test
  tests/nested/manual/fakeinstaller-real/task.yaml
Labels: Simple 😃, Run nested, Run Nested -auto-

#12364 tests: remove workaround for createing a gpt label in fakeinstaller-real
  tests/nested/manual/fakeinstaller-real/task.yaml
Labels: Simple 😃, Run nested, Run Nested -auto-

#12359 tests: add check for `snap recovery --show-keys` to fakeinstaller-real
  tests/lib/fakeinstaller/mk-classic-rootfs.sh
  tests/nested/manual/fakeinstaller-real/task.yaml
Labels: Simple 😃, Run nested, Run Nested -auto-

#12363 many: rename fakeinstaller to muinstaller
  gadget/install/partition.go
  tests/lib/muinstaller/go.mod
  tests/lib/muinstaller/main.go
  tests/lib/muinstaller/mk-classic-rootfs.sh
  tests/lib/muinstaller/snapcraft.yaml
  tests/nested/manual/muinstaller-real/task.yaml
  tests/nested/manual/muinstaller/task.yaml
Labels: Simple 😃, Run nested, Run Nested -auto-

#12328 tests/fde-on-classic: ask for generic serial to the store
  tests/nested/manual/fde-on-classic/classic-model.assert
  tests/nested/manual/fde-on-classic/classic-model.json
  tests/nested/manual/fde-on-classic/task.yaml
Labels: Run nested, Run Nested -auto-

#12366 gadget/install: use laidOut volume info instead of onDisk when mounting partitions during factory reset
  gadget/install/install.go
Labels: Run nested

#12362 interfaces/network-manager: add permission for OpenVPN
  interfaces/builtin/network_manager.go
Labels: Pulse

#12330 tests: update test now that core18 supports sessions
  tests/lib/tools/suite/tests.session-support/task.yaml
Labels: Simple 😃, Test Robustness

#12373 tests: fix an unbound variable in LXD test
  tests/main/lxd/task.yaml
Labels: Simple 😃, Test Robustness

#12370 tests: add more workers for ubuntu core 20/22
  spread.yaml
Labels: Simple 😃

#12374 tests: avoid running spread -abend in the github workflow
  .github/workflows/test.yaml
Labels: Simple 😃, Run nested

#12361 aspects: validate aspect names and paths
  aspects/aspects.go
  aspects/aspects_test.go
Labels: Skip spread, Pulse, aspects
