Repository canonical/snapd, pull requests merged in 2022-03, with the labels that each got.

#11282 bootloader: allow different names for the grub binary in different archs
  arch/archtest/archtest.go
  bootloader/assets/data/grub-recovery.cfg
  bootloader/assets/grub_recovery_cfg_asset.go
  bootloader/grub.go
  bootloader/grub_test.go
Labels: Needs Samuele review

#11447 tests: get lxd snap from candidate channel
  spread.yaml
Labels: Simple 😃

#11454 overlord, boot: fix unit tests on arches other than amd64
  boot/assets_test.go
  boot/makebootable_test.go
  boot/seal_test.go
  overlord/managers_test.go
Labels: Simple 😃, Skip spread

#11272 interfaces: custom-device
  interfaces/builtin/custom_device.go
  interfaces/builtin/custom_device_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
  tests/nested/core/interfaces-custom-devices/devices-plug/bin/cmd
  tests/nested/core/interfaces-custom-devices/devices-plug/meta/snap.yaml
  tests/nested/core/interfaces-custom-devices/task.yaml
Labels: Squash-merge, Needs Samuele review, Run nested

#11455 asserts: return an explicit error when key cannot be found
  asserts/database.go
  asserts/extkeypairmgr.go
  asserts/extkeypairmgr_test.go
  asserts/fskeypairmgr.go
  asserts/fskeypairmgr_test.go
  asserts/gpgkeypairmgr.go
  asserts/gpgkeypairmgr_test.go
  asserts/memkeypairmgr_test.go
  cmd/snap/cmd_delete_key.go
  cmd/snap/cmd_delete_key_test.go
  cmd/snap/cmd_export_key.go
  cmd/snap/cmd_export_key_test.go
  cmd/snap/cmd_sign_build_test.go
Labels: Simple 😃

#11464 boot: mock amd64 arch for mabootable 20 suite
  boot/makebootable_test.go
Labels: Simple 😃, Skip spread

#11427 data/selinux: allow the snap command to run systemctl
  data/selinux/snappy.te
Labels: Simple 😃

#11405 packaging/ubuntu-16.04/rules: don't run unit tests on riscv64
  packaging/ubuntu-16.04/rules
Labels: Simple 😃

#11452 interfaces/cpu-control: add extra idleruntime data/reset files to cpu-control
  interfaces/builtin/cpu_control.go
Labels: Simple 😃

#11459 interfaces/network-control: add D-Bus rules for resolved too
  interfaces/builtin/network_control.go
Labels: Simple 😃

#11433 osutil/disks: trigger udev on the partition device node
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
Labels: Simple 😃, Needs Samuele review

#11407 tests: small adjustments to fix vuln spread tests
  tests/lib/tools/snaps-state
  tests/main/snap-confine-tmp-mount/task.yaml
  tests/nested/manual/preseed/task.yaml
Labels: Simple 😃, Test Robustness, Run nested

#11409 interfaces/apparmor: add missing unit tests for special devmode rules/behavior
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/ifacetest/backendtest.go
Labels: Simple 😃, Test Robustness

#11420 gadget: add buildVolumeStructureToLocation, volumeStructureToLocationMap
  gadget/export_test.go
  gadget/gadgettest/examples.go
  gadget/update.go
  gadget/update_test.go
Labels: Needs Samuele review

#11469 tests/main/mount-ns: unmount /run/qemu
  tests/main/mount-ns/task.yaml
Labels: Simple 😃

#11431 o/snapstate: add core22 migration logic
  cmd/snap-confine/snap-confine.apparmor.in
  interfaces/apparmor/template.go
  overlord/managers_test.go
  overlord/snapstate/backend/copydata.go
  overlord/snapstate/backend/export_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Needs Samuele review, Security-High, Needs security review

#11478 tests/main/user-session-env: special case bash profile on Tumbleweed
  tests/main/user-session-env/task.yaml
Labels: Simple 😃

#11444 cmd: misc analyzer fixes
  cmd/snap-device-helper/snap-device-helper.c
  cmd/snapd-generator/main.c
Labels: Simple 😃

#11479 tests: increase the times in snapd-sigterm for arm devices
  tests/main/snapd-sigterm/task.yaml
Labels: Simple 😃

#11472 tests: skip interfaces-cups-control from debian-sid
  tests/main/interfaces-cups-control/task.yaml
Labels: Squash-merge, Simple 😃

#11451 tests: update the snapd testing tools
  tests/lib/external/snapd-testing-tools/spread.yaml
  tests/lib/external/snapd-testing-tools/tests/log-parser/task.yaml
  tests/lib/external/snapd-testing-tools/tools/check-test-format
  tests/lib/external/snapd-testing-tools/tools/os.query
  tests/lib/external/snapd-testing-tools/utils/log-parser
Labels: Simple 😃

#11473 tests: validate tests tools just on google and qemu backends
  spread.yaml
  tests/main/boot-state/task.yaml
  tests/main/os.paths/task.yaml
  tests/main/os.query/task.yaml
  tests/main/snapd-state/task.yaml
  tests/main/snaps-state/task.yaml
Labels: Simple 😃

#11463 o/state: fix undo with independent tasks in same change and lane
  overlord/state/task.go
  overlord/state/task_test.go
  overlord/state/taskrunner_test.go
Labels: Bug

#11436 o/devicestate, daemon: introduce factory-reset mode, allow switching
  daemon/api_systems_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_systems_test.go
Labels: factory reset 🔌

#11486 cmd/snap: add support for rebooting to factory-reset
  cmd/snap/cmd_reboot.go
  cmd/snap/cmd_reboot_test.go
Labels: Simple 😃, factory reset 🔌

#11489 o/devicestate: split mocks to separate calls for creating a model and a gadget
  overlord/devicestate/devicestate_install_mode_test.go
Labels: Simple 😃, Skip spread

#11482 tests: Include the source github url as part of the mongo db issues
  .github/workflows/test.yaml
  tests/lib/tools/report-mongodb
Labels: Simple 😃

#11495 tests/lib/tools/report-mongodb: fix typo in help text
  tests/lib/tools/report-mongodb
Labels: Simple 😃, Skip spread

#11491 interface/opengl: allow read on /proc/sys/dev/i915/perf_stream_paranoid
  interfaces/builtin/opengl.go
Labels: Simple 😃

#11461 cmd/snap-preseed: support for core20 preseeding
  cmd/snap-preseed/export_test.go
  cmd/snap-preseed/main.go
  cmd/snap-preseed/preseed_classic_test.go
  cmd/snap-preseed/preseed_linux.go
  cmd/snap-preseed/preseed_uc20_test.go
Labels: Preseeding 🍞, Run nested

#11500 many: replace use of "sanity" for interface implementation checks
  asserts/account.go
  asserts/account_key.go
  asserts/asserts.go
  asserts/model.go
  asserts/repair.go
  asserts/snap_asserts.go
  asserts/system_user.go
  bootloader/grub.go
  bootloader/uboot.go
  daemon/api_base_test.go
  gadget/install/encrypt.go
  overlord/devicestate/devicectx.go
  snap/info.go
Labels: Simple 😃, Skip spread

#11493 tests: updating the test-snapd-cups-control-consumer snap to core20 based
  tests/lib/snaps/store/test-snapd-cups-control-consumer/snapcraft.yaml
  tests/main/interfaces-cups-control/task.yaml
Labels: Simple 😃

#11498 github: replace "sanity check" with "quick check" in workflow
  .github/workflows/macos-quick.yaml
Labels: Simple 😃, Skip spread

#11507 overlord: extend single reboot test to include a non-base, non-kernel snap
  overlord/managers_test.go
Labels: Squash-merge, Simple 😃, Skip spread

#11510 dirs: remove unused SnapMetaDir variable
  dirs/dirs.go
Labels: Simple 😃, Skip spread

#11506 tests: fix test to avoid editing the test-snapd-tools snap.yaml file
  tests/main/hidden-snap-dir/task.yaml
Labels: Simple 😃

#11470 boot: support factory-reset when sealing and resealing
  boot/boot_test.go
  boot/cmdline.go
  boot/cmdline_test.go
  boot/makebootable_test.go
  boot/seal.go
  boot/seal_test.go
  boot/systems_test.go
Labels: Run nested, factory reset 🔌

#11528 tests: use lxd from edge to avoid issues not fixed on candidate yet
  spread.yaml
Labels: Simple 😃

#11068 bootloader: add support for piboot
  boot/boottest/bootenv.go
  boot/initramfs.go
  boot/initramfs_test.go
  boot/reboot.go
  bootloader/bootloader.go
  bootloader/bootloader_test.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/export_test.go
  bootloader/piboot.go
  bootloader/piboot.md
  bootloader/piboot_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  gadget/gadget.go
  gadget/gadget_test.go
  image/image_linux.go
Labels: Complex, Needs Samuele review

#11504 o/snapstate: allow installing the snapd-desktop-integration snap even if the user-daemons feature is otherwise disabled
  overlord/snapstate/backend_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
Labels: Needs Samuele review

#11532 cmd/snap: make 1.18 vet happy
  cmd/snap/cmd_find_test.go
  cmd/snap/cmd_info_test.go
  cmd/snap/cmd_known_test.go
  cmd/snap/cmd_routine_portal_info_test.go
  cmd/snap/cmd_run_test.go
Labels: Simple 😃, Skip spread

#11503 interfaces/docker-support: make generic rules not conflict with snap-confine
  interfaces/builtin/docker_support.go
  tests/main/docker-smoke/task.yaml
Labels: Squash-merge, Bug

#10676 cmd/snap-update-ns/change.go: sort needed, desired and not reused mount entries
  cmd/snap-update-ns/bootstrap.go
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/main_test.go
  data/selinux/snappy.te
  tests/main/mounts-persist-refresh-content-snap/task.yaml
  tests/main/mounts-persist-refresh-content-snap/test-snapd-desktop-layout-with-content/bin.sh
  tests/main/mounts-persist-refresh-content-snap/test-snapd-desktop-layout-with-content/meta/snap.yaml
  tests/regression/lp-1844496/task.yaml
  tests/regression/lp-1844496/test-snapd-layout/meta/snap.yaml
  tests/regression/lp-1852361/task.yaml
  tests/regression/lp-1867193/task.yaml
  tests/regression/lp-1867752/task.yaml
Labels: Squash-merge, Needs Samuele review

#11515 snap-bootstrap: Partially revert simplifications of mount dependencies
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/initramfs_systemd_mount.go
  cmd/snap-bootstrap/initramfs_systemd_mount_test.go
Labels: Run nested

#11536 overlord/state: add helper for aborting unready lanes
  overlord/state/change.go
  overlord/state/change_test.go
Labels: Squash-merge

#11394 osutil/disks: calculate the last usable LBA instead of reading it
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
  osutil/disks/gpt.go
  osutil/disks/gpt_test.go
  osutil/disks/mockdisk_linux.go
  osutil/disks/testdata/generate.sh
  osutil/disks/testdata/gpt_footer
  osutil/disks/testdata/gpt_header
  tests/main/uc20-create-partitions-encrypt/task.yaml
  tests/main/uc20-create-partitions/task.yaml
Labels: Run nested

#11541 kernel/fde: add PartitionName to various structs
  kernel/fde/device_unlock.go
  kernel/fde/fde.go
  kernel/fde/fde_test.go
  kernel/fde/reveal_key.go
Labels: Simple 😃

#11548 release: 2.55
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃

#11550 release: 2.55
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃

#11552 cmd/snap-update-ns/change_test.go: use non-exist name foo-runtime instead
  cmd/snap-update-ns/change_test.go
Labels: Simple 😃, Skip spread

#11553 cmd/snap-update-ns: actually use entirely non-existent dirs
  cmd/snap-update-ns/change_test.go
Labels: Simple 😃, Skip spread

#11554 release: sync 2.55 back with master
  cmd/snap-update-ns/change_test.go
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃

#11353 systemd: do not reload system when enabling/disabling services
  interfaces/systemd/backend.go
  interfaces/systemd/backend_test.go
  overlord/configstate/configcore/services.go
  overlord/configstate/configcore/services_test.go
  overlord/configstate/configcore/vitality_test.go
  overlord/managers_test.go
  overlord/servicestate/service_control_test.go
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
  wrappers/core18.go
  wrappers/core18_test.go
  wrappers/services.go
  wrappers/services_test.go
Labels: Needs Samuele review

#11529 tests/lib/nested.sh: rm core18 snap after download
  tests/lib/nested.sh
Labels: Simple 😃, Run nested

#11509 tests/lib/fakestore/store: return snap base in details
  tests/lib/fakestore/store/store.go
  tests/lib/fakestore/store/store_test.go
Labels: Simple 😃

#11547 tests: workaround lxd issue lp:10079 (function not implemented) on prep-snapd-in-lxd
  spread.yaml
  tests/main/lxd-postrm-purge/prep-snapd-in-lxd.sh
  tests/main/lxd/prep-snapd-in-lxd.sh
Labels: Squash-merge, Simple 😃, Flaky Test

#11546 debug-tools/snap-debug-info.sh: add debug script
  debug-tools/snap-debug-info.sh
Labels: Simple 😃, Skip spread

#11544 quota: add some more unit tests around Resource.Change()
  snap/quota/resources_test.go
Labels: Simple 😃, Skip spread

#11539 tests: fix the nested remodel tests
  spread.yaml
  tests/lib/nested.sh
  tests/lib/store.sh
  tests/lib/tools/tests.nested
  tests/nested/core/core20-degraded/task.yaml
  tests/nested/manual/core20-cloud-init-maas-signed-seed-data/task.yaml
  tests/nested/manual/devmode-snaps-can-run-other-snaps/task.yaml
  tests/nested/manual/remodel-cross-store/task.yaml
  tests/nested/manual/remodel-simple/task.yaml
Labels: Run nested

#11558 sandbox: improve error message from `ProbeCgroupVersion()`
  sandbox/cgroup/cgroup.go
  sandbox/cgroup/cgroup_test.go
Labels: Simple 😃, Skip spread

#11514 data: add static preseed.json file
  build-aux/snap/snapcraft.yaml
  data/preseed.json
  tests/main/snapd-snap/task.yaml
Labels: Preseeding 🍞

#11526 o/snapstate, ifacestate: pass preseeding flag to AddSnapdSnapServices
  overlord/ifacestate/export_test.go
  overlord/ifacestate/handlers.go
  overlord/snapstate/backend/export_test.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  wrappers/core18.go
  wrappers/services.go
Labels: Preseeding 🍞

#11512 cmd/snap-bootstrap: support booting into factory-reset mode
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  osutil/disks/mockdisk.go
Labels: Squash-merge, Run nested, factory reset 🔌

#11563 overlord/devicestate: install system cleanups
  overlord/devicestate/devicemgr.go
  overlord/devicestate/handlers_install.go
Labels: Simple 😃, Skip spread

#11564 tests: adapt nested tests to use tests.nested tool
  tests/nested/core/core20-fault-inject/task.yaml
  tests/nested/manual/core20-remodel/task.yaml
  tests/nested/manual/core20-to-core22/task.yaml
Labels: Run nested

#11496 o/devicestate: factory reset mode, no encryption
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
Labels: factory reset 🔌

#11568 cmd/snap/debug: sort changes by their spawn times
  cmd/snap/cmd_debug_state.go
  cmd/snap/cmd_debug_state_test.go
Labels: Simple 😃

#11562 tests: fix restore of the BUILD_DIR in failover test on uc18
  tests/core/failover/task.yaml
Labels: Simple 😃

#11533 tests: switch to "test-snapd-swtpm"
  tests/lib/nested.sh
Labels: Run nested

#11511 many: replace use of "sanity" with more inclusive naming (part 2)
  asserts/asserts_test.go
  boot/modeenv_test.go
  cmd/autogen.sh
  cmd/snap-update-ns/utils_test.go
  cmd/snap/cmd_debug_bootvars_test.go
  daemon/api_apps_test.go
  daemon/api_debug_seeding.go
  daemon/api_validate_test.go
  desktop/notification/gtk.go
  gadget/gadget_test.go
  gadget/layout_test.go
  image/image_test.go
  interfaces/apparmor/backend_test.go
  interfaces/policy/basedeclaration_test.go
  interfaces/repo.go
  interfaces/system_key.go
  interfaces/udev/spec_test.go
  overlord/assertstate/assertmgr.go
  overlord/assertstate/assertstate_test.go
  overlord/assertstate/helpers.go
  overlord/configstate/config/helpers_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/firstboot_preseed_test.go
  overlord/devicestate/handlers_install.go
  overlord/hookstate/ctlcmd/is_connected_test.go
  overlord/hookstate/ctlcmd/refresh_test.go
  overlord/hookstate/ctlcmd/unset_test.go
  overlord/ifacestate/helpers_test.go
  overlord/ifacestate/hotplug_test.go
  overlord/patch/patch_test.go
  overlord/servicestate/service_control_test.go
  overlord/snapshotstate/backend/backend_test.go
  overlord/snapshotstate/snapshotmgr_test.go
  overlord/snapshotstate/snapshotstate_test.go
  overlord/snapstate/aux_store_info_test.go
  overlord/snapstate/backend/copydata_test.go
  overlord/snapstate/catalogrefresh_test.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/refresh_test.go
  overlord/snapstate/storehelpers_test.go
  overlord/state/warning_test.go
Labels: Simple 😃, Skip spread, :heart: Inclusive language

#11545 quota: add test for `Resource.clone()`
  snap/quota/export_test.go
  snap/quota/resources_test.go
Labels: Skip spread

#11527 image: integrate UC20 preseeding with image.Prepare
  image/export_test.go
  image/image_linux.go
  image/image_test.go
  image/options.go
Labels: Preseeding 🍞

#11581 tests: moving ubuntu-image to candidate to fix uc16 tests
  spread.yaml
Labels: ⚠ Critical, Simple 😃, Test Robustness, Flaky Test

#11577 quota: detect/error if cpu-set is used with cgroup v1
  overlord/servicestate/export_test.go
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_control_test.go
  snap/quota/export_test.go
  snap/quota/resources.go
  snap/quota/resources_test.go
Labels: Squash-merge, Needs Samuele review

#11584 many: small inconsequential tweaks
  bootloader/lkenv/lkenv.go
  cmd/snap-seccomp/main.go
  cmd/snap-update-ns/change.go
  cmd/snap/cmd_services.go
  interfaces/builtin/dsp_test.go
  snapdtool/export_test.go
  snapdtool/tool_linux.go
  snapdtool/tool_linux_test.go
  snapdtool/tool_test.go
  spread.yaml
  tests/main/snapd-snap/task.yaml
Labels: Simple 😃, Skip spread

#11579 strutil: move wrapGeneric function to strutil as WordWrap
  cmd/snap/cmd_info.go
  cmd/snap/cmd_info_test.go
  cmd/snap/export_test.go
  strutil/strutil.go
  strutil/strutil_test.go
Labels: Skip spread

#11535 image/preseed: migrate tests from cmd/snap-preseed
  cmd/snap-preseed/export_test.go
  cmd/snap-preseed/main.go
  cmd/snap-preseed/preseed_classic_test.go
  cmd/snap-preseed/preseed_uc20_test.go
  image/preseed/preseed_classic_test.go
  image/preseed/preseed_linux.go
  image/preseed/preseed_test.go
  image/preseed/preseed_uc20_test.go
  image/preseed/reset.go
Labels: Preseeding 🍞, Run nested

#11603 tests: set as manual the interfaces-cups-control test
  tests/main/interfaces-cups-control/task.yaml
Labels: Simple 😃

#11570 run-check: use go install instead of go get
  run-checks
Labels: ⚠ Critical, Squash-merge, Simple 😃, Skip spread

#11611 github/workflows: update golangci-lint version
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#11610 store: set validation-sets on actions when refreshing
  store/store_action.go
  store/store_action_test.go
Labels: Squash-merge, Bug, validation-sets :white_check_mark:

#11549 gadget/install, kernel: more ICE helpers/support
  gadget/install/encrypt.go
  gadget/install/encrypt_test.go
  gadget/install/export_secboot_test.go
  gadget/install/install.go
  kernel/fde/fde.go
  kernel/fde/fde_test.go
Labels: Simple 😃
