Repository canonical/snapd, pull requests merged in 2022-08, with the labels that each got.

#12014 tests: disable microk8s test on 16.04
  tests/main/microk8s-smoke/task.yaml
Labels: Simple 😃, Flaky Test

#11953 cmd/snap-update-ns: handle mountpoint removal failures with EBUSY
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
Labels: Squash-merge, Needs Samuele review

#12007 release: merge 2.57 changelog
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Skip spread

#11992 interfaces,metautil: make error handling in getPaths() more targeted
  interfaces/builtin/posix_mq.go
  metautil/type_conversions.go
  metautil/type_conversions_test.go
Labels: Needs Samuele review, Skip spread

#12028 release: 2.57.1
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge, Skip spread

#12010 i/b/mount-control: allow custom filesystem types
  interfaces/builtin/mount_control.go
  interfaces/builtin/mount_control_test.go
Labels: Needs Samuele review

#12029 tests: skip interfaces-ufisks2 on centos-9
  tests/main/interfaces-udisks2/task.yaml
Labels: Simple 😃

#12026 tests: unify the way the snapd/core and kernel are repacked in nested helper
  spread.yaml
  tests/lib/nested.sh
  tests/nested/manual/core20-remodel/task.yaml
  tests/nested/manual/remodel-cross-store/task.yaml
  tests/nested/manual/remodel-simple/task.yaml
Labels: Run nested

#11911 o/assertstate, snapasserts: implementation of assertstate.TryEnforceValidationSets function
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
  cmd/snap/cmd_validate.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
Labels: validation-sets :white_check_mark:

#12033 tests: implement prepare_gadget and prepare_base and unify all the version
  tests/lib/nested.sh
Labels: Run nested

#12041 boot: remove some unneeded `fmt.Sprintf()` calls
  boot/model_test.go
Labels: Simple 😃, Skip spread

#12039 testutil: remove unneeded `fmt.Sprintf`
  testutil/errorischecker.go
Labels: Simple 😃, Skip spread

#12040 asserts: add some missing `c.Check()` in the asserts test
  asserts/asserts_test.go
  asserts/database_test.go
  asserts/fsbackstore_test.go
  asserts/membackstore_test.go
Labels: Simple 😃, Skip spread

#12038 daemon,usersession: switch from HeaderMap to Header in tests
  daemon/api_apps_test.go
  daemon/api_asserts_test.go
  daemon/api_general_test.go
  daemon/api_model_test.go
  usersession/agent/rest_api_test.go
Labels: Simple 😃

#12047 many: progress bars should use the overridable stdouts
  cmd/snap/cmd_download.go
  cmd/snap/inhibit.go
  cmd/snap/wait.go
  image/image_linux.go
  image/preseed/preseed.go
  progress/export_test.go
  progress/progress.go
  progress/progress_test.go
  store/tooling/tooling.go
Labels: Skip spread

#12051 HACKING.md: extend guidelines with common review comments
  HACKING.md
Labels: Simple 😃, Documentation, Skip spread

#12055 bootloader,systemd: fix `don't use Yoda conditions (ST1017)`
  bootloader/lkenv/lkenv.go
  systemd/systemd.go
Labels: Simple 😃, Skip spread

#12054 many: fix unnecessary use of fmt.Sprintf (S1039)
  cmd/snapd-apparmor/main_test.go
  overlord/configstate/config/transaction_test.go
  overlord/managers_test.go
  overlord/state/taskrunner_test.go
  sandbox/seccomp/compiler_test.go
  tests/lib/fakedevicesvc/main.go
Labels: Simple 😃, Skip spread

#12050 data/selinux: allow snaps to read certificates
  data/selinux/snappy.te
Labels: Needs security review

#12057 many: refactor store code to be able to use simpler form of auth creds
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/handlers_remodel.go
  overlord/snapstate/backend.go
  store/auth.go
  store/auth_u1.go
  store/auth_u1_test.go
  store/export_test.go
  store/store.go
  store/store_action.go
  store/store_test.go
  store/storetest/storetest.go
Labels: snap-revision-delegation

#12064 sandbox/apparmor: remove duplicate hook into testing package
  sandbox/apparmor/profile_test.go
Labels: Simple 😃, Skip spread

#12062 o/devicestate: do not run tests in this folder twice
  overlord/devicestate/devicectx_test.go
Labels: Skip spread

#12035 o/snapstate: extend support for holding refreshes
  overlord/configstate/configcore/refresh.go
  overlord/configstate/configcore/refresh_test.go
  overlord/hookstate/hooks.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_gating.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
  tests/main/auto-refresh-gating-from-snap/task.yaml
  tests/main/auto-refresh-gating/task.yaml
  tests/main/auto-refresh-retry/task.yaml
  tests/main/auto-refresh/task.yaml
  tests/main/snapd-state/task.yaml
Labels: Needs Samuele review

#11916 tests: add spread test for journal quotas
  tests/main/snap-quota-journal/task.yaml
  tests/main/snap-quota-journal/test-snapd-journal-quota/bin/logger
  tests/main/snap-quota-journal/test-snapd-journal-quota/meta/snap.yaml
Labels: quota

#12075 tests: rework snap-logs-journal test and add missing cleanup
  tests/lib/snaps/test-snapd-journal-quota/bin/logger
  tests/lib/snaps/test-snapd-journal-quota/meta/snap.yaml
  tests/main/snap-logs-journal/task.yaml
Labels: Test Robustness

#12065 store/tooling: support using snapcraft v7+ base64-encoded auth data
  store/auth.go
  store/auth_u1.go
  store/store.go
  store/tooling/auth.go
  store/tooling/export_test.go
  store/tooling/tooling.go
  store/tooling/tooling_test.go
Labels: Squash-merge, snap-revision-delegation

#12077 tests: add extra space to ubuntu bionic
  spread.yaml
Labels: Simple 😃

#12082 tests: remove NESTED_IMAGE_ID from nested manual tests
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/cloud-init-nocloud-not-vuln/task.yaml
  tests/nested/manual/core-early-config/task.yaml
  tests/nested/manual/core-seeding-devmode/task.yaml
  tests/nested/manual/core20-4k-sector-size/task.yaml
  tests/nested/manual/core20-boot-config-update/task.yaml
  tests/nested/manual/core20-cloud-init-maas-signed-seed-data/task.yaml
  tests/nested/manual/core20-custom-kernel-commandline/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
  tests/nested/manual/core20-gadget-cloud-conf/task.yaml
  tests/nested/manual/core20-grade-signed-above-testkeys-boot/task.yaml
  tests/nested/manual/core20-grade-signed-cloud-init-testkeys/task.yaml
  tests/nested/manual/core20-initramfs-time-moves-forward/task.yaml
  tests/nested/manual/core20-install-device-file-install-via-hook-hack/task.yaml
  tests/nested/manual/core20-install-mode-shutdown-via-hook/task.yaml
  tests/nested/manual/core20-new-snapd-does-not-break-old-initrd/task.yaml
  tests/nested/manual/core20-preseed/task.yaml
  tests/nested/manual/core20-remodel/task.yaml
  tests/nested/manual/core20-save/task.yaml
  tests/nested/manual/core20-to-core22/task.yaml
  tests/nested/manual/devmode-snap-seeded-dangerous/task.yaml
  tests/nested/manual/gadget-connections/task.yaml
  tests/nested/manual/remodel-cross-store/task.yaml
  tests/nested/manual/remodel-simple/task.yaml
  tests/nested/manual/snapd-refresh-from-old/task.yaml
  tests/nested/manual/snapd-removes-vulnerable-snap-confine-revs/task.yaml
  tests/nested/manual/uc20-fde-hooks-v1/task.yaml
  tests/nested/manual/uc20-fde-hooks/task.yaml
  tests/nested/manual/uc20-storage-safety/task.yaml
Labels: Run nested

#12080 overlord: track security profiles for non-active snaps
  overlord/ifacestate/handlers.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/ifacestate.go
  overlord/ifacestate/ifacestate_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapmgr.go
  tests/nested/core/connected-after-reboot-revert/task.yaml
Labels: Squash-merge, Bug, Run nested

#10267 snap-bootstrap: add CVM mode
  boot/cmdline.go
  boot/cmdline_test.go
  boot/flags.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_nosecboot.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_secboot.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
  cmd/snap-bootstrap/initramfs_systemd_mount.go
  cmd/snap-bootstrap/initramfs_systemd_mount_test.go
  secboot/export_sb_test.go
  secboot/secboot.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
Labels: Needs Samuele review, Run nested

#12070 asserts,cmd/snap-repair: drop not pursued AuthorityDelegation/signatory-id
  asserts/asserts.go
  asserts/asserts_test.go
  asserts/authority_delegation.go
  asserts/authority_delegation_test.go
  asserts/database.go
  asserts/database_test.go
  asserts/fetcher.go
  asserts/fetcher_test.go
  asserts/pool.go
  asserts/pool_test.go
  asserts/snap_asserts_test.go
  cmd/snap-repair/runner.go
Labels: snap-revision-delegation

#12066 overlord: --quota-group support (1/2)
  overlord/servicestate/conflict.go
  overlord/servicestate/export_test.go
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_control_test.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/quota_handlers_test.go
  overlord/servicestate/servicemgr.go
  overlord/snapstate/flags.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
Labels: Needs Samuele review, quota

#12086 tests: fix debug section for test uc20-create-partitions
  tests/main/uc20-create-partitions/task.yaml
Labels: Simple 😃

#12046 cmd/snap-bootstrap: changes to be able to boot classic rootfs
  boot/bootstate20.go
  boot/flags.go
  boot/flags_test.go
  boot/initramfs.go
  boot/initramfs_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/main.go
Labels: Run nested

#12084 tests: check snap download with snapcraft v7+ export-login auth data
  tests/main/download-private/snapcraft-export-login.exp
  tests/main/download-private/task.yaml
Labels: snap-revision-delegation
