Repository canonical/snapd, pull requests merged in 2022-06, with the labels that each got.

#11836 interfaces/builtin/system-observe: extend access for htop
  interfaces/builtin/system_observe.go
Labels: Simple 😃

#11838 systemd: improve error handling for systemd-sysctl command
  systemd/sysctl.go
  systemd/sysctl_test.go
Labels: Simple 😃

#11837 secboot: helpers for dealing with PCR handles and TPM resources
  secboot/export_sb_test.go
  secboot/secboot_dummy.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
Labels: Skip spread, factory reset 🔌

#11841 tests: avoid launching lxd inside lxd on cloud images
  tests/main/lxd/task.yaml
Labels: Simple 😃, Flaky Test

#11833 secboot, boot: TPM provisioning mode enum, introduce reprovisioning
  boot/export_test.go
  boot/makebootable_test.go
  boot/seal.go
  boot/seal_test.go
  secboot/secboot.go
  secboot/secboot_dummy.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
Labels: Run nested, factory reset 🔌

#11817 many: print valid/invalid status on snap validate --monitor ...
  client/validate.go
  client/validate_test.go
  cmd/snap/cmd_validate.go
  cmd/snap/cmd_validate_test.go
  daemon/api_validate.go
  daemon/api_validate_test.go
  daemon/export_api_validate_test.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  tests/main/snap-validate-basic/task.yaml
Labels: Squash-merge, Needs Samuele review, validation-sets :white_check_mark:

#11728 tests: remove old ubuntu-core-transition nightly tests
  tests/nightly/classic-ubuntu-core-transition-auth/task.yaml
  tests/nightly/classic-ubuntu-core-transition-two-cores/task.yaml
  tests/nightly/classic-ubuntu-core-transition/task.yaml
Labels: Simple 😃

#11845 tests/main/nfs-support: be robust against umount failures
  tests/main/nfs-support/task.yaml
Labels: Simple 😃, Test Robustness

#11834 o/snapstate: exclude services from refresh app awareness hard running check
  overlord/snapstate/refresh.go
  overlord/snapstate/refresh_test.go
  tests/main/services-refresh-mode/task.yaml
  tests/main/services-snapctl/task.yaml
  tests/main/services-stop-mode-sigkill/task.yaml
  tests/main/services-stop-mode/task.yaml
Labels: Bug, refresh app awareness

#11178 tests: increase the memory on test minimal-smoke with secboot disabled
  tests/nested/manual/minimal-smoke/task.yaml
Labels: Simple 😃, Run nested

#11847 tests/main/interfaces-browser-support: verify jupyter notebooks access
  interfaces/builtin/browser_support.go
  tests/main/interfaces-browser-support/task.yaml
Labels: Simple 😃

#11770 wrappers: write journald config files for quota groups with journal quotas (3/n)
  dirs/dirs.go
  wrappers/services.go
  wrappers/services_test.go
Labels: Run nested

#11780 overlord/hookstate/ctlcmd: add 'snapctl model' command (3/3)
  daemon/snap.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/hookstate/ctlcmd/ctlcmd.go
  overlord/hookstate/ctlcmd/export_test.go
  overlord/hookstate/ctlcmd/model.go
  overlord/hookstate/ctlcmd/model_test.go
Labels: Needs Samuele review

#11859 secboot/keymgr, cmd/snap-fde-keymgr: two step encryption key change
  cmd/snap-fde-keymgr/export_test.go
  cmd/snap-fde-keymgr/main.go
  cmd/snap-fde-keymgr/main_test.go
  secboot/keymgr/export_test.go
  secboot/keymgr/keymgr_luks2.go
  secboot/keymgr/keymgr_luks2_test.go
  tests/main/uc20-create-partitions-encrypt/task.yaml
  tests/main/uc20-create-partitions/task.yaml
Labels: factory reset 🔌

#11844 secboot, boot: support and use alternative PCR handles during factory reset
  boot/export_test.go
  boot/makebootable.go
  boot/makebootable_test.go
  boot/seal.go
  boot/seal_test.go
  secboot/secboot.go
Labels: Run nested, factory reset 🔌

#11865 secboot: stage and transition encryption keys
  secboot/encrypt_dummy.go
  secboot/encrypt_sb.go
  secboot/encrypt_sb_test.go
Labels: Simple 😃, factory reset 🔌

#11830 interfaces: update network-control interface with permissions required by resolvectl
  interfaces/builtin/network_control.go
  tests/main/interfaces-network-control/network-control-consumer/meta/snap.yaml
  tests/main/interfaces-network-control/task.yaml
Labels: Squash-merge

#11689 tests/nested/manual/core20-early-config: revert changes that disable netplan checks
  tests/nested/manual/core20-early-config/task.yaml
Labels: Simple 😃, Run nested

#11874 gadget: check also mbr type when testing for implicit data partition
  gadget/gadgettest/examples.go
  gadget/update.go
  gadget/update_test.go
Labels: Squash-merge

#11871 gadget/install: do not assume dm device has same block size as disk (2.56)
  gadget/install/install.go
  gadget/install/install_test.go
  osutil/disks/disks_darwin.go
  osutil/disks/disks_linux.go
Labels: Run nested

#11878 release: 2.56.1
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge

#11873 spread.yaml: add ubuntu-22.04-06 to qemu-nested
  spread.yaml
Labels: Simple 😃, Skip spread

#11876 tests: add support for uc22 in listing test
  tests/main/listing/task.yaml
Labels: Simple 😃

#11883 release: 2.56.2
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge, Simple 😃, Skip spread

#11872 boot: post factory reset cleanup
  boot/boot.go
  boot/export_test.go
  boot/seal.go
  boot/seal_test.go
Labels: factory reset 🔌

#11881 packaging: merge changelogs from 2.56.2 to master
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Skip spread

#11882 tests: add suport fof uc22 in test uboot-unpacked-assets
  tests/core/uboot-unpacked-assets/task.yaml
Labels: Simple 😃

#11884 boot: release the new PCR handles when sealing for factory reset
  boot/makebootable_test.go
  boot/seal.go
  boot/seal_test.go
Labels: Run nested, factory reset 🔌

#11886 wrappers: fix LogNamespace being written to the wrong file
  wrappers/services.go
  wrappers/services_test.go
Labels: Simple 😃, quota

#11890 cmd/snap-update-ns: add /run/systemd to unrestricted paths
  cmd/snap-update-ns/system.go
  cmd/snap-update-ns/system_test.go
  cmd/snap-update-ns/trespassing_test.go
  snap/validate_test.go
Labels: Needs Samuele review, Needs security review, quota

#11880 tests: fix interfaces network control
  tests/main/interfaces-network-control/task.yaml
Labels: Simple 😃

#11875 o/assertstate: support multiple extra validation sets in EnforcedValidationSets
  overlord/assertstate/validation_set_tracking.go
  overlord/assertstate/validation_set_tracking_test.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/snapshotstate/snapshotstate_test.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_download_test.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/handlers_rerefresh_test.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_remove_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
Labels: validation-sets :white_check_mark:

#11867 squashfs: improve error reporting when `unsquashfs` fails
  snap/squashfs/squashfs.go
  snap/squashfs/squashfs_test.go
Labels: Squash-merge

#11129 cmd/snapd-apparmor: reimplement snapd-apparmor in Go
  .gitignore
  cmd/Makefile.am
  cmd/snapd-apparmor/export_test.go
  cmd/snapd-apparmor/main.go
  cmd/snapd-apparmor/main_test.go
  cmd/snapd-apparmor/snapd-apparmor
  packaging/debian-sid/snapd.install
  packaging/snapd.mk
  packaging/ubuntu-14.04/rules
  packaging/ubuntu-16.04/snapd.install
  tests/main/snapd-apparmor/task.yaml
Labels: Needs Samuele review

#11870 o/devicestate: factory reset with encryption
  boot/seal.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  tests/nested/core/core20-factory-reset/task.yaml
Labels: Run nested, factory reset 🔌

#11885 overlord/ifacestate: fix path for journal redirect
  dirs/dirs.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/handlers_test.go
Labels: Simple 😃, quota

#11879 asserts: store required revisions for missing snaps in CheckInstalledSnaps
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
  overlord/assertstate/assertstate_test.go
  tests/main/snap-validate-enforce/task.yaml
Labels: validation-sets :white_check_mark:

#11896 snapd-apparmor: add more integration-ish tests
  cmd/snapd-apparmor/main.go
  cmd/snapd-apparmor/main_test.go
Labels: Skip spread

#11887 tests: enable snapd.apparmor service in all the opensuse systems
  tests/lib/pkgdb.sh
Labels: Simple 😃

#11900 packaging/arch: install snapd-apparmor
  packaging/arch/PKGBUILD
Labels: Simple 😃

#11898 o/devicestate: post factory reset ensure, spread test update
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  tests/nested/core/core20-factory-reset/task.yaml
Labels: Run nested, factory reset 🔌

#11906 cmd/snapd-apparmor: fix unit tests on distros which do not support reexec
  cmd/snapd-apparmor/main_test.go
Labels: Simple 😃, Skip spread

#11904 o/snapstate: support passing validation sets to storehelpers via RevisionOptions
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
Labels: validation-sets :white_check_mark:

#11901 preseed: suggest to install "qemu-user-static"
  image/preseed/export_test.go
  image/preseed/preseed_linux.go
  image/preseed/preseed_uc20_test.go
Labels: Simple 😃, Skip spread

#11905 daemon: implement api handler for refresh with enforced validation sets
  daemon/api.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  daemon/api_validate.go
  daemon/export_test.go
  overlord/assertstate/assertstate.go
  overlord/snapstate/snapstate.go
Labels: validation-sets :white_check_mark:

#11913 cmd/snap: fix test failing due to timezone differences
  cmd/snap/cmd_debug_state_test.go
Labels: Simple 😃, Skip spread

#11862 tests: add nested test variant that adds 4k sector size
  tests/lib/nested.sh
  tests/nested/manual/core20-4k-sector-size/task.yaml
Labels: Squash-merge, Run nested

#11889 interfaces/apparmor: add missing apparmor rules for journal namespaces
  interfaces/apparmor/template.go
Labels: Needs Samuele review, quota

#11888 overlord/servicestate: refresh security profiles when services are affected by quotas
  overlord/servicestate/export_test.go
  overlord/servicestate/quota_control_test.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/quota_handlers_test.go
Labels: Needs Samuele review, quota

#11918 tests: fix nested/manual/connections test
  tests/nested/manual/connections/task.yaml
Labels: Simple 😃, Run nested

#11921 tests: disable core20-to-core22 nested test
  tests/nested/manual/core20-to-core22/task.yaml
Labels: Simple 😃

#11922 interfaces: add memory stats to system_observe
  interfaces/builtin/system_observe.go
Labels: Simple 😃

#11925 test: print User-Agent on failed checks
  cmd/snap-repair/runner_test.go
Labels: Simple 😃, Skip spread
