Repository canonical/snapd, pull requests merged in 2022-10, with the labels that each got.

#12217 tests/main/mount-ns: update namespace for 18.04
  tests/main/mount-ns/google.ubuntu-18.04-64/HOST.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-SNAP-16.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-SNAP-18.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-SNAP-C7.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-USER-16.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-USER-18.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-USER-C7.expected.txt
Labels: Simple 😃

#12194 cmd/snap-confine: move bind-mount setup into separate function
  cmd/snap-confine/mount-support.c
Labels: Simple 😃

#12219 i/backends,o/ifacestate: cleanup backends.All
  interfaces/backends/backends.go
  interfaces/backends/backends_test.go
  interfaces/backends/export_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/ifacemgr.go
Labels: Cleanup :broom:

#12213 many: implementation of finish install step handlers
  boot/makebootable.go
  boot/makebootable_test.go
  gadget/gadget.go
  gadget/install/content.go
  gadget/install/content_test.go
  gadget/install/install.go
  gadget/install/install_dummy.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  sysconfig/sysconfig.go
  tests/lib/fakeinstaller/main.go
  tests/lib/fakeinstaller/mk-classic-rootfs.sh
  tests/nested/manual/fakeinstaller/task.yaml
Labels: Run nested

#12185 store: send Snap-Device-Location header with cloud information
  store/download_test.go
  store/store.go
  store/store_action_test.go
  store/store_download.go
  store/store_test.go
Labels: Needs Samuele review

#12221 devicestate,boot,tests: make `fakeinstaller` test work
  boot/makebootable.go
  boot/makebootable_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  tests/lib/fakeinstaller/mk-classic-rootfs.sh
  tests/lib/nested.sh
  tests/nested/manual/fakeinstaller/task.yaml
Labels: Run nested

#12232 boot,o/devicestate: introduce and use MakeRunnableStandaloneSystem
  boot/makebootable.go
  boot/makebootable_test.go
  boot/seal.go
  overlord/devicestate/handlers_install.go
  tests/nested/manual/fakeinstaller/task.yaml
Labels: Run nested

#12225 seed: fix seed test to use a pseudo-random byte sequence
  seed/seed20_test.go
Labels: Simple 😃, Skip spread

#12240 many: support classic snaps in the context of classic and extended models
  asserts/header_checks.go
  asserts/model.go
  asserts/model_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  seed/seed20.go
Labels: Skip spread

#12241 cmd/snap,daemon: allow zero values from client to daemon for journal rate-limit
  client/quota.go
  client/quota_test.go
  cmd/snap/cmd_quota.go
  cmd/snap/cmd_quota_test.go
  daemon/api_quotas.go
  daemon/api_quotas_test.go
  tests/main/snap-quota-journal/task.yaml
Labels: Needs Samuele review

#12083 overlord: add code to remove users that has an expiration date set (auto-removal 2/n)
  overlord/auth/auth.go
  overlord/auth/auth_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
Labels: Needs Samuele review

#12223 many: add support for setting up encryption from installer
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/install/install.go
  gadget/install/install_dummy.go
  gadget/install/params.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  tests/lib/fakeinstaller/main.go
  tests/nested/manual/fakeinstaller/task.yaml
  tests/nested/manual/fde-on-classic/mk-image.sh
Labels: Run nested

#12239 tests: add libfwupd and libfwupdplugin5 to openSUSE dependencies
  tests/lib/pkgdb.sh
Labels: Simple 😃, Test Robustness

#12170 many: add stub services for prompting
  cmd/snapd-aa-prompt-listener/main.go
  cmd/snapd-aa-prompt-ui/main.go
  data/dbus/Makefile
  data/dbus/io.snapcraft.Prompt.service.in
  data/systemd-user/snapd.aa-prompt-ui.service.in
  data/systemd/snapd.aa-prompt-listener.service.in
  interfaces/dbus/backend.go
  interfaces/dbus/backend_test.go
  overlord/snapstate/backend/link_test.go
  packaging/arch/PKGBUILD
  packaging/debian-sid/snapd.install
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/rules
  packaging/ubuntu-16.04/snapd.install
  tests/main/snapd-reexec-prompt/task.yaml
  wrappers/core18.go
  wrappers/core18_test.go
Labels: Squash-merge

#12249 cmd/libsnap-confine-private: do not panic on chmod failure
  cmd/libsnap-confine-private/device-cgroup-support.c
Labels: Simple 😃

#12247 o/devicestate: support mounting ubuntu-save also on classic with modes
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/firstboot_test.go
  overlord/devicestate/handlers_install.go
  overlord/devicestate/handlers_test.go
Labels: Run nested

#12245 overlord: introduce hold levels in the snapstate.Hold* APIs
  overlord/hookstate/ctlcmd/refresh.go
  overlord/hookstate/ctlcmd/refresh_test.go
  overlord/hookstate/hooks.go
  overlord/hookstate/hooks_test.go
  overlord/snapstate/autorefresh_gating.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_remove_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Skip spread

#12250 tests: add minimal-smoke test for UC22 and increase minimal RAM
  tests/nested/manual/minimal-smoke/task.yaml
Labels: Run nested

#12259 o/snapstate: drive-by: cleanup *CopySnapData signatures for consistency
  overlord/snapstate/backend.go
  overlord/snapstate/backend/copydata.go
  overlord/snapstate/backend/copydata_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/handlers.go
Labels: Simple 😃, Skip spread, Cleanup :broom:

#12193 seccomp: allow opening XDP sockets
  cmd/snap-seccomp/main.go
  interfaces/seccomp/template.go
Labels: Simple 😃

#12198 interfaces: add microceph interface
  interfaces/builtin/microceph.go
  interfaces/builtin/microceph_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
  tests/main/interfaces-many-snap-provided/test-snapd-policy-app-provider-classic/meta/snap.yaml
  tests/main/interfaces-many-snap-provided/test-snapd-policy-app-provider-core/meta/snap.yaml
Labels: Needs Samuele review

#12227 tests: use `snap prepare-image` in fde-on-classic mk-image.sh
  tests/nested/manual/fde-on-classic/mk-image.sh
Labels: Run nested

#12256 tests: use test-snapd-swtpm instead of swtpm-mvo snap in nested helper
  tests/lib/nested.sh
Labels: Run nested

#12254 tests: create partition table in fakeinstaller
  tests/lib/fakeinstaller/main.go
  tests/nested/manual/fakeinstaller/task.yaml
Labels: Skip spread, Run nested

#12262 tests: remove squashfs leftovers in fakeinstaller
  tests/lib/fakeinstaller/mk-classic-rootfs.sh
Labels: Squash-merge

#12257 autopkgtests: fix running autopkgtest on kinetic
  packaging/ubuntu-16.04/tests/integrationtests
Labels: Squash-merge

#12184 go.mod: update to newer secboot/uc22 branch
  cmd/snap/cmd_alias_test.go
  cmd/snap/cmd_connect_test.go
  cmd/snap/cmd_disconnect_test.go
  cmd/snap/cmd_help_test.go
  cmd/snap/cmd_prefer_test.go
  cmd/snap/cmd_unalias_test.go
  go.mod
  go.sum
Labels: Run nested

#12190 tests: new variable used to configure the kernel command line in nested tests
  HACKING.md
  spread.yaml
  tests/lib/nested.sh
Labels: Run nested

#12238 tests: fix lxd-mount-units in ubuntu kinetic
  tests/main/lxd-mount-units/task.yaml
Labels: Simple 😃

#12179 release, snapd-apparmor, syscheck: distinguish WSL1 and WSL2
  cmd/snap/main.go
  cmd/snapd-apparmor/main_test.go
  release/export_test.go
  release/release.go
  release/release_test.go
  syscheck/wsl.go
  syscheck/wsl_test.go
Labels: Squash-merge, Needs Samuele review, Skip spread

#12218 overlord: process auto-import assertion at first boot
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/users.go
  seed/seed20_test.go
  seed/seedtest/seedtest.go
Labels: Squash-merge, Needs Samuele review

#12220 aspects: initial code
  aspects/aspects.go
  aspects/aspects_test.go
Labels: Skip spread

#12272 release: 2.57.5
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge

#12274 packaging: merge changelog for 2.57.5
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Skip spread

#12100 asserts: add keyword 'user-presence' keyword in system-user assertion (auto-removal 3/n)
  asserts/asserts.go
  asserts/asserts_test.go
  asserts/system_user.go
  asserts/system_user_test.go
Labels: Needs Samuele review

#12281 packaging: remove unclean debian-sid patch
  packaging/debian-sid/patches/0004-cmd-snap-skip-tests-depending-on-text-wrapping.patch
  packaging/debian-sid/patches/series
Labels: Simple 😃, Test Robustness

#12278 o/c/configcore: add faillock configuration
  overlord/configstate/configcore/handlers.go
  overlord/configstate/configcore/lockout.go
  overlord/configstate/configcore/lockout_test.go
Labels: Squash-merge

#12260 data: tweak apt integration config var
  data/apt/20snapd.conf
Labels: Simple 😃

#12091 tests/connected-after-reboot-revert: run also on UC16
  tests/nested/core/connected-after-reboot-revert/task.yaml
Labels: Run nested

#12289 cmd/snap-seccomp: fix typo in AF_XDP value
  cmd/snap-seccomp/main.go
Labels: Simple 😃

#12222 interface: Allow access to org.freedesktop.DBus.ListActivatableNames via system-observe interface
  interfaces/builtin/system_observe.go
Labels: Skip spread

#12141 snap/system_usernames,tests: Azure IoT Edge system usernames
  snap/system_usernames.go
  tests/main/system-usernames-microk8s/snap/meta/snap.yaml.in
  tests/main/system-usernames-microk8s/task.yaml
  tests/main/system-usernames-snap-scoped/snap/bin/sh
  tests/main/system-usernames-snap-scoped/snap/meta/snap.yaml.in
  tests/main/system-usernames-snap-scoped/task.yaml
Labels: Needs Samuele review

#12294 many: refresh --hold follow-up
  cmd/snap/cmd_snap_op.go
  daemon/api_snaps.go
Labels: Skip spread

#12284 bootloader: do not specify Core version in grub entry
  bootloader/assets/data/grub.cfg
  bootloader/assets/grub_cfg_asset.go
Labels: Run nested
