Repository canonical/snapd, pull requests merged in 2022-04, with the labels that each got.

#11583 [RFC] debug-tools: add script to help debugging GCE instances which fail to boot
  debug-tools/gce-serial-output-continuously-append.sh
Labels: Simple 😃, Skip spread

#11602 interfaces/appstream-metadata: Re-create app-info links to swcatalog
  interfaces/builtin/appstream_metadata.go
  interfaces/builtin/appstream_metadata_test.go
Labels: Squash-merge

#11450 daemon: add a /v2/accessories/changes/{ID} endpoint
  daemon/api.go
  daemon/api_accessories.go
  daemon/api_accessories_test.go
  tests/main/theme-install/task.yaml
Labels: Squash-merge, Needs Samuele review

#11441 tests: extend gadget-config-defaults test with refresh.retain
  tests/core/gadget-config-defaults/gadget-rsyslog.yaml
  tests/core/gadget-config-defaults/gadget-ssh-common.yaml
  tests/core/gadget-config-defaults/gadget-ssh-oneline.yaml
  tests/core/gadget-config-defaults/task.yaml
Labels: Simple 😃

#11571 gadget/install: implement factory reset for unencrypted system
  gadget/gadgettest/examples.go
  gadget/install/install.go
  gadget/install/install_dummy.go
  gadget/install/install_test.go
  gadget/install/partition.go
  overlord/devicestate/handlers_install.go
Labels: Run nested, factory reset 🔌

#11517 overlord: snapshot exclusions
  overlord/snapshotstate/backend/backend.go
  overlord/snapshotstate/backend/backend_test.go
  overlord/snapshotstate/backend/export_test.go
  overlord/snapshotstate/backend/helpers.go
  snap/info.go
  snap/pack/pack.go
  snap/snapshots.go
  snap/snapshots_export_test.go
  snap/snapshots_test.go
  tests/main/snapshot-exclusions/task.yaml
  tests/main/snapshot-exclusions/test-snap/bin/sh
  tests/main/snapshot-exclusions/test-snap/meta/snap.yaml
  tests/main/snapshot-exclusions/test-snap/meta/snapshots.yaml
Labels: Squash-merge, Needs Samuele review

#11497 o/snapstate: undo migration on 'snap revert'
  overlord/snapstate/backend/copydata.go
  overlord/snapstate/backend/copydata_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/booted_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Squash-merge

#11540 interfaces: add pkcs11 interface
  interfaces/builtin/pkcs11.go
  interfaces/builtin/pkcs11_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Squash-merge, Needs Samuele review

#11601 sanity: rename "sanity.Check" to "syscheck.CheckSystem"
  cmd/snapd/main.go
  cmd/snapd/main_test.go
  sanity/cgroup_test.go
  syscheck/apparmor_lxd.go
  syscheck/apparmor_lxd_test.go
  syscheck/cgroup.go
  syscheck/cgroup_test.go
  syscheck/check.go
  syscheck/check_test.go
  syscheck/export_test.go
  syscheck/squashfs.go
  syscheck/squashfs_test.go
  syscheck/version.go
  syscheck/version_test.go
  syscheck/wsl.go
  syscheck/wsl_test.go
Labels: Squash-merge, Skip spread, :heart: Inclusive language

#11576 tests: add debug output what keeps `/home` busy
  tests/main/nfs-support/task.yaml
Labels: Simple 😃, Test Robustness

#11586 sandbox,quota: ensure cgroup is available when creating mem quotas
  sandbox/cgroup/export_test.go
  sandbox/cgroup/memory.go
  sandbox/cgroup/memory_test.go
  snap/quota/resources.go
  tests/core/mem-cgroup-disabled/task.yaml
Labels: Squash-merge

#11617 tests/main/snap-quota-groups: fix spread test
  tests/main/snap-quota-groups/task.yaml
Labels: Squash-merge, Test Robustness

#11578 b/a: do not set console in kernel command line for arm64
  bootloader/assets/data/grub-recovery.cfg
  bootloader/assets/data/grub.cfg
  bootloader/assets/export_test.go
  bootloader/assets/grub.go
  bootloader/assets/grub_cfg_asset.go
  bootloader/assets/grub_recovery_cfg_asset.go
  bootloader/assets/grub_test.go
Labels: Squash-merge, Run nested

#11445 asserts: start supporting optional primary keys in fs backend, assemble and signing
  asserts/asserts.go
  asserts/asserts_test.go
  asserts/database.go
  asserts/export_test.go
  asserts/fsbackstore.go
  asserts/fsbackstore_test.go
Labels: snap-revision-delegation

#11623 o/snapstate: account for repeat migration in ~/Snap undo
  overlord/snapstate/backend.go
  overlord/snapstate/backend/copydata.go
  overlord/snapstate/backend/copydata_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Squash-merge

#11621 tests: allow ubuntu-image to be built with a compatible snapd tree
  spread.yaml
  tests/lib/image.sh
  tests/lib/prepare.sh
Labels: Run nested

#11635 many: fix failing golangci checks
  .golangci.yml
  cmd/snap-preseed/preseed_classic_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Simple 😃, Skip spread

#11625 tests: update the lxd-no-fuse test
  tests/main/lxd-no-fuse/task.yaml
Labels: ⚠ Critical, Simple 😃

#11446 asserts: extend optional primary keys support to the in-memory backend
  asserts/membackstore.go
  asserts/membackstore_test.go
Labels: snap-revision-delegation

#11634 overlord: add missing grub.cfg assets mocks in manager_tests.go
  overlord/managers_test.go
Labels: ⚠ Critical, Squash-merge

#11620 i/b/kernel_module_load: expand $SNAP_COMMON in module options
  interfaces/builtin/kernel_module_load.go
  interfaces/builtin/kernel_module_load_test.go
Labels: Squash-merge

#11632 tests: skip the test interfaces-many-snap-provided in trusty
  tests/main/interfaces-many-core-provided/task.yaml
  tests/main/interfaces-many-snap-provided/task.yaml
Labels: ⚠ Critical, Simple 😃

#11628 many: support --ignore-running with refresh many
  client/snap_op.go
  client/snap_op_test.go
  cmd/snap/cmd_snap_op.go
  cmd/snap/cmd_snap_op_test.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
Labels: Squash-merge

#11640 boot,bootloader: add missing grub.cfg assets mocks in some tests
  boot/makebootable_test.go
  boot/seal_test.go
  bootloader/assets/grub_test.go
  bootloader/grub_test.go
Labels: ⚠ Critical, Skip spread

#11633 b/piboot.go: check EEPROM version for RPi4
  bootloader/export_test.go
  bootloader/piboot.go
  bootloader/piboot_test.go
Labels: Squash-merge

#11631 many: change "transactional" flag to a "transaction" option
  client/snap_op.go
  client/snap_op_test.go
  cmd/snap/cmd_snap_op.go
  cmd/snap/cmd_snap_op_test.go
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  overlord/managers_test.go
  overlord/snapstate/flags.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_update_test.go
  tests/main/install-many-transactional/task.yaml
  tests/main/install-sideload/task.yaml
  tests/main/refresh-many-transactional-undo/task.yaml
  tests/main/refresh-many-transactional/task.yaml
Labels: Squash-merge

#11555 overlord/state: add a helper to detect cyclic dependencies between tasks in change
  overlord/managers_test.go
  overlord/state/change.go
  overlord/state/change_test.go
Labels: Needs Samuele review, Skip spread

#11641 cmd/snap-update-ns: apply content mounts before layouts
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/main_test.go
  cmd/snap-update-ns/sorting.go
  cmd/snap-update-ns/sorting_test.go
  tests/main/layout-symlink-bind-revert/task.yaml
  tests/regression/lp-1844496/task.yaml
  tests/regression/lp-1844496/test-snapd-layout/usr/wpe-webkit-1.0/.gitkeep
  tests/regression/lp-1844496/test-snapd-layout/usr/wpe-webkit-1.0/canary
  tests/regression/mount-order-regression/task.yaml
  tests/regression/mount-order-regression/test-content-layout-consumer/bin/cmd
  tests/regression/mount-order-regression/test-content-layout-consumer/meta/snap.yaml
Labels: ⚠ Critical, Squash-merge

#11657 release: version 2.55.3
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge

#11658 tests: disable netplan-cfg test
  tests/nested/manual/core20-early-config/task.yaml
Labels: ⚠ Critical, Simple 😃, Skip spread

#11659 release: 2.55.3
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Skip spread

#11661 tests: fix the change done for netplan-cfg test
  tests/core/netplan-cfg/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
Labels: ⚠ Critical, Simple 😃, Skip spread

#11649 tests: remove the file that configures nm as default
  tests/main/interfaces-network-manager/task.yaml
Labels: Simple 😃

#11653 data/selinux: allow snap-update-ns to mount on top of /var/snap inside the mount ns
  data/selinux/snappy.te
Labels: Simple 😃

#11651 interfaces/builtin: update apparmor profile to allow creating mimic over /usr/share
  interfaces/builtin/system_packages_doc.go
  interfaces/builtin/system_packages_doc_test.go
  tests/main/interfaces-system-packages-doc/task.yaml
Labels: Squash-merge

#10915 interfaces/builtin/network-control: also allow for mstp and bchat devices too
  interfaces/builtin/network_control.go
Labels: Simple 😃

#11615 interfaces/system-packages-doc: allow read-only access to /usr/share/xubuntu-docs (LP: #1967109)
  interfaces/builtin/system_packages_doc.go
  interfaces/builtin/system_packages_doc_test.go
  tests/main/interfaces-system-packages-doc/task.yaml
Labels: Squash-merge

#11669 cmd/snap: add check switch for snap debug state
  cmd/snap/cmd_debug_state.go
  cmd/snap/cmd_debug_state_test.go
Labels: Simple 😃

#11671 snapshots: follow-up on exclusions PR
  snap/info_test.go
  snap/snapshots.go
Labels: Simple 😃, Skip spread

#11513 .github: run woke tool on PR's
  .github/workflows/naming.yml
  .woke.yaml
Labels: Skip spread

#11663 o/snapstate: print pids of running processes on BusySnapError
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/refresh.go
  overlord/snapstate/refresh_test.go
  overlord/snapstate/snapstate_install_test.go
  tests/main/refresh-app-awareness/task.yaml
Labels: refresh app awareness

#11675 .github: use reviewdog action from woke tool
  .github/workflows/naming.yml
Labels: Simple 😃, Skip spread

#11682 github: cancel workflows when pushing to pull request branches
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#11674 c/snap-seccomp: update syscalls to match libseccomp 2657109
  cmd/snap-seccomp/syscalls/syscalls.go
Labels: Skip spread

#11683 snap-debug-info: print validation sets and validation set assertions
  debug-tools/snap-debug-info.sh
Labels: Simple 😃, Skip spread

#11684 i/b/content: use slot.Lookup() as suggested by TODO comment
  interfaces/builtin/content.go
Labels: Simple 😃, Skip spread

#11494 gadget: fully support multi-volume gadget asset updates in Update() on UC20+
  gadget/device_darwin.go
  gadget/device_linux.go
  gadget/device_test.go
  gadget/export_test.go
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/gadgettest/gadgettest.go
  gadget/update.go
  gadget/update_test.go
  gadget/validate.go
  gadget/validate_test.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/managers_test.go
Labels: Squash-merge, Complex, Needs Samuele review, Run nested

#11606 bootloader/assets, tests: add factory-reset mode, test non-encrypted factory-reset
  bootloader/assets/data/grub-recovery.cfg
  bootloader/assets/grub_recovery_cfg_asset.go
  spread.yaml
  tests/nested/core/core20-factory-reset/task.yaml
Labels: Run nested, factory reset 🔌

#11688 tests/nested/manual/core20-early-config: disable netplan checks
  tests/nested/manual/core20-early-config/task.yaml
Labels: Simple 😃, Run nested

#11666 i/b/custom_device: fix generation of udev rules
  interfaces/builtin/custom_device.go
  interfaces/builtin/custom_device_test.go
Labels: Needs Samuele review

#11691 HACKING: update info for snapcraft remote build
  HACKING.md
Labels: Simple 😃, Skip spread

#11692 gadget: drop unused code in unit tests
  gadget/device_test.go
Labels: Simple 😃, Skip spread

#11694 i/apparmor: remove leftover comment
  interfaces/apparmor/backend.go
Labels: Simple 😃, Skip spread

#11695 libsnap-confine-private: show proper error when aa_change_onexec() fails
  cmd/libsnap-confine-private/apparmor-support.c
Labels: Simple 😃

#11566 features: enable refresh-app-awareness by default
  features/features.go
  features/features_test.go
  overlord/hookstate/hooks_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  tests/main/base-migration/task.yaml
  tests/main/cgroup-tracking/task.yaml
  tests/main/lxd/task.yaml
  tests/main/op-remove-retry/task.yaml
  tests/main/refresh-app-awareness/task.yaml
  tests/main/refresh/task.yaml
  tests/main/services-refresh-mode/task.yaml
  tests/main/services-snapctl/task.yaml
  tests/main/services-stop-mode-sigkill/task.yaml
  tests/main/services-stop-mode/task.yaml
Labels: Squash-merge, Run nested, refresh app awareness

#11690 o/snapstate: exclude TypeSnapd and TypeOS snaps from refresh-app-awareness
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
Labels: Needs Samuele review, refresh app awareness

#11097 interfaces: add ACRN hypervisor support
  interfaces/builtin/acrn_support.go
  interfaces/builtin/acrn_support_test.go
  interfaces/builtin/hugepages_control.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Squash-merge, Needs Samuele review

#11698 o/snapstate: fix TestSnapdRefreshTasks test after two r-a-a PRs
  overlord/snapstate/snapstate_test.go
Labels: ⚠ Critical, Simple 😃, Skip spread

#11456 tests: Initial changes to run nested tests on uc22
  .github/workflows/test.yaml
  spread.yaml
  tests/lib/assertions/nested-22-amd64.model
  tests/lib/nested.sh
  tests/lib/prepare.sh
  tests/nested/core/core22-basic/task.yaml
  tests/nested/manual/preseed/task.yaml
Labels: Run nested

#11622 image/preseed, cmd/snap-preseed: create and sign preseed assertion
  cmd/snap-preseed/export_test.go
  cmd/snap-preseed/main.go
  cmd/snap-preseed/preseed_uc20_test.go
  cmd/snap/cmd_prepare_image.go
  cmd/snap/cmd_prepare_image_test.go
  image/export_test.go
  image/image_linux.go
  image/image_test.go
  image/options.go
  image/preseed/export_test.go
  image/preseed/preseed.go
  image/preseed/preseed_linux.go
  image/preseed/preseed_other.go
  image/preseed/preseed_test.go
  image/preseed/preseed_uc20_test.go
Labels: Preseeding 🍞, Run nested

#11697 seed: support parallelism when loading/verifying snap metadata
  image/preseed/preseed_test.go
  seed/seed.go
  seed/seed16.go
  seed/seed20.go
  seed/seed20_test.go
Labels: Preseeding 🍞, Run nested

#11639 asserts,store: complete support for optional primary key headers for assertions
  asserts/asserts.go
  asserts/asserts_test.go
  asserts/database.go
  asserts/database_test.go
  asserts/export_test.go
  asserts/fsbackstore_test.go
  asserts/membackstore_test.go
  store/store_action.go
  store/store_action_fetch_assertions_test.go
  store/store_asserts.go
  store/store_asserts_test.go
Labels: snap-revision-delegation

#11701 tests/nested: fix custom-device test
  tests/nested/core/interfaces-custom-devices/task.yaml
Labels: Simple 😃, Run nested

#11706 tests: fix interfaces-location-control tests leaking provider.py process
  tests/main/interfaces-location-control/task.yaml
Labels: Simple 😃, Test Robustness

#11703 tests: initial set of tests to uc22 nested execution
  spread.yaml
  tests/lib/tools/tests.nested
  tests/nested/core/core20-create-recovery/task.yaml
  tests/nested/core/core20-degraded/task.yaml
  tests/nested/core/core20-factory-reset/task.yaml
  tests/nested/core/core20-fault-inject/task.yaml
  tests/nested/core/core20-gadget-reseal/task.yaml
  tests/nested/core/core20-kernel-failover/task.yaml
  tests/nested/core/core20-kernel-reseal/task.yaml
  tests/nested/core/core20-reinstall-partitions/task.yaml
  tests/nested/core/coreconfig-services/task.yaml
  tests/nested/core/interfaces-custom-devices/task.yaml
  tests/nested/manual/core20-boot-config-update/task.yaml
  tests/nested/manual/core20-custom-kernel-commandline/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
  tests/nested/manual/core20-initramfs-time-moves-forward/task.yaml
  tests/nested/manual/core20-install-mode-shutdown-via-hook/task.yaml
  tests/nested/manual/devmode-snap-seeded-dangerous/task.yaml
  tests/nested/manual/refresh-revert-fundamentals/task.yaml
  tests/nested/manual/snapd-removes-vulnerable-snap-confine-revs/task.yaml
  tests/nested/manual/uc20-fde-hooks-v1/task.yaml
  tests/nested/manual/uc20-fde-hooks/task.yaml
Labels: Run nested

#11696 tests: test fresh install of core22-based snap
  overlord/snapstate/backend/snapdata.go
  overlord/snapstate/backend/snapdata_test.go
  tests/lib/snaps/snap-hooks/meta/hooks/remove
  tests/main/hidden-snap-dir/task.yaml
  tests/main/install-refresh-remove-hooks/task.yaml
Labels: Squash-merge

#11717 systemd: add systemd.Run() wrapper for systemd-run
  kernel/fde/cmd_helper.go
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: factory reset 🔌

#11711 osutil: allow setting desired mtime on the AtomicFile, preserve mtime on copy
  osutil/cp.go
  osutil/cp_test.go
  osutil/io.go
  osutil/io_test.go
Labels: Preseeding 🍞

#11710 many: let provide a SnapHandler to Seed.Load*Meta*
  asserts/snapasserts/snapasserts.go
  image/image_test.go
  image/preseed/preseed.go
  image/preseed/preseed_test.go
  overlord/devicestate/firstboot.go
  seed/helpers.go
  seed/seed.go
  seed/seed16.go
  seed/seed16_test.go
  seed/seed20.go
  seed/seed20_test.go
  seed/seedtest/seedtest.go
  seed/validate.go
  spread.yaml
Labels: Preseeding 🍞, Run nested

#11700 sandbox: move profile load/unload to sandbox/apparmor
  interfaces/apparmor/apparmor.go
  interfaces/apparmor/apparmor_test.go
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/export_test.go
  sandbox/apparmor/export_test.go
  sandbox/apparmor/profile.go
  sandbox/apparmor/profile_test.go
Labels: Simple 😃

#11731 interfaces/builtin/custom-device: fix unit tests on hosts with different libexecdir
  interfaces/builtin/custom_device_test.go
Labels: Simple 😃, Skip spread

#11627 tests: re-execute the failed tests when "Run failed" label is set in the PR
  .github/workflows/test.yaml
Labels: Run failed

#11715 cmd/snap-fde-keymgr, secboot: add a tiny FDE key manager
  cmd/snap-fde-keymgr/export_test.go
  cmd/snap-fde-keymgr/main.go
  cmd/snap-fde-keymgr/main_test.go
  dirs/dirs.go
  packaging/debian-sid/not-installed
  packaging/debian-sid/rules
  packaging/ubuntu-14.04/rules
  packaging/ubuntu-16.04/snapd.install
  secboot/encrypt_sb.go
  secboot/encrypt_sb_test.go
  secboot/keymgr/export_test.go
  secboot/keymgr/keymgr_luks2.go
  secboot/keymgr/keymgr_luks2_test.go
  secboot/keyring/keyring.go
  secboot/luks2/cryptsetup.go
  secboot/luks2/fifo.go
  secboot/luks2/luks2.go
Labels: Run nested, factory reset 🔌

#11730 tests/lib/tools: add piboot to boot_path()
  tests/lib/tools/boot-state
Labels: Simple 😃, Bug

#11218 o/devicestate: implement maybeApplyPreseededData function to apply preseed artifact
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
Labels: Preseeding 🍞

#11724 seed: let SnapHandler provided a different final path for snaps
  seed/helpers.go
  seed/seed.go
  seed/seed16.go
  seed/seed16_test.go
  seed/seed20.go
  seed/seed20_test.go
Labels: Preseeding 🍞

#11740 cmd/snap-fde-keymgr, secboot: followup cleanups
  cmd/snap-fde-keymgr/main.go
  secboot/keymgr/keymgr_luks2.go
  secboot/keyring/keyring.go
  secboot/luks2/cryptsetup.go
  secboot/luks2/fifo.go
  secboot/luks2/luks2.go
Labels: Simple 😃, Skip spread

#11741 o/devicestate: fix install tests on systems with /var/lib/snapd/snap
  overlord/devicestate/devicestate_install_mode_test.go
Labels: Simple 😃, Skip spread

#11709 snap: implement "star" developers
  asserts/account.go
  cmd/snap/cmd_find_test.go
  cmd/snap/cmd_info_test.go
  cmd/snap/cmd_model_test.go
  cmd/snap/color.go
  cmd/snap/color_test.go
  tests/core/basic20/task.yaml
  tests/main/listing/task.yaml
Labels: Needs Samuele review

#11708 interfaces: add a steam-support interface
  interfaces/builtin/steam_support.go
  interfaces/builtin/steam_support_test.go
  interfaces/policy/basedeclaration_test.go
  interfaces/seccomp/template.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Squash-merge, Needs security review

#11680 packaging: restart our units only after the upgrade
  packaging/ubuntu-16.04/rules
  tests/main/broken-seeding/task.yaml
  tests/main/deb-restart-behavior/task.yaml
Labels: ⚠ Critical, Squash-merge, Needs Samuele review

#11707 o/assertstate: fix handling of validation set tracking update in enforcing mode
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/assertstate/validation_set_tracking.go
  overlord/assertstate/validation_set_tracking_test.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/snapshotstate/snapshotstate_test.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_download_test.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/handlers_rerefresh_test.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_remove_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
  tests/main/snap-validate-enforce/task.yaml
Labels: Complex, Needs Samuele review, Bug, validation-sets :white_check_mark:

#11747 release: version 2.55.4
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge

#11748 packaging: merge 2.55.4 changelog
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Skip spread
