Repository canonical/snapd, pull requests merged in 2022-12, with the labels that each got.

#12383 packaging: release version 2.58
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Skip spread

#12316 many: change the quota backend to support per-service quotas (1/4)
  daemon/api_quotas.go
  daemon/api_quotas_test.go
  overlord/configstate/configcore/vitality_test.go
  overlord/ifacestate/handlers_test.go
  overlord/managers_test.go
  overlord/servicestate/export_test.go
  overlord/servicestate/internal/quotas.go
  overlord/servicestate/internal/quotas_test.go
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_control_test.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/quota_handlers_test.go
  overlord/servicestate/servicestatetest/quotas.go
  snap/quota/quota.go
  snap/quota/quota_test.go
  tests/main/snap-quota/task.yaml
Labels: Squash-merge, Needs Samuele review, quota, Pulse, Needs Documentation -auto-

#12384 o/hookstate/ctlcmd: try to clean up/improve snapctl -h
  overlord/hookstate/ctlcmd/get.go
  overlord/hookstate/ctlcmd/is_connected.go
  overlord/hookstate/ctlcmd/set.go
Labels: Documentation, Needs Documentation -auto-

#12391 packaging: merge 2.58 changelog back into master
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#12392 tests: update mount-ns test for new tmpdir handling
  tests/main/mount-ns/google.ubuntu-16.04-64/PER-SNAP-16.expected.txt
  tests/main/mount-ns/google.ubuntu-16.04-64/PER-SNAP-18.expected.txt
  tests/main/mount-ns/google.ubuntu-16.04-64/PER-USER-16.expected.txt
  tests/main/mount-ns/google.ubuntu-16.04-64/PER-USER-18.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-SNAP-16.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-SNAP-18.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-USER-16.expected.txt
  tests/main/mount-ns/google.ubuntu-18.04-64/PER-USER-18.expected.txt
Labels: Simple 😃, Test Robustness

#12385 devicestate: mock registration server during test
  overlord/devicestate/firstboot_test.go
Labels: Skip spread

#12387 tests/main/snapd-apparmor: make log parsing more robust
  tests/main/snapd-apparmor/task.yaml
Labels: Test Robustness

#12323 tests: fix missing sudo in core20-early-config
  tests/nested/manual/core20-early-config/task.yaml
Labels: Squash-merge, Simple 😃, Run nested

#12399 devicestate: fix unit test failure on non-amd64 systems
  overlord/devicestate/devicestate_install_api_test.go
Labels: Test Robustness

#12398 overlord/*: make SnapServiceOptions take snap.Info instead of the instanceName
  overlord/configstate/configcore/vitality.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/handlers_test.go
  overlord/ifacestate/helpers.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/servicemgr.go
  overlord/servicestate/servicestate.go
  overlord/servicestate/servicestate_test.go
  overlord/snapstate/handlers.go
Labels: Squash-merge, quota, Pulse

#12397 tests: fix date and makefile for systemd-tmpfiles in snapd.spec
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
Labels: Simple 😃

#12405 ci: update golangci-lint to v1.50.1 in order to support Go 1.19
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#12376 tests: disable netplan part of core20-early-config on 22.04-64
  tests/nested/manual/core20-early-config/task.yaml
Labels: Squash-merge, Test Robustness, Run nested, Flaky Test, Run Nested -auto-

#12401 o/servicestate: disallow mixing journal quotas and services
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_control_test.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/quota_handlers_test.go
  snap/quota/quota.go
  snap/quota/quota_test.go
Labels: Squash-merge, quota, Pulse

#12414 o/snapshotstate: check snapshots are self-contained on import
  overlord/snapshotstate/backend/backend.go
  overlord/snapshotstate/backend/backend_test.go
  tests/main/snapshot-basic/task.yaml
Labels: Squash-merge

#12409 image: generate seed.manifest
  cmd/snap/cmd_prepare_image.go
  cmd/snap/cmd_prepare_image_test.go
  image/image_linux.go
  image/image_test.go
  image/manifest.go
  image/options.go
  tests/main/prepare-image-reproducible/task.yaml
Labels: Squash-merge, Needs Documentation :book:, Pulse

#12433 HACKING.md: fix typo in debug env var
  HACKING.md
Labels: Simple 😃, Skip spread

#12424 logger: allow logging HTTP traffic w/o logging everything
  httputil/logger.go
  httputil/logger_test.go
  logger/logger.go
  logger/logger_test.go
Labels: Squash-merge

#12434 tests: add more disk space to ubuntu-22.04 for nested tests
  spread.yaml
Labels: Simple 😃, Run nested

#12436 daemon: improvements to REST API helper and JSON responses
  client/packages.go
  cmd/snap/cmd_info.go
  cmd/snap/cmd_info_test.go
  daemon/snap.go
Labels: Pulse, Needs Documentation -auto-

#12429 tests: fix the tests.session-support test
  tests/lib/tools/suite/tests.session-support/task.yaml
Labels: Simple 😃

#12332 tests: import changes from snapd-testing-tools project
  tests/lib/external/snapd-testing-tools/.github/labeler.yml
  tests/lib/external/snapd-testing-tools/.github/workflows/labeler.yaml
  tests/lib/external/snapd-testing-tools/tests/os.query/task.yaml
  tests/lib/external/snapd-testing-tools/tools/os.query
  tests/lib/external/snapd-testing-tools/tools/snaps.name
  tests/lib/external/snapd-testing-tools/utils/spread-manager
Labels: Simple 😃

#12437 cmd/snap,daemon: add 'held' to notes in 'snap list'
  cmd/snap/notes.go
  cmd/snap/notes_test.go
  daemon/api_snaps_test.go
  daemon/snap.go
Labels: Pulse, Needs Documentation -auto-

#12303 configcore: add option to set `service.ssh.listen-address`
  overlord/configstate/configcore/corecfg_test.go
  overlord/configstate/configcore/handlers.go
  overlord/configstate/configcore/services.go
  overlord/configstate/configcore/services_test.go
  tests/lib/nested.sh
  tests/nested/manual/core20-early-config/defaults.yaml
  tests/nested/manual/core20-early-config/task.yaml
Labels: Squash-merge, Needs Samuele review, Run nested, Needs Documentation :book:, Pulse, Needs Documentation -auto-, Run Nested -auto-

#12404 o/devicestate: run systemctl daemon-reload after install-device hook
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
Labels: Squash-merge

#12403 devicestate: retry serial acquire on time based certificate errors
  httputil/client_test.go
  httputil/retry.go
  overlord/devicestate/devicestate_serial_test.go
  overlord/devicestate/handlers_serial.go
Labels: Squash-merge, Needs Samuele review

#12425 boot: avoid reboot loop if there is a bad try kernel
  boot/bootstate20.go
  boot/initramfs_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  tests/nested/core/bad-try-kernel-no-reboot/task.yaml
Labels: Squash-merge, Needs Samuele review, Run Nested -auto-

#12395 o/servicestate,wrappers: handle quota changes on a service level instead of on a snap level (2/3)
  overlord/patch/patch5.go
  overlord/servicestate/export_test.go
  overlord/servicestate/quota_control_test.go
  overlord/servicestate/quota_handlers.go
  overlord/servicestate/quota_handlers_test.go
  overlord/snapstate/backend/link.go
  snap/quota/quota.go
  snap/quota/quota_test.go
  wrappers/export_test.go
  wrappers/services.go
  wrappers/services_gen_test.go
  wrappers/services_test.go
Labels: Squash-merge, quota, Pulse

#12389 interfaces: simplify the InstallCandidateMinimalCheck to help expressivity
  interfaces/builtin/shared_memory.go
  interfaces/policy/basedeclaration_test.go
  interfaces/policy/policy.go
  interfaces/policy/policy_test.go
Labels: Needs security review, Pulse

#12440 o/devicestate: turn populateFromSeed into a DeviceManager method
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/firstboot_preseed_test.go
  overlord/devicestate/firstboot_test.go
  overlord/devicestate/handlers_test.go
Labels: Pulse

#12205 cmd/snap,cmd/snaplock: : GTK notification via snap-desktop-integration if app is refreshing (DT-576)
  cmd/snap/cmd_run_test.go
  cmd/snap/export_test.go
  cmd/snap/inhibit.go
  cmd/snaplock/runinhibit/inhibit.go
Labels: Squash-merge, Needs Samuele review
