Repository canonical/snapd, pull requests merged in 2023-03, with the labels that each got.

#12600 image: consider the kernel too for UC20+ to pick appropriate assert max formats
  image/image_linux.go
  image/image_test.go
Labels: Pulse

#12617 secboot: fix unittest after updating an error message
  secboot/encrypt_sb_test.go
Labels: ⚠ Critical, Simple 😃, Skip spread

#12599 tests/core/gadget-config-defaults: fix cleanup
  tests/core/gadget-config-defaults-vitality/task.yaml
  tests/core/gadget-config-defaults/task.yaml
Labels: Test Robustness

#12614 o/snapstate: fix deletion of monitored snaps map
  overlord/snapstate/handlers.go
  overlord/snapstate/snapstate_update_test.go
Labels: Pulse

#12598 snap: show log information from Wait tasks in the CLI
  cmd/snap/cmd_snap_op_test.go
  cmd/snap/wait.go
Labels: Squash-merge, Needs Samuele review

#12561 many: read system options when handling kernel command line
  gadget/kcmdline.go
  gadget/kcmdline_test.go
  overlord/configstate/configcore/kernel.go
  overlord/configstate/configcore/kernel_test.go
  overlord/devicestate/devicestate_bootconfig_test.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_bootconfig.go
  overlord/devicestate/handlers_gadget.go
  tests/lib/assertions/developer1-22-dangerous.json
  tests/lib/assertions/developer1-22-dangerous.model
  tests/nested/manual/cmdline-option/cloud.conf
  tests/nested/manual/cmdline-option/defaults.yaml
  tests/nested/manual/cmdline-option/prepare-device
  tests/nested/manual/cmdline-option/task.yaml
Labels: Squash-merge, Run nested, Needs Documentation -auto-, Run Nested -auto-

#12622 o/snapstate: stop monitoring if refresh happens
  overlord/snapstate/handlers.go
  overlord/snapstate/snapstate_update_test.go
Labels: Pulse

#12621 tests/nested/manual/fde-on-classic: fix wrong gadget.yaml
  tests/nested/manual/fde-on-classic/gadget.yaml
  tests/nested/manual/fde-on-classic/task.yaml
  tests/nested/manual/fde-on-classic/tweak-gadget.py
Labels: Test Robustness, Run nested, Run Nested -auto-

#12628 tests: skip snapd-reexec-prompt on arm devices as it is excluded in amd64
  tests/main/snapd-reexec-prompt/task.yaml
Labels: Simple 😃, Test Robustness

#12517 tests: update lxd-state tool to install and prepare the lxd snap
  tests/lib/tools/lxd-state
  tests/main/lxd-mount-units/task.yaml
  tests/main/lxd-no-fuse/task.yaml
  tests/main/lxd-postrm-purge/task.yaml
  tests/main/lxd-snapfuse/task.yaml
  tests/main/lxd-try/task.yaml
  tests/main/lxd/task.yaml
  tests/main/selinux-lxd/task.yaml
  tests/main/snapd-snap/task.yaml
  tests/nested/manual/devmode-snaps-can-run-other-snaps/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
  tests/regression/lp-1815869/task.yaml
  tests/regression/lp-1867193/task.yaml
  tests/regression/lp-1867752/task.yaml
  tests/regression/lp-1871652/task.yaml
Labels: Run nested, Run Nested -auto-

#12481 tests: improvements for nested tests
  tests/bin/remote.wait-for
  tests/lib/external/snapd-testing-tools/remote/remote.wait-for
  tests/lib/nested.sh
  tests/lib/prepare.sh
  tests/lib/tools/remote.wait-for
  tests/lib/tools/tests.nested
  tests/nested/core/bad-try-kernel-no-reboot/task.yaml
  tests/nested/core/base-revert-after-boot/task.yaml
  tests/nested/core/connected-after-reboot-revert/task.yaml
  tests/nested/core/core-gadget-mounted/task.yaml
  tests/nested/core/core20-create-recovery/task.yaml
  tests/nested/core/core20-degraded/task.yaml
  tests/nested/core/core20-factory-reset/task.yaml
  tests/nested/core/core20-fault-inject/task.yaml
  tests/nested/core/core20-gadget-reseal/task.yaml
  tests/nested/core/core20-kernel-failover/task.yaml
  tests/nested/core/core20-kernel-reseal/task.yaml
  tests/nested/core/core20-reinstall-partitions/task.yaml
  tests/nested/core/core20-tpm/task.yaml
  tests/nested/core/coreconfig-services/task.yaml
  tests/nested/core/kernel-revert-after-boot/task.yaml
  tests/nested/manual/cloud-init-never-used-not-vuln/task.yaml
  tests/nested/manual/cloud-init-nocloud-not-vuln/task.yaml
  tests/nested/manual/core20-auto-remove-user/task.yaml
  tests/nested/manual/core20-boot-config-update/task.yaml
  tests/nested/manual/core20-custom-kernel-commandline/task.yaml
  tests/nested/manual/core20-da-lockout/task.yaml
  tests/nested/manual/core20-early-config/task.yaml
  tests/nested/manual/core20-factory-reset-install-device-hook/task.yaml
  tests/nested/manual/core20-grade-signed-cloud-init-testkeys/task.yaml
  tests/nested/manual/core20-install-mode-shutdown-via-hook/task.yaml
  tests/nested/manual/core20-new-snapd-does-not-break-old-initrd/task.yaml
  tests/nested/manual/core20-remodel/task.yaml
  tests/nested/manual/core20-to-core22/task.yaml
  tests/nested/manual/devmode-snaps-can-run-other-snaps/task.yaml
  tests/nested/manual/fde-on-classic/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
  tests/nested/manual/muinstaller/task.yaml
  tests/nested/manual/preseed/task.yaml
  tests/nested/manual/refresh-revert-fundamentals/task.yaml
  tests/nested/manual/remodel-cross-store/task.yaml
  tests/nested/manual/remodel-simple/task.yaml
  tests/nested/manual/snapd-refresh-from-old/task.yaml
  tests/nested/manual/uc-update-assets-secure-add-sbat/task.yaml
  tests/nested/manual/uc-update-assets-secure/task.yaml
  tests/nested/manual/uc-update-command-line-secure/task.yaml
Labels: Run nested, Run Nested -auto-

#12566 asserts: support validation-sets in model assertion
  asserts/model.go
  asserts/model_test.go
Labels: Squash-merge, Pulse

#12635 NEWS.md: new file and updated for 2.59
  NEWS.md
Labels: Squash-merge, Skip spread

#12637 release: 2.59
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge, Skip spread

#12630 tests: reduce the time we wait for a service to became active
  tests/lib/nested.sh
  tests/lib/systemd.sh
  tests/nested/manual/core20-install-mode-shutdown-via-hook/task.yaml
Labels: Test Robustness, Run nested, Run Nested -auto-

#12638 release: 2.59
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#12613 tests: improve the install-fontconfig-cache-gen for ubuntu lunar
  tests/main/install-fontconfig-cache-gen/task.yaml
Labels: Simple 😃, Test Robustness

#12656 tests: fix TestDeviceUnlockErr test in debian-sid and ubuntu 23.04
  kernel/fde/fde_test.go
Labels: Simple 😃, Test Robustness

#12230 interfaces: make upower-observe implicit on core if /usr/libexec/upowerd exists
  interfaces/builtin/upower_observe.go
  interfaces/builtin/upower_observe_test.go
  interfaces/policy/basedeclaration_test.go
Labels: Needs Samuele review

#12654 asserts: add code for Fetcher to support the fetching of sequence-forming assertions
  asserts/export_test.go
  asserts/fetcher.go
  asserts/fetcher_test.go
  asserts/pool.go
Labels: Squash-merge, Pulse

#12665 image,store: introduce AssertionSequenceFormingFetcher in ToolingStore
  image/image_test.go
  image/preseed/preseed_uc20_test.go
  store/tooling/tooling.go
  store/tooling/tooling_test.go
Labels: Squash-merge, Pulse

#12301 snapctl: add --list option to is-connected
  overlord/hookstate/ctlcmd/is_connected.go
  overlord/hookstate/ctlcmd/is_connected_test.go
  tests/main/snapctl-is-connected-list/task.yaml
  tests/main/snapctl-is-connected-list/test-snap/bin/listconn
  tests/main/snapctl-is-connected-list/test-snap/meta/snap.yaml
Labels: Needs Documentation -auto-

#12650 testutil: add checker for nil typed and valued vars
  testutil/errorischecker_test.go
  testutil/interfacenilchecker.go
  testutil/interfacenilchecker_test.go
Labels: Needs Samuele review, Skip spread, Pulse

#12651 interfaces/builtin: allow mount-control functionfs specific options
  interfaces/builtin/mount_control.go
  interfaces/builtin/mount_control_test.go
Labels: Squash-merge, Needs Samuele review

#12669 image,seed/seedwriter: fix corner cases of asserts fetching not triggered
  image/image_test.go
  seed/seedwriter/seed16.go
  seed/seedwriter/seed20.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: Bug

#12634 docs: updates to CONTRIBUTING.md and HACKING.md
  CONTRIBUTING.md
  HACKING.md
Labels: Squash-merge, Skip spread

#12657 steam-support: add udev rules from steam-devices
  interfaces/builtin/steam_support.go
  interfaces/builtin/steam_support_test.go
  run-checks
Labels: Squash-merge

#12667 image,seed: refactor RefAssertsFetcher
  asserts/fetcher.go
  asserts/fetcher_test.go
  image/image_linux.go
  image/preseed/preseed.go
  overlord/devicestate/systems.go
  seed/seedtest/seedtest.go
  seed/seedwriter/fetcher.go
  seed/seedwriter/fetcher_test.go
  seed/seedwriter/helpers.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: Squash-merge, Pulse

#12683 tests/nested/manual/minimal-smoke: remove todo for minimum requirements
  tests/nested/manual/minimal-smoke/task.yaml
Labels: Simple 😃, Run Nested -auto-

#12689 tests: update selinux policy to allow snapd to read upowerd binary
  data/selinux/snappy.te
Labels: Simple 😃, Test Robustness, Pulse
