Repository canonical/snapd, pull requests merged in 2023-05, with the labels that each got.

#12784 seed/seedwriter: produce validation-sets in the manifest
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: Simple 😃

#12764 tests: fix postrm-purge test on systems with sytemd v253
  cmd/snap-mgmt/snap-mgmt.sh.in
Labels: ⚠ Critical, Test Robustness

#12750 o/snapstate: fix race condition in test
  overlord/snapstate/snapstate_update_test.go
Labels: Test Robustness, Skip spread

#12793 snap/integrity/dmverity: fix comment formatting to satisfy run-checks
  snap/integrity/dmverity/veritysetup.go
Labels: Simple 😃, Skip spread

#12792 release: 2.59.3
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge

#12789 tests: add dependency needed in debian to run the sbuild tests
  tests/lib/pkgdb.sh
Labels: Simple 😃

#12747 tests/core: extended gadget defaults test for default-configure hook
  NEWS.md
  tests/core/gadget-config-defaults-to-snaps/gadget-rsyslog.yaml
  tests/core/gadget-config-defaults-to-snaps/gadget-ssh-common.yaml
  tests/core/gadget-config-defaults-to-snaps/gadget-ssh-oneline.yaml
  tests/core/gadget-config-defaults-to-snaps/task.yaml
  tests/lib/snaps/store/test-snapd-with-default-configure-core18/meta/hooks/configure
  tests/lib/snaps/store/test-snapd-with-default-configure-core18/meta/hooks/default-configure
  tests/lib/snaps/store/test-snapd-with-default-configure-core18/meta/snap.yaml
  tests/lib/snaps/store/test-snapd-with-default-configure-core18/service
  tests/lib/snaps/store/test-snapd-with-default-configure-core18/snap/snapcraft.yaml
  tests/lib/snaps/store/test-snapd-with-default-configure/meta/hooks/configure
  tests/lib/snaps/store/test-snapd-with-default-configure/meta/hooks/default-configure
  tests/lib/snaps/store/test-snapd-with-default-configure/meta/snap.yaml
  tests/lib/snaps/store/test-snapd-with-default-configure/service
  tests/lib/snaps/store/test-snapd-with-default-configure/snap/snapcraft.yaml
Labels: Squash-merge

#12791 tests: support for ubuntu core 22 in arm architecture
  .github/workflows/test.yaml
  spread.yaml
  tests/core/basic20plus/task.yaml
  tests/core/fsck-on-boot/task.yaml
  tests/core/gadget-update-pc/generate.py
  tests/core/gadget-update-pc/task.yaml
  tests/core/uboot-unpacked-assets/task.yaml
  tests/lib/assertions/auto-import.assert
  tests/lib/assertions/auto-import.assert.json
  tests/lib/assertions/nested-22-arm64.model
  tests/lib/assertions/ubuntu-core-22-arm64.model
  tests/lib/nested.sh
  tests/lib/prepare.sh
  tests/main/interfaces-cups/task.yaml
  tests/main/listing/task.yaml
  tests/main/prepare-image-reproducible/task.yaml
  tests/nested/core/core20-basic/task.yaml
Labels: Squash-merge, Run Nested -auto-

#12770 tests: use journal-state tool instead of journalctl command
  tests/main/refresh-app-awareness-notify/task.yaml
  tests/main/squashfs-precondition-check/task.yaml
  tests/regression/lp-1899664/task.yaml
Labels: Squash-merge, Simple 😃

#12735 HACKING: add notes about launching user agent
  HACKING.md
Labels: Skip spread

#12797 data/selinux: more AVC denials that needs to be handled
  data/selinux/snappy.te
Labels: Simple 😃, Test Robustness

#12805 tests: use 8 workers for ubuntu lunar
  spread.yaml
Labels: Simple 😃

#12809 tests/lib/nested.sh: fix unbound variable access error
  tests/lib/nested.sh
Labels: Test Robustness, Run nested, Run Nested -auto-

#12802 cmd/snap-bootstrap: retry when looking for label on non-UEFI systems
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
Labels: Run nested

#12812 release: 2.59.4
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge, Simple 😃

#12680 go.mod: update golang.org/x/net
  go.mod
  go.sum
Labels: Simple 😃

#12813 packaging: merge changelogs for 2.59.{3,4} back into master
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#12800 interfaces/core.go: comment corrections, no functional changes
  interfaces/core.go
Labels: Simple 😃, Skip spread

#12798 overlord/state: introduce a new SetToWait() method on Tasks
  overlord/restart/restart.go
  overlord/restart/restart_test.go
  overlord/state/change.go
  overlord/state/change_test.go
  overlord/state/task.go
  overlord/state/task_test.go
  overlord/state/taskrunner.go
  overlord/state/taskrunner_test.go
Labels: Needs Samuele review, Pulse

#12807 o/assertstate: take the model assertion into account when manipulating validation-sets
  daemon/api_validate.go
  daemon/api_validate_test.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/assertstate/validation_set_tracking.go
  overlord/assertstate/validation_set_tracking_test.go
Labels: Pulse, Needs Documentation -auto-

#12734 interfaces/builtin: custom-device kernel in subdir
  interfaces/builtin/custom_device.go
  interfaces/builtin/custom_device_test.go
Labels: Squash-merge, Needs security review, Needs Documentation :book:

#12815 gadget: remove unused function
  gadget/update.go
Labels: Simple 😃

#12811 tests: make sure there are not any snapd service listed after removing snapd
  cmd/snap-mgmt/snap-mgmt.sh.in
  tests/main/postrm-purge/task.yaml
Labels: Simple 😃

#12817 cmd/snap: have help reflect the relaxing of --revision rules
  cmd/snap/cmd_download.go
  cmd/snap/cmd_snap_op.go
Labels: Squash-merge, Pulse

#12712 interfaces/builtin: userspace and fs-specific mount options
  interfaces/builtin/mount_control.go
  interfaces/builtin/mount_control_test.go
  tests/main/interfaces-mount-control/task.yaml
Labels: Squash-merge

#12820 tests: skip snap-quota-services in external devices
  tests/main/snap-quota-services/task.yaml
Labels: Simple 😃

#12697 interfaces/utils: allow commas in filepaths
  interfaces/builtin/custom_device.go
  interfaces/builtin/custom_device_test.go
  interfaces/builtin/mount_control.go
  interfaces/builtin/mount_control_test.go
  interfaces/utils/path_patterns.go
  interfaces/utils/path_patterns_test.go
  overlord/hookstate/ctlcmd/mount.go
  overlord/hookstate/ctlcmd/mount_test.go
Labels: Squash-merge, Needs Documentation -auto-

#12831 tests: remove docker tests in ubuntu trusty and update livepatch
  tests/main/canonical-livepatch/task.yaml
  tests/main/docker-smoke/task.yaml
  tests/regression/lp-1910456/task.yaml
Labels: Simple 😃

#12837 github: remove use of `covertool merge` to fix codecov reporting
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#12848 aspects: remove unused field
  aspects/aspects.go
Labels: Simple 😃, Skip spread

#12857 release: 2.59.5
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#12858 release: 2.59.5
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread
