Repository canonical/snapd, pull requests merged in 2023-10, with the labels that each got.

#13245 tests/nested/manual/install-min-size: make it more stable
  tests/nested/manual/install-min-size/task.yaml
Labels: Test Robustness, Run nested, Run Nested -auto-

#13249 tests: fix prepare-image-reproducible test
  tests/main/prepare-image-reproducible/task.yaml
Labels: Simple 😃

#13237 o/snapstate: avoid incurring an extra reboot boundary for core snap when not boot-base
  overlord/snapstate/reboot.go
  overlord/snapstate/reboot_test.go
Labels: Bug

#13226 gadget: clean now useless ResetEnclosingVolumeInStructs function
  gadget/gadget.go
Labels: Skip spread

#13246 tests/nested/manual/uc-update-assets-secure: do not check for shim in boot
  tests/nested/manual/uc-update-assets-secure/task.yaml
Labels: Test Robustness, Run nested, Run Nested -auto-

#13270 tests/muinstaller: update go modules so the snap can be built again
  tests/lib/muinstaller/go.mod
  tests/lib/muinstaller/go.sum
Labels: Simple 😃

#13264 tests/nested/manual: correct some reboot messages after reboot code changes
  tests/nested/manual/fde-on-classic/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Simple 😃, Test Robustness, Run nested, Run Nested -auto-

#13269 i/builtin: update gpio profile to match pattern that contains multiple subdirectories under /sys/devices/platform
  interfaces/builtin/gpio_control.go
Labels: Simple 😃

#13247 interfaces: review and extend README.md
  interfaces/builtin/README.md
  interfaces/builtin/common.go
  interfaces/core.go
  interfaces/policy/basedeclaration.go
Labels: Documentation, Skip spread

#13239 tests: fix store-state tool restoring fakestore
  tests/lib/tools/store-state
  tests/main/store-state/task.yaml
Labels: Simple 😃, Test Robustness

#13279 aspects: support 'any' type in aspect schemas
  aspects/schema.go
  aspects/schema_test.go
Labels: aspects

#13266 tests/core20-boot-config-update: wait for the reboot before the watch
  tests/nested/manual/core20-boot-config-update/task.yaml
Labels: Simple 😃, Run nested, Run Nested -auto-

#13288 packaging: fix unneeded errtracker patches
  packaging/debian-sid/patches/0005-advisor-errtracker-use-upstream-bolt-package.patch
  packaging/fedora/snapd.spec
Labels: Squash-merge

#13285 overlord: make link-snap request a reboot for gadget updates if any update to assets was made
  overlord/devicestate/devicestate_gadget_test.go
  overlord/devicestate/handlers_gadget.go
  overlord/managers_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
Labels: ⚠ Critical, Bug, Run nested

#13273 boot: unlock snapd state when sealing keys
  boot/makebootable.go
  boot/makebootable_test.go
  boot/seal.go
  boot/seal_test.go
  overlord/devicestate/handlers_install.go
Labels: Run nested

#13299 release: 2.61
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge, Skip spread

#13252 t/n/m/uc-update-command-line-secure: make it more stable
  tests/nested/manual/uc-update-command-line-secure/task.yaml
Labels: Test Robustness, Run nested, Run Nested -auto-

#13209 wrappers: allow PrefersNonDefaultGPU and SingleMainWindow keys in desktop files
  wrappers/desktop.go
Labels: Simple 😃

#13301 release: merge changelogs back into master
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Skip spread

#13297 aspects: support "number" type in aspect schemas
  aspects/schema.go
  aspects/schema_test.go
Labels: aspects

#13287 tests: update snapd-testing-tools and fix nested workflow
  .github/workflows/test.yaml
  tests/lib/external/snapd-testing-tools/remote/remote.wait-for
  tests/lib/external/snapd-testing-tools/utils/log-parser
Labels: Run nested

#13306 spread.yaml: set default kernel channel to beta
  spread.yaml
Labels: Run nested

#13309 aspects: reject null values for all types
  aspects/schema.go
  aspects/schema_test.go
Labels: Squash-merge, aspects

#13078 wrappers: install snapd .desktop files on core
  tests/core/desktop-files/task.yaml
  wrappers/core18.go
  wrappers/core18_test.go
Labels: Squash-merge, Needs Samuele review

#13242 o/devicestate: consider snapd snap when remodeling
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/managers_test.go
Labels: Run nested

#13261 interfaces: update polkit-agent interface to handle new location of polkit-agent-helper-1
  interfaces/builtin/polkit_agent.go
  interfaces/builtin/polkit_agent_test.go
Labels: Simple 😃

#13318 seed/seedwriter,image: prereq check strategy change to use snap.ValidateBasesAndProviders
  image/image_test.go
  seed/seedwriter/seed16.go
  seed/seedwriter/seed20.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: Squash-merge

#13310 tests: fix interfaces-content test by clearing snap cache
  tests/main/interfaces-content/task.yaml
Labels: Test Robustness

#13322 revert i/b/microceph: allow more access for microceph-support (#13150)
  interfaces/builtin/microceph.go
Labels: Simple 😃

#13313 aspects: support boolean type in aspect schemas
  aspects/schema.go
  aspects/schema_test.go
Labels: aspects

#13326 tests: fix snapd-maintenance-msg
  tests/core/snapd-maintenance-msg/task.yaml
Labels: Simple 😃

#13329 tests: fix selinux policy to support change in polkit_agent interface
  data/selinux/snappy.te
Labels: Simple 😃

#13315 tests: skip layout-change test in all arm devices
  tests/main/layout-change/task.yaml
Labels: Simple 😃

#13320 many: introduce snapstate.PrereqTracker interface and snap.SimplePrereqTracker
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
  daemon/export_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/handlers_test.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/managers_test.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/refreshhints.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
  overlord/snapstate/storehelpers_test.go
  snap/info.go
  snap/info_test.go
  snap/validate.go
  snap/validate_test.go
Labels: Squash-merge, Needs Documentation -auto-

#13316 gadget: prevent failures when updating kernel/gadget on UC16/18
  gadget/update.go
  gadget/update_test.go
Labels: Run nested

#13334 o/snapstate: check properly conflicts when refreshing snapd
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
Labels: Run nested

#13251 o/snapstate: add explicit snap dependency logic for doUpdates
  overlord/managers_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/reboot.go
  overlord/snapstate/reboot_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  tests/core/kernel-base-gadget-failover/task.yaml
Labels: Needs Samuele review, Run nested

#13292 o/state: implement core support for notices
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  overlord/overlord_test.go
  overlord/state/copy_test.go
  overlord/state/export_test.go
  overlord/state/notices.go
  overlord/state/notices_test.go
  overlord/state/state.go
  overlord/state/state_test.go
Labels: Squash-merge
