Repository canonical/snapd, pull requests merged in 2023-04, with the labels that each got.

#12695 tests: fix the invalid signatures error in special-home-can-run-classic-snaps
  tests/main/special-home-can-run-classic-snaps/task.yaml
Labels: Simple 😃, Test Robustness

#12571 asserts,seed/seedwriter: support for validation sets in seedwriter
  asserts/model.go
  asserts/model_test.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: Squash-merge, Pulse

#12698 tests: call prepare_memory_limit_override before the snapd state is saved
  tests/lib/prepare-restore.sh
  tests/lib/prepare.sh
  tests/main/snap-confine-from-core/task.yaml
Labels: Test Robustness

#12663 tests: replace the systemd.sh helper by the tests.systemd tool in tests/lib
  tests/bin/tests.systemd
  tests/lib/external/snapd-testing-tools/.github/workflows/tests.yaml
  tests/lib/external/snapd-testing-tools/remote/remote.pull
  tests/lib/external/snapd-testing-tools/remote/remote.push
  tests/lib/external/snapd-testing-tools/tests/remote.pull/task.yaml
  tests/lib/external/snapd-testing-tools/tests/remote.push/task.yaml
  tests/lib/external/snapd-testing-tools/tests/remote.refresh/task.yaml
  tests/lib/external/snapd-testing-tools/tests/remote.wait-for/task.yaml
  tests/lib/external/snapd-testing-tools/tests/tests.systemd/task.yaml
  tests/lib/external/snapd-testing-tools/tools/tests.systemd
  tests/lib/nested.sh
  tests/lib/reset.sh
  tests/lib/state.sh
  tests/lib/systemd.sh
  tests/lib/tools/tests.systemd
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Run Nested -auto-

#12585 tests/lib: support for sequence forming assertions in fakestore code
  tests/lib/fakestore/store/store.go
  tests/lib/fakestore/store/store_test.go
  tests/lib/gendeveloper1/main.go
Labels: Squash-merge, Pulse

#12618 many: remove all `device-setup` fde-setup code
  client/systems.go
  daemon/api_debug.go
  gadget/gadget_test.go
  gadget/install/encrypt.go
  gadget/install/encrypt_test.go
  gadget/install/export_secboot_test.go
  gadget/install/install.go
  gadget/update.go
  kernel/fde/device_unlock.go
  kernel/fde/fde.go
  kernel/fde/fde_test.go
  kernel/fde/mapper.go
  osutil/disks/disks.go
  osutil/disks/disks_linux_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/hookstate/ctlcmd/fde_setup.go
  overlord/hookstate/ctlcmd/fde_setup_test.go
  secboot/encrypt.go
  tests/nested/manual/uc20-fde-hooks-ice/task.yaml
Labels: Squash-merge, Needs Documentation -auto-, Run Nested -auto-

#12513 store: return categories in find results
  client/clientutil/snapinfo.go
  client/clientutil/snapinfo_test.go
  client/packages.go
  client/packages_test.go
  daemon/api.go
  daemon/api_categories.go
  daemon/api_find.go
  daemon/api_find_test.go
  overlord/snapstate/backend.go
  snap/info.go
  store/details_v2.go
  store/details_v2_test.go
  store/store.go
  store/store_test.go
  store/storetest/storetest.go
Labels: Squash-merge, Needs Samuele review, Needs Documentation -auto-

#12693 data: fix snapd.aa-prompt-ui.service to actually get started
  data/systemd-user/Makefile
  data/systemd-user/snapd.aa-prompt-ui.service.in
  packaging/ubuntu-16.04/snapd.links
Labels: Squash-merge

#12708 o/snapstate: fix test race condition
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Simple 😃, Test Robustness, Skip spread

#12710 run-checks: use nakedret@1.0.1 compatible w/ go1.13
  go.mod
  go.sum
  run-checks
Labels: Skip spread

#12725 tests: update lxd base snap for ubuntu gt 22.04 in preseed test
  spread.yaml
  tests/main/preseed/task.yaml
Labels: Simple 😃, Test Robustness

#12699 image,seed/seedwriter: move SeedManifest to the seedwriter package (1/3)
  cmd/snap/cmd_prepare_image.go
  cmd/snap/cmd_prepare_image_test.go
  cmd/snap/export_test.go
  image/image_linux.go
  image/image_test.go
  image/options.go
  seed/seedwriter/manifest.go
  seed/seedwriter/manifest_test.go
Labels: Squash-merge, Needs Samuele review

#12732 multiple: rename SeedManifest to Manifest after moving into seedwriter package (2/3)
  cmd/snap/cmd_prepare_image.go
  cmd/snap/cmd_prepare_image_test.go
  cmd/snap/export_test.go
  image/image_linux.go
  image/image_test.go
  image/options.go
  seed/seedwriter/manifest.go
  seed/seedwriter/manifest_test.go
Labels: Squash-merge

#12743 tests: fix lxd-mount-units test in ubuntu-22.10
  tests/main/lxd-mount-units/task.yaml
Labels: Simple 😃, Test Robustness

#12744 tests: avoid reboot in snap-confine-tmp-mount test
  tests/lib/reset.sh
  tests/main/snap-confine-tmp-mount/task.yaml
Labels: Simple 😃, Test Robustness

#12700 image,seed/seedwriter: integrate manifest functionality into seed.Writer (3/3)
  image/image_linux.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: Squash-merge

#12748 aspects: rename aspect directory to bundle
  aspects/aspects.go
  aspects/aspects_test.go
Labels: Skip spread, aspects

#12715 snapstate: notify user when refresh-app-awareness snap finished
  cmd/snap/inhibit.go
  overlord/ifacestate/ifacestate.go
  overlord/ifacestate/ifacestate_test.go
  overlord/overlord.go
  overlord/snapstate/agentnotify/agentnotify.go
  overlord/snapstate/agentnotify/agentnotify_test.go
  overlord/snapstate/agentnotify/export_test.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/flags.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/handlers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  tests/main/auto-refresh-pre-download/task.yaml
  tests/main/refresh-app-awareness-notify/task.yaml
  usersession/agent/rest_api.go
  usersession/agent/rest_api_test.go
Labels: Squash-merge

#12749 seed/seedwriter: extend seedwriter to use validation-set info from manifest (4/4)
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: Squash-merge

#12756 tests: update the ubuntu-image snap channel to avoid issue in uc16
  spread.yaml
Labels: Simple 😃, Test Robustness, Flaky Test

#12701 many: add default-configure hook
  overlord/configstate/configmgr.go
  overlord/configstate/configstate.go
  overlord/configstate/configstate_test.go
  overlord/configstate/export_test.go
  overlord/configstate/handler_test.go
  overlord/configstate/hooks.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/managers_test.go
  overlord/snapstate/check_snap.go
  overlord/snapstate/check_snap_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_try_test.go
  snap/hooktypes.go
Labels: Squash-merge, Needs Samuele review, Needs Documentation -auto-

#12762 NEWS.md: add note about apparmor vendoring
  NEWS.md
Labels: Simple 😃, Skip spread

#12766 certs.go: fix typo in error msg, "exiting" -> "existing"
  overlord/configstate/configcore/certs.go
Labels: Skip spread, Needs Documentation -auto-

#12428 o/devicestate: relocate where auto import assertion is processed
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/users.go
  overlord/devicestate/users_test.go
Labels: Squash-merge, Run nested

#12757 o/devicestate: track included validation-sets in seed on first boot
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/firstboot_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_test.go
  overlord/snapstate/storehelpers.go
  seed/seedtest/seedtest.go
Labels: Squash-merge, Needs Samuele review

#12776 tests: increate the watchdog-timeout to 5 seconds to avoid failed service
  tests/main/services-watchdog/task.yaml
  tests/main/services-watchdog/test-snapd-service-watchdog/meta/snap.yaml
Labels: Test Robustness

#12771 tests: retry the notification matching in racy check
  tests/main/auto-refresh-pre-download/task.yaml
Labels: Test Robustness

#12763 image, store/tooling: correct how validation-sets were sent to store
  image/image_linux.go
  image/image_test.go
  store/tooling/tooling.go
Labels: Squash-merge

#12767 early_test.go: correct typo, "services.ssh..." -> "service.ssh..."
  overlord/configstate/configcore/early_test.go
Labels: Skip spread, Needs Documentation -auto-

#12778 go.mod: update github.com/snapcore/secboot to latest uc22
  go.mod
  go.sum
Labels: Run nested

#12786 cmd/snap-seccomp/syscalls: update seccomp system call list
  cmd/snap-seccomp/syscalls/syscalls.go
Labels: Test Robustness

#12782 go.mod: update github.com/snapcore/secboot to latest uc22
  go.mod
  go.sum
Labels: Run nested
