Repository canonical/snapd, pull requests merged in 2023-01, with the labels that each got.

#12390 tests/core20-early-config: change watchdog timeout
  tests/nested/manual/core20-early-config/defaults.yaml
  tests/nested/manual/core20-early-config/task.yaml
Labels: Simple 😃, Run nested, Run Nested -auto-

#12452 packaging/opensuse: sync with openSUSE packaging
  packaging/opensuse/snapd.spec
Labels: Simple 😃

#12451 packaging/fedora: sync with downstream packaging
  packaging/fedora/snapd.spec
Labels: Simple 😃

#12457 tests: skip lxd tests in ubuntu lunar
  tests/main/lxd-mount-units/task.yaml
  tests/main/lxd-no-fuse/task.yaml
  tests/main/lxd-postrm-purge/task.yaml
  tests/main/lxd-services-smoke/task.yaml
  tests/main/lxd-try/task.yaml
  tests/main/lxd/task.yaml
Labels: Simple 😃

#12464 mkversion: show diff when the version is dirty
  .github/workflows/test.yaml
  build-aux/snap/snapcraft.yaml
Labels: Simple 😃

#12469 bootloader: use fixed copyright year
  bootloader/assets/genasset/main.go
Labels: Simple 😃, Test Robustness, Skip spread

#12447 o/devicestate: find out seed label and mode only once
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/firstboot_preseed_test.go
  overlord/devicestate/firstboot_test.go
  overlord/devicestate/handlers_test.go
Labels: Run nested, Pulse

#12280 many: implementation file monitoring for snap cgroups
  osutil/inotify/LICENSE
  osutil/inotify/PATENTS
  osutil/inotify/README.md
  osutil/inotify/inotify.go
  osutil/inotify/inotify_linux.go
  osutil/inotify/inotify_linux_test.go
  osutil/inotify/inotify_others.go
  sandbox/cgroup/export_test.go
  sandbox/cgroup/monitor.go
  sandbox/cgroup/monitor_test.go
  sandbox/cgroup/scanning.go
  sandbox/cgroup/scanning_test.go
Labels: Squash-merge

#12470 bootloader: fix test w/ auto-generated copyright year
  bootloader/assets/genasset/main_test.go
Labels: Skip spread

#12477 strutil: go staticcheck (S1008) code simplification
  strutil/version.go
Labels: Simple 😃, Skip spread

#12479 o/configstate/configcore: users.go makes sense only with !nomanagers
  overlord/configstate/configcore/users.go
Labels: Simple 😃, Needs Documentation -auto-

#12478 tests: reduce the number of conections testsed in debian 10
  tests/main/interfaces-many-core-provided/task.yaml
Labels: Simple 😃

#12473 o/snapstate: don't notify of pending refresh if it's manual
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/refresh.go
  overlord/snapstate/refresh_test.go
  overlord/snapstate/snapstate.go
Labels: Squash-merge, Pulse

#12488 wrappers: use sorted services for consistent test output
  wrappers/services.go
Labels: Simple 😃, Test Robustness

#12474 snap: provide more error context in `NotSnapError`
  secboot/secboot_sb_test.go
  snap/errors.go
  snap/errors_test.go
  snap/snapfile/snapfile.go
  snap/snapfile/snapfile_test.go
Labels: Squash-merge

#12423 tests: revert disable netplan part of core20-early-config on 22.04-64
  tests/nested/manual/core20-early-config/task.yaml
Labels: Run Nested -auto-

#12491 systemd/emulation.go: use `systemctl --root` to enable/disable
  systemd/emulation.go
  systemd/systemd_test.go
Labels: Run nested

#12501 interfaces/modem-manager: add permissions for NETLINK_ROUTE
  interfaces/builtin/modem_manager.go
Labels: Needs security review

#12466 interfaces: add the USB-ID of Thetis Fido U2F Key to u2f-devices
  interfaces/builtin/u2f_devices.go
  interfaces/builtin/u2f_devices_test.go
Labels: Squash-merge

#12502 tests/main/lxd-mount-units: fix a check
  tests/main/lxd-mount-units/task.yaml
  tests/main/lxd/task.yaml
Labels: Test Robustness

#12490 o/snapstate: do not infinitely retry when an update fails during seeding
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_prereq_test.go
Labels: Squash-merge, Needs Samuele review, Bug, Pulse

#12418 secboot: detect lockout mode in CheckTPMKeySealingSupported
  go.mod
  go.sum
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_api_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  secboot/export_sb_test.go
  secboot/secboot_dummy.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Squash-merge, Needs Samuele review, Run nested, Run Nested -auto-

#12506 tests: add ubuntu kinetic to google-sru backend
  spread.yaml
Labels: Simple 😃

#12494 o/snapstate: remove duplicated refresh checks
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/refresh.go
  overlord/snapstate/refresh_test.go
Labels: Pulse

#12510 release: 2.58.1
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge

#12512 tests: fix remodel-simple nested test by updating store credentials
  tests/lib/remodel-store-viewer.auth
Labels: Simple 😃, Run nested

#12518 tests: remove 2 patches used by debian-sid
  packaging/debian-sid/patches/0002-cmd-snap-seccomp-skip-tests-that-fail-on-4.19.patch
  packaging/debian-sid/patches/0016-skip-TestPopulateFromSeedWithConnectHook.patch
  packaging/debian-sid/patches/series
Labels: Test Robustness

#12522 release: snapd version 2.58.2
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge

#12525 packaging: merge changelog for 2.58.2 back into master (#12522)
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#12523 tests: new smoke test to check the version is not dirty
  tests/smoke/versioning/task.yaml
Labels: Simple 😃

#12516 tests: add a note explaining the UBUNTU_STORE_AUTH_DATA_FILENAME env var
  tests/nested/manual/remodel-cross-store/task.yaml
  tests/nested/manual/remodel-simple/task.yaml
Labels: Simple 😃, Run Nested -auto-

#11962 features,overlord/servicestate: add support for per-quota requirements
  features/features.go
  features/features_test.go
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_control_test.go
Labels: Squash-merge, quota, Pulse

#12528 tests: skip snap-quota-install in arm core systems
  tests/main/snap-quota-install/task.yaml
Labels: Simple 😃

#12531 cmd/snap: improved robustness of unit test TestDesktopIntegrationNoDBus
  cmd/snap/cmd_run_test.go
Labels: Simple 😃, Test Robustness, Skip spread

#12535 cmd/snap: improved robustness of unit tests TestWaitWhileInhibitedGraphicalSession*
  cmd/snap/cmd_run_test.go
  cmd/snap/export_test.go
  cmd/snap/inhibit.go
Labels: Simple 😃, Test Robustness, Skip spread

#12527 tests: add `go:build !nosecboot` to avoid sbuild failure
  tests/lib/muinstaller/main.go
Labels: Test Robustness, Run nested
