Repository canonical/snapd, pull requests merged in 2023-12, with the labels that each got.

#13395 tests: add details to spread tests - part-3
  tests/main/catalog-update/task.yaml
  tests/main/cgroup-devices-v1/task.yaml
  tests/main/cgroup-devices-v2/task.yaml
  tests/main/change-errors/task.yaml
  tests/main/chattr/task.yaml
  tests/main/classic-confinement-not-supported/task.yaml
  tests/main/classic-confinement/task.yaml
  tests/main/classic-custom-device-reg/task.yaml
  tests/main/cmdline/task.yaml
  tests/main/docker-smoke/task.yaml
  tests/main/interfaces-accounts-service/task.yaml
  tests/main/interfaces-browser-support/task.yaml
Labels: Simple 😃

#13401 o/snapstate: make tests work consistently also in containers
  overlord/snapstate/snapstate_test.go
Labels: Skip spread

#13397 many: replace name w/ request and path w/ storage
  aspects/aspects.go
  aspects/aspects_test.go
  overlord/aspectstate/aspecttest/mock_aspect.go
Labels: Skip spread, aspects

#13407 test/nested/manual: fix some yq expressions
  tests/nested/manual/fde-on-classic/task.yaml
  tests/nested/manual/install-min-size/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Test Robustness, Run nested, Run Nested -auto-

#13371 tests: add new performance and load test suite
  spread.yaml
  tests/lib/nested.sh
  tests/lib/tools/tests.nested
  tests/nested/manual/minimal-smoke/task.yaml
  tests/nested/perf/interfaces-core-provided/task.yaml
  tests/perf/interfaces-core-provided/task.yaml
Labels: Run Nested -auto-

#11923 tests: revert the skip for change in nested test core20-to-core22
  tests/nested/manual/core20-to-core22/task.yaml
Labels: Simple 😃, Run nested, Run Nested -auto-

#13405 aspects: improve array index handling in validation errors
  aspects/schema.go
  aspects/schema_test.go
Labels: aspects

#13400 snap,overlord: backend support to copy and mount components
  overlord/hookstate/ctlcmd/mount.go
  overlord/hookstate/ctlcmd/mount_test.go
  overlord/snapstate/backend.go
  overlord/snapstate/backend/backend.go
  overlord/snapstate/backend/backend_test.go
  overlord/snapstate/backend/mountunit.go
  overlord/snapstate/backend/mountunit_test.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_test.go
  snap/component.go
  snap/component_test.go
  snap/info.go
  snap/info_test.go
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: Needs Documentation -auto-

#13414 aspects: improve errors caused by unexpected types
  aspects/schema.go
  aspects/schema_test.go
Labels: aspects

#13422 .github: update golangci-lint version to v1.55.2
  .github/workflows/test.yaml
Labels: Skip spread

#13421 boot: fix more slices missing types
  boot/assets_test.go
  boot/boot_test.go
  boot/modeenv_test.go
Labels: ⚠ Critical, Skip spread

#13378 aspects: Get() matches request on prefixes and returns results in a merged namespace
  aspects/aspects.go
  aspects/aspects_test.go
  daemon/api_aspects_test.go
  daemon/export_test.go
  overlord/aspectstate/aspectstate.go
  overlord/aspectstate/aspectstate_test.go
  tests/main/aspects/task.yaml
Labels: Needs Documentation -auto-, aspects

#13325 interfaces/qualcomm_ipc_router: mock required features in test
  interfaces/builtin/qualcomm_ipc_router_test.go
Labels: Simple 😃

#13308 interfaces: update desktop interface AppArmor permanent slot rules
  interfaces/builtin/desktop.go
Labels: Needs Samuele review

#12989 tests/nested/manual/uc20-install-in-initrd: remove core-initrd tweaks
  tests/nested/manual/uc20-install-in-initrd/task.yaml
  tests/nested/manual/uc20-install-in-initrd/the-modeenv
Labels: Run nested, Run Nested -auto-

#13393 cmd/snap-update-ns: set sythentic mounts `x-snapd.needed-by` to entry id instead of path
  cmd/snap-update-ns/change.go
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/export_test.go
  cmd/snap-update-ns/update_test.go
Labels: Needs Samuele review, Skip spread

#13244 cmd/libsnap-confine-private: pass env real-home to snap-update-ns
  cmd/libsnap-confine-private/tool.c
  cmd/snap-confine/snap-confine.c
Labels: Squash-merge, Simple 😃, Needs Samuele review

#13260 many: ensure-dir mounts for personal-files missing dirs
  cmd/snap-update-ns/utils.go
  interfaces/apparmor/spec.go
  interfaces/apparmor/spec_test.go
  interfaces/apparmor/template.go
  interfaces/builtin/export_test.go
  interfaces/builtin/personal_files.go
  interfaces/builtin/personal_files_test.go
  interfaces/builtin/shared_memory.go
  interfaces/builtin/utils.go
  interfaces/builtin/utils_test.go
  interfaces/ensure_dir.go
  interfaces/ensure_dir_test.go
  interfaces/mount/spec.go
  interfaces/mount/spec_test.go
  osutil/mountentry.go
  osutil/mountentry_linux_test.go
  strutil/pathiter.go
  strutil/pathiter_test.go
Labels: Squash-merge, Needs Samuele review

#13426 tests: add spread tests support for ubuntu-24.04
  .github/workflows/test.yaml
  spread.yaml
  tests/lib/image.sh
  tests/lib/pkgdb.sh
  tests/main/cgroup-devices-v1/task.yaml
  tests/main/cgroup-freezer/task.yaml
  tests/main/cgroup-tracking-failure/task.yaml
  tests/main/lxd-mount-units/task.yaml
  tests/main/lxd-postrm-purge/task.yaml
  tests/main/lxd-try/task.yaml
  tests/main/lxd/task.yaml
  tests/main/snapd-homedirs-vendored/task.yaml
  tests/main/upgrade-from-release/task.yaml
Labels: Simple 😃

#13404 tests: extend interfaces-personal-files for missing directory creation
  tests/main/interfaces-personal-files/task.yaml
  tests/main/interfaces-personal-files/test-snapd-sh/meta/snap.yaml
Labels: Squash-merge, Needs Samuele review, Run nested
