Repository canonical/snapd, pull requests merged in 2023-08, with the labels that each got.

#13040 gadget: remove unused private types after refactor
  gadget/kcmdline.go
Labels: Simple 😃

#12865 interfaces/audio: allow to provide pipewire/pulse slots from a containerized pipewire/desktop
  interfaces/builtin/audio_playback.go
  interfaces/builtin/audio_playback_test.go
  interfaces/builtin/pulseaudio.go
  interfaces/builtin/pulseaudio_test.go
Labels: Squash-merge, Needs Samuele review

#13032 aspects: optimise aspect transaction Get()
  aspects/transaction.go
Labels: aspects

#13033 tests: fix error in gadget-config-defaults-to-snaps test
  tests/core/gadget-config-defaults-to-snaps/task.yaml
Labels: Simple 😃

#13056 tests/main/microk8s-smoke: set no memory limit
  tests/main/microk8s-smoke/task.yaml
Labels: Simple 😃, Test Robustness

#13037 tests/layout-change: do not run for any arm system
  tests/main/layout-change/task.yaml
Labels: Simple 😃

#13049 tests: fix snapd16 test
  tests/core/snapd16/task.yaml
Labels: Simple 😃

#12922 o/restart: add first part of the new restart logic
  bootloader/bootloader.go
  overlord/restart/export_test.go
  overlord/restart/restart.go
  overlord/restart/restart_parameters.go
  overlord/restart/restart_parameters_test.go
  overlord/restart/restart_test.go
Labels: Squash-merge, Needs Samuele review, Pulse

#13057 CODING.md,CONTRIBUTING.md: describe expected format of commit messages
  CODING.md
  CONTRIBUTING.md
Labels: Documentation, Skip spread

#13058 CONTRIBUTING.md: make use of force push clearer
  CONTRIBUTING.md
Labels: Documentation, Skip spread

#12983 snap, store: filter out invalid snap edited links from store info and persisted state
  snap/info.go
  snap/info_test.go
  store/details_v2.go
  store/details_v2_test.go
Labels: Squash-merge, Bug

#13068 tests: fix uc20-create-partitions test on ubuntu mantic
  tests/main/uc20-create-partitions/task.yaml
Labels: Simple 😃

#13013 interfaces: add Ledger NanoS+ and Stax to u2f devices
  interfaces/builtin/u2f_devices.go
Labels: Needs security review

#13041 release: detect if we're running on core desktop
  release/release.go
  release/release_test.go
Labels: Needs Samuele review

#13084 snapd/gadgets: remove unused isSameRelativeOffset function
  gadget/update.go
Labels: Simple 😃, Skip spread

#13076 tests/core/system-snap-refresh: fix test after restart logic changes
  tests/core/system-snap-refresh/task.yaml
Labels: Simple 😃, Test Robustness

#13088 tests: skip snapd-reexec-prompt on uc16 i386 as well
  tests/main/snapd-reexec-prompt/task.yaml
Labels: Simple 😃

#12924 i/b/desktop: allow access to fcitx portal which is supported by both fcitx/fcitx5
  interfaces/builtin/desktop.go
Labels: Needs security review

#13092 cmd: detect if -Wno-missing-field-initializers is needed
  cmd/Makefile.am
  cmd/configure.ac
Labels: ⚠ Critical

#13091 daemon: enable --purge on multi-snap remove
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  tests/main/install-remove-multi/task.yaml
Labels: Simple 😃, Needs Documentation -auto-

#13086 o/h/ctlcmd/mount.go: remove a useless start
  overlord/hookstate/ctlcmd/mount.go
  overlord/hookstate/ctlcmd/mount_test.go
Labels: Needs Documentation -auto-

#13019 many: use laid out types only for writing content
  daemon/api_debug.go
  gadget/export_test.go
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/gadgettest/gadgettest.go
  gadget/install/encrypt.go
  gadget/install/encrypt_test.go
  gadget/install/export_test.go
  gadget/install/install.go
  gadget/install/install_dummy.go
  gadget/install/install_test.go
  gadget/install/partition.go
  gadget/install/partition_test.go
  gadget/layout.go
  gadget/layout_test.go
  gadget/ondisk.go
  gadget/ondisk_test.go
  gadget/partial.go
  gadget/partial_test.go
  gadget/update.go
  overlord/devicestate/devicestate_install_api_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  tests/lib/muinstaller/go.mod
  tests/lib/muinstaller/go.sum
  tests/lib/muinstaller/main.go
Labels: Squash-merge, Run nested, Needs Documentation -auto-

#13098 gadget: remove testutil import in non-test code
  gadget/ondisk.go
Labels: Simple 😃

#13100 tests: fix selinux-clean denials after removing snap
  data/selinux/snappy.te
Labels: Simple 😃

#13101 gadget/install/partition_test: remove unused asOffsetPtr function
  gadget/install/partition_test.go
Labels: Simple 😃, Skip spread

#13071 osutil: add support for symlinks to EnsureFileState
  osutil/syncdir.go
  osutil/syncdir_test.go
  systemd/systemd_test.go
Labels: Squash-merge, Needs Samuele review, Pulse

#13108 release: 2.60.2 (#13063)
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#13069 tests: fix cgroup-tracking-failure test on ubuntu mantic
  tests/main/cgroup-tracking-failure/task.yaml
Labels: Squash-merge, Simple 😃

#13026 tests: make muinstaller capable of installing Ubuntu Core
  tests/lib/muinstaller/go.mod
  tests/lib/muinstaller/go.sum
  tests/lib/muinstaller/main.go
  tests/lib/muinstaller/snapcraft.yaml
  tests/nested/manual/muinstaller-core/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
  tests/nested/manual/muinstaller/task.yaml
Labels: Run nested, Run Nested -auto-

#13118 i/apparmor: support for home.d tunables from /etc/
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/template.go
  tests/main/snapd-homedirs-vendored/task.yaml
  tests/main/snapd-homedirs-vendored/test-snapd-sh/bin/sh
  tests/main/snapd-homedirs-vendored/test-snapd-sh/meta/snap.yaml
Labels: ⚠ Critical, Squash-merge

#13107 i/b/shared-memory: handle "private" plug attribute in shared-memory interface correctly
  interfaces/builtin/shared_memory.go
  interfaces/builtin/shared_memory_test.go
Labels: Squash-merge

#13124 release: 2.60.3
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge, Skip spread

#13125 release: 2.60.3 (#13124)
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Skip spread

#13121 overlord: allow the firmware-updater snap to install user daemons
  overlord/snapstate/backend_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
Labels: Needs Samuele review

#13109 tests/main/interfaces-mount-control: use auditd to match apparmor errors
  tests/main/interfaces-mount-control/task.yaml
Labels: Test Robustness

#13081 aspects: parse and validate maps and simple strings
  aspects/schema.go
  aspects/schema_test.go
Labels: aspects

#13140 o/snapstate: fix test panic when monitoring isn't cleared
  overlord/snapstate/snapstate_update_test.go
Labels: Test Robustness, Skip spread

#13018 interfaces/u2f-devices: add Swissbit iShield Key
  interfaces/builtin/u2f_devices.go
  interfaces/builtin/u2f_devices_test.go
Labels: Skip spread
