Repository canonical/snapd, pull requests merged in 2023-11, with the labels that each got.

#13174 many: save revision when snap is inhibited
  cmd/snap/cmd_run_test.go
  cmd/snap/export_test.go
  cmd/snap/inhibit.go
  cmd/snaplock/runinhibit/inhibit.go
  cmd/snaplock/runinhibit/inhibit_test.go
  overlord/hookstate/ctlcmd/refresh.go
  overlord/hookstate/ctlcmd/refresh_test.go
  overlord/hookstate/hooks.go
  overlord/hookstate/hooks_test.go
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/backend/locking.go
  overlord/snapstate/backend/locking_test.go
  overlord/snapstate/refresh_test.go
  tests/main/refresh/task.yaml
Labels: Squash-merge, Pulse, Needs Documentation -auto-

#13328 aspects: support array type in aspect schemas
  aspects/schema.go
  aspects/schema_test.go
Labels: aspects

#13248 o/devicestate: refactor remodelTasks for readability
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
Labels: Run nested

#13356 tests: fix snap-run test on arch-linux and tumbleweed
  tests/main/snap-run/task.yaml
Labels: Simple 😃

#13255 tests: fix core20-to-core22 test
  tests/nested/manual/core20-to-core22/task.yaml
Labels: Simple 😃, Run Nested -auto-

#13259 o/snapstate: wrap `refreshCandidates` to mitigate store throttling
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
Labels: Squash-merge, Needs Samuele review

#13321 client,tests: do not try to change the gid when reading/removing auth.json
  client/login.go
  tests/main/nfs-support/task.yaml
Labels: Squash-merge

#13340 many: introduce and use snap.SelfContainedSetPrereqTracker
  image/image_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_update_test.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
  seed/validate.go
  seed/validate_test.go
  snap/validate.go
  snap/validate_test.go
Labels: Squash-merge

#13363 tests: stablish a dependency between test and labeler workflows
  .github/workflows/test.yaml
  tests/lib/nested.sh
Labels: Run Nested -auto-

#12652 interfaces/builtin: modify shutdown interface to allow access to SetRebootParameter method
  interfaces/builtin/shutdown.go
  interfaces/policy/basedeclaration_test.go
Labels: Needs Samuele review

#13202 release-tools: add support for NEWS.md changelog.py
  packaging/ubuntu-16.04/control
  release-tools/changelog.py
  release-tools/test/changelog.py
  release-tools/test/test_changelog.py
  release-tools/test/test_flake8.py
  run-checks
Labels: Squash-merge

#13369 release-tools: improve changelog help and inform of incorrect deb email
  release-tools/changelog.py
  release-tools/test/test_changelog.py
Labels: Squash-merge, Simple 😃, Skip spread

#13384 tests: fix tests checks and add missing details in spread tests - part 1
  run-checks
  tests/main/ack/task.yaml
  tests/main/alias/task.yaml
  tests/main/api-get-systems-label/task.yaml
  tests/main/appstream-id/task.yaml
  tests/main/apt-hooks/task.yaml
  tests/main/aspects/task.yaml
  tests/main/auth-errors/task.yaml
Labels: ⚠ Critical

#13385 packaging: move directory for snapd-generator in debian sid
  packaging/debian-sid/snapd.install
Labels: Simple 😃

#13391 tests: use KERNEL_CHANNEL/NESTED_KERNEL_CHANNEL instead of edge for pc-kernel
  spread.yaml
  tests/lib/nested.sh
  tests/lib/prepare.sh
Labels: Run nested, Run Nested -auto-

#13345 a/snapasserts, o/assertstate: add functions to help during remodel
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
Labels: Squash-merge, Needs Samuele review, Skip spread

#13394 release: 2.61.1
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge, Skip spread

#13386 o/snapstate: only use names passed to refreshCandidates
  overlord/snapstate/export_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
Labels: Skip spread

#13074 tests: fix basic20plus test for uc22 on rpi
  tests/core/basic20plus/task.yaml
Labels: Simple 😃

#13358 o/snapstate, o/devicestate: fix ordering of installation of snaps during remodel
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_prereq_test.go
  tests/lib/assertions/test-snapd-remodel-offline-rev0.json
  tests/lib/assertions/test-snapd-remodel-offline-rev0.model
  tests/lib/assertions/test-snapd-remodel-offline-rev1.json
  tests/lib/assertions/test-snapd-remodel-offline-rev1.model
  tests/lib/assertions/valid-for-testing-pc-20.json
  tests/lib/assertions/valid-for-testing-pc-20.model
  tests/lib/assertions/valid-for-testing-pc-22-from-20.json
  tests/lib/assertions/valid-for-testing-pc-22-from-20.model
  tests/lib/assertions/valid-for-testing-pc-22.json
  tests/lib/assertions/valid-for-testing-pc-22.model
  tests/lib/assertions/valid-for-testing-pc-revno-2-20.json
  tests/lib/assertions/valid-for-testing-pc-revno-2-20.model
  tests/lib/assertions/valid-for-testing-pc-revno-2-22.json
  tests/lib/assertions/valid-for-testing-pc-revno-2-22.model
  tests/lib/assertions/valid-for-testing-pc-revno-3-20.json
  tests/lib/assertions/valid-for-testing-pc-revno-3-20.model
  tests/lib/assertions/valid-for-testing-pc-revno-3-22.json
  tests/lib/assertions/valid-for-testing-pc-revno-3-22.model
  tests/nested/manual/core20-remodel/task.yaml
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run Nested -auto-
