Repository canonical/snapd, pull requests merged in 2023-02, with the labels that each got.

#12529 many: move memory,cpu and thread quota out of experimental
  cmd/snap/cmd_help.go
  cmd/snap/cmd_quota.go
  daemon/api_quotas_test.go
  features/features.go
  features/features_test.go
  overlord/configstate/configcore/vitality_test.go
  overlord/ifacestate/handlers_test.go
  overlord/managers_test.go
  overlord/servicestate/quota_control.go
  overlord/servicestate/quota_control_test.go
  overlord/servicestate/quota_handlers_test.go
  tests/core/mem-cgroup-disabled/task.yaml
  tests/main/postrm-purge/task.yaml
  tests/main/quota-groups-systemd-accounting/task.yaml
  tests/main/snap-mgmt/task.yaml
  tests/main/snap-quota-cpu/task.yaml
  tests/main/snap-quota-install/task.yaml
  tests/main/snap-quota-memory/task.yaml
  tests/main/snap-quota-thread/task.yaml
  tests/main/snap-quota/task.yaml
Labels: Squash-merge, Needs Samuele review, quota, Needs Documentation -auto-

#12533 o/configstate/configcore: do not invoke apparmor_parser when unsupported
  overlord/configstate/configcore/homedirs.go
  overlord/configstate/configcore/homedirs_test.go
  tests/main/snapd-homedirs/task.yaml
Labels: Squash-merge, Needs Documentation -auto-

#12540 o/configstate/configcore: missing apparmor mocking for non-aa hosts
  overlord/configstate/configcore/homedirs_test.go
Labels: Simple 😃, Bug, Needs Documentation -auto-

#12537 boot: do not include `base=` in modeenv for classic+modes installs
  boot/makebootable.go
  boot/makebootable_test.go
Labels: Squash-merge, Run nested

#12454 gadget: return error if offset is less than 17408 bytes in gpt schema
  gadget/gadget.go
  gadget/gadget_test.go
Labels: Squash-merge

#12546 interfaces/network-manager: do not show ptrace read denials
  interfaces/builtin/network_manager.go
Labels: Needs security review

#12549 boot: on classic+modes `MarkBootSuccessfull` does not need a base
  boot/boot.go
  boot/boot_test.go
Labels: ⚠ Critical, Run nested

#12551 boot: on classic+modes `MarkBootSuccessfull` does not need a base (2.58)
  boot/boot.go
  boot/boot_test.go
Labels: Run nested

#12515 gadget: include OnDiskStructure in LaidOutStructure
  daemon/api_debug.go
  gadget/device_darwin.go
  gadget/device_linux.go
  gadget/device_test.go
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/gadgettest/gadgettest.go
  gadget/install/content.go
  gadget/install/encrypt.go
  gadget/install/encrypt_test.go
  gadget/install/export_test.go
  gadget/install/install.go
  gadget/install/install_test.go
  gadget/install/partition.go
  gadget/install/partition_test.go
  gadget/layout.go
  gadget/layout_test.go
  gadget/ondisk.go
  gadget/raw_test.go
  gadget/update.go
  gadget/update_test.go
  overlord/devicestate/handlers_install.go
  tests/lib/muinstaller/go.mod
  tests/lib/muinstaller/main.go
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Run nested, need-architecture-review, Needs Documentation -auto-, Run Nested -auto-

#12544 cmd/snap: enhance inhibit graphical flow unit tests
  cmd/snap/cmd_run_test.go
Labels: Simple 😃, Skip spread

#12558 o/snapstate: check for kernel cmdline update conflicts
  overlord/snapstate/conflict.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
Labels: Run nested

#12476 tests: cleanup the nested tests environment to avoid dirty tests directories
  spread.yaml
  tests/lib/image.sh
  tests/lib/nested.sh
  tests/nested/core/core20-kernel-reseal/task.yaml
  tests/nested/core/kernel-revert-after-boot/task.yaml
  tests/nested/manual/core20-cloud-init-maas-signed-seed-data/task.yaml
Labels: Run Nested -auto-

#12572 wrappers: remove unreachable test code
  wrappers/services_test.go
Labels: Simple 😃, Skip spread

#12559 interfaces: relax rules for mount-control `what` for functionfs
  interfaces/builtin/mount_control.go
  interfaces/builtin/mount_control_test.go
Labels: Squash-merge, Needs Samuele review

#12581 release: 2.58.3
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Squash-merge, Simple 😃

#12587 packaging: merge 2.58.1 changelog back into master
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#12560 overlord: add kernel command line options
  overlord/configstate/configcore/kernel.go
  overlord/configstate/configcore/kernel_test.go
  overlord/configstate/configcore/runwithstate.go
Labels: Needs Documentation -auto-

#12590 usersession/userd: reminder about issues with XDG_DATA_DIRS modification
  usersession/userd/launcher.go
Labels: Skip spread

#12577 o/snapstate: create pre-dl task even if one is in DoneStatus
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
Labels: Simple 😃

#12588 tests: fix prepare task for arch linux
  tests/lib/prepare.sh
Labels: Simple 😃, Test Robustness, Flaky Test
