Repository canonical/snapd, pull requests merged in 2024-06, with the labels that each got.

#13511 boot,bootloader: add support for shim fallback and setting EFI boot variables on install
  boot/assets.go
  boot/assets_test.go
  boot/export_test.go
  boot/makebootable.go
  boot/makebootable_test.go
  boot/setefibootvars_darwin.go
  boot/setefibootvars_linux.go
  boot/setefibootvars_linux_test.go
  bootloader/bootloader.go
  bootloader/bootloadertest/bootloadertest.go
  bootloader/grub.go
  bootloader/grub_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
  go.mod
  go.sum
  overlord/devicestate/devicestate_gadget_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_gadget.go
  overlord/devicestate/handlers_install.go
  overlord/install/install.go
  overlord/install/install_test.go
  tests/lib/get_uefi_boot_entry.py
  tests/lib/pull_uefi_boot_entries.sh
  tests/nested/core/core20-set-efi-boot-variables/setefivars.go
  tests/nested/core/core20-set-efi-boot-variables/task.yaml
  tests/nested/manual/core20-set-efi-boot-vars/modify-gadget.sh
  tests/nested/manual/core20-set-efi-boot-vars/task.yaml
Labels: Run Nested -auto-

#13994 packaging/snapd.mk: generate GNU build ID for Go binaries
  packaging/snapd.mk
Labels: Simple 😃

#14002 o/snapstate: handling of unexpected runtime restart
  cmd/snapd/main.go
  daemon/daemon.go
  daemon/daemon_test.go
  overlord/managers_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  overlord/stateengine.go
  overlord/stateengine_test.go
  tests/core/snapd-failover/task.yaml
Labels: Needs Documentation -auto-

#13991 o/snapstate: don't wait for def provider if it depends on base in split refresh
  overlord/snapstate/handlers.go
  overlord/snapstate/snapstate_update_test.go
Labels: Needs Samuele review

#14016 tests/nested: use None as single datasource in the tests
  tests/nested/manual/cmdline-option/cloud.conf
  tests/nested/manual/core20-gadget-cloud-conf/cloud.conf
  tests/nested/manual/core20-gadget-cloud-conf/task.yaml
  tests/nested/manual/muinstaller-core/task.yaml
Labels: Run Nested -auto-

#14038 tests: revert change to used --comment in adduser
  tests/lib/nested.sh
  tests/lib/prepare-restore.sh
Labels: Simple 😃, Run nested, Run Nested -auto-

#14048 .github/workflows: enable test workflow to retrieve pr labels for any repo
  .github/workflows/test.yaml
Labels: Simple 😃, Run nested

#13931 api-snaps: add refresh-observe access to /v2/snaps/{name}
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  tests/main/interfaces-snap-refresh-observe/task.yaml
Labels: Needs Documentation -auto-

#14049 tests: add packaging link for fedora-40
  packaging/fedora-40
Labels: Simple 😃, Skip spread

#14051 tests: increase the StartLimitBurst default value to 10
  tests/lib/prepare.sh
Labels: Simple 😃

#14055 tests: add rpm-build as dependency for opensuse systems
  tests/lib/pkgdb.sh
Labels: Simple 😃

#14056 tests: remove centos-8 support
  .github/workflows/test.yaml
  packaging/centos-8
  spread.yaml
Labels: Simple 😃

#13822 many: include prompt prefix in apparmor rules
  cmd/snap/cmd_run.go
  cmd/snap/main_test.go
  features/export_test.go
  features/features.go
  features/features_test.go
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/apparmor/spec.go
  interfaces/backend.go
  interfaces/builtin/home.go
  interfaces/builtin/home_test.go
  interfaces/dbus/backend.go
  interfaces/export_test.go
  interfaces/ifacetest/backend.go
  interfaces/kmod/backend.go
  interfaces/mount/backend.go
  interfaces/polkit/backend.go
  interfaces/repo.go
  interfaces/repo_test.go
  interfaces/seccomp/backend.go
  interfaces/system_key.go
  interfaces/system_key_test.go
  interfaces/systemd/backend.go
  interfaces/udev/backend.go
  overlord/configstate/configcore/export_test.go
  overlord/configstate/configcore/prompting.go
  overlord/configstate/configcore/prompting_test.go
  overlord/configstate/configcore/runwithstate.go
  overlord/devicestate/firstboot_preseed_test.go
  overlord/devicestate/handlers_test.go
  overlord/ifacestate/export_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/handlers_test.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
  overlord/ifacestate/ifacemgr.go
  sandbox/apparmor/apparmor.go
  sandbox/apparmor/apparmor_test.go
  tests/main/apparmor-prompting-flag-restart/task.yaml
Labels: Squash-merge, Needs Samuele review, Needs Documentation -auto-

#13772 many: replace interfaces.Repository.AddSnap with AddAppSet
  daemon/api_base_test.go
  interfaces/ifacetest/app_set.go
  interfaces/ifacetest/backendtest.go
  interfaces/repo.go
  interfaces/repo_test.go
  overlord/devicestate/devicestate_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
  overlord/ifacestate/hotplug_test.go
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate_test.go
  overlord/managers_test.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_update_test.go
  snap/validate_test.go
Labels: Needs Documentation -auto-

#14047 many: build drivers tree when current mount is not the target mount
  gadget/install/content.go
  gadget/install/content_test.go
  gadget/install/export_test.go
  gadget/install/kernel.go
  kernel/kernel_drivers.go
  kernel/kernel_drivers_test.go
  overlord/devicestate/handlers_install.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  tests/lib/muinstaller/mk-classic-rootfs.sh
  tests/lib/prepare-restore.sh
  tests/lib/tools/lxd-state
  tests/lib/tools/setup_nested_hybrid_system.sh
  tests/nested/manual/muinstaller-core/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Run nested, Run Nested -auto-

#14065 tests/recovery-system-reboot: fix revisions overwritten by bad merge
  tests/nested/manual/recovery-system-reboot/task.yaml
Labels: Run nested, Run Nested -auto-

#14063 o/configstate/configcore: guard against classic systems for kernel commandline params
  overlord/configstate/configcore/kernel.go
  overlord/configstate/configcore/kernel_test.go
Labels: Run nested, Needs Documentation -auto-

#14067 many: add Provenance field to ComponentInfo
  daemon/api_sideload_n_try_test.go
  interfaces/snap_app_set_test.go
  snap/component.go
  snap/component_test.go
  snap/pack/pack_test.go
Labels: Needs Documentation -auto-

#13485 o/configstate,o/snapstate: configurable refresh inhibition days number
  overlord/configstate/configcore/refresh.go
  overlord/configstate/configcore/refresh_test.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/refresh_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Squash-merge, Needs Samuele review, Needs Documentation -auto-

#14081 tests: remove tiobe tics checks for prs
  .github/workflows/static-analysis.yaml
Labels: Simple 😃, Skip spread

#14080 osutil/fips: helper for testing whether FIPS mode is enabled
  osutil/fips/fips.go
  osutil/fips/fips_test.go
Labels: Simple 😃

#13866 i/prompting: implement path pattern matching
  go.mod
  go.sum
  interfaces/prompting/constraints.go
  interfaces/prompting/constraints_test.go
  interfaces/prompting/patterns.go
  interfaces/prompting/patterns_test.go
  packaging/debian-sid/control
  packaging/fedora/snapd.spec
Labels: Squash-merge, Needs Samuele review

#14090 registry: restrict path patterns
  registry/registry.go
  registry/registry_test.go
  registry/schema_test.go
Labels: Simple 😃, Skip spread, registry

#13949 o/snapstate: refactor Install functions to use a singular implementation that operates on a Target
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/snapstate/autorefresh_gating_test.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_download_test.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/handlers_rerefresh_test.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
  overlord/snapstate/target.go
Labels: Run nested, Needs Documentation -auto-

#14083 cmd/snap-seccomp: fix default action on deny filter in devmode
  cmd/snap-seccomp/main.go
Labels: Needs security review

#14093 tests/muinstaller{,-core}: use variable for core version
  tests/nested/manual/muinstaller-core/task.yaml
  tests/nested/manual/muinstaller/task.yaml
Labels: Run nested, Run Nested -auto-

#14088 o/snapstate: properly ignore prereqs during remodels
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_prereq_test.go
Labels: Simple 😃, Run nested

#14082 tests: install pylint in nightly tiobe tics run
  .github/workflows/nightly.yaml
Labels: Simple 😃, Skip spread

#14068 cmd/libsnap-confine-private: add snap mount dir detection
  cmd/Makefile.am
  cmd/libsnap-confine-private/snap-dir-test.c
  cmd/libsnap-confine-private/snap-dir.c
  cmd/libsnap-confine-private/snap-dir.h
  cmd/libsnap-confine-private/snap.h
Labels: Needs security review

#14064 sandbox/apparmor: refactor parser feature test
  sandbox/apparmor/apparmor_test.go
Labels: Test Robustness, Skip spread

#14078 snap-{seccomp,confine}: replace global seccomp filter with template
  cmd/snap-confine/seccomp-support-ext.c
  cmd/snap-confine/seccomp-support-ext.h
  cmd/snap-confine/seccomp-support.c
  cmd/snap-confine/snap-confine.c
  cmd/snap-seccomp-blacklist/.gitignore
  cmd/snap-seccomp-blacklist/BE-bpf-script
  cmd/snap-seccomp-blacklist/LE-bpf-script
  cmd/snap-seccomp-blacklist/Makefile
  cmd/snap-seccomp-blacklist/snap-seccomp-blacklist.c
  cmd/snap-seccomp/main.go
  cmd/snap-seccomp/main_test.go
  interfaces/seccomp/backend.go
  interfaces/seccomp/backend_test.go
  interfaces/seccomp/export_test.go
  interfaces/seccomp/template.go
  tests/regression/lp-1812973/lp-1812973.c
Labels: Needs security review

#14100 daemon: ensure stability of components list in snap info
  daemon/snap.go
Labels: ⚠ Critical, Simple 😃, Skip spread, Needs Documentation -auto-

#14098 tests: skip removing test-snapd-rsync-core24 during reset
  spread.yaml
Labels: ⚠ Critical, Simple 😃

#14084 tests: add extra storage to arch vms in google cloud
  spread.yaml
Labels: Simple 😃

#14094 snapcraft: improve FIPS snap build, pull FIPS libraries from core22
  build-aux/snap/snapcraft.yaml
Labels: Skip spread

#14102 daemon: fix racy tests caused by copy-pasted variable
  daemon/api_snaps_test.go
Labels: ⚠ Critical, Simple 😃, Test Robustness, Skip spread, Needs Documentation -auto-

#14103 tests: set SNAP_MOUNT_DIR in debug section
  tests/main/security-setuid-root/task.yaml
Labels: Simple 😃, Test Robustness, Skip spread

#14096 registry: validate view names on registry creation
  registry/registry.go
  registry/registry_test.go
Labels: Simple 😃, Skip spread, registry

#14066 asserts: allow $PLUG_PUBLISHER_ID in plug attribute constraints
  asserts/account_key_test.go
  asserts/asserts.go
  asserts/asserts_test.go
  asserts/constraint.go
  asserts/constraint_test.go
  asserts/export_test.go
  asserts/ifacedecls.go
  asserts/ifacedecls_test.go
  asserts/snap_asserts.go
  asserts/snap_asserts_test.go
  interfaces/policy/helpers.go
  interfaces/policy/policy.go
  interfaces/policy/policy_test.go
Labels: registry

#14110 spread: bump snapd tag used for reference when generating deltas
  spread.yaml
Labels: Simple 😃, Skip spread

#14112 o/configstate/configcore: include newlines in proxy entries added to /etc/environment
  overlord/configstate/configcore/proxy.go
  overlord/configstate/configcore/proxy_test.go
Labels: Simple 😃

#14115 github: fix unit tests on openSUSE
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#14121 tests: increase the number of workers we use in openstack
  tests/lib/spread/backend.openstack.yaml
Labels: Simple 😃, Skip spread

#14119 tests: remove snapd16 test
  tests/core/snapd16/task.yaml
Labels: Simple 😃, Test Robustness, Skip spread

#14122 spread: add Ubuntu Pro systems
  spread.yaml
Labels: Simple 😃, Skip spread

#14113 i/builtin: add registry interface
  asserts/registry.go
  interfaces/builtin/registry.go
  interfaces/builtin/registry_test.go
  interfaces/policy/basedeclaration_test.go
  registry/registry.go
  run-checks
Labels: Needs Samuele review, registry

#14107 o/snapstate: make a managed refresh schedule not require any additional checks
  interfaces/repo.go
  overlord/configstate/configcore/refresh.go
  overlord/devicestate/devicestate.go
  overlord/managers_test.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/refreshhints.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate_test.go
Labels: Needs Documentation -auto-

#14131 tests: updated the backends list used for openstack
  tests/lib/spread/backend.openstack.yaml
Labels: Simple 😃, Skip spread

#14127 tests: filter spread logs to be sent to grafana
  .github/workflows/test.yaml
Labels: Simple 😃

#14130 daemon, cmd/snapd: propagate context
  cmd/snapd/main.go
  daemon/api_aliases_test.go
  daemon/api_cohort.go
  daemon/api_download.go
  daemon/api_notices.go
  daemon/api_notices_test.go
  daemon/api_sections.go
  daemon/api_sideload_n_try.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  daemon/api_snapshots.go
  daemon/api_snapshots_test.go
  daemon/daemon.go
  daemon/daemon_test.go
  overlord/snapstate/snapstate.go
Labels: Needs Samuele review, Needs Documentation -auto-

#14125 tests: fix upgrade-from-release test in ubuntu noble
  tests/main/upgrade-from-release/task.yaml
Labels: Simple 😃

#14059 i/prompting: render path patterns variants using recursive descent parser
  interfaces/prompting/constraints.go
  interfaces/prompting/constraints_test.go
  interfaces/prompting/patterns.go
  interfaces/prompting/patterns/parse.go
  interfaces/prompting/patterns/parse_internal_test.go
  interfaces/prompting/patterns/patterns.go
  interfaces/prompting/patterns/patterns_test.go
  interfaces/prompting/patterns/render.go
  interfaces/prompting/patterns/render_internal_test.go
  interfaces/prompting/patterns/scan.go
  interfaces/prompting/patterns/scan_internal_test.go
  interfaces/prompting/patterns_test.go
  interfaces/prompting/prompting_test.go
Labels: Squash-merge
