Repository canonical/snapd, pull requests merged in 2024-10, with the labels that each got.

#14319 interfaces/prompting/patterns: add checks for duplicate pattern variants
  interfaces/prompting/patterns/render.go
  interfaces/prompting/patterns/render_internal_test.go
  interfaces/prompting/requestrules/requestrules.go
  interfaces/prompting/requestrules/requestrules_test.go
Labels: Simple 😃

#14400 secboot: use uuid of luks2 instead of partition
  osutil/disks/disks_darwin.go
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  secboot/encrypt_sb.go
  secboot/encrypt_sb_test.go
  secboot/secboot_sb.go
  secboot/secboot_sb_test.go
Labels: Run nested, FDE Manager

#14565 i/builtin: allow accessing real-time clock device nodes via symlinks
  interfaces/builtin/time_control.go
  tests/lib/snaps/test-snapd-timedate-control-consumer/bin/sh
  tests/lib/snaps/test-snapd-timedate-control-consumer/meta/snap.yaml
  tests/main/interfaces-time-control/task.yaml
Labels: Needs security review

#14567 data/selinux: allow mounting on var_t
  data/selinux/snappy.te
Labels: Simple 😃

#14572 tests/main/interfaces-time-control: use "name" device node since it is also present on arm systems
  tests/main/interfaces-time-control/task.yaml
Labels: Simple 😃

#14536 interfaces/bulitin/opengl: add support for cuda workloads on Tegra iGPU in opengl interface
  interfaces/builtin/opengl.go
  interfaces/builtin/opengl_test.go
Labels: Needs security review

#14412 snap: introduce the StandardComponent type
  asserts/snapasserts/snapasserts_test.go
  cmd/snap-exec/main_test.go
  cmd/snap/cmd_pack_test.go
  cmd/snap/cmd_run_test.go
  daemon/api_sideload_n_try_test.go
  daemon/api_snaps_test.go
  image/image_test.go
  interfaces/apparmor/backend_test.go
  interfaces/connection_test.go
  interfaces/ifacetest/backendtest.go
  interfaces/snap_app_set_test.go
  interfaces/udev/spec_test.go
  overlord/assertstate/assertstate_test.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/handlers_test.go
  overlord/hookstate/context_test.go
  overlord/hookstate/ctlcmd/snap_management_test.go
  overlord/hookstate/hookstate_test.go
  overlord/ifacestate/ifacestate_test.go
  overlord/snapstate/backend/backend_test.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/component_install_test.go
  overlord/snapstate/component_test.go
  overlord/snapstate/handlers_components_discard_test.go
  overlord/snapstate/handlers_components_download_test.go
  overlord/snapstate/handlers_components_link_test.go
  overlord/snapstate/handlers_components_mount_test.go
  overlord/snapstate/handlers_components_prepare_test.go
  overlord/snapstate/handlers_components_test.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/sequence/sequence_test.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_remove_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/target_test.go
  seed/seedtest/sample.go
  seed/seedwriter/writer_test.go
  snap/component_test.go
  snap/info_snap_yaml_test.go
  snap/info_test.go
  snap/pack/pack_test.go
  snap/types.go
  snap/types_test.go
  snap/validate_test.go
  store/details_v2_test.go
  store/store_action_test.go
  store/tooling/tooling_test.go
  tests/main/component/comp1/meta/component.yaml
  tests/main/component/snap-with-comps/meta/snap.yaml
Labels: Needs Documentation -auto-

#14540 cmd/snap/debug-api: option to choose access through /run/snapd-snap.socket
  cmd/snap/cmd_debug_api.go
Labels: Simple 😃, Skip spread

#14562 tests: replace nfs support test with generalized cifs test
  run-spread
  tests/bin/okfail
  tests/main/cifs-home/task.yaml
  tests/main/nfs-support/task.yaml
  tests/main/nfs-support/test-snapd-sh/bin/sh
  tests/main/nfs-support/test-snapd-sh/meta/snap.yaml
  tests/main/remote-home/task.yaml
  tests/main/remote-home/test-snapd-sh/bin/sh
  tests/main/remote-home/test-snapd-sh/meta/snap.yaml
Labels: Test Robustness

#14552 o/registrystate: support snapctl get --pristine
  daemon/api.go
  daemon/api_registry.go
  daemon/api_registry_test.go
  daemon/export_test.go
  overlord/hookstate/ctlcmd/export_test.go
  overlord/hookstate/ctlcmd/get.go
  overlord/hookstate/ctlcmd/get_test.go
  overlord/hookstate/ctlcmd/set.go
  overlord/hookstate/ctlcmd/set_test.go
  overlord/hookstate/ctlcmd/unset_test.go
  overlord/registrystate/registrystate.go
  overlord/registrystate/registrystate_test.go
  overlord/registrystate/transaction.go
  overlord/registrystate/transaction_test.go
Labels: Needs Documentation -auto-, registry

#14370 a/snapasserts: keep track of components in validation sets
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
  daemon/api_validate_test.go
  overlord/assertstate/assertstate_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  seed/seedwriter/writer.go
Labels: Needs Samuele review, Needs Documentation -auto-

#14584 snapcraft: pin Ubuntu Advantage Pro FIPS Updates PPA when building FIPS variant
  build-aux/snap/snapcraft.yaml
Labels: Skip spread

#14569 tests: replaced curl with snap debug api
  tests/core/snapd-maintenance-msg/task.yaml
  tests/core/uc20-recovery/task.yaml
  tests/lib/uc20-recovery.sh
  tests/main/api-get-systems-label/task.yaml
  tests/main/apparmor-prompting-flag-restart/task.yaml
  tests/main/appstream-id/task.yaml
  tests/main/aux-info/task.yaml
  tests/main/debug-pprof/task.yaml
  tests/main/generic-unregister/task.yaml
  tests/main/interfaces-snap-interfaces-requests-control/task.yaml
  tests/main/snap-quota-memory/task.yaml
  tests/main/snap-quota-thread/task.yaml
  tests/main/snapctl/task.yaml
  tests/main/snapshot-exclusions-dynamic/task.yaml
  tests/nested/core/core20-basic/task.yaml
  tests/nested/core/core20-tpm/task.yaml
  tests/nested/manual/core20-create-recovery/task.yaml
  tests/nested/manual/muinstaller-core/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
  tests/nested/manual/muinstaller/task.yaml
  tests/nested/manual/recovery-system-offline/task.yaml
  tests/nested/manual/recovery-system-reboot/task.yaml
  tests/nested/manual/recovery-system/task.yaml
  tests/nested/manual/split-refresh/task.yaml
Labels: Run nested, Run Nested -auto-

#14600 cmd/snap-update-ns: move initial test case to sub-directory
  cmd/snap-update-ns/change_tricky_test.go
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/Makefile
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/annotations-1.patch
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/annotations-2.patch
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/annotations-3.patch
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/annotations-4.patch
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/annotations-5.patch
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/annotations-6.patch
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-1-initially-connected.current.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-1-initially-connected.desired.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-2-after-disconnect.current.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-2-after-disconnect.desired.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-3-after-reconnect.current.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-3-after-reconnect.desired.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-4-initially-disconnected-then-connected.before.current.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-4-initially-disconnected-then-connected.current.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-4-initially-disconnected-then-connected.desired.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-5-initially-connected-then-content-refreshed.before.current.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-5-initially-connected-then-content-refreshed.current.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-5-initially-connected-then-content-refreshed.desired.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-6-initially-connected-then-app-refreshed.before.current.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-6-initially-connected-then-app-refreshed.current.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/content-layout-6-initially-connected-then-app-refreshed.desired.fstab
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/test-snapd-content-layout/attached-content/hidden
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/test-snapd-content-layout/bin/bash
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/test-snapd-content-layout/bin/sh
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/test-snapd-content-layout/meta/snap.yaml
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/test-snapd-content/canary.txt
  cmd/snap-update-ns/testdata/usr-share-secureboot-potato/test-snapd-content/meta/snap.yaml
Labels: Simple 😃, Skip spread

#14593 s/apparmor: fix check for prompting support for kernels with policy/notify/user
  sandbox/apparmor/apparmor.go
  sandbox/apparmor/apparmor_test.go
Labels: Simple 😃

#14595 tests: remove not needed variables in spread.yaml
  spread.yaml
  tests/lib/prepare-restore.sh
Labels: Simple 😃, Run nested

#14603 o/hookstate: remove precondition interface
  overlord/hookstate/hookmgr.go
  overlord/hookstate/hookstate_test.go
  overlord/hookstate/hooktest/handler.go
Labels: Simple 😃, Skip spread, registry

#14610 tests: fix how snapd is built from current
  tests/lib/prepare-restore.sh
Labels: Simple 😃

#14613 tests: install missing dependency to fix oracular building
  tests/lib/pkgdb.sh
Labels: ⚠ Critical, Simple 😃

#14602 tests: run once a week the nightly static checks
  .github/workflows/nightly.yaml
Labels: Simple 😃, Skip spread

#13581 o/devicestate: install system seed on hybrid systems
  gadget/gadget.go
  gadget/gadget_test.go
  gadget/gadgettest/examples.go
  overlord/devicestate/devicectx.go
  overlord/devicestate/devicestate_install_api_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot_test.go
  overlord/devicestate/handlers_install.go
  seed/seed20.go
  seed/seed20_test.go
  tests/lib/tools/setup_nested_hybrid_system.sh
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Needs Samuele review, Run nested, Run Nested -auto-

#14544 o/registrystate: manage accesses to registries
  daemon/api_registry.go
  overlord/hookstate/ctlcmd/export_test.go
  overlord/hookstate/ctlcmd/fail.go
  overlord/hookstate/ctlcmd/get.go
  overlord/hookstate/ctlcmd/get_test.go
  overlord/hookstate/ctlcmd/set.go
  overlord/hookstate/ctlcmd/set_test.go
  overlord/hookstate/ctlcmd/unset_test.go
  overlord/registrystate/export_test.go
  overlord/registrystate/registrymgr.go
  overlord/registrystate/registrymgr_test.go
  overlord/registrystate/registrystate.go
  overlord/registrystate/registrystate_test.go
Labels: Needs Documentation -auto-, registry

#14578 many: add snap auto refresh backoff
  client/clientutil/snapinfo_test.go
  client/packages.go
  client/packages_test.go
  daemon/api_snaps_test.go
  daemon/snap.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  snap/info.go
  tests/lib/fakestore/store/store.go
  tests/lib/fakestore/store/store_test.go
  tests/lib/tools/snapd-state
  tests/lib/tools/store-state
  tests/main/auto-refresh-backoff/check_auto_refresh_count.sh
  tests/main/auto-refresh-backoff/task.yaml
Labels: Needs Samuele review, Needs Documentation -auto-

#14606 overlord,snap: order boot base before kernel when seeding
  overlord/devicestate/firstboot.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/firstboot_test.go
  snap/info.go
  snap/info_test.go
  snap/types.go
Labels: Needs Samuele review, Run nested

#14570 secboot: factor code for encrypted disk activation
  secboot/secboot_hooks.go
  secboot/secboot_sb.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
Labels: Run nested, FDE Manager

#14624 o/snapstate: remove unused function
  overlord/snapstate/storehelpers.go
Labels: ⚠ Critical, Simple 😃, Skip spread

#14626 run-checks: run golangci-lint on all files
  run-checks
Labels: Skip spread

#14516 overlord/fdestate: keep FDE state up to date
  boot/assets_test.go
  boot/boot_test.go
  boot/export_test.go
  boot/model_test.go
  boot/seal.go
  boot/seal_test.go
  boot/systems_test.go
  osutil/disks/disks.go
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
  overlord/fdestate/backend/reseal.go
  overlord/fdestate/backend/reseal_test.go
  overlord/fdestate/export_test.go
  overlord/fdestate/fdemgr.go
  overlord/fdestate/fdemgr_test.go
  overlord/fdestate/fdestate.go
  overlord/managers_test.go
  secboot/secboot.go
  secboot/secboot_dummy.go
  secboot/secboot_sb.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
Labels: Run nested, Run Nested -auto-, FDE Manager

#14614 o/h/ctlcmd: hide snapctl registry commands behind feature flag
  overlord/hookstate/ctlcmd/fail.go
  overlord/hookstate/ctlcmd/fail_test.go
  overlord/hookstate/ctlcmd/get.go
  overlord/hookstate/ctlcmd/get_test.go
  overlord/hookstate/ctlcmd/set.go
  overlord/hookstate/ctlcmd/unset.go
  overlord/registrystate/registrystate_test.go
Labels: Skip spread, Needs Documentation -auto-, registry

#14620 o/registrystate: fix rollback of failed save-view hooks
  overlord/registrystate/registrymgr.go
  overlord/registrystate/registrymgr_test.go
Labels: Skip spread, registry

#14573 go.mod: update secboot to eaa3655091fc
  go.mod
  go.sum
  secboot/secboot_sb.go
  secboot/secboot_sb_test.go
Labels: Run nested, FDE Manager

#14619 secboot/bootstrap_container.go: also return token writers
  overlord/install/install.go
  secboot/bootstrap_container.go
  secboot/bootstrap_container_sb.go
  secboot/bootstrap_container_sb_test.go
  secboot/export_sb_test.go
  secboot/secboot_hooks.go
  secboot/secboot_tpm.go
  tests/lib/uc20-create-partitions/main.go
Labels: FDE Manager

#14653 release: 2.66.1 changelogs
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#14625 boot: provide a helper for obtaining boot chains for resealing
  boot/seal.go
  boot/seal_test.go
Labels: FDE Manager

#14632 many: use snap version in components when unspecified in them
  daemon/api_sideload_n_try_test.go
  daemon/api_snaps_test.go
  daemon/snap.go
  overlord/snapstate/refreshhints_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/target_test.go
  seed/seedwriter/seed16.go
  seed/seedwriter/seed20.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
  snap/component.go
  snap/component_test.go
  snap/pack/pack.go
  snap/pack/pack_test.go
  snap/snapenv/snapenv.go
  snap/snapenv/snapenv_test.go
  store/tooling/tooling.go
Labels: Needs Documentation -auto-

#14648 github: enable required checks on FDE branch
  .github/workflows/cla-check.yaml
Labels: Simple 😃, Skip spread, FDE Manager

#14538 i/p/requestrules,o/i/apparmorprompting: allow overlapping rules
  interfaces/prompting/requestrules/requestrules.go
  interfaces/prompting/requestrules/requestrules_test.go
  overlord/ifacestate/apparmorprompting/prompting_test.go
Labels: Needs Samuele review

#14656 interfaces/mount: show error causing discard
  interfaces/mount/backend.go
Labels: Simple 😃, Skip spread

#14636 github: verbose snapcraft build, drop duplicate snap build step
  .github/workflows/test.yaml
Labels: Simple 😃

#14135 release: 2.61.4
  .github/workflows/test.yaml
  NEWS.md
  check-pr-title.py
  cmd/snap-confine/mount-support.c
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  interfaces/builtin/home.go
  interfaces/builtin/home_test.go
  osutil/strace/strace.go
  osutil/strace/strace_test.go
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
  run-checks
  snap/container.go
  snap/container_test.go
  snap/export_test.go
  snap/snapdir/snapdir.go
  snap/snapdir/snapdir_test.go
  snap/squashfs/squashfs.go
  snap/squashfs/squashfs_test.go
  spread.yaml
  tests/core/snapd-failover/task.yaml
  tests/lib/tools/snaps-state
  tests/main/bad-meta-file-types/task.yaml
  tests/main/bad-meta-file-types/test-bad-file-types/meta/snap.yaml
  tests/main/snap-run/task.yaml
  tests/regression/exploding-namespace/task.yaml
Labels: Run nested

#14627 secboot: allow unlocking without key file
  secboot/secboot_sb.go
  secboot/secboot_sb_test.go
Labels: FDE Manager

#14640 tests/nested/core/core-fde-state: check for initial FDE state
  tests/nested/core/core-fde-state/task.yaml
Labels: Run nested, Run Nested -auto-, FDE Manager

#14647 overlord/fdestate: improve error handling when one of partitions isn't mounted, handle preseeding
  boot/modeenv.go
  boot/modeenv_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_install.go
  overlord/devicestate/systems.go
  overlord/fdestate/export_test.go
  overlord/fdestate/fdemgr.go
  overlord/fdestate/fdemgr_test.go
  overlord/fdestate/fdestate.go
  overlord/managers_test.go
  overlord/overlord.go
Labels: Run nested, FDE Manager

#14660 tests/lib/prepare: use correct section for snapd service overrides related to service restarts
  tests/lib/prepare.sh
Labels: Simple 😃

#14645 many: refactor registry errors and add GetView function
  daemon/api_registry_test.go
  overlord/hookstate/ctlcmd/export_test.go
  overlord/hookstate/ctlcmd/get.go
  overlord/hookstate/ctlcmd/get_test.go
  overlord/hookstate/ctlcmd/set.go
  overlord/hookstate/ctlcmd/unset_test.go
  overlord/registrystate/registrystate.go
  overlord/registrystate/registrystate_test.go
  registry/registry.go
  registry/registry_test.go
  tests/main/registries-cross-config/task.yaml
  tests/main/registries/task.yaml
Labels: Needs Documentation -auto-, registry

#14521 c/snap-bootstrap: import users from hybrid system into recovery system
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/hybrid_users_import.go
  cmd/snap-bootstrap/hybrid_users_import_internal_test.go
  tests/lib/muinstaller/mk-classic-rootfs.sh
  tests/nested/manual/muinstaller-real/extra-paths
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Run nested, Run Nested -auto-

#14654 .github/workflows/coverity-scan.yaml: add github action for Coverity
  .github/workflows/coverity-scan.yaml
Labels: Skip spread

#14675 many: registry API creates transaction commit change
  daemon/api.go
  daemon/api_registry.go
  daemon/api_registry_test.go
  daemon/export_test.go
  overlord/hookstate/ctlcmd/export_test.go
  overlord/hookstate/ctlcmd/set.go
  overlord/hookstate/ctlcmd/set_test.go
  overlord/hookstate/ctlcmd/unset_test.go
  overlord/registrystate/registrystate.go
  overlord/registrystate/registrystate_test.go
  overlord/state/state.go
  overlord/state/state_test.go
  tests/main/registries/task.yaml
  tests/main/registries/test-custodian-snap/bin/sh
  tests/main/registries/test-custodian-snap/meta/hooks/manage-wifi-view-changed
  tests/main/registries/test-custodian-snap/meta/snap.yaml
Labels: Needs Documentation -auto-, registry
