Repository canonical/snapd, pull requests merged in 2024-05, with the labels that each got.

#13849 i/prompting: add package for prompting common types/functions
  interfaces/prompting/prompting.go
  interfaces/prompting/prompting_test.go
Labels: Squash-merge, Needs Samuele review

#13852 o/snapstate: don't make apps wait for reboot on classic w/ kernel
  overlord/snapstate/backend_test.go
  overlord/snapstate/export_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/reboot.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_update_test.go
  store/store_action.go
Labels: Run nested

#13924 tests: more details in spread tests - part 13
  tests/main/deb-restart-behavior/task.yaml
  tests/main/debs/task.yaml
  tests/main/debug-migrate-home/task.yaml
  tests/main/debug-paths/task.yaml
  tests/main/debug-pprof/task.yaml
  tests/main/debug-sandbox/task.yaml
  tests/main/default-tracks/task.yaml
  tests/main/degraded/task.yaml
  tests/main/econnreset/task.yaml
  tests/main/enable-disable/task.yaml
  tests/main/exitcodes/task.yaml
  tests/main/generic-classic-reg/task.yaml
  tests/main/health/task.yaml
  tests/main/proxy-no-core/task.yaml
  tests/main/proxy/task.yaml
  tests/main/snap-validate-basic/task.yaml
  tests/main/snap-validate-enforce/task.yaml
  tests/main/snap-validate-with-store/task.yaml
  tests/main/snap-wait/task.yaml
Labels: Simple 😃, Skip spread

#13850 i/prompting: add constraints and abstract permissions
  interfaces/prompting/constraints.go
  interfaces/prompting/constraints_test.go
  interfaces/prompting/export_test.go
Labels: Squash-merge, Needs Samuele review

#13928 tests: add details in tests for some snap subcommands
  tests/main/snap-advise-command/task.yaml
  tests/main/snap-download/task.yaml
Labels: Skip spread

#13929 tests: add details to more spread tests
  tests/main/hidden-snap-dir/task.yaml
  tests/main/install-cache/task.yaml
  tests/main/install-errors/task.yaml
  tests/main/install-hook-misbehaving/task.yaml
  tests/main/install-refresh-remove-hooks/task.yaml
  tests/main/install-remove-multi/task.yaml
  tests/main/install-sideload-epochs/task.yaml
  tests/main/install-store/task.yaml
Labels: Skip spread

#13927 tests: add details for some tests related to services
  tests/main/services-stop-timeout/task.yaml
  tests/main/services-timer/task.yaml
  tests/main/services-watchdog/task.yaml
Labels: Skip spread

#13926 tests: more details in spread tests - part 14
  tests/cross/go-build/task.yaml
  tests/lib/external/snapd-testing-tools/tests/log-parser/task.yaml
  tests/lib/external/snapd-testing-tools/tests/log-parser/with-debug-output.log.spread
  tests/lib/external/snapd-testing-tools/tests/log-parser/with-error-output.log.spread
  tests/lib/external/snapd-testing-tools/tests/remote.exec/task.yaml
  tests/lib/external/snapd-testing-tools/tests/remote.retry/task.yaml
  tests/lib/external/snapd-testing-tools/tests/snaps.name/task.yaml
  tests/lib/external/snapd-testing-tools/tests/spread-manager/checks/task2/task.yaml
  tests/lib/external/snapd-testing-tools/utils/log-parser
  tests/lib/tools/suite/tests.invariant/task.yaml
  tests/main/auto-aliases/task.yaml
  tests/main/prepare-image-grub-core18/task.yaml
  tests/main/prepare-image-grub/task.yaml
  tests/main/prepare-image-reproducible/task.yaml
  tests/main/prepare-image-uboot-uc20/task.yaml
  tests/main/prepare-image-uboot/task.yaml
  tests/main/prepare-image-validation-sets/task.yaml
  tests/main/security-private-tmp/task.yaml
  tests/main/snap-session-agent-socket-activation/task.yaml
  tests/main/snap-session-agent-unavailable-to-snaps/task.yaml
Labels: Skip spread

#13940 tests: add details for some various tests
  tests/main/snap-handle-link/task.yaml
  tests/main/snap-icons/task.yaml
  tests/main/snap-info/task.yaml
  tests/main/snap-mgmt/task.yaml
Labels: Skip spread

#13939 tests: add details for some "snap debug" tests
  tests/main/snap-debug-stacktrace/task.yaml
  tests/main/snap-debug-state/task.yaml
  tests/main/snap-debug-timings/task.yaml
Labels: Skip spread

#13938 tests: add details for some snap connection command line tests
  tests/main/snap-connect/task.yaml
  tests/main/snap-connections/task.yaml
  tests/main/snap-disconnect/task.yaml
Labels: Skip spread

#13935 tests/main: add missing test details
  tests/main/snap-sign/task.yaml
  tests/main/snap-system-key/task.yaml
  tests/main/snap-user-service-socket-activation/task.yaml
  tests/main/snap-user-service-start-on-install/task.yaml
  tests/main/snap-user-service-upgrade-failure/task.yaml
  tests/main/snap-userd-desktop-app-autostart/task.yaml
  tests/main/snap-userd-reexec/task.yaml
Labels: Skip spread

#13934 tests: add details for some snap-confine relate tests
  tests/main/snap-confine-drops-sys-admin/task.yaml
  tests/main/snap-confine-undesired-mode-group/task.yaml
  tests/main/snap-confine/task.yaml
Labels: Skip spread

#13942 tests: add test details for services-related spread tests, and a few others
  tests/main/security-devpts/task.yaml
  tests/main/services-disable-install-hook/task.yaml
  tests/main/services-disable-refresh-hook/task.yaml
  tests/main/services-disabled-kept-unhappy/task.yaml
  tests/main/services-multi-service-failing/task.yaml
  tests/main/services-restart/task.yaml
  tests/main/services-snapctl/task.yaml
  tests/main/services-start-timeout/task.yaml
  tests/main/snap-confine-undesired-mode-group/task.yaml
  tests/main/snap-set/task.yaml
Labels: Simple 😃, Documentation, Skip spread

#13941 tests: test details part 15
  tests/main/retryable-error/task.yaml
  tests/main/server-snap/task.yaml
  tests/main/services-after-before-install/task.yaml
  tests/main/services-disable-install-hook/task.yaml
  tests/main/snap-confine-from-core/task.yaml
  tests/main/snap-switch/task.yaml
  tests/main/snapshot-basic/task.yaml
Labels: Skip spread

#13959 cmd/snap-seccomp: define GNU_SOURCE for fallocate
  cmd/snap-seccomp/main.go
Labels: Simple 😃

#13970 check-pr-title.py: allow parenthesis before colon in PR titles
  check-pr-title.py
Labels: Simple 😃, Skip spread

#13946 tests/lib/fakestore/store: do not hardcode port in fakestore unit tests
  tests/lib/fakestore/store/store.go
  tests/lib/fakestore/store/store_test.go
Labels: Simple 😃

#13855 tests: run static analysis for prs in self-hosted runners
  .github/workflows/static-analysis.yaml
Labels: Simple 😃, Skip spread

#13986 cmd/snap: fix port usage after release
  cmd/snap/cmd_snap_op_test.go
Labels: Skip spread

#13988 spread.yaml: revert "spread.yaml: disable centos-9"
  spread.yaml
Labels: Simple 😃, Skip spread

#13992 tests: moving out google machines from us-east1-b
  .github/workflows/test.yaml
  spread.yaml
  tests/cross/go-build/task.yaml
  tests/lib/image.sh
  tests/lib/prepare.sh
  tests/main/listing/task.yaml
Labels: Simple 😃

#13993 tests: skip tics tool installation in self-hosted runners
  .github/workflows/static-analysis.yaml
Labels: Simple 😃, Skip spread

#13973 tests: kill process in interface-process-control as early as possible
  tests/main/interfaces-process-control/task.yaml
Labels: Simple 😃, Test Robustness

#13995 tests: add more storage for sru google instances
  spread.yaml
Labels: Simple 😃, Skip spread

#14006 tests/lib/muinstaller/main.go: fix compilation
  tests/lib/muinstaller/main.go
Labels: Run nested

#14004 spread.yaml: remove Fedora 38 (EOL)
  spread.yaml
Labels: Simple 😃, Skip spread

#13999 snapdtool: simplify check for reexec being enabled
  snapdtool/tool_linux.go
Labels: Simple 😃, Skip spread

#14001 packaging: remove stale workaround from snap-seccomp RHEL build
  packaging/fedora/snapd.spec
Labels: Skip spread

#14003 tests: use None data source for cloud-init
  tests/lib/nested.sh
  tests/nested/manual/cmdline-option/cloud.conf
  tests/nested/manual/core20-gadget-cloud-conf/cloud.conf
  tests/nested/manual/muinstaller-core/task.yaml
Labels: Run nested, Run Nested -auto-

#14005 tests: remove leftover mounts made by snapctl mount
  tests/regression/lp-2065077/task.yaml
Labels: Test Robustness

#13962 chore: slice loop replace
  seed/validate.go
Labels: Simple 😃

#14009 tests/lib/muinstaller: update snapd dependency
  tests/lib/muinstaller/go.mod
  tests/lib/muinstaller/go.sum
Labels: Test Robustness, Run nested

#14011 tests: run test workflow on security release PRs
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#13968 HACKING, packaging: update dependencies and information on installing development dependencies
  HACKING.md
  tests/lib/prepare-restore.sh
Labels: Simple 😃

#13923 many: build drivers tree on install
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
  dirs/dirs.go
  gadget/install/content.go
  gadget/install/content_test.go
  gadget/install/export_test.go
  gadget/install/install.go
  gadget/install/install_dummy.go
  gadget/install/install_test.go
  kernel/kernel_drivers.go
  kernel/kernel_drivers_test.go
  overlord/devicestate/devicestate_install_api_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  overlord/snapstate/backend/setup.go
  overlord/snapstate/snapstate.go
  snap/naming/componentref.go
  snap/naming/componentref_test.go
  tests/lib/nested.sh
  tests/lib/uc20-create-partitions/main.go
  tests/main/uc20-create-partitions-encrypt/task.yaml
  tests/main/uc20-create-partitions-reinstall/task.yaml
  tests/main/uc20-create-partitions/task.yaml
  tests/nested/manual/kernel-modules-components/component.yaml
  tests/nested/manual/kernel-modules-components/task.yaml
Labels: Run nested, Run Nested -auto-

#14020 tests: update check-pr-title script to use it in forked projects
  .github/workflows/test.yaml
  check-pr-title.py
  run-checks
Labels: Simple 😃

#14015 snapcraft.yaml: call craftctl less often
  build-aux/snap/snapcraft.yaml
Labels: Skip spread

#13932 tests: test refresh mixing essential and apps in hybrid systems
  tests/nested/manual/muinstaller-real/task.yaml
  tests/nested/manual/split-refresh/task.yaml
Labels: Run nested, Run Nested -auto-

#14027 o/snapstate: test for specific errors returned by Install and InstallMany
  overlord/snapstate/backend_test.go
  overlord/snapstate/snapstate_install_test.go
Labels: Skip spread

#14026 tests: kill pending process on failure
  tests/main/auto-refresh-pre-download/task.yaml
Labels: Simple 😃, Test Robustness, Skip spread

#14024 tests/nested/manual/recovery-system-reboot: use updated core22 base
  tests/nested/manual/recovery-system-reboot/task.yaml
Labels: Run Nested -auto-

#13895 cmd/snap: improve error message on running a non-existing snap
  cmd/snap/cmd_run_test.go
  cmd/snap/inhibit.go
  cmd/snap/inhibit_test.go
  tests/main/snap-run-symlink-error/task.yaml
Labels: Simple 😃

#13953 daemon: attach affected-snaps data to tasks
  daemon/api_general.go
  daemon/api_general_test.go
  daemon/export_api_general_test.go
  overlord/snapstate/conflict.go
  overlord/snapstate/conflict_test.go
  overlord/snapstate/export_test.go
Labels: Needs Samuele review, Needs Documentation :book:, Needs Documentation -auto-

#14028 tests: create test user with useradd in uc24
  tests/lib/nested.sh
  tests/lib/prepare-restore.sh
Labels: Simple 😃, Run Nested -auto-
