Repository canonical/snapd, pull requests merged in 2024-12, with the labels that each got.

#14782 tests: fix time synchronization issues is ubuntu xenial
  tests/lib/pkgdb.sh
Labels: Simple 😃

#14784 tests: added dependency system-dev for ubuntu24.10+
  tests/lib/pkgdb.sh
Labels: Simple 😃

#14786 tests: corrected unit test coverage upload name to include go channel
  .github/workflows/unit-tests.yaml
Labels: Simple 😃, Skip spread

#14764 overlord/fdestate: add helper type for capturing externally running operations
  overlord/fdestate/export_test.go
  overlord/fdestate/extop.go
  overlord/fdestate/extop_test.go
  overlord/fdestate/fdestate.go
Labels: FDE Manager

#14788 tests: fix snapd-snap test
  tests/main/snapd-snap/task.yaml
Labels: Simple 😃

#14769 many: make snapstate.RevisionOpts carry snapasserts.ValidationSets
  asserts/snapasserts/validation_sets.go
  asserts/snapasserts/validation_sets_test.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  daemon/export_test.go
  overlord/devicestate/devicestate.go
  overlord/hookstate/ctlcmd/export_test.go
  overlord/hookstate/ctlcmd/helpers.go
  overlord/hookstate/ctlcmd/snap_management_test.go
  overlord/snapstate/component.go
  overlord/snapstate/component_install_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_download_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/storehelpers.go
  overlord/snapstate/target.go
Labels: Needs Documentation -auto-

#14427 fix(timeutil): remove unreachable panic() call
  timeutil/human.go
Labels: Simple 😃

#14362 interfaces/apparmor/template: add setpriv to the base template
  interfaces/apparmor/template.go
Labels: Needs Documentation :book:

#14288 t/n/m/uc-update-assets-secure: sign new grub also with old key [backport]
  tests/lib/nested.sh
  tests/nested/manual/uc-update-assets-secure/task.yaml
Labels: Run nested, Run Nested -auto-

#14390 i/p/requestprompts: add timeout for prompts
  daemon/api_prompting.go
  daemon/api_prompting_test.go
  interfaces/prompting/requestprompts/export_test.go
  interfaces/prompting/requestprompts/requestprompts.go
  interfaces/prompting/requestprompts/requestprompts_test.go
  overlord/ifacestate/apparmorprompting/prompting.go
  overlord/ifacestate/apparmorprompting/prompting_test.go
Labels: Squash-merge, Needs Samuele review, Needs Documentation -auto-

#14793 release: 2.67 changelogs
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#14563 gadget,tests: add support for volume-assignments in gadget
  gadget/export_test.go
  gadget/gadget.go
  gadget/gadget_emmc_test.go
  gadget/gadget_test.go
  gadget/gadgettest/examples.go
  gadget/install/install.go
  gadget/install/install_test.go
  gadget/update.go
  gadget/update_test.go
  osutil/disks/mockdisk.go
  overlord/devicestate/devicestate_gadget_test.go
  overlord/managers_test.go
  tests/lib/nested.sh
  tests/nested/manual/install-volume-assignment/task.yaml
Labels: Run Nested -auto-

#14579 tests: added dependabot for updating dependencies
  .github/dependabot.yaml
Labels: Simple 😃, Skip spread

#14754 tests: migrate opensuse from google to openstack
  .github/workflows/test.yaml
  tests/main/interfaces-packagekit-control/task.yaml
Labels: Simple 😃

#14797 tests: remove jq from PRE_CACHE_SNAPS to install
  spread.yaml
Labels: Simple 😃

#14808 tests: create one PR for all github action dependabot updates
  .github/dependabot.yaml
Labels: Simple 😃, Skip spread

#14799 tests/nested/manual/install-volume-assignment: fix race in gadget installation
  tests/nested/manual/install-volume-assignment/task.yaml
Labels: Run nested

#14809 .github/{workflows,actions}: expect branch static check skipped on master
  .github/actions/combine-results/action.yaml
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#14705 asserts,confdb: define confdb-control assertion
  asserts/asserts.go
  asserts/asserts_test.go
  asserts/confdb.go
  asserts/confdb_test.go
  asserts/export_test.go
  asserts/header_checks.go
  confdb/confdb.go
  confdb/confdb_control.go
  confdb/confdb_control_test.go
  confdb/confdb_test.go
  confdb/export_test.go
  features/features.go
  features/features_test.go
Labels: Needs Samuele review

#14787 cmd/s-b,g/install: mount ubuntu-seed as no{suid,exec,dev}
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_cvm.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  gadget/install/install.go
  gadget/install/install_test.go
  tests/core/basic20plus/task.yaml
Labels: Run nested

#14791 t/l/f/store: make the fake store aware of snap revisions
  tests/lib/fakestore/store/store.go
  tests/lib/fakestore/store/store_test.go
Labels: Run nested

#14813 i/builtin: add the checkbox-support interface
  interfaces/builtin/checkbox_support.go
  interfaces/builtin/checkbox_support_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Needs security review

#14837 tests: fixes and improvements to the document-interfaces-url test
  tests/main/document-interfaces-url/task.yaml
Labels: Test Robustness

#14859 tests: set no-memory-limit for app armor tests
  tests/main/apparmor-prompting-integration-tests/task.yaml
Labels: Simple 😃

#14838 o/ifacestate: record warning if prompting errors during startup
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate_test.go
Labels: Squash-merge, Simple 😃, Needs Samuele review

#14858 tests/main/snapd-homedirs-vendored: skip when reexec is disabled
  tests/main/command-chain/task.yaml
  tests/main/install-errors/task.yaml
  tests/main/install-sideload-epochs/task.yaml
  tests/main/install-sideload/task.yaml
  tests/main/snap-run-hook/task.yaml
  tests/main/snapd-homedirs-vendored/task.yaml
  tests/main/writable-areas/task.yaml
Labels: Simple 😃

#14856 seed/seedwriter: more precise error message when overriding channels with grade > dangerous
  seed/seedwriter/seed20.go
  seed/seedwriter/writer_test.go
Labels: Simple 😃

#14842 tests/main/listing: correct and clean up core and snapd version regex
  spread.yaml
  tests/main/listing/task.yaml
Labels: Simple 😃

#14868 tests: use emtpy string instead of boolean value for snapd_deb_from_repo
  .github/workflows/spread-tests.yaml
Labels: Simple 😃, Run nested

#14846 daemon, tests/main/component-sideload: support sideloading multiple snaps and components at the same time
  daemon/api_model.go
  daemon/api_model_test.go
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
  daemon/api_systems.go
  daemon/export_test.go
  tests/main/component-sideload/task.yaml
Labels: Needs Documentation -auto-

#14840 tests/lib/fakestore: add support for tracking channels
  tests/lib/fakestore/store/store.go
  tests/lib/fakestore/store/store_test.go
  tests/lib/tools/store-state
Labels: Run nested

#14865 many: rename `remainingPermissions` to `outstandingPermissions`
  interfaces/prompting/requestprompts/export_test.go
  interfaces/prompting/requestprompts/requestprompts.go
  interfaces/prompting/requestprompts/requestprompts_test.go
  overlord/ifacestate/apparmorprompting/prompting.go
  overlord/ifacestate/apparmorprompting/prompting_test.go
Labels: Simple 😃

#14762 wrappers/desktop: add more context to logs for malformed desktop files
  wrappers/desktop.go
  wrappers/desktop_test.go
Labels: Simple 😃

#14845 many: update install api to support passphrase authentication
  client/systems.go
  client/systems_test.go
  daemon/api_systems.go
  daemon/api_systems_test.go
  daemon/export_api_systems_test.go
  gadget/device/encrypt.go
  gadget/device/encrypt_test.go
  gadget/install/install.go
  gadget/install/install_dummy.go
  gadget/install/install_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_install_api_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  overlord/install/install.go
Labels: Needs Samuele review, Needs Documentation -auto-, FDE Manager
