Repository canonical/snapd, pull requests merged in 2024-02, with the labels that each got.

#13531 naming: add well-known core24 snap-id
  snap/naming/wellknown.go
Labels: Simple 😃

#13537 s/a/n/listener: correct size of Class and Op in msgNotificationFile to match fields in msgNotificationOpKernel
  sandbox/apparmor/notify/listener/listener_test.go
Labels: Skip spread

#13507 client, cmd/snap, daemon: api level changes for introducing offline flag to remodel
  client/model.go
  client/model_test.go
  cmd/snap/cmd_remodel.go
  cmd/snap/cmd_remodel_test.go
  daemon/api_model.go
  daemon/api_model_test.go
  tests/nested/manual/remodel-offline/task.yaml
Labels: Squash-merge, Needs Documentation -auto-, Run Nested -auto-

#13515 i/builtin/polkit: support different polkitd path on core24
  interfaces/builtin/polkit.go
  interfaces/builtin/polkit_test.go
Labels: Needs Samuele review

#13374 many: skip binaries removal during refresh for RAA UX flow
  overlord/snapstate/backend/link.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/handlers.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Needs Samuele review

#13449 o/snapstate: skip aliases removal during refresh for RAA UX flow
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_aliasesv2_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
Labels: Needs Samuele review

#13467 cmd/snap/inhibit.go: refactor inhibit notification flows
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  cmd/snap/export_test.go
  cmd/snap/inhibit.go
  cmd/snaplock/runinhibit/export_test.go
  cmd/snaplock/runinhibit/inhibit.go
  cmd/snaplock/runinhibit/inhibit_test.go
Labels: Needs Samuele review

#13542 o/snapstate: fix `Test*SkipBinaries` unit tests
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Skip spread

#13550 o/snapstate: fix assignment through non-pointer method
  overlord/snapstate/snapstate_install_test.go
Labels: Skip spread

#13525 c/snap-bootstrap: lift requirement of fde-setup hook for single-boot install
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  tests/nested/manual/uc20-install-in-initrd/task.yaml
Labels: Run Nested -auto-

#13545 asserts: define new aspect-bundle assertion
  asserts/aspect_bundle.go
  asserts/aspect_bundle_test.go
  asserts/asserts.go
  asserts/asserts_test.go
Labels: Squash-merge, Skip spread, aspects

#13559 .github: update golangci-lint version to v1.55.2
  .github/workflows/test.yaml
Labels: Skip spread

#13558 secboot/luks2: remove unused stderr variable
  secboot/luks2/luks2.go
Labels: Skip spread

#13549 tests: update the remodel-store-viewer.auth info
  tests/lib/remodel-store-viewer.auth
Labels: Run nested

#13551 tests: use snap get/set CLI in aspects test
  tests/main/aspects/task.yaml
Labels: aspects

#13389 interfaces/builtin: Add ProductIDPattern of GoTrust Idem Key with NFC and usb-c
  interfaces/builtin/u2f_devices.go
Labels: Simple 😃, Skip spread

#13566 tests: update the remodel-store-viewer.auth info (#13549)
  tests/lib/remodel-store-viewer.auth
Labels: Run nested

#13236 osutil: move to useradd from adduser
  osutil/export_test.go
  osutil/user.go
  osutil/user_test.go
Labels: Needs Samuele review

#13572 seed: change termilogy for the copy timings for consistency
  seed/seed20.go
Labels: Simple 😃

#13553 overlord, o/snapstate, o/devicestate: backport remodel prereq tracker
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/handlers_test.go
  overlord/managers_test.go
  overlord/snapstate/snapstatetest/snapstate.go
  snap/validate.go
  snap/validate_test.go
  tests/core/remodel-base/task.yaml
  tests/lib/assertions/valid-for-testing-pc-18.json
  tests/lib/assertions/valid-for-testing-pc-18.model
  tests/lib/assertions/valid-for-testing-pc-new-base-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-new-base-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-new-gadget-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-new-gadget-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2.json
  tests/lib/assertions/valid-for-testing-pc-new-kernel-revno-2.model
  tests/lib/assertions/valid-for-testing-pc-new-model-20.json
  tests/lib/assertions/valid-for-testing-pc-new-model-20.model
  tests/lib/assertions/valid-for-testing-pc-revno-2-18.json
  tests/lib/assertions/valid-for-testing-pc-revno-2-18.model
  tests/lib/assertions/valid-for-testing-pc-revno-2.json
  tests/lib/assertions/valid-for-testing-pc-revno-2.model
  tests/lib/assertions/valid-for-testing-pc-revno-3-18.json
  tests/lib/assertions/valid-for-testing-pc-revno-3-18.model
  tests/lib/assertions/valid-for-testing-pc-revno-3.json
  tests/lib/assertions/valid-for-testing-pc-revno-3.model
  tests/lib/assertions/valid-for-testing-pc.json
  tests/lib/assertions/valid-for-testing-pc.model
  tests/lib/assertions/valid-for-testing.account
  tests/lib/assertions/valid-for-testing.account-key
Labels: Run Nested -auto-

#13561 data/selinux: add missing polkitd permission for snappy_t/snappy_cli_t
  data/selinux/snappy.te
Labels: Squash-merge, Simple 😃

#13573 tests/lib/assertions: re-sign the assertion with new expiry date
  tests/lib/assertions/test-snapd-remodel-auto-import.assert
  tests/lib/assertions/test-snapd-remodel-auto-import.assert.json
Labels: cherry-picked, Run Nested -auto-

#13296 o/devicestate: copy seed on finish install API call, for UC
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_api_test.go
  overlord/devicestate/handlers_install.go
  tests/lib/muinstaller/main.go
  tests/nested/manual/muinstaller-core/task.yaml
Labels: Needs Samuele review, Run nested, Run Nested -auto-

#13578 github/workflows/cla-check: enable comments by running in the context of the base repository
  .github/workflows/cla-check.yaml
Labels: Simple 😃

#13099 data/systemd: make snapd.seed wait for snapd.socket only
  data/systemd/snapd.seeded.service.in
Labels: Run nested

#13506 snap: parse correctly base snap version for core desktop
  snap/naming/core_version.go
  snap/naming/core_version_test.go
Labels: Simple 😃

#13594 tests/nested/manual/remodel-offline: wait for kernel refresh change
  tests/nested/manual/remodel-offline/task.yaml
Labels: Simple 😃, Run nested, Run Nested -auto-

#13560 daemon: add `snap-names` data field to single-snap changes
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
Labels: Needs Documentation -auto-

#13595 github: temporarily disable pull request labeler trigger for main workflow
  .github/workflows/test.yaml
Labels: Skip spread

#13589 overlord: fix prerequisite base snap silently not being installed due to conflict
  overlord/snapstate/backend_test.go
  overlord/snapstate/conflict.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Squash-merge, Skip spread

#13526 interface/upower-observe: allow to Refresh statistics for devices
  interfaces/builtin/upower_observe.go
Labels: Simple 😃

#13087 kernel/fde: simplify invocation of fde-reveal-key
  kernel/fde/cmd_helper.go
  kernel/fde/export_test.go
  kernel/fde/fde_test.go
  kernel/fde/reveal_key.go
  secboot/secboot_sb_test.go
  systemd/systemd.go
Labels: Run nested

#13600 release: 2.61.2
  .github/workflows/test.yaml
  NEWS.md
  cmd/snap-confine/mount-support-nvidia.c
  cmd/snap/cmd_debug_validate_seed.go
  cmd/snap/cmd_prepare_image.go
  cmd/snap/main.go
  cmd/snapd-aa-prompt-listener/main.go
  cmd/snapd-aa-prompt-ui/main.go
  data/dbus/Makefile
  data/dbus/io.snapcraft.Prompt.service.in
  data/systemd-user/Makefile
  data/systemd-user/snapd.aa-prompt-ui.service.in
  data/systemd/snapd.aa-prompt-listener.service.in
  data/systemd/snapd.apparmor.service.in
  data/systemd/snapd.seeded.service.in
  interfaces/apparmor/template.go
  interfaces/builtin/network_control.go
  interfaces/builtin/u2f_devices.go
  interfaces/dbus/backend.go
  interfaces/dbus/backend_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_serial_test.go
  overlord/devicestate/handlers_serial.go
  overlord/managers_test.go
  overlord/snapstate/backend/link_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/conflict.go
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
  overlord/snapstate/snapstate_update_test.go
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/debian-sid/snapd.install
  packaging/fedora/snapd.spec
  packaging/opensuse-15.4
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-14.04/rules
  packaging/ubuntu-16.04/changelog
  packaging/ubuntu-16.04/snapd.install
  packaging/ubuntu-16.04/snapd.links
  snap/naming/wellknown.go
  spread.yaml
  tests/lib/external/snapd-testing-tools/spread.yaml
  tests/lib/external/snapd-testing-tools/tests/os.query/task.yaml
  tests/main/interfaces-calendar-service/task.yaml
  tests/main/interfaces-contacts-service/task.yaml
  tests/main/snap-quota-memory/task.yaml
  tests/main/snapd-reexec-prompt/task.yaml
  tests/main/user-session-env/task.yaml
  wrappers/core18_test.go
Labels: Run nested

#13548 aspects: support Set() w/ unmatched placeholders
  aspects/aspects.go
  aspects/aspects_test.go
  aspects/export_test.go
Labels: Squash-merge, aspects

#13544 o/snapstate/autorefresh: do not expect a valid time string in refresh.hold
  overlord/snapstate/autorefresh.go
  overlord/snapstate/autorefresh_test.go
Labels: Needs Samuele review

#13608 release: 2.61.2
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Skip spread

#13580 many: add `refresh-inhibit-proceed-time` field to snaps api
  client/clientutil/snapinfo_test.go
  client/packages.go
  client/packages_test.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  daemon/snap.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_test.go
Labels: Needs Samuele review, Needs Documentation -auto-

#13575 o/snapstate: add some docs around link-snap and auto-connect.
  overlord/snapstate/snapstate.go
Labels: Skip spread

#13281 interfaces: new "ros" host file system support
  interfaces/builtin/ros_opt_data.go
  interfaces/builtin/ros_opt_data_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
  tests/main/interfaces-ros-opt-data/task.yaml
  tests/main/interfaces-ros-opt-data/test-snapd-sh/bin/sh
  tests/main/interfaces-ros-opt-data/test-snapd-sh/meta/snap.yaml
Labels: Squash-merge

#13612 wrappers: fix unreliable tests to not use mocked systemctl command
  systemd/systemdtest/systemdtest.go
  wrappers/services_test.go
Labels: Skip spread

#13615 i/builtin: fix newly introduced unit tests after change to Specifications
  interfaces/builtin/ros_opt_data_test.go
Labels: Skip spread

#13585 o/aspectstate: get local aspect-bundle assertions
  aspects/aspects.go
  daemon/api_aspects.go
  daemon/api_aspects_test.go
  daemon/export_test.go
  overlord/aspectstate/aspectstate.go
  overlord/aspectstate/aspectstate_test.go
  overlord/aspectstate/aspecttest/mock_aspect.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  tests/lib/assertions/developer1-network-aspect-bundle.json
  tests/lib/assertions/developer1-network.aspect-bundle
  tests/main/aspects/task.yaml
Labels: Squash-merge, Needs Documentation -auto-, aspects

#13609 aspects: validate summary descriptions
  aspects/aspects.go
  aspects/aspects_test.go
  asserts/aspect_bundle.go
  asserts/aspect_bundle_test.go
Labels: Squash-merge, aspects

#13603 kernel,overlord: use function from kernel pkg to get kernel early
  kernel/kernel_drivers.go
  overlord/devicestate/handlers.go
  overlord/snapstate/backend/setup.go
Labels: Simple 😃

#13145 many: apply new home directory rules to data copy
  dirs/dirs.go
  dirs/dirs_test.go
  overlord/configstate/configcore/export_test.go
  overlord/configstate/configcore/homedirs.go
  overlord/configstate/configcore/homedirs_test.go
  overlord/configstate/configmgr.go
  overlord/configstate/configstate_test.go
  overlord/snapstate/backend/copydata_test.go
  overlord/snapstate/backend/export_test.go
  overlord/snapstate/backend/snapdata.go
  overlord/snapstate/backend/snapdata_test.go
  snap/helpers.go
  snap/info.go
  snap/info_test.go
  tests/main/snapd-homedirs-vendored/task.yaml
  tests/main/snapd-homedirs/task.yaml
  tests/main/snapd-homedirs/test-snapd-sh/bin/sh
  tests/main/snapd-homedirs/test-snapd-sh/meta/snap.yaml
  wrappers/services_test.go
Labels: Needs Samuele review, Needs Documentation -auto-

#13629 overlord: fix race in refresh monitoring tests
  overlord/managers_test.go
Labels: Simple 😃, Skip spread

#13625 interfaces/apparmor/template: add read access to /etc/default/keyboard
  interfaces/apparmor/template.go
Labels: Needs Samuele review, Needs security review

#13367 daemon: allow polkit "io.snapcraft.snapd.manage" for /v2/apps endpoint
  daemon/api_apps.go
  daemon/api_apps_test.go
Labels: Needs Documentation -auto-

#13630 daemon: replace notices "select" param with "users"
  daemon/api_notices.go
  daemon/api_notices_test.go
Labels: Simple 😃, Needs Documentation -auto-

#13622 aspects: empty Get request returns entire aspect
  aspects/aspects.go
  aspects/aspects_test.go
  aspects/schema.go
  aspects/schema_test.go
  cmd/snap/cmd_get_test.go
  daemon/api_aspects.go
  daemon/api_aspects_test.go
  daemon/export_test.go
  overlord/aspectstate/aspectstate.go
  overlord/aspectstate/aspectstate_test.go
Labels: Needs Documentation -auto-, aspects

#13546 o/devicestate: add RemoveRecoverySystem function for removing a recovery system
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_systems.go
  overlord/devicestate/systems.go
  overlord/snapstate/conflict.go
Labels: Squash-merge, Run Nested -auto-

#13635 aspects: check path type mismatch when creating aspect
  aspects/aspects.go
  aspects/aspects_test.go
  overlord/aspectstate/aspectstate_test.go
  overlord/assertstate/assertstate_test.go
Labels: aspects

#13528 o/state: record change-update notices on change status updates
  overlord/snapstate/snapstate_test.go
  overlord/state/change.go
  overlord/state/change_test.go
  overlord/state/state.go
Labels: Needs Samuele review

#13587 many: use interfaces.SnapAppSet in security backends
  interfaces/apparmor/backend.go
  interfaces/apparmor/backend_test.go
  interfaces/backend.go
  interfaces/dbus/backend.go
  interfaces/dbus/backend_test.go
  interfaces/helpers.go
  interfaces/helpers_test.go
  interfaces/ifacetest/backend.go
  interfaces/ifacetest/backendtest.go
  interfaces/kmod/backend.go
  interfaces/kmod/backend_test.go
  interfaces/mount/backend.go
  interfaces/polkit/backend.go
  interfaces/repo.go
  interfaces/repo_test.go
  interfaces/seccomp/backend.go
  interfaces/seccomp/backend_test.go
  interfaces/snap_app_set.go
  interfaces/snap_app_set_test.go
  interfaces/systemd/backend.go
  interfaces/udev/backend.go
  interfaces/udev/backend_test.go
  overlord/ifacestate/export_test.go
  overlord/ifacestate/handlers.go
  overlord/ifacestate/helpers.go
  overlord/ifacestate/helpers_test.go
  overlord/ifacestate/ifacestate_test.go
Labels: Squash-merge

#13641 interfaces/backend: update sandbox features to account for cgroup v2 device filtering
  interfaces/udev/backend.go
  interfaces/udev/backend_test.go
Labels: Simple 😃

#13648 overlord/configstate/configcore: add support rpi config sdtv_mode option
  overlord/configstate/configcore/picfg.go
Labels: Simple 😃, Skip spread, Needs Documentation -auto-

#13614 daemon: add "refresh-inhibited" select query to /v2/snaps
  client/clientutil/snapinfo_test.go
  client/packages.go
  client/packages_test.go
  daemon/api_apps.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  daemon/snap.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/handlers.go
  overlord/snapstate/refreshhints.go
Labels: Needs Samuele review, Needs Documentation -auto-

#13654 github: mention C source code formatting tools we expect
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#13639 tests: allow running edge/beta validation in google instances
  spread.yaml
  tests/bin/remote.refresh
  tests/bin/remote.retry
  tests/lib/external/snapd-testing-tools/remote/remote.wait-for
  tests/lib/external/snapd-testing-tools/spread.yaml
  tests/lib/external/snapd-testing-tools/tests/os.query/task.yaml
  tests/lib/external/snapd-testing-tools/utils/check-test-format
  tests/lib/nested.sh
  tests/lib/tools/remote.refresh
  tests/lib/tools/remote.retry
  tests/nested/manual/run-spread/task.yaml
Labels: Run Nested -auto-

#13611 tests/lib/assertions: add missing assertion that was preventing nested/manual/remodel-offline from running
  tests/lib/assertions/test-snapd-core22-required-vset.assert
Labels: Run nested

#13634 o/devicestate: add concept of default-recovery-system
  client/systems.go
  cmd/snap/cmd_reboot.go
  cmd/snap/cmd_reboot_test.go
  cmd/snap/cmd_recovery.go
  cmd/snap/cmd_recovery_test.go
  daemon/api_systems.go
  daemon/api_systems_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/firstboot20_test.go
  overlord/devicestate/handlers.go
  overlord/devicestate/handlers_systems.go
  overlord/devicestate/remodel.go
  overlord/devicestate/systems.go
Labels: Needs Samuele review, Needs Documentation -auto-

#13652 aspects: rename user-defined types to aliases
  aspects/aspects.go
  aspects/aspects_test.go
  aspects/schema.go
  aspects/schema_test.go
Labels: aspects

#13659 o/devicestate: remove unused method
  overlord/devicestate/handlers.go
Labels: Simple 😃, Skip spread
