Repository canonical/snapd, pull requests merged in 2024-03, with the labels that each got.

#13646 many: remove snap data home directories
  overlord/snapstate/backend.go
  overlord/snapstate/backend/snapdata.go
  overlord/snapstate/backend/snapdata_test.go
  overlord/snapstate/backend_test.go
  overlord/snapstate/handlers.go
  snap/info.go
  snap/info_test.go
  tests/main/snapd-homedirs/task.yaml
Labels: Run Nested -auto-

#13619 many: add `snap-refresh-observe` interface
  daemon/access.go
  daemon/access_test.go
  daemon/api_general.go
  daemon/api_general_test.go
  daemon/api_notices.go
  daemon/api_notices_test.go
  daemon/api_snaps.go
  daemon/api_snaps_test.go
  daemon/export_access_test.go
  daemon/ucrednet.go
  daemon/ucrednet_test.go
  interfaces/builtin/snap_refresh_observe.go
  interfaces/builtin/snap_refresh_observe_test.go
  interfaces/policy/basedeclaration_test.go
  overlord/state/notices.go
  overlord/state/notices_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
  tests/main/interfaces-snap-refresh-observe/api-client/bin/api-client.py
  tests/main/interfaces-snap-refresh-observe/api-client/meta/snap.yaml
  tests/main/interfaces-snap-refresh-observe/task.yaml
Labels: Needs Samuele review, Needs Documentation -auto-

#13489 steam_support: generalize pressure-vessel root paths
  interfaces/builtin/steam_support.go
Labels: Needs Samuele review

#13627 aspects: support content sub-rules
  aspects/aspects.go
  aspects/aspects_test.go
Labels: aspects

#13662 tests: support testflinger
  tests/core/basic20plus/task.yaml
  tests/lib/prepare-restore.sh
  tests/lib/prepare.sh
  tests/lib/uc20-recovery.sh
Labels: Simple 😃

#13478 tests: new perf test install-many-snaps
  spread.yaml
  tests/lib/nested.sh
  tests/perf/install-many-snaps/task.yaml
Labels: Run nested, Run Nested -auto-

#13675 release: 2.61.3
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#13660 aspects: support unmatched placeholders w/ unset
  aspects/aspects.go
  aspects/aspects_test.go
  aspects/transaction.go
  aspects/transaction_test.go
  daemon/api_aspects_test.go
  overlord/aspectstate/aspectstate.go
Labels: Needs Documentation -auto-, aspects

#13632 overlord,systemd: restart mount units when changed
  overlord/managers_test.go
  overlord/snapstate/backend/setup_test.go
  overlord/snapstate/snapstate_test.go
  systemd/emulation.go
  systemd/systemd.go
  systemd/systemd_test.go
Labels: Run nested

#13533 interfaces/builtin: add interface for remoteproc
  interfaces/builtin/remoteproc.go
  interfaces/builtin/remoteproc_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Needs Samuele review, Needs Documentation :book:

#13651 many: add API routes for creating/removing recovery systems
  NEWS.md
  client/systems.go
  daemon/api_model.go
  daemon/api_sideload_n_try.go
  daemon/api_systems.go
  daemon/api_systems_test.go
  daemon/export_api_systems_test.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/snapstate/snapstate_test.go
  spread.yaml
  tests/lib/assertions/test-snapd-recovery-system-pc-20.json
  tests/lib/assertions/test-snapd-recovery-system-pc-20.model
  tests/lib/assertions/test-snapd-recovery-system-pc-22.json
  tests/lib/assertions/test-snapd-recovery-system-pc-22.model
  tests/lib/assertions/test-snapd-recovery-system-pinned.assert
  tests/lib/nested.sh
  tests/nested/manual/recovery-system-offline/task.yaml
  tests/nested/manual/recovery-system-reboot/task.yaml
  tests/nested/manual/recovery-system/task.yaml
Labels: Squash-merge, Needs Samuele review, Needs Documentation -auto-, Run Nested -auto-

#13691 tests: update the configuration used to display the static analysis info
  .github/workflows/static-analysis.yaml
Labels: Simple 😃, Skip spread

#13368 client,cmd/snap: introduce --user, --system and --users switches for snap service operations
  NEWS.md
  client/apps.go
  client/apps_test.go
  cmd/snap/cmd_services.go
  cmd/snap/cmd_services_test.go
  daemon/api_apps_test.go
  overlord/servicestate/servicestate.go
  overlord/servicestate/servicestate_test.go
  tests/main/services-user/task.yaml
  tests/main/services-user/test-snapd-user-service/bin/start
  tests/main/services-user/test-snapd-user-service/meta/snap.yaml
Labels: Needs Documentation -auto-

#13666 asserts: move aspect schema to assertion body
  asserts/aspect_bundle.go
  asserts/aspect_bundle_test.go
  asserts/asserts.go
  asserts/asserts_test.go
  overlord/aspectstate/aspectstate_test.go
  overlord/assertstate/assertstate_test.go
  tests/lib/assertions/developer1-network-aspect-bundle.json
  tests/lib/assertions/developer1-network.aspect-bundle
  tests/lib/gendeveloper1/main.go
Labels: aspects

#13699 release-tools: skip flake8 on 24.04
  release-tools/test/test_flake8.py
Labels: Skip spread

#13698 tests: fix snap-quota-memory in fedora systems
  tests/main/snap-quota-memory/task.yaml
Labels: Simple 😃

#13692 tests: make more robust the nested log checks
  tests/lib/nested.sh
Labels: Run nested, Run Nested -auto-

#13703 tests: skip preseed tests in ubuntu noble
  tests/main/preseed-reset/task.yaml
  tests/main/preseed/task.yaml
Labels: Simple 😃

#13702 tests: update the snap-system-env test for noble
  tests/main/snap-system-env/task.yaml
Labels: Test Robustness

#13697 tests/main/lxd-mount-units: wait before checking generators
  tests/main/lxd-mount-units/task.yaml
Labels: Simple 😃, Test Robustness

#13077 i/builtin: adds new JaCarta U2F usb token product id
  interfaces/builtin/u2f_devices.go
Labels: Squash-merge, Skip spread

#12799 many: add nfs-mount interface
  interfaces/builtin/nfs_mount.go
  interfaces/builtin/nfs_mount_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Squash-merge

#13706 tests/main/interfaces-network-control: fix tests for ARP manipulation
  tests/main/interfaces-network-control/task.yaml
Labels: Simple 😃

#13701 tests/nested/manual/fde-on-classic: retry occassionally failing check
  tests/nested/manual/fde-on-classic/task.yaml
Labels: Run nested, Run Nested -auto-

#13710 tests: remove github action "static code analysis"
  .github/workflows/static-analysis.yaml
Labels: Simple 😃

#13696 o/hookstate/ctlcmd: introduce --user, --system and --users switches for snap service operations
  client/clientutil/service_scope.go
  client/clientutil/service_scope_test.go
  cmd/snap/cmd_services.go
  overlord/hookstate/ctlcmd/restart.go
  overlord/hookstate/ctlcmd/services_test.go
  overlord/hookstate/ctlcmd/start.go
  overlord/hookstate/ctlcmd/stop.go
Labels: Needs Documentation -auto-

#13352 i/b/microceph-support: add microceph-support interface
  interfaces/builtin/microceph_support.go
  interfaces/builtin/microceph_support_test.go
  interfaces/policy/basedeclaration_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
Labels: Squash-merge

#13677 gadget/install: consider real partition size when creating partitions
  gadget/install/partition.go
  gadget/install/partition_test.go
  gadget/update_test.go
Labels: Needs Samuele review, Run nested

#13130 interfaces/builtin: allow access to /usr/share/javascript/{sphinxdoc,jquery} and /usr/share/sphinx_rtd_theme
  interfaces/builtin/system_packages_doc.go
  interfaces/builtin/system_packages_doc_test.go
Labels: Squash-merge

#13650 coding policy: cover merge types and preference
  CODING.md
  CONTRIBUTING.md
Labels: Simple 😃, Documentation, Skip spread

#13708 tests/main/snapd-snap-transition: increase retries for test robustness
  tests/main/snapd-snap-transition/task.yaml
Labels: Test Robustness

#13716 spread.yaml: make lxd-state install latest/stable instead of latest/candidate
  spread.yaml
Labels: Simple 😃, Run nested

#13726 tests: remove packages marked for auto-removal before running any tests
  tests/lib/prepare-restore.sh
Labels: Simple 😃

#13724 tests: use snapcraft and lxd with latest fixes where possible
  spread.yaml
  tests/lib/tools/setup_nested_hybrid_system.sh
  tests/nested/manual/devmode-snaps-can-run-other-snaps/task.yaml
  tests/nested/manual/muinstaller-core/task.yaml
Labels: Run Nested -auto-

#13712 tests: initial changes to run core suite in uc24
  .github/workflows/test.yaml
  spread.yaml
  tests/core/gadget-update-pc/task.yaml
  tests/core/kernel-ver/task.yaml
  tests/core/os-release/task.yaml
  tests/core/remove/task.yaml
  tests/core/seed-base-symlinks/task.yaml
  tests/core/snap-debug-bootvars/task.yaml
  tests/core/snap-repair/task.yaml
  tests/core/snap-repair/uc24-recover.json
  tests/core/snap-repair/uc24-recover.sh
  tests/core/snap-repair/uc24-run.json
  tests/core/snap-repair/uc24-run.sh
  tests/lib/assertions/ubuntu-core-24-amd64.model
  tests/lib/external/snapd-testing-tools/remote/remote.refresh
  tests/lib/external/snapd-testing-tools/remote/remote.setup
  tests/lib/external/snapd-testing-tools/spread.yaml
  tests/lib/external/snapd-testing-tools/tools/os.query
  tests/lib/nested.sh
  tests/lib/prepare.sh
Labels: Run Nested -auto-

#13736 tests: fix recovery-system-reboot install test that was being interrupted by a system reboot
  tests/nested/manual/recovery-system-reboot/task.yaml
Labels: Run Nested -auto-

#13735 daemon: fix local time comparison in tests
  daemon/api_snaps_test.go
Labels: Needs Documentation -auto-

#13749 many: merge release 2.62
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Skip spread

#13754 cmd: update Go binaries targets
  cmd/Makefile.am
Labels: Simple 😃, Skip spread

#13755 tests: update sru validation process
  spread.yaml
  tests/lib/pkgdb.sh
Labels: Simple 😃

#13756 spread.yaml: add ubuntu-24.04-64 to qemu spread backend
  spread.yaml
Labels: Simple 😃, Skip spread

#13761 tests: fix checks done when snapd is install from ppa
  tests/lib/pkgdb.sh
Labels: Simple 😃
