Repository canonical/snapd, pull requests merged in 2025-10, with the labels that each got.

#15988 tests/lib: import plz-run v0.4
  tests/lib/plz-run/.gitignore
  tests/lib/plz-run/LICENSE
  tests/lib/plz-run/go.mod
  tests/lib/plz-run/go.sum
  tests/lib/plz-run/main.go
Labels: Skip spread

#16074 image-garden: make sure apparmor is installed in openSUSE Tumbleweed images
  .image-garden.mk
Labels: Simple 😃, Skip spread

#16065 tests: define an ubuntu kernel version to use with spread tests
  spread.yaml
  tests/lib/prepare-restore.sh
Labels: Simple 😃, Run only one system

#16076 many: add TODO:GOVERSION to comments related to updating the go version
  bootloader/lkenv/lkenv.go
  cluster/assemblestate/assemblestate.go
  cluster/assemblestate/intset/intset.go
  cluster/assemblestate/selector.go
  gadget/gadget_test.go
  interfaces/prompting/requestprompts/requestprompts.go
  interfaces/prompting/requestrules/requestrules.go
  interfaces/prompting/requestrules/requestrules_test.go
  osutil/exitcode.go
  osutil/mount/libmount/libmount_linux.go
  osutil/udev/netlink/rawsockstop.go
  osutil/udev/netlink/rawsockstop_other.go
  osutil/vfs/lists/iter.go
  osutil/vfs/vfs.go
  overlord/ifacestate/apparmorprompting/noticebackend.go
  overlord/notices/notices.go
  overlord/restart/restart.go
  overlord/snapstate/snapstate_test.go
  overlord/state/notices.go
  run-checks
  sandbox/apparmor/notify/notify.go
  sandbox/apparmor/notify/strings.go
  sandbox/cgroup/freezer.go
  snap/container.go
  store/tooling/tooling_test.go
  strutil/joinerrors.go
Labels: Simple 😃, Skip spread

#16067 o/hookstate, o/snapstate: use in-flight validation sets when calling "snapctl install" from hook
  overlord/hookstate/context.go
  overlord/hookstate/context_test.go
  overlord/hookstate/ctlcmd/helpers.go
  overlord/hookstate/ctlcmd/snap_management_test.go
  overlord/snapstate/snapstate_test.go
Labels: Run nested, Needs Documentation -auto-, Auto rerun spread

#16004 tests, github: clean up packaging in tests
  .github/workflows/ci-test.yaml
  tests/cross/go-build/task.yaml
  tests/lib/prepare-restore.sh
  tests/main/user-libnss/task.yaml
  tests/unit/go/task.yaml
Labels: cross-distro

#16088 tests: increase wait timeout to 10m for openstack backends
  spread.yaml
Labels: Simple 😃, Run only one system

#16087 daemon: wrap confdb write values under "values" key
  client/confdb.go
  client/confdb_test.go
  cmd/snap/cmd_set_test.go
  cmd/snap/cmd_unset_test.go
  daemon/api_confdb.go
  daemon/api_confdb_test.go
Labels: Needs Documentation -auto-, confdb, Auto rerun spread

#16073 tests, cmd: remove the gdb option from snap run
  cmd/snap/cmd_run.go
  tests/main/snap-run/task.yaml
Labels: Needs Documentation -auto-

#16092 image-garden: set fedora to selinux permissive mode
  .image-garden.mk
Labels: Simple 😃, Skip spread

#16096 test/main: remove document-interfaces-url exclusions
  tests/main/document-interfaces-url/task.yaml
Labels: Simple 😃

#16103 github: move arch to fundamental systems
  .github/workflows/data-fundamental-systems.json
  .github/workflows/data-non-fundamental-systems.json
Labels: Simple 😃, Skip spread

#16101 tests: fix cgroup tests in ubuntu questing
  tests/lib/systems.sh
  tests/main/cgroup-tracking/task.yaml
Labels: Simple 😃

#16108 c/assemblestate: remove duplicate hmac calculation
  cluster/assemblestate/assemblestate.go
  cluster/assemblestate/devices.go
  cluster/assemblestate/intset/intset.go
  cluster/assemblestate/messages.go
  cluster/assemblestate/selector.go
  cluster/assemblestate/transport.go
Labels: Simple 😃

#16097 osutil/vfs: trade memory for safety
  osutil/vfs/lists/export_test.go
  osutil/vfs/lists/lists.go
  osutil/vfs/lists/lists_test.go
  osutil/vfs/vfs.go
Labels: Skip spread

#16098 tests: fix missing go vendor to build fakestore
  tests/lib/prepare-restore.sh
Labels: Simple 😃

#16107 tests: fix jammy and noble nightly executions with kernels
  .github/workflows/nightly-spread.yaml
Labels: Simple 😃, Skip spread
