Repository canonical/snapd, pull requests merged in 2025-04, with the labels that each got.

#15255 interfaces/system_key, many: return generated system key on mismatch
  cmd/snap/cmd_run.go
  interfaces/system_key.go
  interfaces/system_key_test.go
  overlord/ifacestate/helpers.go
Labels: Simple 😃

#15240 tests/lib/tools/build_kernel_with_comps.sh: fix failure when lib already exists
  tests/lib/assertions/developer1-24-classic-dangerous.json
  tests/lib/assertions/developer1-24-classic-dangerous.model
  tests/lib/prepare.sh
  tests/lib/tools/build_kernel_with_comps.sh
  tests/nested/manual/core-factory-reset-new-secboot/task.yaml
  tests/nested/manual/core20-fault-inject-on-install-component/task.yaml
  tests/nested/manual/hybrid-fde-dbx/task.yaml
  tests/nested/manual/muinstaller-core/task.yaml
  tests/nested/manual/muinstaller/task.yaml
  tests/nested/manual/split-refresh/task.yaml
  tests/nested/manual/update-snapd-seed-and-factory-reset/task.yaml
Labels: Run nested

#15277 tests/main/document-interfaces-url: updated expiration dates and removed nomad-support
  tests/main/document-interfaces-url/task.yaml
Labels: Simple 😃

#15265 kernel: workaround for wrong model base in 24.04/24.10
  kernel/kernel_drivers.go
  kernel/kernel_drivers_test.go
  overlord/snapstate/snapstate_test.go
Labels: Run nested, LP Bug Fix

#15104 daemon,o/devicestate,asserts: add confdb-control api
  asserts/confdb.go
  asserts/confdb_test.go
  daemon/api.go
  daemon/api_confdb.go
  daemon/api_confdb_test.go
  daemon/export_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
Labels: Needs Documentation -auto-

#15272 interfaces/system_key: return generated system key on mismatch errors
  interfaces/system_key.go
  interfaces/system_key_test.go
Labels: Simple 😃

#15281 debian/control: replace invalid operator
  packaging/ubuntu-16.04/control
Labels: Simple 😃

#15285 github/workflows/unit-tests-cross-distro: update before installing any build dependencies
  .github/workflows/unit-tests-cross-distro.yaml
Labels: Simple 😃, Skip spread

#15279 tests/nested/manual/muinstaller-real: fix version checking
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Run nested

#15257 o/confdbstate: rework --pristine into --previous
  overlord/confdbstate/transaction.go
  overlord/confdbstate/transaction_test.go
  overlord/hookstate/ctlcmd/get.go
  overlord/hookstate/ctlcmd/get_test.go
Labels: Needs Documentation -auto-, confdb

#15283 tests: fix recovery-system-reboot so that it uses the fake store
  tests/nested/manual/recovery-system-reboot/task.yaml
  tests/nested/manual/recovery-system-reboot/vset-22.json
  tests/nested/manual/recovery-system-reboot/vset-24.json
  tests/nested/manual/recovery-system/task.yaml
Labels: Run nested

#15273 overlord/ifacestate/helpers: refactor regeneration of all security profiles
  overlord/ifacestate/helpers.go
Labels: Simple 😃

#15268 confdb: remove pruning support
  confdb/confdb.go
  confdb/confdb_test.go
  confdb/schema.go
  confdb/schema_test.go
  overlord/confdbstate/transaction_test.go
Labels: confdb

#15288 cmd/snap: fix snap validate missing newline
  cmd/snap/cmd_validate.go
  cmd/snap/cmd_validate_test.go
Labels: Simple 😃

#15289 cmd/snap: fix snap validate refresh without enforce
  cmd/snap/cmd_validate.go
  cmd/snap/cmd_validate_test.go
Labels: Simple 😃

#15264 tests: add feature composer script
  tests/utils/features/featcomposer.py
  tests/utils/features/featextractor.py
  tests/utils/features/features.py
  tests/utils/features/test_featcomposer.py
Labels: Skip spread

#15294 s/a/notify: fix URESPONSE_NO_CACHE flag which should be 1
  sandbox/apparmor/notify/message.go
Labels: Simple 😃

#15202 secboot, overlord/fdestate/backend: use primary key from keyring
  overlord/fdestate/backend/export_test.go
  overlord/fdestate/backend/reseal.go
  overlord/fdestate/backend/reseal_test.go
  overlord/managers_test.go
  secboot/secboot.go
  secboot/secboot_dummy.go
  secboot/secboot_hooks.go
  secboot/secboot_sb.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
Labels: Run nested

#15148 tests: add feature tagging workflow
  .github/workflows/feature-tagging.yaml
  .github/workflows/rerun.yaml
  .github/workflows/spread-tests.yaml
  tests/utils/features/tag-features
Labels: Skip spread

#15282 daemon: avoid locking state until necessary in userFromRequest
  daemon/api.go
  daemon/api_test.go
  daemon/daemon.go
Labels: Simple 😃, Needs Documentation -auto-

#15315 tests: remove old mongodb report and query tools
  tests/lib/tools/query-mondodb
  tests/lib/tools/report-mongodb
Labels: Simple 😃, Skip spread

#15316 tests: update the nightly workflows to run with no-reexec
  .github/workflows/nightly-spread.yaml
  .github/workflows/spread-tests.yaml
Labels: Simple 😃, Skip spread

#15314 tests: new workflow to check state locks against the baseline
  .github/workflows/state-locks.yaml
Labels: Skip spread

#15323 github: fix broken state-locks.yaml
  .github/workflows/state-locks.yaml
Labels: Simple 😃, Skip spread

#15324 tests: new dependency for state locks worflow
  .github/workflows/rerun.yaml
  .github/workflows/snap-builds.yaml
  .github/workflows/spread-tests.yaml
  .github/workflows/state-locks.yaml
  .github/workflows/static-checks.yaml
  .github/workflows/unit-tests-cross-distro.yaml
  .github/workflows/unit-tests.yaml
Labels: Simple 😃, Skip spread

#15327 tests: fix how state_locks_baseline.traces is downloaded in state-locks.yaml
  .github/workflows/state-locks.yaml
Labels: Simple 😃, Skip spread

#15331 spread: fix collect artifacts script invocation
  spread.yaml
Labels: Simple 😃, Skip spread

#15318 s/a/notify: use variable for native byte order instead of rechecking
  sandbox/apparmor/notify/export_test.go
  sandbox/apparmor/notify/ioctl.go
  sandbox/apparmor/notify/ioctl_test.go
  sandbox/apparmor/notify/message.go
  sandbox/apparmor/notify/message_test.go
  sandbox/apparmor/notify/notify.go
  sandbox/apparmor/notify/strings.go
Labels: Simple 😃

#15326 overlord/fdestate/dbx: do nothing for dbx when there are no encryption keys
  overlord/fdestate/dbx.go
  overlord/fdestate/dbx_test.go
  tests/nested/manual/core20-nofde-dbx/task.yaml
Labels: Run nested, FDE Manager

#15313 github, tests: add feature upload to mongodb
  .github/workflows/feature-tagging.yaml
  tests/utils/features/mongo_upload.py
Labels: Skip spread

#15320 o/i/apparmorprompting: do not set backends to nil when closed
  overlord/ifacestate/apparmorprompting/prompting.go
  overlord/ifacestate/apparmorprompting/prompting_test.go
Labels: Simple 😃

#14947 image: added feature to inject proxy store assertions in build image
  cmd/snap/cmd_prepare_image.go
  cmd/snap/cmd_prepare_image_test.go
  image/image_linux.go
  image/image_test.go
  image/options.go
  seed/seedwriter/fetcher.go
  seed/seedwriter/fetcher_test.go
  seed/seedwriter/seed16.go
  seed/seedwriter/seed20.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: Needs Samuele review

#15322 cmd/snap-bootstrap/triggerwatch: simulate passing time, better event sychronization
  cmd/snap-bootstrap/triggerwatch/export_test.go
  cmd/snap-bootstrap/triggerwatch/triggerwatch.go
  cmd/snap-bootstrap/triggerwatch/triggerwatch_test.go
  timeutil/timer.go
  timeutil/timer_test.go
Labels: Simple 😃, Skip spread

#15345 tests: add image names for ubuntu 2*
  spread.yaml
Labels: Simple 😃

#15291 daemon: only cancel notices requests on Stop/shutdown
  daemon/api_notices.go
  daemon/daemon.go
  daemon/daemon_test.go
Labels: Needs Documentation -auto-

#15333 snapcraft: build with libselinux
  build-aux/snap/snapcraft.yaml
Labels: cross-distro

#15309 daemon,o/state: don't require state lock just to get warnings
  daemon/api_general.go
  daemon/daemon.go
  overlord/ifacestate/ifacestate_test.go
  overlord/state/state.go
  overlord/state/state_test.go
  overlord/state/warning.go
  overlord/state/warning_test.go
Labels: Needs Documentation -auto-

#15340 daemon: /v2/system-info system key mismatch support
  client/errors.go
  daemon/api_base_test.go
  daemon/api_general.go
  daemon/api_general_test.go
  daemon/errors.go
Labels: Needs Documentation -auto-

#15353 tests: adding openstack backend to spread.yaml
  .github/workflows/spread-tests.yaml
  spread.yaml
  tests/lib/spread/backend.openstack.yaml
Labels: Simple 😃

#15212 cmd/snap-gpio-helper: add gpio-chardev export/unexport commands
  cmd/snap-gpio-helper/cmd_export.go
  cmd/snap-gpio-helper/cmd_export_test.go
  cmd/snap-gpio-helper/cmd_unexport.go
  cmd/snap-gpio-helper/cmd_unexport_test.go
  cmd/snap-gpio-helper/export_test.go
  cmd/snap-gpio-helper/main.go
  cmd/snap-gpio-helper/main_test.go
  dirs/dirs.go
  interfaces/builtin/gpio_chardev.go
  interfaces/builtin/gpio_chardev_test.go
  osutil/inotify/inotify_others.go
  osutil/stat.go
  osutil/stat_test.go
  sandbox/gpio/common.go
  sandbox/gpio/export_test.go
  sandbox/gpio/gpio_chardev.go
  sandbox/gpio/gpio_chardev_test.go
  strutil/range.go
  strutil/range_test.go
Labels: Needs Samuele review

#15355 github: update from ubuntu-20.04 to ubuntu-latest
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#15302 daemon,o/restart: add method to check pending restart without state lock
  daemon/daemon.go
  daemon/daemon_test.go
  overlord/restart/restart.go
  overlord/restart/restart_test.go
Labels: Needs Samuele review, Needs Documentation -auto-

#15358 s/a/n/listener: avoid race between closing/reading socket FD
  sandbox/apparmor/notify/listener/export_test.go
  sandbox/apparmor/notify/listener/listener.go
Labels: Simple 😃

#15252 many: add trace logging commands for features
  cmd/snap/main.go
  daemon/daemon.go
  interfaces/repo.go
  overlord/devicestate/devicemgr.go
  overlord/servicestate/servicemgr.go
  overlord/snapstate/aliasesv2.go
  overlord/snapstate/autorefresh.go
  overlord/snapstate/catalogrefresh.go
  overlord/snapstate/refreshhints.go
  overlord/snapstate/snapmgr.go
  overlord/state/change.go
  overlord/state/task.go
  overlord/stateengine.go
Labels: Skip spread, Needs Documentation -auto-

#15344 tests: enable nested tests on arm servers
  .github/workflows/nested-systems.json
  spread.yaml
  tests/lib/assertions/nested-24-arm64.model
  tests/lib/external/snapd-testing-tools/.github/workflows/tests.yaml
  tests/lib/external/snapd-testing-tools/spread.yaml
  tests/lib/external/snapd-testing-tools/tests/not/task.yaml
  tests/lib/external/snapd-testing-tools/tests/os.query/task.yaml
  tests/lib/external/snapd-testing-tools/tests/spread-manager/task.yaml
  tests/lib/external/snapd-testing-tools/tools/snaps.cleanup
  tests/lib/external/snapd-testing-tools/utils/spread-manager
  tests/lib/nested.sh
  tests/lib/pkgdb.sh
  tests/lib/prepare.sh
  tests/nested/core/core20-basic/task.yaml
Labels: Run nested

#15362 cmd/snap, tests/main: react to system key mismatch
  cmd/snap/cmd_run.go
  cmd/snap/cmd_run_test.go
  cmd/snap/export_test.go
  cmd/snap/main.go
  cmd/snap/wait.go
  tests/main/remote-home/task.yaml
Labels: cross-distro

#15349 confdb: add NestedEphemeral to confdb schemas
  asserts/asserts.go
  asserts/confdb.go
  confdb/confdb.go
  confdb/confdb_test.go
  confdb/schema.go
  confdb/schema_test.go
  overlord/confdbstate/transaction_test.go
Labels: confdb

#15370 tests: update nested tests executed for arm64
  .github/workflows/nested-systems.json
Labels: Simple 😃, Skip spread

#15368 spread: enable reexec test suite on Fedora
  spread.yaml
Labels: Simple 😃, cross-distro

#14778 boot/initrafms.go: use systemctl reboot instead of /sbin/reboot
  boot/initramfs.go
Labels: Run nested

#15375 cmd/snap-update-ns: overname entries are always rbind
  cmd/snap-update-ns/change_test.go
  cmd/snap-update-ns/update_test.go
Labels: Simple 😃, Skip spread

#15374 spread: enable reexec test suite on remaining distros
  spread.yaml
Labels: cross-distro

#15376 cmd/snap-update-ns: synthetic is always tmpfs, or bind or rbind
  cmd/snap-update-ns/change_test.go
Labels: Simple 😃, Skip spread

#15350 many: make save/load hooks mandatory if affecting ephemeral
  confdb/confdb.go
  confdb/confdb_test.go
  overlord/confdbstate/confdbstate.go
  overlord/confdbstate/confdbstate_test.go
  overlord/hookstate/ctlcmd/export_test.go
  overlord/hookstate/ctlcmd/get.go
  overlord/hookstate/ctlcmd/get_test.go
Labels: Needs Documentation -auto-, confdb

#15381 cmd/snap-update-ns: provide more realistic test data
  cmd/snap-update-ns/change_test.go
Labels: Skip spread

#15335 tests: add feature extraction of all traced features
  .github/workflows/weekly-feature-tagging.yaml
  tests/utils/features/featextractor.py
  tests/utils/features/features.py
  tests/utils/features/tag-features
  tests/utils/features/test_featextractor.py
Labels: Skip spread

#15311 s/a/notify: select interface from metadata tags and set in request
  interfaces/prompting/constraints_test.go
  interfaces/prompting/errors/errors.go
  interfaces/prompting/export_test.go
  interfaces/prompting/tags.go
  interfaces/prompting/tags_test.go
  overlord/ifacestate/apparmorprompting/export_test.go
  overlord/ifacestate/apparmorprompting/prompting.go
  overlord/ifacestate/apparmorprompting/prompting_test.go
  sandbox/apparmor/notify/listener/listener.go
  sandbox/apparmor/notify/listener/listener_test.go
  sandbox/apparmor/notify/message.go
  sandbox/apparmor/notify/message_test.go
  sandbox/apparmor/notify/permission.go
  sandbox/apparmor/notify/strings.go
Labels: Needs Samuele review

#15383 github: add run-one-system input to run feature tagging only on one system
  .github/workflows/weekly-feature-tagging.yaml
Labels: Skip spread

#15393 packaging/arch, tests/lib/prepare-restore: simplify PKGBUILD, simplify building of Arch package in CI
  packaging/arch/PKGBUILD
  tests/lib/prepare-restore.sh
Labels: Simple 😃, cross-distro

#15357 o/snapstate: make sure that bases do not wait on snaps when enforcing validation sets
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_prereq_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Needs Samuele review

#15396 cmd/snapd: fix logger data race
  cmd/snapd/main_test.go
Labels: Simple 😃, Skip spread

#15392 github: added new workflow for master pushes that run unit tests and upload code coverage
  .github/workflows/ci-master-push.yaml
Labels: Skip spread

#15397 github: add code cov dependency on unit tests and fix unit test upload
  .github/workflows/ci-master-push.yaml
  .github/workflows/ci-test.yaml
Labels: Skip spread

#15399 codecov: add codecov config
  .codecov.yml
  codecov.yml
Labels: Simple 😃, Skip spread

#15400 github: specify coverage directory, disable search
  .codecov.yml
  .github/workflows/ci-master-push.yaml
  .github/workflows/ci-test.yaml
Labels: Simple 😃, Skip spread

#15380 many: update godbus version
  cmd/snap/cmd_run.go
  dbusutil/dbustest/dbustest.go
  dbusutil/dbustest/stub.go
  dbusutil/dbusutil.go
  dbusutil/netplantest/netplantest.go
  desktop/notification/export_test.go
  desktop/notification/fdo.go
  desktop/notification/fdo_test.go
  desktop/notification/gtk.go
  desktop/notification/gtk_test.go
  desktop/notification/manager.go
  desktop/notification/manager_test.go
  desktop/notification/notificationtest/fdo.go
  desktop/notification/notificationtest/gtk.go
  desktop/portal/document_test.go
  desktop/portal/launcher.go
  desktop/portal/launcher_test.go
  go.mod
  go.sum
  netutil/metered.go
  overlord/configstate/configcore/netplan.go
  overlord/configstate/configcore/netplan_test.go
  packaging/fedora/snapd.spec
  polkit/authority.go
  sandbox/cgroup/export_test.go
  sandbox/cgroup/tracking.go
  sandbox/cgroup/tracking_test.go
  testutil/dbustest.go
  timeutil/synchronized.go
  timeutil/synchronized_test.go
  usersession/agent/rest_api_test.go
  usersession/agent/session_agent.go
  usersession/userd/export_test.go
  usersession/userd/helpers.go
  usersession/userd/launcher.go
  usersession/userd/launcher_test.go
  usersession/userd/privileged_desktop_launcher.go
  usersession/userd/settings.go
  usersession/userd/settings_test.go
  usersession/userd/userd.go
  usersession/xdgopenproxy/portal_launcher.go
  usersession/xdgopenproxy/userd_launcher.go
  usersession/xdgopenproxy/userd_launcher_test.go
  usersession/xdgopenproxy/xdgopenproxy.go
  usersession/xdgopenproxy/xdgopenproxy_test.go
Labels: Run nested, Needs Documentation -auto-

#15382 github: collect C code coverage
  .github/actions/download-install-debian-deps/action.yaml
  .github/workflows/unit-tests.yaml
  cmd/Makefile.am
  cmd/configure.ac
  cmd/libsnap-confine-private/fault-injection.c
Labels: Skip spread
