Repository canonical/snapd, pull requests merged in 2025-02, with the labels that each got.

#14967 osutils/disks: work-around old UC 20 bug where udev did not run on a device
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
Labels: Run nested, FDE Manager

#15011 t/n/c/core20-fault-inject-on-refresh: do not fail if 2 reboots are not detected
  tests/nested/core/core20-fault-inject-on-refresh/task.yaml
Labels: Run nested, FDE Manager

#14910 many: rework the way we allocate counter handles
  boot/boot.go
  boot/seal.go
  boot/seal_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  overlord/fdestate/backend/export_test.go
  overlord/fdestate/backend/seal.go
  overlord/fdestate/backend/seal_test.go
  overlord/fdestate/dbx_test.go
  overlord/fdestate/fdemgr_test.go
  overlord/fdestate/fdestate.go
  overlord/managers_test.go
  secboot/export_sb_test.go
  secboot/secboot.go
  secboot/secboot_dummy.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
Labels: Run nested, FDE Manager

#14993 interfaces/builtin, o/hookstate/ctlcmd: add CIFS support to mount-control interface
  interfaces/builtin/mount_control.go
  interfaces/builtin/mount_control_test.go
  overlord/hookstate/ctlcmd/mount.go
  overlord/hookstate/ctlcmd/mount_test.go
  tests/lib/snaps/store/test-snapd-mount-control-cifs/bin/cmd
  tests/lib/snaps/store/test-snapd-mount-control-cifs/snapcraft.yaml
  tests/main/interfaces-mount-control-cifs/task.yaml
Labels: Needs Documentation -auto-

#14959 tests: remove occurences of -bios parameters to qemu
  tests/lib/nested.sh
  tests/lib/tools/mkimage-uc22
  tests/main/mkimage-uc22/task.yaml
  tests/nested/manual/install-volume-assignment/task.yaml
Labels: Run nested

#14966 secboot: check legacy path for keyring when reading the primary key
  osutil/disks/disks_darwin.go
  osutil/disks/disks_linux.go
  osutil/disks/disks_linux_test.go
  secboot/export_sb_test.go
  secboot/secboot_sb.go
  secboot/secboot_sb_test.go
Labels: Run nested, FDE Manager

#15021 cmd/snap-failure: add fixme about running snapd with keyring access
  cmd/snap-failure/cmd_snapd.go
Labels: Skip spread, FDE Manager

#15007 i/default: allow owner read on @{PROC}/@{pid}/fdinfo/*
  interfaces/apparmor/template.go
Labels: Simple 😃

#15017 tests/lib/tools/build_kernel_with_comps.sh: use repacked kernel
  tests/lib/nested.sh
  tests/lib/tools/build_kernel_with_comps.sh
  tests/nested/manual/build-with-kernel-modules-components/task.yaml
  tests/nested/manual/core20-fault-inject-on-install-component/task.yaml
  tests/nested/manual/kernel-modules-components/task.yaml
Labels: Run nested, FDE Manager

#14941 docs: Fix snapcraft build instructions and explicitly install lxd
  HACKING.md
Labels: Skip spread

#15022 tests/nested/manual/remodel-offline: revert use of the fakestore
  tests/lib/assertions/developer1-test-snapd-core22-required-vset.json
  tests/lib/assertions/developer1-test-snapd-remodel-offline-rev0.json
  tests/lib/assertions/developer1-test-snapd-remodel-offline-rev1.json
  tests/nested/manual/remodel-offline/prepare-device
  tests/nested/manual/remodel-offline/repack-kernel.sh
  tests/nested/manual/remodel-offline/task.yaml
Labels: Run nested, FDE Manager

#15025 tests/nested/manual/recovery-system-reboot: disable disk encryption
  tests/nested/manual/recovery-system-reboot/task.yaml
Labels: FDE Manager

#15024 tests/nested/manual/remodel-uc20-to-uc22: remove encrypted case
  tests/nested/manual/remodel-uc20-to-uc22/task.yaml
Labels: Run nested, FDE Manager

#13522 cmd: snap: image: expose 'validation' parameter
  cmd/snap/cmd_prepare_image.go
  cmd/snap/cmd_prepare_image_test.go
Labels: Simple 😃

#15005 spread: drop Fedora 39
  spread.yaml
Labels: Simple 😃, Skip spread

#15028 tests/nightly/nvidia-drivers-compat: update reference driver data
  tests/nightly/nvidia-drivers-compat/reference/24.04-nvidia-driver-535-server-open.libs
  tests/nightly/nvidia-drivers-compat/reference/24.04-nvidia-driver-535-server.libs
  tests/nightly/nvidia-drivers-compat/reference/24.04-nvidia-driver-550.libs
  tests/nightly/nvidia-drivers-compat/task.yaml
Labels: Simple 😃, Skip spread

#15016 o/snapstate: make monitoring removal more robust
  daemon/api_snaps_test.go
  daemon/snap.go
  overlord/snapstate/handlers.go
  overlord/snapstate/snapstate_update_test.go
Labels: Needs Samuele review, Needs Documentation -auto-

#14912 data/udev/rules.d: remove snapd auto-import rules 66-snapd-autoimport.rules not required for deb package
  data/udev/rules.d/66-snapd-autoimport.rules
  packaging/ubuntu-14.04/snapd.install
  packaging/ubuntu-16.04/snapd.install.in
Labels: Simple 😃

#15039 overlord/fdestate: relax change cleanliness checks in dbx unit tests
  overlord/fdestate/dbx_test.go
Labels: Skip spread, FDE Manager

#15050 logger: add function to mock logger with debug enabled
  logger/logger.go
  logger/logger_test.go
Labels: Simple 😃

#14962 many: add passphrase and PINs quality checks system actions
  client/errors.go
  client/systems.go
  daemon/api_systems.go
  daemon/api_systems_test.go
  daemon/export_api_systems_test.go
  gadget/device/encrypt.go
  gadget/device/encrypt_test.go
  overlord/install/install.go
  strutil/entropy.go
  strutil/entropy_test.go
Labels: Needs Samuele review, Run nested, Needs Documentation -auto-, FDE Manager

#14954 many: add passphrase authentication support v2
  boot/assets.go
  boot/assets_test.go
  boot/export_test.go
  boot/makebootable.go
  boot/makebootable_test.go
  boot/seal.go
  boot/seal_test.go
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  gadget/install/install.go
  gadget/install/install_test.go
  gadget/install/params.go
  go.mod
  go.sum
  overlord/devicestate/devicestate_install_api_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/handlers_install.go
  overlord/fdestate/backend/seal.go
  overlord/fdestate/backend/seal_test.go
  overlord/install/install.go
  overlord/install/install_test.go
  secboot/export_sb_test.go
  secboot/secboot.go
  secboot/secboot_hooks.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
Labels: Needs Samuele review, Run nested, FDE Manager

#15018 confdb: support marking paths in schemas as ephemeral
  confdb/confdb.go
  confdb/confdb_test.go
  confdb/schema.go
  confdb/schema_test.go
  overlord/confdbstate/transaction_test.go
Labels: confdb

#15056 strutil: extend unit test to cover more realistic version examples
  strutil/version_test.go
Labels: Simple 😃, Skip spread

#15054 cmd: build unit test support static library
  cmd/Makefile.am
Labels: Simple 😃, Skip spread

#14537 cmd/snap-bootstrap: mount base directly on /sysroot
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/initramfs_systemd_mount.go
  core-initrd/latest/factory/usr/lib/systemd/system-generators/kernel-snap-generator
  core-initrd/latest/factory/usr/lib/systemd/system/classic-mounts.service
  core-initrd/latest/factory/usr/lib/systemd/system/detect-classic-sysroot.service
  core-initrd/latest/factory/usr/lib/systemd/system/detect-uc-sysroot.service
  core-initrd/latest/factory/usr/lib/systemd/system/plymouth-for-classic.service
  core-initrd/latest/factory/usr/lib/systemd/system/plymouth-for-core.service
  core-initrd/latest/factory/usr/lib/systemd/system/populate-writable.service
  core-initrd/latest/factory/usr/lib/systemd/system/sysroot-writable.mount
  core-initrd/latest/factory/usr/lib/systemd/system/sysroot.mount
  tests/core/basic20plus/task.yaml
Labels: Run nested

#15058 secboot: default to pbkdf2 instead of argon2id
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
Labels: Run nested

#15057 secboot,snap-bootstrap: set boot mode for FDE hooks
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  secboot/secboot.go
  secboot/secboot_sb.go
  secboot/secboot_sb_test.go
Labels: Run nested

#14960 tests: rebuild OVMF and use generated keys
  .woke.yaml
  spread.yaml
  tests/lib/nested.sh
  tests/lib/snaps/store/test-snapd-ovmf/efitools-ms-kek.patch
  tests/lib/snaps/store/test-snapd-ovmf/efitools-updatevars-temporary-constants.patch
  tests/lib/snaps/store/test-snapd-ovmf/lockdown-image/repart.d/01-efi.conf
  tests/lib/snaps/store/test-snapd-ovmf/lockdown-image/root/efi/startup.nsh
  tests/lib/snaps/store/test-snapd-ovmf/snakeoil/PkKek-1-snakeoil.pem
  tests/lib/snaps/store/test-snapd-ovmf/snakeoil/kernel-edge-20-22.crt
  tests/lib/snaps/store/test-snapd-ovmf/snakeoil/kernel-edge-24.crt
  tests/lib/snaps/store/test-snapd-ovmf/snapcraft.yaml
  tests/nested/manual/recovery-system-reboot/task.yaml
  tests/nested/manual/uc-update-assets-secure-add-sbat/task.yaml
Labels: ⛔ Blocked, Run nested

#15055 confdb: support pruning ephemeral data
  confdb/confdb.go
  confdb/confdb_test.go
  confdb/schema.go
  confdb/schema_test.go
  overlord/confdbstate/transaction_test.go
Labels: confdb

#15066 github: test: use ubuntu-latest, fix caching
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#15072 osutil: account for Go 1.24 when reading build ID in the tests
  osutil/buildid.go
  osutil/buildid_test.go
  osutil/export_test.go
Labels: Simple 😃

#14712 gadget: emmc gadget update support
  gadget/export_test.go
  gadget/gadgettest/examples.go
  gadget/gadgettest/gadgettest.go
  gadget/ondisk.go
  gadget/ondisk_test.go
  gadget/raw.go
  gadget/raw_test.go
  gadget/update.go
  gadget/update_test.go
  tests/lib/nested.sh
Labels: Run Nested -auto-

#15078 release: 2.68 changelogs
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#14952 tests/nested, tests/lib/snaps: make core20-fde-dbx test more realistic
  tests/lib/snaps/store/test-snapd-efitools/bin/cmd
  tests/lib/snaps/store/test-snapd-efitools/snapcraft.yaml
  tests/nested/manual/core20-fde-dbx/dbx-1-update.auth
  tests/nested/manual/core20-fde-dbx/task.yaml
Labels: Run nested

#15081 github/cla-check: update canonical/has-signed-canonical-cla action to v2
  .github/workflows/cla-check.yaml
Labels: Skip spread

#15074 tests/nightly/nvidia-drivers-compat: be smarter about matching driver files
  tests/nightly/nvidia-drivers-compat/drivers-common.patterns
  tests/nightly/nvidia-drivers-compat/reference/18.04-nvidia-driver-390.libs
  tests/nightly/nvidia-drivers-compat/reference/18.04-nvidia-driver-418-server.libs
  tests/nightly/nvidia-drivers-compat/reference/18.04-nvidia-driver-450-server.libs
  tests/nightly/nvidia-drivers-compat/reference/18.04-nvidia-driver-470-server.libs
  tests/nightly/nvidia-drivers-compat/reference/18.04-nvidia-driver-470.libs
  tests/nightly/nvidia-drivers-compat/reference/18.04-nvidia-driver-510.libs
  tests/nightly/nvidia-drivers-compat/reference/18.04-nvidia-driver-515-server.libs
  tests/nightly/nvidia-drivers-compat/reference/18.04-nvidia-driver-515.libs
  tests/nightly/nvidia-drivers-compat/reference/18.04-nvidia-driver-525-server.libs
  tests/nightly/nvidia-drivers-compat/reference/18.04-nvidia-driver-525.libs
  tests/nightly/nvidia-drivers-compat/reference/18.04-nvidia-driver-530.libs
  tests/nightly/nvidia-drivers-compat/reference/20.04-nvidia-driver-390.libs
  tests/nightly/nvidia-drivers-compat/reference/20.04-nvidia-driver-450-server.libs
  tests/nightly/nvidia-drivers-compat/reference/20.04-nvidia-driver-470-server.libs
  tests/nightly/nvidia-drivers-compat/reference/20.04-nvidia-driver-470.libs
  tests/nightly/nvidia-drivers-compat/reference/20.04-nvidia-driver-535-open.libs
  tests/nightly/nvidia-drivers-compat/reference/20.04-nvidia-driver-535-server-open.libs
  tests/nightly/nvidia-drivers-compat/reference/20.04-nvidia-driver-535-server.libs
  tests/nightly/nvidia-drivers-compat/reference/20.04-nvidia-driver-535.libs
  tests/nightly/nvidia-drivers-compat/reference/20.04-nvidia-driver-550-server-open.libs
  tests/nightly/nvidia-drivers-compat/reference/20.04-nvidia-driver-550-server.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-390.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-418-server.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-450-server.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-470-server.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-470.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-535-open.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-535-server-open.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-535-server.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-535.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-545-open.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-545.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-550-open.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-550-server-open.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-550-server.libs
  tests/nightly/nvidia-drivers-compat/reference/22.04-nvidia-driver-550.libs
  tests/nightly/nvidia-drivers-compat/reference/24.04-nvidia-driver-470-server.libs
  tests/nightly/nvidia-drivers-compat/reference/24.04-nvidia-driver-470.libs
  tests/nightly/nvidia-drivers-compat/reference/24.04-nvidia-driver-535-open.libs
  tests/nightly/nvidia-drivers-compat/reference/24.04-nvidia-driver-535-server-open.libs
  tests/nightly/nvidia-drivers-compat/reference/24.04-nvidia-driver-535-server.libs
  tests/nightly/nvidia-drivers-compat/reference/24.04-nvidia-driver-535.libs
  tests/nightly/nvidia-drivers-compat/reference/24.04-nvidia-driver-550.libs
  tests/nightly/nvidia-drivers-compat/reference/drivers-common.libs
  tests/nightly/nvidia-drivers-compat/task.yaml
Labels: Skip spread

#15087 interfaces/u2f: add Arculus AuthentiKey
  interfaces/builtin/u2f_devices.go
  interfaces/builtin/u2f_devices_test.go
Labels: Simple 😃

#15082 tests: wait more time until the openstack intance is with Active state
  tests/lib/spread/backend.openstack.yaml
Labels: Simple 😃

#15088 tests: update opensuse tumbleweed dependecies
  tests/lib/pkgdb.sh
Labels: Simple 😃

#15085 cmd: drop unused check-syntax-c target
  cmd/Makefile.am
Labels: Simple 😃, Skip spread

#15083 spread: use the same system definitions in google-nested-dev as in google-nested
  spread.yaml
Labels: Simple 😃, Skip spread

#15090 spread: include disk space information when debugging nested suites
  spread.yaml
Labels: Simple 😃, Skip spread

#15067 confdb: process alternative types in order
  confdb/schema.go
  confdb/schema_test.go
Labels: confdb

#15062 tests: remove 'set -x' from "Run spread tests" step in Tests workflow
  .github/workflows/spread-tests.yaml
Labels: Simple 😃

#15080 tests/nested/manual/hybrid-fde-dbx: hybrid with DBX updates
  tests/nested/manual/hybrid-fde-dbx/task.yaml
Labels: Run nested

#15059 cmd: add support for building with address and undefined behavior sanitizers
  .github/workflows/unit-tests.yaml
  .woke.yaml
  cmd/Makefile.am
  cmd/configure.ac
Labels: Skip spread

#15073 cmd, secboot: add argon2 out-of-process kdf support
  cmd/snap-bootstrap/main.go
  cmd/snapd/main.go
  secboot/argon2_out_of_process.go
  secboot/argon2_out_of_process_dummy.go
  secboot/argon2_out_of_process_sb.go
  secboot/argon2_out_of_process_sb_test.go
  secboot/export_sb_test.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
Labels: Needs Samuele review

#15012 data/systemd: add gpio-chardev systemd ordering target
  data/systemd/snapd.gpio-chardev-setup.target
  packaging/arch/PKGBUILD
  packaging/debian-sid/rules
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
Labels: Needs Samuele review

#15096 spread: stop disabling metalink for Fedora
  spread.yaml
Labels: Simple 😃

#15095 tests: update nightly job to use self hosted tiobe runner
  .github/workflows/nightly-static-analysis.yaml
Labels: Skip spread

#15076 core-initrd,snap-bootstrap: look at env to mount directly to /sysroot
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  cmd/snap-bootstrap/export_test.go
  core-initrd/latest/factory/usr/lib/systemd/system/snap-initramfs-mounts.service
Labels: Run nested

#15101 cmd/clangd: add _GNU_SOURCE
  cmd/.clangd
Labels: Simple 😃, Skip spread

#13117 snap, snap/pack: disallow pack and install of snapd, base and os with specific configure hooks
  snap/pack/pack_test.go
  snap/validate.go
  snap/validate_test.go
Labels: Squash-merge, Needs Samuele review

#15111 cmd/snap-confine: fix type specifier type mismatches on armhf
  cmd/snap-confine/snap-confine.c
Labels: Squash-merge, Simple 😃

#15086 gadget: make reinstalls honor existing sizes of partitions
  gadget/gadgettest/examples.go
  gadget/install/export_test.go
  gadget/install/install.go
  gadget/install/install_test.go
  gadget/install/partition.go
  gadget/install/partition_test.go
Labels: Run nested

#15107 tests/muinstaller-real: make fake kernel version shorter
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Run nested

#15075 tests: automatically run nested tests for certain go changes
  tests/lib/spread/rules/nested.yaml
Labels: Simple 😃, Skip spread

#15100 cmd/libsnap-confine-private/tool: switch identity only after forking a child
  cmd/libsnap-confine-private/tool.c
  cmd/libsnap-confine-private/utils.h
Labels: Needs security review

#15118 Release: 2.68.1
  NEWS.md
  cmd/snap-confine/snap-confine.c
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Needs Samuele review

#15084 tests: run tests on master branch nightly
  .github/workflows/nested-systems.json
  .github/workflows/nightly-spread.yaml
  .github/workflows/spread-tests.yaml
  .github/workflows/test.yaml
Labels: Simple 😃

#15120 cmd/libsnap-confine-private,snap-confine: helper for no-change identity, booleans with sc_identity
  cmd/libsnap-confine-private/tool.c
  cmd/libsnap-confine-private/utils.c
  cmd/libsnap-confine-private/utils.h
  cmd/snap-confine/snap-confine.c
Labels: Simple 😃

#15129 tests: add dependency on read-systems job for spread-nested job
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#15128 tests: switch to github-hosted arm runners
  .github/workflows/snap-builds.yaml
  .github/workflows/test.yaml
Labels: Skip spread

#15049 secboot,fdestate: use boot mode for FDE hooks
  overlord/fdestate/backend/export_test.go
  overlord/fdestate/backend/reseal.go
  overlord/fdestate/backend/reseal_test.go
  overlord/fdestate/backend/seal.go
  overlord/fdestate/backend/seal_test.go
  secboot/export_sb_test.go
  secboot/secboot.go
  secboot/secboot_dummy.go
  secboot/secboot_hooks.go
  secboot/secboot_sb_test.go
Labels: Run nested

#15135 tests/main/snap-quota: explicitly remove all created groups during restore
  tests/main/snap-quota/task.yaml
Labels: Simple 😃

#15121 daemon: the service could crash for some snapctl inputs
  daemon/api_snapctl.go
  daemon/api_snapctl_test.go
Labels: Needs Documentation -auto-

#15136 tests: updated code coverage to v5 and use token
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#15132 tests: fix nightly spread executions and add them to manual dispatch
  .github/workflows/nightly-spread.yaml
Labels: Simple 😃, Skip spread

#15125 tests/muinstaller: move to 24.04.2 release
  tests/lib/muinstaller/mk-classic-rootfs.sh
Labels: Run nested

#15106 image, seed: check snap-bootstrap compatibility for FDE
  cmd/snap/cmd_prepare_image.go
  cmd/snap/cmd_prepare_image_test.go
  image/image_linux.go
  image/options.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
  spread.yaml
Labels: Run nested

#15116 boot: have a separate mutex for the sections writing a fresh modeenv
  boot/bootstate20.go
  boot/export_test.go
  boot/makebootable.go
  boot/seal.go
  boot/seal_test.go
Labels: Run nested

#15046 many: fix swapping back and forth between kernels with components during remodeling
  overlord/devicestate/devicestate_remodel_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  tests/lib/assertions/test-snapd-remodel-to-installed-kernel-24.json
  tests/lib/assertions/test-snapd-remodel-to-installed-kernel-rev-1-24.json
  tests/lib/assertions/test-snapd-remodel-to-installed-kernel-rev-2-24.json
  tests/lib/assertions/test-snapd-remodel-to-installed-kernel-rev-3-24.json
  tests/lib/tools/build_kernel_with_comps.sh
  tests/nested/manual/remodel-to-installed-kernel/task.yaml
Labels: Run nested

#15127 secboot: bump secboot to rev e07f4ae48e98
  go.mod
  go.sum
  secboot/secboot_hooks.go
Labels: Run nested

#15139 revert many: fix swapping back and forth between kernels with components during remodeling
  overlord/devicestate/devicestate_remodel_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  tests/lib/assertions/test-snapd-remodel-to-installed-kernel-24.json
  tests/lib/assertions/test-snapd-remodel-to-installed-kernel-rev-1-24.json
  tests/lib/assertions/test-snapd-remodel-to-installed-kernel-rev-2-24.json
  tests/lib/assertions/test-snapd-remodel-to-installed-kernel-rev-3-24.json
  tests/lib/tools/build_kernel_with_comps.sh
  tests/nested/manual/remodel-to-installed-kernel/task.yaml
Labels: Skip spread

#15027 daemon: look for snap icon in icons directory as fallback
  daemon/api.go
  daemon/api_icons.go
  daemon/api_icons_test.go
  daemon/api_snaps.go
  daemon/snap.go
  overlord/snapstate/snapstate.go
  tests/lib/snaps/store/test-snapd-icons-api-fallback/icon-orange-chest.svg
  tests/lib/snaps/store/test-snapd-icons-api-fallback/icon-orange-tail.svg
  tests/lib/snaps/store/test-snapd-icons-api-fallback/icon-orange-wing.svg
  tests/lib/snaps/store/test-snapd-icons-api-fallback/icon-orig.svg
  tests/lib/snaps/store/test-snapd-icons-api-fallback/snap/snapcraft.yaml
  tests/lib/snaps/store/test-snapd-icons-api-local/icon-orange-chest.svg
  tests/lib/snaps/store/test-snapd-icons-api-local/icon-orange-tail.svg
  tests/lib/snaps/store/test-snapd-icons-api-local/icon-orange-wing.svg
  tests/lib/snaps/store/test-snapd-icons-api-local/icon-orig.svg
  tests/lib/snaps/store/test-snapd-icons-api-local/snap/snapcraft.yaml
  tests/main/snap-icons-fallback/icon-orange-chest.svg
  tests/main/snap-icons-fallback/icon-orange-tail.svg
  tests/main/snap-icons-fallback/icon-orange-wing.svg
  tests/main/snap-icons-fallback/icon-orig.svg
  tests/main/snap-icons-fallback/task.yaml
Labels: Needs Documentation -auto-

#15133 tests/main/progress: set IO timeout and collect verbose debug log from socat
  tests/main/progress/task.yaml
Labels: Simple 😃

#15143 tests: fix using master snap flag on nightly
  .github/workflows/nightly-spread.yaml
  .github/workflows/spread-tests.yaml
Labels: Simple 😃, Skip spread

#15142 tests: make test fail when nested spread fails
  tests/lib/nested.sh
  tests/nested/manual/run-spread/task.yaml
  tests/perf/nested/install-many-snaps-no-wait/task.yaml
  tests/perf/nested/install-many-snaps/task.yaml
  tests/perf/nested/interfaces-many/task.yaml
  tests/perf/nested/parallel-installs/task.yaml
Labels: Simple 😃

#15149 tests: remove fundamental/non-fundamental dependency for PRs targeting release branch
  .github/workflows/test.yaml
Labels: Skip spread

#15150 tests: account for snapd/kernel incompatibilty warning in prepare-image
  tests/main/prepare-image-classic/task.yaml
Labels: Simple 😃

#15155 release: 2.68.1 changelogs
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#15151 spread: add ubuntu-{24.10,25.04}-64 to qemu
  spread.yaml
Labels: Simple 😃, Skip spread
