Repository canonical/snapd, pull requests merged in 2025-08, with the labels that each got.

#15761 tests: exclude debug-pprof test on openSUSE Tumblweed
  tests/main/debug-pprof/task.yaml
Labels: Simple 😃, Skip spread

#15760 github: fix if condition for triggering a rerun via dispatch
  .github/workflows/rerun.yaml
Labels: Simple 😃, Skip spread

#15744 packaging/snapd.mk: pass tags when running unit tests
  packaging/snapd.mk
Labels: Simple 😃, Skip spread, cross-distro

#15671 image: improve handling of system-user extra assertions
  image/image_linux.go
  image/image_test.go
  seed/seedwriter/seed20.go
  seed/seedwriter/writer_test.go
Labels: Auto rerun spread

#15704 daemon,overlord: use notice manager and query from daemon
  daemon/api_notices.go
  overlord/overlord.go
Labels: Needs Samuele review, Needs Documentation -auto-, cross-distro

#15690 gadget: improve (and fix) how we handle emmc volumes
  gadget/gadget.go
  gadget/gadget_emmc_test.go
  gadget/gadget_test.go
  gadget/gadgettest/examples.go
  gadget/install/partition.go
  gadget/install/partition_test.go
  gadget/layout.go
  gadget/ondisk_test.go
  gadget/update.go
  gadget/update_test.go
Labels: Run only one system

#15774 github: merge the nested test results into the corresponding core results file during feature tagging
  .github/workflows/weekly-feature-tagging.yaml
Labels: Simple 😃, Skip spread

#15762 tests: add modal popups with test lists in feature tagging dashboard
  tests/utils/features/dashboard.py
  tests/utils/features/dashboard_callbacks.py
  tests/utils/features/query_features.py
  tests/utils/features/test_query_features.py
Labels: Skip spread

#15773 github: when retrieving artifacts, fail tests without successful artifact download
  .github/workflows/spread-tests.yaml
Labels: Skip spread

#15776 tests: add spread coverage for lists and indexed paths
  tests/lib/assertions/developer1-network-confdb.json
  tests/lib/assertions/developer1-network.confdb
  tests/main/confdb/task.yaml
Labels: Skip spread, confdb

#15780 osutil/vfs: replace [mount.mountPoint] with [mount.attachedAt]
  osutil/vfs/export_test.go
  osutil/vfs/mount.go
  osutil/vfs/vfs.go
Labels: Skip spread

#15789 tests: disable the interfaces-posix-mq test on Ubuntu 20.04
  tests/main/interfaces-posix-mq/task.yaml
Labels: Test Robustness, Skip spread

#15794 tests/lib/muinstaller: change 24.04 ubuntu base to .3
  tests/lib/muinstaller/mk-classic-rootfs.sh
Labels: Simple 😃, Run nested

#15790 tests: raise NotInStateError when snap type not found
  tests/utils/features/state.py
Labels: Simple 😃, Skip spread

#15743 cmd/snap-confine: switch to root:root to operate v1 freezer
  cmd/Makefile.am
  cmd/snap-confine/snap-confine.c
  cmd/snap-confine/snap-confine.caps
  cmd/snap-confine/snap-confine.v2-only.caps
  data/selinux/snappy.te
  packaging/arch/snapd.install
  packaging/debian-sid/snapd.install
  packaging/debian-sid/snapd.postinst
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/snapd.install
  packaging/ubuntu-16.04/snapd.install.in
  tests/main/lxd/task.yaml
  tests/main/snap-confine-caps/task.yaml
Labels: cross-distro

#15713 o/fdestate, o/h/ctlcmd: extended snapctl system-mode to detect if system is encrypted
  overlord/fdestate/fdemgr.go
  overlord/fdestate/fdemgr_test.go
  overlord/fdestate/fdestate.go
  overlord/fdestate/fdestate_test.go
  overlord/hookstate/ctlcmd/export_test.go
  overlord/hookstate/ctlcmd/system_mode.go
  overlord/hookstate/ctlcmd/system_mode_test.go
  tests/nested/manual/muinstaller-core/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
Labels: Needs Samuele review, Needs Documentation -auto-, FDE spike

#15803 o/hookstate/ctlcmd: fix formatting
  overlord/hookstate/ctlcmd/system_mode.go
Labels: Skip spread, Needs Documentation -auto-

#15778 client/snap: add a note when snap data snapshot was created during remove
  client/change.go
  client/change_test.go
  cmd/snap/cmd_snap_op.go
  cmd/snap/cmd_snap_op_test.go
  tests/main/snapshot-basic/task.yaml
Labels: Needs Documentation -auto-

#15806 packaging/fedora: drop fakeroot
  packaging/fedora/snapd.spec
Labels: Skip spread, cross-distro

#15784 o/h/ctlcmd: check confdb plug connection in snapctl
  overlord/confdbstate/confdbstate.go
  overlord/hookstate/ctlcmd/get.go
  overlord/hookstate/ctlcmd/get_test.go
  overlord/hookstate/ctlcmd/set.go
  tests/main/confdb/task.yaml
Labels: Needs Documentation -auto-, confdb

#15262 many: support using OPTEE for protecting and revealing keys
  .github/workflows/ci-master-push.yaml
  .github/workflows/ci-test.yaml
  .github/workflows/data-nested-systems.json
  boot/export_test.go
  boot/makebootable_test.go
  boot/seal.go
  boot/seal_test.go
  build-aux/snap/snapcraft.yaml
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  core-initrd/24.04/debian/control
  core-initrd/24.04/debian/rules
  core-initrd/25.04/debian/control
  core-initrd/25.04/debian/rules
  core-initrd/latest/debian/control
  core-initrd/latest/debian/rules
  kernel/fde/optee/fde_key_handler_ta_type.h
  kernel/fde/optee/optee.go
  kernel/fde/optee/optee_impl.go
  kernel/fde/optee/optee_stubs.go
  kernel/fde/optee/opteetest/opteetest.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/handlers_install.go
  overlord/fdestate/backend/reseal.go
  overlord/fdestate/backend/seal.go
  overlord/fdestate/backend/seal_test.go
  overlord/install/export_test.go
  overlord/install/install.go
  overlord/install/install_test.go
  packaging/snapd.mk
  packaging/ubuntu-16.04/rules
  secboot/export_sb_test.go
  secboot/secboot_dummy.go
  secboot/secboot_hooks.go
  secboot/secboot_sb.go
  secboot/secboot_sb_test.go
  spread.yaml
  tests/lib/assertions/nested-24-arm64-fde-setup-hook.json
  tests/lib/assertions/nested-24-arm64-optee.json
  tests/lib/core-initrd.sh
  tests/lib/image.sh
  tests/lib/nested.sh
  tests/nested/manual/optee-fde/task.yaml
  tests/unit/go/task.yaml
Labels: cross-distro, Auto rerun spread

#15805 o/install, daemon: rename CheckHybridPluckyRelease to CheckHybridQuestingRelease
  daemon/api_system_recovery_keys.go
  overlord/install/install.go
Labels: Simple 😃, Skip spread, Needs Documentation -auto-

#15800 osutil/vfs/tests: expand bind-semantics test for better clarity and visibilty
  osutil/vfs/tests/bind-semantics/task.yaml
Labels: Skip spread

#15807 image-garden: include optional local overrides file
  .image-garden.mk
Labels: Simple 😃, Skip spread

#15823 t/m/snap-user-service: varying number of services between core and classic
  tests/main/snap-user-service/task.yaml
Labels: Simple 😃

#15755 c/assemblestate: add DeviceQueryTracker implementation
  cluster/assemblestate/devices.go
  cluster/assemblestate/devices_test.go
Labels: Auto rerun spread

#15827 tests/nested/manual: removed unused env var NESTED_ENABLE_OVMF
  tests/nested/manual/build-with-kernel-modules-components/task.yaml
  tests/nested/manual/core20-fault-inject-on-install-component/task.yaml
  tests/nested/manual/core20-fault-inject-on-update-config/task.yaml
  tests/nested/manual/hybrid-fde-dbx/task.yaml
  tests/nested/manual/hybrid-fde-recovery-keys/task.yaml
  tests/nested/manual/hybrid-remodel/task.yaml
  tests/nested/manual/kernel-modules-components/task.yaml
  tests/nested/manual/muinstaller-core/task.yaml
  tests/nested/manual/muinstaller-oldbasenewkernel/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
  tests/nested/manual/muinstaller/task.yaml
  tests/nested/manual/passphrase-support-on-hybrid/task.yaml
  tests/nested/manual/split-refresh/task.yaml
  tests/nested/manual/uc20-fde-hooks-ice/task.yaml
  tests/nested/manual/uc20-fde-hooks-v1/task.yaml
  tests/nested/manual/uc20-fde-hooks/task.yaml
Labels: Simple 😃, Run nested

#15756 secboot: add helper for adding new TPM protected keys
  secboot/secboot.go
  secboot/secboot_dummy.go
  secboot/secboot_sb_test.go
  secboot/secboot_tpm.go
Labels: cross-distro, FDE spike

#15675 cmd/snap: improve progress reporting when installing and refreshing snaps
  cmd/snap/cmd_snap_op_test.go
  cmd/snap/wait.go
Labels: Needs Documentation -auto-

#15836 github: add automatic label removal and relevant job rerun
  .github/workflows/ready-for-review-checker.yaml
Labels: Skip spread

#15830 tests: run amazon-linux and arch-linux in openstack
  .github/workflows/data-non-fundamental-systems.json
  spread.yaml
  tests/lib/pkgdb.sh
  tests/lib/prepare.sh
  tests/main/cloud-init/task.yaml
  tests/main/snap-quota-memory/task.yaml
Labels: cross-distro

#15853 github/workflows/unit-tests-cross-distro: do not auto install tools
  .github/workflows/unit-tests-cross-distro.yaml
Labels: Simple 😃, Skip spread

#15859 interfaces/kmod: fix comment to mention kmod rather than mount
  interfaces/kmod/spec.go
Labels: Simple 😃, Skip spread

#15825 tests/nested/manual/muinstaller*: clean more files and resources
  tests/nested/manual/muinstaller-core/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
  tests/nested/manual/muinstaller/create-disk.sh
  tests/nested/manual/muinstaller/task.yaml
Labels: Run nested

#15847 i/systemd: move WantedBy option to [Install] section
  interfaces/systemd/service.go
  interfaces/systemd/service_test.go
Labels: Auto rerun spread

#15867 packaging/debian-sid: depend on libcap2-bin for postinst
  packaging/debian-sid/control
Labels: Skip spread

#15869 packaging/ubuntu-16.04/source/options: ignore .image-garden content
  packaging/ubuntu-16.04/source/options
Labels: Simple 😃, Skip spread

#15874 tests/main/snap-user-service: skip more systems
  tests/main/snap-user-service/task.yaml
Labels: Simple 😃

#15863 interfaces/prompting: handle unsupported xattrs
  interfaces/prompting/requestrules/requestrules_test.go
Labels: Skip spread

#15777 snap: added 'Grade' field to types.go, info.go, and info_snap_yaml.go
  snap/info.go
  snap/info_snap_yaml.go
  snap/info_snap_yaml_test.go
  snap/types.go
  store/details_v2_test.go
Labels: Auto rerun spread

#15775 core-initrd: do not use writable-paths when not available
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  core-initrd/latest/factory/usr/lib/systemd/system/core-ensure-kernel-in-sysroot.service
  core-initrd/latest/factory/usr/lib/systemd/system/initrd-core-system-defaults.service
  core-initrd/latest/factory/usr/lib/systemd/system/initrd-core-tmpfiles-setup.service
  core-initrd/latest/factory/usr/lib/systemd/system/initrd-parse-etc.service.wants/core-ensure-kernel-in-sysroot.service
  core-initrd/latest/factory/usr/lib/systemd/system/initrd-root-fs.target.wants/initrd-core-system-defaults.service
  core-initrd/latest/factory/usr/lib/systemd/system/initrd-root-fs.target.wants/initrd-core-tmpfiles-setup.service
  core-initrd/latest/factory/usr/lib/systemd/system/populate-writable.service
  core-initrd/latest/factory/usr/lib/systemd/system/sysroot-run-mnt-kernel.mount
  core-initrd/latest/factory/usr/lib/systemd/system/sysroot-run.mount
  core-initrd/latest/factory/usr/lib/systemd/system/sysroot-writable.mount
Labels: Run nested

#15848 i/builtin: fix gpio-aggregator module not being loaded in the right order
  interfaces/builtin/gpio_chardev.go
  interfaces/builtin/gpio_chardev_test.go
Labels: cross-distro, Auto rerun spread

#15881 i/builtin: remove stale apparmor rules placeholder SNAP_DESKTOP_FILE_RULES
  interfaces/builtin/unity7.go
Labels: Simple 😃, Auto rerun spread

#15870 cmd/snap: do not expose Kerberos tickets for classic snaps
  cmd/snap/cmd_run.go
Labels: Needs Documentation -auto-

#14722 tests: small improvements to mounts persist refresh content
  tests/main/mounts-persist-refresh-content-snap/task.yaml
  tests/main/mounts-persist-refresh-content-snap/test-snapd-desktop-layout-with-content/bin/crash-foo-font
Labels: Simple 😃, Test Robustness
