Repository canonical/snapd, pull requests merged in 2025-03, with the labels that each got.

#15157 packaging/ubuntu-16.04: fix ifneq in debian/rules
  packaging/ubuntu-16.04/rules
Labels: Simple 😃

#15156 release: 2.68.2 changelogs
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#15159 tests: remove fedora from fundamental systems
  .github/workflows/fundamental-systems.json
  .github/workflows/non-fundamental-systems.json
Labels: Simple 😃, Skip spread

#15165 debian/rules: change permissions of /var/lib/snapd/void
  packaging/ubuntu-16.04/rules
Labels: Simple 😃

#15160 spread, arch: workaround for dropped community repository
  spread.yaml
Labels: Simple 😃

#15110 o/confdbstate: add helper to schedule load confdb hook/tasks
  overlord/confdbstate/confdbmgr.go
  overlord/confdbstate/confdbmgr_test.go
  overlord/confdbstate/confdbstate.go
  overlord/confdbstate/confdbstate_test.go
  overlord/confdbstate/export_test.go
  overlord/hookstate/ctlcmd/fail_test.go
  snap/hooktypes.go
Labels: Needs Documentation -auto-, confdb

#15131 many: move notify.SysPath to apparmor.NotifySocketPath
  overlord/configstate/configcore/prompting_test.go
  sandbox/apparmor/apparmor.go
  sandbox/apparmor/apparmor_test.go
  sandbox/apparmor/export_test.go
  sandbox/apparmor/notify/listener/export_test.go
  sandbox/apparmor/notify/listener/listener.go
  sandbox/apparmor/notify/listener/listener_test.go
  sandbox/apparmor/notify/notify.go
  sandbox/apparmor/notify/notify_test.go
  sandbox/apparmor/notify/version.go
Labels: Needs Documentation -auto-

#15140 many: fix swapping back and forth between kernels with components during remodeling
  overlord/devicestate/devicestate_remodel_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  tests/lib/assertions/test-snapd-remodel-to-installed-kernel-24.json
  tests/lib/assertions/test-snapd-remodel-to-installed-kernel-rev-1-24.json
  tests/lib/assertions/test-snapd-remodel-to-installed-kernel-rev-2-24.json
  tests/lib/assertions/test-snapd-remodel-to-installed-kernel-rev-3-24.json
  tests/lib/tools/build_kernel_with_comps.sh
  tests/nested/manual/remodel-to-installed-kernel/task.yaml
Labels: Run nested

#15175 tests: if PR has cross-distro label, run all systems in parallel
  .github/workflows/test.yaml
Labels: Simple 😃, Skip spread

#15166 many: rename confdb assertion to confdb-schema
  asserts/asserts.go
  asserts/asserts_test.go
  asserts/confdb.go
  asserts/confdb_test.go
  asserts/snapasserts/snapasserts.go
  cmd/snap/cmd_get.go
  cmd/snap/cmd_get_test.go
  cmd/snap/cmd_set_test.go
  cmd/snap/cmd_unset_test.go
  confdb/confdb.go
  confdb/confdb_test.go
  confdb/schema.go
  confdb/schema_test.go
  daemon/api.go
  daemon/api_confdb.go
  daemon/api_confdb_test.go
  daemon/export_test.go
  features/features.go
  features/features_test.go
  interfaces/builtin/confdb.go
  overlord/assertstate/assertmgr.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
  overlord/assertstate/bulk.go
  overlord/confdbstate/confdbmgr.go
  overlord/confdbstate/confdbstate.go
  overlord/confdbstate/confdbstate_test.go
  overlord/confdbstate/export_test.go
  overlord/confdbstate/transaction.go
  overlord/confdbstate/transaction_test.go
  overlord/hookstate/ctlcmd/fail_test.go
  overlord/hookstate/ctlcmd/get.go
  overlord/hookstate/ctlcmd/get_test.go
  overlord/hookstate/ctlcmd/set.go
  overlord/snapstate/autorefresh_test.go
  overlord/snapstate/snapmgr.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/target.go
  snap/info.go
  snap/info_test.go
  tests/lib/assertions/developer1-network-confdb.json
  tests/lib/assertions/developer1-network.confdb
  tests/main/confdb-cross-config/task.yaml
  tests/main/confdb/task.yaml
  tests/main/document-interfaces-url/task.yaml
Labels: Skip spread, Needs Documentation -auto-, confdb

#14867 tests: add spread tests for passphrase support
  tests/lib/assertions/developer1-2504-classic-dangerous.json
  tests/lib/nested.sh
  tests/lib/tools/setup_nested_hybrid_system.sh
  tests/lib/tools/tests.nested
  tests/nested/manual/muinstaller-core/task.yaml
  tests/nested/manual/muinstaller-real/task.yaml
  tests/nested/manual/passphrase-support-on-hybrid/task.yaml
Labels: Run nested

#15182 o/i/apparmorprompting: correct comment about setting snap name for prompt
  overlord/ifacestate/apparmorprompting/prompting.go
Labels: Simple 😃, Skip spread

#15144 cmd/snap-discard-ns: assert process capabilities
  cmd/Makefile.am
  cmd/snap-discard-ns/snap-discard-ns.c
Labels: Simple 😃

#15176 tests/lib/prepare-restore: use /etc/sudoers.d where possible
  tests/lib/prepare-restore.sh
Labels: Simple 😃

#15179 tests: fix not running nested-ubuntu-22.04
  .github/workflows/nested-systems.json
Labels: Simple 😃, Skip spread

#15079 snap-failure: run snapd with the correct keyring mode
  cmd/snap-failure/cmd_snapd.go
  cmd/snap-failure/cmd_snapd_test.go
Labels: Run nested

#15030 dirs, many: auto detect snap mount dirs
  cmd/snap/cmd_debug_paths.go
  cmd/snap/cmd_debug_paths_test.go
  daemon/api_general_test.go
  dirs/dirs.go
  dirs/dirs_test.go
  dirs/dirstest/mocks.go
  overlord/devicestate/firstboot_test.go
  overlord/managers_test.go
  overlord/overlord_test.go
  overlord/servicestate/servicemgr_test.go
  overlord/snapstate/readme_test.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  snapdtool/cmdutil_test.go
  syscheck/dirs.go
  syscheck/dirs_test.go
  syscheck/export_test.go
  tests/main/core18-configure-hook/task.yaml
  tests/main/mount-dir-detect-check/task.yaml
  tests/main/snapd-snap-removal/task.yaml
  wrappers/internal/service_unit_gen.go
  wrappers/internal/service_unit_gen_test.go
  wrappers/services_test.go
Labels: Needs Documentation -auto-

#15192 tests/main/interfaces-system-dbus: ensure snaps are fully removed in restore
  tests/main/interfaces-system-dbus/task.yaml
Labels: Simple 😃

#15102 tests: ensure spread tests have lsof preinstalled
  tests/lib/pkgdb.sh
  tests/main/apparmor-prompting-integration-tests/task.yaml
Labels: Simple 😃, Test Robustness

#15163 docs: add security how-to
  SECURITY.md
Labels: Skip spread, Needs security review

#15193 release: 2.68.3 changelogs
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#15108 overlord/fdestate: re-factor listing of the disks
  overlord/fdestate/backend/reseal.go
  overlord/fdestate/backend/reseal_test.go
  overlord/fdestate/dbx_test.go
  overlord/fdestate/export_test.go
  overlord/fdestate/fdemgr.go
  overlord/fdestate/fdemgr_test.go
  overlord/fdestate/fdestate.go
  overlord/managers_test.go
Labels: Run nested

#15190 o/confdbstate: add helper for snapctl confdb load
  overlord/confdbstate/confdbmgr.go
  overlord/confdbstate/confdbmgr_test.go
  overlord/confdbstate/confdbstate.go
  overlord/confdbstate/confdbstate_test.go
  overlord/confdbstate/export_test.go
  overlord/hookstate/ctlcmd/export_test.go
  overlord/hookstate/ctlcmd/fail.go
  overlord/hookstate/ctlcmd/get.go
  overlord/hookstate/ctlcmd/get_test.go
Labels: Needs Documentation -auto-, confdb

#15092 tests: new utility to filter state lock files
  tests/utils/state_locks_filter.py
  tests/utils/tests_state_locks_filter.py
Labels: Needs Samuele review, Skip spread

#15196 interfaces/builtin/hostname_control.go: fix call to hostnamectl in core24
  interfaces/builtin/hostname_control.go
Labels: Needs security review

#15194 interfaces/builtin/log_observe.go: add missing udev rule
  interfaces/builtin/log_observe.go
  interfaces/builtin/log_observe_test.go
Labels: Simple 😃, Needs security review

#15200 tests/lib/tools/simpleget: fix progress reporting
  tests/lib/tools/simpleget
Labels: Simple 😃

#15197 spread, tests: add variant of cross distro test suite with reexec
  spread.yaml
  tests/cross-distro-reexec/main-known
  tests/cross-distro-reexec/main-searching
  tests/cross-distro-reexec/main-snap-env
  tests/cross-distro-reexec/main-snap-run
  tests/cross-distro-reexec/main-snap-services
  tests/cross-distro-reexec/main-try
  tests/cross-distro-reexec/smoke-find-info
  tests/cross-distro-reexec/smoke-install
  tests/cross-distro-reexec/smoke-remove
  tests/cross-distro-reexec/smoke-sandbox
  tests/cross-distro-reexec/smoke-versioning
Labels: cross-distro

#15205 secboot/secboot_hooks.go: remove an implemented TODO
  secboot/secboot_hooks.go
Labels: Skip spread

#15207 sandbox/apparmor: use correct host libexec dir rather than a hardcoded one
  sandbox/apparmor/apparmor.go
  sandbox/apparmor/apparmor_test.go
Labels: Simple 😃

#15210 packaging/ubuntu-16.04: install systemd-dev if pkg-config udev not satisfied
  packaging/ubuntu-16.04/control
Labels: Simple 😃

#15181 interfaces/opengl: Fix GLX on NVIDIA when Xorg is confined by AppArmor
  interfaces/builtin/opengl.go
Labels: Needs security review

#15206 dirs, snapdtool: support reexec when using /usr/libexec/snapd on the host
  dirs/dirs.go
  snapdtool/tool_linux.go
  snapdtool/tool_test.go
Labels: cross-distro

#15170 tests: skip snapd snap builds when skip spread label is applied to PR
  .github/workflows/snap-builds.yaml
  .github/workflows/spread-tests.yaml
Labels: Skip spread

#15218 many: rename view-changed confdb hook to observe-view
  overlord/confdbstate/confdbmgr.go
  overlord/confdbstate/confdbstate.go
  overlord/confdbstate/confdbstate_test.go
  snap/hooktypes.go
  tests/main/confdb-cross-config/task.yaml
  tests/main/confdb-cross-config/test-custodian-snap/meta/hooks/observe-view-manage-wifi
  tests/main/confdb-cross-config/test-snap/meta/hooks/observe-view-setup-wifi
  tests/main/confdb/task.yaml
  tests/main/confdb/test-custodian-snap/meta/hooks/observe-view-manage-wifi
Labels: confdb

#15201 spread: enable cross distro reexec test suite on openSUSE
  spread.yaml
  tests/lib/pkgdb.sh
Labels: Skip spread, cross-distro

#15209 many: make API confdb reads load ephemeral data
  client/confdb.go
  client/confdb_test.go
  cmd/snap/cmd_get.go
  cmd/snap/cmd_get_test.go
  cmd/snap/cmd_set.go
  cmd/snap/cmd_set_test.go
  cmd/snap/cmd_unset_test.go
  cmd/snap/cmd_watch.go
  cmd/snap/wait.go
  confdb/confdb.go
  confdb/confdb_test.go
  daemon/api.go
  daemon/api_confdb.go
  daemon/api_confdb_test.go
  daemon/export_test.go
  overlord/confdbstate/confdbmgr.go
  overlord/confdbstate/confdbstate.go
  overlord/confdbstate/confdbstate_test.go
  overlord/hookstate/ctlcmd/get_test.go
  overlord/hookstate/ctlcmd/set.go
  overlord/hookstate/ctlcmd/unset_test.go
  tests/main/confdb/task.yaml
Labels: Needs Documentation -auto-, confdb

#15189 github: move latest go to separate non-required jobs
  .github/workflows/test.yaml
Labels: Skip spread

#15060 o/devicestate: allow remodeling back to an old snap revision that includes components
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/snapstatetest/snapstate.go
  snap/snaptest/snaptest.go
Labels: Run nested

#15115 i/builtin: extend polkit interface to support custom polkit rules
  interfaces/builtin/export_test.go
  interfaces/builtin/polkit.go
  interfaces/builtin/polkit_test.go
  tests/main/interfaces-polkit/task.yaml
  tests/main/interfaces-polkit/test-snapd-pk-service/meta/polkit/polkit-action.foo.policy
  tests/main/interfaces-polkit/test-snapd-pk-service/meta/polkit/polkit-rule.bar.rules
  tests/main/interfaces-polkit/test-snapd-pk-service/meta/snap.yaml
Labels: Needs security review

#15208 overlord/snapstate: speed up some slow tests
  overlord/snapstate/handlers_components_mount_test.go
  overlord/snapstate/snapstate_update_test.go
Labels: Skip spread

#15232 tests: fix overeager chmod -x in restore
  tests/main/snap-user-service-socket-activation/task.yaml
Labels: Simple 😃, Test Robustness, Skip spread

#15229 tests: make simpleget tool quiet by default
  tests/lib/tools/simpleget
Labels: Simple 😃

#15244 tests: revert account for snapd/kernel incompatibilty warning in prepare-image
  tests/main/prepare-image-classic/task.yaml
Labels: Simple 😃, Test Robustness

#15172 i/builtin: add gpio-chardev interface
  interfaces/builtin/gpio_chardev.go
  interfaces/builtin/gpio_chardev_test.go
  interfaces/policy/basedeclaration_test.go
  interfaces/systemd/service.go
  interfaces/systemd/service_test.go
  strutil/range.go
  strutil/range_test.go
  tests/lib/snaps/test-snapd-policy-app-consumer/meta/snap.yaml
  tests/main/document-interfaces-url/task.yaml
Labels: Needs Samuele review, Needs security review

#15178 s/a/notify: simplify the listener
  overlord/ifacestate/apparmorprompting/export_test.go
  overlord/ifacestate/apparmorprompting/prompting.go
  sandbox/apparmor/notify/ioctl.go
  sandbox/apparmor/notify/listener/export_test.go
  sandbox/apparmor/notify/listener/listener.go
  sandbox/apparmor/notify/listener/listener_test.go
  sandbox/apparmor/notify/message.go
  sandbox/apparmor/notify/message_test.go
Labels: Squash-merge

#15203 tests: fixes in after beta validation 2.68.3
  tests/main/aux-info/task.yaml
  tests/main/interfaces-posix-mq/task.yaml
Labels: Simple 😃

#15250 tests: fix preseed-lxd by waiting for snapd initialization first
  tests/main/preseed-lxd/task.yaml
Labels: Simple 😃, Test Robustness

#15238 tests: remove workaround for snap-ns-foward-compat
  tests/main/snap-ns-forward-compat/task.yaml
Labels: Simple 😃

#15126 run-checks, cmd: multiple run-check improvements
  .github/workflows/static-checks.yaml
  .github/workflows/unit-tests-cross-distro.yaml
  cmd/Makefile.am
  packaging/arch/PKGBUILD
  run-checks
  tests/unit/go/task.yaml
Labels: Squash-merge

#15213 cmd: drop explicit check for udev pkg-config module, update build dependencies
  cmd/configure.ac
  packaging/debian-sid/control
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/control
  packaging/ubuntu-16.04/control
Labels: Simple 😃

#15258 s/a/notify: properly set protocol version in ioctl request buffer
  sandbox/apparmor/notify/ioctl.go
  sandbox/apparmor/notify/ioctl_test.go
  sandbox/apparmor/notify/listener/listener.go
  sandbox/apparmor/notify/listener/listener_test.go
Labels: Simple 😃

#15245 tests: test ephemeral data loading
  tests/lib/assertions/developer1-network-ephemeral-confdb.json
  tests/lib/assertions/network-ephemeral.confdb
  tests/main/confdb-cross-config/eph-schema.json
  tests/main/confdb-cross-config/loading-custodian/bin/sh
  tests/main/confdb-cross-config/loading-custodian/meta/hooks/change-view-manage-wifi
  tests/main/confdb-cross-config/loading-custodian/meta/hooks/load-view-manage-wifi
  tests/main/confdb-cross-config/loading-custodian/meta/hooks/query-view-manage-wifi
  tests/main/confdb-cross-config/loading-custodian/meta/hooks/save-view-manage-wifi
  tests/main/confdb-cross-config/loading-custodian/meta/snap.yaml
  tests/main/confdb-cross-config/task.yaml
Labels: Skip spread, confdb

#15253 client: relax timeout err check
  client/client_test.go
Labels: Simple 😃, Test Robustness, Skip spread

#14795 snapdtool: update command line when re-executing
  snapdtool/tool_linux.go
  snapdtool/tool_test.go
Labels: Simple 😃

#15246 interfaces/builtin/scsi_generic: enable plug declaration
  interfaces/builtin/scsi_generic.go
  interfaces/policy/basedeclaration_test.go
Labels: Needs Samuele review
