Repository canonical/snapd, pull requests merged in 2025-01, with the labels that each got.

#14849 tests/lib/muinstaller: add passphrase authentication support
  tests/lib/muinstaller/go.mod
  tests/lib/muinstaller/go.sum
  tests/lib/muinstaller/main.go
Labels: Run nested, FDE Manager

#14882 t/l/f/store: make the fake store aware of components
  daemon/api_sideload_n_try_test.go
  snap/snaptest/snaptest.go
  tests/lib/fakestore/cmd/fakestore/cmd_new_snap_decl.go
  tests/lib/fakestore/cmd/fakestore/cmd_new_snap_resource_pair.go
  tests/lib/fakestore/cmd/fakestore/cmd_new_snap_resource_revision.go
  tests/lib/fakestore/cmd/fakestore/cmd_new_snap_rev.go
  tests/lib/fakestore/refresh/snap_asserts.go
  tests/lib/fakestore/store/store.go
  tests/lib/fakestore/store/store_test.go
  tests/lib/tools/store-state
Labels: Run nested, Needs Documentation -auto-

#14891 s/seedwriter: allow using snaps and components with improper file extensions with IgnoreOptionFileExtentions flag
  daemon/api_sideload_n_try.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/systems.go
  seed/seedwriter/writer.go
  seed/seedwriter/writer_test.go
Labels: Needs Documentation -auto-

#14635 i/p/requestrules,o/i/apparmorprompting: move request matching logic into requestrules
  interfaces/prompting/requestrules/export_test.go
  interfaces/prompting/requestrules/requestrules.go
  interfaces/prompting/requestrules/requestrules_test.go
  overlord/ifacestate/apparmorprompting/prompting.go
Labels: Needs Samuele review

#14900 tests: fix typo: snapd vs snap
  tests/lib/prepare.sh
Labels: Simple 😃, Skip spread

#14792 osutil/user: look up getent executable in known host directories
  osutil/group.go
  osutil/group_test.go
  osutil/user.go
  osutil/user/export_test.go
  osutil/user/getent.go
  osutil/user/getent_test.go
  osutil/user_test.go
Labels: Needs Samuele review

#14854 tests/main/upgrade-from-release: workaround for older snapd deb version
  tests/main/upgrade-from-release/task.yaml
Labels: Simple 😃

#14843 o/c/configcore,o/ifacestate: check for presence of handler-service on startup
  overlord/configstate/configcore/prompting.go
  overlord/ifacestate/export_test.go
  overlord/ifacestate/ifacemgr.go
  overlord/ifacestate/ifacestate.go
  overlord/ifacestate/ifacestate_test.go
Labels: Squash-merge, Needs Samuele review, Needs Documentation -auto-

#14902 interfaces/seccomp: added new at-variant syscalls to base template
  interfaces/seccomp/template.go
Labels: Needs security review

#14889 tests: change main rule so that changes in nested tests won't run main
  tests/lib/spread/rules/main.yaml
Labels: Simple 😃

#14723 o/devicestate,asserts: sign confdb-control assertions with the device key
  asserts/account_key.go
  asserts/asserts.go
  asserts/confdb.go
  asserts/confdb_test.go
  asserts/database.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_test.go
Labels: Needs Samuele review

#14905 tests: remove NTP service on Xenial
  tests/lib/prepare-restore.sh
Labels: Test Robustness

#14907 daemon: fetch validation sets before checking refresh candidates
  daemon/api.go
  daemon/api_find.go
  daemon/api_find_test.go
  daemon/export_test.go
  overlord/assertstate/assertstate.go
  overlord/assertstate/assertstate_test.go
Labels: Needs Documentation -auto-

#14811 i/builtin: add auditd-support interface
  interfaces/builtin/auditd_support.go
  interfaces/builtin/auditd_support_test.go
  interfaces/policy/basedeclaration_test.go
  run-checks
  tests/lib/snaps/store/test-snapd-auditd-support/adjust-oom-score
  tests/lib/snaps/store/test-snapd-auditd-support/audit-rate
  tests/lib/snaps/store/test-snapd-auditd-support/read-ids
  tests/lib/snaps/store/test-snapd-auditd-support/snap/snapcraft.yaml
  tests/lib/snaps/store/test-snapd-auditd-support/write-auditd-pid-state
  tests/main/interfaces-auditd-support/task.yaml
Labels: Squash-merge

#14898 o/devicestate: refactor remodeling code to use new snapstate API
  daemon/api_model.go
  daemon/api_model_test.go
  daemon/api_sideload_n_try.go
  daemon/api_sideload_n_try_test.go
  daemon/export_api_model_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_remodel_test.go
  overlord/devicestate/export_test.go
  overlord/devicestate/firstboot.go
  overlord/devicestate/handlers_remodel.go
  overlord/devicestate/handlers_test.go
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_update_test.go
  overlord/snapstate/target.go
  overlord/snapstate/target_test.go
Labels: Run nested, Needs Documentation -auto-

#14919 tests: skip apparmor-prompting-integration-tests in armhf
  tests/main/apparmor-prompting-integration-tests/task.yaml
Labels: Simple 😃

#14931 tests: fix missing spread failures in PR comments
  .github/workflows/spread-results-reporter.yaml
Labels: Skip spread

#14917 o/snapstate: do not restart again for snapd along the undo path inside undoUnlinkCurrentSnap
  overlord/snapstate/handlers.go
  overlord/snapstate/handlers_link_test.go
Labels: Run nested

#14936 Release: 2.67.1 changelogs
  NEWS.md
  packaging/arch/PKGBUILD
  packaging/debian-sid/changelog
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.changes
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/changelog
  packaging/ubuntu-16.04/changelog
Labels: Simple 😃, Skip spread

#14817 tests/nested/manual/hybrid-remodel: use fakestore
  tests/lib/assertions/developer1-22-classic-dangerous-rev1.json
  tests/lib/assertions/developer1-24-classic-dangerous-rev1.json
  tests/lib/tools/setup_nested_hybrid_system.sh
  tests/nested/manual/hybrid-remodel/prepare-device
  tests/nested/manual/hybrid-remodel/prepare-rootfs.sh
  tests/nested/manual/hybrid-remodel/task.yaml
Labels: Run nested, Run Nested -auto-, FDE Manager

#14785 tests: divide spread into fundamental/non-fundamental
  .github/workflows/spread-tests.yaml
  .github/workflows/test.yaml
Labels: Run nested

#14948 tests: use quotation marks to support directories with spaces
  .github/workflows/spread-results-reporter.yaml
Labels: Simple 😃, Skip spread

#14937 secboot: fix building of primary digest
  secboot/secboot_sb.go
Labels: Run nested, FDE Manager

#14949 overlord/devicestate/devicestate_install_mode_test.go: fix formatting
  overlord/devicestate/devicestate_install_mode_test.go
Labels: Simple 😃, Skip spread, FDE Manager

#14940 i/builtin: make auditd-support grant seccomp setpriority
  interfaces/builtin/auditd_support.go
  interfaces/builtin/auditd_support_test.go
Labels: Simple 😃

#14953 tests/lib/fakestore: cache analyzing of snaps
  tests/lib/fakestore/store/store.go
Labels: Run nested, FDE Manager

#14955 tests: add remodeling test using fakestore
  tests/nested/manual/remodel-uc-to-next-version-fakestore/prepare-device
  tests/nested/manual/remodel-uc-to-next-version-fakestore/repack-kernel.sh
  tests/nested/manual/remodel-uc-to-next-version-fakestore/task.yaml
Labels: Run nested, FDE Manager

#14956 tests: remove check for bootx64.efi in boot in uc-update-assets-secure-add-sbat
  tests/nested/manual/uc-update-assets-secure-add-sbat/task.yaml
Labels: Run nested, FDE Manager

#14935 overlord: cleanup some old edges
  overlord/managers_test.go
  overlord/snapstate/snapstate.go
Labels: Skip spread

#14964 data, packaging: separate check and implicit build makefile targets
  data/Makefile
  data/systemd/Makefile
  packaging/arch/PKGBUILD
  packaging/fedora/snapd.spec
  packaging/opensuse/snapd.spec
  packaging/ubuntu-14.04/rules
  packaging/ubuntu-16.04/rules
Labels: Simple 😃

#14972 t/n/m/core20-new-snapd-does-not-break-old-initrd: remove new-snapd/old-kernel case
  tests/nested/manual/core20-new-snapd-does-not-break-old-initrd/task.yaml
Labels: Run nested

#14977 secboot: look for unlock key in kernel keyring first
  secboot/encrypt_sb.go
  secboot/encrypt_sb_test.go
Labels: Run nested, FDE Manager

#14874 overlord/state, tests: measure state lock
  .github/workflows/test.yaml
  build-aux/snap/snapcraft.yaml
  osutil/flock.go
  osutil/flock_test.go
  overlord/state/locktrace.go
  overlord/state/locktrace_fake.go
  overlord/state/state.go
  packaging/ubuntu-16.04/rules
  spread.yaml
  tests/lib/prepare-restore.sh
  tests/lib/prepare.sh
  tests/main/snapd-state-lock/task.yaml
Labels: Needs Samuele review

#14957 t/n/m/core20-new-snapd-does-not-break-old-initrd: remove new-snapd/old-kernel case
  tests/nested/manual/core20-new-snapd-does-not-break-old-initrd/task.yaml
Labels: Run nested, FDE Manager

#14968 overlord/fdestate: make primary keys in keyring optional
  overlord/fdestate/fdestate.go
Labels: Run nested, FDE Manager

#14914 s/a/notify: add proper version handling to the notification protocol
  sandbox/apparmor/notify/export_test.go
  sandbox/apparmor/notify/ioctl.go
  sandbox/apparmor/notify/listener/export_test.go
  sandbox/apparmor/notify/listener/listener.go
  sandbox/apparmor/notify/listener/listener_test.go
  sandbox/apparmor/notify/message.go
  sandbox/apparmor/notify/message_test.go
  sandbox/apparmor/notify/notify.go
  sandbox/apparmor/notify/notify_test.go
  sandbox/apparmor/notify/version.go
  sandbox/apparmor/notify/version_test.go
Labels: Squash-merge, Needs Samuele review

#14974 daemon,i/prompting: replace PermissionsListEmptyError with PermissionsEmptyError
  daemon/api_prompting_test.go
  interfaces/prompting/constraints.go
  interfaces/prompting/constraints_test.go
  interfaces/prompting/errors/errors.go
Labels: Simple 😃, Needs Documentation -auto-

#14981 cmd/snap: fix formatting in packCmd struct
  cmd/snap/cmd_pack.go
Labels: Simple 😃, Skip spread

#14975 i/prompting: do not error when converting empty abstract perms to AA perms
  interfaces/prompting/constraints.go
  interfaces/prompting/constraints_test.go
Labels: Simple 😃

#14986 tests: skip confdb-cross-config on debian11
  tests/main/confdb-cross-config/task.yaml
Labels: Flaky Test

#14934 o/snapstate: put MaybeReboot edges on link-snap in AddLinkNewBaseOrKernel and LinkNewBaseOrKernel
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_test.go
Labels: Run nested

#14927 o/devicestate, daemon: support creating recovery systems with components in offline context
  daemon/api_systems.go
  daemon/api_systems_test.go
  overlord/devicestate/devicestate.go
  overlord/devicestate/devicestate_systems_test.go
  overlord/devicestate/systems.go
  tests/nested/manual/component-recovery-system-offline/task.yaml
Labels: Run nested, Needs Documentation -auto-

#14988 tests: move nested tests to its own job
  .github/workflows/non-fundamental-systems.json
  .github/workflows/test.yaml
Labels: Skip spread

#14982 tests: add tag in grafana log path to indicate if system is required
  .github/workflows/spread-tests.yaml
Labels: Skip spread

#14810 many: make kernel-modules components available on initramfs installation
  cmd/snap-bootstrap/cmd_initramfs_mounts.go
  cmd/snap-bootstrap/cmd_initramfs_mounts_test.go
  kernel/kernel_drivers.go
  kernel/kernel_drivers_test.go
  overlord/devicestate/devicemgr.go
  overlord/devicestate/devicestate_install_api_test.go
  overlord/devicestate/devicestate_install_mode_test.go
  overlord/devicestate/handlers_install.go
  overlord/install/install.go
  overlord/snapstate/snapstate.go
  overlord/snapstate/snapstate_install_test.go
  overlord/snapstate/snapstate_test.go
  seed/seedtest/sample.go
  spread.yaml
  tests/lib/nested.sh
  tests/lib/prepare.sh
  tests/nested/manual/uc20-install-in-initrd/task.yaml
Labels: Run nested

#14932 tests: fix some spelling in remote.wait-for
  tests/lib/external/snapd-testing-tools/remote/remote.wait-for
Labels: Simple 😃

#14973 client, daemon, i/prompting: return error if patch results in no permissions
  client/errors.go
  daemon/api_prompting.go
  daemon/api_prompting_test.go
  interfaces/prompting/constraints.go
  interfaces/prompting/constraints_test.go
  interfaces/prompting/errors/errors.go
Labels: Needs Samuele review, Needs Documentation -auto-

#14991 cmd/snap-confine: fix memory leak in unit test
  cmd/libsnap-confine-private/locking-test.c
Labels: Simple 😃, Skip spread

#14997 tests/main/document-interfaces-url: exclude missing checkbox-support
  tests/main/document-interfaces-url/task.yaml
Labels: Simple 😃

#14980 tests: fix snapd-refresh-undo test for beta validation
  tests/core/snapd-refresh-undo/task.yaml
Labels: Simple 😃

#14995 tests/main/interfaces-mount-control-nfs: tweak wording and drop unnecessary local snap
  tests/main/interfaces-mount-control-nfs/task.yaml
  tests/main/interfaces-mount-control-nfs/test-snapd-sh/bin/sh
  tests/main/interfaces-mount-control-nfs/test-snapd-sh/meta/snap.yaml
Labels: Simple 😃

#14989 tests: only upload spread.json if at least one test has failed
  .github/workflows/spread-tests.yaml
Labels: Skip spread

#14994 daemon: rename confdb API to /v2/confdbs/...
  client/confdb.go
  client/confdb_test.go
  cmd/snap/cmd_get_test.go
  cmd/snap/cmd_set_test.go
  daemon/api_confdb.go
  daemon/api_confdb_test.go
Labels: Needs Documentation -auto-, confdb

#14117 many: remove robust-mount-namespace-updates experimental feature
  cmd/snap-update-ns/main_test.go
  features/features.go
  features/features_test.go
  tests/regression/lp-1844496/task.yaml
  tests/regression/lp-1852361/task.yaml
  tests/regression/lp-1867193/task.yaml
  tests/regression/lp-1867752/task.yaml
Labels: Simple 😃

#14999 overlord/fdestate: mock amd64 architecture in unit tests
  overlord/fdestate/fdemgr_test.go
Labels: Simple 😃, FDE Manager

#14798 cmd/snap-seccomp: add 'dump' command
  cmd/snap-seccomp/export_test.go
  cmd/snap-seccomp/main.go
  cmd/snap-seccomp/main_test.go
  tests/main/snap-seccomp/task.yaml
Labels: Needs security review

#14945 tests/nested/core/core20-fault-inject-on-refresh: disable FDE
  tests/nested/core/core20-fault-inject-on-refresh/task.yaml
Labels: Run nested, FDE Manager

#14951 interfaces/builtin, testutil: skip unit test when apparmor_parser is not in PATH
  interfaces/builtin/docker_support_test.go
  testutil/apparmor.go
Labels: Simple 😃
